Repository ArjitJindal/temp-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flagright/engineering, @madhug-nadig, @timrcoulson, @chialunwu, @koluch

Quotas Changes (#1911)
  tarpon/src/services/tenants/index.ts
Owners: @flagright/engineering

#FR-2767: FinCEN: Auto-fill ‘Transaction Details’ (#1878)
  tarpon/src/core/seed/samplers/transaction.ts
  tarpon/src/services/sar/generators/US/SAR/helpers/prepopulating.ts
  tarpon/src/services/sar/generators/US/SAR/index.ts
  tarpon/src/services/sar/generators/US/SAR/resources/EFL_SARXBatchSchema.ts
  tarpon/src/services/sar/generators/US/SAR/resources/EFL_SARXBatchSchema.type.ts
  tarpon/src/services/sar/generators/US/SAR/schema.ts
  tarpon/src/services/sar/generators/US/SAR/scripts/attribute-infos.ts
Owners: @flagright/engineering

Entity linking (#1885)
  phytoplankton-console/package.json
  phytoplankton-console/src/pages/users-item/UserDetails/EntityLinking/AttributePanel/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/EntityLinking/EntityLinkingGraph/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/EntityLinking/UserCard/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/EntityLinking/UserPanel/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/EntityLinking/index.module.less
  phytoplankton-console/src/pages/users-item/UserDetails/EntityLinking/index.tsx
  phytoplankton-console/src/pages/users-item/index.tsx
  phytoplankton-console/src/static/linking/card.png
  phytoplankton-console/src/static/linking/email.png
  phytoplankton-console/src/static/linking/location.png
  phytoplankton-console/src/static/linking/phone.png
  phytoplankton-console/src/static/linking/user.png
  phytoplankton-console/src/utils/queries/keys.ts
  phytoplankton-console/yarn.lock
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/core/seed/data/address.ts
  tarpon/src/core/seed/data/users.ts
  tarpon/src/core/seed/samplers/dictionary.ts
  tarpon/src/core/seed/samplers/transaction.ts
  tarpon/src/core/seed/samplers/users.ts
  tarpon/src/lambdas/console-api-user/app.ts
  tarpon/src/services/linker/__tests__/index.test.ts
  tarpon/src/services/linker/index.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/utils/mongoDBUtils.ts
Owners: @flagright/engineering

Revert "e2e test - business user has a merchant monitoring summary and history" (#1912)
  phytoplankton-console/cypress/e2e/users/user-merchant-monitoring.cy.ts
  phytoplankton-console/src/pages/case-management-item/CaseDetails/AIInsightsCard/index.tsx
Owners: @flagright/engineering

Exponential Backoff In Comply Advantage and IBAN.com (#1892)
  tarpon/package-lock.json
  tarpon/package.json
  tarpon/src/services/iban.com/__tests__/index.test.ts
  tarpon/src/services/iban.com/index.ts
  tarpon/src/services/sanctions/__tests__/index.test.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/test-utils/complyadvantage-test-utils.ts
  tarpon/src/test-utils/ibancom-test-utils.ts
  tarpon/src/utils/api-fetch.ts
Owners: @flagright/engineering

Entity linking fix (#1914)
  tarpon/src/services/linker/__tests__/index.test.ts
  tarpon/src/services/linker/index.ts
Owners: @flagright/engineering

Fix Test 1 for S3 (#1916)
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-console-api-stack.ts
  tarpon/src/lambdas/console-api-file-import/app.ts
Owners: @flagright/engineering

Revert "Revert "e2e test - business user has a merchant monitoring summary and history"" (#1913)
  phytoplankton-console/cypress/e2e/users/user-merchant-monitoring.cy.ts
  phytoplankton-console/src/pages/case-management-item/CaseDetails/AIInsightsCard/index.tsx
Owners: @flagright/engineering

Entity linking fix (#1915)
  phytoplankton-console/src/pages/users-item/UserDetails/EntityLinking/EntityLinkingGraph/index.tsx
  tarpon/src/core/seed/samplers/transaction.ts
  tarpon/src/services/linker/__tests__/index.test.ts
  tarpon/src/services/linker/index.ts
Owners: @flagright/engineering

Fix typo
  phytoplankton-console/src/components/ui/RuleHitInsightsTag/index.tsx
Owners: @flagright/engineering

Api fetch change (#1918)
  tarpon/package-lock.json
  tarpon/package.json
  tarpon/src/utils/api-fetch.ts
Owners: @flagright/engineering

Fix fincen sar attachment upload (#1920)
  phytoplankton-console/src/utils/lang.ts
Owners: @flagright/engineering

Add false positive details to demo data (#1919)
  tarpon/src/core/seed/data/rules.ts
Owners: @flagright/engineering

Only show false positive tag if isFalsePositive is true
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
Owners: @flagright/engineering

Remove case priority in alerts table (#1921)
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
Owners: @flagright/engineering

Remove subtitle
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
Owners: @flagright/engineering

#FR-2809: SAR generator bugs (part 1) (#1906)
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/index.tsx
  phytoplankton-console/src/components/library/Form/GenericFormField/index.tsx
  phytoplankton-console/src/components/library/Form/context.tsx
  phytoplankton-console/src/components/library/Form/utils/hooks.tsx
  phytoplankton-console/src/components/library/Form/utils/validation/types.ts
  phytoplankton-console/src/components/library/Form/utils/validation/utils.ts
  phytoplankton-console/src/components/library/NumberInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/ObjectPropertyInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/style.module.less
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/schema-utils.ts
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/types.ts
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/utils.ts
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/RuleConfigurationForm/index.tsx
Owners: @flagright/engineering

Add entity key value pair for demo seeder (#1922)
  tarpon/src/core/seed/data/transactions.ts
  tarpon/src/core/seed/data/users.ts
  tarpon/src/core/seed/samplers/tag.ts
  tarpon/src/core/seed/samplers/users.ts
Owners: @flagright/engineering

Ai enabled features and Merchant Monitoring Fix (#1924)
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/pages/case-management/components/Copilot/CopilotButtonContent.tsx
  tarpon/src/services/merchant-monitoring/index.ts
Owners: @flagright/engineering

Add entity linking to case management (#1925)
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
Owners: @flagright/engineering

Fix false positive randomness
  tarpon/src/core/seed/data/rules.ts
Owners: @flagright/engineering

Migrate Postman Tests To New Tenant (#1927)
  tarpon/lib/configs/config-dev.ts
Owners: @flagright/engineering

Added Fix in Seeder (#1929)
  tarpon/src/core/seed/mongo.ts
Owners: @flagright/engineering

Transaction and User Tags Standard Rule Filter (#1926)
  tarpon/src/services/rules-engine/filters.ts
  tarpon/src/services/rules-engine/transaction-filters/__tests__/transaction-tags.test.ts
  tarpon/src/services/rules-engine/transaction-filters/transaction-tags.ts
  tarpon/src/services/rules-engine/user-filters/user-tags.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
  tarpon/src/services/rules-engine/utils/rule-utils.ts
Owners: @chialunwu, @madhug-nadig, @flagright/engineering

Seeder Fix for Demo Mode (#1931)
  tarpon/init_local_db/all.ts
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/core/seed/mongo.ts
  tarpon/src/lambdas/api-key-generator/app.ts
  tarpon/src/lambdas/batch-job/demo-mode-data-load-job-runner.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
Owners: @flagright/engineering

Fix Demo Data Seeding (#1934)
  tarpon/init_local_db/all.ts
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/core/seed/mongo.ts
  tarpon/src/lambdas/api-key-generator/app.ts
  tarpon/src/lambdas/batch-job/demo-mode-data-load-job-runner.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
Owners: @flagright/engineering

Various fixes for Carta demo (#1933)
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/CRMCommunicationCard/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/Emails/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/Summary/Highlights/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/Summary/Overview/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/EntityLinking/EntityLinkingGraph/index.tsx
  tarpon/src/core/seed/data/address.ts
  tarpon/src/core/seed/data/transactions.ts
  tarpon/src/core/seed/samplers/dictionary.ts
  tarpon/src/core/seed/samplers/transaction.ts
  tarpon/src/services/linker/index.ts
Owners: @flagright/engineering

Demo: Fix sanction screening Alerts (#1932)
  tarpon/src/core/seed/data/auditlogs.ts
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/core/seed/data/transactions.ts
  tarpon/src/core/seed/data/users.ts
Owners: @flagright/engineering

Payments approval e2e test readded (#1907)
  phytoplankton-console/cypress/e2e/cases/payments-approval-test.cy.ts
Owners: @flagright/engineering

Fix typo
  phytoplankton-console/src/components/ui/RuleHitInsightsTag/index.tsx
Owners: @flagright/engineering

Add CRM to case management (#1937)
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
Owners: @flagright/engineering

Added Tests Fix (#1938)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/scripts/run-integration-tests.ts
Owners: @flagright/engineering

Switching from My Alerts to All Alerts should clear the Assigned To filter (#1935)
  phytoplankton-console/src/pages/case-management/index.tsx
Owners: @flagright/engineering

#FR-2809: SAR generator bugs (part 3) (#1936)
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/ReportStep/index.tsx
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/index.tsx
  phytoplankton-console/src/components/library/ExpandIcon/index.tsx
  phytoplankton-console/src/components/library/ExpandIcon/style.module.less
  phytoplankton-console/src/components/library/Form/index.tsx
  phytoplankton-console/src/components/library/Form/utils/validation/basicValidators.ts
  phytoplankton-console/src/components/library/Form/utils/validation/types.ts
  phytoplankton-console/src/components/library/Form/utils/validation/utils.ts
  phytoplankton-console/src/components/library/Stepper/index.tsx
  phytoplankton-console/src/components/library/Stepper/story.tsx
  phytoplankton-console/src/components/library/Stepper/style.module.less
  phytoplankton-console/src/components/library/VerticalMenu/index.tsx
  phytoplankton-console/src/components/library/VerticalMenu/story.tsx
  phytoplankton-console/src/components/library/VerticalMenu/style.module.less
  phytoplankton-console/src/components/ui/Card/Header.tsx
  phytoplankton-console/src/components/ui/Card/Root.tsx
  phytoplankton-console/src/components/ui/Card/index.module.less
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/ArrayPropertyInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/SimplePropertyInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/custom/fincen/Indicator/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/types.ts
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/utils.ts
  tarpon/src/core/seed/samplers/transaction.ts
  tarpon/src/services/sar/generators/US/SAR/helpers/prepopulating.ts
  tarpon/src/services/sar/generators/US/SAR/index.ts
  tarpon/src/services/sar/generators/US/SAR/resources/EFL_SARXBatchSchema.ts
  tarpon/src/services/sar/generators/US/SAR/resources/EFL_SARXBatchSchema.type.ts
  tarpon/src/services/sar/generators/US/SAR/resources/EFL_SARXBatchSchema.xsd
  tarpon/src/services/sar/generators/US/SAR/schema.ts
  tarpon/src/services/sar/generators/US/SAR/scripts/attribute-infos.ts
  tarpon/src/services/sar/generators/US/SAR/scripts/xml-to-json.ts
Owners: @flagright/engineering

Txn linking (#1917)
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/AttributePanel/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/EntityLinkingGraph/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/UserCard/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/UserGraph/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/UserPanel/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/index.module.less
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/index.tsx
  phytoplankton-console/src/pages/users-item/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/core/seed/data/transactions.ts
  tarpon/src/core/seed/samplers/transaction.ts
  tarpon/src/lambdas/console-api-user/app.ts
  tarpon/src/services/linker/index.ts
  tarpon/src/utils/prng.ts
Owners: @flagright/engineering

Seeder Changes (#1940)
  tarpon/scripts/migrations/post-deployment/2023.08.07T11.48.38.dashboard-stats-change.ts
  tarpon/src/core/seed/data/cases.ts
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/core/seed/samplers/cases.ts
  tarpon/src/core/seed/samplers/transaction.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-stats-repository.ts
Owners: @flagright/engineering

Small Carta demo fixes (#1941)
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/index.module.less
  tarpon/src/core/seed/dynamodb.ts
  tarpon/src/core/seed/samplers/cases.ts
  tarpon/src/core/seed/samplers/dictionary.ts
Owners: @flagright/engineering

Moved Product type to Product Types Rule Filter (#1880)
  tarpon/scripts/migrations/post-deployment/2023.08.01T11.11.28.remove-unused-rule-filter.ts
  tarpon/scripts/migrations/pre-deployment/2023.08.01T11.05.18.move-to-product-types-rule-filter.ts
  tarpon/src/services/rules-engine/filters.ts
  tarpon/src/services/rules-engine/transaction-filters/__tests__/transaction-product-type.test.ts
  tarpon/src/services/rules-engine/transaction-filters/transaction-product-type.ts
  tarpon/src/services/rules-engine/transaction-filters/transaction-product-types.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
Owners: @flagright/engineering, @chialunwu, @madhug-nadig

FinCEN schema fixes (#1939)
  phytoplankton-console/src/components/library/Select/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/consts.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/custom/CurrencyInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/custom/PaymentChannelInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/custom/TransactionAmountRangeInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/index.tsx
  tarpon/.prettierignore
  tarpon/src/services/sar/generators/US/SAR/__tests__/expected-test-output.xml
  tarpon/src/services/sar/generators/US/SAR/__tests__/index.test.ts
  tarpon/src/services/sar/generators/US/SAR/helpers/prepopulating.ts
  tarpon/src/services/sar/generators/US/SAR/index.ts
  tarpon/src/services/sar/generators/US/SAR/resources/EFL_SARXBatchSchema.ts
  tarpon/src/services/sar/generators/US/SAR/schema.ts
  tarpon/src/services/sar/generators/US/SAR/scripts/attribute-infos.ts
  tarpon/src/services/sar/generators/US/SAR/scripts/xml-to-json.ts
Owners: @flagright/engineering

update rule to tx in seeder
  tarpon/src/core/seed/data/rules.ts
Owners: @flagright/engineering

.github/CODEOWNERS:

# By default, one of the engineering team must approve a PR.
*       @flagright/engineering

# RBAC
tarpon/src/core/default-roles.ts  @madhug-nadig @timrcoulson

# Public APIs
tarpon/src/lambdas/public-* @chialunwu @timrcoulson @madhug-nadig

# Rules Engine
tarpon/src/services/rules-engine/* @chialunwu @madhug-nadig

# Core frontend components
phytoplankton-console/src/components/library/* @chialunwu @koluch
