Repository ArjitJindal/temp-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flagright/engineering, @madhug-nadig, @timrcoulson, @chialunwu, @koluch

Fix e2e test
  phytoplankton-console/cypress/e2e/rules/create-and-delete-rule.cy.ts
Owners: @flagright/engineering

Rule aggregation variable definition editor (#2976)
  phytoplankton-console/src/components/library/Alert/index.tsx
  phytoplankton-console/src/components/library/Label/style.module.less
  phytoplankton-console/src/components/library/Tag/index.tsx
  phytoplankton-console/src/components/library/Tag/style.module.less
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/RuleConfigurationForm/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/RuleParametersStep/RuleAggregationVariablesEditor/RuleAggregationVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/RuleParametersStep/RuleAggregationVariablesEditor/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/RuleParametersStep/RuleAggregationVariablesEditor/style.module.less
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/RuleParametersStep/RuleLogicEditorV8/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/RuleParametersStep/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/RuleParametersStep/utils.ts
  phytoplankton-console/src/pages/storybook/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/rules-engine/v8-variables/transaction-country.ts
  tarpon/src/services/rules-engine/v8-variables/transaction-id.ts
  tarpon/src/services/rules-engine/v8-variables/transaction-product-types.ts
  tarpon/src/services/rules-engine/v8-variables/transaction-state.ts
  tarpon/src/services/rules-engine/v8-variables/transaction-type.ts
  tarpon/src/services/rules-engine/v8-variables/types.ts
  tarpon/src/services/rules-engine/v8-variables/user-acquisition-channel.ts
  tarpon/src/services/rules-engine/v8-variables/user-age.ts
  tarpon/src/services/rules-engine/v8-variables/user-creation-age.ts
  tarpon/src/services/rules-engine/v8-variables/user-segment.ts
Owners: @flagright/engineering

#FR-3940: Rule configuration: 'Rule is run when' (PART 1) (#2999)
  phytoplankton-console/src/components/library/Select/index.tsx
  phytoplankton-console/src/components/library/Select/story.tsx
  phytoplankton-console/src/components/library/Select/style.module.less
  phytoplankton-console/src/components/ui/LogicBuilder/helpers.tsx
  phytoplankton-console/src/components/ui/LogicBuilder/index.module.less
  phytoplankton-console/src/components/ui/LogicBuilder/types.ts
  phytoplankton-console/src/components/ui/LogicBuilder/widgets.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/RuleParametersStep/RuleAggregationVariablesEditor/style.module.less
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/RuleParametersStep/RuleLogicEditorV8/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/RuleParametersStep/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/DefineLogicCard/ApplyRiskLevels/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/DefineLogicCard/ApplyRiskLevels/style.module.less
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/DefineLogicCard/IfThen/git-merge-line.react.svg
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/DefineLogicCard/IfThen/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/DefineLogicCard/IfThen/style.module.less
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/DefineLogicCard/RuleActionsCard/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/DefineLogicCard/SubCard/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/DefineLogicCard/SubCard/style.module.less
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/DefineLogicCard/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/DefineLogicCard/style.module.less
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/RuleLogicBuilder/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/VariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/style.module.less
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/helpers.ts
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/style.module.less
  phytoplankton-console/src/pages/rules/utils.ts
  phytoplankton-console/src/pages/storybook/index.tsx
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/v8-variables/index.ts
Owners: @flagright/engineering, @chialunwu, @madhug-nadig

Fix e2e test
  phytoplankton-console/cypress/e2e/rules/create-and-delete-rule.cy.ts
Owners: @flagright/engineering

Fix checksFor for V8
  phytoplankton-console/src/pages/rules/utils.ts
Owners: @flagright/engineering

improved superadin switch e2e test (#2995)
  phytoplankton-console/cypress/e2e/basic/superadmin-switch-tenant.cy.ts
Owners: @flagright/engineering

Updated the GPT prompt for summarizing the data (#3003)
  tarpon/src/services/merchant-monitoring/merchant-monitoring-scrape.ts
Owners: @flagright/engineering

Increased the width of operations column (#3000)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
Owners: @flagright/engineering

Added R-55 Rule for Same user using multiple payment identifiers (#2990)
  tarpon/src/services/rules-engine/transaction-rules/__tests__/same-user-using-too-many-payment-identifiers.test.ts
  tarpon/src/services/rules-engine/transaction-rules/index.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/transaction-rules/same-user-using-too-many-payment-identifiers.ts
  tarpon/src/services/rules-engine/utils.ts
Owners: @flagright/engineering, @chialunwu, @madhug-nadig

Payment related variables for v8 (#2974)
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/v8-engine/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/transaction-card-issued-country.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/transaction-mcc-code.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/transaction-payment-channel.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/transaction-payment-method.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/transaction-wallet.test.ts
  tarpon/src/services/rules-engine/v8-variables/index.ts
  tarpon/src/services/rules-engine/v8-variables/transaction-card-issued-countries.ts
  tarpon/src/services/rules-engine/v8-variables/transaction-country.ts
  tarpon/src/services/rules-engine/v8-variables/transaction-id.ts
  tarpon/src/services/rules-engine/v8-variables/transaction-mcc-codes.ts
  tarpon/src/services/rules-engine/v8-variables/transaction-payment-channels.ts
  tarpon/src/services/rules-engine/v8-variables/transaction-payment-method.ts
  tarpon/src/services/rules-engine/v8-variables/transaction-product-types.ts
  tarpon/src/services/rules-engine/v8-variables/transaction-state.ts
  tarpon/src/services/rules-engine/v8-variables/transaction-type.ts
  tarpon/src/services/rules-engine/v8-variables/transaction-wallet-type.ts
  tarpon/src/services/rules-engine/v8-variables/types.ts
  tarpon/src/services/rules-engine/v8-variables/user-acquisition-channel.ts
  tarpon/src/services/rules-engine/v8-variables/utils/variables.ts
Owners: @flagright/engineering

Tenant Deletion Initalized for DynamoDB (#2962)
  lib/config/config-dev.ts
  lib/config/config-local.ts
  lib/config/config-prod-asia-1.ts
  lib/config/config-prod-asia-2.ts
  lib/config/config-prod-au-1.ts
  lib/config/config-prod-eu-1.ts
  lib/config/config-prod-eu-2.ts
  lib/config/config-prod-me-1.ts
  lib/config/config-prod-us-1.ts
  lib/config/config-sandbox.ts
  lib/config/config.ts
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
Owners: @flagright/engineering

DOM tests for buttons (#2994)
  phytoplankton-console/src/components/library/Button/__tests__/button.dom.test.tsx
Owners: @flagright/engineering

DOM tests: Radio (#2992)
  phytoplankton-console/src/components/library/Radio/__tests__/radio.dom.test.tsx
Owners: @flagright/engineering

Update ME-1 Secret ARNs (#3012)
  lib/config/config-prod-me-1.ts
Owners: @flagright/engineering

Update flagright-api sync destination path (#3013)
  .github/sync.yml
Owners: @flagright/engineering

DOM tests: Alert (#2993)
  phytoplankton-console/src/components/library/Alert/__tests__/alert.dom.test.tsx
  phytoplankton-console/src/components/library/Alert/index.tsx
  phytoplankton-console/src/components/library/Button/__tests__/button.dom.test.tsx
  phytoplankton-console/src/components/ui/colors.ts
Owners: @flagright/engineering

Refactor dashboard component css files (#2988)
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseManagement/DistributionByStatus/index.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseManagement/DistributionByStatus/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/HitsPerUserCard/styles.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/LatestTeamOverview/index.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/OverviewCard/index.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/OverviewCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RuleActionSplitCard/index.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/RulePrioritySplitCard/index.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/TeamPerformanceCard/index.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/TeamPerformanceCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TransactionTRSChartCard/index.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/TransactionTRSChartCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Transactions/DistributionByTransactionTypeWidget/index.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/Transactions/PaymentMethodDistributionWidget/index.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/TransactionsChartWidget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/UserStatusDistributionCard/index.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/widgets/GranularDatePicker/GranularDatePicker.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/widgets/GranularDatePicker/style.module.less
Owners: @flagright/engineering

Changed the color of the loader to flagright-blue (#3010)
  phytoplankton-console/src/antd-theme.less
  phytoplankton-console/src/components/PageLoading/image-safari.react.svg
Owners: @flagright/engineering

Update upload button with the new component in console (#3002)
  phytoplankton-console/src/components/Narrative/index.tsx
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/AttachmentsStep/index.tsx
  phytoplankton-console/src/components/files/UploadFilesList.tsx
  phytoplankton-console/src/components/ui/FilesDraggerInput/index.module.less
  phytoplankton-console/src/components/ui/FilesDraggerInput/index.tsx
  phytoplankton-console/src/components/ui/FilesInput/index.tsx
  phytoplankton-console/src/pages/users-item/ManualCaseCreationModal/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/KYCStatusEditor/KYCChangeModal/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserStateEditor/UserChangeModal/index.tsx
Owners: @flagright/engineering

Use bigger machine for deploy_qa GH workflow (#3020)
  .github/workflows/deploy_qa.yml
Owners: @flagright/engineering

Fix invalid aggregationFieldKey (#3021)
  tarpon/src/services/rules-engine/transaction-rules/library.ts
Owners: @flagright/engineering

Added optional chaining while accessing score (#3001)
  phytoplankton-console/src/components/ui/RiskScoreDisplay/story.tsx
Owners: @flagright/engineering

Transactions table and initial data load from mongo (#2921)
  .gitignore
  bin/utils/databricks-deploy.ts
  databricks/.pylintrc
  databricks/Makefile
  databricks/dlt/__init__.py
  databricks/dlt/pipeline.py
  databricks/infra/cdktf.json
  databricks/infra/main.ts
  databricks/poetry.lock
  databricks/pyproject.toml
  databricks/src/__init__.py
  databricks/src/dlt_pipeline/__init__.py
  databricks/src/dlt_pipeline/data_quality_checks.py
  databricks/src/dlt_pipeline/pipeline.py
  databricks/src/dlt_pipeline/schema.py
  databricks/src/dlt_pipeline/transformations.py
  databricks/src/jobs/__init__.py
  databricks/src/jobs/mongo_load.py
  databricks/tests/test_dlt_pipeline.py
Owners: @flagright/engineering

Add autoscaling config (#3023)
  databricks/infra/main.ts
Owners: @flagright/engineering

Removed fetching for deleted role after deletion (#3018)
  phytoplankton-console/src/pages/accounts/Roles/RoleForm.tsx
  phytoplankton-console/src/pages/accounts/Roles/index.tsx
Owners: @flagright/engineering

Fix slack app integration and FinCEN issues (#3024)
  tarpon/infra/bin/cdk-tarpon-pipeline.ts
  tarpon/scripts/esbuild.js
Owners: @flagright/engineering

Auto-generated rule entity variables (#3014)
  phytoplankton-console/src/components/library/Select/index.tsx
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/scripts/openapi/openapi_generate_sdk.ts
  tarpon/src/lambdas/console-api-rule/app.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/transaction-card-issued-country.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/transaction-country.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/transaction-mcc-code.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/transaction-payment-channel.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/transaction-payment-method.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/transaction-product-type.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/transaction-state.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/transaction-type.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/transaction-wallet.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/user-acquisition-channel.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/user-segment.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/utils.test.ts
  tarpon/src/services/rules-engine/v8-variables/index.ts
  tarpon/src/services/rules-engine/v8-variables/transaction-card-issued-countries.ts
  tarpon/src/services/rules-engine/v8-variables/transaction-country.ts
  tarpon/src/services/rules-engine/v8-variables/transaction-id.ts
  tarpon/src/services/rules-engine/v8-variables/transaction-mcc-codes.ts
  tarpon/src/services/rules-engine/v8-variables/transaction-payment-channels.ts
  tarpon/src/services/rules-engine/v8-variables/transaction-payment-method.ts
  tarpon/src/services/rules-engine/v8-variables/transaction-product-types.ts
  tarpon/src/services/rules-engine/v8-variables/transaction-state.ts
  tarpon/src/services/rules-engine/v8-variables/transaction-type.ts
  tarpon/src/services/rules-engine/v8-variables/transaction-wallet-type.ts
  tarpon/src/services/rules-engine/v8-variables/types.ts
  tarpon/src/services/rules-engine/v8-variables/user-acquisition-channel.ts
  tarpon/src/services/rules-engine/v8-variables/user-segment.ts
  tarpon/src/services/rules-engine/v8-variables/utils.ts
  tarpon/src/services/rules-engine/v8-variables/utils/variables.ts
Owners: @flagright/engineering

FR-3973 DOM tests: ButtonGroup (#3016)
  phytoplankton-console/src/components/library/ButtonGroup/__tests__/button-group.dom.test.tsx
  phytoplankton-console/src/components/library/ButtonGroup/index.tsx
Owners: @flagright/engineering

FR-3974 DOM tests: Checkbox (#3015)
  phytoplankton-console/src/components/library/Checkbox/__tests__/checkbox.dom.test.tsx
Owners: @flagright/engineering

Fix failing bulk select e2e tests (#3028)
  phytoplankton-console/cypress/e2e/cases/bulk-cases-close.cy.ts
  phytoplankton-console/cypress/e2e/cases/bulk-payment-approvals.cy.ts
Owners: @flagright/engineering

Create sentry error if Currency data is 48 hours stale (#3019)
  tarpon/src/services/currency/index.ts
Owners: @flagright/engineering

Implement browser alert modal (#3008)
  phytoplankton-console/src/components/AppWrapper/Providers/BrowserSupportProvider.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/index.tsx
  phytoplankton-console/src/components/BrowserSupportModal/index.module.less
  phytoplankton-console/src/components/BrowserSupportModal/index.tsx
  phytoplankton-console/src/components/library/Modal/index.tsx
  phytoplankton-console/src/components/ui/icons/chrome-logo.react.svg
  phytoplankton-console/src/components/ui/icons/edge-logo.react.svg
Owners: @flagright/engineering

created tests for checking permissions on console-api endpoints (#2941)
  tarpon/src/core/middlewares/__tests__/rbac.test.ts
  tarpon/src/core/middlewares/rbac.ts
  tarpon/src/core/middlewares/test-utils.ts
  tarpon/src/test-utils/apigateway-test-utils.ts
Owners: @flagright/engineering

Rule Description Fix (#3030)
  tarpon/src/services/rules-engine/rules-engine-service.ts
Owners: @chialunwu, @madhug-nadig

use chrome for running cypress tests (#3033)
  phytoplankton-console/.eslintrc.js
  phytoplankton-console/cypress-run.js
Owners: @flagright/engineering

Handled deleting auth0 users for tenant deletion (#3005)
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
Owners: @flagright/engineering

Disable browser support alert for cypress user (#3034)
  phytoplankton-console/cypress-run.js
  phytoplankton-console/src/components/AppWrapper/Providers/BrowserSupportProvider.tsx
Owners: @flagright/engineering

Used refreshed aws credentials in sns and sqs client (#3007)
  tarpon/src/core/dynamodb/dynamodb-stream-consumer-builder.ts
  tarpon/src/core/middlewares/request-logger.ts
  tarpon/src/services/audit-log/index.ts
  tarpon/src/services/batch-jobs/batch-job.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/v8-engine/index.ts
  tarpon/src/services/webhook/utils.ts
  tarpon/src/utils/sns-sqs-client.ts
Owners: @flagright/engineering, @chialunwu, @madhug-nadig

Do not init inspector for me-1 (#3035)
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-alarms-stack.ts
Owners: @flagright/engineering

Disable forensics questions by feature flag and non-prod ready (#3011)
  tarpon/src/services/copilot/questions/__tests__/autocompletion.test.ts
  tarpon/src/services/copilot/questions/definitions.ts
Owners: @flagright/engineering

.github/CODEOWNERS:

# By default, one of the engineering team must approve a PR.
*       @flagright/engineering

# RBAC
tarpon/src/core/default-roles.ts  @madhug-nadig @timrcoulson

# Public APIs
tarpon/src/lambdas/public-* @chialunwu @timrcoulson @madhug-nadig

# Rules Engine
tarpon/src/services/rules-engine/* @chialunwu @madhug-nadig

# Core frontend components
phytoplankton-console/src/components/library/* @chialunwu @koluch
