Repository ArjitJindal/temp-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flagright/engineering, @madhug-nadig, @timrcoulson, @chialunwu, @koluch

.github/CODEOWNERS:

# By default, one of the engineering team must approve a PR.
*       @flagright/engineering

# RBAC
tarpon/src/core/default-roles.ts  @madhug-nadig @timrcoulson

# Public APIs
tarpon/src/lambdas/public-* @chialunwu @timrcoulson @madhug-nadig

# Rules Engine
tarpon/src/services/rules-engine/* @chialunwu @madhug-nadig

# Core frontend components
phytoplankton-console/src/components/library/* @chialunwu @koluch

Fix Rule Logic Validation (#3523)
  tarpon/src/services/rules-engine/__tests__/rules-service.test.ts
  tarpon/src/services/rules-engine/rule-service.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/library.test.ts
Owners: @flagright/engineering, @chialunwu, @madhug-nadig

Store currency data in Tarpon DDB (#3466)
  tarpon/src/services/currency/repository.ts
Owners: @flagright/engineering

Sanctions search history (#3527)
  phytoplankton-console/src/pages/auditlog/components/ActionTakeByFilterButton/index.tsx
  phytoplankton-console/src/pages/sanctions/search-history/index.tsx
  phytoplankton-console/src/pages/sanctions/search/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/repositories/sanctions-search-repository.ts
Owners: @flagright/engineering

Fix rule label delete not working (#3514)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/BasicDetailsStep/index.tsx
Owners: @flagright/engineering

Sanctions History Fix (#3531)
  phytoplankton-console/src/pages/sanctions/search-history/index.tsx
Owners: @flagright/engineering

Between Operator for Time (#3519)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/helpers.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/rules-engine/v8-operators/__tests__/between-time.test.ts
  tarpon/src/services/rules-engine/v8-operators/__tests__/resources/operators.json
  tarpon/src/services/rules-engine/v8-operators/between-time.ts
  tarpon/src/services/rules-engine/v8-operators/index.ts
Owners: @flagright/engineering

Add enum to API schema - bankCountry (#3521)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/rules-engine/v8-variables/__tests__/resources/entity-variables.json
Owners: @flagright/engineering

Fix typo Edd → EDD (#3534)
  phytoplankton-console/src/components/UserStatusTriggersAdvancedOptionsForm/index.tsx
  phytoplankton-console/src/components/utils/humanizeKYCStatus.ts
  phytoplankton-console/src/pages/users-item/UserDetails/KYCStatusEditor/KYCChangeModal/index.tsx
Owners: @flagright/engineering

Added Hack to Ensure API Key is loaded (#3535)
  tarpon/src/services/batch-jobs/ongoing-merchant-monitoring-batch-job-runner.ts
  tarpon/src/services/sanctions/index.ts
Owners: @flagright/engineering

Change entity linking widget to Ontology on AI Forensics & Super admin panel (#3530)
  lib/utils/copilot.ts
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/RequestForm/index.tsx
  phytoplankton-console/src/pages/users-item/index.tsx
  tarpon/src/services/copilot/questions/definitions/entity-linking.ts
Owners: @flagright/engineering

Merchant monitoring bug fix (#3515)
  tarpon/src/services/merchant-monitoring/merchant-monitoring-scrape.ts
Owners: @flagright/engineering

Use new dynamodb client instead of retry everytime (#3496)
  tarpon/src/utils/dynamodb.ts
Owners: @flagright/engineering

Add fingo to databricks
  databricks/infra/main.ts
Owners: @flagright/engineering

Improve Acronym options (#3524)
  lib/constants/acronyms.ts
  phytoplankton-console/src/utils/humanize.ts
  tarpon/src/services/rules-engine/v8-variables/utils.ts
Owners: @flagright/engineering

Improve infinite query typing (#3528)
  phytoplankton-console/src/components/AppWrapper/Menu/Notifications/NotificationsDrawer/index.tsx
  phytoplankton-console/src/components/AppWrapper/Menu/Notifications/NotificationsDrawer/story.tsx
  phytoplankton-console/src/components/AppWrapper/Menu/Notifications/index.tsx
  phytoplankton-console/src/utils/queries/hooks.ts
Owners: @flagright/engineering

Properly handle fetchCallError (#3537)
  phytoplankton-console/src/app.tsx
Owners: @flagright/engineering

Fix E2E Tests (Entity Linking) (#3538)
  phytoplankton-console/cypress/e2e/ai-forensics/ai-forensics-test.cy.ts
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemEmbedded/index.tsx
Owners: @flagright/engineering

Add riskScoreDetails to a response for Transaction and User Events (#3462)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/lambdas/public-api-rules-engine/__tests__/app.test.ts
  tarpon/src/lambdas/public-api-rules-engine/app.ts
  tarpon/src/lambdas/public-api-user-management/app.ts
  tarpon/src/services/risk-scoring/risk-scoring-service.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/user-rules-engine-service.ts
  tarpon/src/services/users/repositories/user-repository.ts
Owners: @flagright/engineering, @chialunwu, @timrcoulson, @madhug-nadig

Databricks unit testing (#3494)
  databricks/.pylintrc
  databricks/fixtures/currency.json
  databricks/fixtures/dynamic_risk_value.json
  databricks/fixtures/transaction.json
  databricks/fixtures/transaction_processed.json
  databricks/infra/main.ts
  databricks/notebooks/backfill.py
  databricks/notebooks/pipeline.py
  databricks/src/dlt/backfill.py
  databricks/src/dlt/backfill_test.py
  databricks/src/dlt/cdc.py
  databricks/src/dlt/cdc_test.py
  databricks/src/dlt/currency_rates.py
  databricks/src/dlt/currency_rates_test.py
  databricks/src/dynamo/deserialize.py
  databricks/src/dynamo/deserialize_test.py
  databricks/src/dynamo/fixtures/dynamic_risk_value.json
  databricks/src/dynamo/fixtures/transaction.json
  databricks/src/dynamo/serde_test.py
  databricks/src/entities.py
  databricks/src/entities/__init__.py
  databricks/src/entities/currency_rates.py
  databricks/src/entities/entities.py
  databricks/src/entities/entity.py
  databricks/src/entities/mock.py
  databricks/src/entities/schema.py
  databricks/src/entities/scores.py
  databricks/src/entities/transactions.py
  databricks/src/entities/transactions_test.py
  databricks/src/entities/users.py
  databricks/src/entities_test.py
  databricks/src/testing/file.py
Owners: @flagright/engineering

Fix in QA Title (#3542)
  phytoplankton-console/src/pages/case-management/QaTable/index.tsx
  phytoplankton-console/src/pages/case-management/components/AssignmentButton/index.tsx
Owners: @flagright/engineering

Wait for Task To Complete in Fargate (#3543)
  tarpon/infra/cdk-tarpon-stack.ts
Owners: @flagright/engineering

Risk factor simulation (Backend) (#3469)
  phytoplankton-console/build/openapi-generate.js
  phytoplankton-console/src/pages/risk-levels/configure/RiskClassificationSimulationResults/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/SimulateRiskClassification/NewSimulation/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/SimulateRiskClassification/SimulationHistory/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/RuleConfigurationSimulation/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/templates/api/api.mustache
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/batch-job/__tests__/simulation-pulse-batch-job-runner.test.ts
  tarpon/src/lambdas/batch-job/__tests__/simulation-risk-scoring-batch-job.test.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/lambdas/console-api-simulation/__tests__/app.test.ts
  tarpon/src/lambdas/console-api-simulation/app.ts
  tarpon/src/lambdas/console-api-simulation/repositories/simulation-result-repository.ts
  tarpon/src/lambdas/console-api-simulation/repositories/simulation-task-repository.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/ongoing-screening-user-rule-batch-job-runner.ts
  tarpon/src/services/batch-jobs/simulation-beacon-batch-job-runner.ts
  tarpon/src/services/batch-jobs/simulation-pulse-batch-job-runner.ts
  tarpon/src/services/batch-jobs/simulation-risk-scoring-batch-job-runner.ts
  tarpon/src/services/risk-scoring/risk-scoring-service.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/test-utils/transaction-test-utils.ts
  tarpon/src/test-utils/user-test-utils.ts
  tarpon/src/utils/mongodb-utils.ts
Owners: @flagright/engineering

Migrate R-24 to V8 (#3525)
  phytoplankton-console/src/components/ui/LogicBuilder/widgets.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transaction-reference-keyword.test.ts
  tarpon/src/services/rules-engine/v8-migrations/index.ts
  tarpon/src/services/rules-engine/v8-operators/__tests__/resources/operators.json
  tarpon/src/services/rules-engine/v8-operators/__tests__/similar-to-words.test.ts
  tarpon/src/services/rules-engine/v8-operators/index.ts
  tarpon/src/services/rules-engine/v8-operators/similar-to-words.ts
Owners: @flagright/engineering

Add fingo
  databricks/infra/main.ts
Owners: @flagright/engineering

Remove unused DashboardStatsTransactionTypeDistributionStats API (#3550)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/console-api-dashboard/app.ts
Owners: @flagright/engineering

Update Team Management Layout (#3544)
  phytoplankton-console/src/pages/dashboard/analysis/components/LatestTeamOverview/index.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/LatestTeamOverview/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TeamPerformanceCard/LatestTeamOverview/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TeamPerformanceCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/index.tsx
Owners: @flagright/engineering

Add fingo
  databricks/infra/main.ts
Owners: @flagright/engineering

Update Timeout of Notification Consumer Function (#3552)
  tarpon/lib/lambdas.ts
Owners: @flagright/engineering

fix create-and-delete-rule test (#3553)
  tarpon/src/lambdas/console-api-rule/app.ts
  tarpon/src/services/rules-engine/rule-instance-service.ts
Owners: @flagright/engineering, @chialunwu, @madhug-nadig

Fix entities import
  databricks/notebooks/backfill.py
  databricks/notebooks/pipeline.py
Owners: @flagright/engineering

Update risk levels for countries (#3547)
  phytoplankton-console/src/utils/defaultCountriesRiskLevel.ts
Owners: @flagright/engineering

remove doc button for whitelabelled customers (#3545)
  phytoplankton-console/src/pages/settings/components/WebhookSettings.tsx
  phytoplankton-console/src/utils/branding.ts
Owners: @flagright/engineering

Update pySpark to 3.2.2 (#3556)
  databricks/poetry.lock
  databricks/pyproject.toml
Owners: @flagright/engineering

Run simulations on fargate (#3560)
  tarpon/src/lambdas/batch-job/app.ts
Owners: @flagright/engineering

#FR-4511: Fix entity variable searching (#3551)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/EntityVariableForm.tsx
Owners: @flagright/engineering

[Snyk] Upgrade cdktf from 0.20.2 to 0.20.4 (#3567)
  databricks/infra/package.json
Owners: @flagright/engineering

Deploy all tenant IDs
  databricks/infra/main.ts
Owners: @flagright/engineering

[Snyk] Upgrade cdktf-cli from 0.20.2 to 0.20.4 (#3570)
  databricks/infra/package.json
Owners: @flagright/engineering

[Snyk] Upgrade react-email from 1.10.0 to 1.10.1 (#3562)
  email-templates/package.json
Owners: @flagright/engineering

Fix backfill script
  databricks/notebooks/backfill.py
Owners: @flagright/engineering
