Repository ArjitJindal/temp-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flagright/engineering, @madhug-nadig, @timrcoulson, @chialunwu, @koluch

FR-3669 Integration test: Dashboard (#2691)
  phytoplankton-console/cypress/e2e/dashboard/widget-selector-load-test.cy.ts
Owners: @flagright/engineering

FR-3595-Improve-widget-readability (#2686)
  phytoplankton-console/src/components/ui/colors.ts
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseManagement/CaseClosingReasonCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Transactions/PaymentMethodDistributionWidget/index.tsx
Owners: @flagright/engineering

Fix transaction time range filter (#2576)
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/TimeRangeInput/index.tsx
  tarpon/scripts/migrations/post-deployment/2023.11.06T15.24.57.transaction-time-range-filter-update.ts
  tarpon/scripts/migrations/pre-deployment/2023.11.14T06.40.40.transaction-time-range-filter-update.ts
  tarpon/src/services/rules-engine/repositories/dynamodb-transaction-repository.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/rules-engine/repositories/transaction-repository-interface.ts
  tarpon/src/services/rules-engine/transaction-filters/__tests__/transaction-time-range.test.ts
  tarpon/src/services/rules-engine/transaction-filters/transaction-time-range-historical.ts
  tarpon/src/services/rules-engine/transaction-filters/transaction-time-range.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-volume.test.ts
  tarpon/src/services/rules-engine/transaction-rules/first-payment.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
  tarpon/src/services/rules-engine/utils/transaction-rule-utils.ts
Owners: @flagright/engineering

Make canaries run on hello clever
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/configs/config-sandbox.ts
Owners: @flagright/engineering

FR-3045-Use-CrudEntitiesTable-in-narrative-template-and-web-hooks (#2681)
  phytoplankton-console/src/components/library/CrudEntitiesTable/index.tsx
  phytoplankton-console/src/components/library/DrawerStepperJsonSchemaForm/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/WebhookInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/index.tsx
  phytoplankton-console/src/components/library/StepButtons/index.tsx
  phytoplankton-console/src/pages/settings/components/NarrativeTemplateSettings.tsx
  phytoplankton-console/src/pages/settings/components/NarrativeTemplates/DrawerForm.tsx
  phytoplankton-console/src/pages/settings/components/NarrativeTemplates/DrawerFormCreate.tsx
  phytoplankton-console/src/pages/settings/components/NarrativeTemplates/DrawerFormEdit.tsx
  phytoplankton-console/src/pages/settings/components/NarrativeTemplates/NarrativeForm.tsx
  phytoplankton-console/src/pages/settings/components/NarrativeTemplates/SubmitButton.tsx
  phytoplankton-console/src/pages/settings/components/NarrativeTemplates/index.tsx
  phytoplankton-console/src/pages/settings/components/NarrativeTemplates/style.module.less
  phytoplankton-console/src/pages/settings/components/NarrativeTemplates/type.ts
  phytoplankton-console/src/pages/settings/components/WebhookDetails.tsx
  phytoplankton-console/src/pages/settings/components/WebhookSettings.tsx
  phytoplankton-console/src/pages/settings/index.tsx
Owners: @flagright/engineering

FR-3711 Update the rule description for R-1 (#2714)
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/core/seed/raw-data/simulation-rules.ts
  tarpon/src/lambdas/public-management-api-rule/__tests__/app.test.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
Owners: @flagright/engineering, @chialunwu, @timrcoulson, @madhug-nadig

Fix Invalid DynamoDB UpdateExpression (#2715)
  tarpon/src/core/seed/dynamodb.ts
Owners: @flagright/engineering

More api key authorizer logs (#2716)
  tarpon/src/lambdas/api-key-authorizer/app.ts
Owners: @flagright/engineering

Fix API key authorizer (#2719)
  tarpon/src/lambdas/api-key-authorizer/app.ts
Owners: @flagright/engineering

FR-3698 Format the numbers on widgets (#2707)
  phytoplankton-console/src/pages/dashboard/analysis/components/charts/Column/index.tsx
Owners: @flagright/engineering

FR-3630 Fix reporting for Audit log page (#2706)
  phytoplankton-console/src/pages/auditlog/components/AuditLog/AuditLog.tsx
Owners: @flagright/engineering

Build Flagright Lib in Actions and Pipeline (#2722)
  .github/workflows/deploy_qa.yml
  .github/workflows/test_phyto.yml
  .github/workflows/test_tarpon.yml
  bin/utils/phytoplankton-console-deploy.ts
  bin/utils/post_deploy_tarpon.ts
  bin/utils/tarpon-build-stage.ts
Owners: @flagright/engineering

Support Dependency in Local Dependency (#2720)
  lib/index.ts
  lib/package-lock.json
  lib/package.json
  lib/src/id.ts
  lib/tsconfig.json
  tarpon/package-lock.json
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/services/export/index.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
  tarpon/src/services/tenants/repositories/rule-queues-repository.ts
  tarpon/src/utils/id.ts
Owners: @flagright/engineering

Add VSCode command for debuggin a single test file (#2723)
  tarpon/.vscode/launch.json
Owners: @flagright/engineering

Fix Orca Pipeline Deploy (#2724)
  .github/workflows/deploy_orca_pipeline.yaml
Owners: @flagright/engineering

Improve/Fix @flagright/lib (#2725)
  lib/constants/countries.ts
  lib/constants/index.ts
  lib/index.ts
  lib/package.json
  lib/utils/id.ts
  lib/utils/index.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/services/export/index.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
  tarpon/src/services/tenants/repositories/rule-queues-repository.ts
  tarpon/src/utils/countries.ts
Owners: @flagright/engineering

Cache Currency Data in Dynamo (#2718)
  rule.yaml
  tarpon/jest-setup.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/lambdas/console-api-transaction/services/transaction-service.ts
  tarpon/src/services/currency/index.ts
  tarpon/src/services/currency/repository.ts
  tarpon/src/services/rules-engine/repositories/aggregation-repository.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/rules-engine/transaction-rules/high-traffic-volume-between-same-users.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-exceeded-base.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-outflow-inflow-volume.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-volume.ts
  tarpon/src/services/rules-engine/utils/transaction-rule-utils.ts
  tarpon/src/services/sar/generators/US/SAR/index.ts
  tarpon/src/utils/__tests__/currency-utils.test.ts
  tarpon/src/utils/currency-utils.ts
  tarpon/test-resources/mocked-currency-exchange-rates.json
  tarpon/test-resources/mocked-currency-exchange-rates.ts
Owners: @flagright/engineering

Update Sandbox canary to run on Flagright sandbox
  tarpon/lib/configs/config-sandbox.ts
Owners: @flagright/engineering

Fix Deploy (#2731)
  bin/utils/tarpon-deploy-stage.ts
Owners: @flagright/engineering

Fix Phyto (#2732)
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/utils/countries.ts
Owners: @flagright/engineering

Update Help while Creating Tenant (#2734)
  phytoplankton-console/src/components/SuperAdminPanel/CreateTenantModal/index.tsx
Owners: @flagright/engineering

All -> Closed and Not'QAed (#2728)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/common.ts
  phytoplankton-console/src/pages/case-management/index.tsx
  phytoplankton-console/src/pages/case-management/types.tsx
Owners: @flagright/engineering

Update Flagright Lib and Updated Worflows (#2735)
  .github/workflows/deploy_qa.yml
  .github/workflows/test_infra.yml
  .github/workflows/test_phyto.yml
  .github/workflows/test_tarpon.yml
  bin/utils/phytoplankton-console-deploy.ts
  bin/utils/post_deploy_tarpon.ts
  bin/utils/tarpon-deploy-stage.ts
  package.json
  phytoplankton-console/package.json
  tarpon/package.json
Owners: @flagright/engineering

Update nuke tenant data script (#2737)
  tarpon/package.json
  tarpon/scripts/dangerous-nuke-tenant-data.ts
Owners: @flagright/engineering

Fixes of createAlertFor rule parameter (#2712)
  tarpon/.vscode/launch.json
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/lambdas/console-api-case/services/__tests__/case-creation-service.test.ts
  tarpon/src/lambdas/console-api-case/services/case-creation-service.ts
  tarpon/src/services/rules-engine/repositories/case-repository.ts
  tarpon/src/services/rules-engine/rule.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/transaction-rules/multiple-senders-within-time-period-base.ts
  tarpon/src/services/rules-engine/transaction-rules/tests/test-always-hit-rule.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
Owners: @flagright/engineering, @chialunwu, @madhug-nadig

Add @typescript-eslint/switch-exhaustiveness-check lint rule (#2721)
  phytoplankton-console/.eslintrc.js
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/SimplePropertyInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/AlertExpanded/Checklist/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemLayout/exportUtil.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemTable/index.tsx
  phytoplankton-console/src/pages/case-management/index.tsx
  phytoplankton-console/src/utils/asyncResource.ts
  phytoplankton-console/src/utils/case-utils.ts
Owners: @flagright/engineering

Fix phyto sentry release (#2741)
  phytoplankton-console/build/build-tasks.js
  phytoplankton-console/package.json
  phytoplankton-console/yarn.lock
Owners: @flagright/engineering

#FR-3291: Hide the unknown indicator in US SAR Form If related field is Filled (#2542)
  phytoplankton-console/src/components/library/Form/utils/validation/types.ts
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/WebhookInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/types.ts
  phytoplankton-console/src/components/library/JsonSchemaEditor/utils.ts
  tarpon/src/services/sar/generators/US/SAR/__tests__/expected-test-output.xml
  tarpon/src/services/sar/generators/US/SAR/helpers/constants.ts
  tarpon/src/services/sar/generators/US/SAR/helpers/postprocessing.ts
  tarpon/src/services/sar/generators/US/SAR/helpers/prepopulating.ts
  tarpon/src/services/sar/generators/US/SAR/helpers/types.ts
  tarpon/src/services/sar/generators/US/SAR/index.ts
  tarpon/src/services/sar/generators/US/SAR/resources/EFL_SARXBatchSchema.ts
  tarpon/src/services/sar/generators/US/SAR/scripts/attribute-infos.ts
Owners: @flagright/engineering

Fr 3512 implement table scroll bar updates (#2527)
  phytoplankton-console/src/components/library/Table/ScrollContainer/index.module.less
  phytoplankton-console/src/components/library/Table/ScrollContainer/index.tsx
  phytoplankton-console/src/components/library/Table/consts.tsx
  phytoplankton-console/src/components/library/Table/index.tsx
  phytoplankton-console/src/components/library/Table/internal/helpers.tsx
  phytoplankton-console/src/components/library/Tabs/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/AlertExpanded/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
Owners: @flagright/engineering

#FR-3225: Refactoring: migrate to new Form component (#2743)
  phytoplankton-console/package.json
  phytoplankton-console/src/components/SuperAdminPanel/index.tsx
  phytoplankton-console/src/components/library/Dropdown/index.tsx
  phytoplankton-console/src/components/library/Form/index.tsx
  phytoplankton-console/src/pages/auditlog/components/ActionTakeByFilterButton/PopupContent/index.tsx
  phytoplankton-console/src/pages/transactions/components/TagSearchButton/PopupContent/index.tsx
  phytoplankton-console/src/pages/transactions/components/TagSearchButton/index.tsx
  phytoplankton-console/src/pages/transactions/components/TagSearchButton/types.ts
  phytoplankton-console/src/pages/transactions/components/UserTagSearchButton/PopupContent/index.tsx
  phytoplankton-console/src/pages/transactions/components/UserTagSearchButton/index.tsx
  phytoplankton-console/src/pages/transactions/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserManualRiskPanel/index.tsx
  phytoplankton-console/src/pages/users/users-list/index.tsx
  phytoplankton-console/yarn.lock
  rule.yaml
Owners: @flagright/engineering

Added Excel Support in Table Downloads (#2736)
  phytoplankton-console/package.json
  phytoplankton-console/src/components/library/Table/Header/Tools/DownloadButton/index.tsx
  phytoplankton-console/src/components/library/Table/__tests__/download-table.test.ts
  phytoplankton-console/src/components/library/Table/dataTypeHelpers.tsx
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/components/library/Table/types.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/HitsPerUserCard/index.tsx
  phytoplankton-console/src/pages/sanctions/search-history/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  phytoplankton-console/src/utils/__tests__/xlsx.test.ts
  phytoplankton-console/src/utils/csv.ts
  phytoplankton-console/src/utils/xlsx.ts
  phytoplankton-console/yarn.lock
Owners: @flagright/engineering

Extend 'cross-tenant-query' with predefined queries (#2742)
  tarpon/scripts/cross-tenant-query.ts
Owners: @flagright/engineering

Redo ‘Top users by rule hits’ widget ‘Rule hit’ percentage metric (#2619)
  phytoplankton-console/cypress/e2e/dashboard/widget-selector-test.cy.ts
  phytoplankton-console/src/pages/dashboard/analysis/components/HitsPerUserCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2023.11.16T08.32.46.update-hits-per-user.ts
  tarpon/src/core/seed/samplers/cases.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/__tests__/dashboard-stats-repository.hits-per-user.test.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/hits-by-user-stats.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-stats-repository.ts
Owners: @flagright/engineering

FR-3691 Removing MACHINE_LEARNING_DEMO Feature Flag (#2739)
  phytoplankton-console/src/pages/case-management-item/components/Header/SubHeader/index.tsx
  phytoplankton-console/src/pages/settings/index.tsx
  phytoplankton-console/src/pages/transactions-item/SubHeader/index.tsx
  phytoplankton-console/src/pages/users-item/Header/SubHeader/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/rules-engine/user-rules/__tests__/merchant-monitoring-industry.test.ts
Owners: @flagright/engineering

Handle the case when a derived risk factor handler is missing (#2750)
  tarpon/src/services/risk-scoring/derived-risk-factors/index.ts
  tarpon/src/services/risk-scoring/risk-scoring-service.ts
Owners: @flagright/engineering

Update All Rules Names and Descriptions as per V8 Design (#2747)
  tarpon/src/lambdas/batch-job/__tests__/ongoing-screening-user-rule-batch-job-runner.test.ts
  tarpon/src/lambdas/public-management-api-rule/__tests__/app.test.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
Owners: @flagright/engineering, @chialunwu, @timrcoulson, @madhug-nadig

Add remaining transaction tests of canaries (#2753)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/src/canaries/public-api-canary-tests/index.ts
Owners: @flagright/engineering

Remove trial Integration tests (#2754)
  bin/utils/post_deploy_tarpon.ts
  tarpon/integration-jest.config.ts
  tarpon/package.json
  tarpon/test-resources/integration-tests/__tests__/transaction-post.test.ts
  tarpon/test-resources/integration-tests/test-utils/apiKey.ts
  tarpon/test-resources/integration-tests/test-utils/request.ts
Owners: @flagright/engineering

#FR-3637: Sync mongo indexes before running post-deployment migrations (#2744)
  tarpon/scripts/migrations/migrator.ts
Owners: @flagright/engineering

#FR-3719: SAR: addresses are not prefilled properly (#2738)
  lib/constants/countries.ts
  phytoplankton-console/src/components/SanctionsTable/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/CountriesInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/CountryRegion/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/types.ts
  phytoplankton-console/src/components/ui/CountryDisplay/index.tsx
  phytoplankton-console/src/pages/reports/components/ReportsTable/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/consts.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/DeviceDataCard/index.tsx
  phytoplankton-console/src/utils/countries.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
  tarpon/src/services/sar/generators/LT/scripts/xsd-to-json.ts
  tarpon/src/services/sar/generators/US/SAR/__tests__/prepopulating.test.ts
  tarpon/src/services/sar/generators/US/SAR/helpers/prepopulating.ts
  tarpon/src/services/sar/generators/US/SAR/resources/EFL_SARXBatchSchema.ts
  tarpon/src/utils/countries.ts
Owners: @flagright/engineering

.github/CODEOWNERS:

# By default, one of the engineering team must approve a PR.
*       @flagright/engineering

# RBAC
tarpon/src/core/default-roles.ts  @madhug-nadig @timrcoulson

# Public APIs
tarpon/src/lambdas/public-* @chialunwu @timrcoulson @madhug-nadig

# Rules Engine
tarpon/src/services/rules-engine/* @chialunwu @madhug-nadig

# Core frontend components
phytoplankton-console/src/components/library/* @chialunwu @koluch
