Repository ArjitJindal/temp-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flagright/engineering, @madhug-nadig, @timrcoulson, @chialunwu, @koluch

.github/CODEOWNERS:

# By default, one of the engineering team must approve a PR.
*       @flagright/engineering

# RBAC
tarpon/src/core/default-roles.ts  @madhug-nadig @timrcoulson

# Public APIs
tarpon/src/lambdas/public-* @chialunwu @timrcoulson @madhug-nadig

# Rules Engine
tarpon/src/services/rules-engine/* @chialunwu @madhug-nadig

# Core frontend components
phytoplankton-console/src/components/library/* @chialunwu @koluch

Transaction aggregation questions (#3355)
  lib/utils/copilot.ts
  tarpon/src/services/copilot/questions/definitions.ts
  tarpon/src/services/copilot/questions/definitions/transaction-aggregations.ts
  tarpon/src/services/copilot/questions/definitions/trs-score.ts
  tarpon/src/services/copilot/questions/definitions/util.ts
  tarpon/src/services/copilot/questions/question-service.ts
Owners: @flagright/engineering

Check the content-type headers (#3380)
  tarpon/src/@types/request-logger/index.d.ts
  tarpon/src/core/middlewares/check-headers.ts
  tarpon/src/core/middlewares/lambda-api-middlewares.ts
  tarpon/src/core/middlewares/request-logger.ts
Owners: @flagright/engineering

DOM test: crud entities table (#3365)
  phytoplankton-console/src/components/library/CrudEntitiesTable/__tests__/crud-entities-table.dom.test.tsx
Owners: @flagright/engineering

Update Cases and Alerts Audit Log (#3376)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/@types/audit-log/index.ts
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/console-api-case/services/case-alerts-audit-log-service.ts
  tarpon/src/lambdas/console-api-case/services/case-service.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/notifications/subscriptions/alert-escalation.ts
  tarpon/src/services/notifications/subscriptions/case-escalation.ts
  tarpon/src/test-utils/apigateway-test-utils.ts
Owners: @flagright/engineering

In review cases and alerts notifications (#3385)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/@types/notifications/index.d.ts
  tarpon/src/services/notifications/__tests__/index.test.ts
  tarpon/src/services/notifications/index.ts
  tarpon/src/services/notifications/subscriptions/alert-in-review.ts
  tarpon/src/services/notifications/subscriptions/case-in-review.ts
  tarpon/src/services/notifications/subscriptions/utils/in-review-notification.ts
Owners: @flagright/engineering

Fix RULES_ENGINE_V8_LIBRARY usage (#3386)
  phytoplankton-console/src/pages/rules/RuleConfiguration/index.tsx
  phytoplankton-console/src/pages/rules/RulesTable/index.tsx
Owners: @flagright/engineering

Bump schema number
  databricks/infra/main.ts
Owners: @flagright/engineering

Risk Factors V2 Updates (#3388)
  phytoplankton-console/src/pages/risk-levels/risk-algorithms/RiskAlgorithm/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/ValuesTable/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/index.tsx
  tarpon/scripts/migrations/utils/pulse.ts
  tarpon/src/services/risk-scoring/risk-scoring-service.ts
Owners: @flagright/engineering

Make request body required (#3287)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/core/middlewares/check-headers.ts
  tarpon/src/lambdas/public-api-rules-engine/app.ts
Owners: @flagright/engineering, @chialunwu, @timrcoulson, @madhug-nadig

Corrected api requests methods (#3391)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Owners: @flagright/engineering

Case and Alert Comment Notification (#3396)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/@types/audit-log/index.ts
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/console-api-case/services/case-alerts-audit-log-service.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/latest-team-stats.ts
  tarpon/src/services/notifications/__tests__/index.test.ts
  tarpon/src/services/notifications/index.ts
  tarpon/src/services/notifications/subscriptions/alert-comment.ts
  tarpon/src/services/notifications/subscriptions/case-comment.ts
  tarpon/src/services/notifications/subscriptions/utils/comment.ts
  tarpon/src/services/rules-engine/repositories/alerts-repository.ts
  tarpon/src/services/rules-engine/repositories/case-repository.ts
Owners: @flagright/engineering

Whitelabel export pdfs have Flagright branding (#3360)
  phytoplankton-console/src/branding/bureau-logo-dark.svg
  phytoplankton-console/src/branding/bureau-logo-light.svg
  phytoplankton-console/src/branding/flagright-logo-dark.svg
  phytoplankton-console/src/branding/flagright-logo-light.svg
  phytoplankton-console/src/branding/regtank-logo-dark.svg
  phytoplankton-console/src/branding/regtank-logo-light.svg
  phytoplankton-console/src/branding/traxion-favicon.svg
  phytoplankton-console/src/branding/traxion-logo-dark.svg
  phytoplankton-console/src/branding/traxionright-favicon.png
  phytoplankton-console/src/branding/traxionright-logo-light.png
  phytoplankton-console/src/branding/zigram-logo-dark.svg
  phytoplankton-console/src/branding/zigram-logo-light.png
  phytoplankton-console/src/branding/zigram-logo.png
  phytoplankton-console/src/components/AppWrapper/Menu/Header/index.tsx
  phytoplankton-console/src/components/DownloadAsPdf/DownloadAsPDF.tsx
  phytoplankton-console/src/utils/branding.ts
Owners: @flagright/engineering

Case and Alert Status Update Notifcation (#3399)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/@types/audit-log/index.ts
  tarpon/src/lambdas/console-api-case/services/case-alerts-audit-log-service.ts
  tarpon/src/services/notifications/__tests__/index.test.ts
  tarpon/src/services/notifications/index.ts
  tarpon/src/services/notifications/subscriptions/alert-status-update.ts
  tarpon/src/services/notifications/subscriptions/case-status-update.ts
  tarpon/src/services/notifications/subscriptions/utils/status-update.ts
Owners: @flagright/engineering

Dont check headers on the console (#3400)
  tarpon/src/core/middlewares/check-headers.ts
Owners: @flagright/engineering

Don't reuse DLT cluster (#3402)
  databricks/infra/main.ts
  tarpon/src/lambdas/console-api-copilot/app.ts
Owners: @flagright/engineering

Fix console sentry sourcemaps publishing (#3403)
  phytoplankton-console/build/build-tasks.js
Owners: @flagright/engineering

Apis for notifications (#3405)
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-console-api-stack.ts
  tarpon/lib/constants.ts
  tarpon/lib/lambdas.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/core/default-roles.ts
  tarpon/src/lambdas/console-api-notifications/app.ts
  tarpon/src/services/notifications/__tests__/index.test.ts
  tarpon/src/services/notifications/console-notifications.ts
  tarpon/src/services/notifications/notifications-repository.ts
Owners: @flagright/engineering, @madhug-nadig, @timrcoulson

Minor Fixes in UI of Weights (#3406)
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/ValuesTable/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/index.tsx
Owners: @flagright/engineering

FR-3871 case creation test (#3378)
  phytoplankton-console/cypress/e2e/cases/case-creation-test.cy.ts
  phytoplankton-console/cypress/support/commands.ts
  phytoplankton-console/cypress/support/index.ts
  phytoplankton-console/cypress/support/utils.ts
Owners: @flagright/engineering

Fix create-release script (#3410)
  scripts/create-release.ts
Owners: @flagright/engineering

FR-4236 DOM test for Drawer component (#3393)
  phytoplankton-console/src/components/library/Drawer/__tests__/drawer.dom.test.tsx
  phytoplankton-console/src/components/library/Drawer/index.tsx
Owners: @flagright/engineering

FR-4235 DOM test for Toggle (#3392)
  phytoplankton-console/src/components/library/Toggle/__tests__/toggle.dom.test.tsx
  phytoplankton-console/src/components/library/Toggle/index.tsx
Owners: @flagright/engineering

FR-4242 DOM tests for Modal component (#3384)
  phytoplankton-console/src/components/library/Modal/__tests__/modal.dom.test.tsx
Owners: @flagright/engineering

FR-4234 DOM Test for SelectionGroup (#3383)
  phytoplankton-console/src/components/library/SelectionGroup/__tests__/selection-group.dom.test.tsx
Owners: @flagright/engineering

DOM test for downloadFilesButton (#3382)
  phytoplankton-console/src/components/library/DownloadFilesButton/__tests__/download-files-button.dom.test.tsx
  phytoplankton-console/src/components/library/DownloadFilesButton/index.tsx
Owners: @flagright/engineering

Allowed Regions for a User (#3321)
  phytoplankton-console/src/components/AppWrapper/Providers/FlagrightUserProvider.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/mocks/FlagrightUserProvider.tsx
  phytoplankton-console/src/utils/user-utils.tsx
  tarpon/infra/auth0/actions/post-login.js
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/@types/jwt/index.ts
  tarpon/src/core/middlewares/local-dev.ts
  tarpon/src/core/utils/context.ts
  tarpon/src/lambdas/jwt-authorizer/app.ts
  tarpon/src/services/accounts/index.ts
Owners: @flagright/engineering

Migrate R-117 to V8 logic (#3366)
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transaction-amount-pattern.test.ts
  tarpon/src/services/rules-engine/v8-migrations/index.ts
Owners: @flagright/engineering

Add required to variable definition label (#3394)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/index.tsx
Owners: @flagright/engineering

Implement user report (#3335)
  phytoplankton-console/src/components/DownloadAsPdf/DownloadAsPDF.tsx
  phytoplankton-console/src/components/DownloadAsPdf/report-utils.tsx
  phytoplankton-console/src/components/ui/RiskScoreDisplay/index.tsx
  phytoplankton-console/src/pages/transactions-item/TransactionReport/index.tsx
  phytoplankton-console/src/pages/users-item/Header/HeaderMenu.tsx
  phytoplankton-console/src/pages/users-item/Header/index.module.less
  phytoplankton-console/src/pages/users-item/Header/index.tsx
  phytoplankton-console/src/pages/users-item/ManualCaseCreationButton/index.tsx
  phytoplankton-console/src/pages/users-item/UserReport/index.tsx
Owners: @flagright/engineering

Update webhook info link (#3412)
  phytoplankton-console/src/utils/branding.ts
Owners: @flagright/engineering

display copilot recommendations at the end (#3395)
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/RequestForm/index.tsx
Owners: @flagright/engineering

Atomically switch tenants (#3398)
  tarpon/src/services/accounts/index.ts
Owners: @flagright/engineering

Pre requirement for coverage (#3408)
  .github/workflows/test_tarpon.yml
Owners: @flagright/engineering

Integrate Replies in Comments (#3389)
  phytoplankton-console/src/components/ActivityCard/index.tsx
  phytoplankton-console/src/components/Avatar/index.module.less
  phytoplankton-console/src/components/Avatar/index.tsx
  phytoplankton-console/src/components/CommentEditor/index.tsx
  phytoplankton-console/src/components/CommentsCard/Comment/index.module.less
  phytoplankton-console/src/components/CommentsCard/Comment/index.tsx
  phytoplankton-console/src/components/CommentsCard/Reply/index.module.less
  phytoplankton-console/src/components/CommentsCard/Reply/index.tsx
  phytoplankton-console/src/components/CommentsCard/index.tsx
  phytoplankton-console/src/components/CommentsCard/utils.ts
  phytoplankton-console/src/components/markdown/MarkdownEditor/index.tsx
  phytoplankton-console/src/components/markdown/MarkdownViewer/index.module.less
  phytoplankton-console/src/components/markdown/MarkdownViewer/index.tsx
  phytoplankton-console/src/components/markdown/shared-styles.less
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/pages/case-management-item/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/AlertExpanded/Comments/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserActivityCard/index.tsx
  phytoplankton-console/src/pages/users-item/index.tsx
  phytoplankton-console/src/utils/account.ts
  tarpon/src/services/rules-engine/repositories/alerts-repository.ts
  tarpon/src/services/rules-engine/repositories/case-repository.ts
  tarpon/src/services/users/repositories/user-repository.ts
Owners: @flagright/engineering

#FR-3917: Refactoring: improve shared components structure (part 2) (#3397)
  phytoplankton-console/src/components/AppWrapper/index.tsx
  phytoplankton-console/src/components/CommentsCard/Comment/index.tsx
  phytoplankton-console/src/components/PageWrapper/index.tsx
  phytoplankton-console/src/components/library/Avatar/index.module.less
  phytoplankton-console/src/components/library/Avatar/index.tsx
  phytoplankton-console/src/components/library/Avatar/sample_image.png
  phytoplankton-console/src/components/library/Avatar/story.tsx
  phytoplankton-console/src/components/library/CrudEntitiesTable/index.tsx
  phytoplankton-console/src/components/library/WidgetGrid/index.tsx
  phytoplankton-console/src/components/utils/Authorized/index.tsx
  phytoplankton-console/src/components/utils/ErrorBoundary/index.tsx
  phytoplankton-console/src/pages/accounts/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/pages/case-management-item/index.tsx
  phytoplankton-console/src/pages/case-management/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-algorithms/index.tsx
  phytoplankton-console/src/pages/rules/index.tsx
  phytoplankton-console/src/pages/rules/simulation-history-item/index.tsx
  phytoplankton-console/src/pages/rules/simulation-history/index.tsx
  phytoplankton-console/src/pages/storybook/components/Component/figma-icon.react.svg
  phytoplankton-console/src/pages/storybook/components/Component/index.module.less
  phytoplankton-console/src/pages/storybook/components/Component/index.tsx
  phytoplankton-console/src/pages/storybook/index.tsx
  phytoplankton-console/src/pages/storybook/storybook.tsx
  phytoplankton-console/src/pages/storybook/types.ts
  phytoplankton-console/src/pages/users-item/UserDetails/UserActivityCard/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/index.tsx
Owners: @flagright/engineering

Fix Prod Superadmin (#3421)
  tarpon/src/@types/jwt/index.ts
Owners: @flagright/engineering

V8: delete not functioning (#3409)
  phytoplankton-console/src/components/UserStatusTriggersAdvancedOptionsForm/index.tsx
Owners: @flagright/engineering

Freshdesk SSO auth (#3387)
  tarpon/infra/auth0/cdktf-auth0-resources.ts
Owners: @flagright/engineering

Use currency API (#3369)
  tarpon/jest-setup.ts
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/currency/index.ts
  tarpon/src/services/rules-engine/v8-engine/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/transaction-amount.test.ts
  tarpon/src/utils/__tests__/currency-utils.test.ts
  tarpon/test-resources/mocked-currency-exchange-rates.ts
Owners: @flagright/engineering

Fix root users unable to log in prod console (#3426)
  tarpon/src/lambdas/jwt-authorizer/app.ts
Owners: @flagright/engineering
