Repository ArjitJindal/temp-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flagright/engineering, @madhug-nadig, @timrcoulson, @chialunwu, @koluch

.github/CODEOWNERS:

# By default, one of the engineering team must approve a PR.
*       @flagright/engineering

# RBAC
tarpon/src/core/default-roles.ts  @madhug-nadig @timrcoulson

# Public APIs
tarpon/src/lambdas/public-* @chialunwu @timrcoulson @madhug-nadig

# Rules Engine
tarpon/src/services/rules-engine/* @chialunwu @madhug-nadig

# Core frontend components
phytoplankton-console/src/components/library/* @chialunwu @koluch

Fix Cypress tests (#3674)
  phytoplankton-console/cypress/support/utils.ts
Owners: @flagright/engineering

No need to sync rules library when running DEMO_MODE_DATA_LOAD job (#3673)
  tarpon/scripts/init-local-db.ts
  tarpon/scripts/migrations/migrator.ts
  tarpon/src/core/seed/dynamodb.ts
  tarpon/src/services/rules-engine/rule-service.ts
  tarpon/src/utils/secrets-manager.ts
Owners: @flagright/engineering, @chialunwu, @madhug-nadig

Update databriccs readme
  databricks/README.md
Owners: @flagright/engineering

Update README
  databricks/README.md
Owners: @flagright/engineering

Fix R-132 name/description (#3677)
  tarpon/src/services/list/repositories/list-repository.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
Owners: @flagright/engineering

Update Databriccs deploy scripts
  databricks/infra/package-lock.json
  databricks/infra/package.json
Owners: @flagright/engineering

Forensics: Open entity page on clicking ID (#3662)
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemTable/index.tsx
  tarpon/src/services/copilot/questions/definitions/alert-history.ts
  tarpon/src/services/copilot/questions/definitions/alerts-related-to-transaction.ts
Owners: @flagright/engineering

Default screen should be transactions on alerts drilldown (#3668)
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/AlertExpanded/index.tsx
Owners: @flagright/engineering

Fix deploy
  databricks/infra/main.ts
Owners: @flagright/engineering

Add Network in Wallet Details as Enum (#3676)
  tarpon/lib/openapi/public/openapi-public-original.yaml
Owners: @flagright/engineering

Added Schemas for Alert and Cases Public Management API (#3675)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/constants.ts
  tarpon/lib/lambdas.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-public-management-augmentor.ts
  tarpon/lib/openapi/public-management/openapi-public-management-original.yaml
  tarpon/scripts/openapi/openapi_prepare.js
  tarpon/src/lambdas/public-management-api-alert/app.ts
  tarpon/src/lambdas/public-management-api-case/app.ts
Owners: @flagright/engineering, @chialunwu, @timrcoulson, @madhug-nadig

Fix phytoplankton tsc (#3680)
  phytoplankton-console/src/components/ui/PaymentDetailsProps/index.tsx
Owners: @flagright/engineering

Fix 'Update KYC status to' cannot be set (#3679)
  phytoplankton-console/src/components/UserStatusTriggersAdvancedOptionsForm/index.tsx
Owners: @flagright/engineering

Remove RULES_ENGINE_V8_LIBRARY feature flag (#3681)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/index.tsx
  phytoplankton-console/src/pages/rules/RulesTable/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Owners: @flagright/engineering

Remove case aggregates from response (#3678)
  tarpon/src/services/rules-engine/repositories/case-repository.ts
Owners: @flagright/engineering

Manual Sample and Edit Sample Flow (#3671)
  phytoplankton-console/cypress/e2e/qa/qa-sampling-test.cy.ts
  phytoplankton-console/src/components/Narrative/index.module.less
  phytoplankton-console/src/components/Narrative/index.tsx
  phytoplankton-console/src/components/library/Select/index.tsx
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/components/library/Tag/index.tsx
  phytoplankton-console/src/components/library/Tag/story.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/AlertExpanded/Checklist/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/QaStatusChangeModal/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/QA/AddToSampleModal/index.tsx
  phytoplankton-console/src/pages/case-management/QA/AddToSampleModal/styles.module.less
  phytoplankton-console/src/pages/case-management/QA/Dropdown/index.tsx
  phytoplankton-console/src/pages/case-management/QA/Dropdown/style.module.less
  phytoplankton-console/src/pages/case-management/QA/Modal/index.tsx
  phytoplankton-console/src/pages/case-management/QA/Table/index.tsx
  phytoplankton-console/src/pages/case-management/QA/types.d.ts
  phytoplankton-console/src/pages/case-management/QA/utils.ts
  phytoplankton-console/src/pages/case-management/QAModal/index.tsx
  phytoplankton-console/src/pages/case-management/index.tsx
  phytoplankton-console/src/pages/qa-sample-item/index.module.less
  phytoplankton-console/src/pages/qa-sample-item/index.tsx
  phytoplankton-console/src/pages/qa-samples/index.module.less
  phytoplankton-console/src/pages/qa-samples/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/rules-engine/repositories/alerts-repository.ts
Owners: @flagright/engineering

Update README
  databricks/README.md
Owners: @flagright/engineering

Fix GDPR on openAI copilot (#3683)
  tarpon/src/services/copilot/copilot-service.ts
Owners: @flagright/engineering

Soft delete Checklist Template (#3695)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/tenants/repositories/checklist-templates-repository.ts
Owners: @flagright/engineering

[Snyk] Upgrade @types/lodash from 4.14.202 to 4.17.0 (#3689)
  package.json
  yarn.lock
Owners: @flagright/engineering

[Snyk] Upgrade @aws-sdk/lib-dynamodb from 3.499.0 to 3.540.0 (#3694)
  tarpon/.yarnrc.yml
  tarpon/package.json
  tarpon/yarn.lock
Owners: @flagright/engineering

Launch forensics in us-1 (#3682)
  databricks/infra/.gitignore
  lib/config/config-prod-us-1.ts
Owners: @flagright/engineering

[Snyk] Upgrade aws-cdk-lib from 2.132.1 to 2.134.0 (#3688)
  package.json
  yarn.lock
Owners: @flagright/engineering

Revert deployment changes
  databricks/infra/main.ts
  databricks/infra/package.json
Owners: @flagright/engineering

Disable test coverage action - temporary (#3700)
  .github/workflows/test_tarpon.yml
Owners: @flagright/engineering

Implement QA analytics - alerts overview by assignee (#3672)
  phytoplankton-console/cypress/e2e/dashboard/widgets-selection-and-loading-test.cy.ts
  phytoplankton-console/src/components/ui/colors.less
  phytoplankton-console/src/pages/dashboard/analysis/components/Qa/QaAlertsByAssignee/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Qa/QaAlertsByAssignee/styles.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/charts/BarChart/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/charts/BarChart/styles.module.less
  phytoplankton-console/src/pages/dashboard/analysis/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/scripts/migrations/post-deployment/2024.04.16T09.53.12.refresh-qa-alerts-by-assignee.ts
  tarpon/src/lambdas/console-api-dashboard/app.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/qa-alerts-by-assignee.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-stats-repository.ts
  tarpon/src/utils/mongodb-definitions.ts
Owners: @flagright/engineering

Only deploy on merging a PR (#3706)
  .github/workflows/deploy_orca.yaml
  .github/workflows/deploy_orca_pipeline.yaml
Owners: @flagright/engineering

Fix Sentry Error Rule Not Found (#3707)
  tarpon/src/services/rules-engine/rule-instance-service.ts
  tarpon/src/services/rules-engine/rule-service.ts
Owners: @chialunwu, @madhug-nadig

V8: support aggregation group by field (#3665)
  phytoplankton-console/src/components/library/Alert/index.module.less
  phytoplankton-console/src/components/library/Alert/index.tsx
  phytoplankton-console/src/components/library/Label/index.tsx
  phytoplankton-console/src/components/library/Label/style.module.less
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/steps/RuleParametersStep/utils.ts
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/VariableTimeWindow/index.module.less
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/VariableTimeWindow/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/package.json
  tarpon/src/lambdas/console-api-rule/app.ts
  tarpon/src/services/batch-jobs/ongoing-screening-user-rule-batch-job-runner.ts
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/rule-service.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/v8-engine/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-engine/__tests__/utils.test.ts
  tarpon/src/services/rules-engine/v8-engine/aggregation-repository.ts
  tarpon/src/services/rules-engine/v8-engine/index.ts
  tarpon/src/services/rules-engine/v8-engine/utils.ts
  tarpon/src/services/rules-engine/v8-variable-aggregators/index.ts
  tarpon/src/services/rules-engine/v8-variables/index.ts
Owners: @flagright/engineering, @chialunwu, @madhug-nadig

Show all white-label tenants in the tenant list (#3699)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/utils/branding.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/services/accounts/index.ts
  tarpon/src/utils/auth0-utils.ts
Owners: @flagright/engineering

Fix R-118 parameter name/description (#3705)
  tarpon/src/services/rules-engine/transaction-rules/payment-method-name-levensthein-distance.ts
Owners: @flagright/engineering

Return library field back to default (#3702)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/EntityVariableForm.tsx
Owners: @flagright/engineering

Rules Hit Filter Fix (#3709)
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
Owners: @flagright/engineering

Refractor Risk Factors Validation (#3710)
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/consts.tsx
Owners: @flagright/engineering

R-118: remove checkDirection parameter (#3711)
  tarpon/scripts/migrations/post-deployment/2024.04.17T13.53.56.update-r-118.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/library.test.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/transaction-rules/payment-method-name-levensthein-distance.ts
Owners: @flagright/engineering

Fix User Filter in User Ongoing Rules (#3712)
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/user-ongoing-rules/__tests__/user-inactivity.test.ts
Owners: @chialunwu, @madhug-nadig, @flagright/engineering

Fix e2e test of switching tenants (#3714)
  phytoplankton-console/cypress/e2e/basic/superadmin-switch-tenant.cy.ts
  phytoplankton-console/cypress/support/commands.ts
  phytoplankton-console/cypress/support/index.ts
Owners: @flagright/engineering

Add assignees with 0% (#3713)
  phytoplankton-console/src/pages/dashboard/analysis/components/Qa/QaAlertsByAssignee/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Qa/QaAlertsByAssignee/styles.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/Qa/QaOverview/index.tsx
  tarpon/scripts/migrations/post-deployment/2024.04.17T17.29.58.refresh-qa-stats.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/qa-alerts-by-assignee.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/qa-alerts-by-rule-stats.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/qa-overview.ts
Owners: @flagright/engineering

Tooltip in Select component (#3701)
  phytoplankton-console/src/components/library/Select/index.tsx
  phytoplankton-console/src/components/library/Select/story.tsx
  phytoplankton-console/src/components/ui/LogicBuilder/helpers.tsx
Owners: @flagright/engineering

Use Modal to configure variables (#3696)
  phytoplankton-console/cypress/e2e/rules/create-scenario.cy.ts
  phytoplankton-console/src/components/library/Modal/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/EntityVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/style.module.less
Owners: @flagright/engineering
