Repository ArjitJindal/temp-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flagright/engineering, @madhug-nadig, @timrcoulson, @chialunwu, @koluch

.github/CODEOWNERS:

# By default, one of the engineering team must approve a PR.
*       @flagright/engineering

# RBAC
tarpon/src/core/default-roles.ts  @madhug-nadig @timrcoulson

# Public APIs
tarpon/src/lambdas/public-* @chialunwu @timrcoulson @madhug-nadig

# Rules Engine
tarpon/src/services/rules-engine/* @chialunwu @madhug-nadig

# Core frontend components
phytoplankton-console/src/components/library/* @chialunwu @koluch

Convert R-77 to V8 (#3307)
  tarpon/src/services/rules-engine/transaction-rules/__tests__/too-many-transactions-to-high-risk-country.test.ts
  tarpon/src/services/rules-engine/v8-migrations/index.ts
Owners: @flagright/engineering

V8 migration - R-9 (Too many users transacting with a single counterparty) (#3330)
  tarpon/src/services/rules-engine/transaction-rules/__tests__/multiple-user-senders-within-time-period.test.ts
  tarpon/src/services/rules-engine/v8-migrations/index.ts
Owners: @flagright/engineering

Automated tests coverage - compared to main branch coverage (#3140)
  .github/workflows/postmerge_tarpon.yml
  .github/workflows/test_tarpon.yml
  tarpon/package.json
  tarpon/scripts/coverage-report/comment.ts
  tarpon/scripts/coverage-report/diff.ts
  tarpon/scripts/coverage-report/index.ts
  tarpon/tsconfig.json
  tarpon/yarn.lock
Owners: @flagright/engineering

Implement Mentions Frontend (#3322)
  phytoplankton-console/src/components/CommentButton/index.tsx
  phytoplankton-console/src/components/CommentEditor/index.tsx
  phytoplankton-console/src/components/markdown/MarkdownEditor/index.tsx
  phytoplankton-console/src/components/markdown/MarkdownEditor/mention-utlis.ts
  phytoplankton-console/src/components/markdown/MarkdownEditor/styles.module.less
  phytoplankton-console/src/components/markdown/MarkdownViewer/index.module.less
  phytoplankton-console/src/components/markdown/MarkdownViewer/index.tsx
  phytoplankton-console/src/components/markdown/story.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/AlertExpanded/Comments/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/index.tsx
  phytoplankton-console/src/pages/storybook/index.tsx
Owners: @flagright/engineering

Added Backend Support For Comment Replies (#3342)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/console-api-case/services/case-service.ts
  tarpon/src/lambdas/console-api-user/app.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/rules-engine/repositories/alerts-repository.ts
  tarpon/src/services/rules-engine/repositories/case-repository.ts
  tarpon/src/services/users/index.ts
  tarpon/src/services/users/repositories/user-repository.ts
Owners: @flagright/engineering

Add Case/Alert Un assignment Notifications (#3350)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/notifications/__tests__/index.test.ts
  tarpon/src/services/notifications/index.ts
  tarpon/src/services/notifications/subscriptions/alert-unassignment.ts
  tarpon/src/services/notifications/subscriptions/case-unassignment.ts
  tarpon/src/services/notifications/subscriptions/utils/assignments.ts
Owners: @flagright/engineering

Fetch alerts correctly for payment approvals (#3351)
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/ExpandedRowRenderer/RuleAndCaseDetails/index.tsx
Owners: @flagright/engineering

Unskip copilot/copilot-test.cy.ts (#3352)
  phytoplankton-console/cypress/e2e/ai-forensics/ai-forensics-test.cy.ts
  tarpon/src/services/copilot/questions/question-service.ts
Owners: @flagright/engineering

FR-4237 DOM test for slider component (#3302)
  phytoplankton-console/src/components/library/Slider/__tests__/slider.dom.test.tsx
Owners: @flagright/engineering

Minor fixes for rules pages (#3353)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/index.tsx
  phytoplankton-console/src/pages/rules/rules-item/index.tsx
Owners: @flagright/engineering

Case/ Alert escalations notification (#3354)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/@types/audit-log/index.ts
  tarpon/src/@types/notifications/index.d.ts
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/console-api-case/services/case-alerts-audit-log-service.ts
  tarpon/src/lambdas/console-api-case/services/case-service.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/notifications/__tests__/index.test.ts
  tarpon/src/services/notifications/index.ts
  tarpon/src/services/notifications/subscriptions/alert-escalation.ts
  tarpon/src/services/notifications/subscriptions/case-escalation.ts
  tarpon/src/services/notifications/subscriptions/utils/assignments.ts
Owners: @flagright/engineering

Return multiple questions in one response with forensics (#3345)
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/types.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-copilot/app.ts
  tarpon/src/services/copilot/questions/question-service.ts
Owners: @flagright/engineering

Migrate public api from stoplight to fern (#3285)
  .github/sync.yml
  tarpon/lib/openapi/public/docs/api-reference.md
  tarpon/lib/openapi/public/docs/beacon-transaction-monitoring.md
  tarpon/lib/openapi/public/docs/flagright-overview.md
  tarpon/lib/openapi/public/docs/pulse-risk-profiling.md
  tarpon/lib/openapi/public/docs/sdk.md
  tarpon/lib/openapi/public/docs/using-modules-independently.md
  tarpon/lib/openapi/public/docs/webhooks-events.md
  tarpon/lib/openapi/public/docs/webhooks-overview.md
  tarpon/lib/openapi/public/docs/webhooks-signatures.md
  tarpon/lib/openapi/public/docs/why-risk-based-transaction-monitoring.md
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/lib/openapi/public/toc.json
  tarpon/scripts/openapi/openapi_publish.js
  tarpon/src/lambdas/webhook-deliverer/__tests__/webhook-delivery-handler.test.ts
  tarpon/src/lambdas/webhook-deliverer/app.ts
Owners: @flagright/engineering

Fix forensics (#3357)
  databricks/infra/main.ts
  tarpon/src/services/copilot/questions/question-service.ts
Owners: @flagright/engineering

Fix default currency template keyword not being replaced (#3358)
  tarpon/src/lambdas/console-api-rule/app.ts
  tarpon/src/services/rules-engine/rule-service.ts
Owners: @flagright/engineering, @chialunwu, @madhug-nadig

Fix databricks deployment
  databricks/infra/main.ts
Owners: @flagright/engineering

FR-4241 DOM test for stepper component (#3308)
  phytoplankton-console/src/components/library/Stepper/__tests__/stepper.dom.test.tsx
  phytoplankton-console/src/components/library/Stepper/index.tsx
Owners: @flagright/engineering

FR-4205 Align widget header for ai forensics (#3319)
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemLayout/Variables/index.module.less
Owners: @flagright/engineering

Make it clear Rate limits are in RPS (#3326)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/tenants/index.ts
Owners: @flagright/engineering

#FR-4097: Fix occasional rule logic builder crash (#3343)
  phytoplankton-console/src/components/ui/LogicBuilder/helpers.tsx
  phytoplankton-console/src/components/ui/LogicBuilder/index.tsx
Owners: @flagright/engineering

Fix Roles were setting twice while inviting (#3363)
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/roles/index.ts
Owners: @flagright/engineering

Fix typo: openapi -> openai (#3361)
  tarpon/src/lambdas/console-api-sar/app.ts
  tarpon/src/services/copilot/copilot-service.ts
  tarpon/src/services/copilot/questions/question-service.ts
  tarpon/src/services/merchant-monitoring/merchant-monitoring-scrape.ts
  tarpon/src/services/rules-engine/rule-service.ts
  tarpon/src/utils/openai.ts
Owners: @flagright/engineering, @chialunwu, @madhug-nadig

Add functions to do type conversion and to truncate decimals (#3364)
  tarpon/src/services/rules-engine/v8-functions/__tests__/resources/functions.json
  tarpon/src/services/rules-engine/v8-functions/__tests__/truncate-decimal.test.ts
  tarpon/src/services/rules-engine/v8-functions/__tests__/type-conversion.test.ts
  tarpon/src/services/rules-engine/v8-functions/index.ts
  tarpon/src/services/rules-engine/v8-functions/truncate-decimals.ts
  tarpon/src/services/rules-engine/v8-functions/type-convertion.ts
Owners: @flagright/engineering

Support Mentions in Comments (#3359)
  lib/constants/index.ts
  lib/constants/mentions.ts
  phytoplankton-console/src/components/CommentEditor/index.tsx
  phytoplankton-console/src/components/markdown/MarkdownEditor/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/console-api-user/app.ts
  tarpon/src/utils/helpers.ts
Owners: @flagright/engineering

Migrate R-2 to V8 (#3362)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transaction-amount.test.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/v8-migrations/index.ts
  tarpon/src/test-utils/rule-test-utils.ts
Owners: @flagright/engineering

Simulation fixes (#3367)
  phytoplankton-console/src/pages/risk-levels/configure/SimulateRiskClassification/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/RuleConfigurationSimulation/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/style.module.less
  phytoplankton-console/src/pages/rules/RuleConfiguration/index.tsx
  phytoplankton-console/src/pages/rules/RulesTable/index.tsx
  phytoplankton-console/src/pages/rules/my-rules/index.tsx
  phytoplankton-console/src/pages/rules/rules-item/index.tsx
  phytoplankton-console/src/pages/rules/utils.ts
Owners: @flagright/engineering

Log requests/responses to GPT (#3327)
  tarpon/src/utils/mongodb-definitions.ts
  tarpon/src/utils/openai.ts
Owners: @flagright/engineering

Fix double-counting issue of dashboard user stats (#3372)
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseManagement/DistributionByStatus/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TransactionTRSChartCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TransactionsChartWidget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/charts/Column/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/widgets/DistributionChartWidget/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/pre-deployment/2024.02.28T10.06.42.fix-dashboard-user-stats.ts
  tarpon/src/lambdas/console-api-dashboard/app.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/__tests__/dashboard-stats-repository.transactions.test.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/__tests__/dashboard-stats-repository.user-stats.test.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/transaction-stats.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/user-stats.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/utils.ts
Owners: @flagright/engineering

V8: Add "Check for sender / receiver" option for aggregation variable (#3347)
  phytoplankton-console/cypress/e2e/rules/create-scenario.cy.ts
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/index.tsx
  tarpon/jest-setup.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/pre-deployment/2024.01.10T08.13.59.migrate-R54-To-R55.ts
  tarpon/scripts/migrations/pre-deployment/2024.02.26T15.24.55.v8-agg-var-direction.ts
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/repositories/__tests__/rule-instance-repository.test.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/v8-engine/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-engine/aggregation-repository.ts
  tarpon/src/services/rules-engine/v8-engine/index.ts
  tarpon/src/services/rules-engine/v8-migrations/index.ts
  tarpon/src/services/rules-engine/v8-migrations/utils.ts
  tarpon/src/test-utils/dynamodb-test-utils.ts
Owners: @flagright/engineering, @chialunwu, @madhug-nadig

Use GPT3 for Filters Search (#3370)
  tarpon/src/services/rules-engine/rule-service.ts
  tarpon/src/utils/openai.ts
Owners: @chialunwu, @madhug-nadig, @flagright/engineering

FR-3871 Case creation test (#3114)
  phytoplankton-console/cypress/e2e/cases/case-creation-test.cy.ts
  phytoplankton-console/cypress/support/commands.ts
  phytoplankton-console/cypress/support/index.ts
  phytoplankton-console/cypress/support/utils.ts
Owners: @flagright/engineering

Weights for Risk Scoring (#3368)
  phytoplankton-console/package.json
  phytoplankton-console/src/components/ui/AIRiskDisplay/index.tsx
  phytoplankton-console/src/components/ui/RiskScoreDisplay/DetailsModal/consts.tsx
  phytoplankton-console/src/components/ui/RiskScoreDisplay/DetailsModal/index.tsx
  phytoplankton-console/src/components/ui/RiskScoreDisplay/story.tsx
  phytoplankton-console/src/pages/risk-levels/risk-algorithms/RiskAlgorithm/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-algorithms/RiskAlgorithm/style.module.less
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/ValuesTable/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/ValuesTable/style.module.less
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/consts.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/types.ts
  phytoplankton-console/src/pages/risk-levels/risk-factors/index.tsx
  phytoplankton-console/yarn.lock
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/pre-deployment/2024.02.28T13.48.42.add-weights-to-all-risk-factors.ts
  tarpon/src/core/seed/samplers/risk_score_components.ts
  tarpon/src/lambdas/batch-job/__tests__/simulation-pulse-batch-job-runner.test.ts
  tarpon/src/services/risk-scoring/__tests__/3ds-done-risk-factor.test.ts
  tarpon/src/services/risk-scoring/__tests__/card-issued-country.test.ts
  tarpon/src/services/risk-scoring/__tests__/domestic-foreign-country-risk-factor.test.ts
  tarpon/src/services/risk-scoring/__tests__/ipAddressCountry.test.ts
  tarpon/src/services/risk-scoring/__tests__/mcc-code.test.ts
  tarpon/src/services/risk-scoring/__tests__/risk-scoring-service.test.ts
  tarpon/src/services/risk-scoring/__tests__/transaction-amount-risk-factor.test.ts
  tarpon/src/services/risk-scoring/__tests__/user-age-risk-factor.test.ts
  tarpon/src/services/risk-scoring/__tests__/user-type.test.ts
  tarpon/src/services/risk-scoring/risk-scoring-service.ts
  tarpon/src/services/risk-scoring/utils.ts
  tarpon/src/test-utils/pulse-test-utils.ts
Owners: @flagright/engineering

Add missing index (#3375)
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/transaction-stats.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/user-stats.ts
Owners: @flagright/engineering

Notifications for Mentions (#3373)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/@types/notifications/index.d.ts
  tarpon/src/services/notifications/__tests__/index.test.ts
  tarpon/src/services/notifications/index.ts
  tarpon/src/services/notifications/subscriptions/alert-comment-mention.ts
  tarpon/src/services/notifications/subscriptions/case-comment-mention.ts
  tarpon/src/services/notifications/subscriptions/user-comment-mention.ts
  tarpon/src/services/notifications/subscriptions/utils/comment-mention.ts
Owners: @flagright/engineering

#FR-4281: V8: Separate Create Rule Feature flag with Rule Config (#3348)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Owners: @flagright/engineering

Revert "FR-3871 Case creation test" (#3377)
  phytoplankton-console/cypress/e2e/cases/case-creation-test.cy.ts
  phytoplankton-console/cypress/support/commands.ts
  phytoplankton-console/cypress/support/index.ts
  phytoplankton-console/cypress/support/utils.ts
Owners: @flagright/engineering

Create V8 key migration util (#3338)
  tarpon/jest.config.ts
  tarpon/scripts/migrations/utils/__tests__/rule-utils.test.ts
  tarpon/scripts/migrations/utils/rule.ts
Owners: @flagright/engineering

V8: fix using wrong cached operator results (#3379)
  tarpon/src/services/rules-engine/v8-engine/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-engine/index.ts
Owners: @flagright/engineering

Remove unique count and unique value function options for high cardinality fields (#3332)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
  tarpon/src/utils/__tests__/dynamodb.test.ts
  tarpon/src/utils/dynamodb.ts
Owners: @flagright/engineering

Optimize to only fetch required attributes (#3339)
  tarpon/src/services/rules-engine/v8-engine/index.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-variables/index.ts
  tarpon/src/services/rules-engine/v8-variables/payment-details.ts
  tarpon/src/services/rules-engine/v8-variables/transaction-time.ts
  tarpon/src/services/rules-engine/v8-variables/types.ts
Owners: @flagright/engineering
