Repository ArjitJindal/temp-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flagright/engineering, @madhug-nadig, @timrcoulson, @chialunwu, @koluch

Fix unable to load krs score (#4263)
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/utils.ts
  phytoplankton-console/src/pages/users-item/UserDetails/KycRiskDisplay/index.tsx
Owners: @flagright/engineering

Skip region validation for AWS provider to avoid me-central-1 issue (#4265)
  viper/infra/main.ts
Owners: @flagright/engineering

Always hit both origin/destination users for several V2 rules (#4264)
  tarpon/src/lambdas/public-api-rules-engine/__tests__/app.test.ts
  tarpon/src/services/analytics/dashboard-metrics/__tests__/dashboard-stats-repository.case-management-stats.test.ts
  tarpon/src/services/cases/__tests__/case-creation-service.test.ts
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/__tests__/user-rules-engine-service.test.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/transaction-rules/blacklist-card-issued-country.ts
  tarpon/src/services/rules-engine/transaction-rules/blacklist-payment-details.ts
  tarpon/src/services/rules-engine/transaction-rules/high-risk-countries.ts
  tarpon/src/services/rules-engine/transaction-rules/high-risk-currency.ts
  tarpon/src/services/rules-engine/transaction-rules/high-risk-ip-address-countries.ts
  tarpon/src/test-utils/rule-test-utils.ts
Owners: @chialunwu, @timrcoulson, @madhug-nadig, @flagright/engineering

Fix KycRiskDisplay crash (#4267)
  phytoplankton-console/src/components/ui/RiskScoreDisplay/MainPanel/index.tsx
  phytoplankton-console/src/utils/risk-levels.tsx
Owners: @flagright/engineering

Bump terraform CLI version (#4268)
  bin/constants/terraform-commands.ts
Owners: @flagright/engineering

Fix tenant deletion job - S3 (#4269)
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
Owners: @flagright/engineering

Fix: Transactions on user’s page show the first state (#4270)
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/helpers.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/index.tsx
Owners: @flagright/engineering

Run V2 Rules on V8 (#4070)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/pages/rules/utils.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/migrator.ts
  tarpon/scripts/migrations/utils/__tests__/rule-utils.test.ts
  tarpon/src/core/utils/context.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/services/batch-jobs/rule-pre-aggregation-batch-job-runner.ts
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/__tests__/user-rules-engine-service.test.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
  tarpon/src/services/rules-engine/rule-instance-service.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/utils.ts
  tarpon/src/services/rules-engine/v8-migrations/index.ts
  tarpon/src/services/tenants/index.ts
Owners: @flagright/engineering, @chialunwu, @madhug-nadig

Show placeholder rule condition by default (#4257)
  phytoplankton-console/src/components/ui/LogicBuilder/helpers.tsx
Owners: @flagright/engineering

Add rule alerts stats to dashboard refresh (#4195)
  tarpon/scripts/migrations/post-deployment/2024.06.25T07.53.42.recalculate-rule-alerts-stats.ts
  tarpon/src/services/analytics/dashboard-metrics/rule-stats.ts
  tarpon/src/services/batch-jobs/__tests__/dashboard-refresh-batch-job-runner.test.ts
  tarpon/src/services/dashboard/repositories/dashboard-stats-repository.ts
Owners: @flagright/engineering

Enhance date filter for rule analytics (#4240)
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/RuleInstanceAnalytics.tsx
Owners: @flagright/engineering

Add user variables to transaction risk factors variable option (#4275)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/EntityVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/index.tsx
Owners: @flagright/engineering

Fix trs score entity variable when filters are defined (#4276)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/scripts/debug-rule/verify-remote-transactions.ts
  tarpon/src/services/rules-engine/repositories/transaction-event-repository.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/utils/transaction-rule-utils.ts
  tarpon/src/services/rules-engine/v8-engine/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-engine/index.ts
  tarpon/src/services/rules-engine/v8-variables/trs-score.ts
  tarpon/src/test-utils/transaction-test-utils.ts
Owners: @flagright/engineering, @chialunwu, @madhug-nadig

Don't patch monitored CA search unnecessarily (#4271)
  tarpon/src/services/sanctions/index.ts
Owners: @flagright/engineering

Fix v2 rule instance unable to be updated (#4278)
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
  tarpon/src/services/rules-engine/rule-instance-service.ts
Owners: @flagright/engineering, @chialunwu, @madhug-nadig

Get back to entity type select for sanctions hits table (#4279)
  phytoplankton-console/src/components/ScreeningMatchList/index.module.less
  phytoplankton-console/src/components/ScreeningMatchList/index.tsx
Owners: @flagright/engineering

Sync case users in the kinesis consumer instead (#4280)
  tarpon/scripts/migrations/post-deployment/2024.06.24T14.37.49.sync-users-and-cases.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/cases/__tests__/case-service.test.ts
  tarpon/src/services/cases/repository.ts
  tarpon/src/services/rules-engine/rule-instance-service.ts
  tarpon/src/services/rules-engine/user-rules-engine-service.ts
  tarpon/src/services/users/index.ts
Owners: @flagright/engineering, @chialunwu, @madhug-nadig

Upgrade aws-cdk from 2.144.0 to 2.145.0
  package.json
  yarn.lock
Owners: @flagright/engineering

Reflect the actual behaviour for minute aggregation time window in console (#4227)
  lib/constants/index.ts
  lib/constants/rules-engine.ts
  lib/rules-engine/index.ts
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
  tarpon/src/services/rules-engine/utils/transaction-rule-utils.ts
  tarpon/src/services/rules-engine/v8-engine/index.ts
Owners: @flagright/engineering

Upgrade aws-cdk-lib from 2.142.1 to 2.146.0
  lib/package.json
  lib/yarn.lock
Owners: @flagright/engineering

Upgrade aws-cdk-lib from 2.142.1 to 2.146.0
  package.json
  yarn.lock
Owners: @flagright/engineering

V8: ‘Not similar to’ operator missing fuzziness scale (#4262)
  tarpon/src/services/rules-engine/v8-operators/similar-to-words.ts
  tarpon/src/services/rules-engine/v8-operators/similar-to.ts
  tarpon/src/services/rules-engine/v8-operators/utils.ts
Owners: @flagright/engineering

Close Seis false positive alerts (#4251)
  tarpon/scripts/migrations/post-deployment/2024.07.03T07.02.00.close-false-positive-alerts-for-seis.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/cases/index.ts
Owners: @flagright/engineering

Rule analytics - false positive rate and links to transaction/users/alerts (#4136)
  phytoplankton-console/src/pages/auditlog/components/AuditLog/AuditLog.tsx
  phytoplankton-console/src/pages/auditlog/components/AuditLog/helpers.ts
  phytoplankton-console/src/pages/dashboard/analysis/components/charts/Line/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/widgets/OverviewCard/OverviewCardSection/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/widgets/OverviewCard/OverviewCardSection/styles.module.less
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/RuleInstanceAnalytics.tsx
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/styles.module.less
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2024.07.05T06.31.28.update.ts
  tarpon/src/services/alerts/repository.ts
  tarpon/src/services/rules-engine/__tests__/rule-instance-service.test.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
  tarpon/src/services/rules-engine/rule-instance-service.ts
Owners: @flagright/engineering, @chialunwu, @madhug-nadig

Fix Avg TRS score defaulting to 0.00 (#4291)
  phytoplankton-console/src/pages/users-item/UserDetails/UserTrsRiskDisplay.tsx
Owners: @flagright/engineering

Improve v8 built-in operator labels (#4288)
  phytoplankton-console/src/components/ui/LogicBuilder/operators.ts
  tarpon/src/services/rules-engine/utils.ts
Owners: @flagright/engineering, @chialunwu, @madhug-nadig

Fix the logic of skipping v8 pre-aggregation (#4292)
  tarpon/scripts/migrations/post-deployment/2024.07.08T16.00.09.backfill-v8-pre-aggregation.ts
  tarpon/src/lambdas/transaction-aggregation/app.ts
  tarpon/src/services/rules-engine/utils.ts
Owners: @flagright/engineering, @chialunwu, @madhug-nadig

Show a list of applicable whitelist names in rule configuration (#4287)
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/types.ts
  phytoplankton-console/src/components/ui/LogicBuilder/ListSelect/index.tsx
  tarpon/src/services/rules-engine/user-filters/whitelist-users.ts
Owners: @flagright/engineering

Update pepCountry schema to ENUM (#4298)
  tarpon/lib/openapi/public/openapi-public-original.yaml
Owners: @flagright/engineering

Upgrade @slack/web-api from 7.0.4 to 7.1.0
  package.json
  yarn.lock
Owners: @flagright/engineering

Deploy sandbox to asia-1 (#4290)
  bin/cdk-orca-pipeline-stack.ts
  lib/config/config-sandbox-asia-1.ts
  lib/config/config-sandbox-eu-1.ts
  lib/constants/config.ts
  lib/constants/deploy.ts
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/ApiProvider.tsx
  tarpon/cdk.context.json
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/infra/cdk-utils/cdk-lambda-utils.ts
  tarpon/package.json
  tarpon/src/services/accounts/index.ts
Owners: @flagright/engineering

#FR-5096: Use Label instead of ant's ProDescriptions (#4284)
  phytoplankton-console/src/pages/users-item/UserDetails/BusinessUserDetails/TransactionLimits/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/BusinessUserDetails/TransactionLimits/styles.module.less
Owners: @flagright/engineering

Add array check in Donut (#4293)
  phytoplankton-console/src/pages/dashboard/analysis/components/charts/Donut/index.tsx
Owners: @flagright/engineering

Humanise rule nature filter options (#4294)
  phytoplankton-console/src/pages/case-management/helpers.tsx
Owners: @flagright/engineering

Use local tarpon for local env (#4300)
  phytoplankton-console/config/config.sandbox.json
  phytoplankton-console/src/components/AppWrapper/Providers/ApiProvider.tsx
Owners: @flagright/engineering

Fix sandbox deployment (#4304)
  tarpon/package.json
  tarpon/scripts/cross-tenant-query.ts
  tarpon/src/lambdas/api-key-generator/app.ts
  tarpon/src/lambdas/jwt-authorizer/app.ts
Owners: @flagright/engineering

Upgrade @types/lodash from 4.17.4 to 4.17.5
  package.json
  yarn.lock
Owners: @flagright/engineering

Support Address Lines in V8 as variable (#4283)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/core/seed/samplers/address.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/resources/entity-variables.json
  tarpon/src/services/rules-engine/v8-variables/index.ts
  tarpon/src/services/rules-engine/v8-variables/utils.ts
Owners: @flagright/engineering

Fix v8 pre-aggregation issues (#4310)
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-alarms-stack.ts
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/infra/cdk-utils/cdk-cw-alarms-utils.ts
  tarpon/lib/constants.ts
  tarpon/scripts/migrations/utils/config.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/lambdas/transaction-aggregation/app.ts
  tarpon/src/lambdas/transaction-events-consumer/app.ts
  tarpon/src/services/batch-jobs/__tests__/batch-job-trigger.test.ts
  tarpon/src/services/batch-jobs/__tests__/rule-pre-aggregation-batch-job-runner.test.ts
  tarpon/src/services/batch-jobs/rule-pre-aggregation-batch-job-runner.ts
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
  tarpon/src/services/rules-engine/rule-instance-service.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/v8-engine/index.ts
Owners: @flagright/engineering, @chialunwu, @madhug-nadig

Fix complyadvantage monitored search (#4311)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/incoming-webhooks/app.ts
Owners: @flagright/engineering

.github/CODEOWNERS:

# By default, one of the engineering team must approve a PR.
*       @flagright/engineering

# RBAC
tarpon/src/core/default-roles.ts  @madhug-nadig @timrcoulson

# Public APIs
tarpon/src/lambdas/public-* @chialunwu @timrcoulson @madhug-nadig

# Rules Engine
tarpon/src/services/rules-engine/* @chialunwu @madhug-nadig

# Core frontend components
phytoplankton-console/src/components/library/* @chialunwu @koluch
