Repository ArjitJindal/temp-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flagright/engineering, @madhug-nadig, @timrcoulson, @chialunwu, @koluch

#FR-5647: Fix table component select actions bug (#4869)
  phytoplankton-console/src/components/library/Table/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
Owners: @flagright/engineering

Upgrade @aws-sdk/client-athena from 3.606.0 to 3.651.1
  tarpon/package.json
  tarpon/yarn.lock
Owners: @flagright/engineering

PNB Backfill (#4871)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/infra/cdk-utils/cdk-fargate-utils.ts
  tarpon/jest-setup.ts
  tarpon/package.json
  tarpon/scripts/migrations/post-deployment/2024.03.04T22.32.18.backfill-sanctions-screening-details.ts
  tarpon/scripts/migrations/post-deployment/2024.05.15T08.34.31.update-hits-per-user-for-rule-hit-count.ts
  tarpon/scripts/migrations/post-deployment/2024.06.05T08.45.43.update-transaction-with-alertIds.ts
  tarpon/scripts/migrations/post-deployment/2024.06.19T12.13.54.recalculate-rule-hit-and-alerts-stats.ts
  tarpon/scripts/migrations/post-deployment/2024.07.09T07.16.39.remove-shadow-rule-stats-from-dashboard.ts
  tarpon/scripts/migrations/utils/cleanup-rule-hits.ts
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/core/logger/index.ts
  tarpon/src/core/utils/context.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/lambdas/mongo-db-trigger-consumer/index.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/pnb-backfill-entities-fargate-batch-job.ts
  tarpon/src/services/batch-jobs/pnb-backfill-transactions-fargate-batch-job.ts
  tarpon/src/services/currency/repository.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/utils/__tests__/currency-utils.test.ts
  tarpon/src/utils/dynamodb.ts
  tarpon/src/utils/migration-progress.ts
  tarpon/yarn.lock
Owners: @flagright/engineering

Added CRA Risk Level Update Webhook (#4901)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/core/middlewares/request-logger.ts
  tarpon/src/lambdas/hammerhead-change-mongodb-consumer/app.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
  tarpon/src/utils/lambda.ts
Owners: @flagright/engineering

Reference word count in Clickhouse (#4787)
  tarpon/src/services/copilot/questions/definitions/common/pagination.ts
  tarpon/src/services/copilot/questions/definitions/reference-word-count.ts
  tarpon/src/services/copilot/questions/definitions/unique-payment-identifier.ts
Owners: @flagright/engineering

V8: enable unique count/values for tags (#4797)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/logic-evaluator/engine/__tests__/index.test.ts
  tarpon/src/services/logic-evaluator/engine/aggregation-repository.ts
  tarpon/src/services/logic-evaluator/engine/index.ts
  tarpon/src/services/logic-evaluator/variable-aggregators/__tests__/average.test.ts
  tarpon/src/services/logic-evaluator/variable-aggregators/__tests__/count.test.ts
  tarpon/src/services/logic-evaluator/variable-aggregators/__tests__/max.test.ts
  tarpon/src/services/logic-evaluator/variable-aggregators/__tests__/min.test.ts
  tarpon/src/services/logic-evaluator/variable-aggregators/__tests__/sum.test.ts
  tarpon/src/services/logic-evaluator/variable-aggregators/__tests__/unique.test.ts
  tarpon/src/services/logic-evaluator/variable-aggregators/average.ts
  tarpon/src/services/logic-evaluator/variable-aggregators/max.ts
  tarpon/src/services/logic-evaluator/variable-aggregators/min.ts
  tarpon/src/services/logic-evaluator/variable-aggregators/sum.ts
  tarpon/src/services/logic-evaluator/variable-aggregators/types.ts
  tarpon/src/services/logic-evaluator/variable-aggregators/unique.ts
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
Owners: @flagright/engineering

Add alias and tax residence country to API schema (#4909)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/logic-evaluator/variables/__tests__/resources/entity-variables.json
Owners: @flagright/engineering

Centralize Cases and Alerts Mutation (#4794)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/infra/cdktf-tarpon-stack.ts
  tarpon/lib/constants.ts
  tarpon/lib/lambdas.ts
  tarpon/src/lambdas/mongo-db-trigger-consumer/__tests__/index.test.ts
  tarpon/src/lambdas/mongo-db-trigger-consumer/app.ts
  tarpon/src/lambdas/mongo-db-trigger-consumer/index.ts
  tarpon/src/services/alerts/repository.ts
  tarpon/src/services/batch-jobs/pnb-backfill-entities-fargate-batch-job.ts
  tarpon/src/services/cases/repository.ts
  tarpon/src/services/currency/index.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/utils/__tests__/currency-utils.test.ts
  tarpon/src/utils/clickhouse/utils.ts
  tarpon/src/utils/mongodb-utils.ts
Owners: @flagright/engineering

Increase sanctions memory (#4912)
  lib/config/config.ts
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-console-api-stack.ts
Owners: @flagright/engineering

Update screening logic for PNB (#4872)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2024.10.01T14.47.12.add-associates-to-dow-jones.ts
  tarpon/scripts/migrations/pre-deployment/2024.10.01T14.33.12.update-rule-parameter.ts
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/services/batch-jobs/__tests__/ongoing-screening-user-rule-batch-job-runner.test.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/user-rules/__tests__/sanctions-consumer-user.test.ts
  tarpon/src/services/rules-engine/user-rules/dowjones-consumer-user.ts
  tarpon/src/services/rules-engine/user-rules/index.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
  tarpon/src/services/sanctions/__tests__/dow-jones.test.ts
  tarpon/src/services/sanctions/__tests__/sanctions-repository.test.ts
  tarpon/src/services/sanctions/providers/dow-jones-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/repositories/sanctions-repository.ts
  tarpon/src/services/sanctions/repositories/sanctions-search-repository.ts
  tarpon/src/utils/mongodb-definitions.ts
Owners: @flagright/engineering

Fix regression when missing fuzzinessRange leads to cache miss (#4913)
  tarpon/src/services/sanctions/__tests__/index.test.ts
  tarpon/src/services/sanctions/repositories/sanctions-search-repository.ts
Owners: @flagright/engineering

Fix float extraction (#4916)
  tarpon/src/utils/clickhouse/definition.ts
  tarpon/src/utils/clickhouse/utils.ts
Owners: @flagright/engineering

Enable multiple risk factor configurations for one risk level (#4910)
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/RiskFactorConfigurationStep/LogicDefinitionCard/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/RiskFactorConfigurationStep/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2024.10.08T06.08.46.update-risk-level-logic-for-risk-factors.ts
  tarpon/src/lambdas/public-api-user-management/__tests__/app.test.ts
  tarpon/src/services/risk-scoring/__tests__/risk-scoring-v8-service.test.ts
  tarpon/src/services/risk-scoring/risk-scoring-v8-service.ts
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/__tests__/user-rules-engine-service.test.ts
  tarpon/src/test-utils/pulse-test-utils.ts
Owners: @flagright/engineering, @chialunwu, @timrcoulson, @madhug-nadig

Configure PEP status and update on rule hit also add ability to update tags on rule hit (#4773)
  phytoplankton-console/src/components/UserStatusTriggersAdvancedOptionsForm/components/TagsInput.tsx
  phytoplankton-console/src/components/UserStatusTriggersAdvancedOptionsForm/index.tsx
  phytoplankton-console/src/components/library/Toggle/index.tsx
  phytoplankton-console/src/components/ui/EntityPropertiesCard/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/RuleConfigurationForm/index.tsx
  phytoplankton-console/src/pages/rules/utils.ts
  phytoplankton-console/src/pages/settings/components/PepStatusConfigSettings/index.tsx
  phytoplankton-console/src/pages/settings/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/GeneralDetails/PepStatus/index.module.less
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/GeneralDetails/PepStatus/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/GeneralDetails/PepStatus/utils.ts
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/GeneralDetails/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/public-management/openapi-public-management-original.yaml
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/lambdas/console-api-user/services/user-audit-log-service.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/user-rules-engine-service.ts
  tarpon/src/services/users/__tests__/advanced-rule-options.test.ts
  tarpon/src/services/users/index.ts
Owners: @flagright/engineering, @chialunwu, @madhug-nadig

Fix TriggerOnHit build issue (#4922)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Owners: @flagright/engineering

Fix: Webhook starts with (#4921)
  tarpon/src/utils/lambda.ts
Owners: @flagright/engineering

Fix mongo pipeline (#4924)
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
Owners: @flagright/engineering

V8: Incorporate SAR into risk scoring and rules engine (#4845)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/EntityVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2024.09.27T14.27.27.add-sar-data-to-dynamo-1.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/services/logic-evaluator/engine/__tests__/index.test.ts
  tarpon/src/services/logic-evaluator/variables/__tests__/resources/entity-variables.json
  tarpon/src/services/logic-evaluator/variables/__tests__/sar-details.test.ts
  tarpon/src/services/logic-evaluator/variables/index.ts
  tarpon/src/services/logic-evaluator/variables/sar-details.ts
  tarpon/src/services/logic-evaluator/variables/types.ts
  tarpon/src/services/sar/repositories/report-repository.ts
Owners: @flagright/engineering

Allow flagright users to set root to anyone from console (#4926)
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/roles/index.ts
Owners: @flagright/engineering

Remove local ip (#4927)
  tarpon/src/core/middlewares/local-dev.ts
Owners: @flagright/engineering

Fix Reports Dynamo not Initialized (#4929)
  tarpon/src/services/sar/repositories/report-repository.ts
  tarpon/src/services/sar/service.ts
Owners: @flagright/engineering

Account Dormancy Fix (#4930)
  tarpon/src/lambdas/cron-job-daily/app.ts
  tarpon/src/services/accounts/index.ts
Owners: @flagright/engineering

make new feature flag `SALES_RISK_SCORING` (#4931)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskItem/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/index.tsx
  phytoplankton-console/src/services/routing/index.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Owners: @flagright/engineering

Fix pipeline `create-scenario` e2e test (#4932)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/EntityVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/index.tsx
Owners: @flagright/engineering

feat: now showing the policy name instead of sla id (#4928)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/AlertCreationDetailsStep/SlaPolicyInput/index.tsx
Owners: @flagright/engineering

Improvements to Bulk upload to Lists (#4918)
  phytoplankton-console/src/pages/lists-item/ImportCsvModal/index.tsx
  phytoplankton-console/src/pages/lists-item/ItemsTable/index.tsx
  phytoplankton-console/src/pages/lists-item/index.tsx
Owners: @flagright/engineering

Added New Account Roles (#4933)
  lib/tsconfig.json
  phytoplankton-console/cypress/e2e/cases/case-creation-test.cy.ts
  phytoplankton-console/cypress/e2e/cases/payments-approvals-test.cy.ts
  phytoplankton-console/cypress/e2e/team-management/custom-role-crud-test.cy.ts
  phytoplankton-console/cypress/support/permissions.ts
  phytoplankton-console/src/pages/accounts/Roles/index.tsx
  phytoplankton-console/src/pages/accounts/Team/index.tsx
  phytoplankton-console/src/pages/accounts/components/DeleteUser.tsx
  phytoplankton-console/src/pages/accounts/index.tsx
  phytoplankton-console/src/services/routing/index.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2024.10.10T09.16.17.migrate-roles.ts
  tarpon/src/lambdas/console-api-account/app.ts
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/roles/index.ts
Owners: @flagright/engineering

Additional User roles (#4934)
  phytoplankton-console/cypress/support/permissions.ts
  phytoplankton-console/src/pages/users-item/Header/EditTagsButton/index.tsx
  phytoplankton-console/src/pages/users-item/Header/EditTagsModal/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/GeneralDetails/PepStatus/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserManualRiskPanel/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2024.10.10T10.10.42.migrate-roles-for-users.ts
Owners: @flagright/engineering

Fix roles migration (#4935)
  tarpon/scripts/migrations/post-deployment/2024.10.10T09.16.17.migrate-roles.ts
  tarpon/scripts/migrations/post-deployment/2024.10.10T10.10.42.migrate-roles-for-users.ts
  tarpon/src/services/roles/index.ts
Owners: @flagright/engineering

Fix sar migration (#4936)
  tarpon/scripts/migrations/post-deployment/2024.09.27T14.27.27.add-sar-data-to-dynamo-1.ts
  tarpon/src/services/sar/repositories/report-repository.ts
Owners: @flagright/engineering

Show risk level alias in V8 (#4885)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/helpers.ts
  tarpon/src/services/logic-evaluator/variables/user-cra-level.ts
  tarpon/src/services/logic-evaluator/variables/user-krs-level.ts
Owners: @flagright/engineering

Optimize sanctions query (#4823)
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/index.tsx
  tarpon/infra/cdktf-tarpon-stack.ts
  tarpon/scripts/migrations/post-deployment/2024.10.10T04.57.59.update-dow-jones.ts
  tarpon/src/services/rules-engine/user-rules/dowjones-consumer-user.ts
  tarpon/src/services/sanctions/__tests__/dow-jones.test.ts
  tarpon/src/services/sanctions/__tests__/sanctions-repository.test.ts
  tarpon/src/services/sanctions/providers/dow-jones-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/providers/types.ts
  tarpon/src/services/sanctions/repositories/sanctions-repository.ts
Owners: @flagright/engineering

Filter not showing all transaction tags (#4900)
  tarpon/scripts/migrations/pre-deployment/2024.10.06T15.36.11.update-unique-transaction-tags.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/utils/mongodb-definitions.ts
Owners: @flagright/engineering

Increase async rules memory in sandbox (#4941)
  lib/config/config-sandbox-eu-1.ts
Owners: @flagright/engineering

Fixes for forensics AI summaries (#4915)
  tarpon/src/services/copilot/questions/definitions/alert-history.ts
  tarpon/src/services/copilot/questions/definitions/alerts-related-to-transaction.ts
  tarpon/src/services/copilot/questions/definitions/case-history.ts
  tarpon/src/services/copilot/questions/definitions/linked-users.ts
  tarpon/src/services/copilot/questions/definitions/reference-word-count.ts
  tarpon/src/services/copilot/questions/definitions/sars-filed.ts
  tarpon/src/services/copilot/questions/definitions/transactions.ts
  tarpon/src/services/copilot/questions/definitions/unique-payment-identifier.ts
  tarpon/src/services/copilot/questions/definitions/users-transacted-with.ts
Owners: @flagright/engineering

Retry fetching Guard Duty tags when they're undefined (#4914)
  tarpon/src/services/aws/s3-service.ts
Owners: @flagright/engineering

Increase memory of tarpon and hammerhead queue consumer (#4943)
  tarpon/infra/cdk-tarpon-stack.ts
Owners: @flagright/engineering

Account status not reflected after change (#4864)
  phytoplankton-console/src/pages/accounts/Team/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/accounts/index.ts
Owners: @flagright/engineering

Refractor Advanced Options Update Code (#4946)
  tarpon/src/services/cases/index.ts
  tarpon/src/services/users/index.ts
Owners: @flagright/engineering

Fix Widget Name in Analytics (#4942)
  phytoplankton-console/src/pages/dashboard/analysis/index.tsx
Owners: @flagright/engineering

.github/CODEOWNERS:

# By default, one of the engineering team must approve a PR.
*       @flagright/engineering

# RBAC
tarpon/src/core/default-roles.ts  @madhug-nadig @timrcoulson

# Public APIs
tarpon/src/lambdas/public-* @chialunwu @timrcoulson @madhug-nadig

# Rules Engine
tarpon/src/services/rules-engine/* @chialunwu @madhug-nadig

# Core frontend components
phytoplankton-console/src/components/library/* @chialunwu @koluch
