Repository ArjitJindal/temp-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flagright/engineering, @madhug-nadig, @amandugar, @kavish6, @koluch, @patiljayant, @BalzySte, @kr-amitsinha

.github/CODEOWNERS:

# By default, one of the engineering team must approve a PR.
*       @flagright/engineering

# RBAC
tarpon/src/core/default-roles.ts  @madhug-nadig @amandugar

# Public APIs
tarpon/src/lambdas/public-* @madhug-nadig @amandugar

# Rules Engine
tarpon/src/services/rules-engine/* @madhug-nadig @kavish6

# Core frontend components
phytoplankton-console/src/components/library/* @koluch

# Sanction
tarpon/src/services/sanctions/* @patiljayant

# Risk Scoring
tarpon/src/services/risk-scoring/* @madhug-nadig @kavish6

# Copilot
tarpon/src/services/copilot/* @BalzySte @amandugar

# Nango
tarpon/src/services/nango/* @amandugar

# Notifications
tarpon/src/services/notifications/* @amandugar @patiljayant

# Infra
tarpon/infra/* @amandugar @BalzySte

# Clickhouse
tarpon/src/utils/clickhouse/* @amandugar @kr-amitsinha

Fix: Narrative Template now not blocked from dropdown (#8265)
  phytoplankton-console/src/components/markdown/MarkdownEditor/index.tsx
Owners: @flagright/engineering

Fix: Name field now shows inputted value in team management (#8337)
  phytoplankton-console/src/pages/accounts/Team/index.tsx
  phytoplankton-console/src/pages/accounts/components/AccountForm.tsx
Owners: @flagright/engineering

Add transaction type to transaction update webhook (#8333)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/rules-engine/rules-engine-service.ts
Owners: @flagright/engineering, @madhug-nadig, @kavish6

Fix: Remove dropdown from AIF rule logic when in View Mode (#8332)
  phytoplankton-console/src/components/ui/LogicBuilder/widgets.tsx
Owners: @flagright/engineering

Enhance: Enable compact vs standard narrative switching by default (#8331)
  tarpon/src/services/tenants/index.ts
Owners: @flagright/engineering

Enhance: Add account email to webhook payload (#8330)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/@types/webhook/index.ts
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/console-api-transaction/app.ts
  tarpon/src/lambdas/webhook-deliverer/app.ts
  tarpon/src/services/alerts/__tests__/index.test.ts
  tarpon/src/services/batch-jobs/update-transaction-status.ts
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/webhook/utils.ts
Owners: @flagright/engineering, @madhug-nadig, @kavish6

Enhance User Tag Selection Component with Enum Support (#8320)
  phytoplankton-console/src/components/CaseEscalateTriggerAdvancedOptionsForm/components/UpdateUserTags/index.tsx
Owners: @flagright/engineering

Don't enable alert creation for additional entities if FF is not enabled (#8323)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/steps/BasicDetailsStep/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/AlertCreationDetailsStep/index.tsx
  phytoplankton-console/src/pages/rules/utils.ts
Owners: @flagright/engineering

Fix kyc6 evidence 404 not found (#8247)
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/ListingCard/index.tsx
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/index.tsx
  tarpon/src/services/sanctions/providers/acuris-provider.ts
Owners: @flagright/engineering

Fix Risk Score Showing All Decimal Points (#8318)
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/pages/transactions-item/TransactionEventsTable/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserEvents.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/index.tsx
  phytoplankton-console/src/pages/users/users-list/risk-scoring-column.tsx
Owners: @flagright/engineering

Implement batch deletion from DynamoDB in SanctionsWhitelistEntityRepository (#8338)
  tarpon/src/services/sanctions/repositories/sanctions-whitelist-entity-repository.ts
Owners: @flagright/engineering

Security: Update Content Security Policy (#8308)
  phytoplankton-console/build/index.js
  phytoplankton-console/src/components/AppWrapper/Menu/Help/Freshwork.tsx
  phytoplankton-console/src/utils/__tests__/csp-utils.test.ts
  phytoplankton-console/src/utils/csp-utils.ts
  tarpon/src/core/middlewares/response-header-handler.ts
Owners: @flagright/engineering

feat: enable sqs VPC for prod (#8340)
  tarpon/infra/cdk-tarpon-stack.ts
Owners: @amandugar, @BalzySte

Add Counterparty Alert Creation Logic (#8242)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/RuleConfigurationForm/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/steps/BasicDetailsStep/index.tsx
  phytoplankton-console/src/pages/rules/utils.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/migrator.ts
  tarpon/scripts/migrations/post-deployment/2025.10.15T16.27.17.screening-alert-creation-logic-delete.ts
  tarpon/scripts/migrations/pre-deployment/2025.10.15T16.20.56.alert-creation-logic-migration.ts
  tarpon/src/services/cases/__tests__/case-creation-service.test.ts
  tarpon/src/services/cases/case-creation-service.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
Owners: @flagright/engineering

Add Aggregate By Origin Currency For Transaction Insights (#8322)
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TransactionsSelector/Chart/Column/Popover/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TransactionsSelector/Chart/Column/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TransactionsSelector/Chart/types.ts
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TransactionsSelector/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-transaction/services/transaction-service.ts
  tarpon/src/services/rules-engine/repositories/clickhouse-repository.ts
Owners: @flagright/engineering

Add unique email, address, and name detail generators to Clickhouse repository (#8280)
  tarpon/src/services/batch-jobs/rule-pre-aggregation-batch-job-runner.ts
  tarpon/src/services/rules-engine/repositories/clickhouse-repository.ts
Owners: @flagright/engineering

FIX: payment approval logic update (#8257)
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  tarpon/scripts/migrations/post-deployment/2025.10.23T06.48.12.payment-approval-timestamp.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
Owners: @flagright/engineering, @madhug-nadig, @kavish6

Early return for undefined drs (#8347)
  phytoplankton-console/src/pages/users-item/UserDetails/UserManualRiskPanel/index.tsx
Owners: @flagright/engineering

Fix team performance stats query to use FINAL keyword (#8342)
  tarpon/src/utils/clickhouse/queries/latest-team-stats-clickhouse.ts
Owners: @flagright/engineering

Update open sanctions screening profile (#8283)
  phytoplankton-console/src/components/ScreeningHitTable/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/GenericSanctionScreeningTypes/index.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/CreateScreeningProfileDrawer.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/index.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/utils.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/sanctions/providers/open-sanctions-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/providers/utils.ts
  tarpon/src/services/sanctions/types.ts
  tarpon/src/services/screening-profile/index.ts
Owners: @flagright/engineering, @patiljayant

Update query for POI (#8356)
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
Owners: @flagright/engineering

Demo data updates (#8361)
  tarpon/src/core/seed/data/auditlogs.ts
  tarpon/src/core/seed/data/checklists.ts
  tarpon/src/core/seed/data/narrative.ts
  tarpon/src/core/seed/data/seeds.ts
  tarpon/src/core/seed/data/simulation.ts
  tarpon/src/core/seed/data/sla.ts
  tarpon/src/core/seed/data/version-history.ts
  tarpon/src/core/seed/dynamodb.ts
  tarpon/src/core/seed/raw-data/simulation-rules.ts
Owners: @flagright/engineering

Implement Full screen UI for SAR generation (#8350)
  phytoplankton-console/src/components/Sar/SarReport/SarReportForm/AttachmentsStep/index.tsx
  phytoplankton-console/src/components/Sar/SarReport/SarReportForm/IndicatorsStep/index.tsx
  phytoplankton-console/src/components/Sar/SarReport/SarReportForm/ReportStep/index.tsx
  phytoplankton-console/src/components/Sar/SarReport/SarReportForm/TransactionStep/NewTransactionForm/index.module.less
  phytoplankton-console/src/components/Sar/SarReport/SarReportForm/TransactionStep/NewTransactionForm/index.tsx
  phytoplankton-console/src/components/Sar/SarReport/SarReportForm/TransactionStep/index.module.less
  phytoplankton-console/src/components/Sar/SarReport/SarReportForm/TransactionStep/index.tsx
  phytoplankton-console/src/components/Sar/SarReport/SarReportForm/VersionHistory/index.tsx
  phytoplankton-console/src/components/Sar/SarReport/SarReportForm/index.module.less
  phytoplankton-console/src/components/Sar/SarReport/SarReportForm/index.tsx
  phytoplankton-console/src/components/Sar/SarReport/index.tsx
  phytoplankton-console/src/components/Sar/SarReport/style.module.less
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/IndicatorsStep/style.module.less
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/index.module.less
  phytoplankton-console/src/components/Sar/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/MarkdownInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/NarrativeInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/index.tsx
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/components/library/VerticalMenu/style.module.less
  phytoplankton-console/src/components/ui/Card/index.module.less
  phytoplankton-console/src/pages/alert-item/components/Header/index.tsx
  phytoplankton-console/src/pages/case-management-item/components/Header/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemEmbedded/Recommendation/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/report-item/components/Header.tsx
  phytoplankton-console/src/pages/report-item/index.tsx
  phytoplankton-console/src/pages/reports/components/ReportsTable/index.tsx
  phytoplankton-console/src/pages/reports/index.tsx
  phytoplankton-console/src/pages/users-item/Header/index.tsx
  phytoplankton-console/src/services/routing/index.ts
  phytoplankton-console/src/utils/api/sar/index.ts
  phytoplankton-console/src/utils/hooks.ts
Owners: @flagright/engineering

Remove expires at field from sanction search (#8357)
  tarpon/src/services/sanctions/repositories/sanctions-search-repository.ts
  tarpon/src/utils/mongodb-definitions.ts
Owners: @flagright/engineering

Fix: Character Limit exceeded error during create/update role (#8349)
  tarpon/src/services/roles/index.ts
Owners: @flagright/engineering

Fix: Transaction Type Filters now working in simulations (#8353)
  tarpon/src/services/simulation/repositories/simulation-result-repository.ts
Owners: @flagright/engineering

Fix: Typo in Shareholders/Directors General Details FullName -> Name (#8362)
  phytoplankton-console/src/pages/users-item/UserDetails/BusinessUserDetails/PersonsCard/PersonDetails/GeneralDetails/index.tsx
Owners: @flagright/engineering

Implement Case/Alert Tag Search Button
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/components/CaseTagSearchButton/index.tsx
  phytoplankton-console/src/pages/case-management/helpers.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/scripts/migrations/migrator.ts
  tarpon/scripts/migrations/post-deployment/2025.10.30T11.35.38.unique-tags-collection-cases-array.ts
  tarpon/src/@types/clickhouse/index.ts
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/services/cases/index.ts
  tarpon/src/services/cases/repository.ts
  tarpon/src/utils/clickhouse/clickhouse-batch.ts
  tarpon/src/utils/clickhouse/definition.ts
Owners: @flagright/engineering, @amandugar, @kr-amitsinha

Cron Job For Rule Instances which are still deploying (#8314)
  tarpon/src/lambdas/cron-job-daily/app.ts
Owners: @flagright/engineering

Refactor unique tags handling in Case and Alert repositories
  tarpon/scripts/migrations/post-deployment/2025.10.30T11.35.38.unique-tags-collection-cases-array.ts
  tarpon/src/services/alerts/repository.ts
  tarpon/src/services/cases/repository.ts
Owners: @flagright/engineering

Add early return for empty tags in syncUniqueTags
  tarpon/src/services/cases/repository.ts
Owners: @flagright/engineering

Update open-sanctions sanctions sources saving (#8366)
  tarpon/scripts/migrations/post-deployment/2025.10.30T13.27.26.load-sanctions-data.ts
  tarpon/src/services/batch-jobs/sanctions-data-fetch-job-runner.ts
  tarpon/src/services/sanctions/providers/open-sanctions-provider.ts
  tarpon/src/services/sanctions/providers/types.ts
  tarpon/src/services/sanctions/providers/utils.ts
  tarpon/src/services/sanctions/repositories/sanctions-repository.ts
Owners: @flagright/engineering

Enhance query client configuration and fix minor issues
  phytoplankton-console/src/components/AppWrapper/Providers/QueryClientProvider.tsx
  phytoplankton-console/src/pages/users-item/ManualCaseCreationModal/index.tsx
  phytoplankton-console/src/utils/queries/hooks.ts
  phytoplankton-console/src/utils/queries/types.ts
Owners: @flagright/engineering

Update S3 VPC Endpoint URL (#8360)
  tarpon/infra/cdk-tarpon-stack.ts
Owners: @amandugar, @BalzySte

Console reload hot-fix (#8372)
  phytoplankton-console/src/utils/api/auth/index.ts
Owners: @flagright/engineering

Fix: create rule error if less than 5 risk levels are active (#8374)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/index.tsx
  phytoplankton-console/src/pages/rules/utils.ts
Owners: @flagright/engineering

Fix: Special Characters and Uppercase/Lowercase in Role Names (#7827)
  lib/utils/string.ts
  phytoplankton-console/src/pages/accounts/RolesV2/RoleDetails.tsx
  phytoplankton-console/src/pages/accounts/utils.ts
  tarpon/scripts/migrations/post-deployment/2025.10.03T21.07.39.migrate-role-names-to-remove-special-characters.ts
  tarpon/src/services/roles/__tests__/roles-crud.test.ts
  tarpon/src/services/roles/index.ts
  tarpon/src/services/roles/utils/index.ts
Owners: @flagright/engineering

rename file
  tarpon/scripts/migrations/post-deployment/2025.10.30T11.35.38.unique-tags-collection-cases-alerts.ts
Owners: @flagright/engineering

Enable aggregations based on Transaction Event timestamps (#8355)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/batch-jobs/rule-pre-aggregation-batch-job-runner.ts
  tarpon/src/services/logic-evaluator/engine/aggregation-repository.ts
  tarpon/src/services/logic-evaluator/engine/index.ts
  tarpon/src/services/rules-engine/repositories/transaction-repository-interface.ts
  tarpon/src/services/rules-engine/utils/time-utils.ts
  tarpon/src/services/rules-engine/utils/transaction-rule-utils.ts
Owners: @flagright/engineering

Pause Cloudwatch ingestion for asia-2&3 (#8378)
  lib/config/config-prod-asia-2.ts
  lib/config/config-prod-asia-3.ts
  lib/config/config.ts
  tarpon/infra/cdk-tarpon-stack.ts
Owners: @flagright/engineering, @amandugar, @BalzySte
