Repository ArjitJindal/temp-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flagright/engineering, @madhug-nadig, @timrcoulson, @chialunwu, @koluch

Rules checklist on case creation (#2453)
  tarpon/src/lambdas/console-api-case/services/case-creation-service.ts
  tarpon/src/services/rules-engine/repositories/alerts-repository.ts
  tarpon/src/services/rules-engine/repositories/case-repository.ts
  tarpon/src/services/tenants/checklist-template-service.ts
  tarpon/src/services/tenants/repositories/checklist-templates-repository.ts
Owners: @flagright/engineering

Fix System Closed alerts and cases are not being displayed in logs (#2455)
  tarpon/scripts/migrations/post-deployment/2023.10.11T20.43.51.fix-system-closed-alerts-are-not-part-of-activity-log.ts
  tarpon/src/lambdas/console-api-case/services/case-alerts-audit-log-service.ts
  tarpon/src/lambdas/console-api-case/services/case-service.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/rules-engine/repositories/alerts-repository.ts
  tarpon/src/services/rules-engine/repositories/case-repository.ts
Owners: @flagright/engineering

Add Zigram whitelabel (#2456)
  phytoplankton-console/src/branding/zigram-favicon.svg
  phytoplankton-console/src/branding/zigram-logo.svg
  phytoplankton-console/src/utils/branding.ts
  tarpon/lib/configs/auth0/tenant-config-sandbox-zigram.ts
  tarpon/lib/configs/auth0/tenant-config.ts
  tarpon/lib/openapi/openapi-internal-constants.ts
Owners: @flagright/engineering

added manual spacing instead if escape sequence (#2442)
  phytoplankton-console/README.md
Owners: @flagright/engineering

made all the cards rounded (#2445)
  phytoplankton-console/src/components/PageWrapper/styles.module.less
  phytoplankton-console/src/components/common/AsyncResourceRenderer/index.module.less
  phytoplankton-console/src/components/library/Widget/index.module.less
  phytoplankton-console/src/components/ui/PageTabs/index.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/OverviewCard/styles.module.less
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/style.module.less
Owners: @flagright/engineering

moved the expand icon below logo (#2441)
  phytoplankton-console/src/components/AppWrapper/Menu/Header/index.module.less
Owners: @flagright/engineering

Schema Error fix in Reports (#2460)
  phytoplankton-console/src/components/library/JsonSchemaEditor/utils.ts
Owners: @flagright/engineering

implemented KRS distribution and changed the current CRA distribution (#2457)
  phytoplankton-console/src/pages/dashboard/analysis/components/RiskLevelDistributionCard/RiskTypeSelector.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RiskLevelDistributionCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RiskLevelDistributionCard/styles.module.less
  phytoplankton-console/src/pages/dashboard/analysis/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/scripts/migrations/post-deployment/2023.09.18T10.41.57.refresh-user-drs-stats.ts
  tarpon/scripts/migrations/post-deployment/2023.10.11T23.20.25.calculate-krs-stats.ts
  tarpon/src/lambdas/console-api-dashboard/app.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/risk-level-distribution-stats.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/rule-stats.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-stats-repository.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/types.ts
  tarpon/src/utils/mongodb-definitions.ts
Owners: @flagright/engineering

Investigation checklist template status update (#2417)
  phytoplankton-console/src/components/library/CrudEntitiesTable/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/BasicDetailsStep/index.tsx
  phytoplankton-console/src/pages/settings/components/ChecklistTemplatesSettings.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2023.10.10T07.34.04.add-status-to-checklist.ts
  tarpon/src/core/seed/data/checklists.ts
  tarpon/src/services/tenants/checklist-template-service.ts
Owners: @flagright/engineering

removed null values from case.statusChanges array (#2461)
  phytoplankton-console/src/pages/case-management-item/CaseStatusWithDropDown/index.tsx
  tarpon/scripts/migrations/post-deployment/2023.10.12T10.09.34.case-remove-null-values-from-status-changes.ts
Owners: @flagright/engineering

Fix AuthID appearing in CSV download (#2447)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
Owners: @flagright/engineering

Case log doesnt log close event. (#2448)
  tarpon/src/core/seed/data/auditlogs.ts
  tarpon/src/core/seed/data/cases.ts
  tarpon/src/core/seed/samplers/cases.ts
Owners: @flagright/engineering

Update Zigram logo
  tarpon/lib/configs/auth0/tenant-config-sandbox-zigram.ts
Owners: @flagright/engineering

Update Zigram logo
  tarpon/lib/configs/auth0/tenant-config-sandbox-zigram.ts
Owners: @flagright/engineering

Fix zigram sandbox URL
  tarpon/lib/openapi/openapi-internal-constants.ts
Owners: @flagright/engineering

Fix clientID
  phytoplankton-console/src/utils/branding.ts
Owners: @flagright/engineering

Update Zigram login logo
  tarpon/lib/configs/auth0/tenant-config-sandbox-zigram.ts
Owners: @flagright/engineering

Zigram -> Transact Comply
  tarpon/lib/configs/auth0/tenant-config-sandbox-zigram.ts
Owners: @flagright/engineering

added autoFocusing for input filter components (#2464)
  phytoplankton-console/src/components/library/Select/index.tsx
  phytoplankton-console/src/components/library/Table/Header/Filters/AutoFilter/index.tsx
  phytoplankton-console/src/components/library/TextInput/index.tsx
  phytoplankton-console/src/pages/transactions/components/UserSearchPopup/PopupContent/index.tsx
Owners: @flagright/engineering

Added ruleNature filter (#2458)
  phytoplankton-console/cypress/e2e/sar/sar-generate.cy.ts
  phytoplankton-console/src/components/ui/PageTabs/index.module.less
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTableWrapper.tsx
  phytoplankton-console/src/pages/case-management/common.ts
  phytoplankton-console/src/pages/case-management/helpers.tsx
  phytoplankton-console/src/pages/case-management/types.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/rules-engine/repositories/alerts-repository.ts
  tarpon/src/services/rules-engine/repositories/case-repository.ts
Owners: @flagright/engineering

Revert "added autoFocusing for input filter components" (#2467)
  phytoplankton-console/src/components/library/Select/index.tsx
  phytoplankton-console/src/components/library/Table/Header/Filters/AutoFilter/index.tsx
  phytoplankton-console/src/components/library/TextInput/index.tsx
  phytoplankton-console/src/pages/transactions/components/UserSearchPopup/PopupContent/index.tsx
Owners: @flagright/engineering

Fix Advance options rule options saving (#2468)
  phytoplankton-console/src/pages/rules/utils.ts
  tarpon/lib/openapi/public-management/openapi-public-management-original.yaml
Owners: @flagright/engineering

Fix Filters Alignment (#2470)
  phytoplankton-console/src/components/AppWrapper/Providers/SettingsProvider.tsx
  phytoplankton-console/src/components/library/QuickFilter/QuickFilterButton/style.module.less
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/AmountsChart/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TypesChart/index.tsx
  phytoplankton-console/src/pages/import/import-users/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/RiskClassificationSimulationResults/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/consts.tsx
  phytoplankton-console/src/pages/transactions/components/PaymentMethodButton/PopupContent/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/BusinessUserDetails/TransactionLimits/index.tsx
  phytoplankton-console/src/pages/users/users-list/UserRegistrationStatusFilterButton/PopupContent/index.tsx
  phytoplankton-console/src/pages/users/users-list/business-user-columns.tsx
  phytoplankton-console/src/utils/humanize.ts
  phytoplankton-console/src/utils/payments.ts
  phytoplankton-console/src/utils/tags.tsx
Owners: @flagright/engineering

Filter Relevant Questions By Category (#2463)
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/RequestForm/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/console-api-case/services/case-service.ts
  tarpon/src/lambdas/console-api-copilot/app.ts
  tarpon/src/services/copilot/questions/autocompletion-service.ts
  tarpon/src/services/copilot/questions/definitions/alert-history.ts
  tarpon/src/services/copilot/questions/definitions/alerts-related-to-transaction.ts
  tarpon/src/services/copilot/questions/definitions/case-history.ts
  tarpon/src/services/copilot/questions/definitions/crm-insights.ts
  tarpon/src/services/copilot/questions/definitions/directors.ts
  tarpon/src/services/copilot/questions/definitions/entity-linking.ts
  tarpon/src/services/copilot/questions/definitions/kyc-score.ts
  tarpon/src/services/copilot/questions/definitions/linked-users.ts
  tarpon/src/services/copilot/questions/definitions/linkedin.ts
  tarpon/src/services/copilot/questions/definitions/sars-filed.ts
  tarpon/src/services/copilot/questions/definitions/shareholders.ts
  tarpon/src/services/copilot/questions/definitions/transaction-by-rules-action.ts
  tarpon/src/services/copilot/questions/definitions/transaction-led-rule-hit.ts
  tarpon/src/services/copilot/questions/definitions/transaction-summary.ts
  tarpon/src/services/copilot/questions/definitions/transaction-type.ts
  tarpon/src/services/copilot/questions/definitions/transactions.ts
  tarpon/src/services/copilot/questions/definitions/trs-score.ts
  tarpon/src/services/copilot/questions/definitions/unique-payment-identifier-received.ts
  tarpon/src/services/copilot/questions/definitions/unique-payment-identifier-sent.ts
  tarpon/src/services/copilot/questions/definitions/user-details.ts
  tarpon/src/services/copilot/questions/definitions/users-received-money-from.ts
  tarpon/src/services/copilot/questions/definitions/users-sent-money-to.ts
  tarpon/src/services/copilot/questions/definitions/website.ts
  tarpon/src/services/copilot/questions/investigation-repository.ts
  tarpon/src/services/copilot/questions/question-service.ts
  tarpon/src/services/copilot/questions/types.ts
  tarpon/src/services/rules-engine/repositories/case-repository.ts
Owners: @flagright/engineering

Fix Fincen (#2475)
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/index.tsx
Owners: @flagright/engineering

Resend Invite from team management (#2462)
  phytoplankton-console/src/pages/accounts/components/AccountForm.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/console-api-account/app.ts
  tarpon/src/services/accounts/index.ts
Owners: @flagright/engineering

Fix API Path (#2476)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
Owners: @flagright/engineering

Update Zigram logo
  phytoplankton-console/src/branding/zigram-logo.svg
  tarpon/lib/configs/auth0/tenant-config-sandbox-zigram.ts
Owners: @flagright/engineering

Fix demo data of addresses and make less messy (#2477)
  tarpon/src/core/seed/data/address.ts
  tarpon/src/core/seed/samplers/users.ts
Owners: @flagright/engineering

Fix Entity Linking of Addresses (#2471)
  tarpon/src/services/linker/index.ts
Owners: @flagright/engineering

created groups for configuring dashboard widgets (#2465)
  phytoplankton-console/src/pages/dashboard/analysis/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/style.module.less
Owners: @flagright/engineering

Fix RBAC (#2485)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Owners: @flagright/engineering

Fix Reviewer Id Issue (#2487)
  phytoplankton-console/src/pages/case-management/components/CasesStatusChangeButton/CasesStatusChangeModal.tsx
Owners: @flagright/engineering

Updated default roles descriptions (#2478)
  tarpon/src/core/default-roles.ts
Owners: @madhug-nadig, @timrcoulson

Fix Assignments Issue (#2488)
  phytoplankton-console/src/components/file-import/FileImportButton.tsx
  phytoplankton-console/src/pages/case-management/components/Copilot/CopilotButtonContent.tsx
  phytoplankton-console/src/pages/risk-levels/configure/RiskClassificationSimulationResults/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/SimulateRiskClassification/NewSimulation/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/index.tsx
  phytoplankton-console/src/pages/rules/RulesTable/index.tsx
  phytoplankton-console/src/pages/rules/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/@types/jwt/index.ts
  tarpon/src/core/default-roles.ts
  tarpon/src/lambdas/console-api-file-import/app.ts
Owners: @flagright/engineering, @madhug-nadig, @timrcoulson

Fix API Paths (#2491)
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/console-api-file-import/__tests__/app.test.ts
Owners: @flagright/engineering

Fix NPE caused by `currentUser.reviewerId` (#2490)
  phytoplankton-console/src/pages/case-management/components/AlertsStatusChangeButton/AlertsStatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/CasesStatusChangeButton/CasesStatusChangeModal.tsx
  phytoplankton-console/src/utils/user-utils.tsx
Owners: @flagright/engineering

Enable ICP for myself (#2492)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
Owners: @flagright/engineering

Refactor rule queue permissions (#2494)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Owners: @flagright/engineering

Fix incomplete migration from 7ae34b6 (#2498)
  tarpon/scripts/migrations/post-deployment/2023.10.16T15.44.58.fix-kevin-rule-hits-2.ts
  tarpon/scripts/migrations/utils/cleanup-rule-hits.ts
Owners: @flagright/engineering

.github/CODEOWNERS:

# By default, one of the engineering team must approve a PR.
*       @flagright/engineering

# RBAC
tarpon/src/core/default-roles.ts  @madhug-nadig @timrcoulson

# Public APIs
tarpon/src/lambdas/public-* @chialunwu @timrcoulson @madhug-nadig

# Rules Engine
tarpon/src/services/rules-engine/* @chialunwu @madhug-nadig

# Core frontend components
phytoplankton-console/src/components/library/* @chialunwu @koluch
