Repository ArjitJindal/temp-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flagright/engineering, @madhug-nadig, @timrcoulson, @chialunwu, @koluch

.github/CODEOWNERS:

# By default, one of the engineering team must approve a PR.
*       @flagright/engineering

# RBAC
tarpon/src/core/default-roles.ts  @madhug-nadig @timrcoulson

# Public APIs
tarpon/src/lambdas/public-* @chialunwu @timrcoulson @madhug-nadig

# Rules Engine
tarpon/src/services/rules-engine/* @chialunwu @madhug-nadig

# Core frontend components
phytoplankton-console/src/components/library/* @chialunwu @koluch

Add mandatory notation as asterix on case closure modal (#1694)
  phytoplankton-console/src/components/library/Label/index.tsx
  phytoplankton-console/src/components/library/Label/style.module.less
  phytoplankton-console/src/pages/accounts/Roles/RoleForm.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/BasicDetailsStep/index.tsx
  phytoplankton-console/src/pages/settings/components/NarrativeTemplates/NarrativeForm.tsx
Owners: @flagright/engineering

Disabled resizing for colums containing buttons (#1682)
  phytoplankton-console/src/components/library/Table/internal/helpers.tsx
  phytoplankton-console/src/components/library/Table/internal/settings.tsx
  phytoplankton-console/src/components/library/Table/types.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
  phytoplankton-console/src/pages/rules/RulesTable/index.tsx
  phytoplankton-console/src/pages/rules/my-rules/index.tsx
  phytoplankton-console/src/pages/settings/components/RiskLevelSettings.tsx
  phytoplankton-console/src/pages/settings/components/RuleActionSettings.tsx
  phytoplankton-console/src/pages/settings/components/TransactionStateSettings.tsx
Owners: @flagright/engineering

Some sentry fixes (#1709)
  phytoplankton-console/src/components/library/Label/story.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Addresses/index.tsx
Owners: @flagright/engineering

Update description of R-122 to say Daily Transaction Average instead of Transaction Average (#1705)
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-average-amount-exceeded.test.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
Owners: @flagright/engineering

#FR-2537: Remove INACTIVE, UNDECIDED and DELETED User State (#1674)
  phytoplankton-console/src/utils/api/users.ts
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/scripts/migrations/pre-deployment/2023.07.01T20.43.41.reduce_user_states.ts
  tarpon/src/lambdas/tarpon-change-webhook-consumer/__tests__/tarpon-change-webhook-handler.test.ts
Owners: @flagright/engineering

Don't display simulation jobs created by super-admin users (#1639)
  phytoplankton-console/src/components/PageWrapper/index.tsx
  phytoplankton-console/src/components/SimulationPageWrapper/index.tsx
  phytoplankton-console/src/pages/auditlog/components/AuditLog/AuditLog.tsx
  phytoplankton-console/src/pages/auditlog/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/SimulateRiskClassification/NewSimulation/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/SimulateRiskClassification/SimulationHistory/index.tsx
  phytoplankton-console/src/pages/rules/SimulationHistoryTable/index.tsx
  tarpon/jest-setup.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/scripts/migrations/post-deployment/2023.06.28T08.53.03.add-internal-to-simulation-jobs.ts
  tarpon/src/@types/jwt/index.ts
  tarpon/src/core/utils/context.ts
  tarpon/src/lambdas/console-api-account/app.ts
  tarpon/src/lambdas/console-api-audit-log/app.ts
  tarpon/src/lambdas/console-api-dashboard/app.ts
  tarpon/src/lambdas/console-api-simulation/__tests__/app.test.ts
  tarpon/src/lambdas/console-api-simulation/app.ts
  tarpon/src/lambdas/console-api-simulation/repositories/simulation-task-repository.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
Owners: @flagright/engineering

Fix postman tests
  tarpon/test-resources/public-api-transactions-tests.postman_collection.json
Owners: @flagright/engineering

Skip processing empty rule filters (#1710)
  phytoplankton-console/src/pages/rules/utils.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
Owners: @flagright/engineering, @chialunwu, @madhug-nadig

Fr 1820 cases and transactions tab view (#1622)
  phytoplankton-console/src/components/SalesforceCard/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/AlertsCard/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/CommentsCard/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/pages/case-management-item/components/Header/index.tsx
  phytoplankton-console/src/pages/case-management-item/index.tsx
  phytoplankton-console/src/pages/transactions-item/SenderReceiverDetails/index.tsx
  phytoplankton-console/src/pages/transactions-item/TransactionEventsCard/index.tsx
  phytoplankton-console/src/pages/transactions-item/index.tsx
  phytoplankton-console/src/services/routing/index.ts
Owners: @flagright/engineering

Fr 1820 cypress tests fix for Cases and Transactions Tab view (#1713)
  phytoplankton-console/cypress/e2e/basic/load-main-pages.cy.js
Owners: @flagright/engineering

Add some more sentry info (#1697)
  tarpon/src/core/middlewares/init-sentry.ts
Owners: @flagright/engineering

Decrease padding between columns inside payment details column (#1708)
  phytoplankton-console/src/components/ui/PaymentDetailsCard/index.module.less
Owners: @flagright/engineering

Fix unable to assign a new role to a user (#1702)
  tarpon/src/services/accounts/index.ts
Owners: @flagright/engineering

Add a fix for SAR (#1721)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
Owners: @flagright/engineering

Dont build server access bucket in QA deploy (#1720)
  phytoplankton-console/lib/cdk-phytoplankton-stack.ts
Owners: @flagright/engineering

Use request context for background processing state (#1696)
  tarpon/src/core/utils/context.ts
  tarpon/src/lambdas/batch-job/batch-job-runner-base.ts
  tarpon/src/utils/__tests__/background.test.ts
  tarpon/src/utils/background.ts
Owners: @flagright/engineering

XRay Middleware for http + service layers (#1644)
  tarpon/scripts/esbuild.js
  tarpon/src/core/middlewares/compose.ts
  tarpon/src/core/middlewares/lambda-api-middlewares.ts
  tarpon/src/core/middlewares/xray-middleware.ts
  tarpon/src/core/xray/index.ts
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/console-api-case/services/case-alerts-audit-log-service.ts
  tarpon/src/lambdas/console-api-case/services/case-creation-service.ts
  tarpon/src/lambdas/console-api-case/services/case-service.ts
  tarpon/src/lambdas/console-api-device-data/services/device-data-service.ts
  tarpon/src/lambdas/console-api-narrative-template/services/narrative-template-service.ts
  tarpon/src/lambdas/console-api-pulse/services/pulse-audit-log.ts
  tarpon/src/lambdas/console-api-transaction/app.ts
  tarpon/src/lambdas/console-api-transaction/services/transaction-service.ts
  tarpon/src/lambdas/console-api-user/app.ts
  tarpon/src/lambdas/console-api-user/services/user-audit-log-service.ts
  tarpon/src/lambdas/console-api-user/services/user-service.ts
  tarpon/src/lambdas/console-api-webhook/services/webhook-audit-log-service.ts
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/case-alerts-common/index.ts
  tarpon/src/services/copilot/copilot-service.ts
  tarpon/src/services/iban.com/index.ts
  tarpon/src/services/merchant-monitoring/index.ts
  tarpon/src/services/metrics/api-usage-metrics-service.ts
  tarpon/src/services/metrics/sheets-api-usage-metrics-service.ts
  tarpon/src/services/risk-scoring/risk-scoring-service.ts
  tarpon/src/services/roles/index.ts
  tarpon/src/services/rules-engine/rule-service.ts
  tarpon/src/services/rules-engine/rules-audit-log-service.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/salesforce/index.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/tenants/index.ts
  tarpon/src/services/users/index.ts
  tarpon/tsconfig.json
Owners: @flagright/engineering, @chialunwu, @madhug-nadig

Improve linters configuration (#1711)
  phytoplankton-console/.eslintrc.json
  phytoplankton-console/src/components/library/Modal/story.tsx
  phytoplankton-console/src/components/library/Stepper/index.tsx
Owners: @flagright/engineering

Fix z-index issue (#1725)
  phytoplankton-console/src/components/library/Table/Header/Tools/SettingsButton/index.module.less
Owners: @flagright/engineering

Update destroy_phyto_qa.yml
  .github/workflows/destroy_phyto_qa.yml
Owners: @flagright/engineering

Capture dynamo DB with XRay (#1719)
  tarpon/src/utils/dynamodb.ts
Owners: @flagright/engineering

Don't Send Parameters for Simulationn of a New Rule (#1699)
  tarpon/src/lambdas/batch-job/simulation-beacon-batch-job-runner.ts
Owners: @flagright/engineering

#FR-2636: Admins aren’t able to make themselves as approver (#1726)
  phytoplankton-console/src/pages/accounts/Team/index.tsx
  phytoplankton-console/src/pages/accounts/components/AccountForm.tsx
Owners: @flagright/engineering

Handle no authorizer present in context (#1731)
  tarpon/src/core/middlewares/xray-middleware.ts
Owners: @flagright/engineering

Transaction Escalation Should Only Close Alert if Requested (#1729)
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
  tarpon/src/services/alerts/index.ts
Owners: @flagright/engineering

Brain Icon for AI tabs (#1723)
  phytoplankton-console/src/pages/users-item/index.tsx
Owners: @flagright/engineering

synced risk level nomenclature in settings to other places (#1692)
  phytoplankton-console/src/components/AppWrapper/Providers/SettingsProvider.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/mocks/SettingsProvider.tsx
  phytoplankton-console/src/components/SuperAdminPanel/index.tsx
  phytoplankton-console/src/pages/settings/components/DefaultValuesSettings.tsx
  phytoplankton-console/src/pages/settings/components/DefaultViewsSettings.tsx
  phytoplankton-console/src/pages/settings/components/FlagrightAISettings.tsx
  phytoplankton-console/src/pages/settings/components/OtherSettings/index.tsx
  phytoplankton-console/src/pages/settings/components/RiskLevelSettings.tsx
  phytoplankton-console/src/pages/settings/components/RuleActionSettings.tsx
  phytoplankton-console/src/pages/settings/components/TransactionStateSettings.tsx
  phytoplankton-console/src/utils/queries/keys.ts
Owners: @flagright/engineering

Sanctions new features and fixes (#1712)
  phytoplankton-console/src/components/SanctionsTable/index.tsx
  phytoplankton-console/src/pages/sanctions/search-history/index.tsx
  tarpon/.eslintrc.js
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/core/default-roles.ts
  tarpon/src/core/seed/samplers/cases.ts
  tarpon/src/lambdas/console-api-sanctions/app.ts
  tarpon/src/services/rules-engine/transaction-rules/blacklist-transaction-related-value.ts
  tarpon/src/services/rules-engine/transaction-rules/sanctions-counterparty.ts
  tarpon/src/services/sanctions/__tests__/index.test.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/repositories/sanctions-search-repository.ts
  tarpon/src/services/sanctions/repositories/sanctions-whitelist-entity-repository.ts
  tarpon/src/utils/mongoDBUtils.ts
Owners: @flagright/engineering, @madhug-nadig, @timrcoulson

Retry ComplyAdvantage API calls on 429 status (#1734)
  tarpon/src/services/sanctions/index.ts
  tarpon/src/utils/currency-utils.ts
  tarpon/src/utils/retry.ts
Owners: @flagright/engineering

Add Header for the Sanctions and Analytics tab (#1724)
  phytoplankton-console/src/pages/dashboard/analysis/index.tsx
  phytoplankton-console/src/pages/sanctions/index.tsx
Owners: @flagright/engineering

Added OR Logic Changes For Rule Filter (#1687)
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/custom/PaymentFiltersInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/types.ts
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/RuleConfigurationForm/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/StandardFiltersStep/index.tsx
  tarpon/scripts/migrations/post-deployment/2023.07.07T19.16.13.delete-unused-payment-filters.ts
  tarpon/scripts/migrations/pre-deployment/2023.07.03T10.43.01.add-payment-channels-to-rule-filter.ts
  tarpon/scripts/migrations/pre-deployment/2023.07.07T19.08.49.migrate-to-payment-filters.ts
  tarpon/src/lambdas/public-management-api-rule/__tests__/app.test.ts
  tarpon/src/services/rules-engine/filters.ts
  tarpon/src/services/rules-engine/transaction-filters/__tests__/payment-channels.test.ts
  tarpon/src/services/rules-engine/transaction-filters/__tests__/payment-filters.test.ts
  tarpon/src/services/rules-engine/transaction-filters/__tests__/payment-method.test.ts
  tarpon/src/services/rules-engine/transaction-filters/__tests__/transaction-card-issued-country.test.ts
  tarpon/src/services/rules-engine/transaction-filters/__tests__/transaction-wallet-type.test.ts
  tarpon/src/services/rules-engine/transaction-filters/payment-channels.ts
  tarpon/src/services/rules-engine/transaction-filters/payment-filters.ts
  tarpon/src/services/rules-engine/transaction-filters/payment-method-historical.ts
  tarpon/src/services/rules-engine/transaction-filters/payment-method.ts
  tarpon/src/services/rules-engine/transaction-filters/transaction-card-issued-country.ts
  tarpon/src/services/rules-engine/transaction-filters/transaction-wallet-type.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/low-value-incoming-transactions.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/low-value-outgoing-transactions.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transaction-amount.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transaction-new-country.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-velocity.test.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
Owners: @flagright/engineering, @chialunwu, @timrcoulson, @madhug-nadig

Force the correct field order for Kenya SAR (#1737)
  tarpon/package-lock.json
  tarpon/package.json
  tarpon/src/services/sar/generators/KE/SAR/__tests__/index.test.ts
  tarpon/src/services/sar/generators/KE/SAR/index.ts
Owners: @flagright/engineering

Merchant monitoring secrets to secrets manager (#1736)
  tarpon/lib/configs/config-dev.ts
  tarpon/lib/configs/config-local.ts
  tarpon/lib/configs/config-prod-asia-1.ts
  tarpon/lib/configs/config-prod-asia-2.ts
  tarpon/lib/configs/config-prod-eu-1.ts
  tarpon/lib/configs/config-prod-eu-2.ts
  tarpon/lib/configs/config-prod-us-1.ts
  tarpon/lib/configs/config-sandbox.ts
  tarpon/lib/configs/config.ts
  tarpon/src/lambdas/console-api-merchant/app.ts
  tarpon/src/services/merchant-monitoring/index.ts
Owners: @flagright/engineering

#FR-2700: Remove Extra Padding in Right of Modal (#1732)
  phytoplankton-console/src/components/SanctionsTable/SearchResultDetailsModal/index.tsx
  phytoplankton-console/src/components/library/Modal/style.module.less
  phytoplankton-console/src/pages/auditlog/components/AuditLogModal/index.tsx
  phytoplankton-console/src/pages/auditlog/components/AuditLogModal/style.module.less
  phytoplankton-console/src/pages/case-management/components/Copilot/CopilotButtonContent.tsx
  phytoplankton-console/src/pages/case-management/components/Copilot/index.module.less
  phytoplankton-console/src/pages/settings/components/WebhookDeliveryAttemptsTable.module.less
  phytoplankton-console/src/pages/settings/components/WebhookDeliveryAttemptsTable.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/DisplayCheckedTransactions/styles.module.less
Owners: @flagright/engineering

Fix button column size on rules (#1740)
  phytoplankton-console/src/pages/rules/my-rules/index.tsx
Owners: @flagright/engineering

Sar Report Test Cypress (#1743)
  phytoplankton-console/cypress/e2e/sar/sar-generate.cy.js
  phytoplankton-console/src/components/Sar/index.tsx
  phytoplankton-console/src/components/library/Drawer/index.tsx
  phytoplankton-console/src/components/library/Label/index.tsx
  phytoplankton-console/src/components/library/Modal/index.tsx
Owners: @flagright/engineering

Only add user ID to xray when defined (#1744)
  tarpon/src/core/middlewares/xray-middleware.ts
Owners: @flagright/engineering

Add Rule R-120 (#1714)
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-average-daily-amount-exceeded.test.ts
  tarpon/src/services/rules-engine/transaction-rules/index.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-average-amount-exceeded.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-average-daily-amount-exceeded.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-average-exceeded-base.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-average-number-exceeded.ts
  tarpon/src/test-utils/rule-test-utils.ts
Owners: @flagright/engineering

Disable Xray in tests (#1730)
  tarpon/src/utils/dynamodb.ts
Owners: @flagright/engineering

Apply wrapping logic just like userID field to similar columns (#1741)
  phytoplankton-console/src/components/ui/Id/style.module.less
  phytoplankton-console/src/pages/auditlog/components/AuditLog/AuditLog.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/style.module.less
Owners: @flagright/engineering
