Repository ArjitJindal/temp-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flagright/engineering, @madhug-nadig, @amandugar, @kavish6, @koluch, @patiljayant, @BalzySte, @kr-amitsinha

.github/CODEOWNERS:

# By default, one of the engineering team must approve a PR.
*       @flagright/engineering

# RBAC
tarpon/src/core/default-roles.ts  @madhug-nadig @amandugar

# Public APIs
tarpon/src/lambdas/public-* @madhug-nadig @amandugar

# Rules Engine
tarpon/src/services/rules-engine/* @madhug-nadig @kavish6

# Core frontend components
phytoplankton-console/src/components/library/* @koluch

# Sanction
tarpon/src/services/sanctions/* @patiljayant

# Risk Scoring
tarpon/src/services/risk-scoring/* @madhug-nadig @kavish6

# Copilot
tarpon/src/services/copilot/* @BalzySte @amandugar

# Nango
tarpon/src/services/nango/* @amandugar

# Notifications
tarpon/src/services/notifications/* @amandugar @patiljayant

# Infra
tarpon/infra/* @amandugar @BalzySte

# Clickhouse
tarpon/src/utils/clickhouse/* @amandugar @kr-amitsinha

Fix OpenSSL and Brace Expansions Package vulnerabilities (#8466)
  tarpon/src/fargate/Dockerfile
Owners: @flagright/engineering

Revert "Add Clickhouse instance configuration and update VPC endpoint naming" (#8465)
  lib/config/config-dev.ts
  lib/config/config.ts
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/infra/cdktf-tarpon-stack.ts
Owners: @flagright/engineering, @amandugar, @BalzySte

FIX: Incorrect risk level in case table (#8412)
  tarpon/scripts/migrations/post-deployment/2025.11.04T09.50.46.fix-caseUsers-drsScores-mongo.ts
  tarpon/src/services/cases/repository.ts
Owners: @flagright/engineering

Fix: Default screening filters flicker (#8468)
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/ScreeningProfileDefaultFilters.tsx
Owners: @flagright/engineering

Revert openssl changes (#8470)
  tarpon/load-testing/Dockerfile
  tarpon/src/fargate/Dockerfile
Owners: @flagright/engineering

Fix alert creation migration (#8473)
  tarpon/scripts/migrations/pre-deployment/2025.10.15T16.20.56.alert-creation-logic-migration-updated.ts
Owners: @flagright/engineering

Unify CRA & CRA Lock approval workflow (#8396)
  phytoplankton-console/src/components/ui/UserPendingApprovalsModal/index.tsx
  phytoplankton-console/src/pages/settings/components/UserUpdateApprovalSettings.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserManualRiskPanel/index.tsx
  phytoplankton-console/src/utils/api/workflows.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/users/index.ts
Owners: @flagright/engineering

User Shared opensearch client in code (#8475)
  tarpon/src/services/batch-jobs/delta-sanctions-batch-job-runner.ts
  tarpon/src/services/batch-jobs/sanctions-data-fetch-job-runner.ts
  tarpon/src/services/batch-jobs/screening-profile-data-fetcher.ts
  tarpon/src/services/sanctions/providers/acuris-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/repositories/sanctions-search-repository.ts
Owners: @flagright/engineering

FIX: user preview api to return trimmed name (#8377)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/users/index.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/utils/helpers.ts
Owners: @flagright/engineering

Fix: Webhook entity ID filter now working (#8266)
  tarpon/src/services/webhook/repositories/webhook-delivery-repository.ts
Owners: @flagright/engineering

FEAT: integrate intercomm ticketing portal (#8441)
  lib/utils/time.ts
  phytoplankton-console/build/index.js
  phytoplankton-console/src/components/AppWrapper/Menu/Help/Intercomm.tsx
  phytoplankton-console/src/components/AppWrapper/Menu/Help/index.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/CluesoTokenProvider.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/index.tsx
  phytoplankton-console/src/pages/auth/clueso.tsx
  phytoplankton-console/src/utils/api/auth/helper.ts
  phytoplankton-console/src/utils/api/auth/index.ts
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/console-api-account/app.ts
  tarpon/src/utils/tenant.ts
Owners: @flagright/engineering

:bug: Correct opensearch client availability check in sanctions data fetch job runner (#8480)
  tarpon/src/services/batch-jobs/sanctions-data-fetch-job-runner.ts
Owners: @flagright/engineering

Stop Deployments in Asia 2 (#8479)
  .vscode/settings.json
  lib/config/config.ts
  lib/constants/config.ts
  lib/constants/deploy.ts
  tarpon/infra/cdk-load-testing-stack.ts
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/infra/cdk-utils/cdk-lambda-utils.ts
  tarpon/infra/dashboards/public-api-transaction-function.ts
  tarpon/lib/configs/auth0/tenant-config.ts
  tarpon/src/services/tenants/index.ts
Owners: @flagright/engineering, @amandugar, @BalzySte

Add productsEnabled to schema (#8463)
  phytoplankton-console/src/pages/users-item/UserDetails/BusinessUserDetails/LegalEntityDetails/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/shared/OtherDetails/index.tsx
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/logic-evaluator/variables/__tests__/resources/entity-variables.json
Owners: @flagright/engineering

Fix: Clearing hit duplicates them (#8482)
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/helpers.tsx
  phytoplankton-console/src/utils/api/screening/index.ts
  phytoplankton-console/src/utils/queries/keys.ts
Owners: @flagright/engineering

:zap: Add DynamoDB and Console Lambda alarms stacks to CDK Tarpon infrastructure (#8481)
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-alarms-stack.ts
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-dynamodb-alarms-stack.ts
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-lambda-alarms-stack.ts
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/infra/cdk-utils/cdk-cw-alarms-utils.ts
Owners: @flagright/engineering, @amandugar, @BalzySte

Fix FE issues when disabling User changes approval FF (#8484)
  phytoplankton-console/src/utils/api/users/index.ts
Owners: @flagright/engineering

Fix user changes workflow settings (#8483)
  phytoplankton-console/src/pages/settings/components/UserUpdateApprovalSettings.tsx
Owners: @flagright/engineering

E2E: backoff for notification checks (#8488)
  phytoplankton-console/cypress/support/commands.ts
  phytoplankton-console/src/components/AppWrapper/Menu/Notifications/NotificationsDrawer/NotificationsDrawerItem/NotificationMessage/index.tsx
Owners: @flagright/engineering

Fix: Email address is now non-editable in Team Management (#8430)
  phytoplankton-console/src/pages/accounts/components/AccountForm.tsx
Owners: @flagright/engineering

FIX: case/alert status change modal to compatible with user approval workflow ff (#8444)
  phytoplankton-console/src/components/CaseEscalateTriggerAdvancedOptionsForm/index.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
Owners: @flagright/engineering

FEAT: rotate api key from developer settings (#8138)
  phytoplankton-console/src/components/AppWrapper/Menu/Notifications/NotificationsDrawer/NotificationsDrawerItem/NotificationMessage/index.tsx
  phytoplankton-console/src/components/AppWrapper/Menu/Notifications/NotificationsDrawer/story.tsx
  phytoplankton-console/src/pages/settings/components/ApiKeysSettings/index.module.less
  phytoplankton-console/src/pages/settings/components/ApiKeysSettings/index.tsx
  phytoplankton-console/src/pages/settings/components/NotificationSettings/NotificationsTypes.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/core/policies/policy-generator.ts
  tarpon/src/lambdas/api-key-generator/app.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/lambdas/cron-job-daily/app.ts
  tarpon/src/services/api-key/index.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/services/notifications/index.ts
  tarpon/src/services/notifications/subscriptions/api-key-expiring.ts
  tarpon/src/services/rbac/utils/permissions.ts
  tarpon/src/services/rules-engine/user-filters/utils/helpers.ts
  tarpon/src/services/tenants/index.ts
  tarpon/src/utils/audit-log.ts
Owners: @flagright/engineering, @amandugar, @patiljayant

migrate R-132 to v8 (#7550)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/logic-evaluator/logic-to-text/index.ts
  tarpon/src/services/logic-evaluator/operators/__tests__/contains-in-list-subtype.test.ts
  tarpon/src/services/logic-evaluator/operators/contains-in-lists-subtype.ts
  tarpon/src/services/logic-evaluator/operators/index.ts
  tarpon/src/services/logic-evaluator/operators/utils.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/blacklist-transaction-related-value.test.ts
  tarpon/src/services/rules-engine/user-filters/filter.ts
  tarpon/src/services/rules-engine/v8-migrations/index.ts
  tarpon/src/test-utils/rule-test-utils.ts
Owners: @flagright/engineering

Add data to index - Part 1 (#8235)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2025.10.15T03.14.01.add-users-data-to-opensearch.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/batch-jobs/ongoing-screening-user-rule-batch-job-runner.ts
  tarpon/src/utils/opensearch-definitions.ts
  tarpon/src/utils/opensearch-utils.ts
  tarpon/src/utils/user.ts
Owners: @flagright/engineering

FIX: update notification queue name (#8491)
  tarpon/src/services/tenants/index.ts
Owners: @flagright/engineering

Delete unused materialized views and tables (#8492)
  tarpon/scripts/migrations/post-deployment/2025.04.21T06.13.04.investigation-time-cases-stats-clickhouse-mv.ts
  tarpon/scripts/migrations/post-deployment/2025.04.21T06.13.04.rule-stats-clickhouse-mv.ts
  tarpon/scripts/migrations/post-deployment/2025.04.21T06.13.04.transaction-stats-clickhouse-mv.ts
  tarpon/scripts/migrations/post-deployment/2025.04.21T06.13.04.user-stats-clickhouse-mv.ts
  tarpon/scripts/migrations/pre-deployment/2025.04.21T06.13.04.investigation-time-cases-stats-clickhouse-mv.ts
  tarpon/scripts/migrations/pre-deployment/2025.04.21T06.13.04.rule-stats-clickhouse-mv.ts
  tarpon/scripts/migrations/pre-deployment/2025.04.21T06.13.04.transaction-stats-clickhouse-mv.ts
  tarpon/scripts/migrations/pre-deployment/2025.04.21T06.13.04user-stats-clickhouse-mv.ts
  tarpon/scripts/migrations/pre-deployment/2025.11.13T06.19.41.delete-unused-mv.ts
  tarpon/src/@types/clickhouse/table-names.ts
  tarpon/src/constants/clickhouse/definitions.ts
  tarpon/src/constants/clickhouse/id-column-map.ts
  tarpon/src/constants/clickhouse/views.ts
  tarpon/src/utils/clickhouse/definition.ts
  tarpon/src/utils/clickhouse/queries/investgation-times-stats-clickhouse.ts
  tarpon/src/utils/clickhouse/queries/rule-stats-clickhouse.ts
  tarpon/src/utils/clickhouse/queries/transaction-stats-clickhouse.ts
  tarpon/src/utils/clickhouse/queries/user-stats-clickhouse.ts
Owners: @flagright/engineering, @amandugar, @kr-amitsinha

Move to Least Possible Configuration of Asia-2 Infra (#8494)
  lib/config/config-prod-asia-2.ts
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-console-api-stack.ts
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-python-stack.ts
  tarpon/infra/cdk-tarpon-stack.ts
Owners: @flagright/engineering, @amandugar, @BalzySte

Fix: Rule stats query (#8313)
  phytoplankton-console/src/pages/dashboard/analysis/index.tsx
  tarpon/src/services/analytics/dashboard-metrics/rule-stats.ts
  tarpon/src/utils/clickhouse/definition.ts
Owners: @flagright/engineering, @amandugar, @kr-amitsinha

:bug: Fix createdAt for sanction searches (#8496)
  tarpon/src/services/sanctions/index.ts
Owners: @patiljayant

Added user-agg variable to create-scenario e2e (#8498)
  phytoplankton-console/cypress/e2e/rules/create-scenario.cy.ts
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
Owners: @flagright/engineering

User Transaction History Table Transaction Amount Duplicate Fix (#8485)
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/helpers.tsx
Owners: @flagright/engineering

Fixes in Payment Identifier (#8500)
  phytoplankton-console/src/utils/payments.ts
Owners: @flagright/engineering

:zap: Add user check for R-169 (#8497)
  tarpon/src/services/cases/__tests__/case-creation-service.test.ts
  tarpon/src/services/rules-engine/transaction-rules/sanctions-counterparty.ts
Owners: @flagright/engineering

Update rule instance analytics query to use explicit time range parameters (#8501)
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/RuleInstanceAnalytics.tsx
Owners: @flagright/engineering

enhance: use the desc table for queries to make table load faster (#8489)
  tarpon/src/services/rules-engine/repositories/clickhouse-repository.ts
Owners: @flagright/engineering

Revert default value for top rule hits by count (#8503)
  phytoplankton-console/src/pages/dashboard/analysis/index.tsx
Owners: @flagright/engineering

Fix: alert overwritten (#8469)
  tarpon/src/services/cases/case-creation-service.ts
Owners: @flagright/engineering

FEAT: alert transaction insight filtered based on case subject type (#8354)
  lib/utils/string.ts
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/helpers.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TransactionsSelector/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  phytoplankton-console/src/utils/api/transactions/index.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2025.11.13T14.42.00.trigger-clickhouse-backfill.ts
  tarpon/src/services/rules-engine/repositories/clickhouse-repository.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/utils/clickhouse/definition.ts
  tarpon/src/utils/clickhouse/utils.ts
Owners: @flagright/engineering, @amandugar, @kr-amitsinha

CRA Lock improvements (#8393)
  phytoplankton-console/src/components/ActivityCard/helpers.tsx
  phytoplankton-console/src/components/library/TextArea/index.tsx
  phytoplankton-console/src/constants/cra-lock-timer.ts
  phytoplankton-console/src/pages/settings/components/CraLockTimerSettings.tsx
  phytoplankton-console/src/pages/settings/components/RiskFactorApprovalSettings.tsx
  phytoplankton-console/src/pages/settings/components/RiskLevelApprovalSettings.tsx
  phytoplankton-console/src/pages/settings/components/SecuritySettings.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/ScreeningDetails/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserEODDEditor/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserManualRiskPanel/CraLockModal/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserManualRiskPanel/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/pre-deployment/2025.11.04T18.58.44.migrate-cra-lock-timer-hours-to-days.ts
  tarpon/src/lambdas/console-api-pulse/app.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
  tarpon/src/services/risk/index.ts
  tarpon/src/services/tenants/index.ts
  tarpon/src/services/tenants/repositories/tenant-repository.ts
Owners: @flagright/engineering

Fix: Toggle button for Risk Scoring Simulation (#7823)
  phytoplankton-console/src/pages/risk-levels/risk-factors/RiskFactorsTable/index.tsx
  phytoplankton-console/src/pages/rules/components/RuleStatusSwitch/index.tsx
Owners: @flagright/engineering
