Repository ArjitJindal/temp-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flagright/engineering, @madhug-nadig, @timrcoulson, @chialunwu, @koluch

.github/CODEOWNERS:

# By default, one of the engineering team must approve a PR.
*       @flagright/engineering

# RBAC
tarpon/src/core/default-roles.ts  @madhug-nadig @timrcoulson

# Public APIs
tarpon/src/lambdas/public-* @chialunwu @timrcoulson @madhug-nadig

# Rules Engine
tarpon/src/services/rules-engine/* @chialunwu @madhug-nadig

# Core frontend components
phytoplankton-console/src/components/library/* @chialunwu @koluch

Update deploy_qa.yml
  .github/workflows/deploy_qa.yml
Owners: @flagright/engineering

Mandatory values null error isn’t displayed on role creation (#1648)
  phytoplankton-console/src/pages/accounts/Roles/RoleForm.tsx
Owners: @flagright/engineering

diabled buttons according to the permission (#1652)
  phytoplankton-console/src/components/CommentButton/index.tsx
  phytoplankton-console/src/components/library/Button/index.tsx
  phytoplankton-console/src/pages/accounts/Roles/RoleForm.tsx
  phytoplankton-console/src/pages/accounts/Roles/index.tsx
  phytoplankton-console/src/pages/case-management-item/components/Header/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
  phytoplankton-console/src/pages/case-management/components/AssignToButton/index.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeButton.tsx
  phytoplankton-console/src/pages/lists/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/RiskClassification/index.tsx
  phytoplankton-console/src/pages/sanctions/search/index.tsx
  phytoplankton-console/src/pages/users-item/Header/index.tsx
Owners: @flagright/engineering

used mongo syncIndexes utility (#1666)
  tarpon/src/utils/mongoDBUtils.ts
Owners: @flagright/engineering

deselect the selection in user direction filter (#1656)
  phytoplankton-console/src/components/library/Select/index.tsx
Owners: @flagright/engineering

Fr 2567 fix transaction checked count (#1647)
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/DisplayCheckedTransactions/index.tsx
Owners: @flagright/engineering

Enable Logging for S3 and VPC (#1662)
  phytoplankton-console/lib/cdk-phytoplankton-stack.ts
  tarpon/infra/cdk-tarpon-pipeline-stack.ts
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/infra/cdk-utils/cdk-log-group-utils.ts
  tarpon/lib/constants.ts
Owners: @flagright/engineering

Payment channels from Rule Parameter to Rule Filters (#1667)
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/custom/PaymentChannelInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/types.ts
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/StandardFiltersStep/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2023.07.03T11.02.53.delete-payment-channel-rule-parameter.ts
  tarpon/scripts/migrations/pre-deployment/2023.07.03T10.43.01.add-payment-channels-to-rule-filter.ts
  tarpon/scripts/migrations/utils/rule.ts
  tarpon/src/lambdas/public-management-api-rule/__tests__/app.test.ts
  tarpon/src/services/rules-engine/filters.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/rules-engine/transaction-filters/__tests__/payment-channels.test.ts
  tarpon/src/services/rules-engine/transaction-filters/payment-channels.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/low-value-incoming-transactions.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/low-value-outgoing-transactions.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transaction-amount.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transaction-new-country.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-velocity.test.ts
  tarpon/src/services/rules-engine/transaction-rules/low-value-transactions-base.ts
  tarpon/src/services/rules-engine/transaction-rules/transaction-amount.ts
  tarpon/src/services/rules-engine/transaction-rules/transaction-new-country.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-velocity.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
Owners: @flagright/engineering, @chialunwu, @timrcoulson, @madhug-nadig

Split up post apis cases (#1491)
  phytoplankton-console/src/pages/case-management-item/components/Header/SubHeader/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/helpers.ts
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTableWrapper.tsx
  phytoplankton-console/src/pages/case-management/components/AlertsStatusChangeButton/AlertsStatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/AssignToButton/index.tsx
  phytoplankton-console/src/pages/case-management/components/CasesStatusChangeButton/CasesStatusChangeModal.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/scripts/migrations/post-deployment/2023.06.14T09.37.56.kevin-add-missing-alert-narrative.ts
  tarpon/src/lambdas/batch-job/__tests__/simulation-beacon-batch-job-runner.test.ts
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/console-api-case/services/__tests__/case-service.test.ts
  tarpon/src/lambdas/console-api-case/services/case-alerts-audit-log-service.ts
  tarpon/src/lambdas/console-api-case/services/case-service.ts
  tarpon/src/lambdas/console-api-dashboard/app.ts
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/rules-engine/repositories/alerts-repository.ts
  tarpon/src/services/rules-engine/repositories/case-repository.ts
Owners: @flagright/engineering

Fix Cypress Tests of Cases (#1671)
  phytoplankton-console/cypress/e2e/cases/cases-assigning-test.cy.js
  phytoplankton-console/cypress/e2e/cases/cases-close-test.cy.js
  phytoplankton-console/cypress/e2e/cases/cases-escalate-test.cy.js
Owners: @flagright/engineering

Fix MongoDB indexes (#1673)
  tarpon/src/utils/mongoDBUtils.ts
Owners: @flagright/engineering

Cleanup Rule Hits Util (#1637)
  tarpon/scripts/migrations/utils/cleanup-rule-hits.ts
  tarpon/src/lambdas/console-api-case/services/case-service.ts
  tarpon/src/lambdas/console-api-dashboard/app.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/__tests__/dashboard-stats-repository.hits-per-user.test.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/__tests__/dashboard-stats-repository.rules-hit.test.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/__tests__/dashboard-stats-repository.transactions.test.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-stats-repository.ts
  tarpon/src/lambdas/console-api-dashboard/utils.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
  tarpon/src/utils/mongoDBUtils.ts
Owners: @flagright/engineering

Capture dynamo DB with XRay (#1570)
  tarpon/package-lock.json
  tarpon/package.json
  tarpon/src/utils/dynamodb.ts
  tarpon/src/utils/env.ts
Owners: @flagright/engineering

Enable lint rule - @typescript-eslint/no-floating-promises (#1675)
  tarpon/.eslintrc.json
  tarpon/local-api-server.ts
  tarpon/package.json
  tarpon/scripts/migrations/always-run/sync-list-library.ts
  tarpon/scripts/migrations/always-run/sync-mongodb-indices.ts
  tarpon/scripts/migrations/always-run/sync-rules-library.ts
  tarpon/scripts/print-qa-key.ts
  tarpon/scripts/run-integration-tests.ts
  tarpon/scripts/sync-postman-collection.ts
  tarpon/src/lambdas/public-api-user-management/app.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/scripts/index.ts
  tarpon/src/services/list/repositories/__tests__/list-repository.test.ts
Owners: @flagright/engineering, @chialunwu, @timrcoulson, @madhug-nadig

Remove Cases Rules Api (#1678)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/console-api-case/services/case-service.ts
  tarpon/src/services/rules-engine/repositories/case-repository.ts
Owners: @flagright/engineering

TS Fix For Parent Repo (#1677)
  tarpon/.eslintrc.js
  tarpon/.eslintrc.json
Owners: @flagright/engineering

Fix unable to switch demo mode (#1679)
  phytoplankton-console/src/components/AppWrapper/Providers/DemoModeProvider.tsx
  phytoplankton-console/src/components/SuperAdminPanel/index.tsx
  phytoplankton-console/src/utils/user-utils.tsx
Owners: @flagright/engineering

Fr 2604 handling array in audit log changes redering (#1670)
  phytoplankton-console/src/utils/json.ts
Owners: @flagright/engineering

Added astirisk to the required field in Status change modal for alerts and cases (#1668)
  phytoplankton-console/src/components/library/Label/index.tsx
  phytoplankton-console/src/components/library/Label/style.module.less
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
Owners: @flagright/engineering

Remove cases-caseId-rule-rulesInstanceId-transactions (#1680)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/console-api-case/services/case-service.ts
  tarpon/src/services/rules-engine/repositories/case-repository.ts
Owners: @flagright/engineering

Do not Add Server Access Bucket in QA (#1676)
  tarpon/infra/cdk-tarpon-stack.ts
Owners: @flagright/engineering

Revert "Added astirisk to the required field in Status change modal or alerts and cases (#1668)" (#1685)
  phytoplankton-console/src/components/library/Label/index.tsx
  phytoplankton-console/src/components/library/Label/style.module.less
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
Owners: @flagright/engineering

Limit Bulk Actions to 20 (#1658)
  phytoplankton-console/src/components/Sar/index.tsx
  phytoplankton-console/src/components/library/Table/Footer/index.module.less
  phytoplankton-console/src/components/library/Table/Footer/index.tsx
  phytoplankton-console/src/components/library/Table/Header/SelectionActions/index.tsx
  phytoplankton-console/src/components/library/Table/consts.tsx
  phytoplankton-console/src/components/library/Table/index.tsx
  phytoplankton-console/src/components/library/Table/internal/helpers.tsx
  phytoplankton-console/src/components/library/Table/internal/partialySelectedRows.tsx
  phytoplankton-console/src/components/library/Table/story.tsx
  phytoplankton-console/src/components/library/Table/types.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
  phytoplankton-console/src/pages/case-management/components/AssignToButton/index.tsx
  phytoplankton-console/src/utils/table-utils.tsx
Owners: @flagright/engineering

Cleanup of b38d50efa
  tarpon/lib/openapi/openapi-internal-augmentor.ts
Owners: @flagright/engineering

Add 90 Min Dead Letter SQS Queue Alarm (#1686)
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-alarms-stack.ts
Owners: @flagright/engineering

Performance improvements for rule engine (#1653)
  tarpon/src/core/middlewares/bg-processing-middleware.ts
  tarpon/src/core/middlewares/lambda-api-middlewares.ts
  tarpon/src/core/utils/context.ts
  tarpon/src/lambdas/batch-job/api-usage-metrics-batch-job-runner.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/lambdas/batch-job/batch-job-runner-base.ts
  tarpon/src/lambdas/batch-job/demo-mode-data-load-job-runner.ts
  tarpon/src/lambdas/batch-job/file-import-batch-job-runner.ts
  tarpon/src/lambdas/batch-job/global-rule-aggregation-rebuild-batch-job-runner.ts
  tarpon/src/lambdas/batch-job/ongoing-screening-user-rule-batch-job-runner.ts
  tarpon/src/lambdas/batch-job/placeholder-batch-job-runner.ts
  tarpon/src/lambdas/batch-job/pulse-data-load-job-runner.ts
  tarpon/src/lambdas/batch-job/simulation-beacon-batch-job-runner.ts
  tarpon/src/lambdas/batch-job/simulation-pulse-batch-job-runner.ts
  tarpon/src/services/batch-job/index.ts
  tarpon/src/services/rules-engine/filters.ts
  tarpon/src/services/rules-engine/rule-service.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/utils/background.ts
Owners: @flagright/engineering, @chialunwu, @madhug-nadig

Reduce ongoing screening users batch size to 100 (#1689)
  tarpon/src/lambdas/cron-job-midnight/app.ts
Owners: @flagright/engineering

Fix null pointer exception when running user rule filter (#1690)
  tarpon/src/services/metrics/sheets-api-usage-metrics-service.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/utils/retry.ts
Owners: @flagright/engineering, @chialunwu, @madhug-nadig

Fix failing to initialize context (#1691)
  tarpon/src/core/utils/context.ts
Owners: @flagright/engineering

Payment details view does not wrap (#1683)
  phytoplankton-console/src/components/ui/PaymentDetailsCard/index.module.less
Owners: @flagright/engineering

add default seats as 3 while tenant creation (#1665)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/services/tenants/index.ts
Owners: @flagright/engineering

Fix logger.warning (#1693)
  tarpon/src/lambdas/webhook-deliverer/app.ts
  tarpon/src/utils/retry.ts
Owners: @flagright/engineering

Have some padding below the last field (#1688)
  phytoplankton-console/src/components/library/VerticalMenu/style.module.less
Owners: @flagright/engineering

Fix memory leaks (#1695)
  tarpon/src/utils/background.ts
  tarpon/src/utils/dynamodb.ts
Owners: @flagright/engineering

Fix running tests locally (#1700)
  tarpon/src/lambdas/console-api-simulation/__tests__/app.test.ts
  tarpon/src/lambdas/public-sanctions-api-sanctions/__tests__/app.test.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/batch-job/index.ts
  tarpon/src/utils/env.ts
Owners: @flagright/engineering, @chialunwu, @timrcoulson, @madhug-nadig

Slack failure messages (#1698)
  .github/workflows/test_phyto.yml
  .github/workflows/test_tarpon.yml
Owners: @flagright/engineering

Dedupe indices (#1701)
  tarpon/src/utils/mongoDBUtils.ts
Owners: @flagright/engineering

Fix tarponPublicApiTransactionFunction lambda unable to access MongoDB (#1704)
  tarpon/infra/cdk-tarpon-stack.ts
Owners: @flagright/engineering

Add new value for User Segment risk factor (#1703)
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/consts.tsx
  tarpon/lib/openapi/public/openapi-public-original.yaml
Owners: @flagright/engineering

#FR-1180: Add unit tests for Table component (#1659)
  phytoplankton-console/.eslintignore
  phytoplankton-console/jest.config.js
  phytoplankton-console/jest/jest-react-file-transformer.js
  phytoplankton-console/jest/jest-react-svg-transformer.js
  phytoplankton-console/jest/jest-setup.js
  phytoplankton-console/jest/jest-utils.ts
  phytoplankton-console/jest/testing-library-wrapper.tsx
  phytoplankton-console/package.json
  phytoplankton-console/src/@types/globals.d.ts
  phytoplankton-console/src/components/AppWrapper/Providers/AuthProvider.tsx
  phytoplankton-console/src/components/library/Checkbox/index.tsx
  phytoplankton-console/src/components/library/Pagination/index.tsx
  phytoplankton-console/src/components/library/Table/Header/Tools/SettingsButton/index.tsx
  phytoplankton-console/src/components/library/Table/__tests__/table.test.tsx
  phytoplankton-console/src/components/library/Table/index.tsx
  phytoplankton-console/tsconfig.json
  phytoplankton-console/yarn.lock
Owners: @flagright/engineering
