Repository ArjitJindal/temp-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flagright/engineering, @madhug-nadig, @timrcoulson, @chialunwu, @koluch

Fix flaky E2E test alerts-select-diferent-entities (#4578)
  phytoplankton-console/cypress/e2e/alerts/alerts-close-test.cy.ts
  phytoplankton-console/cypress/e2e/alerts/alerts-select-different-entities.cy.ts
Owners: @flagright/engineering

Refactoring: get rid of `@umijs/fabric` dependency (#4561)
  phytoplankton-console/.prettierrc.js
  phytoplankton-console/.stylelintrc.js
  phytoplankton-console/package.json
  phytoplankton-console/yarn.lock
Owners: @flagright/engineering

Improve product release notes to emphasize customer-facing changes (#4560)
  scripts/create-release.ts
  scripts/utils/notion.ts
Owners: @flagright/engineering

Fix glue streaming (#4519)
  viper/infra/main.ts
  viper/src/aws/s3.py
  viper/src/jobs/jobs.py
  viper/src/tables/entity_tables.py
Owners: @flagright/engineering

Remove investigations by Tim (#4520)
  tarpon/scripts/migrations/pre-deployment/2024.08.19T11.12.22.remove-test-investigations.ts
Owners: @flagright/engineering

Attempt to reduce cold start for transaction lambda (#4566)
  lib/config/config-dev.ts
  lib/config/config-local.ts
  lib/config/config-prod-asia-1.ts
  lib/config/config-prod-asia-2.ts
  lib/config/config-prod-au-1.ts
  lib/config/config-prod-eu-1.ts
  lib/config/config-prod-eu-2.ts
  lib/config/config-prod-me-1.ts
  lib/config/config-prod-us-1.ts
  lib/config/config-sandbox-eu-1.ts
  lib/config/config.ts
  tarpon/infra/cdk-tarpon-stack.ts
Owners: @flagright/engineering

Remove linkedEntities.childUserIds (#4548)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/scripts/migrations/post-deployment/2024.08.22T15.28.14.remove-child-user-ids.ts
  tarpon/src/canaries/public-api-canary-tests/index.ts
  tarpon/src/core/dynamodb/dynamodb-stream-utils.ts
  tarpon/src/services/linker/index.ts
  tarpon/src/services/rules-engine/user-rules-engine-service.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/resources/entity-variables.json
  tarpon/src/services/rules-engine/v8-variables/__tests__/user-child-user-ids.test.ts
  tarpon/src/services/rules-engine/v8-variables/index.ts
  tarpon/src/services/rules-engine/v8-variables/user-child-user-ids.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/utils/mongodb-definitions.ts
Owners: @flagright/engineering, @chialunwu, @madhug-nadig

Refactor comply advantage (#4510)
  phytoplankton-console/src/pages/sanctions/search/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2024.07.02T18.02.06.fetch-full-ca-results.ts
  tarpon/scripts/migrations/post-deployment/2024.07.12T09.59.29.add-match-details-to-hits.ts
  tarpon/scripts/migrations/post-deployment/2024.07.29T15.34.11.restore-match-types-details.ts
  tarpon/scripts/migrations/pre-deployment/2024.08.26T14.55.21.add-provider-id.ts
  tarpon/src/core/seed/raw-data/sanctions-search.ts
  tarpon/src/lambdas/incoming-webhooks/app.ts
  tarpon/src/services/batch-jobs/__tests__/ongoing-screening-user-rule-batch-job-runner.test.ts
  tarpon/src/services/cases/__tests__/case-creation-service.test.ts
  tarpon/src/services/cases/case-creation-service.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/sanctions-counterparty.test.ts
  tarpon/src/services/rules-engine/user-rules/__tests__/sanctions-bank-name.test.ts
  tarpon/src/services/rules-engine/user-rules/__tests__/sanctions-business-user.test.ts
  tarpon/src/services/rules-engine/user-rules/__tests__/sanctions-consumer-user.test.ts
  tarpon/src/services/sanctions/__tests__/index.test.ts
  tarpon/src/services/sanctions/comply-advantage-api.ts
  tarpon/src/services/sanctions/comply-advantage-data-provider.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/providers/types.ts
  tarpon/src/services/sanctions/repositories/sanctions-search-repository.ts
  tarpon/src/test-utils/complyadvantage-test-utils.ts
Owners: @flagright/engineering

Curreny Conversion in Amount Value Variables (#4586)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/helpers.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/transaction-amount.test.ts
  tarpon/src/services/rules-engine/v8-variables/index.ts
Owners: @flagright/engineering

Empty derived risk factors not using default risk level (#4582)
  tarpon/src/services/risk-scoring/risk-scoring-service.ts
  tarpon/src/test-utils/pulse-test-utils.ts
Owners: @flagright/engineering

Async Rules Backend (#4549)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/constants.ts
  tarpon/lib/lambdas.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/scripts/migrations/migrator.ts
  tarpon/src/lambdas/async-rule/app.ts
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/__tests__/user-rules-engine-service.test.ts
  tarpon/src/services/rules-engine/repositories/dynamodb-transaction-repository.ts
  tarpon/src/services/rules-engine/repositories/transaction-event-repository.ts
  tarpon/src/services/rules-engine/repositories/user-event-repository.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/user-rules-engine-service.ts
  tarpon/src/services/rules-engine/utils/rule-utils.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/test-utils/rule-test-utils.ts
  tarpon/src/test-utils/transaction-test-utils.ts
Owners: @flagright/engineering, @chialunwu, @madhug-nadig

chore(phytoplankton-console): minor text changes in rules config page (#4584)
  phytoplankton-console/src/components/UserStatusTriggersAdvancedOptionsForm/index.tsx
Owners: @flagright/engineering

Add auth0 CDN to CSP
  phytoplankton-console/build/index.js
Owners: @flagright/engineering

feat(phytoplankton-console): align the tenant tags horizontally in the super admin modal (#4585)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
Owners: @flagright/engineering

Fix Tarpon Deploy (#4591)
  tarpon/lib/lambdas.ts
  tarpon/src/lambdas/async-rule/app.ts
Owners: @flagright/engineering

Fix: CSP for Firefox (#4593)
  phytoplankton-console/build/index.js
  phytoplankton-console/package.json
  phytoplankton-console/src/index.html
Owners: @flagright/engineering

Upgrade openai from 4.52.2 to 4.55.4
  tarpon/package.json
  tarpon/yarn.lock
Owners: @flagright/engineering

Upgrade @aws-sdk/client-s3 from 3.608.0 to 3.627.0
  tarpon/package.json
  tarpon/yarn.lock
Owners: @flagright/engineering

Upgrade @aws-sdk/client-dynamodb from 3.606.0 to 3.624.0
  tarpon/package.json
  tarpon/yarn.lock
Owners: @flagright/engineering

Upgrade aws-cdk-lib from 2.150.0 to 2.151.0
  lib/package.json
  lib/yarn.lock
Owners: @flagright/engineering

Upgrade aws-cdk from 2.150.0 to 2.151.0
  package.json
  yarn.lock
Owners: @flagright/engineering

Cache frequently accessed data in-memory for public APIs (#4574)
  tarpon/package.json
  tarpon/src/lambdas/public-api-rules-engine/app.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
  tarpon/src/services/rules-engine/repositories/rule-repository.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/tenants/repositories/tenant-repository.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/utils/memory-cache.ts
  tarpon/yarn.lock
Owners: @flagright/engineering, @chialunwu, @timrcoulson, @madhug-nadig

Add asia-1 sandbox api server (#4597)
  tarpon/lib/openapi/public/openapi-public-original.yaml
Owners: @flagright/engineering

Add x-fern-server-name tag (#4598)
  tarpon/lib/openapi/public-management/openapi-public-management-original.yaml
  tarpon/lib/openapi/public/openapi-public-original.yaml
Owners: @flagright/engineering

Make async rules queue a fifo (#4599)
  tarpon/infra/cdk-tarpon-stack.ts
Owners: @flagright/engineering

Implement basic search on DowJones with Mongo (#4569)
  lib/config/config-dev.ts
  lib/config/config-prod-asia-1.ts
  lib/config/config-prod-asia-2.ts
  lib/config/config-prod-au-1.ts
  lib/config/config-prod-eu-1.ts
  lib/config/config-prod-eu-2.ts
  lib/config/config-prod-me-1.ts
  lib/config/config-prod-us-1.ts
  lib/config/config-sandbox-eu-1.ts
  lib/config/config.ts
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  tarpon/cdktf.json
  tarpon/infra/cdktf-tarpon-stack.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/sanctions/__tests__/dow-jones.test.ts
  tarpon/src/services/sanctions/data-fetchers.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/providers/comply-advantage-api.ts
  tarpon/src/services/sanctions/providers/comply-advantage-provider.ts
  tarpon/src/services/sanctions/providers/dow-jones-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/providers/types.ts
Owners: @flagright/engineering

Add region to Mongo Atlas provider
  tarpon/infra/cdktf-tarpon-stack.ts
Owners: @flagright/engineering

V8: Option to include current transaction to aggregation while processing the transaction (#4542)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/style.module.less
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2024.08.26T11.17.55.update-rules-with-agg-func-UNIQUE_VALUES.ts
  tarpon/scripts/migrations/utils/__tests__/rule-utils.test.ts
  tarpon/src/services/batch-jobs/__tests__/rule-pre-aggregation-batch-job-runner.test.ts
  tarpon/src/services/risk-scoring/__tests__/risk-scoring-service.test.ts
  tarpon/src/services/rules-engine/__tests__/rule-service.test.ts
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/__tests__/user-rules-engine-service.test.ts
  tarpon/src/services/rules-engine/repositories/__tests__/rule-instance-repository.test.ts
  tarpon/src/services/rules-engine/v8-engine/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-engine/index.ts
  tarpon/src/services/rules-engine/v8-engine/test-utils.ts
  tarpon/src/services/rules-engine/v8-migrations/index.ts
  tarpon/src/services/rules-engine/v8-migrations/utils.ts
Owners: @flagright/engineering

Hack to disable AWS secrets for Mongo Atlas provider
  tarpon/infra/cdktf-tarpon-stack.ts
  tarpon/package.json
Owners: @flagright/engineering

#FR-5325: Implement “Prev/Next” navigation in sanctions hit details drawer (#4567)
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/index.tsx
  phytoplankton-console/src/components/SanctionsHitsTable/index.tsx
  phytoplankton-console/src/components/library/Table/types.tsx
Owners: @flagright/engineering

[Figma] Sync Figma changes with code (#4580)
  phytoplankton-console/src/components/ui/figma-vars.less
  phytoplankton-console/src/components/ui/figma-vars.ts
Owners: @flagright/engineering

Create User details search API (#4571)
  tarpon/lib/openapi/openapi-public-management-augmentor.ts
  tarpon/lib/openapi/public-management/openapi-public-management-original.yaml
  tarpon/scripts/openapi/openapi_generate_sdk.ts
  tarpon/src/lambdas/public-management-api-users/app.ts
  tarpon/src/services/users/index.ts
  tarpon/src/services/users/repositories/user-repository.ts
Owners: @flagright/engineering, @chialunwu, @timrcoulson, @madhug-nadig

Hard code atlas cluster names
  lib/config/config-prod-asia-1.ts
  lib/config/config-prod-asia-2.ts
  lib/config/config-prod-au-1.ts
  lib/config/config-prod-eu-1.ts
  lib/config/config-prod-eu-2.ts
  lib/config/config-prod-me-1.ts
  lib/config/config-prod-us-1.ts
  lib/config/config-sandbox-asia-1.ts
  lib/config/config-sandbox-eu-1.ts
  lib/config/config.ts
  tarpon/infra/cdktf-tarpon-stack.ts
Owners: @flagright/engineering

Fix type error in CDKTF
  tarpon/infra/cdktf-tarpon-stack.ts
Owners: @flagright/engineering

Fix search index definition on dev
  lib/config/config-dev.ts
  tarpon/infra/cdktf-tarpon-stack.ts
Owners: @flagright/engineering

Invalid transaction IP causes task to fail (#4592)
  tarpon/src/services/geo-ip/index.ts
Owners: @flagright/engineering

Fixes for sanctions (#4609)
  tarpon/scripts/migrations/pre-deployment/2024.09.03T15.31.66.add-data-field.ts
  tarpon/src/services/sanctions/providers/comply-advantage-provider.ts
Owners: @flagright/engineering

Remove FP rate text in the graph for Shadow rules. (#4601)
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/RuleInstanceAnalytics.tsx
Owners: @flagright/engineering

Map more data from dow jones (#4607)
  tarpon/src/services/sanctions/__tests__/dow-jones.test.ts
  tarpon/src/services/sanctions/providers/dow-jones-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/providers/types.ts
Owners: @flagright/engineering

Fix api usage metrics for sanctions (#4612)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/pre-deployment/2024.09.03T18.44.21.add-timestamp.ts
  tarpon/src/core/seed/raw-data/sanctions-search.ts
  tarpon/src/services/batch-jobs/__tests__/ongoing-screening-user-rule-batch-job-runner.test.ts
  tarpon/src/services/cases/__tests__/case-creation-service.test.ts
  tarpon/src/services/metrics/api-usage-metrics-service.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/sanctions-counterparty.test.ts
  tarpon/src/services/rules-engine/user-rules/__tests__/sanctions-bank-name.test.ts
  tarpon/src/services/rules-engine/user-rules/__tests__/sanctions-business-user.test.ts
  tarpon/src/services/rules-engine/user-rules/__tests__/sanctions-consumer-user.test.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/providers/comply-advantage-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/utils/mongodb-definitions.ts
Owners: @flagright/engineering

.github/CODEOWNERS:

# By default, one of the engineering team must approve a PR.
*       @flagright/engineering

# RBAC
tarpon/src/core/default-roles.ts  @madhug-nadig @timrcoulson

# Public APIs
tarpon/src/lambdas/public-* @chialunwu @timrcoulson @madhug-nadig

# Rules Engine
tarpon/src/services/rules-engine/* @chialunwu @madhug-nadig

# Core frontend components
phytoplankton-console/src/components/library/* @chialunwu @koluch
