Repository ArjitJindal/temp-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flagright/engineering, @madhug-nadig, @timrcoulson, @chialunwu, @koluch

.github/CODEOWNERS:

# By default, one of the engineering team must approve a PR.
*       @flagright/engineering

# RBAC
tarpon/src/core/default-roles.ts  @madhug-nadig @timrcoulson

# Public APIs
tarpon/src/lambdas/public-* @chialunwu @timrcoulson @madhug-nadig

# Rules Engine
tarpon/src/services/rules-engine/* @chialunwu @madhug-nadig

# Core frontend components
phytoplankton-console/src/components/library/* @chialunwu @koluch

feat(tarpon): new v8 user variable entities (#4613)
  tarpon/src/services/rules-engine/v8-variables/__tests__/resources/entity-variables.json
  tarpon/src/services/rules-engine/v8-variables/__tests__/user-cra-level.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/user-cra-score.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/user-krs-level.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/user-krs-score.test.ts
  tarpon/src/services/rules-engine/v8-variables/index.ts
  tarpon/src/services/rules-engine/v8-variables/user-cra-level.ts
  tarpon/src/services/rules-engine/v8-variables/user-cra-score.ts
  tarpon/src/services/rules-engine/v8-variables/user-krs-level.ts
  tarpon/src/services/rules-engine/v8-variables/user-krs-score.ts
Owners: @flagright/engineering

perf(tarpon): query aggregations only once while updating aggregation variable (#4682)
  tarpon/src/services/rules-engine/v8-engine/index.ts
Owners: @flagright/engineering

Session Timeouts Per Auth0 Tenant (#4703)
  tarpon/infra/auth0/cdktf-auth0-resources.ts
  tarpon/lib/configs/auth0/tenant-config-dev.ts
  tarpon/lib/configs/auth0/tenant-config-prod-regtank.ts
  tarpon/lib/configs/auth0/tenant-config-prod-traxionright.ts
  tarpon/lib/configs/auth0/tenant-config-prod.ts
  tarpon/lib/configs/auth0/tenant-config-sandbox-regtank.ts
  tarpon/lib/configs/auth0/tenant-config-sandbox-traxionright.ts
  tarpon/lib/configs/auth0/tenant-config-sandbox.ts
  tarpon/lib/configs/auth0/type.ts
Owners: @flagright/engineering

Fix: Failed to execute 'removeChild' on 'Node’ (Transactions List) (#4702)
  phytoplankton-console/src/components/library/Table/internal/helpers.tsx
  phytoplankton-console/src/components/library/Table/internal/index.module.less
Owners: @flagright/engineering

Inital Scaffolding for V8 Risk Scoring Service (#4650)
  phytoplankton-console/src/pages/settings/components/RiskAlgorithmsCra/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/core/dynamodb/dynamodb-stream-consumer-builder.ts
  tarpon/src/core/dynamodb/dynamodb-stream-utils.ts
  tarpon/src/lambdas/hammerhead-change-mongodb-consumer/app.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/services/risk-scoring/__tests__/risk-scoring-v8-service.test.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
  tarpon/src/services/risk-scoring/risk-scoring-v8-service.ts
  tarpon/src/services/tenants/index.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/utils/mongodb-definitions.ts
Owners: @flagright/engineering

Users Table to Clickhouse (#4588)
  phytoplankton-console/src/pages/users/users-list/all-user-columns.tsx
  phytoplankton-console/src/pages/users/users-list/business-user-columns.tsx
  phytoplankton-console/src/pages/users/users-list/consumer-users-columns.tsx
  phytoplankton-console/src/pages/users/users-list/helpers/queryAdapter.ts
  phytoplankton-console/src/pages/users/users-list/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/scripts/migrations/post-deployment/2024.09.04T07.44.20.add-inverted-index-to-user-table-clickhouse.ts
  tarpon/src/lambdas/console-api-user/app.ts
  tarpon/src/services/rules-engine/repositories/clickhouse-repository.ts
  tarpon/src/services/users/index.ts
  tarpon/src/services/users/repositories/user-clickhouse-repository.ts
  tarpon/src/utils/clickhouse-definition.ts
  tarpon/src/utils/clickhouse-utils.ts
Owners: @flagright/engineering

Make session timeout 1 Hour (#4713)
  tarpon/infra/auth0/actions/post-login.js
  tarpon/infra/auth0/cdktf-auth0-resources.ts
  tarpon/lib/configs/auth0/tenant-config-dev.ts
  tarpon/lib/configs/auth0/tenant-config-prod-regtank.ts
  tarpon/lib/configs/auth0/tenant-config-prod-traxionright.ts
  tarpon/lib/configs/auth0/tenant-config-prod.ts
  tarpon/lib/configs/auth0/tenant-config-sandbox-regtank.ts
  tarpon/lib/configs/auth0/tenant-config-sandbox-traxionright.ts
  tarpon/lib/configs/auth0/tenant-config-sandbox.ts
Owners: @flagright/engineering

Queue All Clickhouse Inserts (#4714)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/scripts/migrations/always-run/sync-clickhouse.ts
  tarpon/scripts/migrations/post-deployment/2024.09.04T07.44.20.add-inverted-index-to-user-table-clickhouse.ts
  tarpon/scripts/migrations/pre-deployment/2024.07.18T19.00.01.migrate-to-clickhouse.ts
  tarpon/scripts/migrations/pre-deployment/2024.08.05T13.22.36.reformat-clickhouse-tables-and-optimise-performance.ts
  tarpon/src/core/seed/mongo.ts
  tarpon/src/lambdas/console-api-transaction/app.ts
  tarpon/src/lambdas/mongo-db-trigger-consumer/__tests__/index.test.ts
  tarpon/src/lambdas/mongo-db-trigger-consumer/app.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/analytics/dashboard-metrics/transaction-stats.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/services/rules-engine/repositories/clickhouse-repository.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/users/index.ts
  tarpon/src/services/users/repositories/user-clickhouse-repository.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/utils/__tests__/clickhouse.test.ts
  tarpon/src/utils/clickhouse/definition.ts
  tarpon/src/utils/clickhouse/utils.ts
  tarpon/src/utils/mongodb-utils.ts
  tarpon/src/utils/pagination.ts
Owners: @flagright/engineering

Fix Mongo Queue (#4715)
  tarpon/infra/cdktf-tarpon-stack.ts
  tarpon/src/core/seed/mongo.ts
  tarpon/src/lambdas/mongo-db-trigger-consumer/app.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/utils/clickhouse/definition.ts
  tarpon/src/utils/mongodb-utils.ts
Owners: @flagright/engineering

Fix Token Lifetime in Auth0 (#4716)
  tarpon/infra/auth0/cdktf-auth0-resources.ts
Owners: @flagright/engineering

Refactor comply advantage out of existence from the frontend (#4677)
  phytoplankton-console/package.json
  phytoplankton-console/src/components/ComplyAdvantageHitTable/ComplyAdvantageHitDetailsDrawer/index.tsx
  phytoplankton-console/src/components/ComplyAdvantageHitTable/index.tsx
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/FieldValue/index.tsx
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/ListingCard/index.tsx
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/SanctionsComparison/__tests__/helpers.test.ts
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/SanctionsComparison/helpers.tsx
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/helpers.ts
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/index.tsx
  phytoplankton-console/src/components/SanctionsHitsTable/index.tsx
  phytoplankton-console/src/components/SanctionsWhitelistTable/helpers.tsx
  phytoplankton-console/src/components/SanctionsWhitelistTable/index.tsx
  phytoplankton-console/src/components/ui/CountryDisplay/index.tsx
  phytoplankton-console/src/pages/sanctions/search/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2024.05.29T16.54.24.copy_sanctions_hits.ts
  tarpon/scripts/migrations/post-deployment/2024.09.13T18.27.39.migrate-to-sanctions-entities.ts
  tarpon/src/core/seed/raw-data/sanctions-search.ts
  tarpon/src/lambdas/console-api-sanctions/app.ts
  tarpon/src/services/sanctions/__tests__/dow-jones.test.ts
  tarpon/src/services/sanctions/__tests__/index.test.ts
  tarpon/src/services/sanctions/__tests__/sanctions-whitelist-entity-repository.test.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/providers/__tests__/comply-advantage-provider.test.ts
  tarpon/src/services/sanctions/providers/comply-advantage-provider.ts
  tarpon/src/services/sanctions/providers/dow-jones-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/providers/types.ts
  tarpon/src/services/sanctions/repositories/sanctions-hits-repository.ts
  tarpon/src/services/sanctions/repositories/sanctions-repository.ts
  tarpon/src/services/sanctions/repositories/sanctions-whitelist-entity-repository.ts
  tarpon/src/utils/object.ts
Owners: @flagright/engineering

[Snyk] Upgrade @react-email/components from 0.0.22 to 0.0.23 (#4711)
  email-templates/package-lock.json
  email-templates/package.json
Owners: @flagright/engineering

[Snyk] Upgrade: aws-cdk, aws-cdk-lib
  package.json
  yarn.lock
Owners: @flagright/engineering

Upgrade aws-cdk-lib from 2.152.0 to 2.154.0
  lib/package.json
  lib/yarn.lock
Owners: @flagright/engineering

Update @aws-sdk/client-api-gateway
  lib/package.json
  lib/yarn.lock
Owners: @flagright/engineering

Upgrade @aws-sdk/util-dynamodb from 3.606.0 to 3.635.0
  tarpon/package.json
  tarpon/yarn.lock
Owners: @flagright/engineering

Fix Clickhouse Issues on Sandbox (#4719)
  tarpon/src/lambdas/mongo-db-trigger-consumer/app.ts
  tarpon/src/services/users/index.ts
  tarpon/src/services/users/repositories/user-clickhouse-repository.ts
Owners: @flagright/engineering

Update rule stats asynchronously (#4554)
  tarpon/scripts/migrations/utils/cleanup-rule-hits.ts
  tarpon/src/core/dynamodb/dynamodb-stream-consumer-builder.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
Owners: @flagright/engineering, @chialunwu, @madhug-nadig

Make firstName optional in user events (#4717)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/core/seed/data/transactions.ts
  tarpon/src/core/seed/samplers/cases.ts
  tarpon/src/services/copilot/questions/definitions/common/person.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-business-user.ts
  tarpon/src/services/sar/generators/KE/SAR/index.ts
  tarpon/src/services/sar/generators/LT/common.ts
  tarpon/src/services/sar/generators/US/SAR/index.ts
Owners: @flagright/engineering

Fix phyto build
  phytoplankton-console/src/pages/users-item/UserReport/index.tsx
Owners: @flagright/engineering

Fix: Demo mode fake simulation runs too fast (#4720)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/index.tsx
Owners: @flagright/engineering

Migrate Clickhouse Dev Data (#4723)
  tarpon/scripts/migrations/post-deployment/2024.09.14T19.00.03.add-clickhouse-data.ts
  tarpon/scripts/migrations/pre-deployment/2024.09.14T16.27.13.create-tables-clickhouse.ts
  tarpon/src/utils/clickhouse/definition.ts
Owners: @flagright/engineering

[PNB] Show proposed status, Reason and proposed by for In Review cases/alerts (#4722)
  phytoplankton-console/src/components/library/Tag/CaseStatusTag/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
Owners: @flagright/engineering

Enable locking CRA over API (#4610)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/lambdas/public-api-rules-engine/app.ts
  tarpon/src/lambdas/public-api-user-management/app.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
  tarpon/src/services/risk-scoring/risk-scoring-service.ts
  tarpon/src/services/rules-engine/user-rules-engine-service.ts
Owners: @flagright/engineering, @chialunwu, @timrcoulson, @madhug-nadig

Dow Jones search (#4656)
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/package.json
  tarpon/src/services/sanctions/__tests__/data/dowjones_single/PFA2_202409072200_D.xml
  tarpon/src/services/sanctions/__tests__/data/dowjones_splits/Masters/Country_202407312200.xml
  tarpon/src/services/sanctions/__tests__/data/dowjones_splits/Masters/DateType_202407312200.xml
  tarpon/src/services/sanctions/__tests__/data/dowjones_splits/Masters/Description1_202407312200.xml
  tarpon/src/services/sanctions/__tests__/data/dowjones_splits/Masters/Description2_202407312200.xml
  tarpon/src/services/sanctions/__tests__/data/dowjones_splits/Masters/Description3_202407312200.xml
  tarpon/src/services/sanctions/__tests__/data/dowjones_splits/Masters/NameType_202407312200.xml
  tarpon/src/services/sanctions/__tests__/data/dowjones_splits/Masters/Occupation_202407312200.xml
  tarpon/src/services/sanctions/__tests__/data/dowjones_splits/Masters/RelationshipCategory_202407312200.xml
  tarpon/src/services/sanctions/__tests__/data/dowjones_splits/Masters/RoleType_202407312200.xml
  tarpon/src/services/sanctions/__tests__/data/dowjones_splits/Masters/SanctionListReferences_202407312200.xml
  tarpon/src/services/sanctions/__tests__/data/dowjones_splits/Person/PFA2_10001_15000_F.xml
  tarpon/src/services/sanctions/__tests__/data/dowjones_splits/Person_Associations/PFA2_10001_15000_F.xml
  tarpon/src/services/sanctions/__tests__/dow-jones.test.ts
  tarpon/src/services/sanctions/__tests__/sanctions-repository.test.ts
  tarpon/src/services/sanctions/providers/__tests__/comply-advantage-provider.test.ts
  tarpon/src/services/sanctions/providers/comply-advantage-provider.ts
  tarpon/src/services/sanctions/providers/dow-jones-countries.ts
  tarpon/src/services/sanctions/providers/dow-jones-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/providers/types.ts
  tarpon/src/services/sanctions/repositories/sanctions-repository.ts
  tarpon/src/utils/mongodb-definitions.ts
  tarpon/src/utils/object.ts
  tarpon/yarn.lock
Owners: @flagright/engineering

Fix reading of split directory for Dow Jones
  tarpon/src/services/sanctions/__tests__/data/dowjones_splits/Factiva_PFA_Feed_XML/PFA2_202408312200_F_Splits/Masters/Country_202407312200.xml
  tarpon/src/services/sanctions/__tests__/data/dowjones_splits/Factiva_PFA_Feed_XML/PFA2_202408312200_F_Splits/Masters/DateType_202407312200.xml
  tarpon/src/services/sanctions/__tests__/data/dowjones_splits/Factiva_PFA_Feed_XML/PFA2_202408312200_F_Splits/Masters/Description1_202407312200.xml
  tarpon/src/services/sanctions/__tests__/data/dowjones_splits/Factiva_PFA_Feed_XML/PFA2_202408312200_F_Splits/Masters/Description2_202407312200.xml
  tarpon/src/services/sanctions/__tests__/data/dowjones_splits/Factiva_PFA_Feed_XML/PFA2_202408312200_F_Splits/Masters/Description3_202407312200.xml
  tarpon/src/services/sanctions/__tests__/data/dowjones_splits/Factiva_PFA_Feed_XML/PFA2_202408312200_F_Splits/Masters/NameType_202407312200.xml
  tarpon/src/services/sanctions/__tests__/data/dowjones_splits/Factiva_PFA_Feed_XML/PFA2_202408312200_F_Splits/Masters/Occupation_202407312200.xml
  tarpon/src/services/sanctions/__tests__/data/dowjones_splits/Factiva_PFA_Feed_XML/PFA2_202408312200_F_Splits/Masters/RelationshipCategory_202407312200.xml
  tarpon/src/services/sanctions/__tests__/data/dowjones_splits/Factiva_PFA_Feed_XML/PFA2_202408312200_F_Splits/Masters/RoleType_202407312200.xml
  tarpon/src/services/sanctions/__tests__/data/dowjones_splits/Factiva_PFA_Feed_XML/PFA2_202408312200_F_Splits/Masters/SanctionListReferences_202407312200.xml
  tarpon/src/services/sanctions/__tests__/data/dowjones_splits/Factiva_PFA_Feed_XML/PFA2_202408312200_F_Splits/Person/PFA2_10001_15000_F.xml
  tarpon/src/services/sanctions/__tests__/data/dowjones_splits/Factiva_PFA_Feed_XML/PFA2_202408312200_F_Splits/Person_Associations/PFA2_10001_15000_F.xml
  tarpon/src/services/sanctions/providers/dow-jones-provider.ts
Owners: @flagright/engineering

Fixes for Dow Jones data fetch
  tarpon/src/services/sanctions/providers/dow-jones-provider.ts
Owners: @flagright/engineering

More fixes for Dow Jones loading
  tarpon/src/services/sanctions/providers/dow-jones-provider.ts
Owners: @flagright/engineering

Fix sanctionsSearchTypes for Dow Jones
  tarpon/src/services/sanctions/providers/dow-jones-provider.ts
Owners: @flagright/engineering

Small DowJones fixes (#4726)
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/index.tsx
  tarpon/src/services/sanctions/__tests__/dow-jones.test.ts
  tarpon/src/services/sanctions/providers/dow-jones-provider.ts
Owners: @flagright/engineering

Match based on country codes
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/sanctions/providers/dow-jones-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
Owners: @flagright/engineering

Dont show aliases when there are none
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/index.tsx
Owners: @flagright/engineering

Fix cases-comment E2E (#4727)
  phytoplankton-console/cypress/e2e/cases/cases-comment-test.cy.ts
  phytoplankton-console/src/components/ActivityCard/LogCard/index.tsx
Owners: @flagright/engineering

Fix Dow Jones tests
  tarpon/src/services/sanctions/__tests__/dow-jones.test.ts
Owners: @flagright/engineering

Transaction Type Question to Clickhouse (#4724)
  tarpon/src/services/copilot/questions/definitions/__tests__/transaction-types.test.ts
  tarpon/src/services/copilot/questions/definitions/transaction-type.ts
  tarpon/src/services/copilot/questions/definitions/util.ts
Owners: @flagright/engineering

Amount In Usd in Clickhouse (#4725)
  tarpon/src/core/seed/mongo.ts
  tarpon/src/lambdas/mongo-db-trigger-consumer/__tests__/index.test.ts
  tarpon/src/lambdas/mongo-db-trigger-consumer/app.ts
  tarpon/src/lambdas/mongo-db-trigger-consumer/index.ts
Owners: @flagright/engineering

Batch API: Better validation (#4704)
  phytoplankton-console/src/components/file-import/FileImportButton.tsx
  phytoplankton-console/src/locales/en-US/menu.ts
  phytoplankton-console/src/pages/import/import-transactions/data.d.ts
  phytoplankton-console/src/pages/import/import-transactions/index.tsx
  phytoplankton-console/src/pages/import/import-transactions/service.ts
  phytoplankton-console/src/pages/import/import-users/data.d.ts
  phytoplankton-console/src/pages/import/import-users/index.tsx
  phytoplankton-console/src/pages/import/import-users/service.ts
  phytoplankton-console/src/services/routing/index.ts
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-console-api-stack.ts
  tarpon/lib/lambdas.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/lib/openapi/openapi-public-augmentor.ts
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/core/utils/context.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/lambdas/console-api-file-import/__tests__/app.test.ts
  tarpon/src/lambdas/console-api-file-import/app.ts
  tarpon/src/lambdas/console-api-file-import/business/index.ts
  tarpon/src/lambdas/console-api-file-import/business/sh-payment-converter.ts
  tarpon/src/lambdas/console-api-file-import/converter-interface.ts
  tarpon/src/lambdas/console-api-file-import/flagright-converter.ts
  tarpon/src/lambdas/console-api-file-import/importer.ts
  tarpon/src/lambdas/console-api-file-import/transaction/index.ts
  tarpon/src/lambdas/console-api-file-import/transaction/sh-payment-converter.ts
  tarpon/src/lambdas/console-api-file-import/user/index.ts
  tarpon/src/lambdas/public-api-rules-engine/__tests__/app.test.ts
  tarpon/src/lambdas/public-api-rules-engine/app.ts
  tarpon/src/lambdas/public-api-user-management/__tests__/app.test.ts
  tarpon/src/lambdas/public-api-user-management/app.ts
  tarpon/src/services/batch-import/__tests__/index.test.ts
  tarpon/src/services/batch-import/index.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/file-import-batch-job-runner.ts
  tarpon/src/services/import/import-repository.ts
  tarpon/src/services/import/index.ts
Owners: @flagright/engineering, @chialunwu, @timrcoulson, @madhug-nadig

Fix associations query for sanctions data fetch (#4732)
  tarpon/src/services/sanctions/repositories/sanctions-repository.ts
Owners: @flagright/engineering

Fix Clickhouse Migration (#4735)
  tarpon/scripts/migrations/pre-deployment/2024.09.14T16.27.13.create-tables-clickhouse.ts
Owners: @flagright/engineering

Add data points needed by PNB (#4733)
  phytoplankton-console/src/components/ComplyAdvantageHitTable/index.tsx
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/index.tsx
  phytoplankton-console/src/components/SanctionsHitsTable/index.tsx
  phytoplankton-console/src/pages/sanctions/search/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/sanctions/__tests__/data/dowjones_splits/Factiva_PFA_Feed_XML/PFA2_202408312200_F_Splits/Person/PFA2_10001_15000_F.xml
  tarpon/src/services/sanctions/__tests__/dow-jones.test.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/providers/dow-jones-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/providers/types.ts
Owners: @flagright/engineering
