Repository ArjitJindal/temp-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flagright/engineering, @madhug-nadig, @timrcoulson, @chialunwu, @koluch

Fix 'All users' tab crashing
  phytoplankton-console/src/pages/users/users-list/all-user-columns.tsx
Owners: @flagright/engineering

Format the number and add padding in between the text and button for no entities found (#5045)
  phytoplankton-console/src/components/library/CrudEntitiesTable/index.tsx
  phytoplankton-console/src/components/library/EmptyDataInfo/index.tsx
  phytoplankton-console/src/pages/settings/components/QuotaSettings.tsx
Owners: @flagright/engineering

Revert secrets manager upgrade
  tarpon/package.json
  tarpon/yarn.lock
Owners: @flagright/engineering

Password To Weak Error Fix (#5064)
  tarpon/src/services/accounts/index.ts
Owners: @flagright/engineering

Added tooltip for one liner description above PEP Rank(levels) (#5034)
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/GeneralDetails/PepStatus/index.tsx
Owners: @flagright/engineering

Fix CI Dirty Way (#5118)
  lib/yarn.lock
  package.json
  tarpon/package.json
  tarpon/src/lambdas/jwt-authorizer/app.ts
  tarpon/src/services/linker/index.ts
  tarpon/src/services/risk-scoring/derived-risk-factors/user-age.ts
  tarpon/src/services/risk-scoring/risk-scoring-service.ts
  tarpon/src/utils/anonymize.ts
  tarpon/yarn.lock
  yarn.lock
Owners: @flagright/engineering

Split all Settings Permissions (#5108)
  phytoplankton-console/cypress/e2e/cases/case-creation-test.cy.ts
  phytoplankton-console/cypress/support/permissions.ts
  phytoplankton-console/src/components/ui/PageTabs/index.tsx
  phytoplankton-console/src/pages/accounts/Roles/RoleForm.tsx
  phytoplankton-console/src/pages/case-management/components/AddToSlackButton.tsx
  phytoplankton-console/src/pages/settings/components/AISources/index.tsx
  phytoplankton-console/src/pages/settings/components/ChecklistTemplatesSettings.tsx
  phytoplankton-console/src/pages/settings/components/CraToggleSettings.tsx
  phytoplankton-console/src/pages/settings/components/DefaultValuesSettings.tsx
  phytoplankton-console/src/pages/settings/components/EmailNotificationsSettings.tsx
  phytoplankton-console/src/pages/settings/components/FlagrightAISettings.tsx
  phytoplankton-console/src/pages/settings/components/FlagtightMLSettings.tsx
  phytoplankton-console/src/pages/settings/components/KYCUserStatusSettings/index.tsx
  phytoplankton-console/src/pages/settings/components/NarrativeTemplateSettings.tsx
  phytoplankton-console/src/pages/settings/components/NotificationSettings/index.tsx
  phytoplankton-console/src/pages/settings/components/PaymentApprovalSettings.tsx
  phytoplankton-console/src/pages/settings/components/PepStatusConfigSettings/index.tsx
  phytoplankton-console/src/pages/settings/components/ReRunTriggerSettings/index.tsx
  phytoplankton-console/src/pages/settings/components/RiskAlgorithmsCra/index.tsx
  phytoplankton-console/src/pages/settings/components/RiskAlgorithmsSettings.tsx
  phytoplankton-console/src/pages/settings/components/RiskLevelSettings.tsx
  phytoplankton-console/src/pages/settings/components/RuleActionSettings.tsx
  phytoplankton-console/src/pages/settings/components/RuleQueuesSettings.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/index.tsx
  phytoplankton-console/src/pages/settings/components/SecuritySettings.tsx
  phytoplankton-console/src/pages/settings/components/SlaPolicySettings/index.tsx
  phytoplankton-console/src/pages/settings/components/TagSettings/index.tsx
  phytoplankton-console/src/pages/settings/components/TransactionStateSettings.tsx
  phytoplankton-console/src/pages/settings/index.tsx
  phytoplankton-console/src/services/routing/index.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2024.10.28T12.36.20.split-settings-permissions.ts
  tarpon/src/core/default-roles.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
Owners: @flagright/engineering, @madhug-nadig, @timrcoulson

Unblock pipeline: Fix case-comment.e2e (#5112)
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserActivityCard/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/audit-log/repositories/auditlog-repository.ts
  tarpon/src/utils/mongodb-utils.ts
Owners: @flagright/engineering

update V2 drs calculation for user events (#5113)
  tarpon/scripts/migrations/post-deployment/2024.10.29T06.26.04.remove-drs-values-of-users-for-kinesis.ts
  tarpon/src/services/risk-scoring/risk-scoring-service.ts
Owners: @flagright/engineering

Fix cursor timing out for long running simulation (#5111)
  tarpon/src/services/batch-jobs/simulation-v8-risk-scoring-batch-job-runner.ts
Owners: @flagright/engineering

Populate user details for demo mode (#5090)
  tarpon/src/core/seed/samplers/users.ts
Owners: @flagright/engineering

Factor in review assignment accounts to match sla policy conditions (#5106)
  tarpon/src/services/alerts/__tests__/alerts-sla-service.test.ts
  tarpon/src/services/alerts/alerts-sla-service.ts
  tarpon/src/services/alerts/sla/__tests__/sla-utils.test.ts
  tarpon/src/services/alerts/sla/sla-utils.ts
Owners: @flagright/engineering

Fix Tabs Not Displaying (#5119)
  phytoplankton-console/src/components/ui/PageTabs/index.tsx
Owners: @flagright/engineering

Fix Mongo Consumer (#5116)
  tarpon/src/lambdas/mongo-db-trigger-consumer/index.ts
  tarpon/src/services/tenants/index.ts
  tarpon/src/services/tenants/repositories/tenant-repository.ts
Owners: @flagright/engineering

Bump sandbox user lambda memory from 512MB to 1GB (#5125)
  lib/config/config-sandbox-eu-1.ts
Owners: @flagright/engineering

Fix Local Deployment (#5126)
  tarpon/src/services/currency/index.ts
  tarpon/src/services/currency/repository.ts
Owners: @flagright/engineering

Fix Deployment and Pipeline (#5127)
  lib/package.json
  lib/yarn.lock
  package.json
  tarpon/package.json
  tarpon/yarn.lock
  yarn.lock
Owners: @flagright/engineering

Checker was unable to Assign (#5121)
  phytoplankton-console/src/pages/accounts/components/AccountForm.tsx
  phytoplankton-console/src/pages/case-management/components/AssigneesDropdown/index.tsx
Owners: @flagright/engineering

Fix AI Forencics Data Consistency (#5122)
  tarpon/src/services/copilot/questions/definitions/reference-word-count.ts
  tarpon/src/services/copilot/questions/definitions/transaction-summary.ts
  tarpon/src/services/copilot/questions/definitions/transaction-type.ts
  tarpon/src/services/copilot/questions/definitions/transactions.ts
  tarpon/src/utils/pagination.ts
Owners: @flagright/engineering

Comeback (#5135)
  phytoplankton-console/src/components/ui/PageTabs/index.tsx
  tarpon/src/lambdas/mongo-db-trigger-consumer/index.ts
  tarpon/src/services/tenants/repositories/tenant-repository.ts
Owners: @flagright/engineering

Create PNB stress test env DynamoDB (#5136)
  lib/constants/silo-data-tenants.ts
Owners: @flagright/engineering

PNB backfill updates (#5124)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/lambdas/console-api-pulse/app.ts
  tarpon/src/lambdas/cron-job-ten-minute/app.ts
  tarpon/src/lambdas/public-api-user-management/app.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/pnb-backfill-cra-fargate-batch-job.ts
  tarpon/src/services/batch-jobs/pnb-backfill-transactions-fargate-batch-job.ts
  tarpon/src/services/batch-jobs/repositories/batch-job-repository.ts
  tarpon/src/services/logic-evaluator/engine/index.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
  tarpon/src/services/risk-scoring/risk-scoring-v8-service.ts
  tarpon/src/services/risk/index.ts
  tarpon/src/utils/mongodb-definitions.ts
Owners: @flagright/engineering, @chialunwu, @timrcoulson, @madhug-nadig

Fix PNB Stress Test Silo Tenant (#5140)
  lib/constants/silo-data-tenants.ts
Owners: @flagright/engineering

Fix Tenant Deletion Check (#5141)
  tarpon/src/lambdas/mongo-db-trigger-consumer/index.ts
Owners: @flagright/engineering

Modified case and alert assignee dropdown to show currently logged user at top. (#5052)
  phytoplankton-console/src/pages/case-management/components/AssigneesDropdown/index.tsx
  phytoplankton-console/src/utils/user-utils.tsx
Owners: @flagright/engineering

Fix average Ars score being undefined (#5143)
  tarpon/src/lambdas/console-api-pulse/app.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
  tarpon/src/services/risk/index.ts
Owners: @flagright/engineering

Fix Review Assignments issue in cases (#5144)
  tarpon/src/services/case-alerts-common/index.ts
  tarpon/src/services/cases/__tests__/case-service.test.ts
  tarpon/src/services/cases/index.ts
Owners: @flagright/engineering

Run ongoing sanctions in memory for PNB (#5139)
  tarpon/.prettierignore
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/batch-job.ts
  tarpon/src/services/batch-jobs/multi-job-ongoing-screening-runner.ts
  tarpon/src/services/batch-jobs/pnb-screening-backfill-runner.ts
  tarpon/src/services/batch-jobs/sanctions-data-fetch-job-runner.ts
  tarpon/src/services/rules-engine/user-rules/dowjones-consumer-user.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/providers/__tests__/matched_user_ids.csv
  tarpon/src/services/sanctions/providers/__tests__/ongoing_search_results.json
  tarpon/src/services/sanctions/providers/__tests__/sanctions-data-fetcher.test.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/repositories/sanctions-screening-details-repository.ts
  tarpon/src/utils/s3.ts
Owners: @flagright/engineering

Dont run rule for non matching records
  tarpon/src/services/batch-jobs/ongoing-screening-user-rule-batch-job-runner.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
Owners: @flagright/engineering

Fix sanctions fetcher
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
Owners: @flagright/engineering

Fix sanctions fetcher
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
Owners: @flagright/engineering

Alert escalation assignee not shown in the log (#5098)
  phytoplankton-console/src/components/ActivityCard/helpers.tsx
Owners: @flagright/engineering

Revert skipping a job if another in-progress job with the same param is found (#5150)
  tarpon/src/lambdas/batch-job/app.ts
Owners: @flagright/engineering

SAR improvements: implement transactions list editing (#5146)
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/TransactionStep/NewTransactionForm/index.module.less
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/TransactionStep/NewTransactionForm/index.tsx
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/TransactionStep/index.module.less
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/TransactionStep/index.tsx
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/index.tsx
  phytoplankton-console/src/components/library/Form/ArrayItemForm/index.tsx
  phytoplankton-console/src/components/library/Form/utils/validation/types.ts
  tarpon/src/services/sar/generators/MY/STR/schema.ts
Owners: @flagright/engineering

Fix In review escalated L1 alerts moving directly to escalated L2 (#5152)
  tarpon/src/services/alerts/index.ts
Owners: @flagright/engineering

Add ‘Assigned to role’ to case exports (#4861)
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
Owners: @flagright/engineering

Fix PEP status UI (#5062)
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/GeneralDetails/PepStatus/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/GeneralDetails/PepStatus/utils.ts
Owners: @flagright/engineering

Change NRIC behaviour in R-18 (#5046)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/rules-engine/user-rules/dowjones-consumer-user.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
Owners: @flagright/engineering

[Security] Remove newman and postman-collections (#5153)
  tarpon/package.json
  tarpon/yarn.lock
Owners: @flagright/engineering

#FR-5934: SAR PNB requirements (#5161)
  phytoplankton-console/src/pages/reports/components/ReportsTable/index.module.less
  phytoplankton-console/src/pages/reports/components/ReportsTable/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-sar/app.ts
  tarpon/src/services/sar/repositories/report-repository.ts
  tarpon/src/services/sar/service.ts
Owners: @flagright/engineering

.github/CODEOWNERS:

# By default, one of the engineering team must approve a PR.
*       @flagright/engineering

# RBAC
tarpon/src/core/default-roles.ts  @madhug-nadig @timrcoulson

# Public APIs
tarpon/src/lambdas/public-* @chialunwu @timrcoulson @madhug-nadig

# Rules Engine
tarpon/src/services/rules-engine/* @chialunwu @madhug-nadig

# Core frontend components
phytoplankton-console/src/components/library/* @chialunwu @koluch
