Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, pipeline

:bug: Fix addition to user to list during alert/case closing (#7784)
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/cases/index.ts
  tarpon/src/utils/user-update-utils.ts
Labels: backend

E2E: demo data update and mulitselect command updates (#7782)
  phytoplankton-console/cypress/support/commands.ts
  tarpon/src/core/seed/data/transactions.ts
  tarpon/src/core/seed/index.ts
Labels: backend, frontend

Use fastest-levenshtein instead of fast-levenshtein (#7781)
  lib/package.json
  lib/utils/string.ts
  lib/yarn.lock
  tarpon/src/utils/fuzzy.ts
  tarpon/src/utils/search.ts
Labels: backend

Update yarn lock for orca (#7789)
  .yarnrc.yml
  lib/yarn.lock
  phytoplankton-console/yarn.lock
  yarn.lock
Labels: frontend

Fix index name for non-aggregated sources (#7792)
  tarpon/src/services/sanctions/utils.ts
Labels: backend

Update nango yarn.lock (#7793)
  nango-integrations/yarn.lock
Labels: none

Fix R-11 rule description (#7794)
  tarpon/src/services/rules-engine/transaction-rules/library.ts
Labels: backend

FIX: correct team management page based on current organization (#7767)
  tarpon/src/lambdas/console-api-account/app.ts
  tarpon/src/services/accounts/index.ts
Labels: backend

FIX: Consistent cache update while inviting a account (#7695)
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/accounts/repository/dynamo.ts
Labels: backend

FEAT: metric and alarm for rule run errors while transaction verification (#7779)
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-alarms-stack.ts
  tarpon/infra/cdk-utils/cdk-cw-alarms-utils.ts
  tarpon/src/core/cloudwatch/metrics.ts
  tarpon/src/core/utils/__tests__/context.test.ts
  tarpon/src/core/utils/context.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
Labels: backend, infra

Lambdas Memory Reduction Try (#7796)
  lib/config/config-dev.ts
  lib/config/config-local.ts
  lib/config/config-prod-asia-1.ts
  lib/config/config-prod-asia-2.ts
  lib/config/config-prod-asia-3.ts
  lib/config/config-prod-au-1.ts
  lib/config/config-prod-eu-1.ts
  lib/config/config-prod-eu-2.ts
  lib/config/config-prod-me-1.ts
  lib/config/config-prod-us-1.ts
  lib/config/config-sandbox-eu-1.ts
  lib/config/config.ts
  lib/yarn.lock
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-console-api-stack.ts
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/infra/cdk-utils/cdk-apigateway-utils.ts
  tarpon/infra/cdk-utils/cdk-fargate-utils.ts
  tarpon/infra/cdk-utils/cdk-lambda-utils.ts
  tarpon/package.json
  tarpon/scripts/esbuild.js
  tarpon/src/canaries/public-api-canary-tests/index.ts
  tarpon/src/services/batch-jobs/edd-review-batch-job-runner.ts
  tarpon/src/services/cases/utils/xlsx-generator.ts
  tarpon/src/services/pdf-extraction/pdf-extraction-service.ts
  tarpon/src/services/sar/generators/MY/STR/index.ts
  tarpon/src/services/sar/generators/MY/STR/report-builder.ts
  tarpon/yarn.lock
Labels: backend, infra

fix: capitalize Ctf to CTF (#7744)
  lib/constants/acronyms.ts
Labels: none

Implement get child users in linker service (#7758)
  tarpon/scripts/migrations/pre-deployment/2025.08.27T03.48.58.add-user-materialise-column.ts
  tarpon/src/services/linker/index.ts
  tarpon/src/services/users/index.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/utils/clickhouse/definition.ts
Labels: backend

Fix: Updated the explanation for transaction risk score (#7761)
  phytoplankton-console/src/pages/risk-levels/risk-algorithms/RiskAlgorithm/index.tsx
Labels: frontend

Update security group name for opensearch (#7799)
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

Fix: Selected tag key not visible in filters (#7777)
  phytoplankton-console/src/pages/transactions/components/TagSearchButton/PopupContent/index.tsx
  phytoplankton-console/src/pages/transactions/components/UserTagSearchButton/PopupContent/index.tsx
Labels: frontend

Fix: Default risk factors are editable without clicking Edit (#7723)
  phytoplankton-console/src/components/library/Button/index.tsx
  phytoplankton-console/src/components/library/Table/index.tsx
  phytoplankton-console/src/components/library/Table/types.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/RiskFactorsTable/ExpandedComponent.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/RiskFactorsTable/hooks/useTableColumns.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/RiskFactorsTable/index.tsx
  phytoplankton-console/src/pages/settings/components/SlaPolicySettings/index.tsx
Labels: frontend

Update env for fargate demo data job (#7805)
  tarpon/infra/cdk-utils/cdk-fargate-utils.ts
Labels: backend, infra

Crypto Currencies Added into Schema (#7795)
  lib/constants/currencies.ts
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/test-resources/mocked-currency-exchange-rates.ts
Labels: backend

Added ToolTip for when rule is in deploying stage (#7790)
  phytoplankton-console/src/pages/rules/my-rules/index.tsx
Labels: frontend

fix: mask Dow Jones password field to prevent credential exposure (#7766)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  tarpon/src/core/utils/context.ts
  tarpon/src/services/tenants/index.ts
Labels: backend, frontend

Fix: Reference search field flickery (#7715)
  phytoplankton-console/src/components/library/QuickFilter/subtypes/InputQuickFilter/index.tsx
Labels: frontend

Refactor username search to remove ClickHouse dependency (#7753)
  tarpon/src/lambdas/console-api-user/app.ts
  tarpon/src/services/users/index.ts
Labels: backend

Transaction export not working from Transaction history page (#7783)
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/helpers.tsx
Labels: frontend

PNB alerts closure script (#7755)
  tarpon/package.json
  tarpon/scripts/close-screening-alerts.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/utils/clickhouse/utils.ts
  tarpon/src/utils/dynamodb.ts
  tarpon/src/utils/mongodb-utils.ts
Labels: backend

Enable AND/OR logic for V2 tags (#7707)
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/keyValuePair/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/keyValuePair/style.module.less
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/types.ts
  tarpon/src/services/rules-engine/filters.ts
  tarpon/src/services/rules-engine/transaction-filters/__tests__/transaction-tags.test.ts
  tarpon/src/services/rules-engine/transaction-filters/transaction-tags.ts
  tarpon/src/services/rules-engine/user-filters/user-tags.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
  tarpon/src/services/rules-engine/utils/rule-utils.ts
Labels: backend, frontend

Add performance dashboard and enhance error logging in middleware (#7769)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/infra/dashboards/public-api-transaction-function.ts
  tarpon/src/core/middlewares/lambda-api-middlewares.ts
  tarpon/src/lambdas/public-api-rules-engine/app.ts
Labels: backend, infra

Add additional properties to posthog (#7657)
  tarpon/src/core/cloudwatch/metrics.ts
  tarpon/src/services/metrics/__tests__/utils.ts
  tarpon/src/services/metrics/api-usage-metrics-service.ts
  tarpon/src/services/metrics/utils.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
Labels: backend

Fix: wording for risk scoring calculation options (#7801)
  phytoplankton-console/src/pages/settings/components/ReRunTriggerSettings/index.tsx
Labels: frontend

Fix: Updated breadcrumb wording to 'Create scenario' (#7762)
  phytoplankton-console/src/pages/rules/rules-library-item/index.tsx
Labels: frontend

FIX: Propagate user alias to “Choose user” button in Lists (#7713)
  phytoplankton-console/src/pages/lists/NewListDrawer/NewValueInput/index.tsx
Labels: frontend

Skip deploying monitoring dashboard for qa envs (#7809)
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

Reset pending approval requests when updating approval workflows (#7771)
  phytoplankton-console/src/pages/settings/components/RiskFactorApprovalSettings.tsx
  phytoplankton-console/src/pages/settings/components/RiskLevelApprovalSettings.tsx
  phytoplankton-console/src/pages/settings/components/UserUpdateApprovalSettings.tsx
  tarpon/src/lambdas/console-api-workflow/app.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
  tarpon/src/services/risk/index.ts
  tarpon/src/services/tenants/index.ts
  tarpon/src/services/users/index.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/services/workflow/index.ts
Labels: backend, frontend

Don't show download button when hyperlink is not provided for Screening (#7627)
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/ListingCard/index.tsx
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/index.tsx
Labels: frontend

Migrate R-130 (#7494)
  tarpon/src/services/logic-evaluator/engine/index.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-round-value-velocity.test.ts
  tarpon/src/services/rules-engine/v8-migrations/index.ts
Labels: backend

Show country values in the dropdown for V8 (#7775)
  phytoplankton-console/src/components/AppWrapper/Providers/SettingsProvider.tsx
  phytoplankton-console/src/pages/risk-levels/configure/components/Charts/index.tsx
Labels: frontend

Add ClickHouse model schema parser (#7634)
  tarpon/src/utils/clickhouse/__tests__/model-schema-parser.test.ts
  tarpon/src/utils/clickhouse/__tests__/test-models.ts
  tarpon/src/utils/clickhouse/definition.ts
  tarpon/src/utils/clickhouse/model-schema-parser.ts
  tarpon/src/utils/clickhouse/utils.ts
Labels: backend

FIX: Renamed AI detection to AI models in Rules page (#7745)
  phytoplankton-console/src/pages/rules/index.tsx
  phytoplankton-console/src/pages/rules/simulation-history/index.tsx
Labels: frontend

Fix: Fixed Resizing issue for Assigned to column (#7791)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
  phytoplankton-console/src/pages/case-management/QA/Table/index.tsx
Labels: frontend

Add PEP status in user details (#7760)
  phytoplankton-console/src/pages/users-item/UserDetails/BusinessUserDetails/PepStatus/index.module.less
  phytoplankton-console/src/pages/users-item/UserDetails/BusinessUserDetails/PepStatus/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/BusinessUserDetails/PersonsCard/PersonDetails/index.tsx
Labels: frontend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

pipeline:
  - bin/**
