Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, databricks, pipeline

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

databricks:
  - databricks/**

pipeline:
  - bin/**

Bump databricks schema version
  databricks/infra/main.ts
Labels: databricks

Entity variable configuration improvements - multi-level inputs (#3371)
  phytoplankton-console/src/components/library/Select/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/EntityVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/NestedSelects/__tests__/nested-selects.dom.test.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/NestedSelects/index.tsx
Labels: frontend

Fix deployment failure (#3460)
  .gitignore
  README.md
  databricks/infra/package-lock.json
  databricks/infra/package.json
  lib/package.json
  lib/yarn.lock
  package.json
  phytoplankton-console/package.json
  phytoplankton-console/yarn.lock
  raptor/README.md
  raptor/cdk.json
  raptor/codes/lambda/api-hosting-predictor/src/handler.py
  raptor/codes/lambda/api-hosting-predictor/test/input_data.json
  raptor/codes/lambda/api-hosting-predictor/test/test_handler.py
  raptor/codes/lambda/api-testing-tester/src/handler.py
  raptor/codes/lambda/api-testing-tester/src/http_request_tester.py
  raptor/codes/lambda/api-testing-tester/test/event.json
  raptor/codes/lambda/api-testing-tester/test/test_handler.py
  raptor/config/app-config.json
  raptor/lib/base/base-stack.ts
  raptor/lib/utils/config-loaders.ts
  raptor/lib/utils/types.ts
  raptor/models/README.MD
  raptor/models/model-a/src/inference.py
  raptor/models/model-a/src/requirements.txt
  raptor/models/model-a/src/utils.py
  raptor/models/model-a/test/input_data.json
  raptor/models/model-a/test/test_local_model.py
  raptor/models/model-a/test/test_remote_model.py
  raptor/package-lock.json
  raptor/package.json
  raptor/tsconfig.json
  tarpon/.gitignore
  tarpon/infra/cdk-utils/cdk-synthetics-utils.ts
  tarpon/package.json
  tarpon/yarn.lock
  yarn.lock
Labels: backend, infra, frontend, databricks

Update default rate limit to 50 rps (#3440)
  tarpon/src/services/tenants/index.ts
Labels: backend

SAR fixes (#3461)
  phytoplankton-console/src/pages/reports/components/ReportsTable/index.tsx
  tarpon/src/services/sar/repositories/report-repository.ts
  tarpon/src/services/sar/service.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend, frontend

Remove frozen lockfile
  .github/workflows/destroy_phyto_qa.yml
Labels: none

New Kyc Status EDD in Progress (#3452)
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/KYCStatusDistributionCard/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/KYCStatusEditor/KYCChangeModal/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserStateEditor/UserChangeModal/index.tsx
  phytoplankton-console/src/utils/api/users.ts
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/users/index.ts
Labels: backend, frontend

Show a default message when “Unique values” is selected as an aggregate function (#3450)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
  tarpon/src/services/rules-engine/v8-engine/index.ts
Labels: backend, frontend

#FR-2994: Entity Linking Doesn’t work in Dev Investigate (#3411)
  phytoplankton-console/build/index.js
  phytoplankton-console/lib/cdk-phytoplankton-stack.ts
  phytoplankton-console/src/index.html
  phytoplankton-console/src/inline/loader.html
Labels: frontend

FR-4431 Disable View history in simulation history page (#3447)
  phytoplankton-console/src/pages/rules/RulesPageWrapper/index.tsx
Labels: frontend

Migrate Audit Logs for Pulse (#3428)
  tarpon/src/lambdas/console-api-pulse/app.ts
  tarpon/src/services/risk-scoring/risk-scoring-service.ts
  tarpon/src/services/risk/index.ts
  tarpon/src/services/risk/pulse-audit-log.ts
Labels: backend

Comment in Transactions Webhook (#3465)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/rules-engine/rules-engine-service.ts
Labels: backend

Fix migration and mongodb index definition (#3467)
  tarpon/scripts/migrations/post-deployment/2024.03.04T22.32.18.backfill-sanctions-screening-details.ts
  tarpon/src/lambdas/batch-job/__tests__/dashboard-refresh-batch-job-runner.test.ts
  tarpon/src/test-utils/tenant-test-utils.ts
  tarpon/src/utils/mongodb-definitions.ts
  tarpon/src/utils/mongodb-utils.ts
Labels: backend

Add whitelable URLs to connect-src (#3473)
  phytoplankton-console/build/index.js
Labels: frontend

Remove unused slackCreds (#3471)
  databricks/infra/main.ts
Labels: databricks

Fix demo data (#3453)
  tarpon/src/core/seed/data/rules.ts
Labels: backend

Fix R-33 (#3472)
  tarpon/src/services/rules-engine/user-rules/user-inactivity.ts
Labels: backend

#FR-4408: Add the ability to upload a document on the Payment approval modal. (#3448)
  phytoplankton-console/src/components/Narrative/index.tsx
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/AttachmentsStep/index.tsx
  phytoplankton-console/src/components/ui/FilesDraggerInput/index.tsx
  phytoplankton-console/src/pages/case-management/components/PaymentApprovalButton/PaymentApprovalModal.tsx
  phytoplankton-console/src/pages/users-item/ManualCaseCreationModal/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/KYCStatusEditor/KYCChangeModal/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserStateEditor/UserChangeModal/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-transaction/app.ts
Labels: backend, frontend

Use log retention time in config for Fargate (#3478)
  databricks/infra/cdktf.json
  tarpon/infra/cdk-utils/cdk-fargate-utils.ts
Labels: backend, infra, databricks

Validate search term and birth year before doing ComplyAdvantage search (#3479)
  tarpon/src/lambdas/public-sanctions-api-sanctions/app.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-consumer-user.ts
  tarpon/src/services/sanctions/index.ts
Labels: backend

FR-4336 fix rate limited error caused by canary (#3474)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/src/canaries/public-api-canary-tests/index.ts
Labels: backend, infra

Currency delta live table (#3468)
  databricks/infra/main.ts
  databricks/notebooks/backfill.py
  databricks/notebooks/pipeline.py
  databricks/poetry.lock
  databricks/pyproject.toml
  databricks/src/entities.py
  databricks/src/scripts/currency_rates_backfill.py
Labels: databricks

Stream converted transaction amounts (#3480)
  databricks/data/currency_rates_backfill.json
  databricks/notebooks/backfill.py
  databricks/notebooks/pipeline.py
  databricks/src/entities.py
  databricks/src/entities_test.py
Labels: databricks

Keep compute alive for eu-2
  databricks/infra/main.ts
Labels: databricks

Fix backfill job
  databricks/notebooks/backfill.py
Labels: databricks

Provision SQL tables with sql warehouse
  databricks/infra/main.ts
Labels: databricks

Fix backfill script
  databricks/notebooks/backfill.py
  databricks/notebooks/pipeline.py
  databricks/src/entities.py
Labels: databricks

Remove unnecessary views
  databricks/infra/main.ts
Labels: databricks

Try except on backfill script
  databricks/notebooks/backfill.py
Labels: databricks

Add any flagright named tenant to Databricks
  databricks/infra/main.ts
Labels: databricks

Add 'features' cross-tenant query (#3455)
  tarpon/scripts/cross-tenant-query.ts
Labels: backend

Refresh payment approval list after approval/block (#3470)
  phytoplankton-console/src/pages/case-management/PaymentApprovalTable/index.tsx
Labels: frontend

Forensics: Aggregate across currencies (#3481)
  databricks/infra/cdktf.json
  databricks/infra/main.ts
  databricks/notebooks/backfill.py
  tarpon/src/services/copilot/questions/definitions/__tests__/util.ts
  tarpon/src/services/copilot/questions/definitions/transaction-aggregations.ts
  tarpon/src/services/copilot/questions/definitions/transaction-destination-summary.ts
  tarpon/src/services/copilot/questions/definitions/transaction-origin-summary.ts
  tarpon/src/services/copilot/questions/definitions/transactions.ts
  tarpon/src/services/copilot/questions/definitions/unique-payment-identifier-received.ts
  tarpon/src/services/copilot/questions/definitions/unique-payment-identifier-sent.ts
  tarpon/src/services/copilot/questions/definitions/users-received-money-from.ts
  tarpon/src/services/copilot/questions/definitions/users-sent-money-to.ts
  tarpon/src/services/copilot/questions/definitions/util.ts
  tarpon/src/services/copilot/questions/question-service.ts
  tarpon/src/services/copilot/questions/types.ts
Labels: backend, databricks

Trigger delta live tables on backfill completion
  databricks/notebooks/backfill.py
Labels: databricks

Add notion links to release note (#3486)
  scripts/create-release.ts
  scripts/utils/notion.ts
Labels: none

Restart python with dbutils
  databricks/.gitignore
  databricks/notebooks/backfill.py
Labels: databricks

Add white-label tenant entry points in the super admin panel (#3477)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/styles.module.less
  phytoplankton-console/src/utils/branding.ts
Labels: frontend

Install databricks SDK
  databricks/notebooks/backfill.py
Labels: databricks

Final fix for backfill script
  databricks/notebooks/backfill.py
Labels: databricks

Stop pipeline before deleting tables
  databricks/notebooks/backfill.py
Labels: databricks
