Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, raptor, pipeline

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

raptor:
  - raptor/**

pipeline:
  - bin/**

Fix: Demo data linked entities parent and child Ids should not be empty (#5886)
  tarpon/src/core/seed/samplers/users.ts
Labels: backend

Fix: demo data displaying multiple cases for the same user (#5884)
  tarpon/src/core/seed/data/cases.ts
  tarpon/src/core/seed/samplers/cases.ts
Labels: backend

UI-FIX: Fixed closing of status change modal when parent table rerenders (#5780)
  phytoplankton-console/src/pages/alert-item/components/Header/StatusChangeMenu/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/AlertsCard/index.tsx
  phytoplankton-console/src/pages/case-management-item/components/Header/StatusChangeMenu/index.tsx
  phytoplankton-console/src/pages/case-management-item/components/Header/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/AlertTableWrappper.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemEmbedded/Recommendation/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTableWrapper.tsx
  phytoplankton-console/src/pages/case-management/components/AlertsStatusChangeButton/AlertsStatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/AlertsStatusChangeButton/index.tsx
  phytoplankton-console/src/pages/case-management/components/ApproveSendBackButton/index.tsx
  phytoplankton-console/src/pages/case-management/components/CasesStatusChangeButton/CasesStatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/CasesStatusChangeButton/index.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeButton.tsx
  phytoplankton-console/src/pages/case-management/components/TableModalProvider/index.tsx
  phytoplankton-console/src/pages/case-management/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/AlertsCard/index.tsx
Labels: frontend

[Fix]: Query data cannot be undefined. (#5867)
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/ChecklistTab/index.tsx
  phytoplankton-console/src/utils/checklist-templates.ts
Labels: frontend

Add business and banks data for OS and Acuris integration (#5852)
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/story.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/index.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/styles.module.less
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/seed/raw-data/sanctions-search.ts
  tarpon/src/services/rules-engine/transaction-rules/payment-details-screening-base.ts
  tarpon/src/services/rules-engine/user-rules/generic-sanctions-consumer-user.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-bank-name.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-business-user.ts
  tarpon/src/services/rules-engine/utils/rule-utils.ts
  tarpon/src/services/sanctions/__tests__/dow-jones.test.ts
  tarpon/src/services/sanctions/__tests__/index.test.ts
  tarpon/src/services/sanctions/__tests__/sanctions-whitelist-entity-repository.test.ts
  tarpon/src/services/sanctions/providers/__tests__/comply-advantage-provider.test.ts
  tarpon/src/services/sanctions/providers/__tests__/open-sanctions-provider.test.ts
  tarpon/src/services/sanctions/providers/__tests__/sanctions-data-fetcher.test.ts
  tarpon/src/services/sanctions/providers/acuris-provider.ts
  tarpon/src/services/sanctions/providers/comply-advantage-provider.ts
  tarpon/src/services/sanctions/providers/dow-jones-provider.ts
  tarpon/src/services/sanctions/providers/open-sanctions-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/providers/sanctions-list-provider.ts
  tarpon/src/services/sanctions/providers/utils.ts
Labels: backend, frontend

Fix Ongoing Screening Hit Rules Count (#5899)
  tarpon/src/services/batch-jobs/ongoing-screening-user-rule-batch-job-runner.ts
Labels: backend

Add Dynamo wherever possible (#5900)
  tarpon/scripts/migrations/post-deployment/2025.01.10T14.32.04.close-alerts-for-pnb.ts
  tarpon/scripts/migrations/pre-deployment/2024.10.31T14.41.02.close-palla-false-positives-alerts.ts
  tarpon/src/lambdas/console-api-transaction/services/transaction-service.ts
  tarpon/src/services/alerts/__tests__/index.test.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/batch-jobs/files-ai-summary-batch-job-runner.ts
  tarpon/src/services/cases/__tests__/case-service.test.ts
  tarpon/src/services/cases/case-creation-service.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
  tarpon/src/services/rules-engine/rule-instance-service.ts
  tarpon/src/services/sla/__tests__/sla-service.test.ts
  tarpon/src/services/sla/sla-service.ts
  tarpon/src/services/tenants/rule-queue-service.ts
Labels: backend

Temporary XRay Logging of Memory (#5898)
  tarpon/src/core/xray/index.ts
Labels: backend

DEMO-DATA: created demo data for user events (#5902)
  phytoplankton-console/src/pages/users-item/UserDetails/UserEvents.tsx
  tarpon/src/core/seed/data/user_events.ts
  tarpon/src/core/seed/mongo.ts
  tarpon/src/core/seed/samplers/user_events.ts
  tarpon/src/core/seed/samplers/users.ts
Labels: backend, frontend

Add a Materialized view for Sanctions screening details table in Clickhouse (#5907)
  tarpon/scripts/migrations/pre-deployment/2025.01.23T07.39.24.add-mat-view-sanctions-screening-details.ts
  tarpon/src/core/middlewares/init-sentry-lambda.ts
  tarpon/src/services/sanctions/repositories/sanctions-screening-details-repository.ts
  tarpon/src/utils/clickhouse/definition.ts
Labels: backend

improve the query for hits by users stats (#5890)
  tarpon/src/services/analytics/dashboard-metrics/hits-by-user-stats.ts
Labels: backend

Remove country regions for user demo data (#5873)
  lib/constants/countries.ts
  tarpon/src/core/seed/samplers/users.ts
Labels: backend

Dont show pep and sanctioned status if it is undefined or null (#5910)
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/index.tsx
Labels: frontend

List Items TTL (#5800)
  phytoplankton-console/src/pages/lists-item/index.tsx
  phytoplankton-console/src/pages/lists/ListTable/index.tsx
  phytoplankton-console/src/pages/lists/NewListDrawer/index.module.less
  phytoplankton-console/src/pages/lists/NewListDrawer/index.tsx
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/list/repositories/list-repository.ts
Labels: backend, frontend

Merge amount and currency column (#5864)
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
Labels: frontend

DEMO-DATA: fixed demo data for AI forensic (#5877)
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemProperties/index.tsx
  tarpon/src/core/seed/data/reports.ts
  tarpon/src/core/seed/raw-data/report.ts
  tarpon/src/core/seed/samplers/base.ts
  tarpon/src/core/seed/samplers/report.ts
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/copilot/questions/definitions/sars-filed.ts
  tarpon/src/services/copilot/questions/question-service.ts
Labels: backend, frontend

Improve risk score breakdown for v2 factors using v8 (#5885)
  phytoplankton-console/src/components/ui/RiskScoreDisplay/DetailsModal/components/V2ModalDetails/index.tsx
  phytoplankton-console/src/components/ui/RiskScoreDisplay/DetailsModal/components/V8ModalDetails/index.tsx
  phytoplankton-console/src/components/ui/RiskScoreDisplay/DetailsModal/components/V8ModalDetails/styles.module.less
  phytoplankton-console/src/components/ui/RiskScoreDisplay/DetailsModal/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-pulse/app.ts
  tarpon/src/lambdas/public-api-user-management/__tests__/app.test.ts
  tarpon/src/services/risk-scoring/derived-risk-factors/index.ts
  tarpon/src/services/risk-scoring/risk-factors/index.ts
  tarpon/src/services/risk-scoring/risk-scoring-service.ts
  tarpon/src/services/risk-scoring/risk-scoring-v8-service.ts
  tarpon/src/services/tenants/index.ts
Labels: backend, frontend

Accounts Service Optimization 1: Segregate Sessions Service (#5913)
  tarpon/src/core/middlewares/rbac.ts
  tarpon/src/lambdas/console-api-account/app.ts
  tarpon/src/services/accounts/__tests__/index.test.ts
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/sessions/index.ts
  tarpon/src/services/sessions/repository.ts
Labels: backend

Accounts Optimization: Cron Job Hourly Addition (#5915)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/constants.ts
  tarpon/lib/lambdas.ts
  tarpon/src/lambdas/cron-job-hourly/app.ts
Labels: backend, infra

Improve error message, make it less specific to avoid confusion (#5914)
  phytoplankton-console/src/utils/lang.ts
Labels: frontend

Create GET for lists in Management API (#5903)
  tarpon/lib/openapi/openapi-public-management-augmentor.ts
  tarpon/lib/openapi/public-management/openapi-public-management-original.yaml
  tarpon/src/lambdas/public-management-api-lists/app.ts
Labels: backend

Limit locks for updating aggregation only for palla (#5917)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/logic-evaluator/engine/index.ts
Labels: backend, frontend

DEMO DATA: Delete settings to remove the settings entered during demos (#5909)
  tarpon/src/core/seed/dynamodb.ts
Labels: backend

Accounts Optimization 4: Implemented the Abstract Class of Accounts (#5920)
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/services/accounts/repository/auth0.ts
  tarpon/src/services/accounts/repository/dynamo.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
Labels: backend

Fix Demo Data Users (#5922)
  tarpon/src/core/seed/data/cases.ts
  tarpon/src/core/seed/data/transactions.ts
  tarpon/src/core/seed/dynamodb.ts
  tarpon/src/core/seed/samplers/users.ts
  tarpon/src/lambdas/console-api-user/app.ts
  tarpon/src/lambdas/hammerhead-change-mongodb-consumer/app.ts
  tarpon/src/services/accounts/repository/dynamo.ts
  tarpon/src/test-utils/complyadvantage-test-utils.ts
Labels: backend

Update demo data statistics for simulations (#5906)
  phytoplankton-console/src/components/charts/BarChart/StackedBarChart/index.tsx
  tarpon/src/services/simulation/repositories/simulation-task-repository.ts
Labels: backend, frontend

fix: Userevents events tooltip and Transaction events bug (#5925)
  phytoplankton-console/src/pages/auditlog/components/AuditLogModal/index.tsx
  phytoplankton-console/src/pages/transactions-item/TransactionEventsTable/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserEvents.tsx
Labels: frontend

Added hyperlink to Parent User ID in Entities card (#5919)
  phytoplankton-console/src/pages/users-item/UserDetails/BusinessUserDetails/LegalEntityDetails/LinkedEntitiesCard/index.tsx
Labels: frontend

Fix Nodes and Filters of Entity Linking (#5926)
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/EntityLinkingGraph/LinkCountFilter/PopupContent/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/EntityLinkingGraph/LinkCountFilter/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/EntityLinkingGraph/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/UserGraph/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/entity_linking.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-user/app.ts
  tarpon/src/services/linker/index.ts
Labels: backend, frontend

Fix: show data according to entity type (#5927)
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/index.tsx
  tarpon/scripts/migrations/post-deployment/2025.01.24T08.28.38.update-entity-types-in-hit.ts
Labels: backend, frontend

Fix Rule Audit Log - Risk Levels case (#5845)
  phytoplankton-console/src/pages/auditlog/components/RuleAuditLogModal/index.tsx
  phytoplankton-console/src/pages/auditlog/components/TableTemplate/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/NestedSelects/index.tsx
Labels: frontend

Wrap AssigneesDropdown into an ErrorBoundary (#5891)
  phytoplankton-console/src/pages/case-management/components/AssigneesDropdown/index.tsx
Labels: frontend

Escape single quote (#5868)
  tarpon/src/services/users/repositories/user-clickhouse-repository.ts
Labels: backend

Make single failure as waring and all failure as error (#5905)
  tarpon/src/services/geo-ip/index.ts
Labels: backend

Fix comman in child ids in entity card (#5928)
  phytoplankton-console/src/pages/users-item/UserDetails/BusinessUserDetails/LegalEntityDetails/LinkedEntitiesCard/index.tsx
Labels: frontend

Improved UX of User Id/Name filter component (#5911)
  phytoplankton-console/src/pages/transactions/components/UserSearchPopup/PopupContent/index.tsx
  tarpon/src/lambdas/console-api-user/app.ts
  tarpon/src/services/users/index.ts
Labels: backend, frontend

Create array_length (Count of array items) function for V8 (#5833)
  phytoplankton-console/src/components/ui/LogicBuilder/widgets.tsx
  tarpon/src/services/logic-evaluator/functions/__tests__/count_of_array_items.test.ts
  tarpon/src/services/logic-evaluator/functions/__tests__/resources/functions.json
  tarpon/src/services/logic-evaluator/functions/index.ts
  tarpon/src/services/logic-evaluator/functions/number_of_items.ts
Labels: backend, frontend

Update AWS SDK Packages (#5930)
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend

Revert "Update AWS SDK Packages" (#5931)
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend

Reverts To Orginal (#5936)
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend
