Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, raptor, pipeline

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

raptor:
  - raptor/**

pipeline:
  - bin/**

Remove Console.log (#6042)
  tarpon/src/services/roles/repository/auth0.ts
Labels: backend

Fix infinite update (#6033)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
Labels: frontend

Fix cases comment update in realtime (#6049)
  phytoplankton-console/src/pages/case-management-item/index.tsx
Labels: frontend

Fix Patch Organization in of Auth0 (#6051)
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/accounts/repository/auth0.ts
Labels: backend

Add rule run time when updating rule stats (#6050)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
Labels: backend

Increase Lambda Memory (#6052)
  lib/config/config-dev.ts
  lib/config/config-sandbox-eu-1.ts
Labels: none

FIX: Checkbox and text are not aligned. (#6053)
  phytoplankton-console/src/components/AppWrapper/Providers/BrowserSupportModal/index.module.less
Labels: frontend

Improve Clickhouse Data Inserts (#6056)
  tarpon/infra/cdktf-tarpon-stack.ts
  tarpon/src/utils/clickhouse/utils.ts
Labels: backend, infra

Make it possible to deselect "Review permissions" (#6062)
  phytoplankton-console/src/pages/accounts/components/AccountForm.tsx
Labels: frontend

Bump Axios to 1.7.9 (#6063)
  .github/workflows/test_tarpon.yml
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend

POC working code
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/core/seed/data/transactions.ts
  tarpon/src/core/seed/data/users.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/alerts/dynamo-repository.ts
  tarpon/src/services/alerts/repository.ts
Labels: backend

removed error
  tarpon/src/services/alerts/dynamo-repository.ts
Labels: backend

[Security] Upgrade aws-cdk-lib from 2.174.1 to 2.175.1 (#6067)
  lib/package.json
  lib/yarn.lock
  package.json
  phytoplankton-console/package.json
  phytoplankton-console/yarn.lock
  tarpon/package.json
  tarpon/yarn.lock
  yarn.lock
Labels: backend, frontend

Round Currency Amounts (#6061)
  tarpon/src/services/copilot/attributes/transactions-attribute-builder.ts
Labels: backend

Fix Tarpon Table Name (#6070)
  tarpon/scripts/migrations/pre-deployment/2025.01.24T12.51.58.sync-accounts-locally-5.ts
  tarpon/src/services/accounts/repository/dynamo.ts
Labels: backend

Cache Accounts Fix 2 (#6071)
  tarpon/src/lambdas/console-api-dashboard/app.ts
  tarpon/src/lambdas/incoming-webhooks/app.ts
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/cases/index.ts
  tarpon/src/services/cases/repository.ts
Labels: backend

Cron Job Hourly To Trigger in Different Time (#6073)
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

[Fix] : Alert hit by shadow rules were displayed , now fixed (#6072)
  tarpon/src/core/seed/samplers/cases.ts
Labels: backend

Try fix Exponential Backoff of Clickhouse (#6074)
  tarpon/src/utils/clickhouse/utils.ts
Labels: backend

Fix-Warning: $ref: keywords ignored in schema at path "#/properties/riskScoreDetails" (#6043)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Labels: backend

Rename review permissions account selection (#6039)
  phytoplankton-console/src/pages/accounts/components/AccountForm.tsx
Labels: frontend

Disable button when no reason to save (#6076)
  phytoplankton-console/src/pages/settings/components/ReasonsSettings/ActionReasonModal/index.tsx
Labels: frontend

changes to handle group and batch updates
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/src/core/dynamodb/dynamodb-stream-consumer-builder.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
Labels: backend, infra

Acquire locks for each direction to allow next to event to start updating aggregation data (#5987)
  tarpon/src/services/logic-evaluator/engine/index.ts
Labels: backend

PNB: Switch Origin and Destination User Id Batch Job (#6059)
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/pnb-transaction-updates.ts
Labels: backend

Nango Whitlist Webhook IPs (#6058)
  tarpon/src/lambdas/incoming-webhooks/app.ts
Labels: backend

Do not show errors when missing "risk levels" flag on user page (#6047)
  phytoplankton-console/src/components/AppWrapper/Providers/SettingsProvider.tsx
  phytoplankton-console/src/pages/users-item/Header/SubHeader/index.tsx
Labels: frontend

Implement debounce effect on filter search to reduce API calls (#6044)
  phytoplankton-console/src/api.ts
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/ActivityTab/index.tsx
  phytoplankton-console/src/pages/auditlog/components/AuditLog/AuditLog.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTableWrapper.tsx
  phytoplankton-console/src/pages/case-management/PaymentApprovalTable/index.tsx
  phytoplankton-console/src/pages/reports/components/ReportsTable/index.tsx
  phytoplankton-console/src/pages/sanctions/activity/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserActivityCard/index.tsx
  phytoplankton-console/src/pages/users/users-list/index.tsx
Labels: frontend

Screening: Enhance the Document section view (#5991)
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/index.module.less
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/index.tsx
Labels: frontend

[fix]: V8 logic builder UI fixed (#5953)
  phytoplankton-console/src/components/library/TextInput/style.module.less
  phytoplankton-console/src/components/ui/LogicBuilder/index.module.less
  phytoplankton-console/src/components/ui/LogicBuilder/story-fixture.json
  phytoplankton-console/src/components/ui/LogicBuilder/widgets.tsx
Labels: frontend

Fix StatusChangeReasonsDisplay to only show "-" when there are not reasons (#6066)
  phytoplankton-console/src/components/ui/StatusChangeReasonsDisplay/index.tsx
Labels: frontend

Remove duplicated place of birth (#6069)
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/GeneralDetails/index.tsx
Labels: frontend

DEMO-DATA: Overlapped emails, addresses and phone number for ontology (#6030)
  tarpon/src/core/seed/samplers/address.ts
  tarpon/src/core/seed/samplers/users.ts
Labels: backend

Don't show irrelevant options in Analytics legends (#6065)
  phytoplankton-console/src/components/charts/DonutChart/index.tsx
  phytoplankton-console/src/components/charts/TreemapChart/index.tsx
  phytoplankton-console/src/components/charts/story.tsx
Labels: frontend

info log added
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
Labels: backend

Add user names for business users in case and all user tables (#6079)
  tarpon/src/services/cases/repository.ts
  tarpon/src/services/users/index.ts
Labels: backend

Increase dynamo write capacity alram (#6080)
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-alarms-stack.ts
Labels: backend, infra

Integrate DJ Entity data (#5990)
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/scripts/migrations/pre-deployment/2025.01.29T23.18.09.migrate-dow-jones-settings.ts
  tarpon/src/services/rules-engine/transaction-rules/payment-details-screening-base.ts
  tarpon/src/services/sanctions/__tests__/data/dowjones_single/Factiva_PFA_Feed_XML/PFA2_202409072200_D.xml
  tarpon/src/services/sanctions/__tests__/data/dowjones_splits/Factiva_PFA_Feed_XML/PFA2_202408312200_F_Splits/Person/PFA2_10001_15000_F.xml
  tarpon/src/services/sanctions/__tests__/dow-jones.test.ts
  tarpon/src/services/sanctions/providers/acuris-provider.ts
  tarpon/src/services/sanctions/providers/dow-jones-provider.ts
  tarpon/src/services/sanctions/providers/open-sanctions-provider.ts
  tarpon/src/services/sanctions/providers/utils.ts
  tarpon/src/services/sanctions/repositories/sanctions-repository.ts
Labels: backend, frontend

Add more meta data and Use Always Cache for Get Accounts (#6081)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/scripts/migrations/pre-deployment/2025.01.24T12.51.58.sync-accounts-locally-6.ts
  tarpon/src/core/utils/context.ts
  tarpon/src/lambdas/console-api-account/app.ts
  tarpon/src/services/accounts/repository/dynamo.ts
  tarpon/src/services/batch-jobs/sync-auth0-data.ts
  tarpon/src/services/roles/index.ts
  tarpon/src/services/roles/repository/auth0.ts
  tarpon/src/services/roles/repository/dynamo.ts
  tarpon/src/services/roles/repository/index.ts
Labels: backend, infra

Add updated status when returning transaction (#6082)
  tarpon/src/services/rules-engine/rules-engine-service.ts
Labels: backend
