Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, pipeline

Fix: Add conditional entity type Dropdown logic for consumer/business risk factors (#8072)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/EntityVariableForm.tsx
Labels: frontend

DEMO: new alerts for edd (#8035)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/seed/data/rule-queue.ts
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/core/seed/data/transactions.ts
Labels: backend, frontend

Fix screening AI summary (#8171)
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/index.tsx
Labels: frontend

Update Read Capacity Alarm for Dev (#8170)
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-alarms-stack.ts
Labels: backend, infra

Fix job fetching for rerun risk scoring (#8176)
  tarpon/src/services/batch-users-rerun/index.ts
Labels: backend

Update Logic For Gocardless Data Backfill (#8177)
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/batch-job-decision/app.ts
  tarpon/src/services/batch-jobs/backfill-entities-jsonl-fargate-batch-job.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/repositories/__tests__/batch-job-mock-utils.ts
Labels: backend

IP Update Script for S3 for Go Cardless (#8173)
  tarpon/scripts/s3-go-cardless-ip-update.ts
Labels: backend

feat: Add x-flagright-url header to webhook request (#8163)
  tarpon/src/lambdas/webhook-deliverer/app.ts
Labels: backend

updates to 3 working risk levels
  lib/utils/risk.ts
  phytoplankton-console/src/components/AppWrapper/Providers/SettingsProvider.tsx
  phytoplankton-console/src/components/library/RiskLevelSwitch/index.tsx
  phytoplankton-console/src/components/library/Tag/RiskLevelTag/index.module.less
  phytoplankton-console/src/components/library/Tag/RiskLevelTag/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/RiskClassificationTable/consts.tsx
  phytoplankton-console/src/pages/risk-levels/configure/RiskClassificationTable/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/index.tsx
  phytoplankton-console/src/pages/settings/components/RiskLevelSettings.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Labels: backend, frontend

FIX: considered user while applying filters for aggregation/entity variables (#8149)
  tarpon/src/services/logic-evaluator/engine/index.ts
Labels: backend

max-width fix for user type in scenario builder (#8183)
  phytoplankton-console/src/components/library/QuickFilter/QuickFilterButton/style.module.less
Labels: frontend

Fix: Add tooltip to ViewModeTags for variable names (#8126)
  phytoplankton-console/src/components/ui/LogicBuilder/ViewModeTags/index.tsx
  phytoplankton-console/src/components/ui/LogicBuilder/helpers.tsx
Labels: frontend

Dynamic rule examples in case management demo data (#8048)
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/core/seed/samplers/cases.ts
Labels: backend

Refactor query, with correct sortfield
  tarpon/src/services/rules-engine/repositories/clickhouse-repository.ts
  tarpon/src/utils/pagination.ts
Labels: backend

Update handling of getTransactionById (#8181)
  tarpon/src/services/rules-engine/repositories/dynamodb-transaction-repository.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
Labels: backend

Enhance sorting functionality in SimulationTransactionsHit component
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/SimulationResults/Transactions.tsx
Labels: frontend

FIX: used null checks for engagment in crm (#8157)
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/CRMResponse/index.tsx
Labels: frontend

Deduplicate data across partitions (#8186)
  tarpon/src/services/rules-engine/repositories/dynamodb-transaction-repository.ts
Labels: backend

Fix for Lower Privilege Tenant can Access Higher Privilege Settings (#8187)
  tarpon/src/lambdas/console-api-tenant/__tests__/app.test.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
Labels: backend

Fix Accounts Permissions (#8188)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Labels: backend

Enhance useAccountsList query with staleTime option for improved caching
  phytoplankton-console/src/hooks/api/users.ts
Labels: frontend

E2E: updated e2e test (#8189)
  phytoplankton-console/cypress/e2e/cases/cases-assignment-filter-test.cy.ts
  phytoplankton-console/src/pages/accounts/RolesV2/RoleHeader.tsx
Labels: frontend

Add ID link to user card (#8109)
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/EntityLinkingGraph/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/UserCard/index.tsx
Labels: frontend

Refactor API hooks for improved type safety and query handling
  phytoplankton-console/src/hooks/api/alerts.ts
  phytoplankton-console/src/hooks/api/checklists.ts
  phytoplankton-console/src/hooks/api/crm.ts
  phytoplankton-console/src/hooks/api/dashboard.ts
  phytoplankton-console/src/hooks/api/lists.ts
  phytoplankton-console/src/hooks/api/logic.ts
  phytoplankton-console/src/hooks/api/reports.ts
  phytoplankton-console/src/hooks/api/risk-factors.ts
  phytoplankton-console/src/hooks/api/risk.ts
  phytoplankton-console/src/hooks/api/rules.ts
  phytoplankton-console/src/hooks/api/sla.ts
  phytoplankton-console/src/hooks/api/transactions.ts
  phytoplankton-console/src/hooks/api/users.ts
  phytoplankton-console/src/hooks/api/workflows.ts
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/QA/Dropdown/index.tsx
  phytoplankton-console/src/pages/case-management/QA/Modal/index.tsx
  phytoplankton-console/src/pages/case-management/QA/Table/index.tsx
  phytoplankton-console/src/pages/case-management/common.ts
  phytoplankton-console/src/pages/case-management/helpers.tsx
  phytoplankton-console/src/pages/lists-item/ItemsTable/index.tsx
  phytoplankton-console/src/pages/reports/components/ReportsTable/index.tsx
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/SimulationResult/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/RiskClassificationSimulationResults/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/KycRiskDisplay/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserManualRiskPanel/index.tsx
Labels: frontend

Enhance API hooks and components for improved functionality and maintainability
  phytoplankton-console/src/hooks/api/reports.ts
  phytoplankton-console/src/hooks/api/risk-factors.ts
  phytoplankton-console/src/hooks/api/rules.ts
  phytoplankton-console/src/hooks/api/sanctions.ts
  phytoplankton-console/src/hooks/api/settings.ts
  phytoplankton-console/src/hooks/api/simulation.ts
  phytoplankton-console/src/hooks/api/users.ts
  phytoplankton-console/src/hooks/api/workflows.ts
  phytoplankton-console/src/pages/reports/components/ReportsTable/index.tsx
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/SimulationHistoryPage/SimulationHistory/index.tsx
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/SimulationResult/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/RiskClassification/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/RiskClassificationSimulationResults/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/SimulateRiskClassification/SimulationHistory/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/utils.ts
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/SimulationResults/Transactions.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/SimulationResults/Users.tsx
  phytoplankton-console/src/pages/rules/RulesTable/index.tsx
  phytoplankton-console/src/pages/rules/index.tsx
  phytoplankton-console/src/pages/rules/my-rules/index.tsx
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/RuleInstanceAnalytics.tsx
  phytoplankton-console/src/pages/rules/simulation-history/SimulationHistoryTable/index.tsx
  phytoplankton-console/src/pages/rules/utils.ts
  phytoplankton-console/src/pages/sanctions/search-history/index.tsx
  phytoplankton-console/src/pages/settings/components/UserUpdateApprovalSettings.tsx
Labels: frontend

Enhance Checkbox and ExpandIcon components with className prop; update Table styles for better layout
  phytoplankton-console/src/components/library/Checkbox/index.tsx
  phytoplankton-console/src/components/library/ExpandIcon/index.tsx
  phytoplankton-console/src/components/library/Table/consts.tsx
  phytoplankton-console/src/components/library/Table/index.module.less
  phytoplankton-console/src/components/library/Table/internal/index.module.less
Labels: frontend

Fix: Text partially visible in table (#8192)
  phytoplankton-console/src/components/library/Checkbox/index.tsx
  phytoplankton-console/src/components/library/ExpandIcon/index.tsx
  phytoplankton-console/src/components/library/Table/consts.tsx
  phytoplankton-console/src/components/library/Table/index.module.less
  phytoplankton-console/src/components/library/Table/internal/index.module.less
Labels: frontend

getRiskLevelLabel change
  phytoplankton-console/src/components/AppWrapper/Providers/SettingsProvider.tsx
  phytoplankton-console/src/components/library/Tag/RiskLevelTag/index.module.less
  phytoplankton-console/src/components/ui/UserPendingApprovalsModal/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RiskLevelDistributionCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TransactionTRSChartCard/index.tsx
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/SimulationResult/index.tsx
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/SimulationResult/report-utils.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/RiskFactorConfigurationStep/ParametersTable/ValuesTable/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/steps/RuleParametersStep/ApplyRiskLevels/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/steps/RuleParametersStep/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/DefineLogicCard/ApplyRiskLevels/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/DefineLogicCard/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/helpers.ts
  phytoplankton-console/src/pages/transactions-item/TransactionReport/index.tsx
  phytoplankton-console/src/pages/users-item/UserReport/index.tsx
  phytoplankton-console/src/pages/users/users-list/RiskLevelFilterButton/PopupContent/index.tsx
Labels: frontend

cleanup and test fix
  phytoplankton-console/src/components/BreadCrumbsWrapper/index.tsx
  phytoplankton-console/src/components/library/RiskLevelSwitch/index.tsx
  phytoplankton-console/src/components/library/Tag/RiskLevelTag/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/RiskClassification/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/RiskClassificationTable/consts.tsx
  phytoplankton-console/src/pages/risk-levels/configure/RiskClassificationTable/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/index.tsx
  phytoplankton-console/src/pages/settings/components/RiskLevelSettings.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserActivityCard/index.tsx
  tarpon/src/services/risk/index.ts
Labels: backend, frontend

cleanup
  lib/utils/risk.ts
  phytoplankton-console/src/components/AppWrapper/Providers/SettingsProvider.tsx
  phytoplankton-console/src/components/TopRightSection/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/RiskClassification/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserActivityCard/index.tsx
  tarpon/src/lambdas/console-api-pulse/app.ts
Labels: backend, frontend

feat: add SQS interface VPC endpoint and refactor SQS client initialization (#8190)
  lib/config/config-dev.ts
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/src/services/batch-jobs/batch-rerun-users.ts
  tarpon/src/services/batch-jobs/go-cardless-backfill.ts
  tarpon/src/services/cases/case-creation-service.ts
  tarpon/src/services/sanctions/repositories/sanctions-screening-details-repository.ts
  tarpon/src/utils/clickhouse/utils.ts
  tarpon/src/utils/dynamodb.ts
  tarpon/src/utils/sns-sqs-client.ts
Labels: backend, infra

Fix: Align Id column in rules templates table (#8169)
  phytoplankton-console/src/pages/rules/RulesTable/index.tsx
  phytoplankton-console/src/pages/rules/RulesTable/style.module.less
Labels: frontend

Fix: Show type formatted as it's sent in (#8159)
  phytoplankton-console/src/components/library/TransactionTypeDisplay/index.tsx
  phytoplankton-console/src/pages/transactions-item/TransactionReport/index.tsx
Labels: frontend

Add UDI currency support across multiple files (#8195)
  lib/constants/currencies.ts
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/currency/index.ts
  tarpon/test-resources/mocked-currency-exchange-rates.ts
Labels: backend

remove dev vpc (#8198)
  lib/config/config-dev.ts
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

Fix: Column width to avoid horizontal scroll (#8199)
  phytoplankton-console/src/pages/settings/components/TransactionStateSettings.tsx
Labels: frontend

Update
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/pages/settings/components/DecimalSettings.tsx
Labels: frontend

Fix: Settings are instantly updated via super admin panel (#7926)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/SettingsProvider.tsx
Labels: frontend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

pipeline:
  - bin/**
