Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, raptor, pipeline

Unable to edit SLA in sandbox and prod (#5378)
  phytoplankton-console/src/pages/settings/components/SlaPolicySettings/PolicyForm/components/PolicyConfigurationTable.tsx
  phytoplankton-console/src/pages/settings/components/SlaPolicySettings/PolicyForm/index.tsx
  tarpon/scripts/migrations/post-deployment/2024.12.10T06.22.13.sla-policies-remove-null.ts
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/tenants/repositories/sla-policy-repository.ts
  tarpon/src/services/tenants/sla-policy-service.ts
Labels: backend, frontend

[Security] Upgrade axios to 1.7.8 (#5590)
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend

Purged unused dependencies (#5591)
  phytoplankton-console/package.json
  phytoplankton-console/yarn.lock
Labels: frontend

FEATURE: added query parameter in apis for fetching required data for different views (table, download) (#5478)
  phytoplankton-console/src/components/library/Table/Header/Tools/DownloadButton/index.tsx
  phytoplankton-console/src/components/library/Table/Header/Tools/index.tsx
  phytoplankton-console/src/components/library/Table/consts.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TransactionsList/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTableWrapper.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  phytoplankton-console/src/pages/transactions/index.tsx
  phytoplankton-console/src/pages/users/users-list/index.tsx
  phytoplankton-console/src/utils/queries/hooks.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-transaction/services/transaction-service.ts
  tarpon/src/services/cases/repository.ts
  tarpon/src/services/rules-engine/repositories/clickhouse-repository.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/users/index.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/utils/pagination.ts
Labels: backend, frontend

[Security] Upgrade umzug to 3.8.0 (#5589)
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend

High Throughput Fifo Queue (#5571)
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

#FR-5833: Fix filter behaviour for Users and transactions table (#5577)
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
Labels: frontend

Revert "FEATURE: added query parameter in apis for fetching required data for different views (table, download)" (#5596)
  phytoplankton-console/src/components/library/Table/Header/Tools/DownloadButton/index.tsx
  phytoplankton-console/src/components/library/Table/Header/Tools/index.tsx
  phytoplankton-console/src/components/library/Table/consts.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TransactionsList/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTableWrapper.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  phytoplankton-console/src/pages/transactions/index.tsx
  phytoplankton-console/src/pages/users/users-list/index.tsx
  phytoplankton-console/src/utils/queries/hooks.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-transaction/services/transaction-service.ts
  tarpon/src/services/cases/repository.ts
  tarpon/src/services/rules-engine/repositories/clickhouse-repository.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/users/index.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/utils/pagination.ts
Labels: backend, frontend

Add all regions for clickhouse (#5576)
  lib/config/config-dev.ts
  lib/config/config-prod-asia-1.ts
  lib/config/config-prod-asia-2.ts
  lib/config/config-prod-asia-3.ts
  lib/config/config-prod-au-1.ts
  lib/config/config-prod-eu-1.ts
  lib/config/config-prod-eu-2.ts
  lib/config/config-prod-us-1.ts
  lib/config/config-sandbox-asia-1.ts
  lib/config/config-sandbox-eu-1.ts
  lib/config/config.ts
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/infra/cdktf-tarpon-stack.ts
  tarpon/lib/configs/clickhouse/tenant-config.ts
  tarpon/package.json
  tarpon/src/utils/clickhouse/utils.ts
Labels: backend, infra

Deploy to dev
  tarpon/package.json
Labels: backend

Add us-1 awsPrivateLinkEndpointName
  lib/config/config-prod-us-1.ts
Labels: none

#FR-6023: Design system implementation: rework Button component to use Aegis variables (#5540)
  flagright-figma-vars-plugin/.gitignore
  flagright-figma-vars-plugin/README.md
  flagright-figma-vars-plugin/package.json
  flagright-figma-vars-plugin/src/variables.ts
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/CreateTenantModal/index.tsx
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/TransactionStep/index.tsx
  phytoplankton-console/src/components/library/Button/__tests__/button.dom.test.tsx
  phytoplankton-console/src/components/library/Button/index.module.less
  phytoplankton-console/src/components/library/Button/index.tsx
  phytoplankton-console/src/components/library/Button/story.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/ArrayPropertyInput/style.module.less
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/CollapsePropertiesLayout/index.tsx
  phytoplankton-console/src/components/library/Modal/index.tsx
  phytoplankton-console/src/components/ui/figma-vars.less
  phytoplankton-console/src/components/utils/Confirm/ConfirmModal/index.tsx
  phytoplankton-console/src/pages/lists/ListTable/DeleteListModal/index.tsx
  phytoplankton-console/src/pages/reports/components/ReportsTable/index.tsx
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/index.tsx
  phytoplankton-console/src/pages/settings/components/SlaPolicySettings/PolicyForm/components/PolicyConfigurationTable.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/GeneralDetails/PepStatus/index.tsx
Labels: frontend

Add batch job to fix user risk scores (#5593)
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/fix-risk-scores-for-pnb-users.ts
Labels: backend

Fix Mapper: Transactions Service (#5595)
  tarpon/src/lambdas/console-api-transaction/services/transaction-service.ts
Labels: backend

Fix: Try B4B Alerts Loading Issue (#5598)
  tarpon/src/services/alerts/repository.ts
Labels: backend

Upgrade React Email (#5600)
  email-templates/package-lock.json
  email-templates/package.json
Labels: none

Fix Table Name in Clickhouse (#5602)
  tarpon/src/services/users/repositories/user-clickhouse-repository.ts
Labels: backend

Clickhouse: Multi-select rules not working in Txns page (#5603)
  tarpon/src/services/rules-engine/repositories/clickhouse-repository.ts
Labels: backend

Searching txn id within an alert does not work (#5601)
  tarpon/src/lambdas/console-api-case/app.ts
Labels: backend

Try and fix sentry on fargate (#5543)
  tarpon/src/core/middlewares/init-sentry-node.ts
Labels: backend

Implement open sanctions (#5526)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/cron-job-daily/app.ts
  tarpon/src/services/rules-engine/user-rules/index.ts
  tarpon/src/services/rules-engine/user-rules/open-sanctions-consumer-user.ts
  tarpon/src/services/sanctions/data-fetchers.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/providers/__tests__/open-sanctions-provider.test.ts
  tarpon/src/services/sanctions/providers/open-sanctions-provider.ts
  tarpon/src/utils/mongodb-utils.ts
Labels: backend

Revert "Update "all" operator with null check to fix incorrect evaluation" (#5604)
  tarpon/package.json
  tarpon/src/services/logic-evaluator/engine/__tests__/index.test.ts
  tarpon/src/services/logic-evaluator/engine/index.ts
  tarpon/src/services/logic-evaluator/engine/utils.ts
  tarpon/yarn.lock
Labels: backend

Add feature flag for frontend for open sanctions (#5605)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
Labels: frontend

Fix clickhouse transaction rule filtering query (#5607)
  tarpon/src/services/rules-engine/repositories/clickhouse-repository.ts
Labels: backend

Handle Permissions in Handler for Settings (#5608)
  tarpon/src/lambdas/console-api-tenant/app.ts
Labels: backend

Fix double counting issue when processing multiple tx events at the same time (#5609)
  tarpon/scripts/debug-rule/verify-remote-entities.ts
  tarpon/src/services/logic-evaluator/engine/index.ts
  tarpon/src/utils/lock.ts
Labels: backend

FIX: fixed wrong prefilling of transaction while generating sar reports. (#5480)
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/TransactionStep/NewTransactionForm/index.tsx
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/TransactionStep/index.tsx
  tarpon/src/services/cases/index.ts
  tarpon/src/services/cases/repository.ts
  tarpon/src/services/sar/service.ts
Labels: backend, frontend

Fix Tenant Settings (#5611)
  tarpon/src/lambdas/console-api-tenant/app.ts
Labels: backend

Add private link endpoints
  lib/config/config-prod-asia-2.ts
  lib/config/config-prod-asia-3.ts
  lib/config/config-prod-au-1.ts
  lib/config/config-prod-eu-1.ts
  lib/config/config-prod-eu-2.ts
  tarpon/infra/cdktf-tarpon-stack.ts
Labels: backend, infra

Remove early return
  tarpon/infra/cdktf-tarpon-stack.ts
Labels: backend, infra

use shared prefix for lock partition key to allow tenants to use locks (#5615)
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/utils/lock.ts
Labels: backend

Fix Number Input in QA Mandatory Field (#5473)
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/SimplePropertyInput/style.module.less
  phytoplankton-console/src/components/library/NumberInput/index.tsx
  phytoplankton-console/src/components/library/TextInput/style.module.less
Labels: frontend

Avoid incorrectly creating tx events for async rules (#5599)
  tarpon/src/services/rules-engine/rules-engine-service.ts
Labels: backend

Fix clickhouse data seeding (#5616)
  tarpon/src/core/seed/index.ts
  tarpon/src/core/seed/mongo.ts
Labels: backend

Fix Webhook Settings (#5618)
  phytoplankton-console/src/pages/settings/components/WebhookSettings/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Labels: backend, frontend

#FR-6063: Alert details page: skeleton page (#5569)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/SettingsProvider.tsx
  phytoplankton-console/src/components/ScreeningMatchList/index.tsx
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/DefaultAlertTabs/Checklist/index.tsx
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/DefaultAlertTabs/Comments/index.module.less
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/DefaultAlertTabs/Comments/index.tsx
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/DefaultAlertTabs/TransactionsTab/index.tsx
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/DefaultAlertTabs/index.tsx
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/index.tsx
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/index.module.less
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/index.tsx
  phytoplankton-console/src/pages/alert-item/components/Header/ExportButton/index.module.less
  phytoplankton-console/src/pages/alert-item/components/Header/ExportButton/index.tsx
  phytoplankton-console/src/pages/alert-item/components/Header/StatusChangeMenu/index.tsx
  phytoplankton-console/src/pages/alert-item/components/Header/StatusChangeMenu/style.module.less
  phytoplankton-console/src/pages/alert-item/components/Header/SubHeader/index.module.less
  phytoplankton-console/src/pages/alert-item/components/Header/SubHeader/index.tsx
  phytoplankton-console/src/pages/alert-item/components/Header/index.module.less
  phytoplankton-console/src/pages/alert-item/components/Header/index.tsx
  phytoplankton-console/src/pages/alert-item/index.tsx
  phytoplankton-console/src/pages/case-management-item/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/QA/Table/index.tsx
  phytoplankton-console/src/services/routing/index.ts
  phytoplankton-console/src/utils/routing.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Labels: backend, frontend

Fix tarpon config
  tarpon/src/utils/clickhouse/utils.ts
Labels: backend

Update webhook configuration settings (#5623)
  phytoplankton-console/src/pages/settings/components/WebhookSettings/index.tsx
Labels: frontend

Fix issue with empty accounts array when seeding (#5622)
  tarpon/src/core/seed/samplers/accounts.ts
  tarpon/src/services/copilot/attributes/__tests__/builder.test.ts
Labels: backend

Remove redundant call to get role (#5624)
  tarpon/src/services/roles/index.ts
  tarpon/src/utils/clickhouse/utils.ts
Labels: backend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

raptor:
  - raptor/**

pipeline:
  - bin/**
