Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, raptor, pipeline

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

raptor:
  - raptor/**

pipeline:
  - bin/**

Fix Malware Protection Deployment (#4800)
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

Test: Multi Tenancy in Silo Data Mode (#4753)
  lib/config/config-dev.ts
  lib/config/config.ts
  lib/constants/config.ts
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/CreateTenantModal/index.tsx
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-alarms-stack.ts
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/jest-setup.ts
  tarpon/lib/constants.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/dangerous-nuke-tenant-data.ts
  tarpon/scripts/migrations/post-deployment/2024.05.01T12.52.02.remove-default-risk-level-and-risk-level-from-parameters.ts
  tarpon/scripts/migrations/post-deployment/2024.08.22T15.28.14.remove-child-user-ids.ts
  tarpon/scripts/migrations/utils/cleanup-rule-hits.ts
  tarpon/src/core/dynamodb/dynamodb-stream-consumer-builder.ts
  tarpon/src/lambdas/slack-app/app.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/services/copilot/questions/question-service.ts
  tarpon/src/services/currency/repository.ts
  tarpon/src/services/list/repositories/list-repository.ts
  tarpon/src/services/logic-evaluator/engine/aggregation-repository.ts
  tarpon/src/services/logic-evaluator/engine/index.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/repositories/aggregation-repository.ts
  tarpon/src/services/rules-engine/repositories/dynamodb-transaction-repository.ts
  tarpon/src/services/rules-engine/repositories/transaction-event-repository.ts
  tarpon/src/services/rules-engine/repositories/user-event-repository.ts
  tarpon/src/services/tenants/index.ts
  tarpon/src/services/tenants/repositories/tenant-repository.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/utils/__tests__/dynamodb.test.ts
  tarpon/src/utils/dynamodb.ts
  tarpon/src/utils/local-dynamodb-change-handler.ts
Labels: backend, infra, frontend

Fix api usage metrics for sanctions (#2) (#4801)
  tarpon/src/services/metrics/api-usage-metrics-service.ts
  tarpon/src/services/sanctions/index.ts
Labels: backend

Private endpoint aws (#4789)
  lib/config/config-dev.ts
  lib/config/config-sandbox-asia-1.ts
  lib/config/config.ts
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/infra/cdktf-tarpon-stack.ts
  tarpon/lib/configs/clickhouse/tenant-config.ts
  tarpon/lib/constants.ts
  tarpon/package.json
  tarpon/scripts/migrations/always-run/sync-clickhouse.ts
  tarpon/scripts/migrations/migrator.ts
  tarpon/src/core/seed/mongo.ts
  tarpon/src/lambdas/mongo-db-trigger-consumer/app.ts
  tarpon/src/lambdas/mongo-db-trigger-consumer/index.ts
  tarpon/src/services/analytics/dashboard-metrics/transaction-stats.ts
  tarpon/src/services/batch-jobs/sync-mongo-indexes-job-runner.ts
  tarpon/src/services/copilot/questions/definitions/transaction-aggregations.ts
  tarpon/src/services/copilot/questions/definitions/transaction-summary.ts
  tarpon/src/services/copilot/questions/definitions/transaction-type.ts
  tarpon/src/services/copilot/questions/definitions/unique-payment-identifier.ts
  tarpon/src/services/copilot/questions/definitions/users-transacted-with.ts
  tarpon/src/services/users/index.ts
  tarpon/src/services/users/repositories/user-clickhouse-repository.ts
  tarpon/src/utils/clickhouse/utils.ts
Labels: backend, infra

Silo data tenant ids (#4803)
  lib/config/config-dev.ts
  lib/config/config.ts
  lib/constants/index.ts
  lib/constants/silo-data-tenants.ts
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-alarms-stack.ts
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/constants.ts
  tarpon/src/services/tenants/index.ts
Labels: backend, infra

Silo tenants (#4804)
  lib/constants/silo-data-tenants.ts
  tarpon/src/services/tenants/index.ts
Labels: backend

Fix Clickhouse Client Init (#4805)
  tarpon/src/utils/clickhouse/utils.ts
Labels: backend

Fix Clickhouse Client DB Name (#4806)
  tarpon/src/utils/clickhouse/utils.ts
Labels: backend

Change handler name for batch events (#4798)
  tarpon/lib/openapi/openapi-public-augmentor.ts
Labels: backend

Add budgets to sandbox asia 1
  lib/config/config-sandbox-asia-1.ts
Labels: none

Update provisioned capacity of sandbox lambda
  lib/config/config-sandbox-asia-1.ts
Labels: none

Add ability to update API Tags (#4696)
  phytoplankton-console/src/components/library/Tag/KeyValueTag/index.tsx
  phytoplankton-console/src/pages/settings/components/TagSettings/index.tsx
  phytoplankton-console/src/pages/settings/index.tsx
  phytoplankton-console/src/pages/users-item/Header/EditTagsButton/index.tsx
  phytoplankton-console/src/pages/users-item/Header/EditTagsModal/ApiTagsTable/index.tsx
  phytoplankton-console/src/pages/users-item/Header/EditTagsModal/ApiTagsTable/styles.module.less
  phytoplankton-console/src/pages/users-item/Header/EditTagsModal/index.tsx
  phytoplankton-console/src/pages/users-item/Header/HeaderMenu.tsx
  phytoplankton-console/src/pages/users-item/Header/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/BusinessUserDetails/LegalEntityDetails/GeneralDetailsCard/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/GeneralDetails/index.tsx
  phytoplankton-console/src/pages/users-item/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/lambdas/console-api-user/services/user-audit-log-service.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/rules-engine/utils/rule-utils.ts
  tarpon/src/services/users/index.ts
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend, frontend

Fix Guard Duty Role Alias (#4808)
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

Fix QA deployment error
  lib/utils/env.ts
Labels: none

Force password reset for user (#4767)
  phytoplankton-console/src/components/AccountMessage/index.module.less
  phytoplankton-console/src/components/AccountMessage/index.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/Auth0ErrorWrapper/index.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/AuthProvider.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/FlagrightUserProvider.tsx
  phytoplankton-console/src/components/SuspendedAccount/index.tsx
  phytoplankton-console/src/components/library/Button/index.tsx
  phytoplankton-console/src/pages/settings/components/SecuritySettings.tsx
  phytoplankton-console/src/pages/settings/index.tsx
  tarpon/infra/auth0/actions/post-login.js
  tarpon/infra/auth0/cdktf-auth0-resources.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/tenants/index.ts
Labels: backend, infra, frontend

#FR-5098: Implement frontend components for Alerts details page - rule logic (#4581)
  phytoplankton-console/src/components/AppWrapper/Providers/mocks/ApiProvider.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/mocks/SettingsProvider.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/mocks/mockedData.ts
  phytoplankton-console/src/components/library/SelectionGroup/index.tsx
  phytoplankton-console/src/components/ui/LogicBuilder/VariableInfoModal/index.module.less
  phytoplankton-console/src/components/ui/LogicBuilder/VariableInfoModal/index.tsx
  phytoplankton-console/src/components/ui/LogicBuilder/VariableInfoPopover/index.module.less
  phytoplankton-console/src/components/ui/LogicBuilder/VariableInfoPopover/index.tsx
  phytoplankton-console/src/components/ui/LogicBuilder/ViewModeTags/index.module.less
  phytoplankton-console/src/components/ui/LogicBuilder/ViewModeTags/index.tsx
  phytoplankton-console/src/components/ui/LogicBuilder/helpers.tsx
  phytoplankton-console/src/components/ui/LogicBuilder/index.module.less
  phytoplankton-console/src/components/ui/LogicBuilder/index.tsx
  phytoplankton-console/src/components/ui/LogicBuilder/story-fixture.json
  phytoplankton-console/src/components/ui/LogicBuilder/story.tsx
  phytoplankton-console/src/components/ui/LogicBuilder/types.ts
  phytoplankton-console/src/components/ui/LogicBuilder/widgets.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/RuleLogicBuilder/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableSummary/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/EntityVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/NestedSelects/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/VariableFilters/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/VariableTimeWindow/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/helpers.ts
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/helpers.ts
Labels: frontend

Only Send NON TTL Updates (#4809)
  tarpon/src/core/dynamodb/dynamodb-stream-consumer-builder.ts
Labels: backend

#FR-5551: Implement transaction tags (#4772)
  phytoplankton-console/src/components/ui/EntityPropertiesCard/index.tsx
  phytoplankton-console/src/pages/transactions-item/SubHeader/index.tsx
  phytoplankton-console/src/pages/transactions-item/TransactionTags/index.tsx
  phytoplankton-console/src/pages/transactions-item/index.module.less
  phytoplankton-console/src/pages/transactions-item/index.tsx
  phytoplankton-console/src/pages/transactions-item/style.module.less
Labels: frontend

Apply auto-scaling to transaction event lambda (#4816)
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

Fix e2e tests (#4817)
  phytoplankton-console/cypress/e2e/alerts/alerts-close-test.cy.ts
  phytoplankton-console/cypress/e2e/cases/case-details-escalate.cy.ts
  phytoplankton-console/cypress/e2e/cases/cases-assignment-filter-test.cy.ts
  phytoplankton-console/cypress/e2e/cases/cases-closing-tests.cy.ts
  phytoplankton-console/cypress/e2e/cases/cases-comment-test.cy.ts
  tarpon/src/core/logger/index.ts
  tarpon/src/lambdas/transaction-aggregation/app.ts
Labels: backend, frontend

Filter Pep Status of a User (#4811)
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/GeneralDetails/index.module.less
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/GeneralDetails/index.tsx
  phytoplankton-console/src/pages/users/users-list/consumer-users-columns.tsx
  phytoplankton-console/src/pages/users/users-list/helpers/queryAdapter.ts
  phytoplankton-console/src/pages/users/users-list/index.tsx
  phytoplankton-console/src/pages/users/users-list/users-table.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/seed/samplers/users.ts
  tarpon/src/services/users/repositories/user-clickhouse-repository.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/utils/clickhouse/definition.ts
Labels: backend, frontend

Don't extend global cache expiry time on get (#4818)
  tarpon/src/utils/memory-cache.ts
Labels: backend

Fix Guard Duty role
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

Fix sanctions monitored search query (#4820)
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
Labels: backend

Custom Session timeout per Tenant (#4807)
  phytoplankton-console/package.json
  phytoplankton-console/src/components/AppWrapper/Providers/SessionTimeoutDetector.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/index.tsx
  phytoplankton-console/src/pages/settings/components/SecuritySettings.tsx
  phytoplankton-console/yarn.lock
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Labels: backend, frontend

Make two columns for tags, show tags number in title (#4822)
  phytoplankton-console/src/pages/transactions-item/TransactionTags/index.tsx
Labels: frontend

Fix is Pep Hit Mongo (#4821)
  phytoplankton-console/src/pages/users/users-list/index.tsx
Labels: frontend

Fix dormant users check (#4824)
  tarpon/src/lambdas/cron-job-daily/app.ts
Labels: backend

Fix tenant creation (#4828)
  tarpon/src/services/tenants/index.ts
Labels: backend

Scale Async Rules Lambda (#4826)
  lib/config/config-prod-eu-2.ts
  lib/config/config.ts
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/user-rules-engine-service.ts
Labels: backend, infra

Added Few Logs To Async Rules (#4831)
  tarpon/src/lambdas/async-rule/app.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
Labels: backend

Add missing user fields to user details (#4830)
  phytoplankton-console/src/pages/users-item/UserDetails/BusinessUserDetails/LegalEntityDetails/GeneralDetailsCard/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/GeneralDetails/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/shared/ContactDetailsCard/index.tsx
Labels: frontend

Duplicate Transaction and User Events not Allowed (#4833)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/user-rules-engine-service.ts
Labels: backend

Update biz user timestamp
  tarpon/src/canaries/public-api-canary-tests/index.ts
Labels: backend

Add additional reasons for Case closure (#4829)
  phytoplankton-console/src/components/Narrative/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseManagement/CaseClosingReasonCard/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/public-management/openapi-public-management-original.yaml
  tarpon/src/services/copilot/reason-narratives.ts
Labels: backend, frontend

Deactivation Flow of A User (#4827)
  phytoplankton-console/src/pages/accounts/Team/index.tsx
  phytoplankton-console/src/pages/accounts/components/DeleteUser.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/console-api-account/app.ts
  tarpon/src/services/accounts/index.ts
Labels: backend, frontend

Verify user events created over console (#4832)
  tarpon/src/services/users/index.ts
  tarpon/src/utils/dynamodb.ts
Labels: backend

#FR-5331: Grey out the OK button for transaction table timestamp filter (#4685)
  lib/utils/dayjs.ts
  phytoplankton-console/src/components/library/DateRangePicker/DateRangeValuePopover/index.module.less
  phytoplankton-console/src/components/library/DateRangePicker/DateRangeValuePopover/index.tsx
  phytoplankton-console/src/components/library/DateRangePicker/DateTimeTextInput/index.module.less
  phytoplankton-console/src/components/library/DateRangePicker/DateTimeTextInput/index.tsx
  phytoplankton-console/src/components/library/DateRangePicker/index.module.less
  phytoplankton-console/src/components/library/DateRangePicker/index.tsx
  phytoplankton-console/src/components/library/DateRangePicker/story.tsx
  phytoplankton-console/src/components/library/Filter/AutoFilter/DateTimeRangeInput/index.module.less
  phytoplankton-console/src/components/library/Filter/AutoFilter/DateTimeRangeInput/index.tsx
  phytoplankton-console/src/components/library/Filter/AutoFilter/index.tsx
  phytoplankton-console/src/components/library/Filter/types.ts
  phytoplankton-console/src/components/library/QuickFilter/QuickFilterBase/index.tsx
  phytoplankton-console/src/components/library/QuickFilter/QuickFilterButton/index.tsx
  phytoplankton-console/src/components/library/QuickFilter/subtypes/InputQuickFilter/index.tsx
  phytoplankton-console/src/components/ui/icons/remix-v4/arrows/arrow-left-double-fill.react.svg
  phytoplankton-console/src/components/ui/icons/remix-v4/arrows/arrow-left-double-line.react.svg
  phytoplankton-console/src/components/ui/icons/remix-v4/arrows/arrow-right-double-fill.react.svg
  phytoplankton-console/src/components/ui/icons/remix-v4/arrows/arrow-right-double-line.react.svg
  phytoplankton-console/src/pages/storybook/storybook.tsx
  phytoplankton-console/src/pages/transactions/components/ProductTypeSearchButton/PopupContent/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
Labels: frontend

Migrate b4bpayments child user ids (#4834)
  tarpon/scripts/migrations/post-deployment/2024.09.26T20.05.30.migrate-b4b-child-usersw.ts
  tarpon/src/lambdas/async-rule/app.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
Labels: backend

Fix Synthetics Canaries (#4835)
  tarpon/src/canaries/public-api-canary-tests/index.ts
Labels: backend
