Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, raptor

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - infra/**

frontend:
  - phytoplankton-console/**

raptor:
  - raptor/**

Filter hit rules through alerts, not transactions (#1479)
  tarpon/src/services/rules-engine/repositories/case-repository.ts
Labels: backend

Complete Escalation flows (#1437)
  phytoplankton-console/src/components/library/Alert/index.tsx
  phytoplankton-console/src/components/library/Message/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/components/AlertsStatusChangeButton/AlertsStatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/AlertsStatusChangeButton/index.tsx
  phytoplankton-console/src/pages/case-management/components/CasesStatusChangeButton/CasesStatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/CasesStatusChangeButton/index.tsx
  phytoplankton-console/src/pages/case-management/components/FalsePositiveTag.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
  phytoplankton-console/src/utils/user-utils.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/console-api-case/services/__tests__/case-service.test.ts
  tarpon/src/lambdas/console-api-case/services/case-service.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/rules-engine/repositories/alerts-repository.ts
  tarpon/src/utils/__tests__/anonymize.test.ts
Labels: backend, frontend

Change Lambdas Memory (#1476)
  tarpon/lib/configs/config-dev.ts
Labels: backend

Close cases with all alerts closed (#1477)
  tarpon/scripts/migrations/pre-deployment/2023.06.11T10.32.36.close-case-when-all-alerts-are-closed.ts
Labels: backend

Auto assign assignee and reviewer (#1474)
  .github/auto_assign.yml
  .github/workflows/pr_wizard.yml
Labels: none

Add logs to complyadvantage webhook handler (#1487)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-webhooks/app.ts
  tarpon/src/services/sanctions/index.ts
Labels: backend

Fix auto_assign.yml (#1482)
  .github/auto_assign.yml
Labels: none

Filter Risk Level Fix Users (#1484)
  tarpon/src/lambdas/console-api-user/app.ts
Labels: backend

Filter Review Assignments Only When Case is Escalated (#1485)
  phytoplankton-console/src/pages/case-management/CaseTable/helpers.ts
  tarpon/src/services/rules-engine/repositories/alerts-repository.ts
  tarpon/src/services/rules-engine/repositories/case-repository.ts
Labels: backend, frontend

Added DRS Fix Script (#1461)
  tarpon/scripts/migrations/post-deployment/2023.06.07T22.33.36.drs-score-fix.ts
  tarpon/scripts/migrations/utils/mongodb.ts
  tarpon/scripts/migrations/utils/transaction.ts
Labels: backend

Add reason to case closure comment (#1483)
  tarpon/scripts/migrations/pre-deployment/2023.06.11T14.52.55.update-comments-of-closed-cases.ts
  tarpon/src/lambdas/console-api-case/services/__tests__/case-service.test.ts
  tarpon/src/lambdas/console-api-case/services/case-service.ts
Labels: backend

Fix ongoing screening job (#1481)
  tarpon/src/core/middlewares/init-sentry.ts
  tarpon/src/core/utils/context.ts
  tarpon/src/lambdas/batch-job/__tests__/batch-job-runner.test.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/lambdas/batch-job/ongoing-screening-user-rule-batch-job-runner.ts
  tarpon/src/services/iban.com/index.ts
Labels: backend

Fdt 82484 add entity id search for audit log (#1472)
  phytoplankton-console/src/pages/auditlog/components/AuditLog/AuditLog.tsx
  phytoplankton-console/src/pages/auditlog/components/AuditLog/types.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-audit-log/app.ts
  tarpon/src/services/audit-log/repositories/auditlog-repository.ts
  tarpon/src/utils/mongoDBUtils.ts
Labels: backend, frontend

R-99: Check both sender/receiver and sending/receiving transactions (#1480)
  tarpon/src/services/rules-engine/aggregator/user-transaction-stats-by-time.ts
  tarpon/src/services/rules-engine/repositories/aggregation-repository.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/user-transaction-limits.test.ts
  tarpon/src/services/rules-engine/transaction-rules/user-transaction-limits.ts
Labels: backend

Backfill alert closure narratives for Kevin (#1496)
  phytoplankton-console/src/pages/transactions/components/StatusButtons/index.tsx
  tarpon/scripts/migrations/post-deployment/2023.06.14T09.37.56.kevin-add-missing-alert-narrative.ts
  tarpon/src/lambdas/console-api-case/services/__tests__/case-service.test.ts
  tarpon/src/lambdas/console-api-case/services/case-service.ts
  tarpon/src/services/alerts/index.ts
Labels: backend, frontend

Fix alerts-close-test.cy.js (#1497)
  phytoplankton-console/cypress/e2e/alerts/alerts-close-test.cy.js
Labels: frontend

Fix Rule Label Looses Context (#1509)
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/BasicDetailsStep/index.tsx
Labels: frontend

Rebuild UserTransactionStatsTimeGroup user aggregation (#1493)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/package-lock.json
  tarpon/package.json
  tarpon/scripts/migrations/post-deployment/2023.06.12T23.06.10.rebuild-UserTransactionStatsTimeGroup-aggregation.ts
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/lambdas/batch-job/batch-job-runner-factory.ts
  tarpon/src/lambdas/batch-job/global-rule-aggregation-rebuild-batch-job-runner.ts
  tarpon/src/services/rules-engine/aggregator/__tests__/user-transaction-stats-by-time.test.ts
  tarpon/src/services/rules-engine/aggregator/aggregator.ts
  tarpon/src/services/rules-engine/aggregator/index.ts
  tarpon/src/services/rules-engine/aggregator/user-transaction-countries.ts
  tarpon/src/services/rules-engine/aggregator/user-transaction-currencies.ts
  tarpon/src/services/rules-engine/aggregator/user-transaction-stats-by-time.ts
  tarpon/src/services/rules-engine/aggregator/user-transactions-count.ts
  tarpon/src/services/rules-engine/repositories/aggregation-repository.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/transaction-rules/aggregation-rule.ts
  tarpon/src/services/rules-engine/transaction-rules/high-traffic-between-same-parties.ts
  tarpon/src/services/rules-engine/transaction-rules/high-traffic-volume-between-same-users.ts
  tarpon/src/services/rules-engine/transaction-rules/high-unsuccessfull-state-rate.ts
  tarpon/src/services/rules-engine/transaction-rules/multiple-senders-within-time-period-base.ts
  tarpon/src/services/rules-engine/transaction-rules/same-payment-details.ts
  tarpon/src/services/rules-engine/transaction-rules/same-user-using-too-many-cards.ts
  tarpon/src/services/rules-engine/transaction-rules/sender-location-changes-frequency.ts
  tarpon/src/services/rules-engine/transaction-rules/too-many-users-for-same-card.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-average-exceeded-base.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-exceed-past-period.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-outflow-inflow-volume.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-pattern-percentage-base.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-pattern-velocity-base.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-velocity.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-volume.ts
  tarpon/src/utils/currency-utils.ts
Labels: backend

Added Some Changes in Usage Plan (#1523)
  tarpon/src/services/tenants/index.ts
Labels: backend

Fix: Assigned to filter doesn’t work on alerts table, closed filter (#1488)
  phytoplankton-console/src/pages/case-management/CaseTable/helpers.ts
  tarpon/src/services/rules-engine/repositories/alerts-repository.ts
Labels: backend, frontend

Display super admin user as 'System' in the comments (#1490)
  phytoplankton-console/src/components/CommentsCard/Comment/index.tsx
  phytoplankton-console/src/utils/user-utils.tsx
Labels: frontend

#FR-1085: Render SAR Form (part 1) (#1515)
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/index.tsx
  phytoplankton-console/src/components/Sar/SarReportDrawer/index.tsx
  phytoplankton-console/src/components/Sar/SarReportDrawer/style.module.less
  phytoplankton-console/src/components/library/Form/GenericFormField/index.tsx
  phytoplankton-console/src/components/library/Form/index.tsx
  phytoplankton-console/src/components/library/Table/internal/helpers.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/ArrayPropertyInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/ArrayPropertyInput/style.module.less
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/__tests__/schema-utils.test.ts
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/context.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/schema-utils.ts
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/settings.tsx
  phytoplankton-console/src/utils/hooks.ts
  phytoplankton-console/src/utils/humanize.ts
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-sar/app.ts
  tarpon/src/services/sar/repositories/report-repository.ts
Labels: backend, frontend

Added Filtering In Origin and Destination Payment Method Id (#1495)
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/TransactionsAndComments/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/helpers/queryAdapter.ts
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  phytoplankton-console/src/pages/transactions/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/console-api-transaction/app.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/rules-engine/repositories/alerts-repository.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
Labels: backend, frontend

Device data code refactoring (#1510)
  phytoplankton-console/src/pages/users-item/UserDetails/DeviceDataCard/DeviceInformation/index.module.less
  phytoplankton-console/src/pages/users-item/UserDetails/DeviceDataCard/DeviceInformation/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/DeviceDataCard/DeviceSettings/index.module.less
  phytoplankton-console/src/pages/users-item/UserDetails/DeviceDataCard/DeviceSettings/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/DeviceDataCard/LocationInfoCard/index.module.less
  phytoplankton-console/src/pages/users-item/UserDetails/DeviceDataCard/LocationInfoCard/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/DeviceDataCard/OtherInformation/index.module.less
  phytoplankton-console/src/pages/users-item/UserDetails/DeviceDataCard/OtherInformation/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/DeviceDataCard/index.module.less
  phytoplankton-console/src/pages/users-item/UserDetails/DeviceDataCard/index.tsx
Labels: frontend

Fix incorrectly reversed expand icon (#1508)
  phytoplankton-console/src/components/library/ExpandIcon/index.tsx
  phytoplankton-console/src/components/library/ExpandIcon/style.module.less
  phytoplankton-console/src/components/library/Table/ExpandIcon/index.tsx
  phytoplankton-console/src/components/library/Table/ExpandIcon/style.module.less
  phytoplankton-console/src/components/library/Table/consts.tsx
  phytoplankton-console/src/components/ui/Card/Header.tsx
  phytoplankton-console/src/components/ui/CollapsableIcon/index.module.less
  phytoplankton-console/src/components/ui/CollapsableIcon/index.tsx
Labels: frontend

SAR Generator scaffolding (#1468)
  phytoplankton-console/src/components/Sar/SarReportDrawer/index.tsx
  phytoplankton-console/src/components/Sar/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/AlertsCard/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/seed/samplers/cases.ts
  tarpon/src/lambdas/console-api-sar/app.ts
  tarpon/src/services/sar/generators/KE/SAR/__tests__/index.test.ts
  tarpon/src/services/sar/generators/KE/SAR/index.ts
  tarpon/src/services/sar/generators/KE/SAR/schema.ts
  tarpon/src/services/sar/generators/index.ts
Labels: backend, frontend

Seed random rule IDs (#1503)
  tarpon/src/core/seed/data/rules.ts
Labels: backend

Reports Table (#1500)
  phytoplankton-console/src/components/AppWrapper/Menu/index.tsx
  phytoplankton-console/src/components/Sar/SarReportDrawer/index.tsx
  phytoplankton-console/src/components/Sar/VersionHistory/index.tsx
  phytoplankton-console/src/components/Sar/index.tsx
  phytoplankton-console/src/components/ui/Id/index.tsx
  phytoplankton-console/src/components/ui/icons/Remix/document/article-line.react.svg
  phytoplankton-console/src/locales/en-US/menu.ts
  phytoplankton-console/src/pages/reports/components/ReportsTable/index.tsx
  phytoplankton-console/src/pages/reports/index.tsx
  phytoplankton-console/src/services/routing/index.ts
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/console-api-sar/app.ts
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/sar/generators/KE/SAR/__tests__/index.test.ts
  tarpon/src/services/sar/repositories/report-repository.ts
Labels: backend, frontend

Only display super-admin audit logs on-demand (#1499)
  phytoplankton-console/src/components/PageWrapper/index.tsx
  phytoplankton-console/src/components/library/SuperAdminContainer/index.module.less
  phytoplankton-console/src/components/library/SuperAdminContainer/index.tsx
  phytoplankton-console/src/pages/auditlog/components/AuditLog/AuditLog.tsx
  phytoplankton-console/src/pages/auditlog/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
Labels: frontend

Fr 2174 improve sar demo mode (#1514)
  phytoplankton-console/src/components/SarDemo/SarReportDrawer/index.tsx
  phytoplankton-console/src/components/SarDemo/index.tsx
  phytoplankton-console/src/pages/auditlog/components/AuditLog/AuditLog.tsx
Labels: frontend

Get Usage Plans from AWS in API Usage Metrics (#1506)
  tarpon/scripts/migrations/post-deployment/2023.06.08T15.56.52.fix-sheets-data-for-some-tenants-rerun-2.ts
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/batch-job/api-usage-metrics-batch-job-runner.ts
  tarpon/src/lambdas/cron-job-midnight/app.ts
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/metrics/api-usage-metrics-service.ts
  tarpon/src/services/metrics/sheets-api-usage-metrics-service.ts
  tarpon/src/services/tenants/index.ts
Labels: backend

Some Changes in Sentry (#1507)
  phytoplankton-console/src/app.tsx
  phytoplankton-console/src/components/AppWrapper/index.tsx
Labels: frontend

Breakup SAR Form (#1492)
  phytoplankton-console/src/components/Sar/SarReportDrawer/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-sar/app.ts
  tarpon/src/services/sar/generators/KE/SAR/__tests__/index.test.ts
  tarpon/src/services/sar/generators/KE/SAR/index.ts
  tarpon/src/services/sar/generators/KE/SAR/schema.ts
  tarpon/src/services/sar/generators/index.ts
Labels: backend, frontend

SAR improvements (#1516)
  tarpon/src/core/seed/samplers/transaction.ts
  tarpon/src/core/seed/samplers/users.ts
  tarpon/src/lambdas/console-api-sar/app.ts
  tarpon/src/services/sar/generators/KE/SAR/index.ts
  tarpon/src/services/sar/generators/KE/SAR/schema.ts
  tarpon/src/services/sar/generators/index.ts
  tarpon/src/services/sar/repositories/report-repository.ts
Labels: backend

Kenya schema tweaks (#1505)
  tarpon/src/services/sar/generators/KE/SAR/schema.ts
Labels: backend

Fix Usage Plan Thing (#1517)
  tarpon/src/lambdas/cron-job-midnight/app.ts
  tarpon/src/scripts/onboard-tarpon-api.sh
  tarpon/src/services/metrics/api-usage-metrics-service.ts
  tarpon/src/services/tenants/index.ts
Labels: backend

Fix EMFILE error for ongoing user screening job (#1489)
  tarpon/src/lambdas/cron-job-midnight/app.ts
Labels: backend

Keep migration progress for 2023.06.12T23.06.10.rebuild-UserTransactionStatsTimeGroup-aggregation.ts (#1513)
  tarpon/scripts/migrations/post-deployment/2023.06.12T23.06.10.rebuild-UserTransactionStatsTimeGroup-aggregation.ts
Labels: backend

Fdt 42616 simulator button visiblity (#1457)
  phytoplankton-console/src/components/SimulationPageWrapper/index.tsx
  phytoplankton-console/src/components/library/Toggle/index.tsx
  tarpon/src/services/rules-engine/user-rules/sanctions-bank-name.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-business-user.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-consumer-user.ts
Labels: backend, frontend

Initialize BATCH_JOB_QUEUE_URL, AUDITLOG_TOPIC_ARN env vars for migration (#1504)
  tarpon/infra/cdk-tarpon-pipeline-stack.ts
  tarpon/scripts/migrations/migrator.ts
  tarpon/scripts/migrations/post-deployment/2023.06.14T09.37.56.kevin-add-missing-alert-narrative.ts
Labels: backend
