Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, pipeline

Update LAMBDA_VPC_ENABLED configuration to false in development settings (#8024)
  lib/config/config-dev.ts
Labels: none

Move agg variable data handling before rule is deleted (#8022)
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
Labels: backend

Close Eu-2 Infra to Asia-2 (#8011)
  lib/config/config-prod-asia-2.ts
Labels: none

Fix: Show currency alongside amount in AIF widget (#7896)
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemTable/index.tsx
Labels: frontend

Reference filter for transactions (#7956)
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/TransactionsTab/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/helpers/queryAdapter.ts
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Labels: backend, frontend

Reinstate V8 variable design (#7998)
  phytoplankton-console/src/components/library/Select/index.tsx
  phytoplankton-console/src/components/library/Tooltip/index.tsx
  phytoplankton-console/src/components/ui/LogicBuilder/helpers.tsx
Labels: frontend

Select component arrow controls not working (#7995)
  phytoplankton-console/jest/jest-matchers.ts
  phytoplankton-console/src/components/library/Select/__tests__/select.dom.test.tsx
  phytoplankton-console/src/components/library/Select/__tests__/select.jest-helpers.ts
  phytoplankton-console/src/components/library/Select/index.tsx
  phytoplankton-console/src/components/library/Select/style.module.less
Labels: frontend

FIX: Risk factor simulation bug (#8026)
  tarpon/src/services/batch-jobs/simulation-v8-risk-scoring-batch-job-runner.ts
Labels: backend

FIX: Account permission to access Reset/delete buttons (#8015)
  phytoplankton-console/src/pages/accounts/Team/index.tsx
  phytoplankton-console/src/pages/accounts/components/DeleteUser.tsx
  phytoplankton-console/src/pages/accounts/components/ResetUserMfa.tsx
Labels: frontend

FEAT: enhance failed e2e tracking (#8006)
  phytoplankton-console/cypress-run.js
  phytoplankton-console/cypress.config.ts
Labels: frontend

FEAT: move fargate task definition to arm arch ( Dev and Sandbox ) (#7971)
  lib/config/config-dev.ts
  lib/config/config-local.ts
  lib/config/config-sandbox-eu-1.ts
  lib/config/config.ts
  tarpon/infra/cdk-load-testing-stack.ts
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/infra/cdk-utils/cdk-fargate-utils.ts
  tarpon/src/fargate/Dockerfile
Labels: backend, infra

fix: grey out single dropdown options (#7862)
  phytoplankton-console/src/components/library/List/index.module.less
  phytoplankton-console/src/components/library/List/index.tsx
  phytoplankton-console/src/components/library/QuickFilter/subtypes/ListQuickFilter/index.module.less
  phytoplankton-console/src/components/library/QuickFilter/subtypes/ListQuickFilter/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/EntityVariableForm.tsx
Labels: frontend

FIX: handle xlsx-js-style dynamic import module structure (#8014)
  tarpon/src/services/cases/utils/xlsx-generator.ts
Labels: backend

FIX: e2e regression fixes (#8031)
  phytoplankton-console/cypress.config.ts
Labels: frontend

[Snyk] Upgrade @types/lodash from 4.17.15 to 4.17.20 (#8029)
  package.json
  yarn.lock
Labels: none

Show proper aggregate variable name in the AIF (#8025)
  phytoplankton-console/src/components/ui/LogicBuilder/ViewModeTags/index.tsx
  phytoplankton-console/src/components/ui/LogicBuilder/story-fixture.json
  phytoplankton-console/src/components/ui/LogicBuilder/widgets.tsx
Labels: frontend

Enhance components with busy state management for improved user experience
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/ChecklistTab/EditableComment/index.tsx
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/ChecklistTab/index.tsx
  phytoplankton-console/src/pages/lists-item/ItemsTable/index.tsx
  phytoplankton-console/src/pages/settings/components/TagSettings/index.tsx
  phytoplankton-console/src/pages/users-item/Header/EditTagsModal/ApiTagsTable/index.tsx
Labels: frontend

chore: update yarn.lock to lockfile v8 with Yarn 4.0.2
  yarn.lock
Labels: none

Revert "[Snyk] Upgrade @types/lodash from 4.17.15 to 4.17.20 (#8029)" (#8038)
  package.json
  yarn.lock
Labels: none

Update volume size in development configuration from 20 to 30 (#8037)
  lib/config/config-dev.ts
Labels: none

Fix: AI Forensics PDF matches UI (#7951)
  phytoplankton-console/src/components/DownloadAsPdf/DownloadAsPDF.tsx
  phytoplankton-console/src/pages/alert-item/components/Header/AiForensicsPdfDownloadButton/PdfTable.tsx
Labels: frontend

FIX: Duplicate risk factors in simulation on toggle (#8002)
  phytoplankton-console/src/store/risk-factors.ts
Labels: frontend

Update Lodash Types (#8039)
  package.json
  phytoplankton-console/package.json
  phytoplankton-console/src/components/ActivityCard/helpers.tsx
  phytoplankton-console/yarn.lock
  tarpon/package.json
  tarpon/src/services/risk-scoring/derived-risk-factors/user-age.ts
  tarpon/yarn.lock
  yarn.lock
Labels: backend, frontend

Add downloading to manual screening drawer (#7961)
  phytoplankton-console/src/components/DownloadAsPdf/DownloadAsPDF.tsx
  phytoplankton-console/src/components/ScreeningHitTable/ScreeningHitDetailsDrawer/index.module.less
  phytoplankton-console/src/components/ScreeningHitTable/ScreeningHitDetailsDrawer/index.tsx
Labels: frontend

Updates to asia-2 deployment (#8043)
  lib/config/config-prod-asia-2.ts
Labels: none

fix: update canary test to match actual API Gateway 403 error message (#8047)
  tarpon/src/canaries/public-api-canary-tests/index.ts
Labels: backend

Ignore Local Middleware in Build (#8028)
  tarpon/scripts/esbuild.js
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/@types/tranasction/aggregation.ts
  tarpon/src/core/middlewares/lambda-api-middlewares.ts
  tarpon/src/core/middlewares/lazy-local-dev.ts
  tarpon/src/core/middlewares/public-lambda-api-middleware.ts
  tarpon/src/lambdas/transaction-aggregation/app.ts
  tarpon/src/services/batch-jobs/rule-pre-aggregation-batch-job-runner.ts
  tarpon/src/services/logic-evaluator/engine/index.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/test-utils/rule-test-utils.ts
Labels: backend

Refactor types being imported from lambda (#8046)
  tarpon/scripts/migrations/post-deployment/2025.01.10T14.32.04.close-alerts-for-pnb.ts
  tarpon/scripts/migrations/post-deployment/2025.04.29T01.09.43.close_sciopay_cases.ts
  tarpon/src/@types/cases/case-config.ts
  tarpon/src/@types/tranasction/transaction-config.ts
  tarpon/src/@types/user/user-config.ts
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/console-api-list-importer/app.ts
  tarpon/src/lambdas/console-api-transaction/app.ts
  tarpon/src/lambdas/console-api-transaction/services/transaction-service.ts
  tarpon/src/lambdas/console-api-user/app.ts
  tarpon/src/lambdas/public-management-api-alert/app.ts
  tarpon/src/lambdas/public-management-api-case/app.ts
  tarpon/src/lambdas/request-logger/app.ts
  tarpon/src/lambdas/request-logger/utils.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/batch-jobs/dynamodb-clickhouse-backfill-job-runner.ts
  tarpon/src/services/cases/case-creation-service.ts
  tarpon/src/services/cases/index.ts
  tarpon/src/services/flat-files/batchRunner/transaction-upload.ts
  tarpon/src/services/flat-files/index.ts
  tarpon/src/services/list/index.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctionsHit/index.ts
  tarpon/src/services/users/index.ts
Labels: backend

Only Trace Path from Origin (#8050)
  tarpon/scripts/esbuild.js
Labels: backend

Refactor Pre aggregation Job (#8045)
  tarpon/src/core/local-handlers/v8-pre-aggregation.ts
  tarpon/src/services/batch-jobs/rule-pre-aggregation-batch-job-runner.ts
Labels: backend

Fix conditions in checkforRuleOngoingOrUpdate and fix triggering jobs in daily cron lambda (#8051)
  tarpon/src/lambdas/cron-job-daily/app.ts
  tarpon/src/services/rules-engine/utils/user-rule-utils.ts
Labels: backend

Fix issue with logic builder variables (#8034)
  phytoplankton-console/src/components/ui/LogicBuilder/widgets.tsx
Labels: frontend

Transaction partition update (#8016)
  tarpon/scripts/dangerous-nuke-tenant-data.ts
  tarpon/scripts/migrations/post-deployment/2025.02.10T06.57.30.backfill-entities-to-mongo-for-2c2p.ts
  tarpon/scripts/migrations/utils/cleanup-rule-hits.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/core/dynamodb/key-constants.ts
  tarpon/src/services/batch-jobs/go-cardless-backfill.ts
  tarpon/src/services/batch-jobs/pnb-backfill-entities-fargate-batch-job.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/services/flat-files/__tests__/index.test.ts
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/repositories/dynamodb-transaction-repository.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
Labels: backend

handled risk factors from components also for TRS factors not populating (#8052)
  phytoplankton-console/src/components/ui/DynamicRiskHistoryDisplay/DynamicRiskHistoryModal/ExpandedRowRenderer/index.tsx
Labels: frontend

E2E: update flaky e2e test (#8053)
  phytoplankton-console/cypress/e2e/cases/cases-filter-test.cy.ts
  phytoplankton-console/cypress/e2e/rules/create-scenario.cy.ts
Labels: frontend

Fix `Origin transaction amount` and `Destination transaction amount` RF for CRA modal display (#8057)
  phytoplankton-console/src/components/ui/DynamicRiskHistoryDisplay/DynamicRiskHistoryModal/ExpandedRowRenderer/index.tsx
Labels: frontend

Enable free-text value for string-type risk factors (#8030)
  phytoplankton-console/src/pages/risk-levels/risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/RiskFactorConfigurationStep/ParametersTable/const.tsx
Labels: frontend

Fix: Case and Alert checkboxes misaligned (#8017)
  phytoplankton-console/src/components/library/Table/consts.tsx
  phytoplankton-console/src/components/library/Table/index.module.less
Labels: frontend

Large HTTP payload: do not fetch linking data before opening ontology tab (#8033)
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/helpers.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemEmbedded/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/entity_linking.tsx
  phytoplankton-console/src/pages/users-item/index.tsx
Labels: frontend

Fix currency and granularity selection in AIF (#8032)
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemBase/Variables/index.module.less
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemLayout/index.module.less
Labels: frontend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

pipeline:
  - bin/**
