Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, databricks, pipeline

Fix tags on non taggable resources
  databricks/infra/main.ts
Labels: databricks

Minor fix to oneof template
  databricks/openapi/model_oneof.mustache
Labels: databricks

Allow nullable fields
  databricks/openapi/model_simple.mustache
Labels: databricks

Delete Mongo DB Tables as a Part of Tenant Deletion (#3031)
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/utils/__tests__/mongo-utils.test.ts
  tarpon/src/utils/mongodb-utils.ts
Labels: backend

Update Aggregation Only Once if Variable is used in Multiple Rules (#3032)
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
Labels: backend

Namespace databricks secret (#3046)
  databricks/infra/main.ts
Labels: databricks

Serverless compute not available in every region (#3048)
  databricks/infra/main.ts
Labels: databricks

Changed the width of the case table and the alert table (#3044)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
Labels: frontend

Refactor mongo backfilling (#3050)
  databricks/src/dlt_pipeline/pipeline.py
  databricks/src/entities.py
  databricks/src/jobs/backfill.py
  databricks/src/jobs/transactions.py
  databricks/src/jobs/users.py
Labels: databricks

Hotfix: reoroder tenant and dynamo key in backfill
  databricks/src/dlt_pipeline/pipeline.py
Labels: databricks

Hotfix: withColumn in datapipline
  databricks/src/dlt_pipeline/pipeline.py
Labels: databricks

Merge user and business schemas (#3053)
  databricks/src/entities.py
Labels: databricks

Hotfix: Actually merge schema
  databricks/src/entities.py
Labels: databricks

Merge schemas in clearing table
  databricks/src/entities.py
  databricks/src/jobs/backfill.py
Labels: databricks

FR-3882 QA assignments bug (#2957)
  phytoplankton-console/cypress/e2e/cases/cases-assignment-filter-test.cy.ts
  phytoplankton-console/src/pages/case-management-item/components/Header/SubHeader/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/AlertExpanded/Checklist/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/QaTable/index.tsx
  phytoplankton-console/src/pages/case-management/components/AssigneesDropdown/index.tsx
  phytoplankton-console/src/pages/case-management/components/AssignmentButton/index.tsx
  phytoplankton-console/src/pages/case-management/helpers.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TeamPerformanceCard/AccountsStatisticsTable/index.tsx
Labels: frontend

Add user type to user shema (#3056)
  databricks/src/entities.py
Labels: databricks

Upgrade to auth0 v4 (#3039)
  tarpon/package-lock.json
  tarpon/package.json
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/roles/__tests__/roles-crud.test.ts
  tarpon/src/services/roles/index.ts
  tarpon/src/utils/auth0-utils.ts
Labels: backend

#FR-3833: Fix console failed to fetch (#3045)
  phytoplankton-console/build/openapi_generate_templates/overrides/http/isomorphic-fetch.mustache
  phytoplankton-console/src/app.tsx
Labels: frontend

Improve option titles for country/currency rule entity variables (#3049)
  lib/constants/currencies.ts
  lib/constants/index.ts
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/CurrencyInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/TransactionAmountRangeInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/TransactionAmountThresholdsInput/index.tsx
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/components/ui/Currency/index.tsx
  phytoplankton-console/src/components/ui/LogicBuilder/widgets.tsx
  phytoplankton-console/src/components/ui/Money/index.tsx
  phytoplankton-console/src/components/ui/RiskScoreDisplay/DetailsModal/helpers.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/AmountsChart/Chart/Popover/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/AmountsChart/Chart/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/AmountsChart/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TransactionsSelector/Chart/AxisY/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TransactionsSelector/Chart/Column/Popover/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TransactionsSelector/Chart/Column/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TransactionsSelector/Chart/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TransactionsSelector/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TypesChart/Pie/Popover/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TypesChart/Pie/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TypesChart/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/consts.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/DefineLogicCard/RuleActionsCard/index.tsx
  phytoplankton-console/src/pages/settings/components/DefaultValuesSettings.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/BusinessUserDetails/TransactionLimits/index.tsx
  phytoplankton-console/src/utils/currencies.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/utils.test.ts
  tarpon/src/services/rules-engine/v8-variables/utils.ts
Labels: backend, frontend

Fix toggle feature command in cypress (#3059)
  phytoplankton-console/cypress/e2e/risk-factors/create-and-delete-risk-factor.cy.ts
  phytoplankton-console/cypress/support/commands.ts
  phytoplankton-console/cypress/support/index.ts
Labels: frontend

Implemented welcome email (#2984)
  .gitignore
  email-templates/components/CustomButton.tsx
  email-templates/components/CustomCard.tsx
  email-templates/components/MailContainer.tsx
  email-templates/components/MailHead.tsx
  email-templates/emails/ProductionEmail.tsx
  email-templates/emails/SandboxEmail.tsx
  email-templates/package-lock.json
  email-templates/package.json
  email-templates/readme.md
  tarpon/infra/auth0/cdktf-auth0-resources.ts
  tarpon/infra/auth0/email-templates/welcome-email-prod-template.html
  tarpon/infra/auth0/email-templates/welcome-email-sandbox-template.html
Labels: backend, infra

Add user type entity variable (#3054)
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/DefineLogicCard/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/RuleLogicBuilder/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/helpers.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/user-type.test.ts
  tarpon/src/services/rules-engine/v8-variables/index.ts
  tarpon/src/services/rules-engine/v8-variables/types.ts
  tarpon/src/services/rules-engine/v8-variables/user-type.ts
Labels: backend, frontend

Migrate R-54 to R-55 Part-1 (#3022)
  tarpon/scripts/migrations/post-deployment/2024.01.10T08.18.00.migrate-R54-To-R55.ts
  tarpon/scripts/migrations/pre-deployment/2024.01.10T08.13.59.migrate-R54-To-R55.ts
  tarpon/scripts/migrations/utils/rule.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/same-user-using-too-many-cards.test.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
Labels: backend

FR-3782 Proper source maps for sandbox (#3017)
  bin/cdk-orca-pipeline-stack.ts
  bin/utils/sentry-release-spec.ts
  phytoplankton-console/build/build-tasks.js
Labels: frontend, pipeline

Rename 'Assignees' to 'Assigned to' (#3063)
  phytoplankton-console/cypress/e2e/cases/cases-assignment-filter-test.cy.ts
  phytoplankton-console/src/pages/case-management-item/components/Header/SubHeader/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
  phytoplankton-console/src/pages/case-management/QaTable/index.tsx
  phytoplankton-console/src/pages/case-management/components/AssignmentButton/index.tsx
  phytoplankton-console/src/pages/case-management/helpers.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TeamPerformanceCard/AccountsStatisticsTable/index.tsx
Labels: frontend

Sender/Receiver user entity variables (#3062)
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/RuleLogicBuilder/index.tsx
  tarpon/.vscode/launch.json
  tarpon/src/lambdas/console-api-rule/app.ts
  tarpon/src/services/rules-engine/v8-engine/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-engine/index.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-variables/index.ts
Labels: backend, frontend

Skip deleting unused parameter if there is no ruleID (#3065)
  tarpon/scripts/migrations/utils/rule.ts
Labels: backend

Fix flaky superadmin-switch-tenant.cy.ts (#3061)
  phytoplankton-console/cypress/e2e/basic/superadmin-switch-tenant.cy.ts
  phytoplankton-console/src/components/SuperAdminPanel/index.tsx
Labels: frontend

E2E tests for the new rule configuration flow (#3004)
  phytoplankton-console/cypress/e2e/rules/create-scenario.cy.ts
  phytoplankton-console/src/components/SimulationPageWrapper/index.tsx
  phytoplankton-console/src/components/library/SelectionGroup/index.tsx
  phytoplankton-console/src/components/ui/LogicBuilder/helpers.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/RuleParametersStep/ApplyRiskLevels/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/DefineLogicCard/ApplyRiskLevels/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/VariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/style.module.less
Labels: frontend

FR-4036 E2E test for QA Assignees (#3066)
  phytoplankton-console/cypress/e2e/qa/qa-assignee-column.cy.ts
Labels: frontend

Fix create-scenario.cy.ts (#3068)
  phytoplankton-console/cypress/e2e/rules/create-scenario.cy.ts
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/RuleLogicBuilder/index.tsx
Labels: frontend

Rules discoverability search (#3027)
  lib/constants/currency.ts
  lib/constants/index.ts
  lib/utils/index.ts
  lib/utils/object.ts
  phytoplankton-console/src/components/library/EmptyDataInfo/index.tsx
  phytoplankton-console/src/components/library/SearchBar/SearchBarDropdown/index.module.less
  phytoplankton-console/src/components/library/SearchBar/SearchBarDropdown/index.tsx
  phytoplankton-console/src/components/library/SearchBar/SearchBarField/index.module.less
  phytoplankton-console/src/components/library/SearchBar/SearchBarField/index.tsx
  phytoplankton-console/src/components/library/SearchBar/__tests__/search-bar.dom.test.tsx
  phytoplankton-console/src/components/library/SearchBar/index.module.less
  phytoplankton-console/src/components/library/SearchBar/index.tsx
  phytoplankton-console/src/components/library/SearchBar/story.tsx
  phytoplankton-console/src/components/library/Table/Header/index.module.less
  phytoplankton-console/src/components/library/Table/Header/index.tsx
  phytoplankton-console/src/components/library/Table/index.tsx
  phytoplankton-console/src/components/ui/z-indexes.less
  phytoplankton-console/src/pages/rules/RulesTable/RulesSearchBar/index.tsx
  phytoplankton-console/src/pages/rules/RulesTable/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/package-lock.json
  tarpon/package.json
  tarpon/scripts/migrations/utils/rule.ts
  tarpon/src/@types/rule/rule-actions.ts
  tarpon/src/lambdas/batch-job/__tests__/ongoing-screening-user-rule-batch-job-runner.test.ts
  tarpon/src/lambdas/console-api-rule/app.ts
  tarpon/src/lambdas/public-management-api-rule/__tests__/app.test.ts
  tarpon/src/services/rules-engine/repositories/rule-repository.ts
  tarpon/src/services/rules-engine/rule-service.ts
  tarpon/src/services/rules-engine/transaction-filters/transaction-amount-historical.ts
  tarpon/src/services/rules-engine/transaction-filters/transaction-amount.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/test-utils/rule-test-utils.ts
  tarpon/src/utils/__tests__/regex.test.ts
  tarpon/src/utils/mongodb-definitions.ts
  tarpon/src/utils/mongodb-utils.ts
  tarpon/src/utils/object.ts
  tarpon/src/utils/regex.ts
Labels: backend, frontend

Fix migration (#3069)
  tarpon/scripts/migrations/utils/rule.ts
Labels: backend

FR-4055 Value disappears from age input boxes (#3051)
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/AgeRangeInput/__tests__/age-range-input.dom.test.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/AgeRangeInput/index.tsx
  phytoplankton-console/src/components/library/Slider/index.tsx
Labels: frontend

Remove secrets ARNs from source and improve typing (#3058)
  bin/utils/post_deploy_tarpon.ts
  bin/utils/tarpon-deploy-stage.ts
  lib/config/config-dev.ts
  lib/config/config-local.ts
  lib/config/config-prod-asia-1.ts
  lib/config/config-prod-asia-2.ts
  lib/config/config-prod-au-1.ts
  lib/config/config-prod-eu-1.ts
  lib/config/config-prod-eu-2.ts
  lib/config/config-prod-me-1.ts
  lib/config/config-prod-us-1.ts
  lib/config/config-sandbox.ts
  lib/config/config.ts
  lib/secrets/secrets.ts
  tarpon/infra/cdk-utils/cdk-iam-utils.ts
  tarpon/scripts/qa-stack-cleanup.ts
  tarpon/src/services/iban.com/index.ts
  tarpon/src/services/merchant-monitoring/merchant-monitoring-scrape.ts
  tarpon/src/services/metrics/sheets-api-usage-metrics-service.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sar/generators/US/SAR/index.ts
  tarpon/src/utils/mongodb-utils.ts
  tarpon/src/utils/openapi.ts
  tarpon/src/utils/secrets-manager.ts
Labels: backend, infra, pipeline

Truncate cells to excel's character limit (#3071)
  phytoplankton-console/src/utils/__tests__/xlsx.test.ts
  phytoplankton-console/src/utils/xlsx.ts
Labels: frontend

Fix databricks deployment (#3072)
  databricks/infra/main.ts
Labels: databricks

Fix request logger not logging requests (#3070)
  tarpon/src/core/middlewares/request-logger.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend

Quick fixes to reduce bundle size for Bureau (#3075)
  phytoplankton-console/src/components/BrowserSupportModal/index.tsx
  phytoplankton-console/src/components/library/Table/Header/Tools/DownloadButton/index.tsx
Labels: frontend

Fixed table in dashboard report export (#3038)
  phytoplankton-console/src/components/SanctionsTable/SearchResultDetailsModal/DownloadAsPDF.ts
  phytoplankton-console/src/components/library/Widget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseManagement/CaseClosingReasonCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseManagement/DistributionByAlertPriority/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RiskLevelDistributionCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RuleActionSplitCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RulePrioritySplitCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Transactions/DistributionByTransactionTypeWidget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Transactions/PaymentMethodDistributionWidget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/UserStatusDistributionCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/widgets/DistributionChartWidget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/utils/export-data-build-util.ts
Labels: frontend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

databricks:
  - databricks/**

pipeline:
  - bin/**
