Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, pipeline

Fix Destroy QA (#6968)
  .github/workflows/destroy_tarpon_qa.yml
Labels: none

E2E: Fix flaky sar generate test (#6969)
  phytoplankton-console/cypress/e2e/sar/sar-generate.cy.ts
Labels: frontend

DEMO-DATA: updated logic to have all rules with non-zero hits (#6958)
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/core/seed/data/transactions.ts
Labels: backend

Fixes to manual re verification (#6970)
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/manual-transaction-reverification-batch-job-runner.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
Labels: backend

Fix rule stage migration and order of the schema (#6971)
  tarpon/scripts/migrations/pre-deployment/2025.05.15T08.56.15.add-rule-stage-parameters.ts
  tarpon/scripts/migrations/pre-deployment/2025.05.21T08.44.05.add_rule_stage_parameter.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/user-rules/generic-sanctions-consumer-user.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-bank-name.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-business-user.ts
Labels: backend

Fix: ClickHouse GROUP BY error by using any(status) in aggregation (#6973)
  tarpon/src/services/analytics/dashboard-metrics/transaction-stats.ts
Labels: backend

Add margins for rule logic (AIF) (#6950)
  phytoplankton-console/src/components/ui/LogicBuilder/ViewModeTags/index.tsx
Labels: frontend

Assign more realistic time stamp to demo data audit logs (#6974)
  tarpon/src/core/seed/data/auditlogs.ts
Labels: backend

Added timestamp conditions in transactions stats query (#6977)
  tarpon/src/services/analytics/dashboard-metrics/transaction-stats.ts
  tarpon/src/services/rules-engine/repositories/clickhouse-repository.ts
Labels: backend

Transaction export downloads beyond limit (#6976)
  phytoplankton-console/src/components/library/Table/Header/Tools/DownloadButton/index.tsx
Labels: frontend

SimulationResult component to show progress for demo simulations. (#6957)
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/SimulationResult/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/index.tsx
Labels: frontend

Switch to and from email for Freshdesk (#6943)
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/TicketConversationCard/index.tsx
Labels: frontend

Disabled tag value dropdown when key not selected for Users page (#6983)
  phytoplankton-console/src/pages/transactions/components/UserTagSearchButton/PopupContent/index.tsx
Labels: frontend

Added tooltip to Rule Recommendations (Time Period) card (#6812)
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/components/ExtendedRowRenderer/index.module.less
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/components/ExtendedRowRenderer/index.tsx
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/components/RuleThresholdRecommendation/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Labels: backend, frontend

Implement GET endpoints for batch public APIs (#6897)
  tarpon/lib/openapi/openapi-public-augmentor.ts
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/scripts/openapi/openapi_generate_sdk.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/lambdas/async-rule/app.ts
  tarpon/src/lambdas/public-api-rules-engine/app.ts
  tarpon/src/lambdas/public-api-user-management/app.ts
  tarpon/src/services/batch-import/__tests__/index.test.ts
  tarpon/src/services/batch-import/batch-repository.ts
  tarpon/src/services/batch-import/index.ts
  tarpon/src/services/batch-import/utils.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/services/rules-engine/repositories/transaction-event-repository.ts
  tarpon/src/services/rules-engine/repositories/user-event-repository.ts
  tarpon/src/services/rules-engine/utils.ts
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend

Handle Frontend Roles Verification in RBAC V2 (#6980)
  phytoplankton-console/src/components/AppWrapper/Providers/StatementsProvider.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/index.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/mocks/StatementsProvider.tsx
  phytoplankton-console/src/components/library/Button/index.tsx
  phytoplankton-console/src/components/library/CrudEntitiesTable/index.tsx
  phytoplankton-console/src/pages/settings/components/NarrativeTemplateSettings.tsx
  phytoplankton-console/src/utils/__tests__/user-utils.test.ts
  phytoplankton-console/src/utils/user-utils.tsx
Labels: frontend

Fix QA deployment (#6989)
  phytoplankton-console/build/openapi-generate.js
  tarpon/scripts/openapi/openapi_generate_sdk.ts
Labels: backend, frontend

Flat File: Generate schema and Template from model (#6926)
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-console-api-stack.ts
  tarpon/lib/constants.ts
  tarpon/lib/lambdas.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/templates/model/model.mustache
  tarpon/scripts/json-schema-generator.ts
  tarpon/src/@types/model/index.ts
  tarpon/src/lambdas/console-api-flat-files/app.ts
  tarpon/src/services/flat-files/__tests__/index.test.ts
  tarpon/src/services/flat-files/format/csv.ts
  tarpon/src/services/flat-files/format/index.ts
  tarpon/src/services/flat-files/index.ts
  tarpon/src/services/logic-evaluator/variables/index.ts
  tarpon/src/services/logic-evaluator/variables/utils.ts
  tarpon/src/utils/__tests__/json-schema.test.ts
  tarpon/src/utils/json-schema.ts
Labels: backend, infra

FEAT: script to clean orphaned log groups (#6910)
  tarpon/lib/log-group-cleanup.ts
  tarpon/lib/qa-cleanup.ts
  tarpon/lib/utils.ts
  tarpon/package.json
  tarpon/scripts/log-group-cleanup.ts
  tarpon/yarn.lock
Labels: backend

Updated logic to update screening details while case/alert status change (#6984)
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/cases/index.ts
Labels: backend

Move Statements Provider 1 Level Down (#6990)
  phytoplankton-console/src/components/AppWrapper/Providers/index.tsx
Labels: frontend

Fix: Rule section duplicated in AIF (#6982)
  lib/utils/copilot.ts
  phytoplankton-console/src/components/AiForensics/SearchBar/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/index.tsx
  tarpon/src/services/copilot/questions/definitions/rules.ts
Labels: backend, frontend

Persist filters via URL on Transactions and Users pages (#6986)
  phytoplankton-console/src/pages/transactions/index.tsx
  phytoplankton-console/src/pages/users/users-list/index.tsx
Labels: frontend

Fix Dev Deploy OpenApi Augment (#6991)
  tarpon/lib/openapi/openapi-internal-augmentor.ts
Labels: backend

Fix Dev Deploy Openapi Augment (#6992)
  tarpon/lib/openapi/openapi-internal-augmentor.ts
Labels: backend

Stop age count of alerts if its in closed status (#6979)
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/InvestigativeCoPilotAlertInfo/index.tsx
  phytoplankton-console/src/pages/case-management/common.ts
Labels: frontend

Fix broken export for large datasets (#6995)
  phytoplankton-console/src/components/library/Table/Header/Tools/DownloadButton/index.tsx
  phytoplankton-console/src/pages/transactions/index.tsx
Labels: frontend

Add Transaction Type Column in Transactions History Table (#6953)
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/helpers.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/index.tsx
Labels: frontend

Update simulation history URL (#6997)
  phytoplankton-console/src/pages/rules/simulation-history/index.tsx
Labels: frontend

Alerts QA sampling collection to DynamoDb+ClickHouse (#6937)
  phytoplankton-console/src/pages/qa-samples/index.tsx
  tarpon/scripts/migrations/post-deployment/2025.05.019T07.50.17.alerts-qa-sampling-backfill.ts
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/core/dynamodb/dynamodb-stream-consumer-builder.ts
  tarpon/src/core/dynamodb/dynamodb-stream-utils.ts
  tarpon/src/core/seed/dynamodb.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/alerts/clickhouse-repository.ts
  tarpon/src/services/alerts/dynamo-repository.ts
  tarpon/src/services/alerts/repository.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/dynamodb-clickhouse-backfill-job-runner.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/utils/clickhouse/definition.ts
  tarpon/src/utils/dynamodb.ts
Labels: backend, frontend

E2E: fix cases comment e2e test (#6999)
  phytoplankton-console/cypress/e2e/cases/cases-comment-test.cy.ts
Labels: frontend

Fix:AIF to display only recommendations at the bottom (#6987)
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/index.tsx
Labels: frontend

Add Default Alert Status In Progress in Alert Creation (#6954)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/steps/BasicDetailsStep/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/AlertCreationDetailsStep/DefaultAlertStatusInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/AlertCreationDetailsStep/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Labels: backend, frontend

fix demo data audit log (#7000)
  tarpon/src/core/seed/samplers/cases.ts
Labels: backend

FIX: prompt for top merchant transacted with (#7006)
  lib/utils/copilot.ts
  tarpon/src/services/copilot/questions/definitions/merchant-identifier.ts
Labels: backend

Implemented advance download function, added a table option to use it… (#6841)
  phytoplankton-console/src/components/library/Radio/index.tsx
  phytoplankton-console/src/components/library/Table/Header/Tools/AdvancedDownloadButton/AdvancedExportModal/FieldsPicker/CheckboxList/index.module.less
  phytoplankton-console/src/components/library/Table/Header/Tools/AdvancedDownloadButton/AdvancedExportModal/FieldsPicker/CheckboxList/index.tsx
  phytoplankton-console/src/components/library/Table/Header/Tools/AdvancedDownloadButton/AdvancedExportModal/FieldsPicker/index.module.less
  phytoplankton-console/src/components/library/Table/Header/Tools/AdvancedDownloadButton/AdvancedExportModal/FieldsPicker/index.tsx
  phytoplankton-console/src/components/library/Table/Header/Tools/AdvancedDownloadButton/AdvancedExportModal/helpers.ts
  phytoplankton-console/src/components/library/Table/Header/Tools/AdvancedDownloadButton/AdvancedExportModal/index.module.less
  phytoplankton-console/src/components/library/Table/Header/Tools/AdvancedDownloadButton/AdvancedExportModal/index.tsx
  phytoplankton-console/src/components/library/Table/Header/Tools/AdvancedDownloadButton/index.tsx
  phytoplankton-console/src/components/library/Table/Header/Tools/AdvancedDownloadButton/styles.module.less
  phytoplankton-console/src/components/library/Table/Header/Tools/DownloadButton/__tests__/download-table.test.ts
  phytoplankton-console/src/components/library/Table/Header/Tools/DownloadButton/helpers.ts
  phytoplankton-console/src/components/library/Table/Header/Tools/DownloadButton/index.tsx
  phytoplankton-console/src/components/library/Table/Header/Tools/index.tsx
  phytoplankton-console/src/components/library/Table/__tests__/download-table.test.ts
  phytoplankton-console/src/components/library/Table/__tests__/export.test.ts
  phytoplankton-console/src/components/library/Table/consts.tsx
  phytoplankton-console/src/components/library/Table/dataTypeHelpers.tsx
  phytoplankton-console/src/components/library/Table/export.ts
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/components/library/Table/story.tsx
  phytoplankton-console/src/components/library/Table/types.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/helpers/queryAdapter.ts
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/helpers/tableDataTypes.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  phytoplankton-console/src/utils/csv.ts
  phytoplankton-console/src/utils/data-export.ts
  phytoplankton-console/src/utils/lang.ts
  phytoplankton-console/src/utils/xlsx.ts
Labels: frontend

Hooked the popover with it's trigger (#6996)
  phytoplankton-console/src/components/ui/Popover/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemBase/CommentPopover/index.tsx
Labels: frontend

Fix scroll bar flicker issue in tables (#6911)
  phytoplankton-console/src/components/library/Table/index.module.less
Labels: frontend

Fix: Simulation mode toggle switch in risk factors (#6884)
  phytoplankton-console/src/components/BreadcrumbsSimulationPageWrapper/index.tsx
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/SimulationHistoryPage/SimulationHistoryResultPage/index.tsx
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/SimulationHistoryPage/index.tsx
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/SimulateRiskClassification/NewSimulation/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/RiskFactorConfiguration/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/index.tsx
  phytoplankton-console/src/pages/risk-levels/shared/RiskFactorsTable/index.tsx
  phytoplankton-console/src/pages/risk-levels/shared/RiskFactorsTable/styles.module.less
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/index.tsx
  phytoplankton-console/src/services/routing/index.ts
Labels: frontend

Bulk write for sla updates in batch job (#6893)
  tarpon/src/services/alerts/dynamo-repository.ts
  tarpon/src/services/alerts/repository.ts
  tarpon/src/services/cases/dynamo-repository.ts
  tarpon/src/services/cases/repository.ts
  tarpon/src/services/sla/sla-service.ts
  tarpon/src/utils/clickhouse/utils.ts
  tarpon/src/utils/mongodb-utils.ts
Labels: backend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

pipeline:
  - bin/**
