Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, databricks, pipeline

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

databricks:
  - databricks/**

pipeline:
  - bin/**

Default screen should be transactions on alerts drilldown (#3668)
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/AlertExpanded/index.tsx
Labels: frontend

Fix deploy
  databricks/infra/main.ts
Labels: databricks

Add Network in Wallet Details as Enum (#3676)
  tarpon/lib/openapi/public/openapi-public-original.yaml
Labels: backend

Added Schemas for Alert and Cases Public Management API (#3675)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/constants.ts
  tarpon/lib/lambdas.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-public-management-augmentor.ts
  tarpon/lib/openapi/public-management/openapi-public-management-original.yaml
  tarpon/scripts/openapi/openapi_prepare.js
  tarpon/src/lambdas/public-management-api-alert/app.ts
  tarpon/src/lambdas/public-management-api-case/app.ts
Labels: backend, infra

Fix phytoplankton tsc (#3680)
  phytoplankton-console/src/components/ui/PaymentDetailsProps/index.tsx
Labels: frontend

Fix 'Update KYC status to' cannot be set (#3679)
  phytoplankton-console/src/components/UserStatusTriggersAdvancedOptionsForm/index.tsx
Labels: frontend

Remove RULES_ENGINE_V8_LIBRARY feature flag (#3681)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/index.tsx
  phytoplankton-console/src/pages/rules/RulesTable/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Labels: backend, frontend

Remove case aggregates from response (#3678)
  tarpon/src/services/rules-engine/repositories/case-repository.ts
Labels: backend

Manual Sample and Edit Sample Flow (#3671)
  phytoplankton-console/cypress/e2e/qa/qa-sampling-test.cy.ts
  phytoplankton-console/src/components/Narrative/index.module.less
  phytoplankton-console/src/components/Narrative/index.tsx
  phytoplankton-console/src/components/library/Select/index.tsx
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/components/library/Tag/index.tsx
  phytoplankton-console/src/components/library/Tag/story.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/AlertExpanded/Checklist/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/QaStatusChangeModal/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/QA/AddToSampleModal/index.tsx
  phytoplankton-console/src/pages/case-management/QA/AddToSampleModal/styles.module.less
  phytoplankton-console/src/pages/case-management/QA/Dropdown/index.tsx
  phytoplankton-console/src/pages/case-management/QA/Dropdown/style.module.less
  phytoplankton-console/src/pages/case-management/QA/Modal/index.tsx
  phytoplankton-console/src/pages/case-management/QA/Table/index.tsx
  phytoplankton-console/src/pages/case-management/QA/types.d.ts
  phytoplankton-console/src/pages/case-management/QA/utils.ts
  phytoplankton-console/src/pages/case-management/QAModal/index.tsx
  phytoplankton-console/src/pages/case-management/index.tsx
  phytoplankton-console/src/pages/qa-sample-item/index.module.less
  phytoplankton-console/src/pages/qa-sample-item/index.tsx
  phytoplankton-console/src/pages/qa-samples/index.module.less
  phytoplankton-console/src/pages/qa-samples/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/rules-engine/repositories/alerts-repository.ts
Labels: backend, frontend

Update README
  databricks/README.md
Labels: databricks

Fix GDPR on openAI copilot (#3683)
  tarpon/src/services/copilot/copilot-service.ts
Labels: backend

Soft delete Checklist Template (#3695)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/tenants/repositories/checklist-templates-repository.ts
Labels: backend

[Snyk] Upgrade @types/lodash from 4.14.202 to 4.17.0 (#3689)
  package.json
  yarn.lock
Labels: none

[Snyk] Upgrade @aws-sdk/lib-dynamodb from 3.499.0 to 3.540.0 (#3694)
  tarpon/.yarnrc.yml
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend

Launch forensics in us-1 (#3682)
  databricks/infra/.gitignore
  lib/config/config-prod-us-1.ts
Labels: databricks

[Snyk] Upgrade aws-cdk-lib from 2.132.1 to 2.134.0 (#3688)
  package.json
  yarn.lock
Labels: none

Revert deployment changes
  databricks/infra/main.ts
  databricks/infra/package.json
Labels: databricks

Disable test coverage action - temporary (#3700)
  .github/workflows/test_tarpon.yml
Labels: none

Implement QA analytics - alerts overview by assignee (#3672)
  phytoplankton-console/cypress/e2e/dashboard/widgets-selection-and-loading-test.cy.ts
  phytoplankton-console/src/components/ui/colors.less
  phytoplankton-console/src/pages/dashboard/analysis/components/Qa/QaAlertsByAssignee/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Qa/QaAlertsByAssignee/styles.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/charts/BarChart/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/charts/BarChart/styles.module.less
  phytoplankton-console/src/pages/dashboard/analysis/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/scripts/migrations/post-deployment/2024.04.16T09.53.12.refresh-qa-alerts-by-assignee.ts
  tarpon/src/lambdas/console-api-dashboard/app.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/qa-alerts-by-assignee.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-stats-repository.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend, frontend

Only deploy on merging a PR (#3706)
  .github/workflows/deploy_orca.yaml
  .github/workflows/deploy_orca_pipeline.yaml
Labels: none

Fix Sentry Error Rule Not Found (#3707)
  tarpon/src/services/rules-engine/rule-instance-service.ts
  tarpon/src/services/rules-engine/rule-service.ts
Labels: backend

V8: support aggregation group by field (#3665)
  phytoplankton-console/src/components/library/Alert/index.module.less
  phytoplankton-console/src/components/library/Alert/index.tsx
  phytoplankton-console/src/components/library/Label/index.tsx
  phytoplankton-console/src/components/library/Label/style.module.less
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/steps/RuleParametersStep/utils.ts
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/VariableTimeWindow/index.module.less
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/VariableTimeWindow/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/package.json
  tarpon/src/lambdas/console-api-rule/app.ts
  tarpon/src/services/batch-jobs/ongoing-screening-user-rule-batch-job-runner.ts
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/rule-service.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/v8-engine/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-engine/__tests__/utils.test.ts
  tarpon/src/services/rules-engine/v8-engine/aggregation-repository.ts
  tarpon/src/services/rules-engine/v8-engine/index.ts
  tarpon/src/services/rules-engine/v8-engine/utils.ts
  tarpon/src/services/rules-engine/v8-variable-aggregators/index.ts
  tarpon/src/services/rules-engine/v8-variables/index.ts
Labels: backend, frontend

Show all white-label tenants in the tenant list (#3699)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/utils/branding.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/services/accounts/index.ts
  tarpon/src/utils/auth0-utils.ts
Labels: backend, frontend

Fix R-118 parameter name/description (#3705)
  tarpon/src/services/rules-engine/transaction-rules/payment-method-name-levensthein-distance.ts
Labels: backend

Return library field back to default (#3702)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/EntityVariableForm.tsx
Labels: frontend

Rules Hit Filter Fix (#3709)
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
Labels: backend

Refractor Risk Factors Validation (#3710)
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/consts.tsx
Labels: frontend

R-118: remove checkDirection parameter (#3711)
  tarpon/scripts/migrations/post-deployment/2024.04.17T13.53.56.update-r-118.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/library.test.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/transaction-rules/payment-method-name-levensthein-distance.ts
Labels: backend

Fix User Filter in User Ongoing Rules (#3712)
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/user-ongoing-rules/__tests__/user-inactivity.test.ts
Labels: backend

Fix e2e test of switching tenants (#3714)
  phytoplankton-console/cypress/e2e/basic/superadmin-switch-tenant.cy.ts
  phytoplankton-console/cypress/support/commands.ts
  phytoplankton-console/cypress/support/index.ts
Labels: frontend

Add assignees with 0% (#3713)
  phytoplankton-console/src/pages/dashboard/analysis/components/Qa/QaAlertsByAssignee/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Qa/QaAlertsByAssignee/styles.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/Qa/QaOverview/index.tsx
  tarpon/scripts/migrations/post-deployment/2024.04.17T17.29.58.refresh-qa-stats.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/qa-alerts-by-assignee.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/qa-alerts-by-rule-stats.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/qa-overview.ts
Labels: backend, frontend

Tooltip in Select component (#3701)
  phytoplankton-console/src/components/library/Select/index.tsx
  phytoplankton-console/src/components/library/Select/story.tsx
  phytoplankton-console/src/components/ui/LogicBuilder/helpers.tsx
Labels: frontend

Use Modal to configure variables (#3696)
  phytoplankton-console/cypress/e2e/rules/create-scenario.cy.ts
  phytoplankton-console/src/components/library/Modal/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/EntityVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/style.module.less
Labels: frontend

Advanced options in Cases Escalation (#3728)
  phytoplankton-console/src/pages/case-management/components/CasesStatusChangeButton/CasesStatusChangeModal.tsx
  tarpon/src/services/cases/index.ts
Labels: backend, frontend

Change escalation modal placeholder text (#3727)
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
Labels: frontend

Updated Dependencies (#3725)
  databricks/infra/package-lock.json
  databricks/infra/package.json
  lib/package.json
  lib/yarn.lock
  package.json
  phytoplankton-console/package.json
  phytoplankton-console/yarn.lock
  tarpon/package.json
  tarpon/yarn.lock
  yarn.lock
Labels: backend, frontend, databricks

Move to spark job from delta live tables (#3669)
  databricks/.pylintrc
  databricks/Makefile
  databricks/data/currency_rates_backfill.json
  databricks/infra/main.ts
  databricks/notebooks/backfill.py
  databricks/notebooks/pipeline.py
  databricks/src/dbutils/__init__.py
  databricks/src/dbutils/dbutils.py
  databricks/src/dlt/backfill.py
  databricks/src/dlt/backfill_test.py
  databricks/src/dlt/cdc.py
  databricks/src/dlt/currency_rates.py
  databricks/src/dlt/kinesis_events.py
  databricks/src/dynamo/deserialize.py
  databricks/src/dynamo/deserialize_test.py
  databricks/src/entities/transactions.py
  databricks/src/entities/transactions_test.py
  databricks/src/jobs/__init__.py
  databricks/src/jobs/jobs.py
  databricks/src/kinesis/__init__.py
  databricks/src/kinesis/kinesis_reader.py
  databricks/src/kinesis/kinesis_reader_test.py
  databricks/src/tables/__init__.py
  databricks/src/tables/currency_rates.py
  databricks/src/tables/currency_rates_test.py
  databricks/src/tables/entity_tables.py
  databricks/src/tables/entity_tables_test.py
  databricks/src/tables/kinesis_tables.py
  databricks/src/tables/schema.py
  databricks/src/tables/table_service.py
  databricks/src/version_service.py
Labels: databricks

Updated Dependencies (#3733)
  databricks/infra/package-lock.json
  email-templates/package-lock.json
  email-templates/package.json
  lib/package.json
  lib/yarn.lock
  phytoplankton-console/package.json
  phytoplankton-console/yarn.lock
  tarpon/package.json
  tarpon/src/core/middlewares/init-sentry-lambda.ts
  tarpon/yarn.lock
Labels: backend, frontend, databricks

Improve the assignment flow to return 404 if the entity to which is assignment is to be done does not exist. (#3726)
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/cases/index.ts
Labels: backend

Remove views from databricks (#3734)
  databricks/infra/main.ts
  databricks/src/tables/entity_tables.py
  databricks/src/tables/table_service.py
Labels: databricks
