Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, pipeline

Fix Saving V2 Roles for V1 (#6916)
  tarpon/src/services/roles/index.ts
Labels: backend

Pass Dynamo in Case repo (#6923)
  tarpon/src/services/sar/service.ts
Labels: backend

Fix: Simulation page flickering (#6889)
  phytoplankton-console/src/pages/rules/simulation-history-item/index.tsx
Labels: frontend

Enabled redirection to Alert detail page when the FF is enabled in Payment approvals table (#6909)
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/ExpandedRowRenderer/RuleAndCaseDetails/index.tsx
Labels: frontend

AIF search bar enhancements (#6895)
  phytoplankton-console/src/components/AiForensics/SearchBar/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/src/services/copilot/questions/definitions.ts
Labels: backend, frontend

Fix duplicate key error for unique tags collection (#6920)
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend

FIX: fix e2e for checklist-crud (#6927)
  phytoplankton-console/src/components/library/Form/index.tsx
Labels: frontend

Use normalized only term for the query (#6928)
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
Labels: backend

AIF to display recommendations at the bottom (#6900)
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/index.tsx
Labels: frontend

Fix duplicate unique tags index (#6929)
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend

FIX: Fix for crud rule instance e2e test (#6932)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/index.tsx
Labels: frontend

Workflow CRUD interface updates (#6901)
  tarpon/lib/openapi/internal/workflow-models.yaml
  tarpon/lib/openapi/internal/workflow-routes.yaml
  tarpon/src/lambdas/console-api-workflow/app.ts
  tarpon/src/services/workflow/index.ts
Labels: backend

Use paginated aggregation pipeline to get distinct userIds (#6938)
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
Labels: backend

Enable screening rule run stage configuration for R-17, R-32, R-128 (#6919)
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/index.tsx
  tarpon/scripts/migrations/post-deployment/2025.05.15T08.56.15.update-user-rule-stage-parameters.ts
  tarpon/scripts/migrations/pre-deployment/2025.05.15T08.56.15.add-rule-stage-parameters.ts
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/services/batch-jobs/__tests__/ongoing-screening-user-rule-batch-job-runner.test.ts
  tarpon/src/services/batch-jobs/in-house-screening-migration-batch-job-runner.ts
  tarpon/src/services/cases/__tests__/case-creation-service.test.ts
  tarpon/src/services/rules-engine/rule-service.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/user-rules/__tests__/sanctions-bank-name.test.ts
  tarpon/src/services/rules-engine/user-rules/__tests__/sanctions-business-user.test.ts
  tarpon/src/services/rules-engine/user-rules/generic-sanctions-consumer-user.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-bank-name.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-business-user.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-consumer-user.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
Labels: backend, frontend

Migration for adding default reason for gocardlesspoc (#6939)
  tarpon/scripts/migrations/post-deployment/2025.05.18T08.30.52.add-default-reason-gocardless.ts
Labels: backend

Enable screening profile for R-17, R-32, R-128, R-170 (#6930)
  tarpon/src/services/rules-engine/transaction-rules/payment-details-screening.ts
  tarpon/src/services/rules-engine/user-rules/generic-sanctions-consumer-user.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-bank-name.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-business-user.ts
Labels: backend

Transaction and User Tags Options in Rule Editor (#6903)
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/index.tsx
  phytoplankton-console/src/components/ui/LogicBuilder/ListSelectDynamic/index.tsx
  phytoplankton-console/src/components/ui/LogicBuilder/widgets.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/src/services/logic-evaluator/variables/__tests__/index.test.ts
  tarpon/src/services/logic-evaluator/variables/index.ts
  tarpon/src/services/logic-evaluator/variables/types.ts
Labels: backend, frontend

Fix the suggestion in AIF for TM rules (#6940)
  tarpon/src/lambdas/console-api-copilot/app.ts
Labels: backend

Fix: Actions column disappearing after adding a filter in list table (#6905)
  phytoplankton-console/src/pages/lists-item/ItemsTable/index.tsx
Labels: frontend

Manual screening default filters (#6892)
  phytoplankton-console/src/components/ComplyAdvantageHitTable/index.tsx
  phytoplankton-console/src/pages/sanctions/search/index.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/CreateScreeningProfileModal.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/ScreeningProfileDefaultFilters.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/index.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/styles.module.less
  phytoplankton-console/src/utils/queries/keys.ts
Labels: frontend

Optimize Clickhouse Backfill Script and Enable it From Superadmin (#6936)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2025.03.12T07.32.23.migrate-to-clickhouse.ts
  tarpon/scripts/migrations/post-deployment/2025.03.20T08.59.41.backfill-missing-cases.ts
  tarpon/scripts/migrations/post-deployment/2025.04.14T12.35.19.backfill-tables-palla.ts
  tarpon/scripts/migrations/post-deployment/2025.04.17T09.30.52.migrate-me-1-clickhouse.ts
  tarpon/scripts/migrations/post-deployment/2025.04.27T13.39.28.backfill-mistertango.ts
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/services/batch-jobs/clickhouse-data-batch-job-runner.ts
Labels: backend

fix: scale up ch for eu-2 (#6944)
  lib/config/config-prod-eu-2.ts
Labels: none

feat: if migration enabled get the count from clickhouse directly (#6913)
  tarpon/src/services/analytics/dashboard-metrics/overview-stats.ts
Labels: backend

Add batch job for manual reverification of transactions (#6945)
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/manual-transaction-reverification-batch-job-runner.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
Labels: backend

Migrate rule R-45 to V8 (#6912)
  tarpon/src/services/rules-engine/transaction-rules/__tests__/bank-account-holder-name-change.test.ts
  tarpon/src/services/rules-engine/v8-migrations/index.ts
Labels: backend

Add no cursor timeout flag in ongoing user cursor (#6917)
  tarpon/src/services/batch-jobs/ongoing-screening-user-rule-batch-job-runner.ts
Labels: backend

FEAT: Analytic widget for payment approval reasons (#6838)
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseManagement/CaseClosingReasonCard/ScopeSelector.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseManagement/CaseClosingReasonCard/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/analytics/dashboard-metrics/transaction-stats.ts
  tarpon/src/services/dashboard/repositories/dashboard-stats-repository.ts
  tarpon/src/utils/clickhouse/definition.ts
Labels: backend, frontend

Fix: userEvents table pagination not working (#6956)
  phytoplankton-console/src/pages/users-item/UserDetails/UserEvents.tsx
Labels: frontend

RBAC V2: Store Statements in Context in Frontend (#6959)
  phytoplankton-console/src/components/AppWrapper/Providers/StatementsProvider.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/core/utils/context.ts
  tarpon/src/lambdas/console-api-role/app.ts
  tarpon/src/services/rbac/index.ts
  tarpon/src/services/roles/repository/dynamo.ts
Labels: backend, frontend

Speed up Openapi Build (#6960)
  phytoplankton-console/build/openapi-generate.js
  tarpon/scripts/openapi/openapi_generate_sdk.ts
  tarpon/scripts/openapi/openapi_prepare.ts
Labels: backend, frontend

Manual screening hotfix (#6961)
  phytoplankton-console/src/pages/sanctions/search/index.tsx
Labels: frontend

Updates in NPP (#6962)
  phytoplankton-console/src/pages/alert-item/components/Header/SubHeader/index.tsx
  phytoplankton-console/src/pages/case-management-item/components/Header/SubHeader/index.tsx
  phytoplankton-console/src/utils/payments.ts
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/services/cases/utils/report.ts
Labels: backend, frontend

FIX: update summary for top payment identifier (#6891)
  tarpon/src/services/copilot/questions/definitions/unique-payment-identifier.ts
Labels: backend

Transaction id on export (#6946)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/types.ts
Labels: frontend

FIX: correct value type handling in validation utility function (#6964)
  phytoplankton-console/src/components/library/Form/utils/validation/utils.ts
Labels: frontend

FIX: Fallbacked to User saved values instead of populating false (#6963)
  tarpon/src/services/users/index.ts
Labels: backend

Wrap advanced options under FF (#6965)
  phytoplankton-console/src/pages/case-management/components/AlertsStatusChangeButton/AlertsStatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/CasesStatusChangeButton/CasesStatusChangeModal.tsx
Labels: frontend

Fixes in Clickhouse Backfill (#6967)
  tarpon/src/lambdas/mongo-update-consumer/app.ts
  tarpon/src/services/batch-jobs/clickhouse-data-batch-job-runner.ts
  tarpon/src/utils/clickhouse/utils.ts
Labels: backend

Backfill screenning details data for gocardless (#6966)
  tarpon/scripts/migrations/post-deployment/2025.05.21T06.14.40.backfill-data-for-gocardless.ts
  tarpon/src/services/sanctions/repositories/sanctions-screening-details-repository.ts
Labels: backend

Fix Post Deployment Execution (#6951)
  tarpon/scripts/clickhouse-migrations.ts
Labels: backend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

pipeline:
  - bin/**
