Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, databricks, pipeline

improved typings for entityVariables (#3057)
  lib/constants/index.ts
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/RuleParametersStep/utils.ts
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/VariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/helpers.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Labels: backend, frontend

Create views on databricks (#3073)
  databricks/Makefile
  databricks/infra/main.ts
  databricks/openapi/model.mustache
  databricks/poetry.lock
  databricks/pyproject.toml
  databricks/src/.gitignore
  databricks/src/dlt_pipeline/pipeline.py
  databricks/src/entities.py
  databricks/src/jobs/backfill.py
  databricks/src/jobs/configure_tenants.py
Labels: databricks

Add metastore assignment back
  databricks/infra/main.ts
Labels: databricks

Fix tenant configuration script for databricks
  databricks/infra/main.ts
  databricks/src/dlt_pipeline/pipeline.py
  databricks/src/jobs/configure_tenants.py
Labels: databricks

Refactored and implemented alertCreatedFor (#3042)
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/RuleConfigurationForm/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/BasicDetailsStep/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/AlertCreationDetailsStep/index.tsx
  phytoplankton-console/src/pages/rules/utils.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2024.01.13T06.55.38.remove-createAlertFor.ts
  tarpon/scripts/migrations/pre-deployment/2024.01.12T13.47.30.move-alertCreateFor.ts
  tarpon/src/lambdas/console-api-case/services/__tests__/case-creation-service.test.ts
  tarpon/src/lambdas/console-api-case/services/case-creation-service.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/library.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/multiple-counterparty-senders-within-time-period.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/multiple-user-senders-within-time-period.test.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/transaction-rules/multiple-senders-within-time-period-base.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
Labels: backend, frontend

Clicking on widget filter scroll to the top of the page (#3055)
  phytoplankton-console/src/components/library/QuickFilter/QuickFilterBase/index.tsx
Labels: frontend

Databricks: Users money received from (#3052)
  databricks/src/jobs/configure_tenants.py
  tarpon/package-lock.json
  tarpon/package.json
  tarpon/src/services/copilot/questions/definitions/__tests__/users-received-money-from.test.ts
  tarpon/src/services/copilot/questions/definitions/users-received-money-from.ts
  tarpon/src/utils/databricks.ts
Labels: backend, databricks

fix for failing e2e test (#3082)
  phytoplankton-console/src/components/library/QuickFilter/QuickFilterBase/index.tsx
Labels: frontend

Minor fix for backfill job
  databricks/src/jobs/backfill.py
Labels: databricks

Reduced the width of operations column in the case table (#3086)
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
Labels: frontend

Minor databricks scripting fixes
  databricks/src/jobs/backfill.py
  databricks/src/jobs/configure_tenants.py
Labels: databricks

removed deprecated base duration in logs retention retry (#3094)
  tarpon/infra/cdk-utils/cdk-lambda-utils.ts
Labels: backend, infra

Fixed Typo in welcome email (#3092)
  email-templates/emails/ProductionEmail.tsx
  email-templates/emails/SandboxEmail.tsx
  tarpon/infra/auth0/email-templates/welcome-email-prod-template.html
  tarpon/infra/auth0/email-templates/welcome-email-sandbox-template.html
Labels: backend, infra

Removing files related to R-54 (#3078)
  phytoplankton-console/src/pages/rules/RulesTable/index.tsx
  tarpon/scripts/migrations/post-deployment/2024.01.19T05.36.44.delete-R-54.ts
  tarpon/src/services/copilot/rule-narratives.ts
  tarpon/src/services/rules-engine/transaction-rules/index.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/transaction-rules/same-user-using-too-many-cards.ts
Labels: backend, frontend

Transaction amount rule entity variable: currency conversion (#3060)
  lib/utils/index.ts
  lib/utils/object.ts
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/DefineLogicCard/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/VariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/helpers.ts
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/index.tsx
  phytoplankton-console/src/pages/rules/utils.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-rule/app.ts
  tarpon/src/services/currency/index.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/v8-engine/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-engine/aggregation-repository.ts
  tarpon/src/services/rules-engine/v8-engine/index.ts
  tarpon/src/services/rules-engine/v8-variable-aggregators/__tests__/average.test.ts
  tarpon/src/services/rules-engine/v8-variable-aggregators/__tests__/count.test.ts
  tarpon/src/services/rules-engine/v8-variable-aggregators/__tests__/sum.test.ts
  tarpon/src/services/rules-engine/v8-variable-aggregators/average.ts
  tarpon/src/services/rules-engine/v8-variable-aggregators/count.ts
  tarpon/src/services/rules-engine/v8-variable-aggregators/index.ts
  tarpon/src/services/rules-engine/v8-variable-aggregators/sum.ts
  tarpon/src/services/rules-engine/v8-variable-aggregators/types.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/resources/entity-variables.json
  tarpon/src/services/rules-engine/v8-variables/__tests__/transaction-amount.test.ts
  tarpon/src/services/rules-engine/v8-variables/index.ts
  tarpon/src/services/rules-engine/v8-variables/types.ts
  tarpon/src/utils/object.ts
Labels: backend, frontend

V8 - handle hit directions (#3076)
  phytoplankton-console/src/components/ui/LogicBuilder/widgets.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/AlertCreationDetailsStep/index.tsx
  phytoplankton-console/src/pages/rules/utils.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/v8-engine/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-engine/index.ts
Labels: backend, frontend

Enable Databricks for Kevin (#3097)
  databricks/README.md
  databricks/infra/main.ts
  databricks/src/dlt_pipeline/pipeline.py
  databricks/src/jobs/backfill.py
  databricks/src/jobs/configure_tenants.py
  lib/config/config-prod-eu-1.ts
  lib/config/config.ts
Labels: databricks

Payment identifier methods to Databricks (#3083)
  tarpon/src/services/copilot/questions/definitions.ts
  tarpon/src/services/copilot/questions/definitions/__tests__/unique-payment-identifier-received.test.ts
  tarpon/src/services/copilot/questions/definitions/__tests__/unique-payment-identifier-sent.test.ts
  tarpon/src/services/copilot/questions/definitions/__tests__/users-sent-money-to.test.ts
  tarpon/src/services/copilot/questions/definitions/unique-payment-identifier-received.ts
  tarpon/src/services/copilot/questions/definitions/unique-payment-identifier-sent.ts
  tarpon/src/services/copilot/questions/definitions/users-received-money-from.ts
  tarpon/src/services/copilot/questions/definitions/users-sent-money-to.ts
  tarpon/src/services/copilot/questions/definitions/util.ts
Labels: backend

Fix databricks deployment
  databricks/infra/main.ts
  tarpon/src/utils/databricks.ts
Labels: backend, databricks

Updates in QA Table (#3067)
  phytoplankton-console/src/components/library/Tabs/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/AlertExpanded/index.tsx
  phytoplankton-console/src/pages/case-management/QaTable/index.tsx
  phytoplankton-console/src/pages/case-management/index.tsx
Labels: frontend

Revert databricks question changes (#3103)
  tarpon/src/services/copilot/questions/definitions/__tests__/unique-payment-identifier-received.test.ts
  tarpon/src/services/copilot/questions/definitions/__tests__/unique-payment-identifier-sent.test.ts
  tarpon/src/services/copilot/questions/definitions/__tests__/users-received-money-from.test.ts
  tarpon/src/services/copilot/questions/definitions/__tests__/users-sent-money-to.test.ts
  tarpon/src/services/copilot/questions/definitions/unique-payment-identifier-received.ts
  tarpon/src/services/copilot/questions/definitions/unique-payment-identifier-sent.ts
  tarpon/src/services/copilot/questions/definitions/users-received-money-from.ts
  tarpon/src/services/copilot/questions/definitions/users-sent-money-to.ts
  tarpon/src/services/copilot/questions/definitions/util.ts
Labels: backend

Dont ignore middle name on bank accounts (#3095)
  tarpon/src/services/rules-engine/transaction-rules/__tests__/payment-method-name-levensthein-distance.test.ts
  tarpon/src/services/rules-engine/transaction-rules/payment-method-name-levensthein-distance.ts
Labels: backend

Fix for sentry t.toFixed not a function (#3105)
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/utils/number.ts
Labels: frontend

fix for failing case details -escalate test (#3107)
  phytoplankton-console/cypress/e2e/cases/case-details-escalate.cy.ts
Labels: frontend

Migrated to API fetch (#3108)
  tarpon/scripts/debug-rule/verify-remote-transactions.ts
  tarpon/scripts/update-test-currencies.ts
  tarpon/src/lambdas/console-api-file-import/flagright-converter.ts
  tarpon/src/lambdas/slack-app/app.ts
  tarpon/src/services/merchant-monitoring/merchant-monitoring-scrape.ts
Labels: backend

Fix and re-enable prod:me-1 deployment (#3098)
  bin/cdk-orca-pipeline-stack.ts
  lib/config/config-dev.ts
  lib/config/config-local.ts
  lib/config/config-prod-asia-1.ts
  lib/config/config-prod-asia-2.ts
  lib/config/config-prod-au-1.ts
  lib/config/config-prod-eu-1.ts
  lib/config/config-prod-eu-2.ts
  lib/config/config-prod-me-1.ts
  lib/config/config-prod-us-1.ts
  lib/config/config-sandbox.ts
  lib/config/config.ts
  lib/constants/config.ts
  tarpon/cdk.context.json
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-alarms-stack.ts
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/infra/cdk-utils/cdk-lambda-utils.ts
  tarpon/lib/openapi/public/docs/webhooks-overview.md
Labels: backend, infra, pipeline

Package databricks code in a python package (#3106)
  bin/utils/databricks-deploy.ts
  databricks/.gitignore
  databricks/Makefile
  databricks/infra/cdktf.json
  databricks/infra/deploy.sh
  databricks/infra/main.ts
  databricks/notebooks/backfill.py
  databricks/notebooks/pipeline.py
  databricks/openapi/model.mustache
  databricks/src/dlt/__init__.py
  databricks/src/dlt/data_quality_checks.py
  databricks/src/dlt/schema.py
  databricks/src/dlt/transformations.py
  databricks/src/dlt_pipeline/__init__.py
  databricks/src/entities.py
  databricks/src/jobs/__init__.py
  databricks/tests/test_dlt.py
Labels: databricks, pipeline

Lower case the tenant names
  databricks/infra/main.ts
Labels: databricks

Python version fixes
  bin/utils/databricks-deploy.ts
  databricks/poetry.lock
  databricks/pyproject.toml
Labels: databricks, pipeline

Fix python and node version for databricks
  bin/utils/databricks-deploy.ts
  databricks/poetry.lock
  databricks/pyproject.toml
Labels: databricks, pipeline

Minor improvements in accounts crud e2e test (#3112)
  phytoplankton-console/cypress/e2e/team-management/accounts-crud-test.cy.ts
Labels: frontend

Fix type error on databricks deploy
  databricks/infra/main.ts
Labels: databricks

Add workspace provider to databricks config
  databricks/infra/main.ts
Labels: databricks

Re add chrome + edge svgs to browser support modal (#3110)
  phytoplankton-console/src/components/BrowserSupportModal/index.tsx
  phytoplankton-console/src/components/ui/icons/chrome-logo.react.svg
  phytoplankton-console/src/components/ui/icons/edge-logo.react.svg
Labels: frontend

Optimize getting unique objects array (#3113)
  tarpon/scripts/migrations/post-deployment/2023.12.15T10.27.22.case-aggregates-fix.ts
  tarpon/src/core/seed/samplers/cases.ts
  tarpon/src/lambdas/console-api-case/services/case-creation-service.ts
  tarpon/src/lambdas/console-api-case/services/case-service.ts
  tarpon/src/utils/__tests__/object.test.ts
  tarpon/src/utils/object.ts
Labels: backend

Save dynamoDB keys in mongoDB collection (#3077)
  tarpon/src/core/dynamodb/dynamodb-stream-consumer-builder.ts
  tarpon/src/core/dynamodb/dynamodb-stream-utils.ts
  tarpon/src/lambdas/hammerhead-change-mongodb-consumer/app.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend

Auth0 Domain Fix in Whitelabelling (#3074)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/pre-deployment/2024.01.18T05.46.43.add-auth-0-domains-to-tenant.ts
  tarpon/scripts/migrations/utils/tenant.ts
  tarpon/src/core/dynamodb/dynamodb-stream-consumer-builder.ts
  tarpon/src/core/seed/mongo.ts
  tarpon/src/core/utils/context.ts
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/console-api-case/services/__tests__/case-creation-service.test.ts
  tarpon/src/lambdas/console-api-case/services/case-creation-service.ts
  tarpon/src/lambdas/console-api-case/services/case-service.ts
  tarpon/src/lambdas/console-api-simulation/app.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/services/batch-jobs/test-fargate-batch-job.ts
  tarpon/src/services/copilot/copilot-service.ts
  tarpon/src/services/rules-engine/rule-service.ts
  tarpon/src/services/tenants/index.ts
  tarpon/src/services/tenants/repositories/tenant-repository.ts
Labels: backend

Get tenants by their usage plans for Databricks infra (#3111)
  .github/workflows/test_phyto.yml
  databricks/infra/main.ts
  lib/config/config-prod-eu-1.ts
  lib/config/config.ts
  lib/package-lock.json
  lib/package.json
  lib/tenants/usage-plans.ts
  package-lock.json
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/src/lambdas/cron-job-daily/app.ts
  tarpon/src/services/tenants/index.ts
Labels: backend, infra, databricks

Add filter for CRA risk level locked (#3104)
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/pages/users/users-list/helpers/queryAdapter.ts
  phytoplankton-console/src/pages/users/users-list/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend, frontend

Usage plan retrieval bug (#3120)
  lib/tenants/usage-plans.ts
Labels: none

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

databricks:
  - databricks/**

pipeline:
  - bin/**
