Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, raptor, pipeline

Design system migration: Pagination (#6464)
  phytoplankton-console/src/components/library/CursorPagination/index.module.less
  phytoplankton-console/src/components/library/CursorPagination/index.tsx
  phytoplankton-console/src/components/library/Pagination/index.module.less
  phytoplankton-console/src/components/library/Pagination/index.tsx
  phytoplankton-console/src/components/library/Pagination/story.tsx
  phytoplankton-console/src/components/library/Table/__tests__/table.test.tsx
  phytoplankton-console/src/components/library/Table/index.tsx
  phytoplankton-console/src/components/ui/icons/Remix/system/skip-left-line.react.svg
  phytoplankton-console/src/components/ui/icons/Remix/system/skip-right-line.react.svg
  phytoplankton-console/src/pages/case-management/PaymentApprovalTable/index.tsx
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/SimulationHistoryPage/SimulationHistory/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/SimulateRiskClassification/SimulationHistory/index.tsx
  phytoplankton-console/src/pages/rules/simulation-history/SimulationHistoryTable/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/DisplayCheckedTransactions/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  phytoplankton-console/src/pages/transactions/index.tsx
Labels: frontend

FIX: Slider for Prior report BSA Identifier (#6534)
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/fincen/Number/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/types.ts
  tarpon/src/services/sar/generators/US/SAR/resources/EFL_SARXBatchSchema.ts
Labels: backend, frontend

Only get those rules with names (#6457)
  phytoplankton-console/src/pages/case-management/CaseTableWrapper.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseManagement/DistributionByStatus/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/ExpandedRowRenderer/RuleAndCaseDetails/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/index.tsx
  phytoplankton-console/src/utils/rules.ts
Labels: frontend

FEAT: auto populated auth0 domain while creating new tenant. (#6545)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/CreateTenantModal/index.tsx
  phytoplankton-console/src/utils/auth0Domain.ts
Labels: frontend

Rule Id added with rule Instance for PNB (#6561)
  tarpon/src/services/rules-engine/pnb-custom-logic.ts
Labels: backend

Add info icon for functions in logic builder (#6556)
  phytoplankton-console/src/components/ui/LogicBuilder/index.module.less
  phytoplankton-console/src/components/ui/LogicBuilder/widgets.tsx
  tarpon/src/services/logic-evaluator/functions/date-to-timestamp.ts
Labels: backend, frontend

:sparkles: Add paymentName Filter to transactions list api (#6549)
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TransactionsList/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/helpers/queryAdapter.ts
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  phytoplankton-console/src/pages/transactions/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2025.04.01T14.08.11.refresh_clickHouse.ts
  tarpon/src/services/rules-engine/repositories/clickhouse-repository.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/utils/clickhouse/definition.ts
Labels: backend, frontend

Revert "Rule Id added with rule Instance for PNB" (#6563)
  tarpon/src/services/rules-engine/pnb-custom-logic.ts
Labels: backend

Add name and bank name parameter in R-169 and R-170 (#6547)
  tarpon/scripts/migrations/pre-deployment/2025.04.01T07.10.46.set-default-screening-field-for-payment-details-screening-rules.ts
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/services/cases/__tests__/case-creation-service.test.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/payment-details-screening.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/sanctions-counterparty.test.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/transaction-rules/payment-details-screening-base.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
  tarpon/src/utils/helpers.ts
Labels: backend

Rename Contains/Similar operator names (#6551)
  tarpon/src/services/logic-evaluator/operators/contains-in-lists.ts
  tarpon/src/services/logic-evaluator/operators/similar-to-lists.ts
Labels: backend

Fix e2e tests (#6571)
  phytoplankton-console/cypress/e2e/alerts/alerts-close-test.cy.ts
  phytoplankton-console/cypress/e2e/cases/case-details-escalate.cy.ts
  phytoplankton-console/cypress/e2e/cases/cases-closing-tests.cy.ts
  phytoplankton-console/cypress/e2e/cases/cases-escalate-test.cy.ts
  phytoplankton-console/cypress/e2e/cases/copilot-test.cy.ts
  phytoplankton-console/cypress/e2e/cases/payments-approvals-test.cy.ts
Labels: frontend

Reduce calls to acuris delta api (#6543)
  tarpon/src/services/batch-jobs/sanctions-data-fetch-job-runner.ts
  tarpon/src/services/sanctions/providers/acuris-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
Labels: backend

:zap: Add search profile permissions (#6573)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/default-roles.ts
Labels: backend

Analytics screen design fixes (#6425)
  phytoplankton-console/src/components/charts/BarChart/StackedBarChart/index.tsx
  phytoplankton-console/src/components/charts/BarChart/types.ts
  phytoplankton-console/src/components/charts/Line/helpers.ts
  phytoplankton-console/src/components/charts/shared/DefaultAxis/index.tsx
  phytoplankton-console/src/components/charts/shared/DefaultChartContainer/index.module.less
  phytoplankton-console/src/components/charts/shared/helpers.ts
  phytoplankton-console/src/components/library/Table/Header/index.tsx
  phytoplankton-console/src/components/library/WidgetGrid/index.module.less
  phytoplankton-console/src/components/library/WidgetGrid/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RiskLevelDistributionCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RulesHitCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TeamSLAPerformanceCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/widgets/DistributionChartWidget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/widgets/GranularDatePicker/style.module.less
  phytoplankton-console/src/pages/dashboard/analysis/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/components/Charts/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/components/Charts/styles.module.less
Labels: frontend

Added migrations for rule stats & investigation time materialized views (#6577)
  tarpon/scripts/migrations/post-deployment/2025.03.27T17.40.10.rule-stats-clickhouse-mv.ts
  tarpon/scripts/migrations/post-deployment/2025.03.28T08.42.20.investigation-time-cases-stats-clickhouse-mv.ts
  tarpon/scripts/migrations/pre-deployment/2025.03.27T17.40.10.rule-stats-clickhouse-mv.ts
  tarpon/scripts/migrations/pre-deployment/2025.03.28T08.42.20.investigation-time-cases-stats-clickhouse-mv.ts
  tarpon/src/utils/clickhouse/definition.ts
  tarpon/src/utils/clickhouse/queries/investgation-times-stats-clickhouse.ts
  tarpon/src/utils/clickhouse/queries/rule-stats-clickhouse.ts
Labels: backend

Update ClickHouse table use in queries from definitions (#6564)
  tarpon/src/services/copilot/questions/definitions/reference-word-count.ts
  tarpon/src/services/copilot/questions/definitions/transaction-aggregations.ts
  tarpon/src/services/copilot/questions/definitions/transaction-summary.ts
  tarpon/src/services/copilot/questions/definitions/transactions.ts
  tarpon/src/services/copilot/questions/definitions/users-transacted-with.ts
  tarpon/src/utils/clickhouse/materialised-views-queries.ts
Labels: backend

FIX: Revalidated FINCEN SAR schema. (#6542)
  tarpon/src/lambdas/cron-job-hourly/app.ts
  tarpon/src/services/batch-jobs/fincen-report-status-fetch.ts
  tarpon/src/services/sar/generators/US/SAR/__tests__/expected-test-output.xml
  tarpon/src/services/sar/generators/US/SAR/__tests__/index.test.ts
  tarpon/src/services/sar/generators/US/SAR/helpers/postprocessing.ts
  tarpon/src/services/sar/generators/US/SAR/index.ts
  tarpon/src/services/sar/generators/US/SAR/schema.ts
Labels: backend

[Snyk] Upgrade @react-email/components from 0.0.32 to 0.0.33 (#6536)
  email-templates/package-lock.json
  email-templates/package.json
Labels: none

FIX:Conditinal check for legal entity for business users (#6580)
  phytoplankton-console/src/pages/users-item/UserDetails/BusinessUserDetails/LegalEntityDetails/FinancialDetailsCard/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/BusinessUserDetails/LegalEntityDetails/GeneralDetailsCard/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/BusinessUserDetails/LegalEntityDetails/RegistrationDetailsCard/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/BusinessUserDetails/LegalEntityDetails/index.tsx
  tarpon/src/services/sar/generators/US/SAR/index.ts
Labels: backend, frontend

Fix Contains in Lists (#6584)
  tarpon/src/services/list/repositories/list-repository.ts
  tarpon/src/services/logic-evaluator/operators/__tests__/contains-in-lists.test.ts
Labels: backend

Add index on simplified aliases (#6579)
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend

Revert "Add index on simplified aliases" (#6585)
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend

Remove accents effect from fuzziness (#6578)
  phytoplankton-console/src/components/ComplyAdvantageHitTable/ComplyAdvantageHitDetailsDrawer/index.tsx
  phytoplankton-console/src/components/ComplyAdvantageHitTable/index.tsx
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/SanctionsComparison/index.tsx
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/index.tsx
  phytoplankton-console/src/components/SanctionsHitsTable/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2025.04.05T20.41.27.trigger-screening-data-fetch.ts
  tarpon/src/services/sanctions/__tests__/dow-jones.test.ts
  tarpon/src/services/sanctions/providers/__tests__/open-sanctions-provider.test.ts
  tarpon/src/services/sanctions/providers/acuris-provider.ts
  tarpon/src/services/sanctions/providers/dow-jones-provider.ts
  tarpon/src/services/sanctions/providers/open-sanctions-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/providers/utils.ts
Labels: backend, frontend

Fix tests (#6587)
  phytoplankton-console/cypress/e2e/alerts/alerts-select-different-entities.cy.ts
  phytoplankton-console/cypress/e2e/cases/cases-filter-test.cy.ts
  phytoplankton-console/cypress/e2e/cases/copilot-test.cy.ts
  phytoplankton-console/cypress/e2e/cases/payments-approvals-test.cy.ts
  phytoplankton-console/cypress/support/commands.ts
Labels: frontend

Use auth0 cache in case creation service (#6586)
  tarpon/src/services/cases/case-creation-service.ts
Labels: backend

FIX: Comments for cases and alerts status change based action maker. (#6567)
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
  tarpon/scripts/migrations/post-deployment/2025.04.03T05.19.06.update-user-comments.ts
Labels: backend, frontend

:sparkles: Add Search Profile APIs (#6568)
  phytoplankton-console/src/components/ComplyAdvantageHitTable/index.tsx
  phytoplankton-console/src/components/library/Filter/AutoFilter/index.tsx
  phytoplankton-console/src/components/library/Filter/ExtraFilter/index.tsx
  phytoplankton-console/src/components/library/Filter/types.ts
  phytoplankton-console/src/components/library/Slider/index.tsx
  phytoplankton-console/src/components/library/TextInput/index.tsx
  phytoplankton-console/src/pages/sanctions/search/index.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/CreateSearchProfileModal.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/SanctionProviderSettings.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/SearchProfileList.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/index.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/styles.module.less
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/core/default-roles.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/lambdas/console-api-sanctions/app.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/services/counter/repository.ts
  tarpon/src/services/search-profile/__tests__/index.test.ts
  tarpon/src/services/search-profile/index.ts
  tarpon/src/services/search-profile/repositories/search-profile-repository.ts
Labels: backend, frontend

Added CRM tab in Alert detail page (#6581)
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/helpers.tsx
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/index.module.less
Labels: frontend

Add QA clickhouse queries (#6518)
  tarpon/src/services/analytics/dashboard-metrics/qa-alerts-by-assignee.ts
  tarpon/src/services/analytics/dashboard-metrics/qa-alerts-by-rule-stats.ts
  tarpon/src/services/analytics/dashboard-metrics/qa-overview.ts
Labels: backend

PNB Phase 1: Enable all analytics charts/reports to be downloadable (#6559)
  phytoplankton-console/src/components/library/Table/Header/Tools/DownloadButton/index.tsx
  phytoplankton-console/src/components/library/Table/Header/Tools/ReloadButton/styles.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseManagement/DistributionByStatus/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RulesHitCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TeamPerformanceCard/AccountsStatisticsTable/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TeamPerformanceCard/ComopsiteAccountStatisticsTable/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TeamPerformanceCard/CompositeLatestTeamOverview/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TeamPerformanceCard/LatestTeamOverview/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TeamPerformanceCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TransactionTRSChartCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TransactionsChartWidget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/utils/export-data-build-util.ts
  phytoplankton-console/src/utils/dayjs.ts
Labels: frontend

Update Freshdesk Script (#6591)
  nango-integrations/freshdesk/syncs/freshdesk_tickets.ts
  nango-integrations/nango.yaml
  tarpon/src/services/api-key/index.ts
  tarpon/src/services/nango/index.ts
Labels: backend

Add new Source of Funds Enum (#6590)
  tarpon/lib/openapi/public/openapi-public-original.yaml
Labels: backend

Add new Employment Status (#6589)
  tarpon/lib/openapi/public/openapi-public-original.yaml
Labels: backend

Add Activity tab to Alert detail page (#6582)
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/helpers.tsx
Labels: frontend

Fix e2e (#6598)
  phytoplankton-console/cypress/e2e/alerts/alerts-close-test.cy.ts
  phytoplankton-console/cypress/e2e/cases/cases-escalate-test.cy.ts
Labels: frontend

FEAT: added column to show maker comment, on alert table export (#6554)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
Labels: frontend

FIX: fixed e2e for case test (#6601)
  phytoplankton-console/cypress/support/commands.ts
Labels: frontend

Revise Reports schema and revisions (#6562)
  tarpon/scripts/migrations/post-deployment/2025.04.03T07.37.22.sar-revise-schema.ts
  tarpon/src/core/seed/data/counter.ts
  tarpon/src/core/seed/data/reports.ts
  tarpon/src/core/seed/index.ts
  tarpon/src/core/seed/mongo.ts
  tarpon/src/core/seed/samplers/report.ts
  tarpon/src/services/sar/repositories/report-repository.ts
  tarpon/src/services/sar/service.ts
Labels: backend

Fixes Reports not syncing with ClickHouse (#6526)
  tarpon/scripts/migrations/post-deployment/2025.04.01T04.50.48.reports-sync-clickhouse.ts
  tarpon/src/services/sar/repositories/report-repository.ts
Labels: backend

Fix region in report schema migration (#6603)
  tarpon/scripts/migrations/post-deployment/2025.04.03T07.37.22.sar-revise-schema.ts
Labels: backend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

raptor:
  - raptor/**

pipeline:
  - bin/**
