Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, raptor, pipeline

Display KYC Risk level lock on the console (#6254)
  phytoplankton-console/src/components/ui/RiskScoreDisplay/MainPanel/index.module.less
  phytoplankton-console/src/components/ui/RiskScoreDisplay/MainPanel/index.tsx
  phytoplankton-console/src/components/ui/RiskScoreDisplay/index.tsx
  phytoplankton-console/src/components/ui/RiskScoreDisplay/types.ts
  phytoplankton-console/src/pages/users-item/UserDetails/KycRiskDisplay/index.tsx
Labels: frontend

push message directly
  tarpon/src/lambdas/mongo-db-trigger-consumer/app.ts
  tarpon/src/lambdas/mongo-db-trigger-consumer/index.ts
  tarpon/src/services/alerts/dynamo-repository.ts
  tarpon/src/utils/clickhouse/utils.ts
Labels: backend

dont push via cdc
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
Labels: backend

Incorrect First Transaction Amount used in Narrative (#6255)
  tarpon/src/services/copilot/attributes/transactions-attribute-builder.ts
  tarpon/src/services/copilot/auto-narrative-service.ts
  tarpon/src/services/copilot/narratives/alerts.ts
Labels: backend

reduce batch size and wait time
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

condition -> conditions
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/index.tsx
Labels: frontend

new field for updated at
  tarpon/src/lambdas/mongo-db-trigger-consumer/index.ts
Labels: backend

:zap: Add permissions for screening tab in settings (#6256)
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/index.tsx
  phytoplankton-console/src/pages/settings/index.tsx
  tarpon/src/core/default-roles.ts
Labels: backend, frontend

Not showing new action when v2 rules are changed (#6242)
  phytoplankton-console/src/pages/auditlog/components/RuleAuditLogModal/index.tsx
Labels: frontend

FIX: allowed action to delete from dynamo db table (#6219)
  tarpon/src/core/policies/policy-generator.ts
Labels: backend

remove alert handler from main (#6262)
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
Labels: backend

:zap: Add PaymentDetailName filter to alert transactions api (#6243)
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/TransactionsTab/index.tsx
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/helpers.tsx
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/console-api-transaction/services/transaction-service.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
Labels: backend, frontend

Add Rest of Alarms to Zenduty (#6260)
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-alarms-stack.ts
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-console-api-stack.ts
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/infra/cdk-utils/cdk-cw-alarms-utils.ts
Labels: backend, infra

SAR Narrative Improvements (#6249)
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/TransactionStep/index.tsx
  phytoplankton-console/src/components/Sar/SarReportDrawer/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/MarkdownInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/NarrativeInput/index.tsx
  phytoplankton-console/src/pages/case-management/components/Copilot/CopilotButtonContent.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-copilot/app.ts
  tarpon/src/services/copilot/auto-narrative-service.ts
  tarpon/src/services/copilot/narratives/sar.ts
  tarpon/src/services/copilot/retrieval-service.ts
Labels: backend, frontend

Case/Alert status filter according to user escalation (#6220)
  phytoplankton-console/src/pages/case-management/index.tsx
Labels: frontend

[Security] Upgrade aws-cdk from 2.176.0 to 2.177.0 (#6258)
  package.json
  phytoplankton-console/package.json
  phytoplankton-console/yarn.lock
  tarpon/package.json
  tarpon/yarn.lock
  yarn.lock
Labels: backend, frontend

playing with batch sizes
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

adding some cols
  tarpon/src/utils/clickhouse/definition.ts
Labels: backend

:bug: Fix yearOfBirth type in sanctions search api (#6248)
  phytoplankton-console/src/components/library/Filter/AutoFilter/index.tsx
Labels: frontend

:zap: Hide "Include current transaction" for user rules (#6185)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Labels: backend, frontend

Fix alerts subset escalation bug (#6265)
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/services/alerts/index.ts
Labels: backend

BUG: Fixed working of max active session (#6236)
  phytoplankton-console/src/pages/settings/components/SecuritySettings.tsx
  tarpon/src/lambdas/console-api-tenant/app.ts
Labels: backend, frontend

playing with batch sizes
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

Make nodes draggable in ontology (#6264)
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/EntityLinkingGraph/index.tsx
Labels: frontend

Remove the "Close related" checkbox (#6251)
  phytoplankton-console/src/pages/case-management/components/AlertsStatusChangeButton/AlertsStatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
Labels: frontend

Change Obfustcated Name (#6266)
  tarpon/src/services/copilot/attributes/builder.ts
Labels: backend

Add descriptions for marked labels in scenario builder (#6259)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/AlertCreationDetailsStep/AlertAssignedToInput/input.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/AlertCreationDetailsStep/index.tsx
Labels: frontend

:zap: Hide R-16 rule for ACURIS feature flag (#6198)
  tarpon/src/services/rules-engine/rule-service.ts
Labels: backend

:zap: Add audit logs to lists apis (#6205)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-list-importer/app.ts
  tarpon/src/services/list/__tests__/list-service.test.ts
  tarpon/src/services/list/index.ts
  tarpon/src/services/list/repositories/list-repository.ts
Labels: backend

Imporve Screening Narratives (#6267)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/package.json
  tarpon/src/services/copilot/attributes/ai-sources.ts
  tarpon/src/services/copilot/attributes/alert-attribute-builder.ts
  tarpon/src/services/copilot/attributes/builder.ts
  tarpon/src/services/copilot/attributes/utils/ruleAttributeMapper.ts
  tarpon/src/services/copilot/auto-narrative-service.ts
  tarpon/src/services/copilot/narratives/alerts.ts
  tarpon/src/services/copilot/narratives/case.ts
  tarpon/src/services/copilot/narratives/index.ts
  tarpon/src/services/copilot/narratives/sar.ts
  tarpon/src/services/copilot/narratives/transactions.ts
  tarpon/src/services/copilot/narratives/utils/index.ts
  tarpon/src/services/copilot/narratives/utils/reason-narratives.ts
  tarpon/src/services/copilot/retrieval-service.ts
  tarpon/src/services/copilot/rule-narratives.ts
  tarpon/src/services/sanctions/repositories/sanctions-hits-repository.ts
  tarpon/yarn.lock
Labels: backend

Fix Linear State Transition for QA Fail (#6269)
  scripts/utils/linear.ts
Labels: none

Attach Consumer Again for Silo PNB SIT (#6272)
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

:zap: Fix UI layout of screening activity page (#6270)
  phytoplankton-console/src/pages/sanctions/activity/index.tsx
  phytoplankton-console/src/pages/sanctions/index.tsx
Labels: frontend

Create persisting filters and sorting in Case management (#6136)
  phytoplankton-console/src/pages/case-management/PaymentApprovalTable/index.tsx
  phytoplankton-console/src/pages/case-management/components/ScopeSelector/index.tsx
  phytoplankton-console/src/pages/case-management/components/StatusButtons/index.tsx
  phytoplankton-console/src/pages/case-management/helpers.tsx
  phytoplankton-console/src/pages/case-management/index.tsx
  phytoplankton-console/src/pages/case-management/types.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  phytoplankton-console/src/utils/routing.tsx
Labels: frontend

Fix TransactionId inaccurate description
  tarpon/lib/openapi/public/openapi-public-original.yaml
Labels: backend

Simplified State Machine alarm name (#6276)
  tarpon/infra/cdk-utils/cdk-cw-alarms-utils.ts
Labels: backend, infra

FIX: Sent correct value to auth0 metadata (#6238)
  tarpon/src/services/accounts/repository/auth0.ts
Labels: backend

Audit logs for accounts and roles (#6155)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2025.02.04T07.39.35.cleanup-incorrect-auto-assignments.ts
  tarpon/scripts/migrations/pre-deployment/2025.02.25T08.23.19.auditlog-rename.ts
  tarpon/src/core/seed/data/sla.ts
  tarpon/src/core/seed/samplers/accounts.ts
  tarpon/src/lambdas/console-api-account/app.ts
  tarpon/src/lambdas/console-api-role/app.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/alerts/repository.ts
  tarpon/src/services/analytics/dashboard-metrics/__tests__/dashboard-stats-repository.team.test.ts
  tarpon/src/services/analytics/dashboard-metrics/team-stats.ts
  tarpon/src/services/audit-log/index.ts
  tarpon/src/services/cases/__tests__/case-service.test.ts
  tarpon/src/services/cases/case-creation-service.ts
  tarpon/src/services/cases/cases-alerts-transformer.ts
  tarpon/src/services/cases/index.ts
  tarpon/src/services/notifications/subscriptions/case-escalation.ts
  tarpon/src/services/notifications/subscriptions/utils/assignments.ts
  tarpon/src/services/notifications/subscriptions/utils/comment-mention.ts
  tarpon/src/services/notifications/subscriptions/utils/comment.ts
  tarpon/src/services/notifications/subscriptions/utils/status-update.ts
  tarpon/src/services/roles/__tests__/roles-crud.test.ts
  tarpon/src/services/roles/index.ts
  tarpon/src/services/sla/sla-audit-log-service.ts
  tarpon/src/services/users/index.ts
  tarpon/src/utils/clickhouse/materialised-views-queries.ts
  tarpon/src/utils/user.ts
Labels: backend

:zap: Add name of sources from Acuris (#6281)
  tarpon/src/services/sanctions/providers/acuris-provider.ts
Labels: backend

:zap: Show only selected screening types in manual screening filter for Acuris (#6279)
  phytoplankton-console/src/components/ComplyAdvantageHitTable/index.tsx
Labels: frontend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

raptor:
  - raptor/**

pipeline:
  - bin/**
