Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, pipeline

Make sure no condition has null values (#7394)
  tarpon/scripts/migrations/post-deployment/2025.06.30T11.44.43.update-aggregate-tags.ts
Labels: backend

Update sanctions sources categorization (#7351)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2025.06.026T07.50.18.trigger-sanctions-data-load-for-acuris-2.ts
  tarpon/src/services/sanctions/providers/acuris-provider.ts
  tarpon/src/services/sanctions/providers/country-mapping.ts
  tarpon/src/services/sanctions/utils.ts
  tarpon/src/utils/object.ts
  tarpon/src/utils/opensearch-utils.ts
Labels: backend

Improve caching for sentry (#7397)
  tarpon/src/core/utils/context.ts
  tarpon/src/utils/sentry.ts
Labels: backend

Fix SANCTIONS_SCREENING_DETAILS_MIGRATION (#7398)
  tarpon/scripts/migrations/post-deployment/2025.06.08T10.34.43.trigger_screening_details_batch_job.ts
  tarpon/src/services/batch-jobs/sanctions-screening-details-migration.ts
  tarpon/src/utils/clickhouse/definition.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend

Add Version History Tables for Clickhouse (#7399)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/models/index.ts
  tarpon/src/models/migrations/1752225623208-migration.ts
  tarpon/src/models/version-history.ts
Labels: backend

Fix clickhouse definition syntax (#7401)
  tarpon/src/utils/clickhouse/definition.ts
Labels: backend

Change Error to Warn (#7400)
  tarpon/src/services/batch-jobs/sync-auth0-data.ts
Labels: backend

FIX: create single instance of attachment to tackel EMFILE (#7402)
  tarpon/package.json
  tarpon/src/core/seed/data/reports.ts
  tarpon/src/core/seed/data/users.ts
  tarpon/src/core/seed/samplers/report.ts
  tarpon/src/core/seed/samplers/users.ts
Labels: backend

Add migration to drop originPaymentDetails_name (#7403)
  tarpon/scripts/migrations/pre-deployment/2025.07.11T13.09.26.drop-paymentDetails-name-column.ts
Labels: backend

:bug: Fix Account Name filter and display for NPP methods (#7363)
  phytoplankton-console/src/components/ui/PaymentDetailsProps/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/helpers/tableDataTypes.tsx
  tarpon/src/services/rules-engine/repositories/clickhouse-repository.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/utils/clickhouse/definition.ts
Labels: backend, frontend

FEAT: Add Lambda CPU Utilization Alarms for long running synchronous tasks (#7406)
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-alarms-stack.ts
  tarpon/infra/cdk-utils/cdk-cw-alarms-utils.ts
  tarpon/package.json
Labels: backend, infra

FIX: update alert generation logic to show rule names (#7408)
  tarpon/src/core/seed/samplers/cases.ts
Labels: backend

Revert "FEAT: Add Lambda CPU Utilization Alarms for long running synchronous tasks" (#7407)
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-alarms-stack.ts
  tarpon/infra/cdk-utils/cdk-cw-alarms-utils.ts
  tarpon/package.json
Labels: backend, infra

:zap: Add Sanctions Data Count Batch Job (#7368)
  tarpon/src/lambdas/cron-job-ten-minute/app.ts
  tarpon/src/services/sanctions/sanctions-data-count.ts
Labels: backend

Tag values not getting saved down (#7391)
  phytoplankton-console/src/components/ui/LogicBuilder/widgets.tsx
Labels: frontend

Add tenant ID to API USAGE METICS BATCH JOB (#7410)
  tarpon/src/utils/api-usage.ts
Labels: backend

FIX: added permission to push log metric for lambdaExecutionRoleWithLogsListing role (#7411)
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

Fix CTE name for transaction get stats by time (#7412)
  tarpon/src/services/rules-engine/repositories/clickhouse-repository.ts
Labels: backend

FIX: reset minute to zero for daily alert creation (#7356)
  tarpon/src/services/cases/__tests__/utils.test.ts
  tarpon/src/services/cases/utils/index.ts
Labels: backend

Bug with exit button (#7413)
  phytoplankton-console/src/components/utils/Confirm/ConfirmModal/index.tsx
Labels: frontend

feat: added new crypto symbols (#7414)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/test-resources/mocked-currency-exchange-rates.ts
Labels: backend

Add Clickhouse check before tenant migration in payment details drop migration (#7426)
  tarpon/scripts/migrations/pre-deployment/2025.07.11T13.09.26.drop-paymentDetails-name-column.ts
Labels: backend

Implement versioning for public API dynamoDB entities to utilise on demand kinesis scaling. (#7404)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/lambdas/console-api-transaction/app.ts
  tarpon/src/lambdas/hammerhead-change-mongodb-consumer/app.ts
  tarpon/src/lambdas/public-api-rules-engine/__tests__/app.test.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/flat-files/__tests__/index.test.ts
  tarpon/src/services/logic-evaluator/variables/index.ts
  tarpon/src/services/risk-scoring/__tests__/risk-scoring-v8-service.test.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/__tests__/user-rules-engine-service.test.ts
  tarpon/src/services/rules-engine/repositories/dynamodb-transaction-repository.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/rules-engine/repositories/transaction-event-repository.ts
  tarpon/src/services/rules-engine/repositories/user-event-repository.ts
  tarpon/src/services/users/__tests__/user-repository.test.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/utils/__tests__/downstream-version.test.ts
  tarpon/src/utils/__tests__/dynamodb.test.ts
  tarpon/src/utils/downstream-version.ts
  tarpon/src/utils/dynamodb.ts
Labels: backend

Rename PaymentDetails_name field and remove migration to drop columns (#7429)
  tarpon/scripts/migrations/pre-deployment/2025.07.11T13.09.26.drop-paymentDetails-name-column.ts
  tarpon/src/services/rules-engine/repositories/clickhouse-repository.ts
  tarpon/src/utils/clickhouse/definition.ts
Labels: backend

FIX: populate default reasons in dynamo (#7419)
  tarpon/src/core/seed/dynamodb.ts
Labels: backend

Make kinesis shards on-demand (#7405)
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

Reduce sentry noise (#7431)
  tarpon/src/services/sanctions/repositories/sanctions-hits-repository.ts
Labels: backend

fix duplicate user insertion error (#7433)
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend

use setField for updates (#7435)
  tarpon/package.json
  tarpon/src/utils/downstream-version.ts
Labels: backend

fix version for ars and drs (#7436)
  tarpon/load-testing/transactions-load-test.jmx
  tarpon/scripts/run-load-test.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
Labels: backend

Fix filtering of adverse media sources (#7437)
  lib/utils/index.ts
  lib/utils/screening.ts
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/CreateScreeningProfileModal.tsx
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
Labels: backend, frontend

Team performance for payment approvals (#7043)
  phytoplankton-console/src/pages/dashboard/analysis/components/PaymentApprovals/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/core/seed/data/transaction_events.ts
  tarpon/src/lambdas/console-api-dashboard/app.ts
  tarpon/src/services/analytics/dashboard-metrics/__tests__/dashboard-stats-repository.payment-approval.test.ts
  tarpon/src/services/analytics/dashboard-metrics/__tests__/helpers.ts
  tarpon/src/services/analytics/dashboard-metrics/payment-approvals.ts
  tarpon/src/services/dashboard/repositories/dashboard-stats-repository.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/utils/clickhouse/definition.ts
Labels: backend, frontend

feat: display user age alongside date of birth in user details (#7423)
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/GeneralDetails/index.tsx
Labels: frontend

REF: Round risk scores in rules simulation table (#7422)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/SimulationResults/Users.tsx
Labels: frontend

Fix: Misalignment of tenant name in SuperAdminPanel (#7438)
  phytoplankton-console/src/components/library/Select/style.module.less
Labels: frontend

Center-align value button to operator input box (#7439)
  phytoplankton-console/src/components/ui/LogicBuilder/widgets.tsx
Labels: frontend

🛠️ Refactor user search functionality to utilize a lighter user data model (#7380)
  phytoplankton-console/src/components/UserIdsSelect/index.tsx
  phytoplankton-console/src/pages/lists/NewListDrawer/NewValueInput/index.tsx
  phytoplankton-console/src/pages/transactions/components/UserSearchButton/index.tsx
  phytoplankton-console/src/pages/transactions/components/UserSearchPopup/PopupContent/UserList/UserItem/index.tsx
  phytoplankton-console/src/pages/transactions/components/UserSearchPopup/PopupContent/UserList/index.tsx
  phytoplankton-console/src/pages/transactions/components/UserSearchPopup/PopupContent/UserList/style.module.less
  phytoplankton-console/src/pages/transactions/components/UserSearchPopup/PopupContent/index.tsx
  phytoplankton-console/src/pages/transactions/components/UserSearchPopup/helpers.ts
  phytoplankton-console/src/pages/transactions/components/UserSearchPopup/index.tsx
  phytoplankton-console/src/pages/users/users-list/helpers/queryAdapter.ts
  phytoplankton-console/src/pages/users/users-list/index.tsx
  phytoplankton-console/src/pages/users/users-list/users-table.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/internal/temp-merged-spec-6f6d6f24-87bd-4887-b545-16b9e946cca5.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/console-api-user/app.ts
  tarpon/src/services/users/index.ts
  tarpon/src/services/users/repositories/user-clickhouse-repository.ts
  tarpon/src/utils/pagination.ts
Labels: backend, frontend

Screening details modal can not be closed (#7425)
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/ScreeningDetails/index.tsx
Labels: frontend

Fix: Scenario builder breaks with many inputs (#7416)
  phytoplankton-console/src/components/ui/LogicBuilder/index.module.less
Labels: frontend

Implement confirmation modal for comment deletion (#7430)
  phytoplankton-console/src/components/CommentsCard/Comment/index.tsx
  phytoplankton-console/src/components/utils/Confirm/ConfirmModal/index.tsx
Labels: frontend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

pipeline:
  - bin/**
