Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, raptor, pipeline

Fix for ongoing screening
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/rules-engine/user-rules/dowjones-consumer-user.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
Labels: backend

Fix PEP tagging (#5425)
  tarpon/src/services/users/index.ts
Labels: backend

PNB_BACKFILL_HAMMERHEAD (#5424)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/core/dynamodb/dynamodb-stream-utils.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/pnb-backfill-hammerhead-fargate-batch-job.ts
Labels: backend

Backfill KRS by Ids (#5428)
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/services/batch-jobs/pnb-backfill-krs-fargate-batch-job.ts
Labels: backend

Fetch CRA from dynamo (#5426)
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  phytoplankton-console/src/pages/users/users-list/users-table.tsx
  tarpon/src/lambdas/console-api-pulse/app.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
  tarpon/src/services/risk/index.ts
  tarpon/src/services/rules-engine/repositories/clickhouse-repository.ts
  tarpon/src/services/users/repositories/user-clickhouse-repository.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/services/users/utils/user-utils.ts
Labels: backend, frontend

Revert "Increase concurrency of async rules (#5415)"
  tarpon/src/core/xray/index.ts
  tarpon/src/lambdas/async-rule/app.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/services/batch-jobs/pnb-backfill-transactions-fargate-batch-job.ts
  tarpon/src/utils/lock.ts
Labels: backend

Update max concurrency and batch size of Async rule queue (#5430)
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

Bump up async rule lambda memory (#5432)
  lib/config/config-prod-asia-1.ts
  lib/config/config-prod-asia-2.ts
  lib/config/config-prod-au-1.ts
  lib/config/config-prod-eu-1.ts
  lib/config/config-prod-eu-2.ts
  lib/config/config-prod-me-1.ts
  lib/config/config-prod-us-1.ts
  lib/config/config-sandbox-asia-1.ts
  lib/config/config-sandbox-eu-1.ts
  lib/config/config.ts
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

Minor changes (#5433)
  tarpon/src/core/xray/index.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/utils/lock.ts
Labels: backend

MOCK: Added unique mock my rules for rules id (#5373)
  tarpon/src/core/seed/data/rules.ts
Labels: backend

Fixes for ongoing screening (#5429)
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/ongoing-screening-user-rule-batch-job-runner.ts
  tarpon/src/services/batch-jobs/pnb-screening-backfill-runner.ts
  tarpon/src/services/batch-jobs/sanctions-data-fetch-job-runner.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/user-rules/dowjones-consumer-user.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/providers/__tests__/sanctions-data-fetcher.test.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/repositories/sanctions-provider-searches-repository.ts
  tarpon/src/services/sanctions/repositories/sanctions-screening-details-repository.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/utils/mongodb-definitions.ts
  tarpon/src/utils/mongodb-utils.ts
Labels: backend

FEATURE: added filters for krs table in risk simulation (#5262)
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/SimulationResult/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/batch-jobs/__tests__/simulation-pulse-batch-job-runner.test.ts
  tarpon/src/services/simulation/repositories/simulation-result-repository.ts
Labels: backend, frontend

Fix invalid mongo operation (#5438)
  tarpon/scripts/migrations/post-deployment/2024.11.23T21.27.34.pnb-job-fix.ts
  tarpon/src/services/risk-scoring/risk-scoring-v8-service.ts
Labels: backend

Fix Public Management Lists API (#5442)
  tarpon/src/services/risk-scoring/risk-scoring-v8-service.ts
Labels: backend

Handle RebuildSyncRetryError (#5435)
  tarpon/src/services/logic-evaluator/engine/aggregation-repository.ts
  tarpon/src/services/logic-evaluator/engine/index.ts
Labels: backend

UI: Rendered rule's priority in payment approval page (#5405)
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/ExpandedRowRenderer/RuleAndCaseDetails/index.tsx
Labels: frontend

Make account balance field more readable (#5437)
  phytoplankton-console/src/components/ui/PaymentDetailsProps/index.tsx
Labels: frontend

Top align country logo with the name across all the table (#5386)
  phytoplankton-console/src/components/ui/CountryDisplay/index.module.less
Labels: frontend

Show IP country (#5008)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/lambdas/console-api-transaction/app.ts
  tarpon/src/services/geo-ip/index.ts
  tarpon/src/services/logic-evaluator/variables/__tests__/resources/entity-variables.json
  tarpon/src/services/logic-evaluator/variables/__tests__/transaction-ip-info.test.ts
  tarpon/src/services/risk-scoring/__tests__/ipAddressCountry.test.ts
  tarpon/src/services/rules-engine/repositories/dynamodb-transaction-repository.ts
  tarpon/src/services/rules-engine/repositories/transaction-event-repository.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/high-risk-ip-address-countries.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/ip-address-unexpected-location.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/sender-location-changes-frequency.test.ts
  tarpon/src/services/rules-engine/utils/geo-utils.ts
Labels: backend

Fix for ongoing screening (#5445)
  tarpon/src/services/batch-jobs/sanctions-data-fetch-job-runner.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/repositories/sanctions-provider-searches-repository.ts
Labels: backend

Differentiate between initial, updates and ongoing screening (#5367)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/pre-deployment/2024.11.20T11.29.59.update-R-16-stage-parameters.ts
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/services/batch-jobs/ongoing-screening-user-rule-batch-job-runner.ts
  tarpon/src/services/batch-jobs/reverify-transactions-job-runner.ts
  tarpon/src/services/batch-jobs/simulation-beacon-batch-job-runner.ts
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/user-rules-engine-service.ts
  tarpon/src/services/rules-engine/user-rules/__tests__/sanctions-consumer-user.test.ts
  tarpon/src/services/rules-engine/user-rules/rule.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-consumer-user.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
  tarpon/src/test-utils/rule-test-utils.ts
Labels: backend

Add Sanction and Cases Indexes (#5446)
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend

Webhook Deliveries for PNB of Backfill (#5448)
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/pnb-backfill-webhook-deliveries.ts
Labels: backend

Enable multiple CA search profiles per tenant (#5407)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/rules-engine/user-filters/filter.ts
  tarpon/src/services/rules-engine/user-rules/list-screening-consumer-user.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/providers/comply-advantage-provider.ts
Labels: backend, frontend

Check if collection exists before creating search index
  tarpon/src/utils/mongodb-utils.ts
Labels: backend

Fix webhook delivery table (#5447)
  phytoplankton-console/src/pages/settings/components/WebhookDeliveryAttemptsTable.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-webhook/app.ts
  tarpon/src/services/webhook/repositories/webhook-delivery-repository.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend, frontend

[Snyk] Upgrade @react-email/components from 0.0.25 to 0.0.26 (#5431)
  email-templates/package-lock.json
  email-templates/package.json
Labels: none

Case Management Filters Alert status not working as expected (#5097)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
Labels: frontend

Format Ks in comma: Overview and Treemap (#5436)
  phytoplankton-console/src/pages/dashboard/analysis/components/charts/Treemap/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/widgets/OverviewCard/OverviewCardSection/index.tsx
Labels: frontend

[Security] Upgrade openai from 4.55.4 to 4.70.2 (#5451)
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend

Add Transaction Events API (#5381)
  phytoplankton-console/src/pages/transactions-item/TransactionEventsCard/index.tsx
  phytoplankton-console/src/pages/transactions-item/TransactionEventsTable/index.tsx
  phytoplankton-console/src/pages/transactions-item/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/console-api-transaction/app.ts
  tarpon/src/services/rules-engine/repositories/transaction-event-repository.ts
Labels: backend, frontend

[Security] Upgrade aws-cdk-lib from 2.162.1 to 2.165.0 (#5452)
  lib/package.json
  lib/yarn.lock
  package.json
  phytoplankton-console/package.json
  phytoplankton-console/yarn.lock
  tarpon/package.json
  tarpon/yarn.lock
  yarn.lock
Labels: backend, frontend

Fix Delta Sanctions Not exists (#5450)
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend

Quick Optiization Clickhouse (#5414)
  tarpon/src/services/users/repositories/user-clickhouse-repository.ts
  tarpon/src/utils/pagination.ts
Labels: backend

Cases and Team overview to clickhouse (#5376)
  tarpon/scripts/migrations/post-deployment/2024.11.18T21.43.13.report_data_to_clickhouse.ts
  tarpon/src/services/analytics/dashboard-metrics/__tests__/dashboard-stats-repository.case-management-stats.test.ts
  tarpon/src/services/analytics/dashboard-metrics/overview-stats.ts
  tarpon/src/services/analytics/dashboard-metrics/rule-stats.ts
  tarpon/src/services/analytics/dashboard-metrics/team-stats.ts
  tarpon/src/utils/clickhouse/definition.ts
  tarpon/src/utils/clickhouse/utils.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend

FIX: allowed atleast admin user to access narrative copilot settings (#5456)
  phytoplankton-console/src/pages/settings/components/NarrativeCopilot.tsx
Labels: frontend

Update MongoDB docker image (#5454)
  tarpon/docker-compose.yaml
  tarpon/src/utils/mongodb-utils.ts
Labels: backend

Fix initial screening profile
  tarpon/src/services/rules-engine/user-rules/sanctions-consumer-user.ts
  tarpon/src/services/sanctions/index.ts
Labels: backend

Dont allow edit clicks on default roles under RBAC (#5391)
  tarpon/src/services/roles/index.ts
Labels: backend

Limit the size of the unique aggregations to 400KB for dynamo max limit (#5081)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
  tarpon/src/services/logic-evaluator/engine/aggregation-repository.ts
Labels: backend, frontend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

raptor:
  - raptor/**

pipeline:
  - bin/**
