Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, pipeline

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

pipeline:
  - bin/**

Updated Text in Create a new case (#6819)
  phytoplankton-console/src/pages/case-management/AlertTable/CreateCaseConfirmModal/index.tsx
Labels: frontend

Scale Down Clickhouse Servers (#6830)
  lib/config/config-prod-eu-2.ts
  lib/config/config-prod-me-1.ts
Labels: none

Fix similar to words operator (#6835)
  tarpon/src/services/logic-evaluator/operators/similar-to-words.ts
Labels: backend

[Sanctions] Enhance whitelist tracking for counter-party screening (#6743)
  phytoplankton-console/src/components/SanctionsWhitelistTable/helpers.tsx
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/TransactionsTab/index.tsx
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/helpers.tsx
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemEmbedded/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/scripts/migrations/post-deployment/2025.04.22T08.42.40.rename-case-collection.ts
  tarpon/scripts/migrations/pre-deployment/2025.04.21T13.49.06.migrate_whitelist_hits.ts
  tarpon/src/lambdas/console-api-sanctions/app.ts
  tarpon/src/lambdas/console-api-transaction/services/transaction-service.ts
  tarpon/src/services/cases/case-creation-service.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/rules-engine/transaction-rules/payment-details-screening-base.ts
  tarpon/src/services/sanctions/__tests__/index.test.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/repositories/sanctions-hits-repository.ts
  tarpon/src/services/sanctions/repositories/sanctions-whitelist-entity-repository.ts
Labels: backend, frontend

Add partial matching support (#6826)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/rules-engine/transaction-rules/payment-details-screening-base.ts
  tarpon/src/services/rules-engine/user-rules/dowjones-consumer-user.ts
  tarpon/src/services/rules-engine/user-rules/generic-sanctions-consumer-user.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-bank-name.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-business-user.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
  tarpon/src/services/rules-engine/utils/rule-utils.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/utils/__tests__/fuzzy.test.ts
  tarpon/src/utils/fuzzy.ts
Labels: backend

Fix: Ontology tab in Case detail page (#6832)
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
Labels: frontend

Add correct relevance to searches (#6839)
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
Labels: backend

Remove Betteruptime from Face of the Earth (#6828)
  lib/config/config-dev.ts
  lib/config/config-prod-asia-1.ts
  lib/config/config-prod-asia-2.ts
  lib/config/config-prod-asia-3.ts
  lib/config/config-prod-au-1.ts
  lib/config/config-prod-eu-1.ts
  lib/config/config-prod-eu-2.ts
  lib/config/config-prod-me-1.ts
  lib/config/config-prod-us-1.ts
  lib/config/config-sandbox-asia-1.ts
  lib/config/config-sandbox-eu-1.ts
  lib/config/config.ts
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-alarms-stack.ts
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-console-api-stack.ts
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/infra/cdk-utils/cdk-cw-alarms-utils.ts
  tarpon/lib/constants.ts
Labels: backend, infra

Lock DRS score for risk factor score override (#6844)
  tarpon/src/services/risk-scoring/risk-scoring-v8-service.ts
Labels: backend

Fixed tooltip functionality in LineChart component (#6843)
  phytoplankton-console/src/components/charts/Line/index.tsx
Labels: frontend

Sanitise db name for clickhouse (#6847)
  tarpon/src/utils/clickhouse/utils.ts
Labels: backend

Add screening profiles (#6829)
  phytoplankton-console/src/components/ComplyAdvantageHitTable/index.tsx
  phytoplankton-console/src/components/library/Modal/index.tsx
  phytoplankton-console/src/pages/sanctions/search/index.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/CreateScreeningProfileModal.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/ScreeningProfileList.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/contants.ts
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/index.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/styles.module.less
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/scripts/migrations/post-deployment/2025.05.05T07.50.17.trigger-sanctions-data-load-for-acuris.ts
  tarpon/src/core/default-roles.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/lambdas/console-api-sanctions/app.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/services/counter/repository.ts
  tarpon/src/services/default-filters/index.ts
  tarpon/src/services/default-filters/repositories/default-filters-repository.ts
  tarpon/src/services/rbac/__tests__/resources/roles.json
  tarpon/src/services/rbac/utils/permissions.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/providers/acuris-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/providers/types.ts
  tarpon/src/services/sanctions/providers/utils.ts
  tarpon/src/services/sanctions/repositories/sanction-source-repository.ts
  tarpon/src/services/screening-profile/index.ts
  tarpon/src/services/screening-profile/repositories/screening-profile-repository.ts
  tarpon/src/services/search-profile/repositories/search-profile-repository.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend, frontend

Update Oldest Message Age Alarm for Async Rules Queue (#6849)
  tarpon/lib/constants.ts
Labels: backend

POC to use Python in Tarpon (#6786)
  .github/workflows/deploy_qa.yml
  .github/workflows/test_infra.yml
  .github/workflows/test_tarpon.yml
  .gitignore
  bin/constants/generatedDirs.ts
  bin/utils/tarpon-build-stage.ts
  tarpon/.gitignore
  tarpon/.prettierignore
  tarpon/.sentryignore
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-python-stack.ts
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/infra/cdk-utils/cdk-lambda-utils.ts
  tarpon/lib/constants.ts
  tarpon/lib/lambdas.ts
  tarpon/scripts/deploy-ci.ts
  tarpon/torpedo/.gitignore
  tarpon/torpedo/Makefile
  tarpon/torpedo/README.md
  tarpon/torpedo/__init__.py
  tarpon/torpedo/build.sh
  tarpon/torpedo/build_package.sh
  tarpon/torpedo/requirements.txt
  tarpon/torpedo/src/__init__.py
  tarpon/torpedo/src/lambdas/lambda_process/app.py
  tarpon/torpedo/src/lambdas/processing/app.py
  tarpon/torpedo/src/tigershark/__init__.py
  tarpon/torpedo/src/tigershark/common/__init__.py
  tarpon/torpedo/src/tigershark/common/math.py
  tarpon/torpedo/src/tigershark/common/science.py
  tarpon/torpedo/src/tigershark/database/__init__.py
  tarpon/torpedo/src/tigershark/database/models.py
  tarpon/torpedo/src/tigershark/services/__init__.py
  tarpon/torpedo/src/tigershark/services/some_service.py
  tarpon/torpedo/src/tigershark/setup.py
Labels: backend, infra, pipeline

Init Thunder Schema for Narrative Templates (#6773)
  tarpon/package.json
  tarpon/scripts/clickhouse-migrations.ts
  tarpon/scripts/migrations/migrator.ts
  tarpon/scripts/migrations/pre-deployment/2025.04.16T10.31.09.migrate-narrative-templates.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/models/index.ts
  tarpon/src/models/migrations/1745862305831-migration.ts
  tarpon/src/models/narrative-template.ts
  tarpon/src/services/tenants/narrative-template-service.ts
  tarpon/src/services/tenants/repositories/narrative-template-repository.ts
  tarpon/src/utils/clickhouse/utils.ts
  tarpon/yarn.lock
Labels: backend

Add more detailed screening metrics (#6822)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/cloudwatch/metrics.ts
  tarpon/src/services/metrics/api-usage-metrics-service.ts
  tarpon/src/services/rules-engine/transaction-rules/payment-details-screening-base.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/repositories/sanctions-search-repository.ts
Labels: backend

Add Migration for Clickhouse Narratives (#6851)
  tarpon/scripts/migrations/pre-deployment/2025.05.06T08.28.18.migrate-narrative-templates.ts
Labels: backend

FIX: showed all sar jurisdiction for tenant not having sarjurisdiction configured (#6833)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
Labels: frontend

Fix: Calendar filter breaks in UI resize (#6848)
  phytoplankton-console/src/components/library/DateRangePicker/DateRangeValuePopover/index.module.less
Labels: frontend

Fix: Transaction not getting removed from pending payment approval list after decisioning (#6850)
  phytoplankton-console/src/pages/case-management/PaymentApprovalTable/index.tsx
Labels: frontend

Use Transpile Only for Pipeline (#6852)
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend

Fix ORM Migrations (#6853)
  tarpon/package.json
  tarpon/scripts/clickhouse-migrations.ts
  tarpon/yarn.lock
Labels: backend

Fix: Variables appearing empty in scenario builder (#6846)
  phytoplankton-console/src/components/ui/LogicBuilder/widgets.tsx
Labels: frontend

Added visual animation to indicate the rule being created at V2 and V8. (#6845)
  phytoplankton-console/src/pages/rules/RuleConfiguration/components/RuleModeModal/index.tsx
Labels: frontend

Hotfix: Ontology (#6855)
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/EntityLinkingGraph/index.module.less
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/UserGraph/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/index.module.less
Labels: frontend

Fix orm migrations (#6856)
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend

DEMO: update data for freshdesk (#6836)
  tarpon/src/core/seed/samplers/crm-record.ts
Labels: backend

Bump thunder schema (#6857)
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend

Woflow models + Case workflow CRUD API (#6569)
  phytoplankton-console/build/openapi-generate.js
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  tarpon/.gitignore
  tarpon/docker-compose.yaml
  tarpon/lib/constants.ts
  tarpon/lib/lambdas.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/internal/workflow-models.yaml
  tarpon/lib/openapi/internal/workflow-routes.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/scripts/openapi/openapi_generate_sdk.ts
  tarpon/scripts/openapi/openapi_prepare.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/lambdas/console-api-workflow/app.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/services/workflow/index.ts
  tarpon/src/test-utils/openapi-augmentor.ts
  tarpon/src/utils/workflow-machine.ts
Labels: backend, frontend

Backoff List records from Nango (#6860)
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/services/nango/index.ts
  tarpon/src/services/nango/repository.ts
Labels: backend

Remove dataloader from V8 use memoized function for catching instead (#6840)
  tarpon/package.json
  tarpon/src/services/logic-evaluator/engine/index.ts
  tarpon/yarn.lock
Labels: backend

add unique check for existing hits (#6858)
  tarpon/scripts/migrations/post-deployment/2025.04.22T08.42.40.rename-case-collection.ts
  tarpon/scripts/migrations/pre-deployment/2025.04.21T13.49.06.migrate_whitelist_hits.ts
Labels: backend

Remove Do While Loop in Nango (#6861)
  tarpon/cdk.context.json
  tarpon/src/services/nango/index.ts
Labels: backend

[Frontend] : RBAC v2 (#6732)
  phytoplankton-console/cypress/e2e/team-management/custom-role-crud-test.cy.ts
  phytoplankton-console/src/components/PageWrapper/index.tsx
  phytoplankton-console/src/components/PageWrapper/styles.module.less
  phytoplankton-console/src/components/library/Breadcrumbs/index.module.less
  phytoplankton-console/src/components/library/Tabs/index.tsx
  phytoplankton-console/src/pages/accounts/RolesV2/AccountsRolesItemPage.tsx
  phytoplankton-console/src/pages/accounts/RolesV2/Permissions.tsx
  phytoplankton-console/src/pages/accounts/RolesV2/RoleDetails.tsx
  phytoplankton-console/src/pages/accounts/RolesV2/RoleHeader.tsx
  phytoplankton-console/src/pages/accounts/RolesV2/SubPermissions.tsx
  phytoplankton-console/src/pages/accounts/RolesV2/constants.ts
  phytoplankton-console/src/pages/accounts/RolesV2/index.tsx
  phytoplankton-console/src/pages/accounts/RolesV2/style.module.less
  phytoplankton-console/src/pages/accounts/RolesV2/utils.ts
  phytoplankton-console/src/pages/accounts/index.tsx
  phytoplankton-console/src/pages/accounts/style.module.less
  phytoplankton-console/src/services/routing/index.ts
  phytoplankton-console/src/utils/queries/keys.ts
  phytoplankton-console/src/utils/user-utils.tsx
Labels: frontend

Add index and optimize query (#6863)
  tarpon/src/services/sanctions/repositories/sanctions-search-repository.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend

Refractor Sanctions Hit Change Status to Move it inside service (#6866)
  tarpon/src/lambdas/console-api-sanctions/app.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/users/index.ts
Labels: backend

Migration for closing sciopay cases (#6818)
  tarpon/scripts/migrations/post-deployment/2025.04.29T01.09.43.close_sciopay_cases.ts
Labels: backend

Fix pipeline issue with merged openapi spec file (#6865)
  tarpon/scripts/openapi/openapi_generate_sdk.ts
  tarpon/scripts/openapi/openapi_prepare.ts
Labels: backend

Fix mongodb query (#6867)
  tarpon/src/services/sanctions/repositories/sanctions-search-repository.ts
Labels: backend

Fix comments while clearing hits (#6871)
  tarpon/src/services/sanctions/index.ts
Labels: backend
