Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, raptor, pipeline

Acuris + Open sanctions integration (#5799)
  lib/secrets/secrets.ts
  phytoplankton-console/build/index.js
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/ListingCard/index.tsx
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/index.module.less
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/GenericSanctionScreeningTypes/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/types.ts
  phytoplankton-console/src/locales/en-US/menu.ts
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/index.tsx
  phytoplankton-console/src/pages/settings/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/lambdas/cron-job-daily/app.ts
  tarpon/src/services/batch-jobs/sanctions-data-fetch-job-runner.ts
  tarpon/src/services/rules-engine/rule-service.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/user-rules/generic-sanctions-consumer-user.ts
  tarpon/src/services/rules-engine/user-rules/index.ts
  tarpon/src/services/rules-engine/user-rules/open-sanctions-consumer-user.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
  tarpon/src/services/sanctions/data-fetchers.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/providers/__tests__/open-sanctions-provider.test.ts
  tarpon/src/services/sanctions/providers/acuris-provider.ts
  tarpon/src/services/sanctions/providers/comply-advantage-provider.ts
  tarpon/src/services/sanctions/providers/open-sanctions-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/repositories/sanctions-search-repository.ts
  tarpon/src/services/sanctions/utils.ts
  tarpon/src/utils/mongodb-definitions.ts
  tarpon/src/utils/mongodb-utils.ts
Labels: backend, frontend

Add alert Ids to transaction export across console (#5798)
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/helpers.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/index.tsx
  tarpon/src/lambdas/console-api-transaction/services/transaction-service.ts
Labels: backend, frontend

MOCK: added attachments for bussiness users (#5310)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/constants.ts
  tarpon/src/core/seed/data/ars_scores.ts
  tarpon/src/core/seed/data/auditlogs.ts
  tarpon/src/core/seed/data/cases.ts
  tarpon/src/core/seed/data/crm.ts
  tarpon/src/core/seed/data/risk-scores.ts
  tarpon/src/core/seed/data/transactions.ts
  tarpon/src/core/seed/data/users.ts
  tarpon/src/core/seed/dynamodb.ts
  tarpon/src/core/seed/index.ts
  tarpon/src/core/seed/mongo.ts
  tarpon/src/core/seed/samplers/users.ts
  tarpon/src/services/copilot/attributes/__tests__/builder.test.ts
Labels: backend, infra

Skip file if the file does not have Person tags (#5802)
  tarpon/src/services/sanctions/providers/dow-jones-provider.ts
Labels: backend

Create batch job to cleanup agg data and trigger per region (#5803)
  tarpon/scripts/migrations/post-deployment/2025.01.14T08.20.56.trigger-cleanup-agg-data-job-per-region.ts
  tarpon/scripts/migrations/post-deployment/2025.01.15T14.03.40.clean-up-agg-data.ts
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/services/batch-jobs/aggregation-cleanup-batch-job-runner.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/batch-job.ts
Labels: backend

FIX: reduced mulitple api calls for transaction and user tables. (#5754)
  phytoplankton-console/src/pages/transactions/index.tsx
  phytoplankton-console/src/pages/users/users-list/index.tsx
  phytoplankton-console/src/utils/queries/types.ts
Labels: frontend

FIX: disabled copilot button when there are more than one case or alerts (#5762)
  phytoplankton-console/src/components/Narrative/AnimatedButton/index.module.less
  phytoplankton-console/src/components/Narrative/AnimatedButton/index.tsx
  phytoplankton-console/src/components/Narrative/index.tsx
  phytoplankton-console/src/pages/case-management/components/Copilot/CopilotButtonContent.tsx
Labels: frontend

Syncing of data with mongo for b4b payments (#5789)
  tarpon/scripts/migrations/post-deployment/2025.01.10T08.57.40.migrate-b4b-to-clickhouse.ts
Labels: backend

Update Alert and Case SLA Update (#5811)
  tarpon/src/services/alerts/repository.ts
  tarpon/src/services/cases/repository.ts
  tarpon/src/services/sla/sla-service.ts
Labels: backend

Define document bucket for seeding in post migration (#5812)
  tarpon/scripts/migrations/migrator.ts
  tarpon/src/core/seed/data/users.ts
Labels: backend

Remove Save Alert Function (#5813)
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/alerts/repository.ts
Labels: backend

Regression: Large numbers not visible on y axis (#5810)
  phytoplankton-console/src/components/charts/BarChart/GroupedBarChart/helpers.ts
  phytoplankton-console/src/components/charts/BarChart/GroupedBarChart/index.tsx
  phytoplankton-console/src/components/charts/BarChart/StackedBarChart/helpers.ts
  phytoplankton-console/src/components/charts/BarChart/StackedBarChart/index.tsx
  phytoplankton-console/src/components/charts/shared/helpers.ts
Labels: frontend

Update Freshdesk Integration (#5816)
  bin/utils/tarpon-deploy-stage.ts
  nango-integrations/freshdesk/syncs/freshdesk_tickets.ts
  nango-integrations/nango.yaml
Labels: pipeline

Script to Update All Transaction Events of PNB (#5815)
  tarpon/package.json
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/pnb-transaction-event-updates.ts
  tarpon/src/services/rules-engine/repositories/dynamodb-transaction-repository.ts
  tarpon/yarn.lock
Labels: backend

Create Std Deviation as an aggregate function for aggregation variables (#5786)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/steps/RuleParametersStep/utils.ts
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/logic-evaluator/variable-aggregators/__tests__/stdev.test.ts
  tarpon/src/services/logic-evaluator/variable-aggregators/index.ts
  tarpon/src/services/logic-evaluator/variable-aggregators/stdev.ts
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
Labels: backend, frontend

Fix-flacky-test (#5821)
  phytoplankton-console/cypress/e2e/qa/qa-assignee-column.cy.ts
Labels: frontend

Fix Nango Pipeline (#5820)
  bin/utils/tarpon-deploy-stage.ts
Labels: pipeline

Implement making user and transaction events useful (#5507)
  phytoplankton-console/src/pages/auditlog/components/AuditLog/AuditLog.tsx
  phytoplankton-console/src/pages/auditlog/components/AuditLogModal/index.tsx
  phytoplankton-console/src/pages/auditlog/components/TableTemplate/index.tsx
  phytoplankton-console/src/pages/transactions-item/TransactionEventsTable/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserEvents.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/seed/data/transaction_events.ts
  tarpon/src/lambdas/hammerhead-change-mongodb-consumer/app.ts
  tarpon/src/lambdas/public-api-user-management/app.ts
  tarpon/src/services/rules-engine/repositories/transaction-event-repository.ts
  tarpon/src/services/rules-engine/repositories/user-event-repository.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/user-rules-engine-service.ts
Labels: backend, frontend

Optimize Batch Async Rules (#5822)
  tarpon/src/lambdas/public-api-rules-engine/app.ts
  tarpon/src/services/batch-import/index.ts
  tarpon/src/services/rules-engine/utils.ts
Labels: backend

Fix: Description for R-120 and remove RC-56 from demo data (#5814)
  tarpon/src/core/seed/data/rules.ts
Labels: backend

BUG-FIX: fixed sorting by ars score in transactions table. (#5809)
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/helpers.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/seed/data/users.ts
  tarpon/src/lambdas/console-api-transaction/services/transaction-service.ts
  tarpon/src/services/rules-engine/repositories/clickhouse-repository.ts
  tarpon/src/utils/clickhouse/utils.ts
Labels: backend, frontend

Fix the search by name in the Screening Activity table to make it case-insensitive. (#5805)
  tarpon/src/services/sanctions/repositories/sanctions-screening-details-repository.ts
Labels: backend

Temporary: Increase lambda memory size (#5824)
  lib/config/config-prod-asia-1.ts
  lib/config/config-prod-asia-2.ts
  lib/config/config-prod-asia-3.ts
  lib/config/config-prod-au-1.ts
  lib/config/config-prod-eu-1.ts
  lib/config/config-prod-eu-2.ts
  lib/config/config-prod-me-1.ts
  lib/config/config-prod-us-1.ts
Labels: none

Update PNB Transaction Event Script (#5826)
  tarpon/src/services/batch-jobs/pnb-transaction-event-updates.ts
Labels: backend

FIX: e2e test fix (#5827)
  phytoplankton-console/cypress/e2e/qa/qa-assignee-column.cy.ts
  phytoplankton-console/cypress/e2e/sar/sar-generate.cy.ts
Labels: frontend

Delta sanction search index not created (#5828)
  tarpon/src/services/batch-jobs/sanctions-data-fetch-job-runner.ts
Labels: backend

Fix Batch Async Rule Queues Incident (#5832)
  .github/workflows/test_tarpon.yml
  tarpon/src/lambdas/async-rule/app.ts
Labels: backend

Added filters under entity (#5787)
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/EntityLinkingGraph/EntityFilter/PopupContent/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/EntityLinkingGraph/EntityFilter/PopupContent/style.module.less
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/EntityLinkingGraph/EntityFilter/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/EntityLinkingGraph/LinkCountFilter/PopupContent/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/EntityLinkingGraph/LinkCountFilter/PopupContent/style.module.less
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/EntityLinkingGraph/LinkCountFilter/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/EntityLinkingGraph/index.module.less
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/EntityLinkingGraph/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/UserGraph/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/entity_linking.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-user/app.ts
  tarpon/src/services/linker/index.ts
Labels: backend, frontend

Fix ordering of disposition actions (#5834)
  tarpon/scripts/migrations/post-deployment/2025.01.17T07.48.30.fix-ordering-of-deposition-reasons.ts
  tarpon/src/services/tenants/reasons-service.ts
  tarpon/src/services/tenants/repositories/reasons-repository.ts
Labels: backend

Fix parsing dates in Dow jones (#5831)
  tarpon/src/services/sanctions/__tests__/dow-jones.test.ts
  tarpon/src/services/sanctions/providers/dow-jones-provider.ts
Labels: backend

Show "created at" and "last login" in User management (#5807)
  phytoplankton-console/src/pages/accounts/Team/index.tsx
Labels: frontend

Copilot should consider action type while generating (#5760)
  phytoplankton-console/src/components/Narrative/index.tsx
  phytoplankton-console/src/pages/case-management/components/Copilot/CopilotButtonContent.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
  phytoplankton-console/src/pages/settings/components/AISources/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-copilot/app.ts
  tarpon/src/services/copilot/attributes/__tests__/builder.test.ts
  tarpon/src/services/copilot/attributes/ai-sources.ts
  tarpon/src/services/copilot/attributes/alert-attribute-builder.ts
  tarpon/src/services/copilot/attributes/builder.ts
  tarpon/src/services/copilot/attributes/case-attribute-builder.ts
  tarpon/src/services/copilot/attributes/transactions-attribute-builder.ts
  tarpon/src/services/copilot/attributes/utils/ruleAttributeMapper.ts
  tarpon/src/services/copilot/auto-narrative-service.ts
  tarpon/src/services/copilot/reason-narratives.ts
  tarpon/src/services/copilot/retrieval-service.ts
  tarpon/src/services/currency/index.ts
Labels: backend, frontend

Fix qa deployment (#5839)
  .github/workflows/deploy_qa.yml
Labels: none

Enable CRA filters for PNB disabled during go live (#5837)
  phytoplankton-console/src/pages/users/users-list/users-table.tsx
  tarpon/src/services/users/repositories/user-clickhouse-repository.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/services/users/utils/user-utils.ts
Labels: backend, frontend

Fix ordering for disposition reasons using counter (#5835)
  tarpon/scripts/migrations/post-deployment/2025.01.17T07.48.30.fix-ordering-of-default-deposition-reasons.ts
  tarpon/src/core/seed/mongo.ts
  tarpon/src/services/counter/repository.ts
  tarpon/src/services/tenants/reasons-service.ts
  tarpon/src/services/tenants/repositories/reasons-repository.ts
Labels: backend

Fix Alert Copilot Builder (#5841)
  tarpon/src/services/copilot/attributes/alert-attribute-builder.ts
  tarpon/src/services/copilot/attributes/builder.ts
  tarpon/src/services/copilot/attributes/case-attribute-builder.ts
  tarpon/src/services/copilot/retrieval-service.ts
Labels: backend

Fix Cases Copilot Reasons (#5842)
  tarpon/src/services/copilot/attributes/alert-attribute-builder.ts
  tarpon/src/services/copilot/attributes/case-attribute-builder.ts
Labels: backend

[Security] Upgrade @slack/web-api from 7.7.0 to 7.8.0 (#5843)
  package.json
  yarn.lock
Labels: none

Seed demo data while running E2E (#5836)
  bin/cdk-orca-pipeline-stack.ts
  phytoplankton-console/cypress-run.js
  tarpon/scripts/migrations/migrator.ts
  tarpon/src/core/seed/index.ts
Labels: backend, frontend, pipeline

Cleanup cases data (#5851)
  tarpon/scripts/migrations/pre-deployment/2025.01.20T07.27.08.cleanup-cases-data.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/cases/repository.ts
  tarpon/src/services/risk-scoring/risk-scoring-service.ts
  tarpon/src/utils/mongodb-utils.ts
Labels: backend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

raptor:
  - raptor/**

pipeline:
  - bin/**
