Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, pipeline

DEMO: 12 months long timestamp, improves dashboard analytics (#7306)
  tarpon/src/core/seed/data/cases.ts
  tarpon/src/core/seed/data/seeds.ts
  tarpon/src/core/seed/data/transactions.ts
  tarpon/src/core/seed/data/users.ts
  tarpon/src/core/seed/samplers/cases.ts
  tarpon/src/core/seed/samplers/transaction.ts
Labels: backend

FIX: update E2E test due to frontend chagnes (#7312)
  phytoplankton-console/cypress/e2e/auditlog/audit-log-test.cy.ts
  phytoplankton-console/cypress/e2e/rules/checklist-crud.cy.ts
  phytoplankton-console/src/pages/auditlog/components/EntityFilterButton/PopupContent/index.tsx
Labels: frontend

Fix DB mode for logic evaluator for running v8 user rules (#7286)
  tarpon/src/services/rules-engine/rules-engine-service.ts
Labels: backend

Table For Risk Classification History (#7317)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/package.json
  tarpon/src/models/index.ts
  tarpon/src/models/migrations/1751404694752-migration.ts
  tarpon/src/models/risk-classification-history.ts
  tarpon/yarn.lock
Labels: backend

FEAT: flat file import for transaction (#7278)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-transaction/app.ts
  tarpon/src/lambdas/console-api-transaction/services/transaction-service.ts
  tarpon/src/lambdas/public-api-rules-engine/app.ts
  tarpon/src/services/flat-files/__tests__/index.test.ts
  tarpon/src/services/flat-files/__tests__/utils.ts
  tarpon/src/services/flat-files/baseRunner/index.ts
  tarpon/src/services/flat-files/batchRunner/index.ts
  tarpon/src/services/flat-files/batchRunner/transaction-upload.ts
  tarpon/src/services/flat-files/batchRunner/user-upload.ts
  tarpon/src/services/flat-files/index.ts
Labels: backend

FIX: Error during status changes (#7320)
  phytoplankton-console/src/pages/case-management-item/components/Header/StatusChangeMenu/index.tsx
  phytoplankton-console/src/pages/case-management/components/AlertsStatusChangeButton/AlertsStatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/CasesStatusChangeButton/CasesStatusChangeModal.tsx
Labels: frontend

FIX: removed certain ff before seeding (#7321)
  tarpon/src/core/seed/index.ts
Labels: backend

Rever utc from dayjs (#7326)
  phytoplankton-console/src/utils/dayjs.ts
Labels: frontend

Handle Tenant Id Missing in Audit Logs (#7327)
  tarpon/src/lambdas/audit-log-consumer/app.ts
  tarpon/src/lambdas/webhook-deliverer/app.ts
Labels: backend

Skip timing out jest test (#7331)
  tarpon/src/services/sanctions/providers/__tests__/open-sanctions-provider.test.ts
Labels: backend

Jobs collection to DynamoDb+ClickHouse (#7010)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2025.05.25T19.10.12.batch-jobs-dynamo-clickhouse-backfill.ts
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/lambdas/transaction-aggregation/app.ts
  tarpon/src/services/batch-jobs/__tests__/dashboard-refresh-batch-job-runner.test.ts
  tarpon/src/services/batch-jobs/__tests__/ongoing-screening-user-rule-batch-job-runner.test.ts
  tarpon/src/services/batch-jobs/__tests__/simulation-beacon-batch-job-runner.test.ts
  tarpon/src/services/batch-jobs/__tests__/simulation-pulse-batch-job-runner.test.ts
  tarpon/src/services/batch-jobs/__tests__/simulation-v8-risk-scoring-batch-job-runner.test.ts
  tarpon/src/services/batch-jobs/dynamodb-clickhouse-backfill-job-runner.ts
  tarpon/src/services/batch-jobs/repositories/__tests__/batch-job-mock-utils.ts
  tarpon/src/services/batch-jobs/repositories/__tests__/batch-job.test.ts
  tarpon/src/services/batch-jobs/repositories/__tests__/utils.ts
  tarpon/src/services/batch-jobs/repositories/batch-job-repository.ts
  tarpon/src/services/batch-jobs/repositories/dynamo-repository.ts
  tarpon/src/services/batch-jobs/repositories/filter-utils.ts
  tarpon/src/services/batch-jobs/rule-pre-aggregation-batch-job-runner.ts
  tarpon/src/services/batch-jobs/sanctions-data-fetch-job-runner.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/services/list/index.ts
  tarpon/src/services/risk-scoring/risk-scoring-v8-service.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend

Fix user id filter for simulation result (#7325)
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/SimulationResult/index.tsx
Labels: frontend

Add Indexes in Sanctions and Optimise a Bit (#7322)
  tarpon/scripts/migrations/post-deployment/2025.04.22T09.19.56.update-comply-searches-updated-via-webhook.ts
  tarpon/src/services/batch-jobs/in-house-screening-migration-batch-job-runner.ts
  tarpon/src/services/cases/case-creation-service.ts
  tarpon/src/services/sanctions/__tests__/index.test.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/repositories/sanctions-search-repository.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend

Add Thunder Schema Testing Support (#7336)
  tarpon/src/services/batch-jobs/__tests__/simulation-pulse-batch-job-runner.test.ts
  tarpon/src/services/flat-files/__tests__/index.test.ts
  tarpon/src/test-utils/clickhouse-test-utils.ts
Labels: backend

Maintain in Memory Cache for Tenant Infos (#7332)
  tarpon/src/services/tenants/index.ts
Labels: backend

Fixed navigation in Risk factor simulation mode (#7308)
  phytoplankton-console/src/pages/risk-levels/risk-factors/RiskFactorConfiguration/index.tsx
Labels: frontend

Keep kyc risk level in sync (#7339)
  tarpon/src/lambdas/hammerhead-change-mongodb-consumer/app.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend

Updated migration (#7340)
  tarpon/scripts/migrations/post-deployment/2025.07.04T07.04.09.remove-user-api-tags-comments.ts
Labels: backend

init dynamo for repo (#7344)
  tarpon/src/lambdas/hammerhead-change-mongodb-consumer/app.ts
Labels: backend

Fix CI Issue because of Backend of Risk Classification Version History (#7342)
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/ActivityTab/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/RiskClassification/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/RiskClassificationSimulationResults/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/BasicDetailsStep/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/RiskFactorConfigurationStep/LogicDefinitionCard/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/RiskFactorConfigurationStep/ParametersTable/ValuesTable/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/RiskItem/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/index.tsx
  phytoplankton-console/src/pages/transactions-item/TransactionEventsTable/index.tsx
  phytoplankton-console/src/pages/transactions-item/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserActivityCard/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserEvents.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/index.tsx
  phytoplankton-console/src/pages/users/users-list/users-table.tsx
  phytoplankton-console/src/utils/risk-levels.tsx
Labels: frontend

Change button colour to Blue for Super Admin Panel (#7337)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
Labels: frontend

Add Tags in Contact Details (#7347)
  phytoplankton-console/src/pages/users-item/UserDetails/shared/ContactDetailsCard/index.tsx
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/logic-evaluator/variables/__tests__/resources/entity-variables.json
Labels: backend, frontend

:hammer: Sanctions Screening Details Refactoring (#7093)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2025.06.08T10.34.43.trigget_screening_details_batch_job.ts
  tarpon/scripts/migrations/pre-deployment/2025.06.08T10.34.43.create-default-screening-counter.ts
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/sanctions-screening-details-migration.ts
  tarpon/src/services/counter/repository.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/repositories/sanctions-screening-details-repository.ts
  tarpon/src/utils/clickhouse/definition.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend

FEAT: move AI detection under rules segmented tabs (#7349)
  phytoplankton-console/src/locales/en-US/menu.ts
  phytoplankton-console/src/pages/ml-models/index.tsx
  phytoplankton-console/src/pages/rules/index.tsx
  phytoplankton-console/src/services/routing/index.ts
Labels: frontend

FIX: increase cleared hit count for consumer sampler (#7298)
  tarpon/src/core/seed/raw-data/sanctions-search.ts
Labels: backend

Implement AWS OpenSearch Serverless (#7133)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  tarpon/docker-compose.yaml
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/package.json
  tarpon/scripts/esbuild.js
  tarpon/scripts/migrations/migrator.ts
  tarpon/scripts/migrations/post-deployment/2025.05.20T12.06.49.fill-opensearch-indexes.ts
  tarpon/src/core/policies/policy-generator.ts
  tarpon/src/lambdas/api-key-authorizer/app.ts
  tarpon/src/lambdas/jwt-authorizer/app.ts
  tarpon/src/services/batch-jobs/delta-sanctions-batch-job-runner.ts
  tarpon/src/services/batch-jobs/sanctions-data-fetch-job-runner.ts
  tarpon/src/services/sanctions/providers/acuris-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/repositories/sanctions-repository.ts
  tarpon/src/utils/opensearch-definitions.ts
  tarpon/src/utils/opensearch-utils.ts
  tarpon/yarn.lock
Labels: backend, infra, frontend

Reasons collection to Dynamo (#7012)
  tarpon/scripts/migrations/post-deployment/2025.05.26T09.13.05.reasons-dynamo-clickhouse-backfill.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/services/tenants/reasons-service.ts
  tarpon/src/services/tenants/repositories/reasons/__tests__/helpers.ts
  tarpon/src/services/tenants/repositories/reasons/__tests__/reasons-repository.test.ts
  tarpon/src/services/tenants/repositories/reasons/dynamo-repository.ts
  tarpon/src/services/tenants/repositories/reasons/reasons-repository.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend

User Tags in CaseAggregates (#7300)
  tarpon/scripts/migrations/post-deployment/2025.06.30T11.44.43.update-aggregate-tags.ts
  tarpon/src/core/seed/samplers/cases.ts
  tarpon/src/services/alerts/external-alerts-management-service.ts
  tarpon/src/services/cases/case-creation-service.ts
  tarpon/src/utils/case.ts
Labels: backend

Workflows CRUD bulk GET route + enabled field (#7247)
  tarpon/lib/openapi/internal/workflow-models.yaml
  tarpon/lib/openapi/internal/workflow-routes.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/scripts/openapi/openapi_generate_sdk.ts
  tarpon/src/lambdas/console-api-workflow/app.ts
  tarpon/src/services/workflow/index.ts
Labels: backend

Simulation Collection to DynamoDb+ClickHouse (#7055)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2025.06.02T10.55.59.simulation-task-dynamo-clickhouse-backfill.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/core/dynamodb/dynamodb-stream-consumer-builder.ts
  tarpon/src/core/dynamodb/dynamodb-stream-utils.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/batch-jobs/dynamodb-clickhouse-backfill-job-runner.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/services/simulation/repositories/__tests__/simulation-result-repository.test.ts
  tarpon/src/services/simulation/repositories/__tests__/simulation-task-repository.test.ts
  tarpon/src/services/simulation/repositories/__tests__/utils.ts
  tarpon/src/services/simulation/repositories/clickhouse-simulation-result-repository.ts
  tarpon/src/services/simulation/repositories/clickhouse-simulation-task-repository.ts
  tarpon/src/services/simulation/repositories/dynamo-simulation-result-repository.ts
  tarpon/src/services/simulation/repositories/dynamo-simulation-task-repository.ts
  tarpon/src/services/simulation/repositories/simulation-result-repository.ts
  tarpon/src/services/simulation/repositories/simulation-task-repository.ts
  tarpon/src/utils/clickhouse/definition.ts
  tarpon/src/utils/dynamodb.ts
  tarpon/src/utils/mongodb-definitions.ts
  tarpon/src/utils/pagination.ts
Labels: backend

Return partial alerts reponse (#7333)
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/services/alerts/repository.ts
Labels: backend, frontend

feat: ignore and log unwanted tenants from some consumers (#7314)
  tarpon/src/lambdas/mongo-db-trigger-consumer/index.ts
  tarpon/src/lambdas/request-logger/app.ts
  tarpon/src/services/audit-log/repositories/auditlog-repository.ts
  tarpon/src/utils/clickhouse/utils.ts
  tarpon/src/utils/tenant.ts
Labels: backend

Update contains in list logic (#7313)
  tarpon/src/services/list/repositories/list-repository.ts
  tarpon/src/services/logic-evaluator/operators/__tests__/contains-in-lists.test.ts
  tarpon/src/services/logic-evaluator/operators/contains-in-lists.ts
Labels: backend

Case workflow templates (#7172)
  tarpon/lib/workflows/case/maker.json
  tarpon/lib/workflows/case/makerChecker.json
  tarpon/lib/workflows/case/makerCheckerDoubleEscalation.json
  tarpon/lib/workflows/case/makerCheckerEscalation.json
  tarpon/lib/workflows/case/makerEscalation.json
Labels: backend

Migrate Rule-118 to V8 engine (#7241)
  tarpon/src/services/logic-evaluator/operators/__tests__/internal-levi-dist.test.ts
  tarpon/src/services/logic-evaluator/operators/index.ts
  tarpon/src/services/logic-evaluator/operators/internalLeviDistance.ts
  tarpon/src/services/logic-evaluator/operators/types.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/payment-method-name-levensthein-distance.test.ts
  tarpon/src/services/rules-engine/v8-migrations/index.ts
Labels: backend

Feat: Age column on clickhouse with updated logic (#7304)
  tarpon/src/services/alerts/clickhouse-repository.ts
  tarpon/src/services/alerts/repository.ts
  tarpon/src/services/cases/clickhouse-repository.ts
  tarpon/src/services/notifications/clickhouse-repository.ts
  tarpon/src/services/simulation/repositories/clickhouse-simulation-result-repository.ts
  tarpon/src/services/simulation/repositories/clickhouse-simulation-task-repository.ts
  tarpon/src/utils/pagination.ts
Labels: backend

Fix workflow types (#7358)
  phytoplankton-console/src/components/WorkflowBuilder/story.tsx
  phytoplankton-console/src/components/WorkflowBuilder/types.ts
  phytoplankton-console/src/pages/workflows/serialization.ts
  phytoplankton-console/src/pages/workflows/workflows-create-page/index.tsx
  phytoplankton-console/src/pages/workflows/workflows-page/workflows-library/data.ts
Labels: frontend

Remove ENG from 314a
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
Labels: frontend

Created Change count aggregation Function (#7276)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/steps/RuleParametersStep/utils.ts
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/logic-evaluator/variable-aggregators/__tests__/change-count.test.ts
  tarpon/src/services/logic-evaluator/variable-aggregators/change-count.ts
  tarpon/src/services/logic-evaluator/variable-aggregators/index.ts
Labels: backend, frontend

Fix transactions view for user's transaction (#7350)
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/helpers.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/index.tsx
Labels: frontend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

pipeline:
  - bin/**
