Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, raptor, pipeline

Fix: V8 String functions (#4299)
  tarpon/src/services/rules-engine/v8-functions/__tests__/case-conversion.test.ts
  tarpon/src/services/rules-engine/v8-functions/__tests__/truncate-decimal.test.ts
  tarpon/src/services/rules-engine/v8-functions/__tests__/type-conversion.test.ts
  tarpon/src/services/rules-engine/v8-functions/case-conversion.ts
  tarpon/src/services/rules-engine/v8-functions/timestamp-diff-seconds.ts
  tarpon/src/services/rules-engine/v8-functions/truncate-decimals.ts
  tarpon/src/services/rules-engine/v8-functions/type-convertion.ts
  tarpon/src/services/rules-engine/v8-functions/types.ts
Labels: backend

Fix: Operators Test Not working as expected (#4312)
  tarpon/src/services/rules-engine/v8-engine/__tests__/index.test.ts
Labels: backend

Use GPT4 for forensics (#4054)
  phytoplankton-console/src/components/Narrative/index.tsx
  phytoplankton-console/src/pages/case-management/components/Copilot/CopilotButtonContent.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/package.json
  tarpon/src/lambdas/console-api-copilot/app.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/batch-jobs/files-ai-summary-batch-job-runner.ts
  tarpon/src/services/copilot/__tests__/auto-narrative-service.llm.test.ts
  tarpon/src/services/copilot/attributes/__tests__/builder.test.ts
  tarpon/src/services/copilot/attributes/ai-sources.ts
  tarpon/src/services/copilot/attributes/builder.ts
  tarpon/src/services/copilot/attributes/case-attribute-builder.ts
  tarpon/src/services/copilot/auto-narrative-service.ts
  tarpon/src/services/copilot/copilot-service.ts
  tarpon/src/services/copilot/questions/__tests__/autocompletion.llm.ts
  tarpon/src/services/copilot/questions/autocompletion-service.ts
  tarpon/src/services/copilot/retrieval-service.ts
  tarpon/src/services/merchant-monitoring/__tests__/merchant-summariser.llm.ts
  tarpon/src/services/merchant-monitoring/merchant-monitoring-scrape.ts
  tarpon/src/services/merchant-monitoring/merchant-summariser.ts
  tarpon/src/services/rules-engine/rule-service.ts
  tarpon/src/utils/openai.ts
  tarpon/yarn.lock
Labels: backend, frontend

Serialize filter inputs in audit log page to url (#4327)
  phytoplankton-console/src/pages/auditlog/components/AuditLog/AuditLog.tsx
  phytoplankton-console/src/pages/auditlog/components/AuditLog/helpers.ts
Labels: frontend

User activity log runs into an error (#4313)
  phytoplankton-console/src/components/ActivityCard/helpers.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserActivityCard/index.tsx
Labels: frontend

Use latest geoip data (#4247)
  lib/secrets/secrets.ts
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/constants.ts
  tarpon/package.json
  tarpon/scripts/esbuild.js
  tarpon/src/services/risk-scoring/__tests__/ipAddressCountry.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/high-risk-ip-address-countries.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/ip-address-unexpected-location.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/sender-location-changes-frequency.test.ts
  tarpon/src/services/rules-engine/transaction-rules/sender-location-changes-frequency.ts
  tarpon/src/services/rules-engine/utils/geoip.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/transaction-ip-info.test.ts
  tarpon/src/services/rules-engine/v8-variables/transaction-ip-info.ts
  tarpon/yarn.lock
Labels: backend, infra

Inaccurate analytics column header (#4336)
  phytoplankton-console/src/pages/dashboard/analysis/components/RulesHitCard/index.tsx
Labels: frontend

Delete existing lists before seeding new lists (#4316)
  tarpon/scripts/migrations/post-deployment/2024.07.15T12.51.54.delete-lists.ts
  tarpon/src/core/seed/dynamodb.ts
  tarpon/src/services/list/repositories/list-repository.ts
Labels: backend

Run streaming job on EMR (#4286)
  viper/infra/main.ts
  viper/poetry.lock
  viper/pyproject.toml
  viper/src/aws/glue.py
  viper/src/jobs/jobs.py
  viper/src/kinesis/kinesis_reader.py
Labels: viper

Create VPC on dev
  viper/infra/main.ts
Labels: viper

Don't log error if CA search cannot be found (#4340)
  tarpon/src/lambdas/incoming-webhooks/app.ts
  tarpon/src/services/sanctions/index.ts
Labels: backend

Give viper access to kinesis
  viper/infra/main.ts
Labels: viper

Run EMR in public subnet
  viper/infra/main.ts
Labels: viper

Re add VPC endpoints
  viper/infra/main.ts
Labels: viper

Use private subnet
  viper/infra/main.ts
Labels: viper

Fix: V8: Boolean parameters are not saved down (#4342)
  phytoplankton-console/src/components/ui/LogicBuilder/widgets.tsx
Labels: frontend

Fix bug for narrative generation (#4331)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/copilot/attributes/ai-sources.ts
  tarpon/src/services/copilot/attributes/builder.ts
  tarpon/src/services/copilot/attributes/case-attribute-builder.ts
Labels: backend

Fix: V8 variable configuration error (#4344)
  tarpon/src/services/rules-engine/rule-service.ts
Labels: backend

Bold the placeholders on AI copilot input (new branch) (#4337)
  phytoplankton-console/src/components/Narrative/index.tsx
  phytoplankton-console/src/pages/case-management/components/Copilot/CopilotButtonContent.tsx
Labels: frontend

Upgrade aws-cdk from 2.146.0 to 2.147.1
  package.json
  yarn.lock
Labels: none

Refactoring: AlertsTable (#4332)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
Labels: frontend

Require timestamp filter to be applied for transactions table (#4306)
  phytoplankton-console/src/components/library/Filter/AutoFilter/index.tsx
  phytoplankton-console/src/components/library/Filter/types.ts
  phytoplankton-console/src/components/library/Form/types.ts
  phytoplankton-console/src/components/library/QuickFilter/QuickFilterBase/index.tsx
  phytoplankton-console/src/components/library/QuickFilter/subtypes/InputQuickFilter/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/helpers/queryAdapter.ts
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  tarpon/scripts/migrations/pre-deployment/2024.07.11T07.42.35.update-transaction-collection-indexes.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend, frontend

Nuke transact comply enviroment (#4353)
  lib/config/config-branding-json.json
  phytoplankton-console/src/branding/zigram-favicon.png
  phytoplankton-console/src/branding/zigram-logo-dark.svg
  phytoplankton-console/src/branding/zigram-logo-light.png
  phytoplankton-console/src/utils/branding.ts
  tarpon/cdktf.json
  tarpon/lib/configs/auth0/tenant-config-sandbox-zigram.ts
  tarpon/lib/configs/auth0/tenant-config.ts
  tarpon/lib/openapi/openapi-internal-constants.ts
Labels: backend, frontend

Make human review tab first on sanctions (#4343)
  phytoplankton-console/src/components/ScreeningMatchList/index.tsx
Labels: frontend

Show tenants failed to be deleted and tenants marked for delete (#4330)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/services/tenants/index.ts
  tarpon/src/services/tenants/repositories/tenant-repository.ts
Labels: backend, frontend

Fix Sentry Case Conversion Error (#4355)
  tarpon/src/services/rules-engine/v8-functions/case-conversion.ts
Labels: backend

Do not call hit search API if filterHitIds is empty (#4351)
  phytoplankton-console/src/components/ScreeningMatchList/index.tsx
  tarpon/src/services/sanctions/index.ts
Labels: backend, frontend

Bold the placeholders on AI copilot input (e2e test udpates) (#4356)
  phytoplankton-console/cypress/e2e/alerts/alerts-close-test.cy.ts
  phytoplankton-console/cypress/e2e/cases/case-details-escalate.cy.ts
  phytoplankton-console/cypress/e2e/cases/cases-closing-tests.cy.ts
  phytoplankton-console/cypress/e2e/cases/cases-escalate-test.cy.ts
  phytoplankton-console/cypress/e2e/cases/copilot-test.cy.ts
  phytoplankton-console/cypress/support/utils.ts
Labels: frontend

fix migration
  tarpon/scripts/migrations/pre-deployment/2024.07.11T07.42.35.update-transaction-collection-indexes.ts
Labels: backend

Skip calling maxmind geoIp API for private ips (#4360)
  tarpon/package.json
  tarpon/src/services/rules-engine/utils/geoip.ts
  tarpon/yarn.lock
Labels: backend

Fix unexpectedly created cases triggered by user rules (#4363)
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/batch-jobs/ongoing-screening-user-rule-batch-job-runner.ts
  tarpon/src/services/cases/case-creation-service.ts
Labels: backend

Disable wrapping for status tags (#4346)
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/components/library/Tag/RuleActionTag/index.tsx
  phytoplankton-console/src/components/library/Tag/story.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/rules/RulesTable/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
Labels: frontend

Hide IBAN if IBAN resolution FF not enabled (#4349)
  phytoplankton-console/src/pages/sanctions/activity/index.tsx
Labels: frontend

Add Post Deployment for Tarpon Sandbox Asia 1 (#4369)
  bin/cdk-orca-pipeline-stack.ts
Labels: pipeline

Upgrade openai from 4.47.3 to 4.52.2
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend

Update Packages to Have same Version (#4370)
  package.json
  phytoplankton-console/package.json
  phytoplankton-console/yarn.lock
  tarpon/package.json
  tarpon/yarn.lock
  yarn.lock
Labels: backend, frontend

fix tooltip (#4359)
  phytoplankton-console/src/pages/users-item/UserDetails/UserTrsRiskDisplay.tsx
Labels: frontend

Fix co-pilot test e2e (#4368)
  phytoplankton-console/cypress/e2e/cases/copilot-test.cy.ts
Labels: frontend

Show simulation iteration partial result and progress (#4345)
  phytoplankton-console/src/components/Simulation/Progress/index.tsx
  phytoplankton-console/src/components/Simulation/Progress/style.module.less
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.module.less
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/RiskClassificationSimulationResults/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/RiskClassificationSimulationResults/styles.module.less
  phytoplankton-console/src/pages/risk-levels/risk-factors/RiskFactorsSimulation/SimulationHistoryPage/SimulationHistory/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/RiskFactorsSimulation/SimulationResult/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/RiskFactorsSimulation/SimulationResult/styles.module.less
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/SimulationStatistics/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/style.module.less
  phytoplankton-console/src/pages/rules/simulation-history/SimulationHistoryTable/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/package.json
  tarpon/src/services/batch-jobs/__tests__/simulation-beacon-batch-job-runner.test.ts
  tarpon/src/services/batch-jobs/__tests__/simulation-pulse-batch-job-runner.test.ts
  tarpon/src/services/batch-jobs/__tests__/simulation-risk-scoring-batch-job.test.ts
  tarpon/src/services/batch-jobs/simulation-beacon-batch-job-runner.ts
  tarpon/src/services/batch-jobs/simulation-pulse-batch-job-runner.ts
  tarpon/src/services/batch-jobs/simulation-risk-scoring-batch-job-runner.ts
  tarpon/src/services/simulation/repositories/simulation-result-repository.ts
  tarpon/src/services/simulation/repositories/simulation-task-repository.ts
  tarpon/yarn.lock
Labels: backend, frontend

Fix subnet for glue deployment (#4374)
  viper/infra/main.ts
Labels: viper

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

raptor:
  - raptor/**

pipeline:
  - bin/**
