Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, raptor, pipeline

Improve sanctions - bug fixes (#5656)
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/lambdas/cron-job-daily/app.ts
  tarpon/src/services/batch-jobs/sanctions-data-fetch-job-runner.ts
  tarpon/src/services/sanctions/data-fetchers.ts
  tarpon/src/services/sanctions/repositories/sanctions-repository.ts
Labels: backend

Fix running ongoing-screening rules (#5643)
  tarpon/src/services/batch-jobs/ongoing-screening-user-rule-batch-job-runner.ts
Labels: backend

Create rule for screening on payment details (#5619)
  phytoplankton-console/src/components/SanctionsWhitelistTable/helpers.tsx
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/payment-details-screening.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/sanctions-counterparty.test.ts
  tarpon/src/services/rules-engine/transaction-rules/index.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/transaction-rules/payment-details-screening-base.ts
  tarpon/src/services/rules-engine/transaction-rules/payment-details-screening.ts
Labels: backend, frontend

Ensure that cases generated for demos are always from unique users (#5658)
  tarpon/src/core/seed/data/cases.ts
Labels: backend

DEMO-FIX: Fixed user to different risk levels, cra scores and krs score. Risk scoring v8 to show correct avgerage ars score. (#5669)
  tarpon/src/core/seed/data/users.ts
  tarpon/src/core/seed/dynamodb.ts
  tarpon/src/core/seed/index.ts
  tarpon/src/core/seed/samplers/risk_score_components.ts
  tarpon/src/core/seed/samplers/users.ts
Labels: backend

Bulk payment approval optimization (#5537)
  tarpon/src/lambdas/console-api-transaction/app.ts
  tarpon/src/services/cases/index.ts
  tarpon/src/services/rules-engine/repositories/dynamodb-transaction-repository.ts
  tarpon/src/services/rules-engine/repositories/transaction-event-repository.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
Labels: backend

Experiment reverse searching in ongoing screening for non comply-advantage tenants (#5670)
  .github/workflows/test_tarpon.yml
  tarpon/package.json
  tarpon/src/services/batch-jobs/__tests__/ongoing-screening-user-rule-batch-job-runner.test.ts
  tarpon/src/services/batch-jobs/ongoing-screening-user-rule-batch-job-runner.ts
  tarpon/src/services/batch-jobs/sanctions-data-fetch-job-runner.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/user-rules/rule.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/utils/mongodb-definitions.ts
  tarpon/src/utils/mongodb-utils.ts
  tarpon/yarn.lock
Labels: backend

Enable Narrative templates for Payment approvals (#5667)
  phytoplankton-console/src/pages/case-management/components/PaymentApprovalButton/PaymentApprovalModal.tsx
Labels: frontend

Fix fetching default provider (#5673)
  tarpon/src/services/sanctions/utils.ts
Labels: backend

Fix index creation condition (#5675)
  tarpon/src/utils/mongodb-utils.ts
Labels: backend

FIX: fixed demo data creation issue. (#5678)
  tarpon/src/core/seed/index.ts
Labels: backend

BUG-FIX: fixed clearing of timestamp to load full transaction table (#5628)
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TransactionsList/index.tsx
  phytoplankton-console/src/pages/transactions/index.tsx
Labels: frontend

Fix order on y-axis (#5677)
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/SimulationResult/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/RiskClassificationSimulationResults/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/components/Charts/index.tsx
Labels: frontend

Init Nango Integration (#5674)
  bin/cdk-orca-pipeline-stack.ts
  bin/utils/tarpon-deploy-stage.ts
  nango-integrations/.gitignore
  nango-integrations/freshdesk/syncs/freshdesk_tickets.ts
  nango-integrations/nango.yaml
  nango-integrations/package.json
  nango-integrations/scripts/deploy.ts
  nango-integrations/tsconfig.json
  nango-integrations/utils/secrets.ts
  nango-integrations/yarn.lock
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/package.json
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/@types/nango/index.d.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/core/dynamodb/dynamodb-stream-consumer-builder.ts
  tarpon/src/core/dynamodb/dynamodb-stream-utils.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/lambdas/incoming-webhooks/app.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/nango-data-fetch.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/services/crm/index.ts
  tarpon/src/services/crm/repository.ts
  tarpon/src/services/nango/index.ts
  tarpon/src/services/nango/repository.ts
  tarpon/src/utils/clickhouse/definition.ts
  tarpon/yarn.lock
Labels: backend, infra, frontend, pipeline

Added Execution Mode and Run Mode column in My Rules table (#5634)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/steps/BasicDetailsStep/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/BasicDetailsStep/index.tsx
  phytoplankton-console/src/pages/rules/my-rules/index.tsx
Labels: frontend

Mark last 3 days transactions in the rebuild and use tx applied marker to skip updating aggregation (#5681)
  tarpon/src/services/logic-evaluator/engine/aggregation-repository.ts
  tarpon/src/services/logic-evaluator/engine/index.ts
Labels: backend

[Security] Upgrade react-email to 3.0.3 (#5682)
  email-templates/package-lock.json
  email-templates/package.json
Labels: none

Fix: Webhook attempt page pagination not working (#5679)
  phytoplankton-console/src/pages/settings/components/WebhookDeliveryAttemptsTable.tsx
Labels: frontend

Added source of funds & wealth column in transaction table (#5641)
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-transaction/services/transaction-service.ts
  tarpon/src/services/rules-engine/repositories/clickhouse-repository.ts
Labels: backend, frontend

Get targetUsers directly from collection (#5687)
  tarpon/src/services/batch-jobs/ongoing-screening-user-rule-batch-job-runner.ts
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend

[Security] Upgrade @sentry/esbuild-plugin from 2.16.1 to 2.22.7 (#5685)
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend

[Security] Patch aws-cdk (#5684)
  package.json
  phytoplankton-console/package.json
  phytoplankton-console/yarn.lock
  tarpon/package.json
  tarpon/yarn.lock
  yarn.lock
Labels: backend, frontend

Status Distribution Of Cases and Alerts on Clickhouse (#5672)
  tarpon/src/services/analytics/dashboard-metrics/__tests__/dashboard-stats-repository.case-management-stats.test.ts
  tarpon/src/services/analytics/dashboard-metrics/case-stats.ts
  tarpon/src/utils/clickhouse/definition.ts
Labels: backend

V8 filters loading too slow, delete button doesnt work (#5594)
  phytoplankton-console/src/components/ui/LogicBuilder/helpers.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/RuleLogicBuilder/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/VariableFilters/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/helpers.ts
Labels: frontend

Add rule hit count and executed count for ongoing scheduled rules (#5680)
  tarpon/src/services/batch-jobs/ongoing-screening-user-rule-batch-job-runner.ts
Labels: backend

Use linux amd 64 to consistently create images while using different build environments (#5688)
  tarpon/infra/cdk-utils/cdk-fargate-utils.ts
Labels: backend, infra

Distribution by closing reason (#5664)
  tarpon/src/services/analytics/dashboard-metrics/__tests__/dashboard-stats-repository.case-management-stats.test.ts
  tarpon/src/services/analytics/dashboard-metrics/case-stats.ts
Labels: backend

All the materialised columns required (#5686)
  tarpon/scripts/migrations/pre-deployment/2024.12.30T13.07.34.add-values-to-new-field-in-old-data.ts
  tarpon/src/services/analytics/dashboard-metrics/rule-stats.ts
  tarpon/src/utils/clickhouse/definition.ts
  tarpon/src/utils/clickhouse/utils.ts
Labels: backend

Latest Team stats on clickhouse (#5661)
  tarpon/src/services/analytics/dashboard-metrics/__tests__/dashboard-stats-repository.latest-team.test.ts
  tarpon/src/services/analytics/dashboard-metrics/latest-team-stats.ts
  tarpon/src/utils/clickhouse/queries/latest-team-stats-clickhouse.ts
Labels: backend

Alert priority distribution on clickhouse (#5666)
  tarpon/src/services/analytics/dashboard-metrics/__tests__/dashboard-stats-repository.case-management-stats.test.ts
  tarpon/src/services/analytics/dashboard-metrics/case-stats.ts
Labels: backend

Team overview Stats independent queries (#5654)
  tarpon/scripts/migrations/post-deployment/2024.12.03T12.25.19.report_data_to_clickhouse.ts
  tarpon/src/services/analytics/dashboard-metrics/__tests__/dashboard-stats-repository.team.test.ts
  tarpon/src/services/analytics/dashboard-metrics/overview-stats.ts
  tarpon/src/services/analytics/dashboard-metrics/team-stats.ts
  tarpon/src/services/dashboard/repositories/dashboard-stats-repository.ts
  tarpon/src/utils/clickhouse/definition.ts
  tarpon/src/utils/clickhouse/materialised-views-queries.ts
  tarpon/src/utils/clickhouse/utils.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend

Use hash for request object in sanctions-seaches collection (#5647)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/pre-deployment/2024.12.23T08.34.10.add-request-hash-in-sanction-search.ts
  tarpon/src/services/sanctions/__tests__/index.test.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/repositories/sanctions-search-repository.ts
  tarpon/src/utils/mongodb-definitions.ts
  tarpon/src/utils/object.ts
Labels: backend

team sla stats on clickhouse (#5693)
  tarpon/src/services/analytics/dashboard-metrics/__tests__/dashboard-stats-repository.sla-team-stats.test.ts
  tarpon/src/services/analytics/dashboard-metrics/sla-team-stats.ts
  tarpon/src/utils/clickhouse/definition.ts
Labels: backend

BUG-FIX: reset index when there is overflow (#5696)
  tarpon/src/core/seed/data/transactions.ts
Labels: backend

Increase provisioned lambda concurrency in SG (#5699)
  lib/config/config-prod-asia-1.ts
Labels: none

Fix: 'from' (2025-01-01-00-0 should be less or equal to 'to' (2024-12-31-23-5) ) (#5701)
  tarpon/src/services/logic-evaluator/engine/aggregation-repository.ts
Labels: backend

Revert "Remove redundant call to get role" (#5702)
  tarpon/src/services/roles/index.ts
Labels: backend

Nuke IBAN resolution (#5691)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/pages/sanctions/activity/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/cloudwatch/metrics.ts
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/lambdas/transaction-aggregation/app.ts
  tarpon/src/services/iban/__tests__/index.test.ts
  tarpon/src/services/iban/index.ts
  tarpon/src/services/iban/providers/apininjas.ts
  tarpon/src/services/iban/providers/ibanapi.ts
  tarpon/src/services/iban/providers/index.ts
  tarpon/src/services/iban/providers/openiban.ts
  tarpon/src/services/iban/providers/types.ts
  tarpon/src/services/iban/repositories/iban-api-repository.ts
  tarpon/src/services/iban/types.ts
  tarpon/src/services/metrics/api-usage-metrics-service.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/payment-details-screening.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/sanctions-counterparty.test.ts
  tarpon/src/services/rules-engine/transaction-rules/high-traffic-volume-between-same-users.ts
  tarpon/src/services/rules-engine/transaction-rules/payment-details-screening-base.ts
  tarpon/src/services/rules-engine/transaction-rules/rule.ts
  tarpon/src/services/rules-engine/user-rules/__tests__/sanctions-bank-name.test.ts
  tarpon/src/services/rules-engine/user-rules/rule.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-bank-name.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/test-utils/rule-test-utils.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend, frontend

Updating feature flags to have label and value (#5700)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/CreateTenantModal/index.tsx
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
Labels: frontend

Update text 'Execution Mode'->'Execution mode' in My Rules Table (#5703)
  phytoplankton-console/src/pages/rules/my-rules/index.tsx
Labels: frontend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

raptor:
  - raptor/**

pipeline:
  - bin/**
