Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, raptor, pipeline

Fix role Assigned to Filter (#4825)
  phytoplankton-console/src/pages/case-management/CaseTableWrapper.tsx
  phytoplankton-console/src/pages/case-management/common.ts
  tarpon/src/services/alerts/repository.ts
Labels: backend, frontend

Allow passing of last transaction timestamps (#4838)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/logic-evaluator/variables/__tests__/resources/entity-variables.json
Labels: backend

Use Context Error Fix (#4840)
  phytoplankton-console/src/components/AccountMessage/index.tsx
Labels: frontend

Validate transaction originUserId/destinationUserId by default (#4841)
  tarpon/src/lambdas/public-api-rules-engine/app.ts
Labels: backend

Fix stage and region (#4843)
  lib/utils/env.ts
  tarpon/src/services/tenants/index.ts
Labels: backend

#FR-5565: Bulk upload to Lists (#4793)
  phytoplankton-console/src/components/ui/Typography/index.tsx
  phytoplankton-console/src/pages/accounts/Team/index.tsx
  phytoplankton-console/src/pages/lists-item/ImportCsvModal/index.module.less
  phytoplankton-console/src/pages/lists-item/ImportCsvModal/index.tsx
  phytoplankton-console/src/pages/lists-item/ItemsTable/index.tsx
  phytoplankton-console/src/pages/lists-item/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/console-api-account/app.ts
  tarpon/src/lambdas/console-api-list-importer/app.ts
  tarpon/src/services/list/index.ts
  tarpon/src/services/list/repositories/__tests__/list-repository.test.ts
  tarpon/src/services/list/repositories/list-repository.ts
Labels: backend, frontend

Fix sanctions flaky test (#4844)
  tarpon/src/services/sanctions/__tests__/sanctions-repository.test.ts
Labels: backend

Auth0 webooks (#4836)
  phytoplankton-console/src/components/AccountMessage/index.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/Auth0ErrorWrapper/index.tsx
  tarpon/infra/auth0/cdktf-auth0-resources.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/incoming-webhooks/app.ts
  tarpon/src/services/accounts/index.ts
Labels: backend, infra, frontend

Workaround on PNB Tags Comparison (#4842)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/logic-evaluator/variables/__tests__/pnb-tags-keys.test.ts
  tarpon/src/services/logic-evaluator/variables/__tests__/resources/entity-variables.json
  tarpon/src/services/logic-evaluator/variables/index.ts
  tarpon/src/services/logic-evaluator/variables/pnb-tags-keys.ts
Labels: backend, frontend

Fix async user rule not running and sentry error related to sanctinos (#4851)
  phytoplankton-console/src/components/ScreeningMatchList/index.tsx
  tarpon/src/services/rules-engine/rules-engine-service.ts
Labels: backend, frontend

Fix daily api usage metrics batch job (#4856)
  tarpon/src/services/metrics/api-usage-metrics-service.ts
Labels: backend

Limit SLA policies to 3 in rule configuration (#4854)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/AlertCreationDetailsStep/SlaPolicyInput/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Labels: backend, frontend

PNB front-end screening (#4813)
  lib/constants/acronyms.ts
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/NumberRangeInput/index.module.less
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/NumberRangeInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/types.ts
  phytoplankton-console/src/pages/sanctions/search/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2024.09.24T14.08.54.update-R-16-parameters.ts
  tarpon/scripts/migrations/post-deployment/2024.09.27T11.38.43.recreate-dow-jones-dataset.ts
  tarpon/scripts/migrations/pre-deployment/2024.09.24T14.01.59.update-R-16-parameters.ts
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/services/batch-jobs/__tests__/ongoing-screening-user-rule-batch-job-runner.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/library.test.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/user-rules/__tests__/sanctions-consumer-user.test.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-consumer-user.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
  tarpon/src/services/rules-engine/utils/rule-schema-utils.ts
  tarpon/src/services/sanctions/__tests__/dow-jones.test.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/providers/dow-jones-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
Labels: backend, frontend

Dont throw error on file not found just early return (#4858)
  tarpon/src/services/sanctions/providers/dow-jones-provider.ts
Labels: backend

Fix risk factor component regression and migrate affected transactions (#4846)
  tarpon/scripts/migrations/post-deployment/2024.09.29T06.56.55.add-missing-ars-score-breakdown.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
Labels: backend

‘Remove all’ from Lists (#4749)
  phytoplankton-console/src/pages/lists-item/ItemsTable/index.tsx
  phytoplankton-console/src/pages/lists-item/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/lambdas/console-api-list-importer/app.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/services/list/index.ts
  tarpon/src/services/list/repositories/__tests__/list-repository.test.ts
  tarpon/src/services/list/repositories/list-repository.ts
  tarpon/src/services/logic-evaluator/operators/match-list.ts
  tarpon/src/services/rules-engine/transaction-rules/blacklist-transaction-related-value.ts
  tarpon/src/services/rules-engine/user-filters/whitelist-users.ts
Labels: backend, frontend

#FR-5605: Implement Sanctions updates (UI updates) (#4784)
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/ListingCard/index.tsx
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/index.tsx
  phytoplankton-console/src/components/SanctionsHitsTable/index.module.less
  phytoplankton-console/src/components/SanctionsHitsTable/index.tsx
  phytoplankton-console/src/components/ScreeningMatchList/index.module.less
  phytoplankton-console/src/components/ScreeningMatchList/index.tsx
  phytoplankton-console/src/components/library/Modal/index.tsx
  phytoplankton-console/src/components/library/Modal/style.module.less
  phytoplankton-console/src/components/library/Tabs/index.module.less
  phytoplankton-console/src/components/library/Tabs/index.tsx
  phytoplankton-console/src/components/library/Tabs/story.tsx
  phytoplankton-console/src/components/library/Tag/UpdatedTag/index.tsx
  phytoplankton-console/src/components/ui/colors.less
  phytoplankton-console/src/pages/case-management/AlertTable/SanctionsHitStatusChangeModal/index.tsx
Labels: frontend

Fix dormancy configuration UI (#4814)
  phytoplankton-console/src/components/library/SelectionGroup/index.tsx
  phytoplankton-console/src/pages/settings/components/SecuritySettings.tsx
Labels: frontend

Show risk level alias in risk scoring builder (#4857)
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/RiskFactorConfigurationStep/LogicDefinitionCard/index.tsx
Labels: frontend

[Snyk] Upgrade @react-email/components from 0.0.23 to 0.0.25 (#4850)
  email-templates/package-lock.json
  email-templates/package.json
Labels: none

Upgrade aws-cdk from 2.154.1 to 2.156.0
  package.json
  yarn.lock
Labels: none

Upgrade aws-cdk-lib from 2.154.1 to 2.156.0
  package.json
  yarn.lock
Labels: none

Upgrade aws-cdk-lib from 2.154.1 to 2.156.0
  lib/package.json
  lib/yarn.lock
Labels: none

Upgrade @aws-sdk/client-sfn from 3.606.0 to 3.645.0
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend

Replace internal name for Default alert creation status (#4860)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/AlertCreationDetailsStep/DefaultAlertStatusInput/index.tsx
Labels: frontend

Add Created at filter for alerts (#4863)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
Labels: frontend

destinationproductType to destinationProductType (#4868)
  tarpon/src/services/logic-evaluator/variables/__tests__/resources/entity-variables.json
  tarpon/src/services/logic-evaluator/variables/pnb-tags-keys.ts
Labels: backend

Fix silo dynamodb table
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

Update Public API schema (#4870)
  tarpon/lib/openapi/public/openapi-public-original.yaml
Labels: backend

Fix Timestamp Canary (#4873)
  tarpon/src/canaries/public-api-canary-tests/index.ts
Labels: backend

Add a role filter for case/alert analytics table (#4796)
  phytoplankton-console/src/pages/dashboard/analysis/components/TeamPerformanceCard/ComopsiteAccountStatisticsTable/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TeamPerformanceCard/CompositeLatestTeamOverview/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TeamPerformanceCard/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2024.09.27T06.49.37.update-roles.ts
  tarpon/src/services/analytics/dashboard-metrics/latest-team-stats.ts
  tarpon/src/services/analytics/dashboard-metrics/team-stats.ts
  tarpon/src/services/analytics/dashboard-metrics/utils.ts
Labels: backend, frontend

Upgrade aws-cdk-lib from 2.156.0 to 2.157.0
  lib/package.json
  lib/yarn.lock
Labels: none

Upgrade aws-cdk from 2.156.0 to 2.157.0
  package.json
  yarn.lock
Labels: none

Upgrade aws-cdk from 2.156.0 to 2.157.0
  package.json
  yarn.lock
Labels: none

Upgrade @aws-sdk/client-sts from 3.606.0 to 3.645.0
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend

Add more validations (#4862)
  tarpon/src/lambdas/public-api-rules-engine/__tests__/app.test.ts
  tarpon/src/lambdas/public-api-rules-engine/app.ts
  tarpon/src/services/batch-import/__tests__/index.test.ts
  tarpon/src/services/batch-import/index.ts
Labels: backend

B4B workaround (#4877)
  tarpon/src/services/rules-engine/repositories/user-event-repository.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/user-rules-engine-service.ts
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend

Limit the max active Console sessions per user (#4882)
  phytoplankton-console/package.json
  phytoplankton-console/src/components/AppWrapper/Providers/ActiveSessionsProvider.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/ApiProvider.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/AuthProvider.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/SettingsProvider.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/index.tsx
  phytoplankton-console/src/pages/settings/components/SecuritySettings.tsx
  phytoplankton-console/src/utils/branding.ts
  phytoplankton-console/yarn.lock
  tarpon/infra/auth0/cdktf-auth0-resources.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/core/middlewares/local-dev.ts
  tarpon/src/core/middlewares/rbac.ts
  tarpon/src/lambdas/console-api-account/app.ts
  tarpon/src/services/accounts/__tests__/index.test.ts
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
Labels: backend, infra, frontend

Remove user IP from active session identifier (#4887)
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/core/middlewares/rbac.ts
  tarpon/src/lambdas/console-api-account/app.ts
  tarpon/src/services/accounts/__tests__/index.test.ts
  tarpon/src/services/accounts/index.ts
Labels: backend

Add a role filter for case/alert analytics table (#4886)
  tarpon/src/services/analytics/dashboard-metrics/utils.ts
Labels: backend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

raptor:
  - raptor/**

pipeline:
  - bin/**
