Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, raptor, pipeline

Initialise rule threshold recommendation system (#6345)
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/components/RuleThresholdRecommendation.tsx
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/constants.ts
  tarpon/lib/lambdas.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/lambdas/action-processing/app.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/lambdas/console-api-rule/app.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/batch-jobs/backfill-action-processing-batch-job-runner.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/services/cases/utils/index.ts
  tarpon/src/services/logic-evaluator/variable-aggregators/stdev.ts
  tarpon/src/services/logic-evaluator/variables/index.ts
  tarpon/src/services/rule-threshold/__tests__/index.test.ts
  tarpon/src/services/rule-threshold/__tests__/utils.test.ts
  tarpon/src/services/rule-threshold/index.ts
  tarpon/src/services/rule-threshold/repository.ts
  tarpon/src/services/rule-threshold/types.ts
  tarpon/src/services/rule-threshold/utils.ts
Labels: backend, infra, frontend

Add permissions for action processing sqs queue in lambda and ec2 (#6375)
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

Add id for user transaction history table (#6371)
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/index.tsx
Labels: frontend

data on clickhouse for hitpay and kpay (#6348)
  tarpon/scripts/migrations/post-deployment/2025.03.12T07.32.23.migrate-to-clickhouse.ts
Labels: backend

[Bugfix] - Fix percentage display in Rule Hit to show two decimal places (#6373)
  phytoplankton-console/src/components/library/Tag/RuleHitInsightsTag/index.tsx
Labels: frontend

Enhance SelectionGroup styles by setting height to 100% for better layout consistency (#6363)
  phytoplankton-console/src/components/library/SelectionGroup/style.module.less
Labels: frontend

Daily Update Clickhouse Tables (#6376)
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/lambdas/console-api-transaction/services/transaction-service.ts
  tarpon/src/lambdas/cron-job-daily/app.ts
  tarpon/src/lambdas/cron-job-hourly/app.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/optimize-clickhouse-batch-job-runner.ts
  tarpon/src/services/copilot/questions/definitions/transactions.ts
  tarpon/src/services/rules-engine/repositories/clickhouse-repository.ts
  tarpon/src/utils/pagination.ts
Labels: backend

Add sanctions search types in entities (#6379)
  tarpon/src/core/seed/raw-data/sanctions-search.ts
Labels: backend

Display risk factor name and description for custom factors (#6374)
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/RiskFactorConfigurationStep/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/index.tsx
Labels: frontend

Fix sanctions activity stats and random fuzziness in demo data (#6362)
  tarpon/src/core/seed/raw-data/sanctions-search.ts
Labels: backend

Design system migration: Text field (#6283)
  phytoplankton-console/src/components/library/NumberInput/__tests__/number-input.dom.test.tsx
  phytoplankton-console/src/components/library/NumberInput/story.tsx
  phytoplankton-console/src/components/library/TextArea/__tests__/text-area.dom.test.tsx
  phytoplankton-console/src/components/library/TextArea/index.tsx
  phytoplankton-console/src/components/library/TextArea/story.tsx
  phytoplankton-console/src/components/library/TextArea/styles.module.less
  phytoplankton-console/src/components/library/TextInput/__tests__/text-input.dom.test.tsx
  phytoplankton-console/src/components/library/TextInput/index.tsx
  phytoplankton-console/src/components/library/TextInput/story.tsx
  phytoplankton-console/src/components/library/TextInput/style.module.less
  phytoplankton-console/src/components/ui/colors.ts
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/AlertCreationDetailsStep/CreationIntervalInput/index.tsx
Labels: frontend

Update rules Page recommended Overlay (#6381)
  phytoplankton-console/src/components/OverviewToolTip/index.module.less
  phytoplankton-console/src/components/OverviewToolTip/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/FalsePositiveTag/index.module.less
  phytoplankton-console/src/pages/case-management/AlertTable/FalsePositiveTag/index.tsx
  phytoplankton-console/src/pages/rules/RulesTable/index.tsx
  phytoplankton-console/src/pages/rules/RulesTable/style.module.less
Labels: frontend

Remove eng tag for Risk scoring V8 for V2 feature flag
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
Labels: frontend

Remove audit log feature flag and make it default (#6382)
  phytoplankton-console/cypress/e2e/cases/cases-comment-test.cy.ts
  phytoplankton-console/src/components/ActivityCard/ScopeSelector/index.tsx
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/services/routing/index.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Labels: backend, frontend

fix: sla-stats dashboard error (#6377)
  tarpon/src/services/analytics/dashboard-metrics/sla-team-stats.ts
Labels: backend

Create demo for rule threshold recommendation (#6385)
  phytoplankton-console/src/components/ui/DurationDisplay/index.tsx
  phytoplankton-console/src/components/ui/icons/downward-line-zig-zag.react.svg
  phytoplankton-console/src/pages/dashboard/analysis/components/widgets/OverviewCard/OverviewCardSection/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/widgets/OverviewCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/widgets/OverviewCard/styles.module.less
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/index.tsx
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/components/ExtendedRowRenderer/index.module.less
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/components/ExtendedRowRenderer/index.tsx
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/components/RuleThresholdRecommendation.tsx
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/components/RuleThresholdRecommendation/index.module.less
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/components/RuleThresholdRecommendation/index.tsx
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  phytoplankton-console/src/utils/ruleThreshold.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/core/seed/mongo.ts
  tarpon/src/services/currency/repository.ts
  tarpon/src/services/rule-threshold/demo-threshold-recommendation.ts
  tarpon/src/services/rule-threshold/index.ts
  tarpon/src/services/rule-threshold/repository.ts
  tarpon/src/services/rule-threshold/types.ts
  tarpon/src/services/rule-threshold/utils.ts
Labels: backend, frontend

Simulation Transaction Hit Result (#6380)
  phytoplankton-console/build/openapi-generate.js
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/SimulationResult/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/RiskClassificationSimulationResults/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/SimulationResults/Transactions.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/SimulationResults/Users.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/SimulationResults/index.module.less
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/openapi/openapi_generate_sdk.ts
  tarpon/src/services/batch-jobs/simulation-beacon-batch-job-runner.ts
  tarpon/src/services/simulation/repositories/simulation-result-repository.ts
  tarpon/src/services/simulation/repositories/simulation-task-repository.ts
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend, frontend

Retain state while switching tabs in ontology (#6148)
  phytoplankton-console/__mocks__/reagraph.ts
  phytoplankton-console/jest.config.js
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/helpers.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemEmbedded/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/UserGraph/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/entity_linking.tsx
  phytoplankton-console/src/pages/users-item/index.tsx
Labels: frontend

FIX: fixed errors while submitting SAR report (#6384)
  tarpon/src/services/batch-jobs/fincen-report-status-fetch.ts
  tarpon/src/services/sar/generators/US/SAR/index.ts
  tarpon/src/services/sar/repositories/report-repository.ts
Labels: backend

:zap: Add KYC6 screening source information (#6386)
  phytoplankton-console/src/branding/KYC6.svg
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/index.tsx
Labels: frontend

New notification implementation (#6316)
  phytoplankton-console/package.json
  phytoplankton-console/src/components/AppWrapper/Providers/ToastsProvider.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/index.tsx
  phytoplankton-console/src/components/library/Message/index.module.less
  phytoplankton-console/src/components/library/Message/index.tsx
  phytoplankton-console/src/components/library/Message/story.tsx
  phytoplankton-console/yarn.lock
Labels: frontend

Fix Optimize and Delete Queries of Clikchouse in Cron Job (#6393)
  tarpon/src/services/batch-jobs/optimize-clickhouse-batch-job-runner.ts
Labels: backend

Correctly fill the sanction search type and migrate existing data (#6369)
  tarpon/scripts/migrations/post-deployment/2025.03.13T14.51.49.backfill-correct-screening-types.ts
  tarpon/src/services/sanctions/providers/comply-advantage-provider.ts
Labels: backend

Remove batching in dataloader to ease latency (#6390)
  tarpon/src/services/logic-evaluator/engine/index.ts
Labels: backend

:zap: migrate entityId of webhook-deliveries for last 1 month only (#6353)
  tarpon/scripts/migrations/post-deployment/2025.03.12T16.01.49.populate-entityId-to-webhook-deliveries-collection.ts
Labels: backend

FEAT: added checker action column while exporting alerts (#6273)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/components/AlertsStatusChangeButton/AlertsStatusChangeModal.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/alerts/repository.ts
Labels: backend, frontend

Updates in Risk Score Details (#6394)
  phytoplankton-console/src/components/ui/ActionRiskDisplay/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/DynamicRiskDisplay.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/KycRiskDisplay/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2025.03.11T11.42.34.migrate-permissions-1.ts
  tarpon/src/core/default-roles.ts
  tarpon/src/lambdas/console-api-pulse/app.ts
Labels: backend, frontend

Add is Active parameter (#6392)
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2025.03.17T08.55.36.update-screening-rules-for-pnb.ts
  tarpon/src/services/rules-engine/transaction-rules/payment-details-screening-base.ts
  tarpon/src/services/rules-engine/user-rules/dowjones-consumer-user.ts
  tarpon/src/services/rules-engine/user-rules/generic-sanctions-consumer-user.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-bank-name.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-business-user.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
  tarpon/src/services/rules-engine/utils/rule-utils.ts
  tarpon/src/services/sanctions/__tests__/dow-jones.test.ts
  tarpon/src/services/sanctions/providers/dow-jones-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend, frontend

Remove Viper Code from Tarpon (#6335)
  tarpon/src/services/alerts/clickhouse-repository.ts
  tarpon/src/services/copilot/questions/definitions/common/pagination.ts
  tarpon/src/services/copilot/questions/definitions/reference-word-count.ts
  tarpon/src/services/copilot/questions/definitions/transaction-aggregations.ts
  tarpon/src/services/copilot/questions/definitions/transaction-summary.ts
  tarpon/src/services/copilot/questions/definitions/transactions.ts
  tarpon/src/services/copilot/questions/definitions/unique-payment-identifier.ts
  tarpon/src/services/copilot/questions/definitions/users-transacted-with.ts
  tarpon/src/services/copilot/questions/definitions/util.ts
  tarpon/src/utils/__tests__/databricks.test.ts
  tarpon/src/utils/__tests__/viper.test.ts
  tarpon/src/utils/viper.ts
Labels: backend

Fix: agumented ActivityPartyTypeCode in subject parties for SAR USA report (#6383)
  tarpon/src/services/sar/generators/US/SAR/__tests__/index.test.ts
  tarpon/src/services/sar/generators/US/SAR/index.ts
Labels: backend

Fix cypress tests (#6399)
  phytoplankton-console/cypress/e2e/cases/case-details-escalate.cy.ts
  phytoplankton-console/cypress/e2e/cases/cases-assignment-filter-test.cy.ts
  phytoplankton-console/cypress/e2e/cases/cases-comment-test.cy.ts
  phytoplankton-console/cypress/e2e/team-management/custom-role-crud-test.cy.ts
  phytoplankton-console/cypress/e2e/users/users-comment.cy.ts
  phytoplankton-console/cypress/support/commands.ts
  phytoplankton-console/cypress/support/index.ts
  phytoplankton-console/src/components/library/Message/index.tsx
Labels: frontend

FEAT: added npm script for cdktf deployment from local machine (#6403)
  tarpon/README.md
  tarpon/package.json
  tarpon/scripts/deploy-cdktf.ts
  tarpon/scripts/deploy-ci.ts
Labels: backend

FEAT: added new field to table ui component to take remaining width of the table (#6157)
  phytoplankton-console/src/components/SanctionsHitsTable/index.tsx
  phytoplankton-console/src/components/library/Table/consts.tsx
  phytoplankton-console/src/components/library/Table/index.tsx
  phytoplankton-console/src/components/library/Table/internal/helpers.tsx
Labels: frontend

Added 'Status changed by' column for alerts (#6378)
  phytoplankton-console/src/pages/case-management/AlertTable/__tests__/alert-table.dom.test.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/types.ts
  phytoplankton-console/src/pages/case-management/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/index.tsx
Labels: frontend

Add Secondary On Call (#6400)
  tarpon/src/lambdas/cron-job-daily/app.ts
  tarpon/src/utils/slack.ts
Labels: backend

Added pagination to the sanctions search screen (#6360)
  phytoplankton-console/src/components/ComplyAdvantageHitTable/index.tsx
  phytoplankton-console/src/components/SanctionsHitsTable/index.tsx
  phytoplankton-console/src/components/library/Table/__tests__/table.test.tsx
  phytoplankton-console/src/components/library/Table/index.tsx
  phytoplankton-console/src/pages/sanctions/search-history/index.tsx
  phytoplankton-console/src/pages/sanctions/search/index.tsx
  phytoplankton-console/src/pages/transactions-item/TransactionEventsTable/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-sanctions/app.ts
  tarpon/src/services/sanctions/__tests__/index.test.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/repositories/sanctions-search-repository.ts
Labels: backend, frontend

Make changes to SAR Malaysia (#6401)
  tarpon/src/services/sar/generators/MY/STR/index.ts
  tarpon/src/services/sar/generators/MY/STR/schema.ts
Labels: backend

V2 risk factors simulation failing (#6402)
  tarpon/src/core/seed/samplers/transaction.ts
  tarpon/src/services/geo-ip/providers/geoIp.ts
Labels: backend

Implement skeleton rendering for all pages (#6366)
  phytoplankton-console/src/components/SimulationPageWrapper/styles.module.less
  phytoplankton-console/src/components/library/Breadcrumbs/index.tsx
  phytoplankton-console/src/components/library/RiskLevelSwitch/index.tsx
  phytoplankton-console/src/components/library/RiskLevelSwitch/styles.module.less
  phytoplankton-console/src/components/ui/ActionRiskDisplay/index.tsx
  phytoplankton-console/src/components/ui/entityPage/EntityHeader/index.tsx
  phytoplankton-console/src/components/utils/AsyncResourceRenderer/index.module.less
  phytoplankton-console/src/pages/alert-item/components/Header/SubHeader/index.tsx
  phytoplankton-console/src/pages/alert-item/components/Header/index.tsx
  phytoplankton-console/src/pages/alert-item/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/pages/case-management-item/components/Header/SubHeader/index.tsx
  phytoplankton-console/src/pages/case-management-item/components/Header/index.tsx
  phytoplankton-console/src/pages/case-management-item/index.tsx
  phytoplankton-console/src/pages/lists-item/ItemsTable/index.tsx
  phytoplankton-console/src/pages/lists-item/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/index.tsx
  phytoplankton-console/src/pages/rules/rules-item/index.tsx
  phytoplankton-console/src/pages/rules/rules-library-item/index.tsx
  phytoplankton-console/src/pages/transactions-item/SubHeader/index.tsx
  phytoplankton-console/src/pages/transactions-item/index.module.less
  phytoplankton-console/src/pages/transactions-item/index.tsx
  phytoplankton-console/src/pages/users-item/Header/SubHeader/index.tsx
  phytoplankton-console/src/pages/users-item/Header/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/DynamicRiskDisplay.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/KYCStatusEditor/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/KycRiskDisplay/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserManualRiskPanel/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserStateEditor/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserTrsRiskDisplay.tsx
  phytoplankton-console/src/pages/users-item/index.tsx
  phytoplankton-console/src/utils/asyncResource.ts
Labels: frontend

Implement List names resolution for V8LogicToText (#6354)
  tarpon/src/services/logic-evaluator/logic-to-text/index.ts
  tarpon/src/utils/logic-evaluator.ts
Labels: backend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

raptor:
  - raptor/**

pipeline:
  - bin/**
