Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, raptor

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

raptor:
  - raptor/**

Add entity key value pair for demo seeder (#1922)
  tarpon/src/core/seed/data/transactions.ts
  tarpon/src/core/seed/data/users.ts
  tarpon/src/core/seed/samplers/tag.ts
  tarpon/src/core/seed/samplers/users.ts
Labels: backend

Ai enabled features and Merchant Monitoring Fix (#1924)
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/pages/case-management/components/Copilot/CopilotButtonContent.tsx
  tarpon/src/services/merchant-monitoring/index.ts
Labels: backend, frontend

Add entity linking to case management (#1925)
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
Labels: frontend

Fix false positive randomness
  tarpon/src/core/seed/data/rules.ts
Labels: backend

Migrate Postman Tests To New Tenant (#1927)
  tarpon/lib/configs/config-dev.ts
Labels: backend

Added Fix in Seeder (#1929)
  tarpon/src/core/seed/mongo.ts
Labels: backend

Transaction and User Tags Standard Rule Filter (#1926)
  tarpon/src/services/rules-engine/filters.ts
  tarpon/src/services/rules-engine/transaction-filters/__tests__/transaction-tags.test.ts
  tarpon/src/services/rules-engine/transaction-filters/transaction-tags.ts
  tarpon/src/services/rules-engine/user-filters/user-tags.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
  tarpon/src/services/rules-engine/utils/rule-utils.ts
Labels: backend

Seeder Fix for Demo Mode (#1931)
  tarpon/init_local_db/all.ts
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/core/seed/mongo.ts
  tarpon/src/lambdas/api-key-generator/app.ts
  tarpon/src/lambdas/batch-job/demo-mode-data-load-job-runner.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
Labels: backend

Fix Demo Data Seeding (#1934)
  tarpon/init_local_db/all.ts
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/core/seed/mongo.ts
  tarpon/src/lambdas/api-key-generator/app.ts
  tarpon/src/lambdas/batch-job/demo-mode-data-load-job-runner.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
Labels: backend

Various fixes for Carta demo (#1933)
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/CRMCommunicationCard/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/Emails/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/Summary/Highlights/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/Summary/Overview/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/EntityLinking/EntityLinkingGraph/index.tsx
  tarpon/src/core/seed/data/address.ts
  tarpon/src/core/seed/data/transactions.ts
  tarpon/src/core/seed/samplers/dictionary.ts
  tarpon/src/core/seed/samplers/transaction.ts
  tarpon/src/services/linker/index.ts
Labels: backend, frontend

Demo: Fix sanction screening Alerts (#1932)
  tarpon/src/core/seed/data/auditlogs.ts
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/core/seed/data/transactions.ts
  tarpon/src/core/seed/data/users.ts
Labels: backend

Payments approval e2e test readded (#1907)
  phytoplankton-console/cypress/e2e/cases/payments-approval-test.cy.ts
Labels: frontend

Fix typo
  phytoplankton-console/src/components/ui/RuleHitInsightsTag/index.tsx
Labels: frontend

Add CRM to case management (#1937)
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
Labels: frontend

Added Tests Fix (#1938)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/scripts/run-integration-tests.ts
Labels: backend, infra

Switching from My Alerts to All Alerts should clear the Assigned To filter (#1935)
  phytoplankton-console/src/pages/case-management/index.tsx
Labels: frontend

#FR-2809: SAR generator bugs (part 3) (#1936)
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/ReportStep/index.tsx
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/index.tsx
  phytoplankton-console/src/components/library/ExpandIcon/index.tsx
  phytoplankton-console/src/components/library/ExpandIcon/style.module.less
  phytoplankton-console/src/components/library/Form/index.tsx
  phytoplankton-console/src/components/library/Form/utils/validation/basicValidators.ts
  phytoplankton-console/src/components/library/Form/utils/validation/types.ts
  phytoplankton-console/src/components/library/Form/utils/validation/utils.ts
  phytoplankton-console/src/components/library/Stepper/index.tsx
  phytoplankton-console/src/components/library/Stepper/story.tsx
  phytoplankton-console/src/components/library/Stepper/style.module.less
  phytoplankton-console/src/components/library/VerticalMenu/index.tsx
  phytoplankton-console/src/components/library/VerticalMenu/story.tsx
  phytoplankton-console/src/components/library/VerticalMenu/style.module.less
  phytoplankton-console/src/components/ui/Card/Header.tsx
  phytoplankton-console/src/components/ui/Card/Root.tsx
  phytoplankton-console/src/components/ui/Card/index.module.less
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/ArrayPropertyInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/SimplePropertyInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/custom/fincen/Indicator/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/types.ts
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/utils.ts
  tarpon/src/core/seed/samplers/transaction.ts
  tarpon/src/services/sar/generators/US/SAR/helpers/prepopulating.ts
  tarpon/src/services/sar/generators/US/SAR/index.ts
  tarpon/src/services/sar/generators/US/SAR/resources/EFL_SARXBatchSchema.ts
  tarpon/src/services/sar/generators/US/SAR/resources/EFL_SARXBatchSchema.type.ts
  tarpon/src/services/sar/generators/US/SAR/resources/EFL_SARXBatchSchema.xsd
  tarpon/src/services/sar/generators/US/SAR/schema.ts
  tarpon/src/services/sar/generators/US/SAR/scripts/attribute-infos.ts
  tarpon/src/services/sar/generators/US/SAR/scripts/xml-to-json.ts
Labels: backend, frontend

Txn linking (#1917)
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/AttributePanel/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/EntityLinkingGraph/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/UserCard/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/UserGraph/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/UserPanel/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/index.module.less
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/index.tsx
  phytoplankton-console/src/pages/users-item/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/core/seed/data/transactions.ts
  tarpon/src/core/seed/samplers/transaction.ts
  tarpon/src/lambdas/console-api-user/app.ts
  tarpon/src/services/linker/index.ts
  tarpon/src/utils/prng.ts
Labels: backend, frontend

Seeder Changes (#1940)
  tarpon/scripts/migrations/post-deployment/2023.08.07T11.48.38.dashboard-stats-change.ts
  tarpon/src/core/seed/data/cases.ts
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/core/seed/samplers/cases.ts
  tarpon/src/core/seed/samplers/transaction.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-stats-repository.ts
Labels: backend

Small Carta demo fixes (#1941)
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/index.module.less
  tarpon/src/core/seed/dynamodb.ts
  tarpon/src/core/seed/samplers/cases.ts
  tarpon/src/core/seed/samplers/dictionary.ts
Labels: backend, frontend

Moved Product type to Product Types Rule Filter (#1880)
  tarpon/scripts/migrations/post-deployment/2023.08.01T11.11.28.remove-unused-rule-filter.ts
  tarpon/scripts/migrations/pre-deployment/2023.08.01T11.05.18.move-to-product-types-rule-filter.ts
  tarpon/src/services/rules-engine/filters.ts
  tarpon/src/services/rules-engine/transaction-filters/__tests__/transaction-product-type.test.ts
  tarpon/src/services/rules-engine/transaction-filters/transaction-product-type.ts
  tarpon/src/services/rules-engine/transaction-filters/transaction-product-types.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
Labels: backend

FinCEN schema fixes (#1939)
  phytoplankton-console/src/components/library/Select/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/consts.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/custom/CurrencyInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/custom/PaymentChannelInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/custom/TransactionAmountRangeInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/index.tsx
  tarpon/.prettierignore
  tarpon/src/services/sar/generators/US/SAR/__tests__/expected-test-output.xml
  tarpon/src/services/sar/generators/US/SAR/__tests__/index.test.ts
  tarpon/src/services/sar/generators/US/SAR/helpers/prepopulating.ts
  tarpon/src/services/sar/generators/US/SAR/index.ts
  tarpon/src/services/sar/generators/US/SAR/resources/EFL_SARXBatchSchema.ts
  tarpon/src/services/sar/generators/US/SAR/schema.ts
  tarpon/src/services/sar/generators/US/SAR/scripts/attribute-infos.ts
  tarpon/src/services/sar/generators/US/SAR/scripts/xml-to-json.ts
Labels: backend, frontend

update rule to tx in seeder
  tarpon/src/core/seed/data/rules.ts
Labels: backend

Fix Sentry Account Error (#1942)
  phytoplankton-console/src/pages/case-management/components/AssigneesDropdown/index.tsx
Labels: frontend

Fix validation for optional object fields when it contain required fields (#1944)
  phytoplankton-console/src/components/library/Form/utils/validation/utils.ts
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/ObjectPropertyInput/index.tsx
  phytoplankton-console/src/utils/json.ts
Labels: frontend

Attachments not showing up (#1947)
  tarpon/src/lambdas/console-api-user/services/user-service.ts
Labels: backend

Create more tests for R-120 (#1908)
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-average-amount-exceeded.test.ts
Labels: backend

Add webhook source IP addresses to public API doc (#1943)
  tarpon/lib/openapi/public/docs/webhooks-overview.md
Labels: backend

Fix user risk level selector (#1945)
  phytoplankton-console/src/pages/users-item/UserDetails/UserManualRiskPanel/index.tsx
Labels: frontend

Seed SAR Data (#1946)
  tarpon/src/core/seed/data/raw-data/report.ts
  tarpon/src/core/seed/data/reports.ts
  tarpon/src/core/seed/mongo.ts
Labels: backend

Handle invalid HTML in merchant monitoring (#1951)
  tarpon/src/services/merchant-monitoring/index.ts
Labels: backend

Seed Simulation Data (#1952)
  tarpon/src/core/seed/data/raw-data/simulation-rules.ts
  tarpon/src/core/seed/data/simulation.ts
  tarpon/src/core/seed/mongo.ts
Labels: backend

Fix Status Tag (#1955)
  phytoplankton-console/src/pages/case-management/components/ClosingReasonTag.tsx
Labels: frontend

More merchant monitoring fixes (#1954)
  tarpon/src/services/merchant-monitoring/index.ts
Labels: backend

Increase async job expected max seconds to 885 (#1956)
  tarpon/lib/lambdas.ts
Labels: backend

Dont return empty results from scrape (#1961)
  tarpon/src/services/merchant-monitoring/index.ts
Labels: backend

Checked txn query optimization (#1949)
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/utils/mongoDBUtils.ts
Labels: backend

Remove list feature flag (#1950)
  phytoplankton-console/src/services/routing/index.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-list-importer/__tests__/app.test.ts
  tarpon/src/lambdas/console-api-list-importer/app.ts
Labels: backend, frontend

Add recommended tags to R-7 and R-8 (#1958)
  phytoplankton-console/src/pages/rules/RulesTable/index.tsx
  tarpon/src/scripts/constants.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
Labels: backend, frontend

Added Some more Traces and some Parallel Commands (#1953)
  tarpon/src/core/repositories/transient-repository.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-stats-repository.ts
  tarpon/src/lambdas/console-api-device-data/services/device-data-repository.ts
  tarpon/src/lambdas/console-api-file-import/import-repository.ts
  tarpon/src/lambdas/console-api-merchant/merchant-repository.ts
  tarpon/src/lambdas/console-api-narrative-template/services/narrative-template-repository.ts
  tarpon/src/lambdas/console-api-simulation/repositories/simulation-result-repository.ts
  tarpon/src/lambdas/console-api-simulation/repositories/simulation-task-repository.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/audit-log/repositories/auditlog-repository.ts
  tarpon/src/services/iban.com/repositories/iban-api-repository.ts
  tarpon/src/services/linker/index.ts
  tarpon/src/services/list/repositories/list-repository.ts
  tarpon/src/services/risk-scoring/derived-risk-factors/ipAddressCountry.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
  tarpon/src/services/risk-scoring/risk-scoring-service.ts
  tarpon/src/services/rules-engine/repositories/aggregation-repository.ts
  tarpon/src/services/rules-engine/repositories/alerts-repository.ts
  tarpon/src/services/rules-engine/repositories/case-repository.ts
  tarpon/src/services/rules-engine/repositories/metrics/index.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
  tarpon/src/services/rules-engine/repositories/rule-repository.ts
  tarpon/src/services/rules-engine/repositories/transaction-event-repository.ts
  tarpon/src/services/rules-engine/repositories/user-event-repository.ts
  tarpon/src/services/rules-engine/rule.ts
  tarpon/src/services/sanctions/repositories/sanctions-search-repository.ts
  tarpon/src/services/sanctions/repositories/sanctions-whitelist-entity-repository.ts
  tarpon/src/services/sar/repositories/report-repository.ts
  tarpon/src/services/sar/service.ts
  tarpon/src/services/tenants/repositories/tenant-repository.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/services/webhook/repositories/webhook-delivery-repository.ts
  tarpon/src/services/webhook/repositories/webhook-repository.ts
Labels: backend
