Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, raptor

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - infra/**

frontend:
  - phytoplankton-console/**

raptor:
  - raptor/**

Fix export data function to always have pagination params (#2054)
  phytoplankton-console/.eslintrc.js
  phytoplankton-console/.eslintrc.json
  phytoplankton-console/eslint-custom-rules/custom-rules/enforce-paginated-query-params.js
  phytoplankton-console/eslint-custom-rules/index.js
  phytoplankton-console/eslint-custom-rules/package.json
  phytoplankton-console/package.json
  phytoplankton-console/src/pages/accounts/Team/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/HitsPerUserCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RulesHitCard/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/SimulateRiskClassification/SimulationHistory/index.tsx
  phytoplankton-console/src/pages/rules/RulesTable/index.tsx
  phytoplankton-console/src/pages/rules/SimulationHistoryTable/index.tsx
  phytoplankton-console/src/pages/rules/my-rules/index.tsx
  phytoplankton-console/src/pages/sanctions/search-history/index.tsx
  phytoplankton-console/src/pages/settings/components/WebhookDeliveryAttemptsTable.tsx
  phytoplankton-console/src/pages/settings/components/WebhookSettings.tsx
  phytoplankton-console/yarn.lock
Labels: frontend

Update checklist QA status (#2040)
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/AlertExpanded/Checklist/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/AlertExpanded/Comments/index.module.less
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/AlertExpanded/Comments/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/AlertExpanded/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/index.tsx
  phytoplankton-console/src/pages/case-management/index.tsx
  phytoplankton-console/src/utils/checklist-templates.ts
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/core/seed/data/checklists.ts
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/core/seed/dynamodb.ts
  tarpon/src/core/seed/mongo.ts
  tarpon/src/core/seed/samplers/cases.ts
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/console-api-checklist-template/app.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/checklist-templates/index.ts
  tarpon/src/services/rules-engine/repositories/alerts-repository.ts
Labels: backend, frontend

Default risk level risk scoring (#2055)
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/ValuesTable/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/ValuesTable/style.module.less
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/consts.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/types.ts
  phytoplankton-console/src/pages/risk-levels/risk-factors/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2023.08.23T10.10.18.default-risk-level.ts
  tarpon/src/lambdas/batch-job/__tests__/simulation-pulse-batch-job-runner.test.ts
  tarpon/src/services/risk-scoring/__tests__/3ds-done-risk-factor.test.ts
  tarpon/src/services/risk-scoring/__tests__/card-issued-country.test.ts
  tarpon/src/services/risk-scoring/__tests__/domestic-foreign-country-risk-factor.test.ts
  tarpon/src/services/risk-scoring/__tests__/ipAddressCountry.test.ts
  tarpon/src/services/risk-scoring/__tests__/user-age-risk-factor.test.ts
  tarpon/src/services/risk-scoring/__tests__/user-type.test.ts
  tarpon/src/services/risk-scoring/risk-scoring-service.ts
  tarpon/src/services/risk-scoring/utils.ts
  tarpon/src/test-utils/pulse-test-utils.ts
Labels: backend, frontend

Fix QA cleanup script (#2058)
  tarpon/scripts/qa-stack-cleanup.ts
Labels: backend

Fix Consumer User Age Risk Factor (#2059)
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/consts.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2023.08.23T16.16.50.delete-unused-risk-item.ts
  tarpon/scripts/migrations/pre-deployment/2023.08.23T16.08.33.createdTimestampRiskScoreFix.ts
  tarpon/scripts/migrations/utils/pulse.ts
  tarpon/src/services/risk-scoring/__tests__/user-age-risk-factor.test.ts
  tarpon/src/services/risk-scoring/derived-risk-factors/user-age.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
Labels: backend, frontend

Limit 10K transactions to entity linking (#2048)
  tarpon/src/services/linker/index.ts
Labels: backend

Added Few More Rules for V2 (#2041)
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/too-many-counterparty-country.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/too-many-transactions-to-high-risk-country.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/total-transactions-volume-exceeds.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-average-amount-exceeded.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-average-daily-amount-exceeded.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-average-number-exceeded.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-outflow-inflow-volume.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-round-value-velocity.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-volume.test.ts
  tarpon/src/services/rules-engine/transaction-rules/multiple-senders-within-time-period-base.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-exceeded-base.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-outflow-inflow-volume.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-pattern-velocity-base.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-velocity.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-volume.ts
Labels: backend

Filter blocked and root users universally (#2063)
  tarpon/src/core/seed/mongo.ts
Labels: backend

Fix Demo Mode Sandbox Api Keys View under Settings (#2062)
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/services/tenants/index.ts
Labels: backend

Added Audit Log for Manual Case Creation (#2056)
  phytoplankton-console/src/components/ActivityCard/helpers.tsx
  phytoplankton-console/src/pages/auditlog/components/AuditLog/AuditLog.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2023.08.21T11.03.57.remove-duplicate-activity-log.ts
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/console-api-case/services/case-alerts-audit-log-service.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/audit-log/repositories/auditlog-repository.ts
Labels: backend, frontend

Minor Fix Rules Engine V2 Transactions Volume (#2069)
  tarpon/src/services/rules-engine/transaction-rules/transactions-volume.ts
Labels: backend

Update alert QA status (#2053)
  phytoplankton-console/src/components/Narrative/index.module.less
  phytoplankton-console/src/components/Narrative/index.tsx
  phytoplankton-console/src/components/library/Select/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/QaStatusChangeModal/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/QaTable/index.tsx
  phytoplankton-console/src/pages/case-management/components/AlertsStatusChangeButton/AlertsStatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/CasesStatusChangeButton/CasesStatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/Copilot/CopilotButtonContent.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/index.module.less
  phytoplankton-console/src/pages/case-management/index.tsx
  phytoplankton-console/src/pages/case-management/types.tsx
  phytoplankton-console/src/pages/users-item/ManualCaseCreationModal/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/core/seed/samplers/cases.ts
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/services/alerts/index.ts
Labels: backend, frontend

Fix e2e tests (#2072)
  phytoplankton-console/cypress/e2e/alerts/alert-comment-from-table.cy.ts
Labels: frontend

Fix cypress test
  phytoplankton-console/cypress/e2e/alerts/alert-comment-from-table.cy.ts
Labels: frontend

created the KYC/User Status change flow with KYC/User status lock (#2045)
  phytoplankton-console/src/pages/settings/components/KYCUserStatusSettings/index.module.less
  phytoplankton-console/src/pages/settings/components/KYCUserStatusSettings/index.tsx
  phytoplankton-console/src/pages/settings/index.tsx
  phytoplankton-console/src/pages/users-item/Header/SubHeader/index.module.less
  phytoplankton-console/src/pages/users-item/Header/SubHeader/index.tsx
  phytoplankton-console/src/pages/users-item/Header/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/KYCStatusEditor/KYCChangeModal/index.module.less
  phytoplankton-console/src/pages/users-item/UserDetails/KYCStatusEditor/KYCChangeModal/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/KYCStatusEditor/icon.react.svg
  phytoplankton-console/src/pages/users-item/UserDetails/KYCStatusEditor/index.module.less
  phytoplankton-console/src/pages/users-item/UserDetails/KYCStatusEditor/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/KycStatusEditor.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserStateEditor.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserStateEditor/UserChangeModal/index.module.less
  phytoplankton-console/src/pages/users-item/UserDetails/UserStateEditor/UserChangeModal/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserStateEditor/icon.react.svg
  phytoplankton-console/src/pages/users-item/UserDetails/UserStateEditor/index.module.less
  phytoplankton-console/src/pages/users-item/UserDetails/UserStateEditor/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-user/services/user-service.ts
Labels: backend, frontend

fixing the kycStatusEditor error (#2074)
  phytoplankton-console/src/pages/users-item/UserDetails/KYCStatusEditor/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserStateEditor/index.tsx
Labels: frontend

Quick and simple copilot (#2066)
  phytoplankton-console/src/pages/case-management/components/AlertsStatusChangeButton/AlertsStatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/CasesStatusChangeButton/CasesStatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/Copilot/CopilotButtonContent.tsx
  phytoplankton-console/src/pages/case-management/components/Copilot/CopilotSources.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/seed/samplers/cases.ts
  tarpon/src/lambdas/console-api-copilot/app.ts
  tarpon/src/services/copilot/copilot-service.ts
Labels: backend, frontend

Add lambda request ID and x-ray trace ID to log metadata (#2061)
  tarpon/src/core/utils/context.ts
Labels: backend

Fix narrative component uploads (#2079)
  phytoplankton-console/src/components/Narrative/index.tsx
Labels: frontend

Copilot FINCEN demo (#2080)
  phytoplankton-console/src/pages/case-management/components/Copilot/CopilotButtonContent.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/custom/NarrativeInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/types.ts
  tarpon/src/services/sar/generators/KE/SAR/schema.ts
  tarpon/src/services/sar/generators/US/SAR/resources/EFL_SARXBatchSchema.ts
  tarpon/src/services/sar/generators/US/SAR/scripts/attribute-infos.ts
Labels: backend, frontend

Fix demo narrative
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/custom/NarrativeInput/index.tsx
Labels: frontend

Subsegments for Dynamo (#2077)
  tarpon/src/utils/dynamodb.ts
Labels: backend

Better SAR narrative for demo (#2082)
  phytoplankton-console/src/components/Narrative/index.tsx
  phytoplankton-console/src/components/Sar/SarReportDrawer/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/QaStatusChangeModal/index.tsx
  phytoplankton-console/src/pages/case-management/components/Copilot/CopilotButtonContent.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/custom/NarrativeInput/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/seed/data/address.ts
  tarpon/src/core/seed/samplers/address.ts
  tarpon/src/core/seed/samplers/transaction.ts
  tarpon/src/core/seed/samplers/users.ts
  tarpon/src/lambdas/console-api-copilot/app.ts
  tarpon/src/services/copilot/copilot-service.ts
  tarpon/src/utils/helpers.ts
Labels: backend, frontend

SAR: Use canned response in demo mode (#2086)
  tarpon/src/lambdas/console-api-copilot/app.ts
Labels: backend

Add origin and destination Ip address (#2073)
  tarpon/lib/openapi/public-device-data/openapi-public-device-data-original.yaml
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/scripts/nuke-tenant-data.ts
  tarpon/src/core/seed/samplers/transaction.ts
  tarpon/src/lambdas/console-api-transaction/app.ts
  tarpon/src/services/device-data/index.ts
  tarpon/src/services/risk-scoring/__tests__/ipAddressCountry.test.ts
  tarpon/src/services/risk-scoring/derived-risk-factors/ipAddressCountry.ts
  tarpon/src/services/rules-engine/repositories/dynamodb-transaction-repository.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/high-traffic-volume-between-same-users.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/ip-address-multiple-users.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/ip-address-unexpected-location.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/sender-location-changes-frequency.test.ts
  tarpon/src/services/rules-engine/transaction-rules/ip-address-multiple-users.ts
  tarpon/src/services/rules-engine/transaction-rules/ip-address-unexpected-location.ts
  tarpon/src/services/rules-engine/transaction-rules/sender-location-changes-frequency.ts
  tarpon/src/services/rules-engine/utils/user-rule-utils.ts
  tarpon/src/services/sar/generators/US/SAR/index.ts
  tarpon/src/utils/ipAddress.ts
Labels: backend

Revert "Add origin and destination Ip address (#2073)" (#2087)
  tarpon/lib/openapi/public-device-data/openapi-public-device-data-original.yaml
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/scripts/nuke-tenant-data.ts
  tarpon/src/core/seed/samplers/transaction.ts
  tarpon/src/lambdas/console-api-transaction/app.ts
  tarpon/src/services/device-data/index.ts
  tarpon/src/services/risk-scoring/__tests__/ipAddressCountry.test.ts
  tarpon/src/services/risk-scoring/derived-risk-factors/ipAddressCountry.ts
  tarpon/src/services/rules-engine/repositories/dynamodb-transaction-repository.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/high-traffic-volume-between-same-users.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/ip-address-multiple-users.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/ip-address-unexpected-location.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/sender-location-changes-frequency.test.ts
  tarpon/src/services/rules-engine/transaction-rules/ip-address-multiple-users.ts
  tarpon/src/services/rules-engine/transaction-rules/ip-address-unexpected-location.ts
  tarpon/src/services/rules-engine/transaction-rules/sender-location-changes-frequency.ts
  tarpon/src/services/rules-engine/utils/user-rule-utils.ts
  tarpon/src/services/sar/generators/US/SAR/index.ts
  tarpon/src/utils/ipAddress.ts
Labels: backend

Move Other settings to default settings (#2089)
  phytoplankton-console/src/locales/en-US/menu.ts
  phytoplankton-console/src/pages/settings/components/DefaultValuesSettings.tsx
  phytoplankton-console/src/pages/settings/components/OtherSettings/index.module.less
  phytoplankton-console/src/pages/settings/components/OtherSettings/index.tsx
  phytoplankton-console/src/pages/settings/index.tsx
Labels: frontend

Added engines in Tarpon package.json file (#2078)
  tarpon/package.json
Labels: backend

Team management action items aligned (#2083)
  phytoplankton-console/src/pages/accounts/Team/index.module.less
Labels: frontend

made the user details link to open in new tab for entity linking (#2091)
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/UserPanel/index.tsx
Labels: frontend

Remove undefined from SAR output (#2093)
  tarpon/src/core/seed/samplers/cases.ts
Labels: backend

changed the description of business user segment filter (#2092)
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
Labels: backend

Prod Access For Super-admin (#2094)
  phytoplankton-console/src/components/SuperAdminPanel/index.tsx
  phytoplankton-console/src/pages/settings/components/ProductionAccessControl.tsx
  phytoplankton-console/src/pages/settings/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2023.08.29T17.53.08.update-tenant-production-access-settings.ts
  tarpon/scripts/migrations/utils/tenant.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/tenants/index.ts
Labels: backend, frontend

Add narrative component to storybook (#2071)
  phytoplankton-console/src/components/AppWrapper/Providers/AuthProvider.tsx
  phytoplankton-console/src/components/Narrative/story.tsx
  phytoplankton-console/src/pages/storybook/index.tsx
Labels: frontend

Use the latest available rule aggregation version (#2060)
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/lambdas/transaction-aggregation/app.ts
  tarpon/src/services/rules-engine/repositories/aggregation-repository.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/transaction-rules/aggregation-rule.ts
  tarpon/src/services/rules-engine/transaction-rules/high-traffic-between-same-parties.ts
  tarpon/src/services/rules-engine/transaction-rules/high-traffic-volume-between-same-users.ts
  tarpon/src/services/rules-engine/transaction-rules/high-unsuccessfull-state-rate.ts
  tarpon/src/services/rules-engine/transaction-rules/multiple-senders-within-time-period-base.ts
  tarpon/src/services/rules-engine/transaction-rules/rule.ts
  tarpon/src/services/rules-engine/transaction-rules/same-payment-details.ts
  tarpon/src/services/rules-engine/transaction-rules/same-user-using-too-many-cards.ts
  tarpon/src/services/rules-engine/transaction-rules/sender-location-changes-frequency.ts
  tarpon/src/services/rules-engine/transaction-rules/too-many-users-for-same-card.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-exceed-past-period.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-exceeded-base.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-outflow-inflow-volume.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-pattern-percentage-base.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-pattern-velocity-base.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-velocity.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-volume.ts
Labels: backend

QA flow missing pieces (#2075)
  phytoplankton-console/src/components/Narrative/story.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/AlertExpanded/Checklist/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/QaTable/index.tsx
  phytoplankton-console/src/pages/case-management/common.ts
  phytoplankton-console/src/pages/case-management/helpers.tsx
  phytoplankton-console/src/pages/case-management/index.tsx
  phytoplankton-console/src/pages/case-management/types.tsx
  phytoplankton-console/src/utils/checklist-templates.ts
  phytoplankton-console/src/utils/qa-mode.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/core/seed/mongo.ts
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/console-api-case/services/case-alerts-audit-log-service.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/rules-engine/repositories/alerts-repository.ts
Labels: backend, frontend

Dashboard: Create new case closing reason graph (#2067)
  phytoplankton-console/src/components/library/Widget/index.tsx
  phytoplankton-console/src/components/library/WidgetGrid/index.tsx
  phytoplankton-console/src/components/ui/colors.ts
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseClosingReasonCard/ScopeSelector.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseClosingReasonCard/index.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseClosingReasonCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/OverviewCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-dashboard/app.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/__tests__/dashboard-stats-repository.cases-alerts-closing-reason.test.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-stats-repository.ts
Labels: backend, frontend

Fix Settings Production Access Page (#2103)
  phytoplankton-console/src/pages/settings/components/ProductionAccessControl.tsx
  phytoplankton-console/src/pages/settings/index.tsx
Labels: frontend

Don't throw error if tenant cannot be found in Auth0 (#2104)
  tarpon/src/services/accounts/index.ts
Labels: backend

Remove onboard-tarpon-api.sh script (#2106)
  tarpon/README.md
  tarpon/src/scripts/onboard-tarpon-api.sh
Labels: backend
