Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, raptor

No Transactions In Screening Alerts (#2188)
  tarpon/src/core/seed/samplers/cases.ts
Labels: backend

#FR-2991: Update drawers and modals as per new component (#2186)
  phytoplankton-console/src/components/file-import/FileImportButton.tsx
  phytoplankton-console/src/components/library/Drawer/index.module.less
  phytoplankton-console/src/components/library/Form/index.tsx
  phytoplankton-console/src/components/library/Toggle/index.tsx
  phytoplankton-console/src/components/library/Toggle/story.tsx
  phytoplankton-console/src/pages/lists-item/ItemsTable/index.tsx
  phytoplankton-console/src/pages/lists/NewListDrawer/NewValueInput/index.tsx
  phytoplankton-console/src/pages/lists/NewListDrawer/index.module.less
  phytoplankton-console/src/pages/lists/NewListDrawer/index.tsx
  phytoplankton-console/src/pages/settings/components/WebhookDetails.tsx
  phytoplankton-console/src/pages/settings/components/WebhookSettings.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/BusinessUserDetails/TransactionLimits/index.tsx
Labels: frontend

Added Tests for Transactions and User Events (#2190)
  tarpon/src/lambdas/batch-job/__tests__/simulation-beacon-batch-job-runner.test.ts
  tarpon/src/lambdas/public-api-rules-engine/__tests__/app.test.ts
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/aggregator/__tests__/user-transaction-stats-by-time.test.ts
  tarpon/src/services/users/__tests__/user-repository.test.ts
  tarpon/src/utils/local-dynamodb-change-handler.ts
Labels: backend

Added Migration To Add Rules V2 Feature Flag (#2194)
  tarpon/scripts/migrations/post-deployment/2023.09.11T21.01.58.add-rules-engine-v2-feature-flag.ts
Labels: backend

added last updated column to users table and updated tarpon-change lambda (#2120)
  phytoplankton-console/src/pages/users/users-list/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/pre-deployment/2023.09.06T07.40.16.add-updatedAt-to-users.ts
  tarpon/src/lambdas/public-api-rules-engine/__tests__/app.test.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend, frontend

Rule Configuration Drawer Fix (#2201)
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/style.module.less
Labels: frontend

Mock questions endpoint (#2196)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/console-api-copilot/app.ts
Labels: backend

Seperate audit logs implemented for case and alert escalations (#2109)
  phytoplankton-console/src/components/ActivityCard/LogCard/index.tsx
  phytoplankton-console/src/components/ActivityCard/helpers.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/console-api-case/services/case-alerts-audit-log-service.ts
Labels: backend, frontend

User Events Table (#2199)
  phytoplankton-console/src/pages/users-item/UserDetails/UserEvents.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/index.module.less
  phytoplankton-console/src/pages/users-item/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/console-api-user/app.ts
  tarpon/src/services/rules-engine/repositories/user-event-repository.ts
Labels: backend, frontend

Send Webhook on a Flag for User Update (#2174)
  tarpon/src/lambdas/console-api-user/services/user-service.ts
  tarpon/src/lambdas/public-api-rules-engine/__tests__/app.test.ts
  tarpon/src/lambdas/tarpon-change-webhook-consumer/__tests__/tarpon-change-webhook-handler.test.ts
  tarpon/src/lambdas/tarpon-change-webhook-consumer/app.ts
  tarpon/src/services/users/__tests__/user-repository.test.ts
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend

Update Key Value to Key Value Array (#2203)
  tarpon/scripts/migrations/post-deployment/2023.09.12T18.06.50.update-key-value-filter.ts
  tarpon/src/services/rules-engine/transaction-filters/__tests__/transaction-tags.test.ts
  tarpon/src/services/rules-engine/transaction-filters/transaction-tags.ts
  tarpon/src/services/rules-engine/user-filters/user-tags.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
  tarpon/src/services/rules-engine/utils/rule-utils.ts
  tarpon/src/services/users/__tests__/user-repository.test.ts
Labels: backend

Manual FinCEN SAR report submission workflow (#2192)
  phytoplankton-console/src/components/Sar/SarReportDrawer/index.tsx
  phytoplankton-console/src/components/Sar/utils.ts
  phytoplankton-console/src/pages/reports/components/ReportsTable/index.module.less
  phytoplankton-console/src/pages/reports/components/ReportsTable/index.tsx
  tarpon/README.md
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/scripts/migrations/post-deployment/2023.09.08T14.27.54.rename-report-status.ts
  tarpon/src/core/seed/data/raw-data/report.ts
  tarpon/src/core/utils/context.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-stats-repository.ts
  tarpon/src/lambdas/console-api-sar/app.ts
  tarpon/src/services/risk-scoring/__tests__/sar-filed.test.ts
  tarpon/src/services/sar/generators/KE/SAR/__tests__/index.test.ts
  tarpon/src/services/sar/generators/KE/SAR/index.ts
  tarpon/src/services/sar/generators/LT/CTR/index.ts
  tarpon/src/services/sar/generators/LT/STR/index.ts
  tarpon/src/services/sar/generators/US/SAR/__tests__/expected-test-output.xml
  tarpon/src/services/sar/generators/US/SAR/__tests__/index.test.ts
  tarpon/src/services/sar/generators/US/SAR/index.ts
  tarpon/src/services/sar/generators/US/SAR/schema.ts
  tarpon/src/services/sar/generators/index.ts
  tarpon/src/services/sar/repositories/report-repository.ts
  tarpon/src/services/sar/service.ts
  tarpon/src/utils/openapi.ts
Labels: backend, frontend

Fix Post man Tests (#2205)
  tarpon/src/lambdas/public-api-rules-engine/__tests__/app.test.ts
  tarpon/src/services/users/__tests__/user-repository.test.ts
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend

Fr 3102 implement new tabs component according to design system (#2161)
  phytoplankton-console/src/components/ScreeningMatchList/index.tsx
  phytoplankton-console/src/components/library/Modal/index.tsx
  phytoplankton-console/src/components/library/Tabs/assets/flask-icon.svg
  phytoplankton-console/src/components/library/Tabs/index.module.less
  phytoplankton-console/src/components/library/Tabs/index.tsx
  phytoplankton-console/src/components/library/Tabs/story.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/AlertExpanded/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/RiskClassificationSimulationResults/index.tsx
Labels: frontend

Added Co-Pilot Fields To Choose For Narrative (#2197)
  phytoplankton-console/src/pages/settings/components/AISources.tsx
  phytoplankton-console/src/pages/settings/index.tsx
  tarpon/lib/configs/config-local.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2023.09.12T12.03.32.name-as-default-settings-for-ai.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/lambdas/console-api-copilot/app.ts
  tarpon/src/services/copilot/attributes/attributes.ts
  tarpon/src/services/copilot/attributes/builder.ts
  tarpon/src/services/copilot/copilot-service.ts
Labels: backend, frontend

Use the default max receive count for the transaction aggregation lambda (#2207)
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

Remove Name as Default AI Field Migration (#2209)
  tarpon/scripts/migrations/post-deployment/2023.09.12T12.03.32.name-as-default-settings-for-ai.ts
Labels: backend

Fixed listed reasons for manual KYC change (#2198)
  phytoplankton-console/src/pages/users-item/UserDetails/KYCStatusEditor/KYCChangeModal/index.tsx
Labels: frontend

Alias for risk level in settings and risk level page corrected (#2195)
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/ValuesTable/index.tsx
  phytoplankton-console/src/pages/users/users-list/RiskLevelFilterButton/index.tsx
  phytoplankton-console/src/utils/risk-levels.tsx
Labels: frontend

Fix inconsistent rule aggregation data (#2213)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/package.json
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/transaction-rules/aggregation-rule.ts
  tarpon/src/services/rules-engine/transaction-rules/high-traffic-between-same-parties.ts
  tarpon/src/services/rules-engine/transaction-rules/high-traffic-volume-between-same-users.ts
  tarpon/src/services/rules-engine/transaction-rules/high-unsuccessfull-state-rate.ts
  tarpon/src/services/rules-engine/transaction-rules/same-payment-details.ts
  tarpon/src/services/rules-engine/transaction-rules/same-user-using-too-many-cards.ts
  tarpon/src/services/rules-engine/transaction-rules/sender-location-changes-frequency.ts
  tarpon/src/services/rules-engine/transaction-rules/too-many-users-for-same-card.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-exceed-past-period.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-pattern-percentage-base.ts
Labels: backend, infra

Clean up rule hits for Kevin (#2216)
  tarpon/scripts/migrations/post-deployment/2023.09.13T15.44.58.fix-kevin-rule-hits.ts
  tarpon/scripts/migrations/utils/cleanup-rule-hits.ts
Labels: backend

Added Migration to Add Risk Scoring and Risk Levels For All Sandbox Tenants (#2215)
  tarpon/scripts/migrations/post-deployment/2023.09.13T16.19.27.add-feature-flags-on-sandbox.ts
Labels: backend

Fix incorrect log metadata for rule errors (#2189)
  tarpon/src/core/logger/index.ts
  tarpon/src/core/utils/context.ts
Labels: backend

Remove api key from results in tenant creation flow (#2206)
  phytoplankton-console/src/components/SuperAdminPanel/CreateTenantModal/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/tenants/index.ts
Labels: backend, frontend

added transaction type distribution graph (#2202)
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseManagement/DistributionByAlertPriority/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RulePrioritySplitCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Transactions/PaymentMethodDistributionWidget/ScopeSelector.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Transactions/PaymentMethodDistributionWidget/index.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/Transactions/PaymentMethodDistributionWidget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Transactions/TransactionTypeDistribution/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/charts/Donut/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/charts/Treemap/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/scripts/migrations/post-deployment/2023.09.13T05.18.26.refresh-transaction-type-stats.ts
  tarpon/src/lambdas/console-api-dashboard/app.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-stats-repository.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend, frontend

Added Copy Of for Rule Names (#2214)
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/index.tsx
  phytoplankton-console/src/pages/rules/my-rules/index.tsx
Labels: frontend

Fixed description of “SAR filed” risk factor (#2217)
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/consts.tsx
Labels: frontend

Fix infinite loop when clearing time range of transaction widgets (#2218)
  phytoplankton-console/src/pages/dashboard/analysis/components/Transactions/PaymentMethodDistributionWidget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TransactionsChartWidget/index.tsx
Labels: frontend

Extend test for risk scoring (#2185)
  tarpon/src/services/risk-scoring/__tests__/risk-scoring-service.test.ts
  tarpon/src/test-utils/pulse-test-utils.ts
Labels: backend

Move syncFeatureFlags to be done after all migrations are done (#2210)
  tarpon/scripts/migrations/migrator.ts
Labels: backend

Update test_tarpon.yml
  .github/workflows/test_tarpon.yml
Labels: none

Update test_tarpon.yml
  .github/workflows/test_tarpon.yml
Labels: none

Improve cleanupRuleHits to make it run longer (#2220)
  tarpon/scripts/migrations/utils/cleanup-rule-hits.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-stats-repository.ts
Labels: backend

Avoid rebuilding rule aggregation unnecessarily (#2135)
  tarpon/src/services/audit-log/index.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/card-holder-name-levensthein-distance.test.ts
  tarpon/src/test-utils/dynamodb-test-utils.ts
  tarpon/src/test-utils/rule-test-utils.ts
  tarpon/src/utils/dynamodb.ts
Labels: backend

#FR-3231: Co-pilot: add new tab for alert, implement input form (#2212)
  phytoplankton-console/build/build-tasks.js
  phytoplankton-console/src/components/library/Form/index.tsx
  phytoplankton-console/src/components/library/Modal/index.tsx
  phytoplankton-console/src/components/library/Modal/style.module.less
  phytoplankton-console/src/components/library/Select/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/empty.png
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/index.module.less
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/RequestForm/index.module.less
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/RequestForm/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/index.module.less
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/types.ts
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-copilot/app.ts
Labels: backend, frontend

Use cached mongodb client for local/test env as well (#2223)
  tarpon/README.md
  tarpon/package.json
  tarpon/src/utils/mongodb-utils.ts
Labels: backend

Question service (#2200)
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/RequestForm/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/templates/api/api.mustache
  tarpon/src/core/seed/data/reports.ts
  tarpon/src/core/seed/samplers/report.ts
  tarpon/src/lambdas/console-api-copilot/app.ts
  tarpon/src/services/copilot/questions/definitions.ts
  tarpon/src/services/copilot/questions/definitions/__tests__/alert-history.test.ts
  tarpon/src/services/copilot/questions/definitions/__tests__/case-history.test.ts
  tarpon/src/services/copilot/questions/definitions/__tests__/sars-filed.test.ts
  tarpon/src/services/copilot/questions/definitions/__tests__/transaction-by-rules-action.test.ts
  tarpon/src/services/copilot/questions/definitions/__tests__/transaction-types.test.ts
  tarpon/src/services/copilot/questions/definitions/__tests__/trs-score.test.ts
  tarpon/src/services/copilot/questions/definitions/__tests__/unique-payment-identifier-received.test.ts
  tarpon/src/services/copilot/questions/definitions/__tests__/unique-payment-identifier-sent.test.ts
  tarpon/src/services/copilot/questions/definitions/__tests__/users-received-money-from.test.ts
  tarpon/src/services/copilot/questions/definitions/__tests__/users-sent-money-to.test.ts
  tarpon/src/services/copilot/questions/definitions/__tests__/util.ts
  tarpon/src/services/copilot/questions/definitions/alert-history.ts
  tarpon/src/services/copilot/questions/definitions/case-history.ts
  tarpon/src/services/copilot/questions/definitions/sars-filed.ts
  tarpon/src/services/copilot/questions/definitions/transaction-by-rules-action.ts
  tarpon/src/services/copilot/questions/definitions/transaction-type.ts
  tarpon/src/services/copilot/questions/definitions/trs-score.ts
  tarpon/src/services/copilot/questions/definitions/unique-payment-identifier-received.ts
  tarpon/src/services/copilot/questions/definitions/unique-payment-identifier-sent.ts
  tarpon/src/services/copilot/questions/definitions/users-received-money-from.ts
  tarpon/src/services/copilot/questions/definitions/users-sent-money-to.ts
  tarpon/src/services/copilot/questions/question-service.ts
  tarpon/src/services/copilot/questions/types.ts
Labels: backend, frontend

#FR-3234: Co-pilot: implement Table response (#2222)
  phytoplankton-console/src/components/ui/icons/brain-icon-colored.react.svg
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItemBase/AISummary/index.module.less
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItemBase/AISummary/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItemBase/index.module.less
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItemBase/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/TableHistoryItem/index.module.less
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/TableHistoryItem/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/index.module.less
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/index.tsx
Labels: frontend

#FR-3236: Co-pilot: implement Timeseries response & #FR-3237: Co-pilot: implement StackedBarchart response (#2225)
  phytoplankton-console/src/components/ui/colors.ts
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItemBase/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItemStackedBarchart/index.module.less
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItemStackedBarchart/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItemTable/index.module.less
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItemTable/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItemTimeSeries/index.module.less
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItemTimeSeries/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/types.ts
  phytoplankton-console/src/pages/dashboard/analysis/components/charts/Column/index.tsx
  phytoplankton-console/src/utils/browser.ts
Labels: frontend

Update test memory limit (#2227)
  .github/workflows/test_tarpon.yml
  tarpon/package.json
Labels: backend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

raptor:
  - raptor/**
