Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, raptor, pipeline

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

raptor:
  - raptor/**

pipeline:
  - bin/**

Disable continuous cloudwatch
  viper/infra/main.ts
Labels: viper

Fixes for viper (#4237)
  bin/cdk-orca-pipeline-stack.ts
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend, pipeline

Add alarms to detect glue job failures (#4236)
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-alarms-stack.ts
  tarpon/infra/cdk-utils/cdk-cw-alarms-utils.ts
Labels: backend, infra

Fix daterange filters on dashboard (#4197)
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseManagement/DistributionByStatus/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/KYCStatusDistributionCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Qa/QaAlertStatsByChecklistReason/ChecklistChart/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Qa/QaAlertsByAssignee/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Qa/QaAlertsByRuleHits/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Qa/QaOverview/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RiskLevelDistributionCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RulesHitCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TopUsersHitCard.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TransactionTRSChartCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Transactions/DistributionByTransactionTypeWidget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Transactions/PaymentMethodDistributionWidget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TransactionsChartWidget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/UserStatusDistributionCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/widgets/DistributionChartWidget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/widgets/GranularDatePicker/GranularDatePicker.tsx
  tarpon/src/lambdas/console-api-dashboard/app.ts
Labels: backend, frontend

Enable filtering tx insights per state (#4229)
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TransactionsList/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TransactionsSelector/Chart/Column/Popover/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TransactionsSelector/Chart/Column/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TransactionsSelector/Chart/types.ts
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TransactionsSelector/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TransactionsSelector/styles.module.less
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-transaction/app.ts
  tarpon/src/lambdas/console-api-transaction/services/transaction-service.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
Labels: backend, frontend

Merchant monitoring - disable 'Request data' button for invalid input (#4238)
  phytoplankton-console/src/pages/case-management-item/CaseDetails/AIInsightsCard/index.tsx
Labels: frontend

Users with no linkages are not visible in Ontology (#4228)
  tarpon/src/services/linker/__tests__/index.test.ts
  tarpon/src/services/linker/index.ts
Labels: backend

Use less resources for glue (#4243)
  viper/infra/main.ts
  viper/src/tables/table_service.py
Labels: viper

Only show manual ComplyAdvantage search results (#4244)
  phytoplankton-console/src/pages/sanctions/search-history/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/sanctions/repositories/sanctions-search-repository.ts
Labels: backend, frontend

Make num of workers minimum 2 (#4245)
  viper/infra/cdktf.json
  viper/infra/main.ts
Labels: viper

Risk scoring v8 backend (CRUD APIs) (#4239)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/lambdas/console-api-pulse/app.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/services/counter/repository.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
  tarpon/src/services/risk/__tests__/index.test.ts
  tarpon/src/services/risk/index.ts
Labels: backend

Updates in Crud API (#4249)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
  tarpon/src/services/risk/index.ts
Labels: backend

Fix manual sanction search results time filter crash (#4246)
  phytoplankton-console/src/pages/sanctions/search-history/index.tsx
Labels: frontend

Add activatedTimestamp and enable in V8 (#4253)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/rules-engine/v8-variables/__tests__/resources/entity-variables.json
Labels: backend

Upgrade aws-cdk-lib from 2.142.1 to 2.145.0
  package.json
  yarn.lock
Labels: none

Dont remove feature flags for original tenants (#4254)
  tarpon/src/core/seed/mongo.ts
Labels: backend

Frontend for custom risk factors (#4248)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/locales/en-US/menu.ts
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/BasicDetailsStep/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/BasicDetailsStep/style.module.less
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/RiskFactorConfigurationStep/LogicDefinationCard/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/RiskFactorConfigurationStep/LogicDefinationCard/style.module.less
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/RiskFactorConfigurationStep/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/RiskFactorConfigurationStep/style.module.less
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/style.module.less
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/style.module.less
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskItem/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/style.module.less
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/RuleLogicBuilder/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/EntityVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/index.tsx
  phytoplankton-console/src/services/routing/index.ts
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-pulse/app.ts
  tarpon/src/services/risk/index.ts
Labels: backend, frontend

Clean up remaining databricks resources (#4255)
  viper/infra/main.ts
Labels: viper

Fix viper deployment
  viper/infra/main.ts
Labels: viper

Enable cloudwatch metrics
  viper/infra/main.ts
Labels: viper

Fix sanctions search usages metric (#4256)
  tarpon/src/services/metrics/api-usage-metrics-service.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend

Add deviceIdentifier to lists (#4250)
  phytoplankton-console/src/pages/lists/NewListDrawer/NewValueInput/index.tsx
  phytoplankton-console/src/pages/lists/helpers.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/rules-engine/transaction-rules/blacklist-transaction-related-value.ts
Labels: backend, frontend

Custom Risk Factors Scoring For Scoring (#4252)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/BasicDetailsStep/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskItem/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/index.tsx
  phytoplankton-console/src/services/routing/index.ts
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/console-api-pulse/app.ts
  tarpon/src/lambdas/transaction-aggregation/app.ts
  tarpon/src/services/batch-jobs/__tests__/rule-pre-aggregation-batch-job-runner.test.ts
  tarpon/src/services/batch-jobs/rule-pre-aggregation-batch-job-runner.ts
  tarpon/src/services/risk-scoring/__tests__/risk-scoring-service.test.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
  tarpon/src/services/risk-scoring/risk-scoring-service.ts
  tarpon/src/services/risk/index.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/utils.ts
  tarpon/src/services/rules-engine/v8-engine/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-engine/index.ts
  tarpon/src/test-utils/pulse-test-utils.ts
Labels: backend, frontend

Remove back terraform argument for glue
  viper/infra/main.ts
Labels: viper

Improvements in custom risk factor (#4258)
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/BasicDetailsStep/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/BasicDetailsStep/style.module.less
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/RiskFactorConfigurationStep/LogicDefinationCard/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/utils.ts
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/RuleLogicBuilder/index.tsx
  phytoplankton-console/src/pages/rules/utils.ts
Labels: frontend

Fix unable to load krs score (#4263)
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/utils.ts
  phytoplankton-console/src/pages/users-item/UserDetails/KycRiskDisplay/index.tsx
Labels: frontend

Skip region validation for AWS provider to avoid me-central-1 issue (#4265)
  viper/infra/main.ts
Labels: viper

Always hit both origin/destination users for several V2 rules (#4264)
  tarpon/src/lambdas/public-api-rules-engine/__tests__/app.test.ts
  tarpon/src/services/analytics/dashboard-metrics/__tests__/dashboard-stats-repository.case-management-stats.test.ts
  tarpon/src/services/cases/__tests__/case-creation-service.test.ts
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/__tests__/user-rules-engine-service.test.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/transaction-rules/blacklist-card-issued-country.ts
  tarpon/src/services/rules-engine/transaction-rules/blacklist-payment-details.ts
  tarpon/src/services/rules-engine/transaction-rules/high-risk-countries.ts
  tarpon/src/services/rules-engine/transaction-rules/high-risk-currency.ts
  tarpon/src/services/rules-engine/transaction-rules/high-risk-ip-address-countries.ts
  tarpon/src/test-utils/rule-test-utils.ts
Labels: backend

Fix KycRiskDisplay crash (#4267)
  phytoplankton-console/src/components/ui/RiskScoreDisplay/MainPanel/index.tsx
  phytoplankton-console/src/utils/risk-levels.tsx
Labels: frontend

Bump terraform CLI version (#4268)
  bin/constants/terraform-commands.ts
Labels: pipeline

Fix tenant deletion job - S3 (#4269)
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
Labels: backend

Fix: Transactions on user’s page show the first state (#4270)
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/helpers.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/index.tsx
Labels: frontend

Run V2 Rules on V8 (#4070)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/pages/rules/utils.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/migrator.ts
  tarpon/scripts/migrations/utils/__tests__/rule-utils.test.ts
  tarpon/src/core/utils/context.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/services/batch-jobs/rule-pre-aggregation-batch-job-runner.ts
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/__tests__/user-rules-engine-service.test.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
  tarpon/src/services/rules-engine/rule-instance-service.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/utils.ts
  tarpon/src/services/rules-engine/v8-migrations/index.ts
  tarpon/src/services/tenants/index.ts
Labels: backend, frontend

Show placeholder rule condition by default (#4257)
  phytoplankton-console/src/components/ui/LogicBuilder/helpers.tsx
Labels: frontend

Add rule alerts stats to dashboard refresh (#4195)
  tarpon/scripts/migrations/post-deployment/2024.06.25T07.53.42.recalculate-rule-alerts-stats.ts
  tarpon/src/services/analytics/dashboard-metrics/rule-stats.ts
  tarpon/src/services/batch-jobs/__tests__/dashboard-refresh-batch-job-runner.test.ts
  tarpon/src/services/dashboard/repositories/dashboard-stats-repository.ts
Labels: backend

Enhance date filter for rule analytics (#4240)
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/RuleInstanceAnalytics.tsx
Labels: frontend

Add user variables to transaction risk factors variable option (#4275)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/EntityVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/index.tsx
Labels: frontend

Fix trs score entity variable when filters are defined (#4276)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/scripts/debug-rule/verify-remote-transactions.ts
  tarpon/src/services/rules-engine/repositories/transaction-event-repository.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/utils/transaction-rule-utils.ts
  tarpon/src/services/rules-engine/v8-engine/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-engine/index.ts
  tarpon/src/services/rules-engine/v8-variables/trs-score.ts
  tarpon/src/test-utils/transaction-test-utils.ts
Labels: backend

Don't patch monitored CA search unnecessarily (#4271)
  tarpon/src/services/sanctions/index.ts
Labels: backend

Fix v2 rule instance unable to be updated (#4278)
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
  tarpon/src/services/rules-engine/rule-instance-service.ts
Labels: backend
