Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, pipeline

skip migrating rules that haven't been migrated (#6870)
  tarpon/scripts/migrations/post-deployment/2025.05.07T15.22.45.cleanup-empty-riskLevelLogic.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
Labels: backend

Added null check to user activity comments (#6876)
  phytoplankton-console/src/components/ActivityCard/index.tsx
Labels: frontend

Fix: PDF report button in Rule Simulation mode (#6877)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/index.tsx
Labels: frontend

FEAT: add new single type slider (#6824)
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/NumberRangeInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/types.ts
  phytoplankton-console/src/components/library/Slider/index.tsx
  tarpon/src/services/rules-engine/user-rules/subject-identification-business.ts
  tarpon/src/services/rules-engine/user-rules/subject-identification-consumer.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
  tarpon/src/services/rules-engine/utils/rule-schema-utils.ts
Labels: backend, frontend

Fix missing matches for open sanctions (#6869)
  lib/utils/string.ts
  tarpon/scripts/migrations/post-deployment/2025.05.07T14.31.29.trigger-sanctions-data-fetch.ts
  tarpon/scripts/migrations/utils/trigger-sanctions-data-fetch.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/providers/utils.ts
  tarpon/src/utils/fuzzy.ts
Labels: backend

Fix setting up of default screening filters (#6878)
  tarpon/src/services/screening-profile/index.ts
  tarpon/src/services/screening-profile/repositories/screening-profile-repository.ts
Labels: backend

Revert non-required conversions from api metrics sheet (#6879)
  tarpon/src/core/cloudwatch/metrics.ts
  tarpon/src/services/metrics/api-usage-metrics-service.ts
Labels: backend

feat: make the mutations synchronous for alter queries (#6881)
  tarpon/src/utils/clickhouse/utils.ts
Labels: backend

fix: migration for non existent dbs (#6882)
  tarpon/scripts/migrations/migrator.ts
Labels: backend

Enhance AlertTable to support exporting comments in alert details (#6873)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  tarpon/src/services/cases/utils/report.ts
Labels: backend, frontend

FIX: update AIF transaction query to fetch total records (#6874)
  tarpon/src/services/copilot/questions/definitions/transactions.ts
Labels: backend

FIX: update AIF query for 'Merchant Transacted with' (#6859)
  tarpon/src/services/copilot/questions/definitions/merchant-identifier.ts
Labels: backend

Fix migration bulk operation (#6885)
  tarpon/scripts/migrations/pre-deployment/2025.04.21T13.49.06.migrate_whitelist_hits-2.ts
Labels: backend

Involve Bank collection for business screening too (#6883)
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
Labels: backend

Show Download activities in Audit Log (#6565)
  phytoplankton-console/src/pages/auditlog/components/AuditLog/AuditLog.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/console-api-rule/app.ts
  tarpon/src/lambdas/console-api-sar/app.ts
  tarpon/src/lambdas/console-api-transaction/app.ts
  tarpon/src/lambdas/console-api-transaction/services/transaction-service.ts
  tarpon/src/lambdas/console-api-user/app.ts
  tarpon/src/lambdas/public-management-api-rule/app.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/cases/__tests__/case-creation-service.test.ts
  tarpon/src/services/cases/index.ts
  tarpon/src/services/rules-engine/rule-instance-service.ts
  tarpon/src/services/rules-engine/rule-service.ts
  tarpon/src/services/sar/service.ts
  tarpon/src/services/users/index.ts
Labels: backend, frontend

Implement image upload functionality in CommentEditor via drag and drop (#6854)
  phytoplankton-console/src/components/CommentEditor/index.tsx
  phytoplankton-console/src/components/markdown/MarkdownEditor/index.tsx
Labels: frontend

Add screening profiles to R-169 (#6868)
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/types.ts
  phytoplankton-console/src/components/ui/LogicBuilder/ScreeningProfileSelect/index.tsx
  tarpon/scripts/migrations/post-deployment/2025.05.012T07.50.17.trigger-sanctions-data-load-for-acuris.ts
  tarpon/src/services/rules-engine/transaction-rules/payment-details-screening-base.ts
  tarpon/src/services/rules-engine/transaction-rules/payment-details-screening.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
  tarpon/src/services/sanctions/providers/acuris-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
Labels: backend, frontend

Revert "Fix similar to words operator" (#6880)
  tarpon/src/services/logic-evaluator/operators/similar-to-words.ts
Labels: backend

Add nationality, gender, documentIds in comparison table (#6887)
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/SanctionsComparison/__tests__/helpers.test.ts
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/SanctionsComparison/helpers.tsx
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/SanctionsComparison/index.module.less
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/SanctionsComparison/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/rules-engine/user-rules/generic-sanctions-consumer-user.ts
  tarpon/src/services/sanctions/__tests__/dow-jones.test.ts
  tarpon/src/services/sanctions/providers/utils.ts
Labels: backend, frontend

fix: paranthesis match (#6894)
  tarpon/src/services/cases/clickhouse-repository.ts
Labels: backend

Fix Create Tenant: Sync Databases not Running (#6899)
  tarpon/src/services/tenants/index.ts
Labels: backend

Show possible tag value options in filters (#6789)
  phytoplankton-console/src/pages/transactions/components/TagSearchButton/PopupContent/index.tsx
  phytoplankton-console/src/pages/transactions/components/UserTagSearchButton/PopupContent/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2025.04.29T15.16.48.unique-tags-collection.ts
  tarpon/src/core/seed/data/transactions.ts
  tarpon/src/core/seed/data/users.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend, frontend

Use timezone in executeTimeBasedClickhouseQuery (#6837)
  tarpon/src/services/analytics/dashboard-metrics/utils.ts
Labels: backend

Add nationality and yob to payment details screening (#6898)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/logic-evaluator/variables/__tests__/resources/entity-variables.json
  tarpon/src/services/rules-engine/transaction-rules/payment-details-screening-base.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
  tarpon/src/services/rules-engine/utils/rule-utils.ts
  tarpon/src/utils/helpers.ts
Labels: backend

Refactor clipboard copy functionality to make it more robust (#6864)
  phytoplankton-console/src/components/library/Select/index.tsx
  phytoplankton-console/src/components/ui/Id/index.tsx
  phytoplankton-console/src/pages/settings/components/ApiKeysSettings/index.tsx
  phytoplankton-console/src/utils/browser.ts
Labels: frontend

Sentry: Fix statusChanges materialized column for alerts (#6902)
  tarpon/src/utils/clickhouse/definition.ts
Labels: backend

Added caseId, alertId sort for alerts table (#6890)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  tarpon/src/services/alerts/clickhouse-repository.ts
  tarpon/src/utils/clickhouse/definition.ts
Labels: backend, frontend

CONSOLE: Update tenant's feature button text, show info message while pulling features (#6862)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
Labels: frontend

Fix standard deviation aggregation function for large numbers (#6904)
  tarpon/src/services/logic-evaluator/variable-aggregators/stdev.ts
Labels: backend

Footer buttons were misaligned in Risk simulation report (#6908)
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/SimulationResult/index.tsx
Labels: frontend

AIF widgets now autosize to avoid horizontal scroll (#6907)
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemTable/index.tsx
Labels: frontend

Fix: Custom Case closure/Escalation reason checkbox cannot be deselected (#6886)
  phytoplankton-console/src/pages/settings/components/ReasonsSettings/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2025.05.14T07.38.07.fix-action-reason-counter.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/services/counter/repository.ts
  tarpon/src/services/tenants/reasons-service.ts
  tarpon/src/services/tenants/repositories/reasons-repository.ts
Labels: backend, frontend

Enable Risk algorithm configuration in simulation (#6872)
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/index.tsx
  phytoplankton-console/src/pages/settings/components/RiskAlgorithmsCra/RiskAlgorithmsSelector/index.tsx
  phytoplankton-console/src/pages/settings/components/RiskAlgorithmsCra/RiskAlgorithmsSelector/styles.module.less
  phytoplankton-console/src/pages/settings/components/RiskAlgorithmsCra/index.tsx
  phytoplankton-console/src/pages/settings/components/RiskAlgorithmsCra/styles.module.less
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/batch-jobs/__tests__/simulation-v8-risk-scoring-batch-job-runner.test.ts
  tarpon/src/services/batch-jobs/simulation-v8-risk-scoring-batch-job-runner.ts
Labels: backend, frontend

Add New Payment Method NPP (#6896)
  lib/constants/acronyms.ts
  phytoplankton-console/build/openapi-generate.js
  phytoplankton-console/src/components/library/Tag/PaymentTypeTag/index.tsx
  phytoplankton-console/src/pages/alert-item/components/Header/SubHeader/index.tsx
  phytoplankton-console/src/pages/case-management-item/components/Header/SubHeader/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Transactions/PaymentMethodDistributionWidget/index.tsx
  phytoplankton-console/src/utils/api/payment-details.ts
  phytoplankton-console/src/utils/payments.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/public-management/openapi-public-management-original.yaml
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/@types/tranasction/payment-type.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/core/seed/samplers/transaction.ts
  tarpon/src/core/seed/samplers/users.ts
  tarpon/src/lambdas/public-management-api-rule/__tests__/app.test.ts
  tarpon/src/services/cases/utils/report.ts
  tarpon/src/services/logic-evaluator/variables/__tests__/resources/entity-variables.json
  tarpon/src/services/rules-engine/repositories/clickhouse-repository.ts
  tarpon/src/services/sar/generators/KE/SAR/index.ts
  tarpon/src/services/sar/generators/MY/STR/index.ts
  tarpon/src/services/sar/generators/US/SAR/helpers/prepopulating.ts
  tarpon/src/utils/helpers.ts
Labels: backend, frontend

Minor NPP Fix (#6918)
  tarpon/src/core/dynamodb/dynamodb-keys.ts
Labels: backend

Initialise counter for default risk factors (#6914)
  tarpon/scripts/migrations/post-deployment/2025.05.14T08.46.44.normalise-risk-factor-counters.ts
  tarpon/src/services/tenants/index.ts
Labels: backend

Fix spacing for y axis labels in Line chart (#6915)
  phytoplankton-console/src/components/charts/Line/index.tsx
Labels: frontend

Added better formatting in Rule hit rate and False positive rate line chart (#6906)
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/RuleInstanceAnalytics.tsx
Labels: frontend

:bug: Use `Other` as source name for the profiles with empty source names (#6921)
  tarpon/scripts/migrations/post-deployment/2025.05.015T07.50.17.trigger-sanctions-data-load-for-acuris.ts
  tarpon/src/services/sanctions/providers/acuris-provider.ts
Labels: backend

Update REL sources for KYC6 (#6922)
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/index.tsx
Labels: frontend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

pipeline:
  - bin/**
