Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, pipeline

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

pipeline:
  - bin/**

Build search index on users collection for ongoing screeining (#7193)
  tarpon/src/utils/mongodb-utils.ts
Labels: backend

Remove Alerts Handler and ALERTS_DYNAMO_POC code (#7192)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/dynamodb/dynamodb-stream-consumer-builder.ts
  tarpon/src/core/dynamodb/dynamodb-stream-utils.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
Labels: backend, frontend

remove locks for newer entities (#7194)
  tarpon/src/core/dynamodb/dynamodb-stream-consumer-builder.ts
  tarpon/src/core/dynamodb/dynamodb-stream-utils.ts
Labels: backend

Fix: 404 page not resetting on URL redirection (#7169)
  phytoplankton-console/src/components/utils/ErrorBoundary/index.tsx
  phytoplankton-console/src/pages/404.tsx
Labels: frontend

Fix lastTransactionArrivalTimestamp to not be - infinity (#7195)
  tarpon/src/services/cases/case-creation-service.ts
Labels: backend

Cursor pagination fix to include params to the query (#7189)
  phytoplankton-console/src/components/SanctionsWhitelistTable/index.tsx
Labels: frontend

Fix: Sorting functionality for AI Forensics (#7199)
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemTable/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/index.tsx
  tarpon/src/services/copilot/questions/definitions/alert-history.ts
Labels: backend, frontend

Fix filterClosingReason filter for Alert ClickHouse repository (#7200)
  tarpon/src/services/alerts/clickhouse-repository.ts
Labels: backend

Dont send ShortNameMatching for CA (#7201)
  tarpon/src/services/rules-engine/transaction-rules/payment-details-screening-base.ts
  tarpon/src/services/rules-engine/user-rules/generic-sanctions-consumer-user.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-bank-name.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-business-user.ts
  tarpon/src/services/rules-engine/utils/rule-utils.ts
Labels: backend

E2E: E2E fixes for case creation and case assignment (#7202)
  phytoplankton-console/cypress/e2e/cases/case-creation-test.cy.ts
  phytoplankton-console/cypress/e2e/cases/cases-assignment-filter-test.cy.ts
Labels: frontend

E2E: Fix for tenant switch and ai forensic test (#7204)
  phytoplankton-console/cypress/e2e/ai-forensics/ai-forensics-test.cy.ts
  phytoplankton-console/cypress/support/commands.ts
Labels: frontend

Fix: Aggregate variable can't be used with tags (#7203)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/helpers.ts
Labels: frontend

FIX: flicker of pages on filter change (#7205)
  phytoplankton-console/src/components/utils/ErrorBoundary/index.tsx
Labels: frontend

fix edge case when two risk levels have same bounds (#7207)
  tarpon/src/services/users/repositories/user-clickhouse-repository.ts
  tarpon/src/services/users/utils/user-utils.ts
Labels: backend

Get Settings from Context in Sanctions (#7208)
  tarpon/src/services/sanctions/providers/acuris-provider.ts
  tarpon/src/services/sanctions/providers/dow-jones-provider.ts
  tarpon/src/services/sanctions/providers/open-sanctions-provider.ts
Labels: backend

FIX: E2E fix (#7209)
  phytoplankton-console/cypress/e2e/cases/cases-filter-test.cy.ts
  phytoplankton-console/cypress/support/commands.ts
  phytoplankton-console/cypress/support/index.ts
  phytoplankton-console/src/components/PageLoading/index.tsx
  phytoplankton-console/src/components/library/Spinner/index.tsx
Labels: frontend

Refactor Dynamo and Mongo Multiple Init (#7212)
  tarpon/scripts/migrations/post-deployment/2025.05.29T11.29.11.add_default_screening_profile.ts
  tarpon/scripts/migrations/post-deployment/2025.05.30T14.18.07.update_rule_instances_screening_profile.ts
  tarpon/src/lambdas/console-api-sanctions/app.ts
  tarpon/src/lambdas/incoming-webhooks/app.ts
  tarpon/src/lambdas/transaction-aggregation/app.ts
  tarpon/src/services/batch-jobs/delta-sanctions-batch-job-runner.ts
  tarpon/src/services/batch-jobs/in-house-screening-migration-batch-job-runner.ts
  tarpon/src/services/batch-jobs/sanctions-data-fetch-job-runner.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/sanctions/__tests__/dow-jones.test.ts
  tarpon/src/services/sanctions/__tests__/index.test.ts
  tarpon/src/services/sanctions/data-fetchers.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/providers/__tests__/open-sanctions-provider.test.ts
  tarpon/src/services/sanctions/providers/__tests__/sanctions-data-fetcher.test.ts
  tarpon/src/services/sanctions/providers/acuris-provider.ts
  tarpon/src/services/sanctions/providers/dow-jones-provider.ts
  tarpon/src/services/sanctions/providers/open-sanctions-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/repositories/sanction-source-repository.ts
  tarpon/src/services/screening-profile/index.ts
  tarpon/src/services/screening-profile/repositories/screening-profile-repository.ts
  tarpon/src/services/tenants/index.ts
  tarpon/src/test-utils/rule-test-utils.ts
Labels: backend

Initialize dynamo client out of the loop (#7211)
  tarpon/src/lambdas/incoming-webhooks/app.ts
Labels: backend

Minor Merge Fix (#7214)
  tarpon/src/lambdas/incoming-webhooks/app.ts
Labels: backend

Fix mongo query creation (#7185)
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
Labels: backend

Fix: Payment approval reason getting incorrectly overwritten (#7210)
  phytoplankton-console/src/components/shared/QueryResultsTable.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
  phytoplankton-console/src/pages/case-management/PaymentApprovalTable/index.tsx
Labels: frontend

Fix: Tooltip positioning for overflow (#7216)
  phytoplankton-console/src/components/library/Tooltip/index.tsx
Labels: frontend

Add Name Field in Schema for Contact Details (#7181)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/logic-evaluator/variables/__tests__/resources/entity-variables.json
Labels: backend

Sanitize search term in SP to prevent regex injection vulnerabilities (#7218)
  tarpon/src/services/sanctions/repositories/sanction-source-repository.ts
Labels: backend

Fix search index creation (#7219)
  tarpon/src/utils/mongodb-utils.ts
Labels: backend

Create indexes for SANCTIONS_SOURCE_DOCUMENTS_COLLECTION (#7222)
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend

🐛 Fix selection in query results table (#7224)
  phytoplankton-console/src/components/shared/QueryResultsTable.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/CreateScreeningProfileModal.tsx
Labels: frontend

Fix: Toast component (#7213)
  phytoplankton-console/src/components/library/Message/index.tsx
  phytoplankton-console/src/components/library/Widget/index.tsx
  phytoplankton-console/src/pages/case-management/components/AlertsStatusChangeButton/AlertsStatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/CasesStatusChangeButton/CasesStatusChangeModal.tsx
  phytoplankton-console/src/utils/csv.ts
Labels: frontend

Remove unused persistence configuration from WhitelistTab component (#7225)
  phytoplankton-console/src/pages/sanctions/whitelist/index.tsx
Labels: frontend

Fix latency of public apis caused by screening profile (#7229)
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/repositories/sanction-source-repository.ts
Labels: backend

FEAT: Optimistic Updates for screening details (#7188)
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/ScreeningDetails/UpdateForm/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/ScreeningDetails/index.tsx
Labels: frontend

Entity variable selection reset when changed (#7126)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/EntityVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/NestedSelects/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/helpers.ts
Labels: frontend

Add address screning for R-32 (#7215)
  tarpon/src/services/rules-engine/user-rules/generic-sanctions-consumer-user.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-bank-name.ts
Labels: backend

separated out caseTransactionIds (#7175)
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/services/cases/dynamo-repository.ts
Labels: backend

E2E: update flaky e2e for case details escalate (#7235)
  phytoplankton-console/cypress/e2e/cases/case-details-escalate.cy.ts
Labels: frontend

Remove sentry warning for counter repository (#7234)
  tarpon/src/services/counter/repository.ts
Labels: backend

Added deviation for counter mismatch (#7237)
  tarpon/src/services/counter/repository.ts
Labels: backend

FEAT: sort ff in alphabetically order (#7232)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/components/library/Form/types.ts
  phytoplankton-console/src/components/library/Select/index.tsx
Labels: frontend

FIX: logic for un-blocking account (#7223)
  tarpon/src/lambdas/incoming-webhooks/app.ts
Labels: backend

FIX: Update audit log creation flow for SAR (#7178)
  tarpon/scripts/migrations/post-deployment/2025.06.16T19.38.42.sar-audit-correction.ts
  tarpon/src/lambdas/console-api-sar/app.ts
  tarpon/src/services/sar/service.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend
