Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, raptor

Whitelabel root role (#2415)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/index.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/SettingsProvider.tsx
  phytoplankton-console/src/components/SuperAdminPanel/index.tsx
  phytoplankton-console/src/utils/user-utils.tsx
  tarpon/infra/auth0/cdktf-auth0-resources.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/@types/jwt/index.ts
  tarpon/src/lambdas/console-api-account/app.ts
Labels: backend, infra, frontend

Fix whitelabel role
  tarpon/infra/auth0/cdktf-auth0-resources.ts
Labels: backend, infra

Fix assert currnet user role
  tarpon/src/@types/jwt/index.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
Labels: backend

Make demo data deterministic (#2426)
  tarpon/src/core/seed/data/address.ts
  tarpon/src/core/seed/data/auditlogs.ts
  tarpon/src/core/seed/data/cases.ts
  tarpon/src/core/seed/data/crm.ts
  tarpon/src/core/seed/data/transaction_events.ts
  tarpon/src/core/seed/data/transactions.ts
  tarpon/src/core/seed/samplers/accounts.ts
  tarpon/src/core/seed/samplers/address.ts
  tarpon/src/core/seed/samplers/cases.ts
  tarpon/src/core/seed/samplers/countries.ts
  tarpon/src/core/seed/samplers/currencies.ts
  tarpon/src/core/seed/samplers/dictionary.ts
  tarpon/src/core/seed/samplers/id.ts
  tarpon/src/core/seed/samplers/prng.ts
  tarpon/src/core/seed/samplers/risk_score_components.ts
  tarpon/src/core/seed/samplers/rule_result.ts
  tarpon/src/core/seed/samplers/strings.ts
  tarpon/src/core/seed/samplers/tag.ts
  tarpon/src/core/seed/samplers/timestamp.ts
  tarpon/src/core/seed/samplers/transaction.ts
  tarpon/src/core/seed/samplers/users.ts
Labels: backend

Dont seed QA statuses (#2429)
  tarpon/src/core/seed/samplers/cases.ts
Labels: backend

Mock Currency API (#2430)
  tarpon/jest-setup.ts
  tarpon/scripts/update-test-currencies.ts
  tarpon/test-resources/mocked-currency-exchange-rates.json
Labels: backend

Whitelabel root fixes (#2427)
  phytoplankton-console/src/pages/accounts/Team/index.tsx
  phytoplankton-console/src/utils/user-utils.tsx
Labels: frontend

#FR-3374: Add download data button for ICP (#2434)
  phytoplankton-console/src/components/library/Widget/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemLayout/index.tsx
Labels: frontend

#FR-3366: Add date filters for Distribution graphs in Analytics (#2428)
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseManagement/CaseClosingReasonCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseManagement/DistributionByAlertPriority/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RuleActionSplitCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RulePrioritySplitCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Transactions/PaymentMethodDistributionWidget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/charts/Treemap/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/dashboardutils.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/widgets/WidgetRangePicker.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-dashboard/app.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/case-stats.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-stats-repository.ts
  tarpon/src/utils/array.ts
Labels: backend, frontend

Upgrade CDKTF (#2425)
  tarpon/package-lock.json
  tarpon/package.json
Labels: backend

added In progress,On hold options to filter and fixed the In review option (#2432)
  phytoplankton-console/src/pages/case-management/components/StatusChangeButton.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TeamPerformanceCard/index.tsx
Labels: frontend

Fix Lithuania STR Validation (#2437)
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/index.tsx
Labels: frontend

Update multiple sanctions hit display (#2433)
  phytoplankton-console/src/components/ScreeningMatchList/MatchListDropdown.tsx
  phytoplankton-console/src/components/ScreeningMatchList/index.tsx
  phytoplankton-console/src/components/library/Select/index.tsx
Labels: frontend

Added Script to Recalculate KRS and DRS (#2438)
  tarpon/scripts/migrations/post-deployment/2023.10.09T20.04.23.rerun-krs-and-cra-of-ziina.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
  tarpon/src/services/risk-scoring/risk-scoring-service.ts
  tarpon/src/services/rules-engine/repositories/case-repository.ts
Labels: backend

Fr 3093 new filter under transaction details (#2101)
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/TimeRangeInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/types.ts
  tarpon/src/services/rules-engine/filters.ts
  tarpon/src/services/rules-engine/repositories/dynamodb-transaction-repository.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/rules-engine/repositories/transaction-repository-interface.ts
  tarpon/src/services/rules-engine/transaction-filters/__tests__/transaction-time-range.test.ts
  tarpon/src/services/rules-engine/transaction-filters/transaction-time-range-historical.ts
  tarpon/src/services/rules-engine/transaction-filters/transaction-time-range.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-volume.test.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
  tarpon/src/services/rules-engine/utils/transaction-rule-utils.ts
Labels: backend, frontend

QA Improvements (#2439)
  phytoplankton-console/src/components/ScreeningMatchList/index.tsx
  phytoplankton-console/src/components/library/Dropdown/index.module.less
  phytoplankton-console/src/components/library/Dropdown/index.tsx
  phytoplankton-console/src/components/library/Dropdown/story.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/CheckListCategoryListsInput/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseStatusWithDropDown/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/AlertExpanded/Checklist/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/AlertExpanded/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/QaStatusChangeModal/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/components/AlertsStatusChangeButton/AlertsStatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/CasesStatusChangeButton/CasesStatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
  phytoplankton-console/src/pages/settings/components/ChecklistTemplatesSettings.tsx
  phytoplankton-console/src/utils/checklist-templates.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/seed/data/checklists.ts
  tarpon/src/core/seed/samplers/cases.ts
  tarpon/src/lambdas/console-api-case/services/case-service.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/rules-engine/repositories/alerts-repository.ts
  tarpon/src/services/rules-engine/repositories/case-repository.ts
Labels: backend, frontend

updated the label and description (#2446)
  phytoplankton-console/src/components/UserStatusTriggersAdvancedOptionsForm/index.tsx
Labels: frontend

updated the position of on off in demo mode actions (#2443)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/DemoModeSwitch/index.tsx
Labels: frontend

Improved close alerts e2e tests (#2450)
  phytoplankton-console/cypress/e2e/alerts/alerts-close-test.cy.ts
Labels: frontend

Alert priority filter doesn’t work (#2420)
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTableWrapper.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/rules-engine/repositories/case-repository.ts
Labels: backend, frontend

QA Fixes 2 (#2449)
  phytoplankton-console/src/components/ActivityCard/helpers.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/AlertExpanded/Checklist/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/QaStatusChangeModal/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/components/AlertsStatusChangeButton/AlertsStatusChangeModal.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/console-api-case/services/case-alerts-audit-log-service.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/rules-engine/repositories/alerts-repository.ts
  tarpon/src/services/rules-engine/repositories/case-repository.ts
Labels: backend, frontend

Added A fix of Case Status (#2451)
  phytoplankton-console/src/utils/case-utils.ts
Labels: frontend

QA Button Always Visible (#2452)
  phytoplankton-console/src/pages/case-management/index.tsx
Labels: frontend

Rules checklist on case creation (#2453)
  tarpon/src/lambdas/console-api-case/services/case-creation-service.ts
  tarpon/src/services/rules-engine/repositories/alerts-repository.ts
  tarpon/src/services/rules-engine/repositories/case-repository.ts
  tarpon/src/services/tenants/checklist-template-service.ts
  tarpon/src/services/tenants/repositories/checklist-templates-repository.ts
Labels: backend

Fix System Closed alerts and cases are not being displayed in logs (#2455)
  tarpon/scripts/migrations/post-deployment/2023.10.11T20.43.51.fix-system-closed-alerts-are-not-part-of-activity-log.ts
  tarpon/src/lambdas/console-api-case/services/case-alerts-audit-log-service.ts
  tarpon/src/lambdas/console-api-case/services/case-service.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/rules-engine/repositories/alerts-repository.ts
  tarpon/src/services/rules-engine/repositories/case-repository.ts
Labels: backend

Add Zigram whitelabel (#2456)
  phytoplankton-console/src/branding/zigram-favicon.svg
  phytoplankton-console/src/branding/zigram-logo.svg
  phytoplankton-console/src/utils/branding.ts
  tarpon/lib/configs/auth0/tenant-config-sandbox-zigram.ts
  tarpon/lib/configs/auth0/tenant-config.ts
  tarpon/lib/openapi/openapi-internal-constants.ts
Labels: backend, frontend

added manual spacing instead if escape sequence (#2442)
  phytoplankton-console/README.md
Labels: frontend

made all the cards rounded (#2445)
  phytoplankton-console/src/components/PageWrapper/styles.module.less
  phytoplankton-console/src/components/common/AsyncResourceRenderer/index.module.less
  phytoplankton-console/src/components/library/Widget/index.module.less
  phytoplankton-console/src/components/ui/PageTabs/index.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/OverviewCard/styles.module.less
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/style.module.less
Labels: frontend

moved the expand icon below logo (#2441)
  phytoplankton-console/src/components/AppWrapper/Menu/Header/index.module.less
Labels: frontend

Schema Error fix in Reports (#2460)
  phytoplankton-console/src/components/library/JsonSchemaEditor/utils.ts
Labels: frontend

implemented KRS distribution and changed the current CRA distribution (#2457)
  phytoplankton-console/src/pages/dashboard/analysis/components/RiskLevelDistributionCard/RiskTypeSelector.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RiskLevelDistributionCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RiskLevelDistributionCard/styles.module.less
  phytoplankton-console/src/pages/dashboard/analysis/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/scripts/migrations/post-deployment/2023.09.18T10.41.57.refresh-user-drs-stats.ts
  tarpon/scripts/migrations/post-deployment/2023.10.11T23.20.25.calculate-krs-stats.ts
  tarpon/src/lambdas/console-api-dashboard/app.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/risk-level-distribution-stats.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/rule-stats.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-stats-repository.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/types.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend, frontend

Investigation checklist template status update (#2417)
  phytoplankton-console/src/components/library/CrudEntitiesTable/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/BasicDetailsStep/index.tsx
  phytoplankton-console/src/pages/settings/components/ChecklistTemplatesSettings.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2023.10.10T07.34.04.add-status-to-checklist.ts
  tarpon/src/core/seed/data/checklists.ts
  tarpon/src/services/tenants/checklist-template-service.ts
Labels: backend, frontend

removed null values from case.statusChanges array (#2461)
  phytoplankton-console/src/pages/case-management-item/CaseStatusWithDropDown/index.tsx
  tarpon/scripts/migrations/post-deployment/2023.10.12T10.09.34.case-remove-null-values-from-status-changes.ts
Labels: backend, frontend

Fix AuthID appearing in CSV download (#2447)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
Labels: frontend

Case log doesnt log close event. (#2448)
  tarpon/src/core/seed/data/auditlogs.ts
  tarpon/src/core/seed/data/cases.ts
  tarpon/src/core/seed/samplers/cases.ts
Labels: backend

Update Zigram logo
  tarpon/lib/configs/auth0/tenant-config-sandbox-zigram.ts
Labels: backend

Update Zigram logo
  tarpon/lib/configs/auth0/tenant-config-sandbox-zigram.ts
Labels: backend

Fix zigram sandbox URL
  tarpon/lib/openapi/openapi-internal-constants.ts
Labels: backend

Fix clientID
  phytoplankton-console/src/utils/branding.ts
Labels: frontend

Update Zigram login logo
  tarpon/lib/configs/auth0/tenant-config-sandbox-zigram.ts
Labels: backend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

raptor:
  - raptor/**
