Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, pipeline

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

pipeline:
  - bin/**

Rename Congo -> DR Congo (#7612)
  lib/constants/countries.ts
Labels: none

Name not visible in User's export (#7621)
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/types.ts
  phytoplankton-console/src/pages/case-management/components/AlertsStatusChangeButton/AlertsStatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/CasesStatusChangeButton/CasesStatusChangeModal.tsx
  phytoplankton-console/src/utils/api/users.ts
  phytoplankton-console/src/utils/case-utils.ts
Labels: frontend

FIX: fix counter for risk factor in demo data (#7623)
  tarpon/src/core/seed/mongo.ts
Labels: backend

Batch jobs collection to ClickHouse (#7548)
  tarpon/package.json
  tarpon/src/core/dynamodb/dynamodb-stream-consumer-builder.ts
  tarpon/src/core/dynamodb/dynamodb-stream-utils.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/models/batch-job.ts
  tarpon/src/models/index.ts
  tarpon/src/models/migrations/1753866355200-migration.ts
  tarpon/src/services/batch-jobs/__tests__/batch-job-trigger.test.ts
  tarpon/src/services/batch-jobs/__tests__/rule-pre-aggregation-batch-job-runner.test.ts
  tarpon/src/services/batch-jobs/repositories/__tests__/batch-job.test.ts
  tarpon/src/services/batch-jobs/repositories/__tests__/utils.ts
  tarpon/src/services/batch-jobs/repositories/batch-job-repository.ts
  tarpon/src/services/batch-jobs/repositories/clickhouse-repository.ts
  tarpon/src/services/batch-jobs/repositories/dynamo-repository.ts
  tarpon/src/services/batch-jobs/repositories/filter-utils.ts
  tarpon/src/test-utils/clickhouse-test-utils.ts
  tarpon/yarn.lock
Labels: backend

fix clickhosue queries for transactions (#7624)
  tarpon/src/lambdas/console-api-transaction/services/transaction-service.ts
  tarpon/src/services/users/repositories/user-clickhouse-repository.ts
Labels: backend

Show QA pass/fail reasons and comments (#7594)
  phytoplankton-console/src/pages/case-management/AlertTable/QaStatusChangeModal/index.tsx
  phytoplankton-console/src/pages/case-management/QA/Table/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/alerts/index.ts
Labels: backend, frontend

Fix mongo query for R-17 and R-18 (#7626)
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
Labels: backend

Fix: Alert ID undefined in case export (#7629)
  tarpon/src/services/cases/repository.ts
Labels: backend

Fix: "View TRS risk factors" leads to 404 if simulation enabled (#7631)
  phytoplankton-console/src/components/ui/DynamicRiskHistoryDisplay/DynamicRiskHistoryModal/index.tsx
  phytoplankton-console/src/components/ui/Id/index.tsx
  phytoplankton-console/src/services/routing/index.ts
Labels: frontend

e2e fix for select component (#7632)
  phytoplankton-console/cypress/e2e/rules/create-scenario.cy.ts
  phytoplankton-console/cypress/e2e/team-management/accounts-crud-test.cy.ts
Labels: frontend

Configure eslint to remove unused imports (#7601)
  lib/.eslintrc.js
  lib/package.json
  lib/yarn.lock
  phytoplankton-console/.eslintrc.js
  phytoplankton-console/package.json
  phytoplankton-console/yarn.lock
  tarpon/.eslintrc.js
  tarpon/package.json
  tarpon/src/core/seed/data/users.ts
  tarpon/yarn.lock
Labels: backend, frontend

FIX: condition for unblocking account (#7396)
  tarpon/src/lambdas/incoming-webhooks/app.ts
Labels: backend

Migration to remove user status change comment B4B prod (#7553)
  tarpon/scripts/migrations/post-deployment/2025.07.04T07.04.09.remove-user-api-tags-comments2.ts
Labels: backend

Handle hits post-processing in downstream (#7589)
  tarpon/src/services/sanctions/__tests__/dow-jones.test.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/providers/utils.ts
  tarpon/src/services/sanctions/repositories/sanctions-search-repository.ts
Labels: backend

Add feature flag for sanctions in StatusChangeButton component (#7635)
  phytoplankton-console/src/pages/case-management/components/StatusChangeButton.tsx
Labels: frontend

Improve query input and string sanitization (#7636)
  lib/utils/string.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/repositories/sanctions-search-repository.ts
Labels: backend

FIX: custom risk factors in user CRA export (#7637)
  phytoplankton-console/src/components/DownloadAsPdf/report-utils.tsx
  phytoplankton-console/src/components/ui/DynamicRiskHistoryDisplay/DynamicRiskHistoryModal/index.tsx
  phytoplankton-console/src/pages/users-item/UserReport/index.tsx
Labels: frontend

FEAT: Custom risk factor logic in CRA history table (#7618)
  phytoplankton-console/src/components/ui/DynamicRiskHistoryDisplay/DynamicRiskHistoryModal/ExpandedRowRenderer/index.module.less
  phytoplankton-console/src/components/ui/DynamicRiskHistoryDisplay/DynamicRiskHistoryModal/ExpandedRowRenderer/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/console-api-pulse/app.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
  tarpon/src/services/risk/index.ts
Labels: backend, frontend

Fix relevance types for DJ screening-profiles (#7633)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Labels: backend

Count query fix (#7639)
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/index.tsx
  tarpon/package.json
Labels: backend, frontend

Revert "Batch jobs collection to ClickHouse" (#7640)
  tarpon/package.json
  tarpon/src/core/dynamodb/dynamodb-stream-consumer-builder.ts
  tarpon/src/core/dynamodb/dynamodb-stream-utils.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/models/batch-job.ts
  tarpon/src/models/index.ts
  tarpon/src/models/migrations/1753866355200-migration.ts
  tarpon/src/services/batch-jobs/__tests__/batch-job-trigger.test.ts
  tarpon/src/services/batch-jobs/__tests__/rule-pre-aggregation-batch-job-runner.test.ts
  tarpon/src/services/batch-jobs/repositories/__tests__/batch-job.test.ts
  tarpon/src/services/batch-jobs/repositories/__tests__/utils.ts
  tarpon/src/services/batch-jobs/repositories/batch-job-repository.ts
  tarpon/src/services/batch-jobs/repositories/clickhouse-repository.ts
  tarpon/src/services/batch-jobs/repositories/dynamo-repository.ts
  tarpon/src/services/batch-jobs/repositories/filter-utils.ts
  tarpon/src/test-utils/clickhouse-test-utils.ts
  tarpon/yarn.lock
Labels: backend

Fix get user by ids for clickhouse (#7641)
  tarpon/src/services/users/repositories/user-clickhouse-repository.ts
Labels: backend

Revert "Add Rule Stages for R-169 and R-170 (#7570)" (#7642)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/pre-deployment/2025.07.29T08.44.35.add-rule-stage-for-r-169-170.ts
  tarpon/scripts/migrations/utils/rule.ts
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/lambdas/transaction-aggregation/app.ts
  tarpon/src/services/cases/__tests__/case-creation-service.test.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/payment-details-screening.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/sanctions-counterparty.test.ts
  tarpon/src/services/rules-engine/transaction-rules/high-traffic-volume-between-same-users.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/transaction-rules/payment-details-screening-base.ts
  tarpon/src/services/rules-engine/transaction-rules/rule.ts
  tarpon/src/services/rules-engine/transaction-rules/sanctions-counterparty.ts
  tarpon/src/services/rules-engine/user-filters/filter.ts
  tarpon/src/services/rules-engine/user-rules/generic-sanctions-consumer-user.ts
  tarpon/src/services/rules-engine/user-rules/rule.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-bank-name.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-business-user.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-consumer-user.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
  tarpon/src/services/rules-engine/utils/user-rule-utils.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/providers/comply-advantage-provider.ts
  tarpon/src/test-utils/rule-test-utils.ts
Labels: backend

Revert "Revert "Add Rule Stages for R-169 and R-170 (#7570)"" (#7643)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/pre-deployment/2025.07.29T08.44.35.add-rule-stage-for-r-169-170.ts
  tarpon/scripts/migrations/utils/rule.ts
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/lambdas/transaction-aggregation/app.ts
  tarpon/src/services/cases/__tests__/case-creation-service.test.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/payment-details-screening.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/sanctions-counterparty.test.ts
  tarpon/src/services/rules-engine/transaction-rules/high-traffic-volume-between-same-users.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/transaction-rules/payment-details-screening-base.ts
  tarpon/src/services/rules-engine/transaction-rules/payment-details-screening.ts
  tarpon/src/services/rules-engine/transaction-rules/rule.ts
  tarpon/src/services/rules-engine/transaction-rules/sanctions-counterparty.ts
  tarpon/src/services/rules-engine/user-filters/filter.ts
  tarpon/src/services/rules-engine/user-rules/generic-sanctions-consumer-user.ts
  tarpon/src/services/rules-engine/user-rules/rule.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-bank-name.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-business-user.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-consumer-user.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
  tarpon/src/services/rules-engine/utils/user-rule-utils.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/providers/comply-advantage-provider.ts
  tarpon/src/test-utils/rule-test-utils.ts
Labels: backend

Remove linkedEntities_parentUserId index (#7644)
  tarpon/src/utils/clickhouse/definition.ts
Labels: backend

Return empty array getUsersByIds if no userIds provided (#7647)
  tarpon/src/services/users/repositories/user-clickhouse-repository.ts
Labels: backend

Implement search and filter component (#7420)
  phytoplankton-console/src/components/library/QuickFilter/QuickFilterButton/index.tsx
  phytoplankton-console/src/components/library/SearchBar/SearchBarDropdown/index.module.less
  phytoplankton-console/src/components/library/SearchBar/SearchBarDropdown/index.tsx
  phytoplankton-console/src/components/library/SearchBar/SearchBarField/index.module.less
  phytoplankton-console/src/components/library/SearchBar/SearchBarField/index.tsx
  phytoplankton-console/src/components/library/SearchBar/index.module.less
  phytoplankton-console/src/components/library/SearchBar/index.tsx
  phytoplankton-console/src/components/library/SearchBar/story.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/EntityVariableForm.tsx
  phytoplankton-console/src/pages/rules/RulesTable/RulesSearchBar/index.tsx
Labels: frontend

FIX: Updated in progess api for CUSTOM List (#7599)
  phytoplankton-console/package.json
  phytoplankton-console/src/pages/lists-item/index.tsx
  phytoplankton-console/yarn.lock
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/models/flat-files-records.ts
  tarpon/src/models/migrations/1754546457841-migration.ts
  tarpon/src/services/flat-files/baseRunner/index.ts
  tarpon/src/services/flat-files/format/csv.ts
  tarpon/src/services/flat-files/index.ts
  tarpon/src/services/flat-files/runner/custom-list-upload.ts
  tarpon/src/services/flat-files/runner/index.ts
Labels: backend, frontend

Ignore custom NotFoundError in Sentry (#7652)
  phytoplankton-console/src/app.tsx
Labels: frontend

Screening profile fixes (#7653)
  phytoplankton-console/src/components/library/Select/index.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/CreateScreeningProfileModal.tsx
Labels: frontend

Fix Distribution by closing reason in ClickHouse (#7659)
  tarpon/src/services/analytics/dashboard-metrics/case-stats.ts
Labels: backend

Revert "Get queries from ClickHouse for users collection (#7449)" (#7663)
  tarpon/src/lambdas/console-api-transaction/services/transaction-service.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/batch-import/index.ts
  tarpon/src/services/cases/case-creation-service.ts
  tarpon/src/services/list/index.ts
  tarpon/src/services/logic-evaluator/variables/user-child-user-ids.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/users/index.ts
  tarpon/src/services/users/repositories/user-clickhouse-repository.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/utils/clickhouse/definition.ts
Labels: backend

Removed WIP tag from Alert_Details_Page and ENG from Chainalysis in Feature Flags tags (#7666)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
Labels: frontend

Bugfix: Return to previous stable lambda code (#7670)
  tarpon/src/lambdas/console-api-pulse/app.ts
Labels: backend

Fix merge issues, implement proposal creation for restoring from history (#7671)
  phytoplankton-console/src/components/VersionHistory/RestoreButton/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/RiskClassification/Header/ApprovalWorkflowActions.tsx
  phytoplankton-console/src/pages/risk-levels/configure/RiskClassification/Header/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/RiskClassification/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/utils.ts
  tarpon/src/services/version-history/index.ts
Labels: backend, frontend

FIX: refetch creds before cdktf deploy (#7645)
  tarpon/scripts/deploy-cdktf.ts
Labels: backend

:zap: Add transaction anomaly detection rules (#7656)
  phytoplankton-console/src/components/library/Tag/DynamicRuleTag/index.module.less
  phytoplankton-console/src/components/library/Tag/DynamicRuleTag/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/RuleConfigurationForm/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/EntityVariableForm.tsx
  phytoplankton-console/src/pages/rules/RulesTable/RulesSearchBar/index.tsx
  phytoplankton-console/src/pages/rules/RulesTable/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/@types/rule/rule-actions.ts
  tarpon/src/services/rules-engine/repositories/rule-repository.ts
  tarpon/src/services/rules-engine/rule-service.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/average-transaction-value-spike.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/round-amount-anomaly.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transaction-anomaly.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-frequency-anomaly.test.ts
  tarpon/src/services/rules-engine/transaction-rules/average-transaction-value-spike.ts
  tarpon/src/services/rules-engine/transaction-rules/index.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/transaction-rules/round-amount-anomaly.ts
  tarpon/src/services/rules-engine/transaction-rules/transaction-anomaly.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-frequency-anomaly.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-standard-deviation-anomaly-base.ts
Labels: backend, frontend

Added user status alias aqs well as KYC status alias (#7607)
  lib/utils/userAlias.ts
  phytoplankton-console/src/components/AiForensics/SearchBar/index.tsx
  phytoplankton-console/src/components/AppWrapper/Menu/index.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/SettingsProvider.tsx
  phytoplankton-console/src/components/CaseEscalateTriggerAdvancedOptionsForm/components/UpdateuserDetails/UpdateUserDetails.tsx
  phytoplankton-console/src/components/UserStatusTriggersAdvancedOptionsForm/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/ArrayPropertyInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/utils.ts
  phytoplankton-console/src/components/library/Tag/UserKycStatusTag/index.tsx
  phytoplankton-console/src/components/library/Tag/UserStateTag/index.tsx
  phytoplankton-console/src/components/utils/humanizeKYCStatus.ts
  phytoplankton-console/src/components/utils/humanizeUserStatus.ts
  phytoplankton-console/src/pages/auditlog/components/RuleAuditLogModal/index.tsx
  phytoplankton-console/src/pages/auditlog/components/TableTemplate/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/UserStatusDistributionCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/widgets/DistributionChartWidget/index.tsx
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/index.tsx
  phytoplankton-console/src/pages/settings/components/StatusAliasSettings/StatusAliasSettings.tsx
  phytoplankton-console/src/pages/settings/components/StatusAliasSettings/style.module.less
  phytoplankton-console/src/pages/settings/components/UserAliasSettings/UserAliasSettings.tsx
  phytoplankton-console/src/pages/settings/components/UserAliasSettings/style.module.less
  phytoplankton-console/src/pages/settings/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/KYCStatusEditor/KYCChangeModal/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/KYCStatusEditor/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserStateEditor/UserChangeModal/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserStateEditor/index.tsx
  phytoplankton-console/src/pages/users/users-list/users-table.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Labels: backend, frontend

Removed trailing /all from Users list page (#7650)
  phytoplankton-console/cypress/e2e/basic/load-main-pages.cy.ts
  phytoplankton-console/cypress/e2e/basic/load-tables.cy.ts
  phytoplankton-console/cypress/e2e/users/users-comment.cy.ts
  phytoplankton-console/src/pages/users/users-list/index.tsx
  phytoplankton-console/src/services/routing/index.ts
Labels: frontend

Bump concurrency for transaction aggregation function (#7676)
  lib/config/config-prod-eu-2.ts
  lib/config/config-prod-us-1.ts
Labels: none
