Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, databricks, pipeline

Fix broken migration (#3610)
  tarpon/src/utils/dynamodb.ts
Labels: backend

Rename Demo checklist name (#3611)
  tarpon/src/core/seed/data/checklists.ts
Labels: backend

Improve screening alert demo data (#3546)
  tarpon/src/core/seed/samplers/users.ts
Labels: backend

Add tenant to kinesis events tables (#3580)
  databricks/notebooks/pipeline.py
  databricks/src/dlt/kinesis_events.py
  databricks/src/dlt/kinesis_events_test.py
Labels: databricks

Fix Reload while Status Changes (#3612)
  phytoplankton-console/src/pages/case-management/components/AlertsStatusChangeButton/AlertsStatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/CasesStatusChangeButton/CasesStatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
Labels: frontend

Fix Rule Input Bug (#3613)
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/TransactionAmountRangeInput/index.tsx
Labels: frontend

Delta live table fixes (#3618)
  databricks/.pylintrc
  databricks/src/dynamo/deserialize.py
  databricks/src/dynamo/deserialize_test.py
  databricks/src/entities/currency_rates.py
  databricks/src/entities/transactions.py
Labels: databricks

Update Sanctions List as per feb 2024 (#3616)
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/index.tsx
Labels: frontend

Rule Instance and Rule Service Fix (#3607)
  tarpon/src/services/rules-engine/rule-instance-service.ts
  tarpon/src/services/rules-engine/rule-service.ts
  tarpon/src/services/rules-engine/utils.ts
Labels: backend

Fix Sentry Transaction limits Error (#3617)
  phytoplankton-console/src/pages/users-item/UserDetails/BusinessUserDetails/TransactionLimits/index.tsx
Labels: frontend

Maximum Transaction Limit on Console (#3615)
  phytoplankton-console/src/pages/users-item/UserDetails/BusinessUserDetails/TransactionLimits/index.tsx
Labels: frontend

Initialize only once per sanctions/iban service instance (#3602)
  tarpon/src/services/batch-jobs/ongoing-merchant-monitoring-batch-job-runner.ts
  tarpon/src/services/iban.com/index.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/sanctions-counterparty.test.ts
  tarpon/src/services/rules-engine/user-rules/__tests__/sanctions-bank-name.test.ts
  tarpon/src/services/sanctions/index.ts
Labels: backend

Risk level alias in Transaction report (#3606)
  phytoplankton-console/src/pages/transactions-item/TransactionReport/index.tsx
  phytoplankton-console/src/pages/transactions-item/index.tsx
  phytoplankton-console/src/pages/users-item/Header/HeaderMenu.tsx
  phytoplankton-console/src/pages/users-item/UserReport/index.tsx
Labels: frontend

Fix currency join
  databricks/notebooks/pipeline.py
  databricks/src/dlt/cdc_test.py
  databricks/src/entities/transactions.py
  databricks/src/entities/transactions_test.py
Labels: databricks

Update currency rates
  databricks/data/currency_rates_backfill.json
  databricks/src/scripts/currency_rates_backfill.py
Labels: databricks

#FR-4487: Construct connect-src/frame-src dynamically for white-label URLs (#3555)
  lib/config/config-branding-json.json
  lib/config/config-branding.ts
  phytoplankton-console/build/index.js
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/utils/branding.ts
  tarpon/lib/openapi/openapi-internal-constants.ts
Labels: backend, frontend

Implement Top users by rule hit widget as per design (#3603)
  phytoplankton-console/src/pages/dashboard/analysis/components/HitsPerUserCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TopUsersHitCard.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2024.04.05T08.34.31.update-hits-per-user-for-rule-hit-count.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/__tests__/dashboard-stats-repository.hits-per-user.test.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/hits-by-user-stats.ts
Labels: backend, frontend

Optimise Running R-33 (#3541)
  tarpon/src/services/batch-jobs/ongoing-screening-user-rule-batch-job-runner.ts
  tarpon/src/services/rules-engine/rule.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/library.test.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/user-ongoing-rules/__tests__/user-inactivity.test.ts
  tarpon/src/services/rules-engine/user-ongoing-rules/user-inactivity.ts
  tarpon/src/services/rules-engine/user-rules/__tests__/user-inactivity.test.ts
  tarpon/src/services/rules-engine/user-rules/index.ts
  tarpon/src/services/rules-engine/user-rules/rule.ts
  tarpon/src/services/rules-engine/user-rules/user-inactivity.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/services/users/utils/user-utils.ts
  tarpon/src/test-utils/rule-test-utils.ts
  tarpon/src/test-utils/user-test-utils.ts
  tarpon/src/utils/mongodb-utils.ts
Labels: backend

Migration Fix for R-33 (#3626)
  tarpon/src/services/rules-engine/transaction-rules/library.ts
Labels: backend

Optimise delta live tables (#3624)
  databricks/fixtures/currency.json
  databricks/fixtures/transaction_processed.json
  databricks/src/dlt/backfill_test.py
  databricks/src/dlt/cdc.py
  databricks/src/dlt/cdc_test.py
  databricks/src/dlt/currency_rates.py
  databricks/src/dlt/currency_rates_test.py
  databricks/src/dlt/schema.py
  databricks/src/dynamo/deserialize.py
  databricks/src/dynamo/deserialize_test.py
  databricks/src/entities/transactions.py
  databricks/src/entities/transactions_test.py
Labels: databricks

Change currency query for batch mode (#3628)
  databricks/notebooks/backfill.py
  databricks/src/dlt/backfill.py
  databricks/src/dlt/backfill_test.py
  databricks/src/dlt/cdc.py
  databricks/src/entities/entity.py
  databricks/src/entities/transactions.py
  databricks/src/entities/transactions_test.py
Labels: databricks

Move Case Services to Services from Lambda (#3629)
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/console-api-copilot/app.ts
  tarpon/src/lambdas/console-api-transaction/app.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/batch-jobs/__tests__/ongoing-screening-user-rule-batch-job-runner.test.ts
  tarpon/src/services/batch-jobs/ongoing-screening-user-rule-batch-job-runner.ts
  tarpon/src/services/cases/__tests__/case-creation-service.test.ts
  tarpon/src/services/cases/__tests__/case-service.test.ts
  tarpon/src/services/cases/__tests__/utils.test.ts
  tarpon/src/services/cases/__tests__/utils/case-transactions.ts
  tarpon/src/services/cases/case-alerts-audit-log-service.ts
  tarpon/src/services/cases/case-creation-service.ts
  tarpon/src/services/cases/index.ts
  tarpon/src/services/cases/utils/index.ts
Labels: backend

Direction-less entity variable (#3593)
  lib/utils/object.ts
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/EntityVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/helpers.ts
  tarpon/src/services/rules-engine/v8-engine/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-engine/index.ts
  tarpon/src/services/rules-engine/v8-migrations/index.ts
  tarpon/src/services/rules-engine/v8-operators/index.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/payment-details.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/resources/entity-variables.json
  tarpon/src/services/rules-engine/v8-variables/index.ts
  tarpon/src/services/rules-engine/v8-variables/payment-details.ts
Labels: backend, frontend

Fix AI Forensics brain icon not working (#3632)
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemLayout/CommentPopover/index.tsx
Labels: frontend

Fix databricks backfill script
  databricks/src/dlt/backfill.py
  databricks/src/dlt/backfill_test.py
  databricks/src/entities/transactions.py
Labels: databricks

Sync currency rates backfill json file
  databricks/Makefile
Labels: databricks

Fix: CVE-2023-42282 - ip (#3636)
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend

Refractor Latest Team Stats (#3625)
  phytoplankton-console/src/pages/dashboard/analysis/components/TeamPerformanceCard/LatestTeamOverview/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2024.04.09T10.38.39.refresh-latest-team-stats.ts
  tarpon/src/lambdas/console-api-dashboard/app.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/latest-team-stats.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-stats-repository.ts
  tarpon/src/services/batch-jobs/dashboard-refresh-batch-job-runner.ts
Labels: backend, frontend

Maker Checker Updates (#3621)
  phytoplankton-console/src/pages/accounts/Team/index.tsx
  phytoplankton-console/src/pages/accounts/components/AccountForm.tsx
Labels: frontend

Remove Role while deleting users (#3627)
  tarpon/src/services/accounts/index.ts
Labels: backend

Remove normal parameters from audit log when risk levels feature flag is enabled (#3604)
  tarpon/src/services/rules-engine/rules-audit-log-service.ts
Labels: backend

Fix local API server not working if servers.url has path (#3638)
  tarpon/local-api-server.ts
Labels: backend

Revert "Direction-less entity variable (#3593)" (#3639)
  lib/utils/object.ts
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/EntityVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/helpers.ts
  tarpon/src/services/rules-engine/v8-engine/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-engine/index.ts
  tarpon/src/services/rules-engine/v8-migrations/index.ts
  tarpon/src/services/rules-engine/v8-operators/index.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/payment-details.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/resources/entity-variables.json
  tarpon/src/services/rules-engine/v8-variables/index.ts
  tarpon/src/services/rules-engine/v8-variables/payment-details.ts
Labels: backend, frontend

Implement public endpoints for getting single transaction/user event (#3630)
  tarpon/lib/openapi/openapi-public-augmentor.ts
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/lambdas/public-api-rules-engine/__tests__/app.test.ts
  tarpon/src/lambdas/public-api-rules-engine/app.ts
  tarpon/src/services/rules-engine/repositories/transaction-event-repository.ts
  tarpon/src/services/rules-engine/repositories/user-event-repository.ts
Labels: backend

Fix Migration Dashboard latest team stats (#3640)
  tarpon/scripts/migrations/post-deployment/2024.04.09T10.38.39.refresh-latest-team-stats.ts
Labels: backend

Fix state issue with currency join (#3637)
  databricks/data/currency_rates_backfill.json
  databricks/infra/main.ts
  databricks/src/dlt/backfill.py
  databricks/src/dlt/cdc.py
  databricks/src/entities/entity.py
  databricks/src/entities/transactions.py
  databricks/src/entities/transactions_test.py
  databricks/src/scripts/currency_rates_backfill.py
Labels: databricks

Revert to use Python UDF, but better (#3642)
  databricks/.pylintrc
  databricks/src/dlt/cdc.py
  databricks/src/dlt/currency_rates.py
  databricks/src/dynamo/deserialize.py
  databricks/src/dynamo/deserialize_test.py
  databricks/src/entities/transactions_test.py
Labels: databricks

Optimise filtering of kinesis events (#3643)
  databricks/src/dlt/cdc.py
Labels: databricks

Optimise Dashboard Latest Team Refresh (#3644)
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/latest-team-stats.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/rules-engine/repositories/alerts-repository.ts
Labels: backend

AI Forensics: fix entity linking so that it doesn't request entity for every render (#3646)
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/entity_linking.tsx
Labels: frontend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

databricks:
  - databricks/**

pipeline:
  - bin/**
