Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, raptor, pipeline

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

raptor:
  - raptor/**

pipeline:
  - bin/**

Clickhouse Sync Index on migration added (#5107)
  tarpon/src/utils/clickhouse/definition.ts
  tarpon/src/utils/clickhouse/utils.ts
Labels: backend

Fix number of jobs for PNB backfill
  tarpon/src/services/batch-jobs/pnb-screening-backfill-runner.ts
Labels: backend

null => undefined
  tarpon/src/services/batch-jobs/pnb-screening-backfill-runner.ts
Labels: backend

Fix incorrect Average TRS risk score displayed for PNB (#5351)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-pulse/app.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/logic-evaluator/engine/index.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
  tarpon/src/services/risk-scoring/risk-scoring-v8-service.ts
  tarpon/src/services/risk/index.ts
  tarpon/src/services/rules-engine/utils.ts
Labels: backend

#FR-5713: Fix whitelist cleaning when reopening hits (#5272)
  phytoplankton-console/src/pages/case-management/AlertTable/SanctionsHitStatusChangeModal/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-sanctions/app.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/utils/pagination.ts
Labels: backend, frontend

Enable using whitelists in V8 (#5347)
  phytoplankton-console/src/components/ui/LogicBuilder/ListSelect/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/console-api-list-importer/app.ts
Labels: backend, frontend

Add list version to request (#5343)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/rules-engine/user-rules/list-screening-consumer-user.ts
  tarpon/src/services/sanctions/index.ts
Labels: backend

Remove feature flag from console (#5356)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
Labels: frontend

Update tag to Incomplete/complete on risk re-run (#5348)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/src/lambdas/hammerhead-change-mongodb-consumer/app.ts
  tarpon/src/services/risk/index.ts
  tarpon/src/services/rules-engine/utils.ts
Labels: backend, infra

Fix to not disable webhooks for PNB
  tarpon/src/lambdas/webhook-deliverer/app.ts
Labels: backend

Optimize selected tables for Clickhouse (#5358)
  tarpon/src/lambdas/cron-job-daily/app.ts
  tarpon/src/utils/clickhouse/definition.ts
Labels: backend

Increase lambda batch size for SQS consumer (#5359)
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

Average Value Should be 0 if no value (#5363)
  tarpon/src/lambdas/console-api-pulse/app.ts
Labels: backend

Remove comment (#5365)
  tarpon/src/services/linker/index.ts
Labels: backend

TEST: added e2e test for checking proper loading of tables (#5337)
  phytoplankton-console/cypress/e2e/basic/load-tables.cy.ts
Labels: frontend

Remove Transaction Row Dependency Transaction (#5360)
  phytoplankton-console/src/pages/transactions-item/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/ExpandedRowRenderer/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
Labels: frontend

Remove risk-levels:write requirement for user risk level changes (#5362)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2024.11.18T02.50.01.add-risk-assignment-permission.ts
Labels: backend

Fix some line not loaded in PNB_BACKFILL_ENTITIES job (#5352)
  tarpon/src/services/batch-jobs/pnb-backfill-entities-fargate-batch-job.ts
Labels: backend

Added auth0Domain to the migration to help withe the tenant seats (#5338)
  tarpon/scripts/migrations/post-deployment/2024.11.13T12.33.04.fix-last-6-months-seat-count-api-metric.ts
Labels: backend

Add check for transaction State (#5354)
  tarpon/src/services/rules-engine/pnb-custom-logic.ts
Labels: backend

Improve / Update clickhouse Backfill script (#5350)
  tarpon/scripts/migrations/post-deployment/2024.09.16T19.00.05.add-clickhouse-data-eu-1.ts
  tarpon/scripts/migrations/post-deployment/2024.09.18T18.03.38.krs-drs-and-ars-to-clickhouse.ts
  tarpon/scripts/migrations/post-deployment/2024.10.17T05.37.43.sanctions-screening-details-to-clickhouse.ts
  tarpon/scripts/migrations/post-deployment/2024.11.12T20.57.50.add-clickhouse-data-to-prod.ts
  tarpon/scripts/migrations/utils/clickhouse.ts
  tarpon/src/@types/batch-job/index.ts
Labels: backend

Fix team management UI (#5256)
  phytoplankton-console/src/pages/accounts/Roles/ExtendedRowRenderer/index.tsx
  phytoplankton-console/src/pages/accounts/Roles/PermissionTable.module.less
  phytoplankton-console/src/pages/dashboard/analysis/index.tsx
Labels: frontend

Don’t show shadow rules in the case management filter dropdown (#5145)
  phytoplankton-console/src/pages/case-management/helpers.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  phytoplankton-console/src/utils/rules.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/console-api-rule/app.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
  tarpon/src/services/rules-engine/rule-instance-service.ts
Labels: backend, frontend

#FR-5256: Frontend: Add Implement Rule Hit to AI Forensics for Alert details page (#5330)
  phytoplankton-console/src/components/AppWrapper/Providers/mocks/ApiProvider.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/mocks/mockedData.ts
  phytoplankton-console/src/components/ui/LogicBuilder/story-fixture.json
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemBase/exportUtil.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemRuleHit/RuleSummary/index.module.less
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemRuleHit/RuleSummary/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemRuleHit/index.module.less
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemRuleHit/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/story.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/types.ts
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/RuleLogicBuilder/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/helpers.ts
Labels: frontend

Fix Flaky lock.test (#5344)
  tarpon/src/utils/__tests__/lock.test.ts
Labels: backend

Case log shows escalation L2 incorrectly (#5276)
  phytoplankton-console/src/components/ActivityCard/helpers.tsx
Labels: frontend

Updated: added information regarding reset link expiry in mail template (#5148)
  tarpon/infra/auth0/email-templates/change-password-template.html
Labels: backend, infra

Optimize Clickhouse Data Extract (#5371)
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/RuleInstanceAnalytics.tsx
  phytoplankton-console/src/pages/users/users-list/index.tsx
  tarpon/scripts/migrations/pre-deployment/2024.11.18T19.04.26.insert-data.ts
  tarpon/src/lambdas/cron-job-daily/app.ts
  tarpon/src/services/rules-engine/repositories/clickhouse-repository.ts
  tarpon/src/services/users/repositories/user-clickhouse-repository.ts
  tarpon/src/utils/clickhouse/definition.ts
  tarpon/src/utils/pagination.ts
Labels: backend, frontend

Fix transaction double counting issue (#5370)
  tarpon/src/services/batch-jobs/batch-job.ts
  tarpon/src/services/logic-evaluator/engine/__tests__/index.test.ts
  tarpon/src/services/logic-evaluator/engine/index.ts
Labels: backend

[Security] Patch @types/lodash from 4.17.7 to 4.17.12 (#5379)
  package.json
  yarn.lock
Labels: none

Rework the message on account deletion page (#5372)
  phytoplankton-console/src/pages/accounts/components/DeleteUser.tsx
Labels: frontend

[Security] Patch constructs from 10.3.0 to 10.4.2 (#5380)
  lib/package.json
  lib/yarn.lock
  package.json
  phytoplankton-console/package.json
  phytoplankton-console/yarn.lock
  tarpon/package.json
  tarpon/yarn.lock
  viper/infra/package.json
  yarn.lock
Labels: backend, frontend, viper

[Security] Patch jsonpath-plus to 10.2.0 (#5382)
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend

UI: Rendered rule's priority in payment approval page (#5375)
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/ExpandedRowRenderer/RuleAndCaseDetails/index.tsx
Labels: frontend

UI: renamed generate report button to generate sar (#5374)
  phytoplankton-console/src/components/Sar/index.tsx
Labels: frontend

Mark the default value of Alert creation as true on rule configuration (#5369)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/steps/BasicDetailsStep/index.tsx
Labels: frontend

Allow updating report status with reports:generated:write permission (#5160)
  phytoplankton-console/src/components/library/Modal/index.tsx
  phytoplankton-console/src/pages/reports/components/ReportsTable/ReportStatusChangeModal.tsx
  phytoplankton-console/src/pages/reports/components/ReportsTable/ReportStatusTag.tsx
  phytoplankton-console/src/pages/reports/components/ReportsTable/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
Labels: frontend

Hide alert creation step only when alertCreationOnHit is false (#5390)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/RuleConfigurationForm/index.tsx
Labels: frontend

Update PNB Entites Backfill Job (#5389)
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/services/batch-jobs/pnb-backfill-entities-fargate-batch-job.ts
Labels: backend

Format Ks in comma (#5233)
  phytoplankton-console/src/pages/dashboard/analysis/components/charts/Donut/index.tsx
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/SimulationResult/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/RiskClassificationSimulationResults/index.tsx
  phytoplankton-console/src/pages/rules/my-rules/index.tsx
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/index.tsx
Labels: frontend
