Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, pipeline

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

pipeline:
  - bin/**

Skip sending whole alert to queue (#6752)
  tarpon/src/lambdas/action-processing/app.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/batch-jobs/backfill-action-processing-batch-job-runner.ts
  tarpon/src/services/cases/utils/index.ts
Labels: backend

Rename Library to Templates (#6750)
  phytoplankton-console/cypress/e2e/basic/load-main-pages.cy.ts
  phytoplankton-console/cypress/e2e/basic/load-tables.cy.ts
  phytoplankton-console/src/pages/rules/index.tsx
  phytoplankton-console/src/pages/rules/rules-library-item/index.tsx
  phytoplankton-console/src/pages/rules/simulation-history-item/index.tsx
  phytoplankton-console/src/pages/rules/simulation-history/index.tsx
  tarpon/src/services/rbac/utils/permissions.ts
Labels: backend, frontend

Add ID to whitelist table (#6754)
  phytoplankton-console/src/components/SanctionsWhitelistTable/helpers.tsx
Labels: frontend

Console: Fix inconsistent download button location in simulation report (#6755)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/index.tsx
Labels: frontend

Fix: Date filter cramped up (#6753)
  phytoplankton-console/src/components/library/Table/Header/index.tsx
Labels: frontend

FIX: removed multiple tooltips when ai copilot is disabled (#6741)
  phytoplankton-console/src/pages/case-management/components/Copilot/CopilotButtonContent.tsx
Labels: frontend

Use correct type for 314 list creation and updation (#6599)
  phytoplankton-console/src/pages/lists-item/ItemsTable/index.tsx
  phytoplankton-console/src/pages/lists/ListTable/DeleteListModal/index.tsx
  phytoplankton-console/src/pages/lists/ListTable/index.tsx
  phytoplankton-console/src/pages/lists/NewListDrawer/NewValueInput/index.tsx
  phytoplankton-console/src/pages/lists/NewListDrawer/index.tsx
  phytoplankton-console/src/pages/lists/helpers.ts
  phytoplankton-console/src/pages/users-item/UserLists/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/list/index.ts
  tarpon/src/services/list/repositories/__tests__/list-repository.test.ts
  tarpon/src/services/list/repositories/list-repository.ts
Labels: backend, frontend

FIX: Enable Contains (Lists) for list-type variables (#6690)
  tarpon/src/services/logic-evaluator/operators/contains-in-lists.ts
  tarpon/src/services/logic-evaluator/operators/match-list.ts
Labels: backend

Filter normalized aliases to not contain empty strings (#6758)
  tarpon/src/services/sanctions/providers/utils.ts
Labels: backend

Fix ruleInstance stats updation logic (#6725)
  tarpon/src/core/dynamodb/dynamodb-stream-consumer-builder.ts
  tarpon/src/core/seed/dynamodb.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/batch-jobs/screening-user-rule-batch-job-runner-base.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
  tarpon/src/utils/__tests__/array.test.ts
  tarpon/src/utils/array.ts
Labels: backend

FEAT: Super admin panel option to choose SAR jurisdiction (#6716)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/CreateTenantModal/index.tsx
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/components/Sar/index.tsx
  phytoplankton-console/src/components/Sar/utils.ts
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-sar/app.ts
  tarpon/src/services/sar/service.ts
Labels: backend, frontend

Add Account Name filter to transaction history table and alert transactions (#6759)
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/TransactionsTab/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TransactionsList/index.tsx
  phytoplankton-console/src/pages/transactions/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2025.04.01T14.08.11.refresh_clickHouse.ts
  tarpon/src/lambdas/console-api-transaction/services/transaction-service.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
Labels: backend, frontend

FIX: Updated fuzziness slider for 314a rules (#6748)
  tarpon/src/services/rules-engine/transaction-rules/library.ts
Labels: backend

FIX: restored email example for crm (#6760)
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/Emails/index.tsx
Labels: frontend

Create search bar for List entities (#6720)
  phytoplankton-console/jsconfig.json
  phytoplankton-console/src/pages/lists-item/ItemsTable/helpers.tsx
  phytoplankton-console/src/pages/lists-item/ItemsTable/index.tsx
  phytoplankton-console/src/pages/lists-item/ItemsTable/types.ts
  phytoplankton-console/src/utils/queries/keys.ts
  phytoplankton-console/src/utils/routing.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-list-importer/app.ts
  tarpon/src/services/list/index.ts
Labels: backend, frontend

Fix pagination hanging browser (#6767)
  phytoplankton-console/src/components/library/NumberInput/index.tsx
  phytoplankton-console/src/components/library/Pagination/index.module.less
  phytoplankton-console/src/components/library/Pagination/index.tsx
  phytoplankton-console/src/components/library/Pagination/story.tsx
  phytoplankton-console/src/components/library/TextInput/index.tsx
Labels: frontend

Found a good UI-layout library for Custom Workflows feature and implement basic building blocks (#6641)
  phytoplankton-console/package.json
  phytoplankton-console/src/components/AppWrapper/Providers/mocks/ApiProvider.tsx
  phytoplankton-console/src/components/WorkflowBuilder/NodeCanvas/helpers.ts
  phytoplankton-console/src/components/WorkflowBuilder/NodeCanvas/index.module.less
  phytoplankton-console/src/components/WorkflowBuilder/NodeCanvas/index.tsx
  phytoplankton-console/src/components/WorkflowBuilder/NodeCanvas/node_canvas.tsx
  phytoplankton-console/src/components/WorkflowBuilder/components/EditButton/index.module.less
  phytoplankton-console/src/components/WorkflowBuilder/components/EditButton/index.tsx
  phytoplankton-console/src/components/WorkflowBuilder/components/LogicTag/index.module.less
  phytoplankton-console/src/components/WorkflowBuilder/components/LogicTag/index.tsx
  phytoplankton-console/src/components/WorkflowBuilder/components/NodeBase/index.module.less
  phytoplankton-console/src/components/WorkflowBuilder/components/NodeBase/index.tsx
  phytoplankton-console/src/components/WorkflowBuilder/edges/DefaultEdge/index.tsx
  phytoplankton-console/src/components/WorkflowBuilder/index.tsx
  phytoplankton-console/src/components/WorkflowBuilder/nodes/IfNode/index.module.less
  phytoplankton-console/src/components/WorkflowBuilder/nodes/IfNode/index.tsx
  phytoplankton-console/src/components/WorkflowBuilder/nodes/NewBranchButtonNode/index.module.less
  phytoplankton-console/src/components/WorkflowBuilder/nodes/NewBranchButtonNode/index.tsx
  phytoplankton-console/src/components/WorkflowBuilder/nodes/StatusNode/index.module.less
  phytoplankton-console/src/components/WorkflowBuilder/nodes/StatusNode/index.tsx
  phytoplankton-console/src/components/WorkflowBuilder/nodes/ThenNode/index.module.less
  phytoplankton-console/src/components/WorkflowBuilder/nodes/ThenNode/index.tsx
  phytoplankton-console/src/components/WorkflowBuilder/story.tsx
  phytoplankton-console/src/components/WorkflowBuilder/types.ts
  phytoplankton-console/src/pages/storybook/storybook.tsx
  phytoplankton-console/yarn.lock
Labels: frontend

Resetting sort while switching tabs in case management page (#6768)
  phytoplankton-console/src/pages/case-management/index.tsx
Labels: frontend

feat: use tenant time zone while converting the date for grouping (#6765)
  tarpon/src/services/analytics/dashboard-metrics/case-stats.ts
Labels: backend

Rule stats using Materialized Views (#6391)
  tarpon/src/services/analytics/dashboard-metrics/rule-stats.ts
Labels: backend

Fix: Twitching table columns on hover (#6756)
  phytoplankton-console/src/components/library/Table/index.module.less
Labels: frontend

Fix: Table header issue where tools were aligning onto left side of the header (#6770)
  phytoplankton-console/src/components/library/Table/Header/index.module.less
  phytoplankton-console/src/components/library/Table/Header/index.tsx
Labels: frontend

FIX SAR Created at as V8 variable (#6763)
  tarpon/src/services/sar/repositories/report-repository.ts
Labels: backend

Fix saving risk factors and duplication (#6772)
  phytoplankton-console/src/pages/risk-levels/risk-factors/RiskFactorConfiguration/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/RiskItem/index.tsx
  phytoplankton-console/src/pages/risk-levels/shared/RiskFactorsTable/index.tsx
Labels: frontend

Fix headers filtering for lists (#6774)
  tarpon/src/services/list/repositories/list-repository.ts
Labels: backend

Fix Dynamic Permissions (#6776)
  tarpon/src/services/rbac/repository.ts
  tarpon/src/utils/clickhouse/utils.ts
Labels: backend

RangeError: Invalid array length (#6777)
  phytoplankton-console/src/components/library/Pagination/index.tsx
  phytoplankton-console/src/components/library/Pagination/story.tsx
Labels: frontend

Auto Link CRM Record with User Email (#6762)
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend

Fix updating rule counts delta (#6775)
  tarpon/src/core/seed/dynamodb.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
  tarpon/src/utils/array.ts
Labels: backend

Fix cases dyanmo backfill job (#6782)
  tarpon/scripts/migrations/post-deployment/2025.04.23T13.10.07.cases-backfill-dynamo.ts
Labels: backend

Fix sanctions drawer UI and other improvements (#6781)
  lib/utils/humanize.ts
  phytoplankton-console/src/components/ComplyAdvantageHitTable/ComplyAdvantageHitDetailsDrawer/index.tsx
  phytoplankton-console/src/components/ComplyAdvantageHitTable/index.tsx
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/index.tsx
  phytoplankton-console/src/components/SanctionsHitsTable/index.tsx
  tarpon/scripts/migrations/post-deployment/2025.04.23T11.11.30.trigger-data-fetch.ts
  tarpon/src/services/sanctions/__tests__/dow-jones.test.ts
  tarpon/src/services/sanctions/providers/__tests__/open-sanctions-provider.test.ts
  tarpon/src/services/sanctions/providers/acuris-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/providers/utils.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend, frontend

Fix sanctions screenning types (#6771)
  tarpon/src/services/sanctions/providers/__tests__/comply-advantage-provider.test.ts
  tarpon/src/services/sanctions/providers/comply-advantage-provider.ts
Labels: backend

Prevent migration for demo tenants in DynamoDB backfill script (#6784)
  tarpon/scripts/migrations/post-deployment/2025.04.23T11.11.30.trigger-data-fetch.ts
  tarpon/scripts/migrations/post-deployment/2025.04.23T13.10.07.cases-backfill-dynamo.ts
Labels: backend

Fix QA Stack Deletion (#6785)
  .github/workflows/destroy_phyto_qa.yml
  .github/workflows/destroy_tarpon_qa.yml
Labels: none

Copy change in advanced rule options (#6787)
  phytoplankton-console/src/components/UserStatusTriggersAdvancedOptionsForm/index.tsx
Labels: frontend

Remove Timer for Fargate (#6757)
  tarpon/src/services/logic-evaluator/engine/index.ts
Labels: backend

Add sanctions stats by provider in sheet (#6791)
  tarpon/src/core/cloudwatch/metrics.ts
  tarpon/src/services/metrics/api-usage-metrics-service.ts
Labels: backend

Value provided in ExpressionAttributeValues unused in expressions: keys: {:newUser} (#6788)
  tarpon/src/services/cases/dynamo-repository.ts
Labels: backend

Backfill sanctions searches (#6761)
  tarpon/scripts/migrations/post-deployment/2025.04.22T09.19.56.update-comply-searches-updated-via-webhook.ts
  tarpon/src/services/sanctions/index.ts
Labels: backend

Design system migration: Tabs (#6593)
  phytoplankton-console/src/antd-theme.less
  phytoplankton-console/src/components/AppWrapper/Providers/mocks/ApiProvider.tsx
  phytoplankton-console/src/components/charts/Line/index.tsx
  phytoplankton-console/src/components/library/SameWidthDiv/index.tsx
  phytoplankton-console/src/components/library/SameWidthDiv/style.module.less
  phytoplankton-console/src/components/library/Tabs/index.module.less
  phytoplankton-console/src/components/library/Tabs/index.tsx
  phytoplankton-console/src/components/library/Tabs/story.tsx
  phytoplankton-console/src/components/ui/PageTabs/index.module.less
  phytoplankton-console/src/components/ui/PageTabs/index.tsx
Labels: frontend
