Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, raptor

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - infra/**

frontend:
  - phytoplankton-console/**

raptor:
  - raptor/**

Fdt 82734 show only tenant accounts (#1413)
  tarpon/src/lambdas/console-api-dashboard/app.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-stats-repository.ts
Labels: backend

Hotfix for sanctions search seeder (#1441)
  tarpon/src/core/seed/mongo.ts
Labels: backend

Update publish_schema.yml
  .github/workflows/publish_schema.yml
Labels: none

Cosmetic fixes (Sumit) (#1417)
  phytoplankton-console/src/components/library/CursorPagination/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/ui-settings.ts
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/SimulationStatistics/DeltaCard/index.tsx
  phytoplankton-console/src/pages/users-item/index.tsx
  phytoplankton-console/src/pages/users-item/ui-settings.ts
Labels: frontend

Fix Api Usage Metrics Sheet (#1439)
  tarpon/src/services/metrics/api-usage-metrics-service.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/rules-engine/repositories/transaction-event-repository.ts
Labels: backend

Enhancements in R-130 (#1390)
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-round-value-velocity.test.ts
  tarpon/src/services/rules-engine/transaction-rules/too-many-counterparty-country.ts
  tarpon/src/services/rules-engine/transaction-rules/too-many-transactions-to-high-risk-country.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-pattern-velocity-base.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-round-value-velocity.ts
Labels: backend

Add Count of Transactions Left to Migrate in Payment Method Ids (#1435)
  tarpon/scripts/migrations/post-deployment/2023.06.02T12.40.43.add-payment-method-ids.ts
Labels: backend

Add top level launch.json (#1438)
  .vscode/launch.json
Labels: none

Fix Api Usage Metrics (#1434)
  tarpon/scripts/migrations/post-deployment/2023.07.06T15.56.52.fix-sheets-data-for-some-tenants-rerun-2.ts
Labels: backend

Update deploy_qa.yml
  .github/workflows/deploy_qa.yml
Labels: none

Convert krs and trs update to batch write (#1440)
  .vscode/launch.json
  tarpon/scripts/migrations/post-deployment/2023.06.06T09.42.55.recalculate-trs-scores.ts
  tarpon/scripts/migrations/post-deployment/2023.06.06T11.11.39.recalculate-krs-scores.ts
Labels: backend

Remove assignee sorting in case management table (#1446)
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
  tarpon/README.md
Labels: backend, frontend

Fix unhandled promise rejection (#1443)
  tarpon/src/services/iban.com/index.ts
  tarpon/src/services/sanctions/index.ts
Labels: backend

Sync mongo indices before payment method ID migration (#1444)
  tarpon/scripts/migrations/post-deployment/2023.06.02T12.40.43.add-payment-method-ids.ts
Labels: backend

Don't throw error if api key is not base62 string (#1445)
  tarpon/src/lambdas/api-key-authorizer/app.ts
Labels: backend

More indexes changes (#1432)
  tarpon/src/utils/mongoDBUtils.ts
Labels: backend

Changes To check API Usage Metrics (#1460)
  tarpon/scripts/migrations/post-deployment/2023.06.08T15.56.52.fix-sheets-data-for-some-tenants-rerun-2.ts
  tarpon/src/services/metrics/api-usage-metrics-service.ts
  tarpon/src/services/metrics/sheets-api-usage-metrics-service.ts
Labels: backend

Reset Pagination Params (#1447)
  phytoplankton-console/src/components/library/Table/index.tsx
  phytoplankton-console/src/components/library/Table/internal/helpers.tsx
  phytoplankton-console/src/pages/case-management/index.tsx
Labels: frontend

Fdt 80408 entity id on audit log (#1455)
  phytoplankton-console/src/pages/auditlog/components/AuditLog/AuditLog.tsx
Labels: frontend

Migrations are dying due to empty operations (#1452)
  tarpon/scripts/migrations/post-deployment/2023.06.02T12.40.43.add-payment-method-ids.ts
Labels: backend

Transactions Unique Users Count Filter Added in R-69 (#1364)
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-volume.test.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-volume.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
Labels: backend

Simulator rule ID column spacing fixed (#1436)
  phytoplankton-console/src/pages/rules/SimulationHistoryTable/index.tsx
Labels: frontend

Fix KRS Migration (#1453)
  tarpon/scripts/migrations/post-deployment/2023.06.06T11.11.39.recalculate-krs-scores-1.ts
Labels: backend

Update deploy_qa.yml
  .github/workflows/deploy_qa.yml
Labels: none

Fix download button on transaction table (#1449)
  phytoplankton-console/src/components/library/Table/Header/Tools/DownloadButton/index.tsx
  phytoplankton-console/src/pages/transactions/index.tsx
  phytoplankton-console/src/utils/queries/hooks.ts
Labels: frontend

Update deploy_qa.yml
  .github/workflows/deploy_qa.yml
Labels: none

Fix long running migration (#1463)
  tarpon/scripts/migrations/post-deployment/2023.06.04T13.06.46.add-created-at-to-entites.ts
Labels: backend

Fix Remaining Scores (#1450)
  tarpon/scripts/migrations/post-deployment/2023.06.06T09.42.55.recalculate-trs-scores-1.ts
  tarpon/scripts/migrations/post-deployment/2023.06.06T11.11.39.recalculate-krs-scores-1.ts
Labels: backend

Orca (#1462)
  README.md
  phytoplankton-console/lib/configs/config-deployment.ts
  resources/orca.jpeg
  tarpon/lib/configs/config-deployment-test.ts
  tarpon/lib/configs/config-deployment.ts
Labels: backend, frontend

Change to getAllUsersIds to be cursor-based (#1458)
  tarpon/src/lambdas/cron-job-midnight/app.ts
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend

Fdt 82504 pagination for audit log table (#1459)
  phytoplankton-console/src/pages/auditlog/components/AuditLog/AuditLog.tsx
Labels: frontend

Fix migration of KRS (#1454)
  tarpon/scripts/migrations/post-deployment/2023.06.06T11.11.39.recalculate-krs-scores-1.ts
Labels: backend

Event filter for audit log (#1467)
  phytoplankton-console/src/pages/auditlog/components/ActionsFilterButton/PopupContent/index.tsx
  phytoplankton-console/src/pages/auditlog/components/ActionsFilterButton/PopupContent/style.module.less
  phytoplankton-console/src/pages/auditlog/components/ActionsFilterButton/index.tsx
  phytoplankton-console/src/pages/auditlog/components/AuditLog/AuditLog.tsx
  phytoplankton-console/src/pages/auditlog/components/AuditLog/types.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-audit-log/app.ts
  tarpon/src/lambdas/console-api-case/services/case-alerts-audit-log-service.ts
  tarpon/src/lambdas/console-api-pulse/services/pulse-audit-log.ts
  tarpon/src/lambdas/console-api-user/services/user-audit-log-service.ts
  tarpon/src/lambdas/console-api-webhook/services/webhook-audit-log-service.ts
  tarpon/src/services/audit-log/repositories/auditlog-repository.ts
  tarpon/src/services/rules-engine/rules-audit-log-service.ts
Labels: backend, frontend

Same MongoDB version across envs (#1470)
  .github/workflows/test_tarpon.yml
  tarpon/docker-compose.yaml
  tarpon/package-lock.json
  tarpon/package.json
  tarpon/scripts/esbuild.js
  tarpon/scripts/migrations/utils/migration-progress.ts
  tarpon/src/lambdas/console-api-file-import/import-repository.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
Labels: backend

Fdt 82318 add filters in alert filtering (#1456)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
Labels: frontend

Alarm fixes (#1475)
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-alarms-stack.ts
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/configs/config-dev.ts
  tarpon/lib/configs/config-local.ts
  tarpon/lib/configs/config-prod-asia-1.ts
  tarpon/lib/configs/config-prod-asia-2.ts
  tarpon/lib/configs/config-prod-eu-1.ts
  tarpon/lib/configs/config-prod-eu-2.ts
  tarpon/lib/configs/config-prod-us-1.ts
  tarpon/lib/configs/config-sandbox.ts
  tarpon/lib/configs/config.ts
Labels: backend

Fdt 80972 remove optional for screening type (#1399)
  tarpon/src/services/rules-engine/transaction-rules/__tests__/library.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/sanctions-counterparty.test.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/transaction-rules/sanctions-counterparty.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-bank-name.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-business-user.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-consumer-user.ts
Labels: backend

Fix Dashboard Stats Data of Team Overview (#1471)
  tarpon/src/lambdas/console-api-dashboard/app.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/__tests__/dashboard-stats-repository.team.test.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-stats-repository.ts
  tarpon/src/utils/mongoDBUtils.ts
Labels: backend

Updated EntityId display for RULE (#1473)
  phytoplankton-console/src/pages/auditlog/components/AuditLog/AuditLog.tsx
Labels: frontend

Migration: Add alert comments for closed alerts without one (#1465)
  tarpon/scripts/migrations/pre-deployment/2023.06.08T11.52.55.add-comments-to-cases-when-alerts-are-closed.ts
Labels: backend
