Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, raptor, pipeline

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

raptor:
  - raptor/**

pipeline:
  - bin/**

Patch jsonpath-plus to 10.0.5 (#5012)
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend

Migrate Transactions Query of forencics to Clickhouse (#4998)
  tarpon/src/services/copilot/questions/definitions/transactions.ts
Labels: backend

Forbid uploading excel file (#5013)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/constants.ts
  tarpon/src/lambdas/console-api-file-import/app.ts
Labels: backend, frontend

#FR-5819: Show detailed view for transaction history (#5007)
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/helpers/tableDataTypes.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/helpers.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/index.tsx
Labels: frontend

Fix user Names not in Transactions table Clickhouse (#5015)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-transaction/app.ts
  tarpon/src/lambdas/console-api-transaction/services/transaction-service.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend

Format document Ids correctly (#5016)
  tarpon/scripts/migrations/post-deployment/2024.10.18T09.07.38.fix-dow-jones-idValue.ts
  tarpon/src/services/sanctions/__tests__/dow-jones.test.ts
  tarpon/src/services/sanctions/providers/dow-jones-provider.ts
Labels: backend

Multi Level Escalations (#4925)
  lib/constants/acronyms.ts
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/mocks/mockedData.ts
  phytoplankton-console/src/components/library/Avatar/story.tsx
  phytoplankton-console/src/pages/accounts/Team/index.tsx
  phytoplankton-console/src/pages/accounts/components/AccountForm.tsx
  phytoplankton-console/src/pages/accounts/components/DeleteUser.tsx
  phytoplankton-console/src/pages/case-management-item/components/Header/StatusChangeMenu/index.tsx
  phytoplankton-console/src/pages/case-management-item/components/Header/SubHeader/index.tsx
  phytoplankton-console/src/pages/case-management-item/components/Header/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
  phytoplankton-console/src/pages/case-management/components/AlertsStatusChangeButton/AlertsStatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/AlertsStatusChangeButton/index.tsx
  phytoplankton-console/src/pages/case-management/components/AssigneesDropdown/index.tsx
  phytoplankton-console/src/pages/case-management/components/CasesStatusChangeButton/CasesStatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/CasesStatusChangeButton/index.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeButton.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
  phytoplankton-console/src/utils/__tests__/commentsFormatting.test.ts
  phytoplankton-console/src/utils/case-utils.ts
  phytoplankton-console/src/utils/user-utils.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2024.10.15T19.41.27.migrate-checker.ts
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/core/seed/samplers/cases.ts
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/alerts/__tests__/index.test.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/services/case-alerts-common/index.ts
  tarpon/src/services/cases/__tests__/case-management-service.test.ts
  tarpon/src/services/cases/__tests__/case-service.test.ts
  tarpon/src/services/cases/index.ts
  tarpon/src/services/cases/utils/index.ts
  tarpon/src/services/notifications/__tests__/index.test.ts
  tarpon/src/utils/__tests__/anonymize.test.ts
  tarpon/src/utils/auth0-utils.ts
  tarpon/src/utils/helpers.ts
Labels: backend, frontend

Stop on duplicate role in Frontend only (#5017)
  phytoplankton-console/src/pages/accounts/Roles/RoleForm.tsx
  phytoplankton-console/src/pages/accounts/Roles/index.tsx
Labels: frontend

Escalation L2 Already Assigned (#5018)
  phytoplankton-console/src/pages/accounts/components/AccountForm.tsx
  phytoplankton-console/src/pages/accounts/components/DeleteUser.tsx
Labels: frontend

Fix SLA Policy Not Found (#5014)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/services/alerts/__tests__/alerts-sla-service.test.ts
  tarpon/src/services/alerts/alerts-sla-service.ts
  tarpon/src/services/tenants/repositories/sla-policy-repository.ts
Labels: backend

PNB backfill phase 2 preparation (#5021)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/lambdas/transaction-aggregation/app.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/manual-rule-pre-aggregation-batch-job-runner.ts
  tarpon/src/services/batch-jobs/pnb-backfill-transactions-fargate-batch-job.ts
  tarpon/src/services/batch-jobs/rule-pre-aggregation-batch-job-runner.ts
  tarpon/src/services/rules-engine/rule-instance-service.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
Labels: backend

Add manual preaggreagtion job to superAdminPanel (#5025)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
Labels: frontend

Risk Factor for Demo data (#4987)
  tarpon/src/core/seed/data/risk-factors.ts
  tarpon/src/core/seed/dynamodb.ts
Labels: backend

Simulator toggle takes user from Library to My Rules (#5023)
  phytoplankton-console/src/pages/rules/index.tsx
Labels: frontend

#FR-5618: Implement STR for PNB (#4853)
  lib/constants/acronyms.ts
  lib/constants/countries.ts
  lib/utils/humanize.ts
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/TransactionStep/index.tsx
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/index.module.less
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/index.tsx
  phytoplankton-console/src/components/Sar/SarReportDrawer/index.tsx
  phytoplankton-console/src/components/Sar/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/ObjectPropertyInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/SimplePropertyInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/PropertyList/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/PropertyList/style.module.less
  phytoplankton-console/src/components/library/JsonSchemaEditor/types.ts
  phytoplankton-console/src/components/library/Stepper/index.tsx
  phytoplankton-console/src/components/library/Stepper/style.module.less
  phytoplankton-console/src/components/library/VerticalMenu/index.tsx
  phytoplankton-console/src/components/library/VerticalMenu/style.module.less
  phytoplankton-console/src/pages/case-management-item/components/Header/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/utils/__tests__/humanize.test.ts
  tarpon/.eslintrc.js
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/package.json
  tarpon/scripts/esbuild.js
  tarpon/src/lambdas/console-api-file-import/app.ts
  tarpon/src/services/sar/generators/KE/SAR/__tests__/index.test.ts
  tarpon/src/services/sar/generators/KE/SAR/index.ts
  tarpon/src/services/sar/generators/LT/CTR/index.ts
  tarpon/src/services/sar/generators/LT/STR/index.ts
  tarpon/src/services/sar/generators/MY/STR/index.ts
  tarpon/src/services/sar/generators/MY/STR/report-builder.ts
  tarpon/src/services/sar/generators/MY/STR/schema-types/enums.ts
  tarpon/src/services/sar/generators/MY/STR/schema.ts
  tarpon/src/services/sar/generators/US/SAR/__tests__/index.test.ts
  tarpon/src/services/sar/generators/US/SAR/index.ts
  tarpon/src/services/sar/generators/index.ts
  tarpon/src/services/sar/service.ts
  tarpon/yarn.lock
Labels: backend, frontend

Create demo data for alert SLA statuses (#5004)
  tarpon/src/core/seed/data/cases.ts
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/core/seed/data/sla.ts
Labels: backend

Fix Files not in Fargate (#5030)
  tarpon/scripts/esbuild.js
  tarpon/src/fargate/Dockerfile
Labels: backend

Screening demo data for Sanctions (#4997)
  tarpon/src/core/seed/data/sanctions.ts
  tarpon/src/core/seed/data/transactions.ts
  tarpon/src/core/seed/mongo.ts
  tarpon/src/core/seed/raw-data/sanctions-search.ts
  tarpon/src/core/seed/samplers/users.ts
Labels: backend

Add "lists" provider to enable sanctions from a list (#4945)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/user-rules/__tests__/list-screening-consumer-user.test.ts
  tarpon/src/services/rules-engine/user-rules/index.ts
  tarpon/src/services/rules-engine/user-rules/list-screening-consumer-user.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/providers/comply-advantage-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/providers/sanctions-list-provider.ts
  tarpon/src/services/sanctions/repositories/sanctions-provider-searches-repository.ts
  tarpon/src/services/sanctions/repositories/sanctions-search-repository.ts
  tarpon/src/test-utils/rule-test-utils.ts
Labels: backend

Fix sar-generate e2e (#5031)
  phytoplankton-console/cypress/e2e/sar/sar-generate.cy.ts
Labels: frontend

Run batches concurrently (#5033)
  tarpon/src/services/batch-jobs/ongoing-screening-user-rule-batch-job-runner.ts
  tarpon/src/utils/mongodb-utils.ts
Labels: backend

Risk scoring simulation for V8 Risk scoring (#5022)
  phytoplankton-console/build/openapi-generate.js
  phytoplankton-console/src/components/BreadcrumbsSimulationPageWrapper/index.tsx
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/ParametersTableTabs/index.tsx
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/SimulationCustomRiskFactors/SimulationCustomRiskFactorsTable/index.tsx
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/SimulationCustomRiskFactors/SimulationCustomRiskFactorsTable/styles.module.less
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/SimulationHistoryPage/SimulationHistory/index.tsx
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/SimulationHistoryPage/SimulationHistoryResultPage/index.tsx
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/SimulationHistoryPage/index.tsx
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/SimulationResult/index.tsx
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/SimulationResult/styles.module.less
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/index.tsx
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/styles.module.less
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskItem/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/RiskFactorsSimulation/SimulationHistoryPage/SimulationHistoryResultPage/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/RiskFactorsSimulation/SimulationHistoryPage/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/index.tsx
  phytoplankton-console/src/pages/rules/components/RuleStatusSwitch/index.tsx
  phytoplankton-console/src/services/routing/index.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/lambdas/console-api-pulse/app.ts
  tarpon/src/lambdas/console-api-simulation/app.ts
  tarpon/src/services/batch-jobs/__tests__/simulation-v8-risk-scoring-batch-job-runner.test.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/simulation-risk-scoring-batch-job-runner.ts
  tarpon/src/services/batch-jobs/simulation-v8-risk-scoring-batch-job-runner.ts
  tarpon/src/services/logic-evaluator/engine/index.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
  tarpon/src/services/risk-scoring/risk-scoring-v8-service.ts
  tarpon/src/services/risk/index.ts
  tarpon/src/services/simulation/index.ts
  tarpon/src/services/simulation/repositories/simulation-result-repository.ts
  tarpon/src/services/simulation/repositories/simulation-task-repository.ts
Labels: backend, frontend

Increase Write Capacity Alaram in Asia 1 (#5039)
  lib/config/config-prod-asia-1.ts
  lib/config/config.ts
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-alarms-stack.ts
Labels: backend, infra

feat: if link in an column it comes in new column in case of excel (#4964)
  phytoplankton-console/src/components/library/Table/Header/Tools/DownloadButton/index.tsx
  phytoplankton-console/src/components/library/Table/__tests__/download-table.test.ts
Labels: frontend

Fix Roles - Case Assignment (#5043)
  tarpon/src/core/default-roles.ts
Labels: backend

Add Comment for Approve/Reject decision (#4995)
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/index.module.less
Labels: frontend

Routing issue when case status is changed manually from “Open” (#5042)
  phytoplankton-console/src/pages/case-management-item/components/Header/index.tsx
  phytoplankton-console/src/pages/case-management/components/CasesStatusChangeButton/index.tsx
Labels: frontend

Fix dashboard-hits-by-user-stats to use index properly (#5010)
  tarpon/src/services/analytics/dashboard-metrics/utils.ts
Labels: backend

Add Try Catch in Object ID (#5038)
  tarpon/src/lambdas/mongo-db-trigger-consumer/index.ts
Labels: backend

Rithvik/fr 5683 (#5037)
  phytoplankton-console/src/pages/case-management/AlertTable/index.module.less
  phytoplankton-console/src/pages/rules/my-rules/style.module.less
Labels: frontend

Enable CSV export for SLA performance table (#5027)
  phytoplankton-console/src/pages/dashboard/analysis/components/TeamSLAPerformanceCard/index.tsx
Labels: frontend

Fix 10 minute cron job for pnb-uat (#5044)
  tarpon/src/services/tenants/index.ts
Labels: backend

Show September Screening data instead of the feb (#5047)
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/index.tsx
Labels: frontend

feat: if user is unavailable make the user as flagright system user (#4956)
  tarpon/scripts/migrations/post-deployment/2024.10.14T10.59.53.audit-log-user-update.ts
  tarpon/src/core/seed/data/auditlogs.ts
  tarpon/src/core/seed/samplers/cases.ts
  tarpon/src/services/audit-log/index.ts
Labels: backend

Fix CDKTF Deployment Sanbdox (#5054)
  tarpon/infra/cdktf-tarpon-stack.ts
Labels: backend, infra

increase simulation max user limit and batch size also fix the issue for the job not ending (#5059)
  tarpon/src/services/batch-jobs/simulation-v8-risk-scoring-batch-job-runner.ts
Labels: backend

Memoize getAccount (#5060)
  tarpon/src/services/accounts/index.ts
Labels: backend

Remove KINESIS_ASYNC feature flag (#5061)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/dynamodb/dynamodb-stream-consumer-builder.ts
Labels: backend, frontend

Enable ability to select export content (#5053)
  phytoplankton-console/src/pages/case-management-item/components/Header/ExportButton/index.tsx
  phytoplankton-console/src/pages/case-management-item/components/Header/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/services/cases/index.ts
Labels: backend, frontend

AI Forencics Demo Data with Comments (#5058)
  lib/utils/copilot.ts
  phytoplankton-console/src/components/AiForensics/SearchBar/index.tsx
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemBase/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemLayout/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemTable/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/seed/raw-data/sanctions-search.ts
  tarpon/src/services/copilot/questions/definitions.ts
  tarpon/src/services/copilot/questions/definitions/hits.ts
  tarpon/src/services/copilot/questions/question-service.ts
  tarpon/src/services/copilot/questions/types.ts
  tarpon/src/services/sanctions/repositories/sanctions-hits-repository.ts
Labels: backend, frontend
