Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, raptor, pipeline

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

raptor:
  - raptor/**

pipeline:
  - bin/**

Update Autoscaling Lambdas (#5937)
  tarpon/infra/cdk-utils/cdk-lambda-utils.ts
Labels: backend, infra

Revise x axis labeling for better clarity and value (#5916)
  phytoplankton-console/src/components/charts/BarChart/GroupedBarChart/helpers.ts
  phytoplankton-console/src/components/charts/BarChart/GroupedBarChart/index.tsx
  phytoplankton-console/src/components/charts/BarChart/StackedBarChart/helpers.ts
  phytoplankton-console/src/components/charts/BarChart/StackedBarChart/index.tsx
  phytoplankton-console/src/components/charts/Line/helpers.ts
  phytoplankton-console/src/components/charts/Line/index.tsx
  phytoplankton-console/src/components/charts/shared/CustomLegendOrdinal/index.module.less
  phytoplankton-console/src/components/charts/shared/DefaultAxis/index.tsx
  phytoplankton-console/src/components/charts/shared/DefaultChartContainer/index.module.less
  phytoplankton-console/src/components/charts/shared/formatting.ts
  phytoplankton-console/src/components/charts/shared/helpers.ts
  phytoplankton-console/src/components/charts/shared/text.ts
  phytoplankton-console/src/components/charts/story.tsx
  phytoplankton-console/src/pages/dashboard/analysis/utils/date-utils.ts
Labels: frontend

Proposal Refractor Audit Logs (#5941)
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-console-api-stack.ts
  tarpon/src/core/policies/policy-generator.ts
  tarpon/src/lambdas/console-api-user/app.ts
  tarpon/src/lambdas/console-api-user/services/user-audit-log-service.ts
  tarpon/src/services/accounts/repository/auth0.ts
  tarpon/src/services/accounts/repository/dynamo.ts
  tarpon/src/services/users/index.ts
  tarpon/src/utils/audit-log.ts
Labels: backend, infra

Fix change user tenant (#5944)
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/accounts/repository/auth0.ts
  tarpon/src/services/batch-jobs/sync-auth0-data.ts
Labels: backend

Fix in User Meta Data (#5947)
  tarpon/src/services/accounts/repository/auth0.ts
Labels: backend

Fix alert sla jobs schedule and distribution (#5949)
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/lambdas/cron-job-ten-minute/app.ts
  tarpon/src/services/sla/sla-service.ts
  tarpon/src/utils/__tests__/slaScheduler.test.ts
  tarpon/src/utils/sla-scheduler.ts
Labels: backend

Dow Jones: fixes missing discrepancies (#5946)
  phytoplankton-console/src/components/ComplyAdvantageHitTable/index.tsx
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/sanctions/providers/acuris-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/repositories/sanctions-repository.ts
Labels: backend, frontend

Batch job for migrating tenants using comply (#5940)
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/in-house-screening-migration-batch-job-runner.ts
  tarpon/src/services/batch-jobs/sanctions-data-fetch-job-runner.ts
  tarpon/src/services/sanctions/data-fetchers.ts
  tarpon/src/services/sanctions/providers/acuris-provider.ts
  tarpon/src/services/sanctions/providers/open-sanctions-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/providers/types.ts
  tarpon/src/services/sanctions/repositories/sanctions-whitelist-entity-repository.ts
  tarpon/src/utils/migration-progress.ts
Labels: backend

Fix auth0 issues (#5951)
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-console-api-stack.ts
  tarpon/scripts/migrations/pre-deployment/2025.01.24T12.51.58.sync-accounts-locally-1.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/core/policies/policy-generator.ts
  tarpon/src/services/accounts/repository/auth0.ts
Labels: backend, infra

List CSV upload restrict file type (#5876)
  phytoplankton-console/src/components/ui/FilesDraggerInput/index.tsx
  phytoplankton-console/src/pages/lists-item/ImportCsvModal/index.tsx
Labels: frontend

audit logs for SLA policy (#5908)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/sla/sla-audit-log-service.ts
  tarpon/src/services/sla/sla-service.ts
  tarpon/src/services/tenants/sla-policy-service.ts
Labels: backend

Fix Permissions for Auth0 (#5952)
  tarpon/src/core/policies/policy-generator.ts
Labels: backend

Fix getting pages for lists (#5955)
  tarpon/src/services/list/repositories/__tests__/list-repository.test.ts
  tarpon/src/services/list/repositories/list-repository.ts
Labels: backend

Fork QA instructions into new section in PR template (#5959)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

FIX: User Events page showing inaccurate score (#5954)
  tarpon/src/services/users/index.ts
Labels: backend

Fix Permissions Issue Change Tenant (#5964)
  tarpon/src/core/dynamodb/dynamodb-keys.ts
Labels: backend

Fix QA Assignment (#5965)
  tarpon/src/services/alerts/repository.ts
Labels: backend

delete materialised views (#5966)
  tarpon/scripts/migrations/post-deployment/2025.01.28T12.50.06.delete-materialised-view.ts
Labels: backend

Screening settings only editable by super-admin (#5963)
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/index.tsx
Labels: frontend

Introduce Clickhouse Seeder (#5967)
  tarpon/src/core/seed/clickhouse.ts
  tarpon/src/core/seed/dynamodb.ts
  tarpon/src/core/seed/index.ts
  tarpon/src/core/seed/mongo.ts
  tarpon/src/services/alerts/dynamo-repository.ts
  tarpon/src/utils/clickhouse/definition.ts
Labels: backend

DEMO-FIX: made rule hits realistic for live and shadow rules (#5938)
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/core/seed/data/transactions.ts
  tarpon/src/core/seed/data/users.ts
  tarpon/src/core/seed/samplers/users.ts
Labels: backend

MIGRATION: added tenant name for previously deleted tenants (sandbox and production) (#5950)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/pre-deployment/2025.01.27T10.26.36.deleted-tenant-name-fill.ts
  tarpon/scripts/migrations/utils/previous-deleted-tenant-names.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/services/tenants/index.ts
  tarpon/src/services/tenants/repositories/tenant-repository.ts
Labels: backend

DEMO-FIX: Minor formula update on rule hit formula (#5970)
  tarpon/src/core/seed/data/rules.ts
Labels: backend

Use Auth0 Domain In Partition Key (#5976)
  tarpon/scripts/migrations/pre-deployment/2025.01.24T12.51.58.sync-accounts-locally-2.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/services/accounts/repository/dynamo.ts
Labels: backend

Reduce Provisioned Concurrency in Dev (#5977)
  lib/config/config-dev.ts
Labels: none

Update Audit Logs for Webhooks (#5974)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-webhook/app.ts
  tarpon/src/lambdas/console-api-webhook/services/webhook-audit-log-service.ts
  tarpon/src/lambdas/webhook-deliverer/app.ts
  tarpon/src/services/webhook/repositories/webhook-repository.ts
Labels: backend

Use Cache for Auth0 Accounts (#5948)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/cron-job-daily/app.ts
  tarpon/src/lambdas/incoming-webhooks/app.ts
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/accounts/repository/auth0.ts
  tarpon/src/services/accounts/repository/dynamo.ts
  tarpon/src/services/accounts/repository/index.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/services/cases/index.ts
  tarpon/src/services/cases/utils/report.ts
  tarpon/src/services/copilot/questions/definitions/sars-filed.ts
  tarpon/src/utils/internal-proxy.ts
Labels: backend

User Not Found Fix (#5978)
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/accounts/repository/auth0.ts
  tarpon/src/services/accounts/repository/dynamo.ts
Labels: backend

Show the account which approved the payment (#5939)
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
Labels: backend

[Security] Upgrade @types/lodash from 4.17.13 to 4.17.14 (#5983)
  package.json
  yarn.lock
Labels: none

Update Dynamo Architectiure of Accounts Storage (#5980)
  tarpon/scripts/migrations/pre-deployment/2025.01.24T12.51.58.sync-accounts-locally-3.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/services/accounts/repository/dynamo.ts
Labels: backend

Webhook replay feature (#5945)
  phytoplankton-console/src/pages/settings/components/WebhookDeliveryAttemptsTable.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/console-api-webhook/app.ts
  tarpon/src/lambdas/webhook-deliverer/app.ts
Labels: backend, frontend

Reduce log retention to one week (#5985)
  lib/config/config-sandbox-eu-1.ts
Labels: none

Show comply advantage settings when tenant is using comply advantage (#5975)
  phytoplankton-console/src/components/AppWrapper/Providers/SettingsProvider.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/index.tsx
Labels: frontend

Fix: Screening: hits get merged into single list (#5982)
  tarpon/src/services/sanctions/index.ts
Labels: backend

Fix Cache Condition (#5992)
  tarpon/src/services/accounts/index.ts
Labels: backend

List TTL feature - fixes (#5962)
  phytoplankton-console/src/pages/lists-item/index.tsx
  phytoplankton-console/src/pages/lists/ListTable/index.tsx
  phytoplankton-console/src/pages/lists/NewListDrawer/index.tsx
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/list/repositories/list-repository.ts
Labels: backend, frontend

FIX: updated migration for adding name for deleted tenants (#5979)
  tarpon/scripts/migrations/pre-deployment/2025.01.27T10.26.36.deleted-tenant-name-fill.ts
  tarpon/scripts/migrations/pre-deployment/2025.01.29T10.26.36.deleted-tenant-name-fill.ts
Labels: backend

REFACTOR: Refactored and migrated PulseAuditLogService to decorator (#5958)
  tarpon/src/lambdas/console-api-pulse/app.ts
  tarpon/src/services/risk-scoring/risk-scoring-service.ts
  tarpon/src/services/risk/index.ts
  tarpon/src/services/risk/pulse-audit-log.ts
  tarpon/src/services/users/index.ts
  tarpon/src/utils/audit-log.ts
Labels: backend

Fix Unblock User (#5994)
  tarpon/src/services/accounts/index.ts
Labels: backend
