Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, pipeline

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

pipeline:
  - bin/**

Fix rule instance stats ClickHouse query for shadow rules (#7026)
  tarpon/src/services/rules-engine/repositories/rule-instance-clickhouse-repository.ts
Labels: backend

Do not Humanize in Transaction Types in Logic Builder (#7040)
  phytoplankton-console/src/components/ui/LogicBuilder/ListSelectDynamic/index.tsx
Labels: frontend

Improve type casting (#7065)
  tarpon/src/services/rules-engine/repositories/clickhouse-repository.ts
Labels: backend

Fix Roles List (#7068)
  phytoplankton-console/src/pages/accounts/Roles/index.tsx
  phytoplankton-console/src/pages/accounts/components/RoleSelect/index.tsx
Labels: frontend

Fix Payment Identifiers Query (#7061)
  tarpon/src/services/copilot/questions/definitions/unique-payment-identifier.ts
Labels: backend

Revert 6687 (#7069)
  phytoplankton-console/src/pages/sanctions/activity/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/pre-deployment/2025.04.15T10.33.00.sanctions-search-version.ts
  tarpon/src/services/metrics/api-usage-metrics-service.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/repositories/sanctions-search-repository.ts
Labels: backend, frontend

Fix review -> escalation for alerts (#7066)
  tarpon/src/services/alerts/__tests__/index.test.ts
  tarpon/src/services/alerts/index.ts
Labels: backend

Add write permissions to risk factor edit (#7073)
  phytoplankton-console/src/pages/risk-levels/risk-factors/RiskFactorConfiguration/index.tsx
Labels: frontend

Made date picker responsive (#7054)
  phytoplankton-console/src/components/library/DateRangePicker/DateRangeValuePopover/index.module.less
Labels: frontend

Fix: AIF: screening tabs shown with TM rule (#7074)
  phytoplankton-console/src/components/AiForensics/SearchBar/index.tsx
Labels: frontend

Added hit rate to rule analytics (#6746)
  phytoplankton-console/src/pages/dashboard/analysis/components/RulesHitCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RulesHitCard/style.module.less
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/pre-deployment/2025.05.28T10.04.02.refresh-RuleRunStats.ts
  tarpon/src/services/analytics/dashboard-metrics/__tests__/dashboard-stats-repository.rules-hit.test.ts
  tarpon/src/services/analytics/dashboard-metrics/rule-stats.ts
  tarpon/src/services/dashboard/repositories/dashboard-stats-repository.ts
  tarpon/src/utils/clickhouse/definition.ts
Labels: backend, frontend

FIX: removed fields from public open api (#7064)
  tarpon/lib/openapi/public/openapi-public-original.yaml
Labels: backend

Fix CTE names for rule hits and AIF transactions (#7079)
  tarpon/src/services/analytics/dashboard-metrics/rule-stats.ts
  tarpon/src/services/copilot/questions/definitions/transactions.ts
  tarpon/src/services/rules-engine/repositories/clickhouse-repository.ts
Labels: backend

ENHANCE: Improve name processing with advanced stopword filtering andfuzzy matching in SanctionsDataFetcher (#7057)
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
Labels: backend

Refresh Dashboard stats only when clickhouse not enabled (#7080)
  tarpon/scripts/migrations/pre-deployment/2025.05.22T19.00.50.refresh-transaction-dashboard-stats.ts
  tarpon/scripts/migrations/pre-deployment/2025.05.28T10.04.02.refresh-RuleRunStats.ts
  tarpon/src/services/analytics/dashboard-metrics/rule-stats.ts
Labels: backend

AI Forensics button clickable when feature flag is off (#7077)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
Labels: frontend

Fix fetching tags for transaction and users table (#7082)
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend

Add all associates within the acuris entity (#7056)
  tarpon/scripts/migrations/post-deployment/2025.06.03T06.38.27.backfill-associates.ts
  tarpon/src/services/sanctions/providers/acuris-provider.ts
Labels: backend

FIX: clipboard copy fixed for firefox and chrome (#7053)
  phytoplankton-console/src/utils/browser.ts
Labels: frontend

Basic version of address screening (#7075)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/package.json
  tarpon/src/services/rules-engine/transaction-rules/payment-details-screening-base.ts
  tarpon/src/services/rules-engine/user-rules/generic-sanctions-consumer-user.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-bank-name.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-business-user.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
  tarpon/src/services/rules-engine/utils/rule-utils.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/utils/helpers.ts
  tarpon/yarn.lock
Labels: backend

Migrate rules R-94, R-124 to V8 engine (#7071)
  tarpon/src/services/rules-engine/transaction-rules/__tests__/same-payment-details.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-round-value-percentage.test.ts
  tarpon/src/services/rules-engine/v8-migrations/index.ts
Labels: backend

Enable partial entry search by Transaction IDs in Transactions table (#7067)
  tarpon/src/services/rules-engine/repositories/clickhouse-repository.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/utils/mongodb-utils.ts
Labels: backend

Remove RBAC V2 Feature Flag (#7087)
  phytoplankton-console/cypress/e2e/ai-forensics/ai-forensics-test.cy.ts
  phytoplankton-console/cypress/e2e/alerts/alerts-close-test.cy.ts
  phytoplankton-console/cypress/e2e/alerts/alerts-select-different-entities.cy.ts
  phytoplankton-console/cypress/e2e/auditlog/audit-log-test.cy.ts
  phytoplankton-console/cypress/e2e/basic/load-tables.cy.ts
  phytoplankton-console/cypress/e2e/cases/case-creation-test.cy.ts
  phytoplankton-console/cypress/e2e/cases/case-details-escalate.cy.ts
  phytoplankton-console/cypress/e2e/cases/cases-assignment-filter-test.cy.ts
  phytoplankton-console/cypress/e2e/cases/cases-closing-tests.cy.ts
  phytoplankton-console/cypress/e2e/cases/cases-comment-test.cy.ts
  phytoplankton-console/cypress/e2e/cases/cases-escalate-test.cy.ts
  phytoplankton-console/cypress/e2e/cases/cases-filter-test.cy.ts
  phytoplankton-console/cypress/e2e/cases/copilot-test.cy.ts
  phytoplankton-console/cypress/e2e/cases/payments-approvals-test.cy.ts
  phytoplankton-console/cypress/e2e/qa/qa-assignee-column.cy.ts
  phytoplankton-console/cypress/e2e/qa/qa-sampling-test.cy.ts
  phytoplankton-console/cypress/e2e/risk-factors/create-and-delete-risk-factor.cy.ts
  phytoplankton-console/cypress/e2e/risk-factors/risk-factors-breadcrumbs.cy.ts
  phytoplankton-console/cypress/e2e/rules/create-and-delete-rule.cy.ts
  phytoplankton-console/cypress/e2e/rules/crud-rule-instance-page.cy.ts
  phytoplankton-console/cypress/e2e/sar/sar-generate.cy.ts
  phytoplankton-console/cypress/e2e/team-management/accounts-crud-test.cy.ts
  phytoplankton-console/cypress/e2e/team-management/custom-role-crud-test.cy.ts
  phytoplankton-console/cypress/e2e/transactions/transactions-table-pagination.cy.ts
  phytoplankton-console/cypress/e2e/users/users-comment.cy.ts
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/notifications/__tests__/index.test.ts
  tarpon/src/services/rbac/utils/permissions.ts
  tarpon/src/services/roles/index.ts
  tarpon/src/services/roles/repository/dynamo.ts
  tarpon/src/services/roles/utils/index.ts
Labels: backend, frontend

Fix address screening producing no hits (#7088)
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
Labels: backend

Workflow CRUD interface improvements (#7085)
  tarpon/lib/openapi/internal/workflow-models.yaml
  tarpon/src/services/counter/repository.ts
  tarpon/src/services/workflow/index.ts
Labels: backend

Fix Workflows Tests (#7099)
  phytoplankton-console/src/pages/workflows/serialization.ts
  phytoplankton-console/src/pages/workflows/workflows-create-page/index.tsx
  phytoplankton-console/src/pages/workflows/workflows-page/workflows-library/data.ts
  phytoplankton-console/src/pages/workflows/workflows-page/workflows-list/index.tsx
Labels: frontend

:zap: Add default screening profile during tenant creation (#7031)
  phytoplankton-console/src/components/ui/LogicBuilder/ScreeningProfileSelect/index.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/CreateScreeningProfileModal.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/ScreeningProfileList.tsx
  tarpon/scripts/migrations/post-deployment/2025.05.29T11.29.11.add_default_screening_profile.ts
  tarpon/scripts/migrations/post-deployment/2025.05.30T14.18.07.update_rule_instances_screening_profile.ts
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/lambdas/console-api-sanctions/app.ts
  tarpon/src/services/batch-jobs/in-house-screening-migration-batch-job-runner.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/payment-details-screening.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/sanctions-counterparty.test.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/transaction-rules/payment-details-screening-base.ts
  tarpon/src/services/rules-engine/user-rules/__tests__/sanctions-bank-name.test.ts
  tarpon/src/services/rules-engine/user-rules/generic-sanctions-consumer-user.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-bank-name.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-business-user.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/screening-profile/index.ts
  tarpon/src/services/screening-profile/repositories/screening-profile-repository.ts
  tarpon/src/services/tenants/index.ts
Labels: backend, frontend

Init opensearch for screnening (#6942)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  tarpon/docker-compose.yaml
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/package.json
  tarpon/scripts/esbuild.js
  tarpon/scripts/migrations/migrator.ts
  tarpon/scripts/migrations/post-deployment/2025.05.20T12.06.49.fill-opensearch-indexes.ts
  tarpon/src/services/batch-jobs/delta-sanctions-batch-job-runner.ts
  tarpon/src/services/batch-jobs/sanctions-data-fetch-job-runner.ts
  tarpon/src/services/sanctions/providers/acuris-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/repositories/sanctions-repository.ts
  tarpon/src/utils/opensearch-definitions.ts
  tarpon/src/utils/opensearch-utils.ts
  tarpon/yarn.lock
Labels: backend, infra, frontend

Only one job should be running for sanctions data-fetch (#7098)
  tarpon/src/services/batch-jobs/repositories/batch-job-repository.ts
  tarpon/src/services/batch-jobs/sanctions-data-fetch-job-runner.ts
Labels: backend

Implemented TRS breakdown display for amount (#7097)
  phytoplankton-console/src/components/ui/RiskScoreDisplay/DetailsModal/helpers.tsx
Labels: frontend

update name for foreign-destination risk factors (#7102)
  tarpon/scripts/migrations/pre-deployment/2025.06.09T18.06.38.name-change-foreign-destination-risk-factors.ts
  tarpon/src/services/risk-scoring/risk-factors/transaction/foreign-destination-business-country .ts
  tarpon/src/services/risk-scoring/risk-factors/transaction/foreign-origin-business-country.ts
  tarpon/src/services/risk-scoring/risk-factors/transaction/foreign-origin-consumer-country.ts
Labels: backend

Fix transactions count query for offsetPaginate ClickHouse (#7101)
  tarpon/src/utils/pagination.ts
Labels: backend

Provide CodePipelineDeployRole opensearch permissions (#7103)
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

Set default value of alertCreatedFor to PAYMENT_DETAILS for R-170 (#7106)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/RuleConfigurationForm/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/steps/BasicDetailsStep/index.tsx
Labels: frontend

Add hint to Partial Match Schema (#7108)
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
Labels: backend

Rage Click: improve manual search performance (#7076)
  phytoplankton-console/src/components/ComplyAdvantageHitTable/index.tsx
  phytoplankton-console/src/pages/sanctions/search/index.tsx
Labels: frontend

Revert opensearch - temporary (#7109)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  tarpon/docker-compose.yaml
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/package.json
  tarpon/scripts/esbuild.js
  tarpon/scripts/migrations/migrator.ts
  tarpon/scripts/migrations/post-deployment/2025.05.20T12.06.49.fill-opensearch-indexes.ts
  tarpon/src/services/batch-jobs/delta-sanctions-batch-job-runner.ts
  tarpon/src/services/batch-jobs/sanctions-data-fetch-job-runner.ts
  tarpon/src/services/sanctions/providers/acuris-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/repositories/sanctions-repository.ts
  tarpon/src/utils/opensearch-definitions.ts
  tarpon/src/utils/opensearch-utils.ts
  tarpon/yarn.lock
Labels: backend, infra, frontend

FEAT: trigger 314(A) rules when attached list updates (#7028)
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/lambdas/cron-job-ten-minute/app.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/repositories/batch-job-repository.ts
  tarpon/src/services/batch-jobs/user-rule-re-run-batch-job-runner.ts
  tarpon/src/services/list/index.ts
  tarpon/src/services/list/repositories/list-repository.ts
  tarpon/src/services/risk-scoring/risk-scoring-v8-service.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
  tarpon/src/services/rules-engine/repositories/rule-repository.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/user-rules/subject-identification-business.ts
  tarpon/src/services/rules-engine/user-rules/subject-identification-consumer.ts
  tarpon/src/services/rules-engine/utils/user-rule-utils.ts
  tarpon/src/utils/cron.ts
Labels: backend

Rework simulation to allow sampling with filters (#7052)
  phytoplankton-console/build/openapi-generate.js
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/SimulationDetailsForm/index.tsx
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/SimulationDetailsForm/styles.module.less
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/SimulationHistoryPage/SimulationHistory/index.tsx
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/SimulationResult/index.tsx
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/index.tsx
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/styles.module.less
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/templates/api/api.mustache
  tarpon/scripts/migrations/pre-deployment/2025.05.30T18.54.06.add-sampling-iteration-parameters.ts
  tarpon/src/lambdas/console-api-simulation/app.ts
  tarpon/src/services/batch-jobs/__tests__/simulation-v8-risk-scoring-batch-job-runner.test.ts
  tarpon/src/services/batch-jobs/simulation-v8-risk-scoring-batch-job-runner.ts
  tarpon/src/services/simulation/index.ts
  tarpon/src/services/simulation/repositories/simulation-result-repository.ts
  tarpon/src/services/simulation/repositories/simulation-task-repository.ts
  tarpon/src/services/simulation/utils/demo-risk-factors-simulation.ts
  tarpon/src/services/simulation/utils/demo-risk-factors-v8-simulation.ts
Labels: backend, frontend

Disable edit mode for rule when it is in deploying stage (#7105)
  phytoplankton-console/src/pages/rules/my-rules/index.tsx
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/index.tsx
Labels: frontend
