Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, raptor

Assignee search function fixed (#1963)
  phytoplankton-console/src/pages/case-management/components/AssigneesDropdown/index.tsx
Labels: frontend

Fix stoplight not being updated when we only update docs (#1964)
  .github/workflows/publish_schema.yml
  tarpon/lib/openapi/public/docs/webhooks-overview.md
Labels: backend

Fix super-admin toggle not working (#1965)
  phytoplankton-console/src/components/PageWrapper/index.tsx
Labels: frontend

Fix user type filter (#1967)
  tarpon/src/services/rules-engine/user-filters/user-type.ts
Labels: backend

Fix iban.com API cache result not being used (#1969)
  tarpon/src/services/iban.com/__tests__/index.test.ts
  tarpon/src/services/iban.com/repositories/iban-api-repository.ts
Labels: backend

Don't send webhook updates when user is created (#1970)
  tarpon/src/lambdas/tarpon-change-webhook-consumer/__tests__/tarpon-change-webhook-handler.test.ts
  tarpon/src/lambdas/tarpon-change-webhook-consumer/app.ts
Labels: backend

Ongoing screening user rule fixes (#1971)
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-console-api-stack.ts
  tarpon/lib/constants.ts
  tarpon/lib/lambdas.ts
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/batch-job/ongoing-screening-user-rule-batch-job-runner.ts
  tarpon/src/lambdas/cron-job-daily/app.ts
  tarpon/src/lambdas/incoming-webhooks/app.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/user-rules/__tests__/sanctions-bank-name.test.ts
  tarpon/src/services/rules-engine/user-rules/__tests__/sanctions-business-user.test.ts
  tarpon/src/services/rules-engine/user-rules/__tests__/sanctions-consumer-user.test.ts
  tarpon/src/services/rules-engine/user-rules/rule.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-bank-name.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-business-user.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-consumer-user.ts
  tarpon/src/test-utils/rule-test-utils.ts
Labels: backend

Clean up duplicated iban.com cache results (#1975)
  tarpon/scripts/migrations/post-deployment/2023.08.10T09.38.48.remove-duplicate-iban-searches.ts
  tarpon/src/services/iban.com/repositories/iban-api-repository.ts
  tarpon/src/utils/mongoDBUtils.ts
Labels: backend

Dropdown fields separate on scroll fix (#1948)
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/RuleConfigurationForm/index.tsx
Labels: frontend

Extend Case Model (#1973)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/types.ts
  phytoplankton-console/src/pages/case-management/types.tsx
  tarpon/init_local_db/data/samplers/cases.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2023.08.10T12.20.49.migrate-to-system-case.ts
  tarpon/scripts/migrations/pre-deployment/2023.04.07T00.24.46.fix-caseTransactions.ts
  tarpon/src/core/seed/samplers/cases.ts
  tarpon/src/lambdas/console-api-case/services/__tests__/case-service.test.ts
  tarpon/src/lambdas/console-api-case/services/case-creation-service.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/__tests__/dashboard-stats-repository.hits-per-user.test.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/__tests__/dashboard-stats-repository.rules-hit.test.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/__tests__/dashboard-stats-repository.team.test.ts
  tarpon/src/utils/__tests__/anonymize.test.ts
Labels: backend, frontend

Limit the concurrent iban.com API calls to 10 (#1977)
  tarpon/package-lock.json
  tarpon/package.json
  tarpon/src/services/iban.com/index.ts
Labels: backend

Updated In Review Status Change Logic (#1959)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2023.08.10T12.20.49.migrate-to-system-case.ts
  tarpon/src/lambdas/console-api-case/services/__tests__/case-service.test.ts
  tarpon/src/lambdas/console-api-case/services/case-service.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/rules-engine/repositories/alerts-repository.ts
  tarpon/src/services/rules-engine/repositories/case-repository.ts
Labels: backend

Fr 2875 cra risk level to risk panel (#1962)
  phytoplankton-console/src/pages/users-item/UserDetails/UserManualRiskPanel/index.tsx
Labels: frontend

Increase kinesis lambda consumer iterator age alarm from 20s to 120s (#1980)
  tarpon/infra/cdk-utils/cdk-cw-alarms-utils.ts
Labels: backend

Improve qa-stack-cleanup script (#1981)
  tarpon/scripts/qa-stack-cleanup.ts
Labels: backend

Create public API docs to resell sanctions screening (#1978)
  tarpon/lib/openapi/openapi-public-sanctions-augmentor.ts
  tarpon/lib/openapi/public-sanctions/docs/webhooks-events.md
  tarpon/lib/openapi/public-sanctions/openapi-public-sanctions-original.yaml
  tarpon/src/lambdas/public-sanctions-api-sanctions/__tests__/app.test.ts
  tarpon/src/lambdas/public-sanctions-api-sanctions/app.ts
Labels: backend

'Assigned to' filter behaviour changed in My cases tab (#1974)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTableWrapper.tsx
  phytoplankton-console/src/pages/case-management/helpers.tsx
  phytoplankton-console/src/pages/case-management/index.tsx
Labels: frontend

Add User Segment risk factor (#1957)
  phytoplankton-console/src/components/ui/RiskScoreDisplay/DetailsModal/helpers.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/consts.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/types.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Labels: backend, frontend

Trigger Transaction Event On Device Data Incoming (#1960)
  tarpon/src/lambdas/public-device-data/app.ts
  tarpon/src/services/device-data/index.ts
Labels: backend

changed the PaymentApprovalModal to use our Modal (#1988)
  phytoplankton-console/src/pages/case-management/components/PaymentApprovalButton/PaymentApprovalModal.tsx
Labels: frontend

Fix EMFILE error when running R-32 (#1990)
  tarpon/src/services/rules-engine/user-rules/sanctions-bank-name.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-business-user.ts
  tarpon/src/services/sanctions/index.ts
Labels: backend

Followup of Sanctions Docs (#1987)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/public-sanctions/docs/webhooks-events.md
  tarpon/lib/openapi/public-sanctions/openapi-public-sanctions-original.yaml
  tarpon/src/lambdas/incoming-webhooks/app.ts
  tarpon/src/lambdas/public-sanctions-api-sanctions/app.ts
Labels: backend

Increase APIGatewayClient request max retry to 10 (#1992)
  tarpon/src/services/tenants/index.ts
Labels: backend

changed Reopened in Team Overview to Re-opened (#1986)
  phytoplankton-console/src/pages/case-management/components/StatusChangeButton.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TeamPerformanceCard/index.tsx
Labels: frontend

Support uploading files from local env (#1991)
  phytoplankton-console/src/components/CommentEditor/index.tsx
  tarpon/local-api-server.ts
  tarpon/package-lock.json
  tarpon/package.json
  tarpon/src/core/middlewares/local-dev.ts
  tarpon/src/utils/s3.ts
  tarpon/src/utils/secrets-manager.ts
Labels: backend, frontend

Don't Show Validation Error When Not Required (#1972)
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/ObjectPropertyInput/index.tsx
Labels: frontend

Fix api-key authorizer errors (#2001)
  tarpon/.eslintrc.js
  tarpon/local-api-server.ts
  tarpon/src/core/middlewares/local-dev.ts
  tarpon/src/utils/s3.ts
  tarpon/src/utils/secrets-manager.ts
Labels: backend

Overwrite tags when merging user objects (#1997)
  tarpon/scripts/migrations/utils/transaction.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/users/index.ts
  tarpon/src/utils/__tests__/object.test.ts
  tarpon/src/utils/object.ts
Labels: backend

Fix only at most 10 QA envs can be deployed (#2003)
  .github/workflows/deploy_qa.yml
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/qa.ts
  tarpon/package.json
  tarpon/scripts/print-qa-integration-test-key.ts
  tarpon/scripts/run-integration-tests.ts
Labels: backend

Fix parent/child case ID field missing (#1996)
  phytoplankton-console/src/pages/case-management-item/components/Header/SubHeader/index.tsx
Labels: frontend

New Risk Factor As Bank Name (#1998)
  phytoplankton-console/src/components/ui/RiskScoreDisplay/DetailsModal/helpers.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/consts.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/types.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-transaction/app.ts
  tarpon/src/services/risk-scoring/derived-risk-factors/bank-name.ts
  tarpon/src/services/risk-scoring/derived-risk-factors/index.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
Labels: backend, frontend

Dont deep merge objects (#2004)
  tarpon/src/utils/__tests__/object.test.ts
  tarpon/src/utils/object.ts
  tarpon/test-resources/public-api-transactions-tests.postman_collection.json
Labels: backend

Update risk level when riskLevel is present in user events (#2009)
  tarpon/src/lambdas/public-api-user-management/app.ts
  tarpon/src/services/risk-scoring/risk-scoring-service.ts
  tarpon/src/services/users/index.ts
Labels: backend

handleRiskLevelParam -> handleManualRiskLevel
  tarpon/src/lambdas/public-api-user-management/app.ts
  tarpon/src/services/risk-scoring/risk-scoring-service.ts
  tarpon/src/services/users/index.ts
Labels: backend

Added Manual Case Creation Initial (#1982)
  package.json
  phytoplankton-console/src/components/library/Form/index.module.less
  phytoplankton-console/src/components/library/Form/index.tsx
  phytoplankton-console/src/components/ui/AIRiskDisplay/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/CaseTransactionsCard/index.module.less
  phytoplankton-console/src/pages/case-management-item/CaseDetails/CaseTransactionsCard/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/pages/case-management-item/components/Header/SubHeader/index.tsx
  phytoplankton-console/src/pages/case-management-item/components/Header/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/types.ts
  phytoplankton-console/src/pages/case-management/components/Copilot/CopilotButtonContent.tsx
  phytoplankton-console/src/pages/case-management/components/PaymentApprovalButton/PaymentApprovalModal.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeButton.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
  phytoplankton-console/src/pages/users-item/Header/index.tsx
  phytoplankton-console/src/pages/users-item/ManualCaseCreationButton/index.tsx
  phytoplankton-console/src/pages/users-item/ManualCaseCreationModal/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/core/seed/samplers/cases.ts
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/console-api-case/services/case-creation-service.ts
  tarpon/src/lambdas/console-api-case/services/case-service.ts
  tarpon/src/services/copilot/copilot-service.ts
  tarpon/src/services/rules-engine/repositories/case-repository.ts
Labels: backend, frontend

Enity Linking on Entities (#2005)
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/AttributePanel/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/EntityLinkingGraph/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/UserGraph/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/UserPanel/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/index.tsx
  tarpon/src/services/linker/index.ts
Labels: backend, frontend

Remove time from DOB in user details (#1999)
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/UserDetails/UsersInfoCard/index.tsx
Labels: frontend

Improvments in ui of risk level selector (#2006)
  phytoplankton-console/src/components/library/RiskLevelSwitch/index.tsx
  phytoplankton-console/src/components/library/RiskLevelSwitch/styles.module.less
  phytoplankton-console/src/pages/users-item/UserDetails/UserManualRiskPanel/index.module.less
  phytoplankton-console/src/pages/users-item/UserDetails/UserManualRiskPanel/index.tsx
Labels: frontend

Disable deep merge for business users (#2010)
  tarpon/src/services/users/index.ts
  tarpon/src/utils/__tests__/object.test.ts
  tarpon/src/utils/object.ts
  tarpon/test-resources/public-api-transactions-tests.postman_collection.json
Labels: backend

Fix transaction time risk score (#2014)
  tarpon/src/services/risk-scoring/risk-scoring-service.ts
Labels: backend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - infra/**

frontend:
  - phytoplankton-console/**

raptor:
  - raptor/**
