Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, raptor, pipeline

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

raptor:
  - raptor/**

pipeline:
  - bin/**

Implement Rule hit AI Forensics feature (#6216)
  lib/utils/copilot.ts
  phytoplankton-console/src/components/AiForensics/SearchBar/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemBase/exportUtil.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/story.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/types.ts
  tarpon/src/services/copilot/questions/definitions.ts
  tarpon/src/services/copilot/questions/definitions/rules.ts
  tarpon/src/services/copilot/questions/question-service.ts
  tarpon/src/services/copilot/questions/types.ts
Labels: backend, frontend

update ubuntu version in actions (#6282)
  .github/workflows/deploy_orca_pipeline.yaml
  .github/workflows/destroy_phyto_qa.yml
  .github/workflows/destroy_tarpon_qa.yml
  .github/workflows/semgrep.yml
  .github/workflows/test_infra.yml
  .github/workflows/test_lib.yml
  .github/workflows/test_phyto.yml
Labels: none

:zap: Add sanction details to tenant creation page (#6274)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/CreateTenantModal/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/GenericSanctionScreeningTypes/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/rules-engine/user-rules/sanctions-consumer-user.ts
  tarpon/src/services/tenants/index.ts
Labels: backend, frontend

Store legal document expiry date as timestamp (#6202)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/helpers.ts
  tarpon/src/services/logic-evaluator/engine/__tests__/index.test.ts
  tarpon/src/services/logic-evaluator/engine/index.ts
  tarpon/src/services/logic-evaluator/operators/custom-built-in-operators.ts
  tarpon/src/services/logic-evaluator/operators/types.ts
  tarpon/src/services/logic-evaluator/variables/__tests__/index.test.ts
  tarpon/src/services/logic-evaluator/variables/index.ts
Labels: backend, frontend

[Security] Upgrade aws-cdk-lib from 2.177.0 to 2.178.1 (#6286)
  lib/package.json
  lib/yarn.lock
  package.json
  phytoplankton-console/package.json
  phytoplankton-console/yarn.lock
  tarpon/package.json
  tarpon/yarn.lock
  yarn.lock
Labels: backend, frontend

:zap: Add rule parameters(fuzziness and screening_types) to alert details page (#6275)
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/AiForensicsTab/helpers.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemRuleHit/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/types.ts
Labels: frontend

Feature: added functioality to unlink MFA of accounts from team managment page. (#6211)
  phytoplankton-console/src/pages/accounts/Team/index.tsx
  phytoplankton-console/src/pages/accounts/components/ResetUserMfa.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/console-api-account/app.ts
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/accounts/repository/auth0.ts
Labels: backend, frontend

Clicking false positive probability should show alert disposition (#6257)
  phytoplankton-console/src/pages/case-management/AlertTable/FalsePositiveTag/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
Labels: frontend

Fix assignment bugs with multi-level escalation (#6288)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  tarpon/src/services/alerts/index.ts
Labels: backend, frontend

Cross Tenant Query For Sales Related Data (#6278)
  tarpon/scripts/cross-tenant-query.ts
Labels: backend

Create 'timestamp of rule execution' as a v8 variable and add custom operators for comparing time difference (#6277)
  phytoplankton-console/src/components/ui/LogicBuilder/widgets.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/logic-evaluator/operators/__tests__/resources/operators.json
  tarpon/src/services/logic-evaluator/operators/__tests__/time-difference-comparison.test.ts
  tarpon/src/services/logic-evaluator/operators/index.ts
  tarpon/src/services/logic-evaluator/operators/time-difference-comparison.ts
  tarpon/src/services/logic-evaluator/variables/__tests__/resources/entity-variables.json
  tarpon/src/services/logic-evaluator/variables/current-timestamp.ts
  tarpon/src/services/logic-evaluator/variables/index.ts
Labels: backend, frontend

Fix e2e: Change testname for unlinking mfa and improve getclean text util (#6292)
  phytoplankton-console/cypress/support/utils.ts
  phytoplankton-console/src/pages/accounts/components/ResetUserMfa.tsx
Labels: frontend

Update VPN IPs (#6290)
  tarpon/infra/cdktf-tarpon-stack.ts
Labels: backend, infra

Imporivise Prompts for Narrative Copilot (#6296)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/copilot/attributes/ai-sources.ts
  tarpon/src/services/copilot/attributes/alert-attribute-builder.ts
  tarpon/src/services/copilot/attributes/attribute-set.ts
  tarpon/src/services/copilot/attributes/builder.ts
  tarpon/src/services/copilot/attributes/case-attribute-builder.ts
  tarpon/src/services/copilot/attributes/transaction-attribute-builder.ts
  tarpon/src/services/copilot/attributes/transactions-attribute-builder.ts
  tarpon/src/services/copilot/attributes/user-attribute-builder.ts
  tarpon/src/services/copilot/attributes/utils/ruleAttributeMapper.ts
  tarpon/src/services/copilot/auto-narrative-service.ts
  tarpon/src/services/copilot/narratives/alerts.ts
  tarpon/src/services/copilot/narratives/case.ts
  tarpon/src/services/copilot/narratives/index.ts
  tarpon/src/services/copilot/narratives/sar.ts
  tarpon/src/services/copilot/narratives/transactions.ts
  tarpon/src/services/copilot/narratives/utils/index.ts
  tarpon/src/services/copilot/retrieval-service.ts
  tarpon/src/utils/openai.ts
Labels: backend

Add stopwords configuration under rule (#6245)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/rules-engine/transaction-rules/payment-details-screening-base.ts
  tarpon/src/services/rules-engine/user-rules/dowjones-consumer-user.ts
  tarpon/src/services/rules-engine/user-rules/generic-sanctions-consumer-user.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-bank-name.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-business-user.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
  tarpon/src/services/rules-engine/utils/rule-utils.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/providers/__tests__/sanctions-data-fetcher.test.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
Labels: backend

Open cases in Narrative copilot test (#6297)
  phytoplankton-console/cypress/e2e/cases/copilot-test.cy.ts
Labels: frontend

Update CRM Feature flag text (#6289)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
Labels: frontend

DEMO: showed demo data for crm (#6287)
  tarpon/src/core/seed/clickhouse.ts
  tarpon/src/core/seed/data/crm-records.ts
Labels: backend

Triage Queue Notifications in Slack (#6298)
  tarpon/package.json
  tarpon/src/@types/triage/index.d.ts
  tarpon/src/lambdas/cron-job-daily/app.ts
  tarpon/src/lambdas/cron-job-ten-minute/app.ts
  tarpon/src/utils/mongodb-definitions.ts
  tarpon/yarn.lock
Labels: backend

Enable contributor insights for all dynamo tables (#6293)
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

Cosmetic Update for Messages (#6299)
  tarpon/src/@types/triage/index.d.ts
  tarpon/src/lambdas/cron-job-ten-minute/app.ts
Labels: backend

Auto Update Engoneering On-Call (#6301)
  tarpon/src/lambdas/cron-job-daily/app.ts
  tarpon/src/lambdas/cron-job-ten-minute/app.ts
  tarpon/src/utils/slack.ts
Labels: backend

Alert details page bug: Replace AI Forensics logo in the tabs with the one attached below. (#6294)
  phytoplankton-console/src/components/AiForensics/SearchBar/index.tsx
  phytoplankton-console/src/components/AiForensics/SearchBar/styles.module.less
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/index.tsx
  phytoplankton-console/src/components/files/FilesList/index.tsx
  phytoplankton-console/src/components/files/FilesList/styles.module.less
  phytoplankton-console/src/components/library/SearchBar/SearchBarDropdown/index.module.less
  phytoplankton-console/src/components/library/SearchBar/SearchBarDropdown/index.tsx
  phytoplankton-console/src/components/library/SearchBar/SearchBarField/index.tsx
  phytoplankton-console/src/components/ui/AiForensicsLogo/ai-forensics-logo-full.png
  phytoplankton-console/src/components/ui/AiForensicsLogo/ai-forensics-logo-short.png
  phytoplankton-console/src/components/ui/AiForensicsLogo/index.module.less
  phytoplankton-console/src/components/ui/AiForensicsLogo/index.tsx
  phytoplankton-console/src/components/ui/PageTabs/index.module.less
  phytoplankton-console/src/components/ui/PageTabs/index.tsx
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/HitsTab/index.tsx
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/helpers.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/AiAlertSummary/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemBase/AISummary/index.module.less
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemBase/AISummary/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemBase/CommentPopover/index.module.less
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemBase/CommentPopover/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/ml-models/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/MlVariableForm.tsx
Labels: frontend

Update Call On Call Users Script (#6302)
  tarpon/src/lambdas/cron-job-daily/app.ts
  tarpon/src/lambdas/cron-job-ten-minute/app.ts
Labels: backend

Fix screening tabs description and error messages (#6217)
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/index.tsx
  phytoplankton-console/src/components/library/Form/utils/validation/types.ts
  phytoplankton-console/src/pages/case-management/AlertTable/SanctionsHitStatusChangeModal/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/sanctions/index.tsx
  phytoplankton-console/src/pages/sanctions/style.module.less
Labels: frontend

:bug: Fix screening permissions (#6306)
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/index.tsx
Labels: frontend

Remove stopwords from search term when searching in db (#6305)
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
Labels: backend

:bug: Fix screening tab permissions (#6309)
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/index.tsx
Labels: frontend

:zap: Add entityId filter to webhook logs (#6268)
  phytoplankton-console/src/pages/settings/components/WebhookDeliveryAttemptsTable.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/pre-deployment/2025.03.05T09.37.08.add-entityId-to-webhook-deliveries.ts
  tarpon/src/@types/webhook/index.ts
  tarpon/src/lambdas/console-api-webhook/app.ts
  tarpon/src/lambdas/hammerhead-change-mongodb-consumer/app.ts
  tarpon/src/lambdas/webhook-deliverer/__tests__/webhook-delivery-handler.test.ts
  tarpon/src/lambdas/webhook-deliverer/app.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/batch-jobs/pnb-backfill-webhook-deliveries.ts
  tarpon/src/services/cases/case-creation-service.ts
  tarpon/src/services/cases/index.ts
  tarpon/src/services/list/index.ts
  tarpon/src/services/rules-engine/pnb-custom-logic.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/users/index.ts
  tarpon/src/services/webhook/repositories/webhook-delivery-repository.ts
  tarpon/src/services/webhook/utils.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend, frontend

Do not replace placeholders (#6310)
  tarpon/src/services/copilot/narratives/alerts.ts
Labels: backend

Add L2 escalate button (#6303)
  phytoplankton-console/src/pages/alert-item/components/Header/StatusChangeMenu/index.tsx
Labels: frontend

Skip pnb-sit events in kinesis consumer (#6311)
  tarpon/src/core/dynamodb/dynamodb-stream-consumer-builder.ts
Labels: backend

Remove Unused Alarms (#6291)
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-alarms-stack.ts
  tarpon/infra/cdk-utils/cdk-cw-alarms-utils.ts
Labels: backend, infra

UX regression issue - Padding off b/w slider and input field in Fuzziness. (#6313)
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/SimplePropertyInput/style.module.less
  phytoplankton-console/src/components/library/JsonSchemaEditor/story.tsx
Labels: frontend

Increase Tarpon Queue Memory (#6318)
  lib/config/config-prod-eu-1.ts
Labels: none

Global collection for acuris and open sanctions (#6285)
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2025.03.07T08.10.53.send-data-fetch-batch-jobs.ts
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/lambdas/cron-job-daily/app.ts
  tarpon/src/services/batch-jobs/__tests__/ongoing-screening-user-rule-batch-job-runner.test.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/delta-sanctions-batch-job-runner.ts
  tarpon/src/services/batch-jobs/ongoing-screening-user-rule-batch-job-runner.ts
  tarpon/src/services/batch-jobs/sanctions-data-fetch-job-runner.ts
  tarpon/src/services/cases/case-creation-service.ts
  tarpon/src/services/rules-engine/transaction-rules/payment-details-screening-base.ts
  tarpon/src/services/rules-engine/user-rules/dowjones-consumer-user.ts
  tarpon/src/services/rules-engine/user-rules/generic-sanctions-consumer-user.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-bank-name.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-business-user.ts
  tarpon/src/services/rules-engine/utils/rule-utils.ts
  tarpon/src/services/sanctions/__tests__/index.test.ts
  tarpon/src/services/sanctions/__tests__/sanctions-whitelist-entity-repository.test.ts
  tarpon/src/services/sanctions/data-fetchers.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/providers/__tests__/open-sanctions-provider.test.ts
  tarpon/src/services/sanctions/providers/__tests__/sanctions-data-fetcher.test.ts
  tarpon/src/services/sanctions/providers/acuris-provider.ts
  tarpon/src/services/sanctions/providers/dow-jones-provider.ts
  tarpon/src/services/sanctions/providers/open-sanctions-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/providers/utils.ts
  tarpon/src/services/sanctions/repositories/sanctions-repository.ts
  tarpon/src/services/sanctions/repositories/sanctions-whitelist-entity-repository.ts
  tarpon/src/services/sanctions/types.ts
  tarpon/src/services/sanctions/utils.ts
  tarpon/src/utils/mongodb-definitions.ts
  tarpon/src/utils/mongodb-utils.ts
Labels: backend, frontend

Make rule screening types generic (#6308)
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/GenericSanctionScreeningTypes/index.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/index.tsx
  tarpon/src/services/rules-engine/transaction-rules/payment-details-screening-base.ts
  tarpon/src/services/rules-engine/user-rules/dowjones-consumer-user.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-bank-name.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-business-user.ts
Labels: backend, frontend

Fix tsc for phytoplankton (#6319)
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/index.tsx
Labels: frontend

:zap: Fix webhook-delivery migration (#6320)
  tarpon/scripts/migrations/pre-deployment/2025.03.05T09.37.08.add-entityId-to-webhook-deliveries.ts
Labels: backend

Fix flaky e2e : sar-generate and case-creation (#6321)
  phytoplankton-console/cypress/e2e/cases/case-creation-test.cy.ts
  phytoplankton-console/cypress/e2e/sar/sar-generate.cy.ts
Labels: frontend
