Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, databricks, raptor, pipeline

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

databricks:
  - databricks/**

raptor:
  - raptor/**

pipeline:
  - bin/**

Riskfactors simulation improvements (#4036)
  phytoplankton-console/src/pages/risk-levels/risk-factors/RiskFactorsSimulation/SimulationResult/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/RiskFactorsSimulation/SimulationResult/styles.module.less
Labels: frontend

Derive Risk Levels from Score in Risk Scoring Simulation (#4037)
  tarpon/src/services/batch-jobs/simulation-risk-scoring-batch-job-runner.ts
Labels: backend

Upgrade aws-sdk from 2.1608.0 to 2.1618.0
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend

Upgrade aws-cdk-lib from 2.140.0 to 2.141.0
  package.json
  yarn.lock
Labels: none

Upgrade aws-cdk-lib from 2.140.0 to 2.141.0
  lib/package.json
  lib/yarn.lock
Labels: none

Fix Audit Logs Page size Change (#4040)
  phytoplankton-console/src/pages/auditlog/components/AuditLog/AuditLog.tsx
Labels: frontend

Only run DEMO_MODE_DATA_LOAD job for demo tenant (#4041)
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/services/batch-jobs/demo-mode-data-load-job-runner.ts
Labels: backend

Rule analytics for both live and shadow rules (#4033)
  phytoplankton-console/src/components/library/Widget/types.ts
  phytoplankton-console/src/components/library/WidgetGrid/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemTimeSeries/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/charts/Line/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/charts/Line/story.tsx
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/RuleInstanceAnalytics.tsx
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/index.tsx
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/styles.module.less
  phytoplankton-console/src/pages/rules/utils.ts
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2024.05.11T10.56.21.shadow-rules-backfill.ts
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/core/seed/data/transactions.ts
  tarpon/src/core/seed/mongo.ts
  tarpon/src/lambdas/console-api-rule/app.ts
  tarpon/src/services/analytics/rules/__tests__/shadow-rule-stats.test.ts
  tarpon/src/services/analytics/rules/shadow-rule-stats.ts
  tarpon/src/services/batch-jobs/dashboard-refresh-batch-job-runner.ts
  tarpon/src/services/cases/case-alerts-audit-log-service.ts
  tarpon/src/services/cases/utils/index.ts
  tarpon/src/services/rules-engine/__tests__/rule-instance-service.test.ts
  tarpon/src/services/rules-engine/__tests__/rule-service.test.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/rules-engine/rule-instance-service.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/utils.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/test-utils/transaction-test-utils.ts
  tarpon/src/test-utils/user-test-utils.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend, frontend

Create savedPaymentDetails for Consumer Users (#4039)
  phytoplankton-console/build/openapi-generate.js
  phytoplankton-console/src/pages/users-item/UserDetails/BusinessUserDetails/UserDetails/BankDetails/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/UserDetails/index.tsx
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/scripts/openapi/openapi_generate_sdk.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/resources/entity-variables.json
Labels: backend, frontend

Audit log for events from public management API (#4020)
  phytoplankton-console/src/components/AccountTag/index.tsx
  phytoplankton-console/src/components/ActivityCard/helpers.tsx
  phytoplankton-console/src/components/library/Avatar/index.module.less
  phytoplankton-console/src/components/library/Avatar/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/utils/account.ts
  phytoplankton-console/src/utils/user-utils.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/alerts/external-alerts-management-service.ts
  tarpon/src/services/alerts/repository.ts
  tarpon/src/services/cases/case-alerts-audit-log-service.ts
  tarpon/src/services/cases/external-case-management-service.ts
Labels: backend, frontend

Make Public Management API for User Comments (#4019)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/constants.ts
  tarpon/lib/lambdas.ts
  tarpon/lib/openapi/openapi-public-management-augmentor.ts
  tarpon/lib/openapi/public-management/openapi-public-management-original.yaml
  tarpon/src/lambdas/public-management-api-users/__tests__/app.test.ts
  tarpon/src/lambdas/public-management-api-users/app.ts
  tarpon/src/services/users/index.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/services/users/utils/user-utils.ts
Labels: backend, infra

Always use non-demo tenant ID when getting auth0 tenant (#4045)
  tarpon/src/core/seed/mongo.ts
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/notifications/index.ts
  tarpon/src/utils/tenant.ts
Labels: backend

Add case and alert creation reason on case details page (#4023)
  phytoplankton-console/src/pages/case-management-item/components/Header/SubHeader/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
Labels: frontend

Update Model Versions (#4046)
  tarpon/src/services/copilot/questions/autocompletion-service.ts
  tarpon/src/utils/openai.ts
Labels: backend

Bump auth0 version (#4047)
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend

V8: allow second/minute aggregation time granularity (#3999)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/VariableTimeWindow/index.tsx
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/rule-service.ts
  tarpon/src/services/rules-engine/v8-engine/index.ts
Labels: backend, frontend

#FR-4803: Implement age risk factors per design (#3915)
  phytoplankton-console/src/components/library/NumberInput/__tests__/number-input.dom.test.tsx
  phytoplankton-console/src/components/library/NumberInput/index.tsx
  phytoplankton-console/src/components/library/NumberInput/story.tsx
  phytoplankton-console/src/components/library/Slider/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/SliderWithInputs/index.module.less
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/SliderWithInputs/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/ValuesTable/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/ValuesTable/style.module.less
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/__tests__/validations.test.ts
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/consts.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/types.ts
  phytoplankton-console/src/utils/__tests__/math.test.ts
  phytoplankton-console/src/utils/dayjs.ts
  phytoplankton-console/src/utils/math.ts
Labels: frontend

Close alerts on transaction approved (#4043)
  tarpon/src/lambdas/console-api-transaction/app.ts
Labels: backend

Fix Public API comments endpoint (#4050)
  tarpon/lib/openapi/public-management/openapi-public-management-original.yaml
  tarpon/src/services/users/utils/user-utils.ts
Labels: backend

Fix failing to load alert transactions (#3922)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2024.05.17T06.46.51.update-transactions-with-alertIds.ts
  tarpon/scripts/migrations/pre-deployment/2024.05.27T09.35.46.update-transactions-with-alertIds.ts
  tarpon/src/core/seed/mongo.ts
  tarpon/src/lambdas/console-api-transaction/app.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/alerts/repository.ts
  tarpon/src/services/cases/case-creation-service.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
Labels: backend

Fix R-7, R-8 double-counting issue (#4053)
  tarpon/src/services/rules-engine/transaction-rules/low-value-transactions-base.ts
Labels: backend

Narrative co-pilot: Allow option to choose 'Compact' Narrative (#4021)
  phytoplankton-console/src/pages/settings/components/NarrativeCopilot.tsx
  phytoplankton-console/src/pages/settings/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-copilot/app.ts
  tarpon/src/services/copilot/attributes/builder.ts
  tarpon/src/services/copilot/attributes/case-attribute-builder.ts
  tarpon/src/services/copilot/copilot-service.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
Labels: backend, frontend

Fix API docs for user comments (#4057)
  tarpon/lib/openapi/public-management/openapi-public-management-original.yaml
Labels: backend

Migrate from Databricks to Glue for datalake writes (#3873)
  databricks/.pylintrc
  databricks/Makefile
  databricks/infra/cdktf.json
  databricks/infra/main.ts
  databricks/poetry.lock
  databricks/pyproject.toml
  databricks/src/aws/__init__.py
  databricks/src/aws/glue.py
  databricks/src/aws/s3.py
  databricks/src/aws/secrets.py
  databricks/src/dbutils/dbutils.py
  databricks/src/entities/scores.py
  databricks/src/jobs/jobs.py
  databricks/src/kinesis/kinesis_reader.py
  databricks/src/tables/currency_rates.py
  databricks/src/tables/entity_tables.py
  databricks/src/tables/kinesis_tables.py
  databricks/src/tables/table_service.py
  databricks/src/tables/table_service_test.py
  databricks/src/version_service.py
Labels: databricks

Always allow demo data runner to run for dev env (#4058)
  tarpon/src/services/batch-jobs/demo-mode-data-load-job-runner.ts
Labels: backend

Skip more prompt tests (#4060)
  tarpon/src/services/copilot/questions/__tests__/autocompletion.llm.ts
Labels: backend

Fix Advanced Rules option Mock (#4059)
  tarpon/src/services/users/__tests__/advanced-rule-options.test.ts
Labels: backend

Fix experimentation datapath
  raptor/src/components/data_ingestion.py
Labels: raptor

Fix model eval
  raptor/src/components/model_trainer.py
Labels: raptor

Append -bucket to datalake bucket
  databricks/infra/main.ts
Labels: databricks

Fix create-and-delete-risk-factor.cy.ts (#4061)
  phytoplankton-console/cypress/e2e/risk-factors/create-and-delete-risk-factor.cy.ts
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/ValuesTable/index.tsx
Labels: frontend

Handle Unknown list type (#4052)
  phytoplankton-console/src/pages/lists/helpers.ts
Labels: frontend

Ignore readonly comment fields received from user (#4049)
  phytoplankton-console/src/pages/case-management-item/components/Header/index.tsx
  phytoplankton-console/src/pages/case-management-item/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/AlertExpanded/Comments/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/index.tsx
  phytoplankton-console/src/pages/users-item/Header/index.tsx
  phytoplankton-console/src/pages/users-item/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/console-api-user/app.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/cases/index.ts
Labels: backend, frontend

Add latest currency rates to backfill
  databricks/data/currency_rates_backfill.json
  databricks/infra/main.ts
  databricks/src/scripts/currency_rates_backfill.py
Labels: databricks

Increase worker size for backfill and refresh
  databricks/infra/main.ts
Labels: databricks

Add case opened webhook (#4062)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/cases/case-creation-service.ts
Labels: backend

Fix machine types
  databricks/infra/main.ts
Labels: databricks

Increase number of workers
  databricks/infra/main.ts
Labels: databricks

Escape tenant name with backticks
  databricks/src/jobs/jobs.py
  databricks/src/tables/entity_tables.py
Labels: databricks

Fix updating alert Ids migration (#4065)
  tarpon/scripts/migrations/post-deployment/2024.06.05T08.45.43.update-transaction-with-alertIds.ts
  tarpon/scripts/migrations/pre-deployment/2024.06.05T08.45.24.update-transaction-with-alertIds.ts
  tarpon/src/core/seed/mongo.ts
Labels: backend
