Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, pipeline

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

pipeline:
  - bin/**

DEMO: increase count of cleared hits (#7230)
  tarpon/src/core/seed/raw-data/sanctions-search.ts
Labels: backend

API Request logs collection to ClickHouse (#7198)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2025.06.18T10.46.00.api-request-logs-clickhouse-backfill.ts
  tarpon/src/lambdas/request-logger/__tests__/request-logger.test.ts
  tarpon/src/lambdas/request-logger/app.ts
  tarpon/src/services/batch-jobs/dynamodb-clickhouse-backfill-job-runner.ts
Labels: backend

Update Messaging in Sanctions (#7236)
  tarpon/src/services/sanctions/repositories/sanctions-screening-details-repository.ts
  tarpon/src/services/sanctions/repositories/sanctions-search-repository.ts
Labels: backend

Minor Fix in Imports (#7239)
  tarpon/src/core/seed/dynamodb.ts
  tarpon/src/lambdas/hammerhead-change-mongodb-consumer/app.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/utils/dynamodb.ts
  tarpon/src/utils/mongodb-utils.ts
  tarpon/src/utils/tenant.ts
Labels: backend

Add KYC status filter for users table (#7227)
  phytoplankton-console/src/pages/users/users-list/all-user-columns.tsx
  phytoplankton-console/src/pages/users/users-list/business-user-columns.tsx
  phytoplankton-console/src/pages/users/users-list/consumer-users-columns.tsx
  phytoplankton-console/src/pages/users/users-list/helpers/queryAdapter.ts
  phytoplankton-console/src/pages/users/users-list/index.tsx
  phytoplankton-console/src/pages/users/users-list/users-table.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/users/index.ts
  tarpon/src/services/users/repositories/user-clickhouse-repository.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/utils/clickhouse/definition.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend, frontend

Fix notification backfill job runner (#7228)
  tarpon/scripts/migrations/post-deployment/2025.06.20T13.27.08.notifications-dynamo-clickhouse-backfill.ts
  tarpon/src/services/batch-jobs/dynamodb-clickhouse-backfill-job-runner.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
Labels: backend

REFACTOR: remove circular imports from /src/services/copilot, /src/service/metrics and /src/services/sanctions (#6955)
  phytoplankton-console/.eslintignore
  tarpon/.eslintrc.js
  tarpon/scripts/migrations/post-deployment/2025.05.30T14.18.07.update_rule_instances_screening_profile.ts
  tarpon/src/@types/copilot/attributeBuilder.ts
  tarpon/src/lambdas/console-api-sanctions/app.ts
  tarpon/src/lambdas/public-api-rules-engine/app.ts
  tarpon/src/lambdas/transaction-aggregation/app.ts
  tarpon/src/services/batch-jobs/reverify-transactions-job-runner.ts
  tarpon/src/services/batch-jobs/rule-pre-aggregation-batch-job-runner.ts
  tarpon/src/services/batch-jobs/simulation-beacon-batch-job-runner.ts
  tarpon/src/services/copilot/attributes/alert-attribute-builder.ts
  tarpon/src/services/copilot/attributes/builder.ts
  tarpon/src/services/copilot/attributes/case-attribute-builder.ts
  tarpon/src/services/copilot/attributes/transaction-attribute-builder.ts
  tarpon/src/services/copilot/attributes/transactions-attribute-builder.ts
  tarpon/src/services/copilot/attributes/user-attribute-builder.ts
  tarpon/src/services/metrics/api-usage-metrics-service.ts
  tarpon/src/services/metrics/utils.ts
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/utils.ts
  tarpon/src/services/sanctions/__tests__/index.test.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/providers/utils.ts
  tarpon/src/services/sanctions/repositories/sanctions-hits-repository.ts
  tarpon/src/services/sanctionsHit/index.ts
  tarpon/src/test-utils/rule-test-utils.ts
Labels: backend, frontend

FIX: User rule re-run fix (#7197)
  tarpon/src/services/batch-jobs/user-rule-re-run-batch-job-runner.ts
Labels: backend

Fix alerts sorting on "Alert Age" column (#7220)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/types.ts
  phytoplankton-console/src/pages/case-management/common.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/alerts/repository.ts
Labels: backend, frontend

Check if Any Existing Demo Data Job is running before Triggering Another one (#7184)
  tarpon/src/core/seed/mongo.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/services/batch-jobs/repositories/batch-job-repository.ts
  tarpon/src/services/users/index.ts
Labels: backend

Make Comments API for Cases and Alerts (#7182)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/alerts/repository.ts
  tarpon/src/services/cases/index.ts
  tarpon/src/services/cases/repository.ts
Labels: backend

User Search Filter in User Name (#7187)
  phytoplankton-console/src/pages/transactions/components/UserSearchButton/index.tsx
  phytoplankton-console/src/pages/transactions/components/UserSearchPopup/PopupContent/index.tsx
  phytoplankton-console/src/pages/transactions/components/UserSearchPopup/helpers.ts
  phytoplankton-console/src/pages/users/users-list/index.tsx
  phytoplankton-console/src/pages/users/users-list/users-table.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/users/index.ts
Labels: backend, frontend

Remove V2 APIs and merge APIs (#7153)
  phytoplankton-console/src/components/TransactionIdsSelect/index.tsx
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/AiForensicsTab/helpers.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TransactionsList/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/dashboardutils.tsx
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/RuleInstanceAnalytics.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/DisplayCheckedTransactions/helpers.ts
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/DisplayCheckedTransactions/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  phytoplankton-console/src/pages/transactions/utils.ts
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/index.tsx
  phytoplankton-console/src/pages/users/users-list/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/console-api-transaction/app.ts
  tarpon/src/lambdas/console-api-transaction/services/transaction-service.ts
  tarpon/src/lambdas/console-api-user/app.ts
  tarpon/src/services/rules-engine/repositories/clickhouse-repository.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/users/index.ts
  tarpon/src/services/users/repositories/user-clickhouse-repository.ts
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend, frontend

Make Anthropic As Default LLM and Make Open AI Optional (#7120)
  lib/constants/acronyms.ts
  phytoplankton-console/src/pages/case-management/components/Copilot/CopilotSources.tsx
  phytoplankton-console/src/pages/settings/components/FlagrightAISettings.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/package.json
  tarpon/src/core/dynamodb/dynamodb-stream-consumer-builder.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/batch-jobs/dynamodb-clickhouse-backfill-job-runner.ts
  tarpon/src/services/batch-jobs/files-ai-summary-batch-job-runner.ts
  tarpon/src/services/batch-jobs/fincen-report-status-fetch.ts
  tarpon/src/services/copilot/auto-narrative-service.ts
  tarpon/src/services/copilot/narratives/alerts.ts
  tarpon/src/services/copilot/narratives/case.ts
  tarpon/src/services/copilot/narratives/transactions.ts
  tarpon/src/services/copilot/questions/autocompletion-service.ts
  tarpon/src/services/rules-engine/rule-service.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/utils/llms/anthropic.ts
  tarpon/src/utils/llms/base-service.ts
  tarpon/src/utils/llms/index.ts
  tarpon/src/utils/llms/openai.ts
  tarpon/src/utils/openai.ts
  tarpon/yarn.lock
Labels: backend, frontend

Add name in UI in Contact Details (#7240)
  phytoplankton-console/src/pages/users-item/UserDetails/shared/ContactDetailsCard/index.tsx
Labels: frontend

Fix Tests for LLM (#7243)
  tarpon/src/lambdas/console-api-copilot/app.ts
  tarpon/src/lambdas/console-api-sar/app.ts
  tarpon/src/services/batch-jobs/files-ai-summary-batch-job-runner.ts
  tarpon/src/services/batch-jobs/fincen-report-status-fetch.ts
  tarpon/src/services/copilot/auto-narrative-service.ts
  tarpon/src/services/copilot/questions/__tests__/autocompletion.llm.ts
  tarpon/src/services/copilot/questions/__tests__/autocompletion.test.ts
  tarpon/src/services/copilot/questions/autocompletion-service.ts
  tarpon/src/services/copilot/questions/question-service.ts
  tarpon/src/services/rules-engine/rule-service.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/utils/llms/index.ts
Labels: backend

Audit log collection to DynamoDb+ClickHouse (#6931)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2025.06.10T12.24.39.audit-log-dynamo-clickhouse-backfill.ts
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/core/seed/clickhouse.ts
  tarpon/src/core/seed/dynamodb.ts
  tarpon/src/lambdas/audit-log-consumer/__tests__/app.test.ts
  tarpon/src/lambdas/audit-log-consumer/app.ts
  tarpon/src/lambdas/console-api-audit-log/app.ts
  tarpon/src/services/audit-log/index.ts
  tarpon/src/services/audit-log/repositories/__tests__/auditlog-repository.test.ts
  tarpon/src/services/audit-log/repositories/__tests__/helpers.ts
  tarpon/src/services/audit-log/repositories/auditlog-repository.ts
  tarpon/src/services/audit-log/repositories/clickhouse-repository.ts
  tarpon/src/services/audit-log/repositories/dynamo-repository.ts
  tarpon/src/services/batch-jobs/dynamodb-clickhouse-backfill-job-runner.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/utils/clickhouse/definition.ts
Labels: backend

Flat file custom list upload (#7089)
  phytoplankton-console/src/pages/lists-item/ItemsTable/index.tsx
  phytoplankton-console/src/pages/lists-item/index.module.less
  phytoplankton-console/src/pages/lists/NewListDrawer/NewValueInput/index.tsx
  phytoplankton-console/src/pages/lists/NewListDrawer/index.module.less
  phytoplankton-console/src/pages/lists/NewListDrawer/index.tsx
  phytoplankton-console/src/pages/lists/helpers.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/lambdas/console-api-flat-files/app.ts
  tarpon/src/lambdas/console-api-list-importer/app.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/flat-files-runner-batch-jon.ts
  tarpon/src/services/batch-jobs/flat-files-validation-batch-job-runner.ts
  tarpon/src/services/flat-files/__tests__/index.test.ts
  tarpon/src/services/flat-files/format/__tests__/csv.test.ts
  tarpon/src/services/flat-files/format/csv.ts
  tarpon/src/services/flat-files/format/index.ts
  tarpon/src/services/flat-files/index.ts
  tarpon/src/services/flat-files/runner/custom-list-upload.ts
  tarpon/src/services/flat-files/runner/index.ts
  tarpon/src/services/list/index.ts
  tarpon/src/services/rules-engine/transaction-rules/blacklist-transaction-related-value.ts
Labels: backend, frontend

Metrics collection to ClickHouse (#6924)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2025.05.26T11.38.09.metrics-dynamo-clickhouse-backfill.ts
  tarpon/src/services/batch-jobs/dynamodb-clickhouse-backfill-job-runner.ts
  tarpon/src/services/metrics/__tests__/api-usage-metrics-service.test.ts
  tarpon/src/services/metrics/__tests__/utils.ts
  tarpon/src/services/metrics/api-usage-metrics-service.ts
  tarpon/src/services/metrics/utils.ts
  tarpon/src/utils/clickhouse/definition.ts
Labels: backend

Fix ars score risk level for transactions breakdown analytics (#7072)
  phytoplankton-console/src/pages/dashboard/analysis/components/TransactionTRSChartCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/utils/date-utils.ts
  phytoplankton-console/src/utils/dayjs.ts
  tarpon/src/services/analytics/dashboard-metrics/transaction-stats.ts
  tarpon/src/services/analytics/dashboard-metrics/utils.ts
Labels: backend, frontend

Fix tests llm (#7244)
  tarpon/src/utils/llms/anthropic.ts
  tarpon/src/utils/llms/base-service.ts
  tarpon/src/utils/llms/index.ts
  tarpon/src/utils/llms/openai.ts
Labels: backend

FIX: updated migration (#7248)
  tarpon/scripts/migrations/post-deployment/2025.06.16T19.38.42.sar-audit-correction.ts
Labels: backend

Setup load testing for Transaction Public API (#7206)
  tarpon/.gitignore
  tarpon/.prettierignore
  tarpon/infra/bin/cdk-load-testing.ts
  tarpon/infra/bin/cdktf-tarpon-pipeline.ts
  tarpon/infra/cdk-load-testing-stack.ts
  tarpon/load-testing/Dockerfile
  tarpon/load-testing/docker-entrypoint.sh
  tarpon/load-testing/transactions-load-test.jmx
  tarpon/package.json
  tarpon/scripts/run-load-test.ts
  tarpon/yarn.lock
Labels: backend, infra

Handle Triage Errors Gracefully (#7249)
  tarpon/src/lambdas/cron-job-ten-minute/app.ts
Labels: backend

Fix LLM Tests (#7250)
  tarpon/src/services/copilot/questions/__tests__/autocompletion.llm.ts
  tarpon/src/services/copilot/questions/autocompletion-service.ts
  tarpon/src/utils/llms/base-service.ts
  tarpon/src/utils/llms/index.ts
Labels: backend

Rework LogicBuilder component so that it wouldn't be required to load huge JSON config file (#7017)
  phytoplankton-console/src/components/AppWrapper/Providers/mocks/mockedData.ts
  phytoplankton-console/src/components/library/Checkbox/index.tsx
  phytoplankton-console/src/components/library/Dropdown/story.tsx
  phytoplankton-console/src/components/ui/LogicBuilder/helpers.tsx
  phytoplankton-console/src/components/ui/LogicBuilder/story-fixture-2.json
  phytoplankton-console/src/components/ui/LogicBuilder/story.tsx
  phytoplankton-console/src/components/ui/LogicDisplay/index.tsx
  phytoplankton-console/src/components/ui/RuleLogicDisplay/index.tsx
  phytoplankton-console/src/pages/auditlog/components/RiskFactorAuditLogModal/index.tsx
  phytoplankton-console/src/pages/auditlog/components/RiskFactorAuditLogModal/style.module.less
  phytoplankton-console/src/pages/auditlog/components/RuleAuditLogModal/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/VariableFilters/FiltersLogicBuilder/helpers.ts
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/VariableFilters/FiltersLogicBuilder/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/VariableFilters/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/helpers.ts
  phytoplankton-console/src/pages/rules/index.tsx
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/components/RuleThresholdRecommendation/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/seed/samplers/auditlogs.ts
  tarpon/src/lambdas/console-api-rule/app.ts
  tarpon/src/services/rules-engine/rule-service.ts
Labels: backend, frontend

Add batchInsert logs for CH (#7251)
  tarpon/src/lambdas/request-logger/app.ts
  tarpon/src/utils/__tests__/clickhouse.test.ts
  tarpon/src/utils/clickhouse/utils.ts
Labels: backend

Temp: Fix navbar flikering (#7252)
  phytoplankton-console/src/components/utils/ErrorBoundary/index.tsx
Labels: frontend

Move SuperAdminPanel to separate chunk (#7226)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/index.tsx
Labels: frontend

Fix: Navbar flicker (#7253)
  phytoplankton-console/src/components/utils/ErrorBoundary/index.tsx
Labels: frontend

Apply 1% fuzziness step to all screening rules (#7254)
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
Labels: backend

E2E: update test for create scenario (#7255)
  phytoplankton-console/cypress/e2e/rules/create-scenario.cy.ts
Labels: frontend

DEMO: seed sanction sources based on feature flag (#7231)
  tarpon/src/core/seed/dynamodb.ts
  tarpon/src/core/seed/index.ts
  tarpon/src/core/seed/raw-data/sanctions-search.ts
Labels: backend

Fix default screening profile and its filtering (#7257)
  tarpon/scripts/migrations/pre-deployment/2025.06.24T10.56.52.update-default-screening-profile.ts
  tarpon/src/services/sanctions/providers/utils.ts
  tarpon/src/services/screening-profile/index.ts
Labels: backend

condition to check for null, 'undefined' (#7256)
  tarpon/src/lambdas/request-logger/app.ts
Labels: backend

Add Traceable in Few Classes (#7258)
  tarpon/src/services/analytics/dashboard-metrics/user-stats.ts
  tarpon/src/services/currency/index.ts
  tarpon/src/services/sanctions/repositories/sanction-source-repository.ts
Labels: backend

Add retries for sanctions search history (#7242)
  tarpon/src/services/cases/case-creation-service.ts
Labels: backend

Fix short names consideration with 0 fuzziness (#7259)
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
Labels: backend

Console optimisation (#7196)
  phytoplankton-console/build/build-tasks.js
  phytoplankton-console/build/esbuild-plugin-alias.js
  phytoplankton-console/package.json
  phytoplankton-console/src/app.tsx
  phytoplankton-console/src/components/markdown/MarkdownEditor/index.tsx
  phytoplankton-console/src/components/markdown/MarkdownViewer/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-algorithms/RiskAlgorithm/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/CRMResponse/index.tsx
  phytoplankton-console/yarn.lock
  scripts/analyze-bundle.js
Labels: frontend

E2E; fix flaky test for pagination (#7262)
  phytoplankton-console/src/components/library/Pagination/index.tsx
Labels: frontend
