Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, pipeline

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

pipeline:
  - bin/**

Fix "Alert age sorting no longer works" (#7787)
  tarpon/src/services/alerts/repository.ts
Labels: backend

Restore unique tags for GoCardless (#7874)
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend

Fix incorrect staus button for hits (#7900)
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/helpers.tsx
Labels: frontend

Optimize ClickHouse tables sync using checksums (#7804)
  tarpon/scripts/migrations/always-run/sync-clickhouse-v2.ts
  tarpon/scripts/migrations/migrator.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/services/clickhouse-checksum/repository.ts
  tarpon/src/services/clickhouse-checksum/service.ts
  tarpon/src/utils/clickhouse-checksum.ts
Labels: backend

fix: made selectionGroup have uniform heights (#7756)
  phytoplankton-console/src/components/library/SelectionGroup/style.module.less
Labels: frontend

Show user type in scenario builder- EntityVariables (#7880)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/EntityVariableForm.tsx
Labels: frontend

Fix failing AI file summarization job (#7903)
  tarpon/src/services/batch-jobs/files-ai-summary-batch-job-runner.ts
Labels: backend

Refactor PDF download functionality and improve analytics download (#7909)
  phytoplankton-console/src/components/DownloadAsPdf/DownloadAsPDF.tsx
  phytoplankton-console/src/components/library/Widget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/widgets/DistributionChartWidget/index.tsx
Labels: frontend

Ignore Bundling Local handlers (#7908)
  tarpon/scripts/esbuild.js
  tarpon/src/@types/dynamo/index.ts
  tarpon/src/core/local-handlers/action-processing.ts
  tarpon/src/core/local-handlers/async-rules.ts
  tarpon/src/core/local-handlers/auditlog.ts
  tarpon/src/core/local-handlers/batch-job.ts
  tarpon/src/core/local-handlers/dynamo-db-trigger.ts
  tarpon/src/core/local-handlers/request-logger.ts
  tarpon/src/core/local-handlers/tarpon.ts
  tarpon/src/core/local-handlers/transaction-aggregation.ts
  tarpon/src/core/local-handlers/webhook-delivery.ts
  tarpon/src/core/middlewares/request-logger.ts
  tarpon/src/lambdas/dynamo-db-trigger-consumer/app.ts
  tarpon/src/lambdas/dynamo-db-trigger-consumer/index.ts
  tarpon/src/services/alerts/dynamo-repository.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/audit-log/index.ts
  tarpon/src/services/batch-jobs/batch-job.ts
  tarpon/src/services/batch-jobs/repositories/dynamo-repository.ts
  tarpon/src/services/case-alerts-common/utils.ts
  tarpon/src/services/cases/dynamo-repository.ts
  tarpon/src/services/cases/utils/index.ts
  tarpon/src/services/nango/repository.ts
  tarpon/src/services/notifications/dynamo-repository.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
  tarpon/src/services/rules-engine/repositories/dynamodb-transaction-repository.ts
  tarpon/src/services/rules-engine/repositories/transaction-event-repository.ts
  tarpon/src/services/rules-engine/repositories/user-event-repository.ts
  tarpon/src/services/rules-engine/utils.ts
  tarpon/src/services/sar/generators/AU/SMR/index.ts
  tarpon/src/services/sar/generators/AU/SMR/schema.ts
  tarpon/src/services/sar/generators/AU/SMR/scripts/xml-to-json.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/services/webhook/repositories/dynamo-webhook-repository.ts
  tarpon/src/services/webhook/utils.ts
  tarpon/src/utils/dynamodb.ts
  tarpon/src/utils/llms/index.ts
  tarpon/src/utils/local-dynamodb-change-handler.ts
  tarpon/src/utils/openai.ts
  tarpon/test-resources/integration-tests/test-utils/apiBasePath.ts
Labels: backend

OPTIMIZATION: reduce bundle size (#7910)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/logic-evaluator/variables/sar-details.ts
  tarpon/src/services/sar/service.ts
  tarpon/src/services/sar/utils/helper.ts
Labels: backend

Fix column cell component to handle scroll properly (#7913)
  phytoplankton-console/src/components/library/Table/internal/index.module.less
Labels: frontend

Fix Import Issue (#7911)
  tarpon/src/services/alerts/dynamo-repository.ts
  tarpon/src/services/batch-jobs/batch-job.ts
  tarpon/src/services/batch-jobs/repositories/dynamo-repository.ts
  tarpon/src/services/cases/utils/index.ts
  tarpon/src/services/nango/repository.ts
  tarpon/src/services/notifications/dynamo-repository.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
  tarpon/src/services/rules-engine/utils.ts
  tarpon/src/services/webhook/utils.ts
  tarpon/src/utils/openai.ts
Labels: backend

Add exception handling for params serialisation (#7914)
  phytoplankton-console/src/utils/routing.tsx
Labels: frontend

Fix user name serach for lists (#7907)
  phytoplankton-console/src/pages/lists/NewListDrawer/NewValueInput/index.tsx
  phytoplankton-console/src/pages/transactions/components/UserSearchPopup/index.tsx
Labels: frontend

Remove __BOTH variable for OriginFundsInfo (#7875)
  tarpon/src/services/logic-evaluator/variables/__tests__/resources/entity-variables.json
  tarpon/src/services/logic-evaluator/variables/index.ts
Labels: backend

FIX: update logic for team management action button to be disabled (#7883)
  phytoplankton-console/src/pages/accounts/Team/index.tsx
  phytoplankton-console/src/pages/accounts/components/DeleteUser.tsx
  phytoplankton-console/src/pages/accounts/components/ResetUserMfa.tsx
Labels: frontend

FEAT: csv file for all errored FFIP row (#7882)
  lib/utils/flatFile.ts
  lib/utils/index.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-pulse/app.ts
  tarpon/src/lambdas/console-api-rule/app.ts
  tarpon/src/lambdas/console-api-transaction/services/transaction-service.ts
  tarpon/src/services/aws/s3-service.ts
  tarpon/src/services/flat-files/__tests__/index.test.ts
  tarpon/src/services/flat-files/format/index.ts
  tarpon/src/services/flat-files/index.ts
  tarpon/src/services/list/index.ts
Labels: backend

FIX: made direct local change handler imports to be a lazy one (#7917)
  rule.yaml
  tarpon/scripts/esbuild.js
  tarpon/src/core/middlewares/request-logger.ts
  tarpon/src/utils/dynamodb.ts
  tarpon/src/utils/llms/index.ts
Labels: backend

Fix Chain Issue (#7916)
  tarpon/src/utils/clickhouse/utils.ts
Labels: backend

Implement skeleton for an import page
  phytoplankton-console/src/components/PageWrapper/styles.module.less
  phytoplankton-console/src/components/library/Stepper/index.tsx
  phytoplankton-console/src/pages/transactions-import/index.module.less
  phytoplankton-console/src/pages/transactions-import/index.tsx
  phytoplankton-console/src/pages/transactions/index.tsx
  phytoplankton-console/src/services/routing/index.ts
Labels: frontend

Implement second step layout
  phytoplankton-console/src/pages/transactions-import/DataMappingStep/index.module.less
  phytoplankton-console/src/pages/transactions-import/DataMappingStep/index.tsx
  phytoplankton-console/src/pages/transactions-import/FileUploadStep/index.tsx
  phytoplankton-console/src/pages/transactions-import/index.tsx
Labels: frontend

Implement first step layout
  phytoplankton-console/src/components/PageWrapper/index.tsx
  phytoplankton-console/src/components/PageWrapper/styles.module.less
  phytoplankton-console/src/components/ui/FilesDraggerInput/index.module.less
  phytoplankton-console/src/pages/transactions-import/FileUploadStep/index.module.less
  phytoplankton-console/src/pages/transactions-import/FileUploadStep/index.tsx
  phytoplankton-console/src/pages/transactions-import/index.tsx
  phytoplankton-console/src/pages/users-item/ManualCaseCreationModal/index.tsx
Labels: frontend

Implement background fetching in useQuery
  phytoplankton-console/src/utils/queries/hooks.ts
Labels: frontend

Improve FilesDraggerInput API
  phytoplankton-console/src/components/ui/FilesDraggerInput/index.tsx
Labels: frontend

Improve Stepper component, make keys typed, improve disabled step
  phytoplankton-console/src/components/library/Stepper/index.tsx
  phytoplankton-console/src/components/library/Stepper/style.module.less
Labels: frontend

Implement progress bar component
  phytoplankton-console/src/components/ui/ProgressBar/index.module.less
  phytoplankton-console/src/components/ui/ProgressBar/index.tsx
  phytoplankton-console/src/components/ui/ProgressBar/story.tsx
  phytoplankton-console/src/pages/storybook/storybook.tsx
Labels: frontend

Small UI improvements
  phytoplankton-console/src/components/library/Message/index.tsx
  phytoplankton-console/src/components/library/SelectionGroup/index.tsx
  phytoplankton-console/src/components/ui/colors.less
Labels: frontend

Change API logic not to throw error if job not found, implement basic flat-file import for transactions
  phytoplankton-console/src/pages/lists-item/index.tsx
  phytoplankton-console/src/pages/transactions-import/DataValidationStep/ValidationStats/index.module.less
  phytoplankton-console/src/pages/transactions-import/DataValidationStep/ValidationStats/index.tsx
  phytoplankton-console/src/pages/transactions-import/DataValidationStep/index.module.less
  phytoplankton-console/src/pages/transactions-import/DataValidationStep/index.tsx
  phytoplankton-console/src/pages/transactions-import/FileUploadStep/index.tsx
  phytoplankton-console/src/pages/transactions-import/helpers.tsx
  phytoplankton-console/src/pages/transactions-import/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/flat-files/index.ts
Labels: backend, frontend

Pass region to dashboard (#7920)
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

Fix XLSX JS Style (#7922)
  tarpon/src/services/cases/utils/xlsx-generator.ts
Labels: backend

Fix single-mode FilesDraggerInput, add support for undefined mode in ProgressBar
  phytoplankton-console/src/components/ui/FilesDraggerInput/index.tsx
  phytoplankton-console/src/components/ui/ProgressBar/index.module.less
  phytoplankton-console/src/components/ui/ProgressBar/index.tsx
  phytoplankton-console/src/components/ui/ProgressBar/story.tsx
Labels: frontend

Add erroredRecordsFileUrl instead of erroredRecrodS3Key, generate URL and send it via API; always show progress bar if import is in progress
  phytoplankton-console/src/pages/transactions-import/DataValidationStep/ValidationStats/index.tsx
  phytoplankton-console/src/pages/transactions-import/DataValidationStep/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/flat-files/index.ts
Labels: backend, frontend

Select component arrow controls not working (#7873)
  phytoplankton-console/src/components/library/Select/index.tsx
  phytoplankton-console/src/components/library/Select/style.module.less
Labels: frontend

Refactor flat file
  lib/utils/flatFile.ts
  tarpon/src/@types/flat-files/index.d.ts
  tarpon/src/services/batch-jobs/flat-files-runner-batch-job.ts
  tarpon/src/services/flat-files/baseRunner/index.ts
  tarpon/src/services/flat-files/format/csv.ts
  tarpon/src/services/flat-files/format/index.ts
  tarpon/src/services/flat-files/format/jsonl.ts
  tarpon/src/services/flat-files/index.ts
  tarpon/src/services/flat-files/utils/index.ts
Labels: backend

[Snyk] Upgrade @react-email/components from 0.5.0 to 0.5.1 (#7928)
  email-templates/package-lock.json
  email-templates/package.json
Labels: none

FIX : default risk factor for cra score modal (#7923)
  phytoplankton-console/src/components/ui/DynamicRiskHistoryDisplay/DynamicRiskHistoryModal/ExpandedRowRenderer/index.tsx
Labels: frontend

Fix failing canaries (#7925)
  tarpon/src/canaries/public-api-canary-tests/index.ts
Labels: backend

Payment details new fields (#7854)
  phytoplankton-console/cypress/e2e/risk-factors/create-and-delete-risk-factor.cy.ts
  phytoplankton-console/cypress/e2e/rules/create-scenario.cy.ts
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableSummary/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/core/seed/data/transactions.ts
  tarpon/src/lambdas/transaction-aggregation/app.ts
  tarpon/src/services/batch-jobs/pnb-backfill-entities-fargate-batch-job.ts
  tarpon/src/services/batch-jobs/rule-pre-aggregation-batch-job-runner.ts
  tarpon/src/services/cases/index.ts
  tarpon/src/services/logic-evaluator/engine/__tests__/index.test.ts
  tarpon/src/services/logic-evaluator/engine/index.ts
  tarpon/src/services/logic-evaluator/variables/__tests__/resources/entity-variables.json
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/repositories/dynamodb-transaction-repository.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/rules-engine/repositories/transaction-repository-interface.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/transaction-filters/transaction-tags.ts
  tarpon/src/services/rules-engine/transaction-rules/payment-details-screening-base.ts
  tarpon/src/services/rules-engine/transaction-rules/payment-method-name-levensthein-distance.ts
  tarpon/src/services/rules-engine/utils/transaction-rule-utils.ts
  tarpon/src/utils/__tests__/helpers.test.ts
  tarpon/src/utils/helpers.ts
  tarpon/src/utils/payment-details.ts
Labels: backend, frontend

Add await to not update created at field for user (#7915)
  tarpon/scripts/migrations/post-deployment/2025.09.12T08.29.28.update-createdat-for-users.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend

Fix Date and Closing Reason Possibly Being Empty (#7906)
  tarpon/src/services/copilot/questions/definitions/alert-history.ts
Labels: backend
