Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, raptor

GET /console/transactions/uniques times out (#2514)
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
Labels: backend

Reduce Number of Transactions (#2517)
  tarpon/infra/cdk-utils/cdk-lambda-utils.ts
Labels: backend

Set default fuzziness to 0.5 for sanctions search (#2513)
  phytoplankton-console/src/components/SanctionsTable/index.tsx
  phytoplankton-console/src/components/library/QuickFilter/QuickFilterBase/index.tsx
  phytoplankton-console/src/components/library/QuickFilter/QuickFilterBase/style.module.less
  phytoplankton-console/src/components/library/Table/Header/Filters/AutoFilter/index.tsx
  phytoplankton-console/src/components/library/Table/types.tsx
  tarpon/lib/openapi/public-sanctions/openapi-public-sanctions-original.yaml
  tarpon/src/services/sanctions/index.ts
Labels: backend, frontend

Added user status dist chart for consumer and business users (#2480)
  phytoplankton-console/src/pages/dashboard/analysis/components/RuleActionSplitCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/UserStatusDistributionCard/index.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/UserStatusDistributionCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/dashboardutils.tsx
  phytoplankton-console/src/pages/dashboard/analysis/index.tsx
  phytoplankton-console/src/utils/arrayToCsv.ts
Labels: frontend

Dashboard transaction types chart doesn’t works from backend (#2499)
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Transactions/DistributionByTransactionTypeWidget/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/consts.tsx
  phytoplankton-console/src/utils/transactionType.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2023.10.17T06.25.30.refresh-transaction-stats.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/transaction-stats.ts
Labels: backend, frontend

Acceptance criteria checklist (#2516)
  phytoplankton-console/src/pages/settings/components/ChecklistTemplatesSettings.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/alerts/index.ts
Labels: backend, frontend

Don't throw error if x-api-key header is missing (#2520)
  tarpon/src/lambdas/api-key-authorizer/app.ts
Labels: backend

Fix long lambda initialisation time (#2522)
  tarpon/src/core/seed/data/address.ts
  tarpon/src/core/seed/samplers/address.ts
  tarpon/src/core/seed/samplers/transaction.ts
  tarpon/src/services/linker/index.ts
Labels: backend

Simulation Beacon fixes (#2523)
  tarpon/src/lambdas/batch-job/simulation-beacon-batch-job-runner.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
Labels: backend

Update User::riskLevel as the latest risk level (#2519)
  tarpon/src/lambdas/hammerhead-change-mongodb-consumer/app.ts
  tarpon/src/lambdas/public-api-rules-engine/__tests__/app.test.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/risk-scoring/risk-scoring-service.ts
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend

Don't show 'Rule hit' percentage (#2524)
  phytoplankton-console/src/pages/dashboard/analysis/components/HitsPerUserCard/index.tsx
Labels: frontend

Added time granualrity in R-53,R-54,R-113 (#2508)
  tarpon/scripts/migrations/post-deployment/2023.10.19T04.42.15.added-time-granularity.ts
  tarpon/scripts/migrations/pre-deployment/2023.10.19T04.41.51.added-time-granularity.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/library.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/same-user-using-too-many-cards.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/sender-location-changes-frequency.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/too-many-users-for-same-card.test.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/transaction-rules/same-user-using-too-many-cards.ts
  tarpon/src/services/rules-engine/transaction-rules/sender-location-changes-frequency.ts
  tarpon/src/services/rules-engine/transaction-rules/too-many-users-for-same-card.ts
Labels: backend

added copying from select input field (#2405)
  phytoplankton-console/src/components/library/Select/index.tsx
  phytoplankton-console/src/components/library/Select/style.module.less
Labels: frontend

Displaying IP Address in transaction page (#2507)
  phytoplankton-console/src/pages/transactions-item/SenderReceiverDetails/index.tsx
  phytoplankton-console/src/pages/transactions-item/UserDetails/index.tsx
Labels: frontend

updated the Top rules hit Users count card (#2486)
  phytoplankton-console/src/components/library/SegmentedControl/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/HitsPerUserCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TopUsersHitCard.tsx
  phytoplankton-console/src/utils/arrayToCsv.ts
Labels: frontend

Implemented distribution by status for alerts and cases (#2506)
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseManagement/DistributionByStatus/index.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseManagement/DistributionByStatus/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/style.module.less
  phytoplankton-console/src/pages/dashboard/analysis/utils/date-utils.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/console-api-dashboard/app.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/case-stats.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-stats-repository.ts
Labels: backend, frontend

made cursor active in filter (#2481)
  phytoplankton-console/src/components/library/QuickFilter/QuickFilterBase/index.tsx
  phytoplankton-console/src/components/library/QuickFilter/subtypes/InputQuickFilter/index.tsx
  phytoplankton-console/src/components/library/Select/index.tsx
  phytoplankton-console/src/components/library/Table/Header/Filters/AutoFilter/index.tsx
  phytoplankton-console/src/components/library/TextInput/index.tsx
  phytoplankton-console/src/pages/transactions/components/UserSearchPopup/PopupContent/index.tsx
Labels: frontend

Fix API integration tests (#2529)
  tarpon/test-resources/public-api-transactions-tests.postman_collection.json
Labels: backend

Fix API integration tests
  tarpon/test-resources/public-api-transactions-tests.postman_collection.json
Labels: backend

Fix downloaded CSVs for all widgets on analytics (#2532)
  phytoplankton-console/src/components/library/Widget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseManagement/CaseClosingReasonCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseManagement/DistributionByAlertPriority/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/HitsPerUserCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RuleActionSplitCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RulePrioritySplitCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RulesHitCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TopUsersHitCard.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Transactions/DistributionByTransactionTypeWidget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Transactions/PaymentMethodDistributionWidget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/UserStatusDistributionCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/utils/export-data-build-util.ts
Labels: frontend

Demo adhoc updates for AI Video (#2538)
  tarpon/src/core/seed/data/rules.ts
Labels: backend

Implement support for payment-method cases (#2459)
  phytoplankton-console/src/components/ui/Address/index.module.less
  phytoplankton-console/src/components/ui/Address/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/PaymentIdentifierDetailsCard/index.module.less
  phytoplankton-console/src/pages/case-management-item/CaseDetails/PaymentIdentifierDetailsCard/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/pages/case-management-item/components/Header/SubHeader/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Addresses/index.module.less
  phytoplankton-console/src/pages/users-item/UserDetails/Addresses/index.tsx
  phytoplankton-console/src/utils/api/users.ts
  phytoplankton-console/src/utils/payments.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/public/openapi-public-original.yaml
Labels: backend, frontend

Add 'npm run migration:sync' script (#2540)
  tarpon/README.md
  tarpon/package.json
  tarpon/scripts/migrations/migrator.ts
Labels: backend

Clean up duplicated auxiliary transactions (#2531)
  tarpon/scripts/migrations/always-run/sync-mongodb-indexes.ts
  tarpon/scripts/migrations/migrator.ts
  tarpon/scripts/migrations/post-deployment/2023.10.20T13.07.22.remove-duplicated-auxiliary-transactions.ts
  tarpon/scripts/nuke-tenant-data.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/services/rules-engine/repositories/dynamodb-transaction-repository.ts
Labels: backend

QA text needs to be inside the toggle (#2525)
  package-lock.json
  phytoplankton-console/src/components/library/Toggle/index.tsx
  phytoplankton-console/src/components/library/Toggle/story.tsx
  phytoplankton-console/src/pages/case-management/index.module.less
  phytoplankton-console/src/pages/case-management/index.tsx
Labels: frontend

Fr 3550 fix rule name in r 123 (#2530)
  phytoplankton-console/src/components/library/CursorPagination/index.tsx
  tarpon/src/services/rules-engine/transaction-rules/library.ts
Labels: backend, frontend

e2e test for tenant switching on superadmin (#2539)
  phytoplankton-console/cypress/e2e/basic/superadmin-switch-tenant.cy.ts
  phytoplankton-console/src/components/SuperAdminPanel/index.tsx
Labels: frontend

Implement KPI’s for sanctions screening proof report. (#2518)
  phytoplankton-console/src/pages/sanctions/Activity/KpiCard/index.module.less
  phytoplankton-console/src/pages/sanctions/Activity/KpiCard/index.tsx
  phytoplankton-console/src/pages/sanctions/Activity/index.module.less
  phytoplankton-console/src/pages/sanctions/Activity/index.tsx
  phytoplankton-console/src/pages/sanctions/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/core/seed/samplers/users.ts
  tarpon/src/lambdas/console-api-sanctions/app.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/repositories/sanctions-activity-repository.ts
Labels: backend, frontend

e2e test for Adding cases comment (#2543)
  phytoplankton-console/cypress/e2e/cases/cases-comment-test.cy.ts
  phytoplankton-console/src/components/ActivityCard/LogItem/index.tsx
  phytoplankton-console/src/components/CommentsCard/Comment/index.tsx
Labels: frontend

Migrate demo tenant as well (#2551)
  tarpon/scripts/migrations/utils/tenant.ts
  tarpon/src/core/middlewares/local-dev.ts
  tarpon/src/lambdas/api-key-generator/app.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/lambdas/jwt-authorizer/app.ts
  tarpon/src/utils/tenant.ts
Labels: backend

Removed Machine Learning Rules (#2553)
  tarpon/src/services/rules-engine/transaction-rules/index.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/transaction-rules/machine-learning-generic-model.ts
Labels: backend

Add DynamoDB client to cross-tenant-query (#2556)
  tarpon/scripts/cross-tenant-query.ts
Labels: backend

Added Checklist Fix of Done as Boolean (#2555)
  tarpon/scripts/migrations/post-deployment/2023.10.25T12.37.45.fix-done-in-rule-checklist-in-alerts.ts
Labels: backend

Upgrade auth0 from v2 to v3 (#2546)
  tarpon/package-lock.json
  tarpon/package.json
  tarpon/scripts/esbuild.js
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/roles/index.ts
  tarpon/src/utils/auth0-utils.ts
Labels: backend

Deactivated Users Workflow (#2505)
  phytoplankton-console/src/components/AccountTag/index.tsx
  phytoplankton-console/src/components/CommentsCard/Comment/index.tsx
  phytoplankton-console/src/pages/accounts/Team/index.module.less
  phytoplankton-console/src/pages/accounts/Team/index.tsx
  phytoplankton-console/src/pages/accounts/components/AccountForm.tsx
  phytoplankton-console/src/pages/accounts/components/utils.ts
  phytoplankton-console/src/utils/account.ts
  phytoplankton-console/src/utils/user-utils.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-account/app.ts
  tarpon/src/lambdas/console-api-case/services/__tests__/case-service.test.ts
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/rules-engine/repositories/alerts-repository.ts
  tarpon/src/services/rules-engine/repositories/case-repository.ts
Labels: backend, frontend

Transaction count display isn’t correct (#2550)
  phytoplankton-console/src/components/library/CursorPagination/index.tsx
Labels: frontend

Manual Risk Levels Tag Edge Case (#2561)
  phytoplankton-console/src/utils/risk-levels.tsx
Labels: frontend

increased the character limit from 5000 to 10000 (#2562)
  phytoplankton-console/src/components/CommentEditor/index.tsx
  phytoplankton-console/src/utils/account.ts
Labels: frontend

Risk level doesn’t show on user details table (#2567)
  tarpon/src/services/copilot/questions/definitions/user-details.ts
Labels: backend

Fix R-124 (TransactionsPatternPercentageBaseRule) (#2571)
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-round-value-percentage.test.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-pattern-percentage-base.ts
Labels: backend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - infra/**

frontend:
  - phytoplankton-console/**

raptor:
  - raptor/**
