Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, databricks, raptor, pipeline

Average TRS Score For User (#3909)
  phytoplankton-console/src/components/ui/RiskScoreDisplay/index.tsx
  phytoplankton-console/src/components/ui/icons/group-user.react.svg
  phytoplankton-console/src/pages/case-management-item/components/Header/SubHeader/index.tsx
  phytoplankton-console/src/pages/users-item/Header/SubHeader/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/KycRiskDisplay/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserTrsRiskDisplay.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/core/seed/mongo.ts
  tarpon/src/lambdas/console-api-pulse/app.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
  tarpon/src/services/risk/index.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend, frontend

QA Improvement: Ensure Consistency in QA Filters (#3836)
  phytoplankton-console/src/pages/case-management/QA/Dropdown/index.tsx
  phytoplankton-console/src/pages/case-management/common.ts
  phytoplankton-console/src/pages/users-item/ManualCaseCreationModal/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/seed/samplers/cases.ts
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/alerts/repository.ts
  tarpon/src/services/cases/repository.ts
Labels: backend, frontend

Remove query assertions (#3948)
  phytoplankton-console/cypress/e2e/ai-forensics/ai-forensics-test.cy.ts
Labels: frontend

Fix data transformation pickle (#3951)
  raptor/src/components/data_ingestion.py
  raptor/src/components/data_transformation.py
Labels: raptor

Add wait in Escalate (#3949)
  phytoplankton-console/cypress/e2e/cases/case-details-escalate.cy.ts
Labels: frontend

Modal Fixes for Cypress (#3952)
  phytoplankton-console/cypress/e2e/cases/case-creation-test.cy.ts
  phytoplankton-console/cypress/e2e/rules/create-and-delete-rule.cy.ts
  phytoplankton-console/cypress/e2e/rules/create-scenario.cy.ts
  phytoplankton-console/cypress/e2e/rules/crud-rule-instance-page.cy.ts
Labels: frontend

Fix Case Id Test (#3953)
  phytoplankton-console/cypress/e2e/cases/cases-filter-test.cy.ts
Labels: frontend

Filter out invalid values before persisting v8 vars (#3954)
  tarpon/src/core/middlewares/http-error-handler.ts
  tarpon/src/services/rules-engine/v8-engine/__tests__/utils.test.ts
  tarpon/src/services/rules-engine/v8-engine/utils.ts
Labels: backend

Added User Details in PostHog (#3955)
  phytoplankton-console/src/components/AppWrapper/Providers/PostHogProvider.tsx
  phytoplankton-console/src/components/library/Button/index.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeButton.tsx
Labels: frontend

Show local time for dashboard time labels (#3957)
  phytoplankton-console/src/pages/dashboard/analysis/utils/date-utils.ts
Labels: frontend

Post hog Updates for Ontology and Transaction Insights (#3956)
  phytoplankton-console/src/components/AppWrapper/Providers/PostHogProvider.tsx
  phytoplankton-console/src/components/library/Tabs/index.tsx
  phytoplankton-console/src/components/ui/PageTabs/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/pages/users-item/index.tsx
  phytoplankton-console/src/utils/postHog.ts
Labels: frontend

Fix QA Passed when no checklist (#3960)
  tarpon/src/services/alerts/index.ts
Labels: backend

Fix Simulation Time Filter (#3961)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/index.tsx
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/src/services/batch-jobs/__tests__/simulation-beacon-batch-job-runner.test.ts
  tarpon/src/services/batch-jobs/simulation-beacon-batch-job-runner.ts
  tarpon/src/services/cases/repository.ts
Labels: backend, infra, frontend

Fix Assignments Issue in Management API (#3962)
  tarpon/src/services/cases/cases-alerts-transformer.ts
  tarpon/src/services/cases/external-case-management-service.ts
Labels: backend

Fix PostHog Unique user id (#3964)
  phytoplankton-console/src/components/AppWrapper/Providers/PostHogProvider.tsx
Labels: frontend

Increase AI Forencics Timeout (#3965)
  phytoplankton-console/cypress/e2e/ai-forensics/ai-forensics-test.cy.ts
Labels: frontend

Revert "Implement: Close an alert if all transactions are approved" (#3969)
  tarpon/src/lambdas/console-api-transaction/app.ts
  tarpon/src/services/alerts/__tests__/index.test.ts
  tarpon/src/services/alerts/index.ts
Labels: backend

Fix Disabled in Superadmin (#3971)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
Labels: frontend

Try Fixing Flaky Advanced options test (#3963)
  tarpon/src/services/users/__tests__/advanced-rule-options.test.ts
  tarpon/src/services/users/index.ts
Labels: backend

Fix Buttons not appearing for Edit and Delete (#3972)
  phytoplankton-console/src/pages/accounts/Team/index.tsx
Labels: frontend

Make a Public Management API for Uploads (#3794)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/constants.ts
  tarpon/lib/lambdas.ts
  tarpon/lib/openapi/openapi-public-management-augmentor.ts
  tarpon/lib/openapi/public-management/openapi-public-management-original.yaml
  tarpon/package.json
  tarpon/src/lambdas/api-key-authorizer/app.ts
  tarpon/src/lambdas/public-management-api-file-upload/app.ts
  tarpon/yarn.lock
Labels: backend, infra

Disable databricks in me-1 (#3973)
  lib/config/config-prod-me-1.ts
Labels: none

Fix Posthog Keys (#3974)
  phytoplankton-console/config/config.dev-user.json
  phytoplankton-console/config/config.local.json
  phytoplankton-console/config/config.prod.json
Labels: frontend

Make mcc and description visibile on business user profile (#3950)
  phytoplankton-console/src/pages/users-item/UserDetails/BusinessUserDetails/UserDetails/UsersInfoCard/index.tsx
Labels: frontend

[Snyk] Upgrade aws-cdk-lib from 2.139.0 to 2.139.1 (#3967)
  databricks/infra/package-lock.json
  databricks/infra/package.json
Labels: databricks

[Snyk] Upgrade react-email from 2.1.1 to 2.1.2 (#3968)
  email-templates/package-lock.json
  email-templates/package.json
Labels: none

#FR-4905: Fix case status modal unexpectedly closed (#3958)
  phytoplankton-console/cypress/e2e/cases/case-creation-test.cy.ts
  phytoplankton-console/cypress/e2e/cases/case-details-escalate.cy.ts
  phytoplankton-console/cypress/e2e/rules/create-and-delete-rule.cy.ts
  phytoplankton-console/cypress/support/commands.ts
  phytoplankton-console/cypress/support/index.ts
  phytoplankton-console/src/components/library/Spinner/index.tsx
  phytoplankton-console/src/components/library/Table/index.module.less
  phytoplankton-console/src/components/library/Table/index.tsx
  phytoplankton-console/src/pages/case-management-item/components/Header/StatusChangeMenu/index.tsx
  phytoplankton-console/src/pages/case-management-item/components/Header/index.tsx
  phytoplankton-console/src/pages/case-management-item/index.tsx
  phytoplankton-console/src/pages/rules/my-rules/index.tsx
  phytoplankton-console/src/utils/cypress.ts
Labels: frontend

Disable kyc and user status lock in settings if not Admin (#3970)
  phytoplankton-console/src/pages/settings/components/KYCUserStatusSettings/index.tsx
Labels: frontend

Optimize posthog events (#3978)
  phytoplankton-console/src/components/AppWrapper/Providers/PostHogProvider.tsx
  phytoplankton-console/src/utils/user-utils.tsx
Labels: frontend

Publish API Usage Metrics to PostHog (#3979)
  lib/config/config-dev.ts
  lib/config/config-prod-asia-1.ts
  lib/config/config-prod-asia-2.ts
  lib/config/config-prod-au-1.ts
  lib/config/config-prod-eu-1.ts
  lib/config/config-prod-eu-2.ts
  lib/config/config-prod-me-1.ts
  lib/config/config-prod-us-1.ts
  lib/config/config-sandbox.ts
  lib/config/config.ts
  tarpon/package.json
  tarpon/src/services/metrics/api-usage-metrics-service.ts
  tarpon/yarn.lock
Labels: backend

Fix optout capturing (#3980)
  phytoplankton-console/src/components/AppWrapper/Providers/PostHogProvider.tsx
Labels: frontend

Support running e2e tests against a QA env (#3977)
  phytoplankton-console/cypress.config.ts
Labels: frontend

Fix Post Hog Usage Metrics (#3983)
  tarpon/src/services/metrics/api-usage-metrics-service.ts
Labels: backend

Cypress: video recording, s3 artifacts, large compute type (#3984)
  bin/cdk-orca-pipeline-stack.ts
  bin/constants/artifcats.ts
  bin/utils/e2e_test_stage.ts
  bin/utils/post_deploy_tarpon.ts
  bin/utils/tarpon-deploy-stage.ts
  phytoplankton-console/.gitignore
  phytoplankton-console/cypress.config.ts
Labels: frontend, pipeline

Fix e2e error
  phytoplankton-console/cypress.config.ts
  phytoplankton-console/cypress/e2e/alerts/alert-comment-from-table.cy.ts
Labels: frontend

Revert e2e compute type back to MEDIUM
  bin/utils/e2e_test_stage.ts
Labels: pipeline

Improve e2e tests
  phytoplankton-console/cypress/support/commands.ts
Labels: frontend

Fix confirmation modal closed after rule logic config prefetch complete (#3985)
  phytoplankton-console/src/pages/rules/index.tsx
Labels: frontend

Update schema of merchantDetails country (#3990)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/core/seed/samplers/transaction.ts
  tarpon/src/services/sar/generators/US/SAR/__tests__/prepopulating.test.ts
Labels: backend

Upgrade octokit from 3.2.0 to 3.2.1
  package.json
  tarpon/package.json
  tarpon/yarn.lock
  yarn.lock
Labels: backend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

databricks:
  - databricks/**

raptor:
  - raptor/**

pipeline:
  - bin/**
