Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, databricks, pipeline

Create users and metastore together (#3191)
  databricks/infra/main.ts
Labels: databricks

Fix yarn (#3192)
  .github/workflows/deploy_orca_pipeline.yaml
  .github/workflows/deploy_qa.yml
  .github/workflows/destroy_tarpon_qa.yml
  .github/workflows/postmerge_phyto.yml
  .github/workflows/postmerge_tarpon.yml
  .github/workflows/publish_schema.yml
  .github/workflows/test_infra.yml
  .github/workflows/test_phyto.yml
  .github/workflows/test_tarpon.yml
  bin/utils/databricks-deploy.ts
  bin/utils/phytoplankton-console-deploy.ts
  bin/utils/post_deploy_tarpon.ts
  bin/utils/tarpon-build-stage.ts
  bin/utils/tarpon-deploy-stage.ts
Labels: pipeline

Add onChange prop to CrudEntitiesTable (#3190)
  phytoplankton-console/src/components/library/CrudEntitiesTable/index.tsx
  phytoplankton-console/src/components/library/DrawerStepperJsonSchemaForm/index.tsx
Labels: frontend

Fix failing to create new rule (#3194)
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/index.tsx
Labels: frontend

Fix pipeline file
  databricks/notebooks/pipeline.py
Labels: databricks

Databricks: Fix regression for handling delete events from kinesis (#3197)
  databricks/Makefile
  databricks/src/dlt/dlt_test.py
  databricks/src/dynamo/serde.py
  databricks/src/dynamo/serde_test.py
  databricks/tests/__init__.py
Labels: databricks

Disable sending sentry errors for QA env (#3198)
  phytoplankton-console/config/config.dev-user.json
  phytoplankton-console/src/app.tsx
  phytoplankton-console/src/components/SuperAdminPanel/CreateTenantModal/index.tsx
  phytoplankton-console/src/pages/settings/components/ApiKeysSettings/index.tsx
  tarpon/src/core/middlewares/init-sentry-lambda.ts
  tarpon/src/core/middlewares/init-sentry-node.ts
Labels: backend, frontend

Copilot Question Ids Typesafe (#3199)
  lib/utils/copilot.ts
  lib/utils/index.ts
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/RequestForm/index.tsx
  tarpon/src/services/copilot/questions/definitions/alert-history.ts
  tarpon/src/services/copilot/questions/definitions/alerts-related-to-transaction.ts
  tarpon/src/services/copilot/questions/definitions/case-history.ts
  tarpon/src/services/copilot/questions/definitions/checked-transactions.ts
  tarpon/src/services/copilot/questions/definitions/crm-insights.ts
  tarpon/src/services/copilot/questions/definitions/directors.ts
  tarpon/src/services/copilot/questions/definitions/entity-linking.ts
  tarpon/src/services/copilot/questions/definitions/kyc-score.ts
  tarpon/src/services/copilot/questions/definitions/linked-users.ts
  tarpon/src/services/copilot/questions/definitions/linkedin.ts
  tarpon/src/services/copilot/questions/definitions/recommendation.ts
  tarpon/src/services/copilot/questions/definitions/sars-filed.ts
  tarpon/src/services/copilot/questions/definitions/shareholders.ts
  tarpon/src/services/copilot/questions/definitions/transaction-by-rules-action.ts
  tarpon/src/services/copilot/questions/definitions/transaction-destination-summary.ts
  tarpon/src/services/copilot/questions/definitions/transaction-origin-summary.ts
  tarpon/src/services/copilot/questions/definitions/transaction-type.ts
  tarpon/src/services/copilot/questions/definitions/transactions.ts
  tarpon/src/services/copilot/questions/definitions/trs-score.ts
  tarpon/src/services/copilot/questions/definitions/unique-payment-identifier-received.ts
  tarpon/src/services/copilot/questions/definitions/unique-payment-identifier-sent.ts
  tarpon/src/services/copilot/questions/definitions/user-details.ts
  tarpon/src/services/copilot/questions/definitions/users-received-money-from.ts
  tarpon/src/services/copilot/questions/definitions/users-sent-money-to.ts
  tarpon/src/services/copilot/questions/definitions/website.ts
  tarpon/src/services/copilot/questions/types.ts
Labels: backend, frontend

Update API sourceOfFunds and kycStatus for Baraka (#3183)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/users/index.ts
Labels: backend

FR-4159 DOM tests for LogicBuilder (#3195)
  phytoplankton-console/jest.config.js
  phytoplankton-console/src/components/ui/LogicBuilder/__tests__/logic-builder.dom.test.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/RuleLogicBuilder/index.tsx
Labels: frontend

added check for empty website url (#3200)
  tarpon/src/services/merchant-monitoring/merchant-monitoring-scrape.ts
Labels: backend

Fix failing to create a new rule (v8) (#3202)
  phytoplankton-console/src/pages/dashboard/analysis/components/KYCStatusDistributionCard/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/index.tsx
Labels: frontend

Fix Deployment of ME-1 (#3204)
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

Revert "Migrate to Self Assumed Policy for UC" (#3207)
  databricks/infra/main.ts
Labels: databricks

Fix Logger Warning to warn (#3206)
  tarpon/src/services/merchant-monitoring/merchant-monitoring-scrape.ts
Labels: backend

V8 - rule functions for number/string variables (#3167)
  phytoplankton-console/.vscode/settings.json
  phytoplankton-console/package.json
  phytoplankton-console/src/components/library/Stepper/index.tsx
  phytoplankton-console/src/components/ui/LogicBuilder/functions.ts
  phytoplankton-console/src/components/ui/LogicBuilder/helpers.tsx
  phytoplankton-console/src/components/ui/LogicBuilder/index.module.less
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/DefineLogicCard/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/style.module.less
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/index.tsx
  tarpon/.vscode/launch.json
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-rule/app.ts
  tarpon/src/services/rules-engine/v8-functions/case-conversion.ts
  tarpon/src/services/rules-engine/v8-functions/index.ts
  tarpon/src/services/rules-engine/v8-functions/types.ts
Labels: backend, frontend

Fix init data generation (#3208)
  tarpon/package.json
  tarpon/scripts/init-local-db.ts
  tarpon/scripts/migrations/always-run/sync-list-library.ts
  tarpon/scripts/migrations/always-run/sync-mongodb-indexes.ts
  tarpon/scripts/migrations/always-run/sync-rules-library.ts
Labels: backend

Fix AI Forensics (#3209)
  databricks/infra/main.ts
Labels: databricks

Sanctions KPIs Time Filter (#3193)
  phytoplankton-console/src/pages/sanctions/activity/index.module.less
  phytoplankton-console/src/pages/sanctions/activity/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-sanctions/app.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/repositories/sanctions-search-repository.ts
Labels: backend, frontend

Split load of Daily Cron (#3211)
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

Speed up e2e tests (#3205)
  bin/utils/e2e_test_stage.ts
  phytoplankton-console/cypress/e2e/alerts/alert-comment-from-table.cy.ts
  phytoplankton-console/cypress/e2e/basic/login.cy.ts
  phytoplankton-console/cypress/e2e/cases/case-details-escalate.cy.ts
  phytoplankton-console/cypress/e2e/cases/cases-comment-test.cy.ts
  phytoplankton-console/cypress/support/commands.ts
  phytoplankton-console/cypress/support/index.ts
Labels: frontend, pipeline

FR-4007 Add new font weights in the library (#3091)
  phytoplankton-console/src/components/ScreeningMatchList/MatchListDropdown.tsx
  phytoplankton-console/src/components/library/EmptyDataInfo/index.tsx
  phytoplankton-console/src/components/ui/Typography/index.module.less
  phytoplankton-console/src/components/ui/Typography/index.tsx
  phytoplankton-console/src/components/ui/Typography/story.tsx
  phytoplankton-console/src/pages/accounts/Team/index.tsx
  phytoplankton-console/src/pages/accounts/components/AccountForm.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/CaseTransactionsCard/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/AmountsChart/Chart/Popover/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/AmountsChart/Chart/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TransactionsSelector/Chart/Column/Popover/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TypesChart/Pie/Popover/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/components/InsightCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/OverviewCard/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/ValuesTable/index.tsx
Labels: frontend

#FR-4108: V8 rule form validation (#3203)
  phytoplankton-console/src/components/UserStatusTriggersAdvancedOptionsForm/index.tsx
  phytoplankton-console/src/components/library/Drawer/index.module.less
  phytoplankton-console/src/components/library/Drawer/index.tsx
  phytoplankton-console/src/components/library/Form/GenericFormField/index.tsx
  phytoplankton-console/src/components/library/Form/utils/hooks.tsx
  phytoplankton-console/src/components/library/SelectionGroup/index.tsx
  phytoplankton-console/src/components/library/SelectionGroup/style.module.less
  phytoplankton-console/src/components/library/Stepper/index.tsx
  phytoplankton-console/src/components/library/Stepper/style.module.less
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/BasicDetailsStep/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/AlertCreationDetailsStep/AlertAssignedToInput/input.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/AlertCreationDetailsStep/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/BasicDetailsStep/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/DefineLogicCard/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsRunWhenStep/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/style.module.less
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/index.tsx
  phytoplankton-console/src/pages/rules/utils.ts
Labels: frontend

#FR-4017: V8: support fiscal year (#3146)
  databricks/infra/package-lock.json
  lib/package.json
  lib/utils/dayjs.ts
  lib/utils/time.ts
  lib/yarn.lock
  phytoplankton-console/package.json
  phytoplankton-console/src/components/library/JsonSchemaEditor/story.tsx
  phytoplankton-console/src/components/ui/DatePicker/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/VariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/VariableTimeWindow/index.module.less
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/VariableTimeWindow/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/style.module.less
  phytoplankton-console/src/utils/dayjs.ts
  phytoplankton-console/yarn.lock
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/package.json
  tarpon/src/core/seed/samplers/users.ts
  tarpon/src/lambdas/console-api-dashboard/utils.ts
  tarpon/src/services/rules-engine/utils/time-utils.ts
  tarpon/src/utils/dayjs.ts
  tarpon/yarn.lock
Labels: backend, frontend, databricks

Reduce public API duration alarm threshold (#3212)
  tarpon/lib/lambdas.ts
Labels: backend

Minor Fix for Create Tenant (#3214)
  lib/utils/index.ts
  lib/utils/regex.ts
  phytoplankton-console/src/components/SuperAdminPanel/CreateTenantModal/index.tsx
  tarpon/src/utils/__tests__/anonymize.test.ts
  tarpon/src/utils/__tests__/regex.test.ts
  tarpon/src/utils/helpers.ts
  tarpon/src/utils/regex.ts
Labels: backend, frontend

Deleting Dynamo data using keys stored in mongo collection (#3139)
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
Labels: backend

Update transaction UI in SAR module (#3089)
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/index.tsx
  phytoplankton-console/src/components/library/Form/InputField/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/ArrayPropertyInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/ArrayPropertyInput/style.module.less
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/CollapsePropertiesLayout/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/ObjectPropertyInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/ObjectPropertyInput/style.module.less
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/PropertyList/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/__tests__/json-schema-editor.dom.test.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/settings.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/style.module.less
  phytoplankton-console/src/components/library/JsonSchemaEditor/utils.ts
  phytoplankton-console/src/components/ui/Card/Header.tsx
  phytoplankton-console/src/components/ui/Card/Root.tsx
  phytoplankton-console/src/components/ui/Card/index.module.less
  tarpon/src/services/sar/generators/KE/SAR/schema.ts
Labels: backend, frontend

Set up Notifcations Infra (#3215)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/constants.ts
  tarpon/lib/lambdas.ts
  tarpon/src/lambdas/notifcations-consumer/app.ts
Labels: backend, infra

Fix Whitelabel Traxion Right (#3218)
  tarpon/lib/openapi/openapi-internal-constants.ts
Labels: backend

Branding and Build Fix (#3219)
  phytoplankton-console/src/utils/branding.ts
  tarpon/src/lambdas/notifications-consumer/app.ts
Labels: backend, frontend

added feature flags to fix failing co-pilot e2e (#3220)
  phytoplankton-console/cypress/e2e/copilot/copilot-test.cy.ts
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/RequestForm/index.tsx
Labels: frontend

Notifications Build Fix (#3221)
  tarpon/lib/lambdas.ts
Labels: backend

Move "Create rule" button to table header (#3210)
  phytoplankton-console/cypress/e2e/rules/create-scenario.cy.ts
  phytoplankton-console/src/components/SimulationPageWrapper/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/RuleConfigurationForm/style.module.less
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawerV8/RuleConfigurationFormV8/steps/BasicDetailsStep/index.tsx
  phytoplankton-console/src/pages/rules/RulesTable/index.tsx
  phytoplankton-console/src/pages/rules/index.tsx
Labels: frontend

Fix e2e tests (#3222)
  phytoplankton-console/cypress/e2e/cases/bulk-payment-approvals.cy.ts
  phytoplankton-console/cypress/e2e/cases/cases-comment-test.cy.ts
  phytoplankton-console/cypress/e2e/cases/copilot-test.cy.ts
  phytoplankton-console/cypress/e2e/cases/payments-approval-test.cy.ts
  phytoplankton-console/cypress/e2e/copilot/copilot-test.cy.ts
  phytoplankton-console/cypress/e2e/qa/qa-assignee-column.cy.ts
  phytoplankton-console/cypress/e2e/risk-factors/create-and-delete-risk-factor.cy.ts
  phytoplankton-console/cypress/e2e/rules/create-scenario.cy.ts
  phytoplankton-console/cypress/e2e/users/user-merchant-monitoring.cy.ts
  phytoplankton-console/cypress/support/commands.ts
  phytoplankton-console/cypress/support/index.ts
Labels: frontend

Add transaction REVERSED state (#3217)
  databricks/infra/main.ts
  phytoplankton-console/src/components/ui/TransactionStateTag/index.tsx
  phytoplankton-console/src/utils/rules.ts
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/canaries/public-api-canary-tests/index.ts
Labels: backend, frontend, databricks

Fix Canary
  tarpon/src/canaries/public-api-canary-tests/index.ts
Labels: backend

Fix e2e tests
  phytoplankton-console/cypress/e2e/cases/case-details-escalate.cy.ts
  phytoplankton-console/cypress/e2e/cases/cases-escalate-test.cy.ts
  phytoplankton-console/cypress/e2e/cases/copilot-test.cy.ts
  phytoplankton-console/cypress/e2e/copilot/copilot-test.cy.ts
  phytoplankton-console/cypress/e2e/sar/sar-generate.cy.ts
  phytoplankton-console/cypress/support/commands.ts
Labels: frontend

Try out codecov (#3177)
  .github/workflows/test_tarpon.yml
Labels: none

Check for Valid Websites (#3226)
  tarpon/src/services/merchant-monitoring/merchant-monitoring-scrape.ts
  tarpon/src/utils/__tests__/regex.test.ts
  tarpon/src/utils/regex.ts
Labels: backend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

databricks:
  - databricks/**

pipeline:
  - bin/**
