Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, raptor

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - infra/**

frontend:
  - phytoplankton-console/**

raptor:
  - raptor/**

changed the header titles for the risk level table (#2084)
  phytoplankton-console/src/pages/risk-levels/configure/RiskClassificationTable/consts.tsx
Labels: frontend

Update MessageGroupId/MessageDeduplicationId of rule aggregation message (#2107)
  tarpon/src/lambdas/transaction-aggregation/app.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/transaction-rules/aggregation-rule.ts
Labels: backend

Increase memory of tx lambda (#2112)
  tarpon/lib/configs/config-prod-eu-1.ts
Labels: backend

Increase mem to 4096
  tarpon/lib/configs/config-prod-eu-1.ts
Labels: backend

Only log error when running out of retries (#2100)
  tarpon/src/utils/currency-utils.ts
Labels: backend

Quotas Fix: Check From Month Start (#2115)
  tarpon/src/services/tenants/index.ts
Labels: backend

Risk Factors For SAR Filed (#2095)
  phytoplankton-console/src/components/ui/RiskScoreDisplay/DetailsModal/helpers.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/consts.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/types.ts
  phytoplankton-console/src/utils/booleanOptions.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/seed/data/raw-data/report.ts
  tarpon/src/services/risk-scoring/__tests__/sar-filed.test.ts
  tarpon/src/services/risk-scoring/derived-risk-factors/index.ts
  tarpon/src/services/risk-scoring/derived-risk-factors/sar-filed.ts
  tarpon/src/services/risk-scoring/risk-scoring-service.ts
  tarpon/src/services/sar/repositories/report-repository.ts
  tarpon/src/services/sar/service.ts
  tarpon/src/test-utils/pulse-test-utils.ts
Labels: backend, frontend

added time granularity to R-52 (#2076)
  tarpon/scripts/migrations/post-deployment/2023.08.28T14.54.19.migrate-timeWindowInDays-To-timeWindow.ts
  tarpon/scripts/migrations/pre-deployment/2023.08.28T13.45.11.migrate-timeWindowInDays-To-timeWindow.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/ip-address-multiple-users.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/library.test.ts
  tarpon/src/services/rules-engine/transaction-rules/ip-address-multiple-users.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
Labels: backend

Hotfix for kevin (Timeout, OOM, EMFILE) (#2116)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/configs/config-dev.ts
  tarpon/lib/configs/config-local.ts
  tarpon/lib/configs/config-prod-asia-1.ts
  tarpon/lib/configs/config-prod-asia-2.ts
  tarpon/lib/configs/config-prod-au-1.ts
  tarpon/lib/configs/config-prod-eu-1.ts
  tarpon/lib/configs/config-prod-eu-2.ts
  tarpon/lib/configs/config-prod-us-1.ts
  tarpon/lib/configs/config-sandbox.ts
  tarpon/lib/configs/config.ts
  tarpon/package-lock.json
  tarpon/src/core/middlewares/lambda-consumer-middlewares.ts
  tarpon/src/utils/dynamodb.ts
Labels: backend

Fix Default Settings (#2117)
  phytoplankton-console/src/pages/settings/components/DefaultValuesSettings.tsx
Labels: frontend

audit log kyc/user status update (#2096)
  tarpon/src/lambdas/console-api-user/app.ts
  tarpon/src/lambdas/console-api-user/services/user-audit-log-service.ts
  tarpon/src/lambdas/console-api-user/services/user-service.ts
Labels: backend

Rules Aggregation V2 on all the other rules (#2088)
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/high-traffic-between-same-parties.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/high-traffic-volume-between-same-users.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/high-unsuccessfull-state-rate.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/same-payment-details.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/same-user-using-too-many-cards.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/sender-location-changes-frequency.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/too-many-users-for-same-card.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-exceed-past-period.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-round-value-percentage.test.ts
  tarpon/src/services/rules-engine/transaction-rules/high-traffic-between-same-parties.ts
  tarpon/src/services/rules-engine/transaction-rules/high-traffic-volume-between-same-users.ts
  tarpon/src/services/rules-engine/transaction-rules/high-unsuccessfull-state-rate.ts
  tarpon/src/services/rules-engine/transaction-rules/same-payment-details.ts
  tarpon/src/services/rules-engine/transaction-rules/same-user-using-too-many-cards.ts
  tarpon/src/services/rules-engine/transaction-rules/sender-location-changes-frequency.ts
  tarpon/src/services/rules-engine/transaction-rules/too-many-users-for-same-card.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-exceed-past-period.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-pattern-percentage-base.ts
Labels: backend

Rule duplication (#2081)
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/RuleConfigurationForm/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/index.tsx
  phytoplankton-console/src/pages/rules/my-rules/index.tsx
Labels: frontend

Add Origin and Destination Device Data (#2090)
  tarpon/lib/openapi/public-device-data/openapi-public-device-data-original.yaml
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/scripts/migrations/post-deployment/2023.08.29T12.24.14.migrate-ip-to-origin-ip-address.ts
  tarpon/scripts/migrations/post-deployment/2023.08.29T12.58.27.migrate-device-data-in-tranactions-event.ts
  tarpon/scripts/nuke-tenant-data.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/core/seed/samplers/transaction.ts
  tarpon/src/lambdas/console-api-transaction/app.ts
  tarpon/src/services/device-data/index.ts
  tarpon/src/services/risk-scoring/__tests__/ipAddressCountry.test.ts
  tarpon/src/services/risk-scoring/derived-risk-factors/ipAddressCountry.ts
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/repositories/dynamodb-transaction-repository.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/rules-engine/repositories/transaction-event-repository.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/high-traffic-volume-between-same-users.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/ip-address-multiple-users.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/ip-address-unexpected-location.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/sender-location-changes-frequency.test.ts
  tarpon/src/services/rules-engine/transaction-rules/ip-address-multiple-users.ts
  tarpon/src/services/rules-engine/transaction-rules/ip-address-unexpected-location.ts
  tarpon/src/services/rules-engine/transaction-rules/sender-location-changes-frequency.ts
  tarpon/src/services/rules-engine/utils/user-rule-utils.ts
  tarpon/src/services/sar/generators/US/SAR/index.ts
  tarpon/src/utils/ipAddress.ts
Labels: backend

Remove Tarpon Events (#2118)
  tarpon/events/create-account.ts
  tarpon/events/create-rule-instance.ts
  tarpon/events/create-rule.ts
  tarpon/events/create-transaction-comment.ts
  tarpon/events/create-user.ts
  tarpon/events/delete-rule.ts
  tarpon/events/get-accounts.ts
  tarpon/events/get-all-sanctions-search.ts
  tarpon/events/get-permissions.ts
  tarpon/events/get-presigned-url.ts
  tarpon/events/get-roles.ts
  tarpon/events/get-rule-filters.ts
  tarpon/events/get-rule-instances.ts
  tarpon/events/get-rules.ts
  tarpon/events/get-sanctions-search.ts
  tarpon/events/get-transaction.ts
  tarpon/events/get-user.ts
  tarpon/events/import-list.ts
  tarpon/events/import.ts
  tarpon/events/sanctions-search.ts
  tarpon/events/types.ts
  tarpon/events/update-rule-instance.ts
  tarpon/events/update-rule.ts
  tarpon/events/verify-transaction-event.ts
  tarpon/events/verify-transaction.ts
  tarpon/events/view-business-users.ts
  tarpon/events/view-consumer-users.ts
  tarpon/events/view-transactions-per-user.ts
  tarpon/events/view-transactions.ts
  tarpon/run.ts
Labels: backend

Change text formatting to sentence case (#2037)
  phytoplankton-console/src/components/AppWrapper/Providers/SettingsProvider.tsx
  phytoplankton-console/src/components/NarrativeTemplateSelect/index.tsx
  phytoplankton-console/src/components/SanctionsTable/SearchResultDetailsModal/index.tsx
  phytoplankton-console/src/components/library/RiskLevelTag/index.tsx
  phytoplankton-console/src/pages/auditlog/components/AuditLogModal/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/AIInsightsCard/index.tsx
  phytoplankton-console/src/pages/case-management/components/Copilot/CopilotButtonContent.tsx
  phytoplankton-console/src/pages/lists/ListTable/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/RiskClassificationSimulationResults/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/SimulateRiskClassification/NewSimulation/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-algorithms/RiskAlgorithm/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/ValuesTable/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/consts.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/BasicDetailsStep/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/RuleParametersStep/RuleActionSelector/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/RuleParametersStep/index.tsx
  phytoplankton-console/src/pages/settings/components/FlagrightAISettings.tsx
  phytoplankton-console/src/pages/settings/index.tsx
  phytoplankton-console/src/pages/transactions-item/UserDetails/PaymentDetails/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/Summary/Overview/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/index.tsx
  phytoplankton-console/src/utils/risk-levels.tsx
  tarpon/lib/openapi/public/docs/pulse-risk-profiling.md
  tarpon/src/core/seed/data/crm.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/user-filters/user-tags.ts
Labels: backend, frontend

Only show selection info if something actually selected (#2108)
  phytoplankton-console/src/components/library/Table/Footer/index.tsx
Labels: frontend

Reduce memory usage of transaction aggregation lambda (#2119)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/configs/config-prod-eu-1.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
Labels: backend

added audit logs for api key view (#2098)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-tenant/app.ts
Labels: backend

Fix Migrations of Device Data (#2123)
  tarpon/scripts/migrations/post-deployment/2023.08.29T12.24.14.migrate-ip-to-origin-ip-address.ts
  tarpon/scripts/migrations/post-deployment/2023.08.29T12.58.27.migrate-device-data-in-tranactions-event.ts
Labels: backend

Revert "Dashboard: Create new case closing reason graph (#2067)" (#2124)
  phytoplankton-console/src/components/library/Widget/index.tsx
  phytoplankton-console/src/components/library/WidgetGrid/index.tsx
  phytoplankton-console/src/components/ui/colors.ts
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseClosingReasonCard/ScopeSelector.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseClosingReasonCard/index.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseClosingReasonCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/OverviewCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-dashboard/app.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/__tests__/dashboard-stats-repository.cases-alerts-closing-reason.test.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-stats-repository.ts
Labels: backend, frontend

Fix EMFILE caused by SQSClient (#2125)
  tarpon/src/services/rules-engine/rules-engine-service.ts
Labels: backend

Transaction Retry in Aggregation (#2122)
  tarpon/src/lambdas/transaction-aggregation/app.ts
Labels: backend

Fix migration of edf51ca9d9 (#2129)
  tarpon/scripts/migrations/post-deployment/2023.08.29T12.24.14.migrate-ip-to-origin-ip-address.ts
Labels: backend

Downscale transaction lambda memory to 2G (prod:eu-1) (#2126)
  tarpon/lib/configs/config-prod-eu-1.ts
Labels: backend

Display tenant region info in the tenants list (#2128)
  phytoplankton-console/src/components/SuperAdminPanel/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-tenant/app.ts
Labels: backend, frontend

Update rule aggregation synchronously if the latest version is rebuilt (#2131)
  tarpon/lib/configs/config-prod-eu-1.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
Labels: backend

Loosen lambda duration alarm threshold (#2130)
  tarpon/infra/cdk-utils/cdk-cw-alarms-utils.ts
Labels: backend

Make the narrative component generic (#2097)
  phytoplankton-console/src/components/Narrative/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/QaStatusChangeModal/index.tsx
  phytoplankton-console/src/pages/case-management/components/Copilot/CopilotButtonContent.tsx
Labels: frontend

Remove Manual Case Creation Feature Flag (#2133)
  phytoplankton-console/src/components/Narrative/story.tsx
  phytoplankton-console/src/pages/users-item/Header/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Labels: backend, frontend

#FR-3071: Dashboard: Implement transactions by rule hit chart according to new design (#2110)
  phytoplankton-console/src/components/library/Widget/WidgetBase/index.module.less
  phytoplankton-console/src/components/library/Widget/WidgetBase/index.tsx
  phytoplankton-console/src/components/library/Widget/index.module.less
  phytoplankton-console/src/components/library/Widget/index.tsx
  phytoplankton-console/src/components/library/Widget/types.ts
  phytoplankton-console/src/components/library/WidgetGrid/index.tsx
  phytoplankton-console/src/components/library/WidgetGrid/story.tsx
  phytoplankton-console/src/components/ui/colors.less
  phytoplankton-console/src/components/ui/colors.ts
  phytoplankton-console/src/pages/dashboard/analysis/components/DRSDistributionCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/OverviewCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/OverviewCard/styles.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/RulesHitCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TeamPerformanceCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TopUsersHitCard.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TransactionsChartCard.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TransactionsChartWidget/index.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/TransactionsChartWidget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/index.tsx
  phytoplankton-console/src/utils/array.ts
  phytoplankton-console/src/utils/queries/keys.ts
  phytoplankton-console/src/utils/rules.ts
Labels: frontend

FIx dev:databases:init script (#2127)
  tarpon/package.json
  tarpon/src/utils/secrets-manager.ts
Labels: backend

Revamp settings page (#2102)
  phytoplankton-console/src/locales/en-US/menu.ts
  phytoplankton-console/src/pages/settings/components/ApiKeysSettings/index.tsx
  phytoplankton-console/src/pages/settings/components/ChecklistTemplatesSettings.tsx
  phytoplankton-console/src/pages/settings/components/DefaultValuesSettings.tsx
  phytoplankton-console/src/pages/settings/components/EmailNotificationsSettings.tsx
  phytoplankton-console/src/pages/settings/components/FlagrightAISettings.tsx
  phytoplankton-console/src/pages/settings/components/KYCUserStatusSettings/index.tsx
  phytoplankton-console/src/pages/settings/components/NarrativeTemplates/index.tsx
  phytoplankton-console/src/pages/settings/components/PaymentApprovalSettings.tsx
  phytoplankton-console/src/pages/settings/components/ProductionAccessControl.tsx
  phytoplankton-console/src/pages/settings/components/ProfessionalServicesSettings.tsx
  phytoplankton-console/src/pages/settings/components/QuotaSettings.tsx
  phytoplankton-console/src/pages/settings/components/RiskAlgorithmsSettings.tsx
  phytoplankton-console/src/pages/settings/components/RiskLevelSettings.tsx
  phytoplankton-console/src/pages/settings/components/RuleActionSettings.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/index.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/styles.module.less
  phytoplankton-console/src/pages/settings/components/SettingsCard/index.tsx
  phytoplankton-console/src/pages/settings/components/SettingsCard/style.module.less
  phytoplankton-console/src/pages/settings/components/SettingsContainer.tsx
  phytoplankton-console/src/pages/settings/components/SlackNotificationsSettings.tsx
  phytoplankton-console/src/pages/settings/components/TransactionStateSettings.tsx
  phytoplankton-console/src/pages/settings/components/WebhookSettings.tsx
  phytoplankton-console/src/pages/settings/index.tsx
  phytoplankton-console/src/services/routing/index.ts
Labels: frontend

Fix payment approval test
  phytoplankton-console/cypress/e2e/cases/payments-approval-test.cy.ts
Labels: frontend

Fix payment approval test
  phytoplankton-console/cypress/e2e/cases/payments-approval-test.cy.ts
Labels: frontend

Migrate rule filters into origin and destination (#2065)
  tarpon/scripts/migrations/post-deployment/2023.08.24T14.59.30.delete-unused-risk-parameter.ts
  tarpon/scripts/migrations/pre-deployment/2023.08.24T14.38.24.rename-rule-filter-parameters.ts
  tarpon/src/lambdas/public-management-api-rule/__tests__/app.test.ts
  tarpon/src/services/rules-engine/filters.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
  tarpon/src/services/rules-engine/transaction-filters/__tests__/destination-payment-filters.test.ts
  tarpon/src/services/rules-engine/transaction-filters/__tests__/destination-transaction-country.test.ts
  tarpon/src/services/rules-engine/transaction-filters/__tests__/origin-payment-filters.test.ts
  tarpon/src/services/rules-engine/transaction-filters/__tests__/origin-transaction-country.test.ts
  tarpon/src/services/rules-engine/transaction-filters/destination-payment-filter.ts
  tarpon/src/services/rules-engine/transaction-filters/destination-transaction-country.ts
  tarpon/src/services/rules-engine/transaction-filters/origin-payment-filter.ts
  tarpon/src/services/rules-engine/transaction-filters/origin-transaction-country.ts
  tarpon/src/services/rules-engine/transaction-filters/payment-filters-base.ts
  tarpon/src/services/rules-engine/transaction-filters/payment-filters.ts
  tarpon/src/services/rules-engine/transaction-filters/transaction-country-base.ts
  tarpon/src/services/rules-engine/transaction-filters/transaction-country-historical.ts
  tarpon/src/services/rules-engine/transaction-filters/transaction-country.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/low-value-incoming-transactions.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/low-value-outgoing-transactions.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transaction-amount.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transaction-new-country.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-velocity.test.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
Labels: backend

Update status width
  phytoplankton-console/src/pages/settings/components/NarrativeTemplates/index.tsx
Labels: frontend

Rule instance table visual updates (#2134)
  phytoplankton-console/src/pages/rules/my-rules/index.tsx
Labels: frontend

Updated the font color for the disabled button (#2138)
  phytoplankton-console/src/components/ui/colors.less
  phytoplankton-console/src/components/ui/colors.ts
Labels: frontend

Fixed alignment of the checkboxes in payment approval table (#2136)
  phytoplankton-console/src/components/library/Checkbox/style.module.less
Labels: frontend
