Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, pipeline

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

pipeline:
  - bin/**

Added Case Escalated and Alert Escalated Webhook (#7904)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/cases/index.ts
  tarpon/src/services/notifications/__tests__/index.test.ts
Labels: backend

Refactor: optimize CH queries for AIF (#7919)
  tarpon/src/services/copilot/questions/definitions/transaction-aggregations.ts
  tarpon/src/services/copilot/questions/definitions/transaction-summary.ts
Labels: backend

Fix handling resource level filter for rbac (#7932)
  tarpon/src/core/middlewares/rbac.ts
Labels: backend

Use only actual users for locks (#7935)
  tarpon/src/lambdas/async-rule/app.ts
Labels: backend

Add Update Status of Transaction If Case / Alert is Closed (#7902)
  phytoplankton-console/src/components/Narrative/index.tsx
  phytoplankton-console/src/pages/case-management/components/AlertsStatusChangeButton/AlertsStatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/CasesStatusChangeButton/CasesStatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/update-transaction-status.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
Labels: backend, frontend

FIX: remove transactionState from TransactionUpdatable schema (#7884)
  tarpon/lib/openapi/public/openapi-public-original.yaml
Labels: backend

Increase clickhouse memory in eu-2 for AIF (#7936)
  lib/config/config-prod-eu-2.ts
Labels: none

Fix Case Reasons For Payment Approvals (#7892)
  phytoplankton-console/src/components/Narrative/index.tsx
  phytoplankton-console/src/pages/case-management/components/Copilot/CopilotButtonContent.tsx
  phytoplankton-console/src/pages/case-management/components/PaymentApprovalButton/PaymentApprovalModal.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeButton.tsx
  phytoplankton-console/src/pages/case-management/helpers.tsx
  phytoplankton-console/src/pages/case-management/types.tsx
  phytoplankton-console/src/pages/users-item/ManualCaseCreationModal/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/public-management/openapi-public-management-original.yaml
  tarpon/scripts/migrations/post-deployment/2025.01.17T07.48.30.fix-ordering-of-default-deposition-reasons.ts
  tarpon/src/core/seed/samplers/cases.ts
  tarpon/src/services/alerts/repository.ts
  tarpon/src/services/batch-jobs/update-transaction-status.ts
  tarpon/src/services/copilot/narratives/alerts.ts
  tarpon/src/services/copilot/narratives/case.ts
  tarpon/src/services/copilot/narratives/transactions.ts
  tarpon/src/services/copilot/narratives/utils/reason-narratives.ts
  tarpon/src/services/tenants/reasons-service.ts
Labels: backend, frontend

Fix Generate SAR to appear in user page header (#7889)
  phytoplankton-console/src/components/Sar/index.tsx
Labels: frontend

Change Default Memory for Sandbox Lambdas (#7940)
  lib/config/config-sandbox-eu-1.ts
Labels: none

Change Default Memory for Prod Me-1, Asia-2, Asia-3 and Au-1 (#7941)
  lib/config/config-prod-asia-2.ts
  lib/config/config-prod-asia-3.ts
  lib/config/config-prod-au-1.ts
  lib/config/config-prod-me-1.ts
Labels: none

E2E: fixed single select modal cypress command for failing e2e (#7942)
  phytoplankton-console/cypress/e2e/risk-factors/create-and-delete-risk-factor.cy.ts
  phytoplankton-console/cypress/e2e/rules/create-scenario.cy.ts
  phytoplankton-console/cypress/support/commands.ts
  phytoplankton-console/src/components/library/Select/index.tsx
  phytoplankton-console/src/components/library/Select/style.module.less
Labels: frontend

FEAT: Allow new tenants with default algo to edit risk scoring algorithm (#7869)
  phytoplankton-console/src/pages/settings/components/RiskAlgorithmsCra/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  phytoplankton-console/src/utils/user-utils.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/services/tenants/index.ts
Labels: backend, frontend

Update: Adjust layout of Transaction Insights bar chart (#7842)
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/index.tsx
Labels: frontend

description update for R-130 and R-26 (#7946)
  tarpon/src/services/rules-engine/transaction-rules/library.ts
Labels: backend

Fix: wording for risk scoring calculation options (#7897)
  phytoplankton-console/src/pages/settings/components/ReRunTriggerSettings/index.tsx
Labels: frontend

fix: handle counterParty demo transactions such that it shows in UI (#7742)
  tarpon/src/core/seed/data/transactions.ts
  tarpon/src/core/seed/samplers/cases.ts
Labels: backend

Fix DRS Updatable and KRS Updatable Flags (#7947)
  tarpon/src/lambdas/public-api-rules-engine/app.ts
  tarpon/src/lambdas/public-api-user-management/app.ts
  tarpon/src/utils/user.ts
Labels: backend

Add Missing Status Field in Alert Escalated / Closed Webhook (#7949)
  tarpon/src/services/alerts/index.ts
Labels: backend

Update Wallet from nationality -> countryOfNationality (#7948)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/logic-evaluator/variables/__tests__/resources/entity-variables.json
  tarpon/src/utils/helpers.ts
Labels: backend

Fix: ClickHouse count only query (#7955)
  tarpon/src/utils/pagination.ts
Labels: backend

Rollback breaking changes, disable failing e2e (#7953)
  phytoplankton-console/cypress/e2e/risk-factors/create-and-delete-risk-factor.cy.ts
  phytoplankton-console/cypress/e2e/rules/create-scenario.cy.ts
  phytoplankton-console/src/components/library/Select/index.tsx
  phytoplankton-console/src/components/library/Select/style.module.less
Labels: frontend

Improve copy for risk scoring re-run modal (#7943)
  phytoplankton-console/src/pages/settings/components/BatchRerunRiskScoringSettings/index.tsx
Labels: frontend

Change sequence of create tenant form (#7959)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/CreateTenantModal/index.tsx
Labels: frontend

Fixed: Extra border bottom at end of each card in case-management settings (#7930)
  phytoplankton-console/src/components/library/CrudEntitiesTable/index.tsx
  phytoplankton-console/src/components/library/SelectionGroup/index.tsx
  phytoplankton-console/src/components/library/SelectionGroup/style.module.less
  phytoplankton-console/src/pages/settings/components/NarrativeCopilot/index.tsx
  phytoplankton-console/src/pages/settings/components/SlaPolicySettings/index.tsx
Labels: frontend

FIX: skipped frequently occuring sentry errors (#7962)
  tarpon/src/core/logger/index.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
Labels: backend

Add associates to individuals (#7965)
  tarpon/src/services/sanctions/providers/acuris-provider.ts
Labels: backend

Remove unused ClickHouse table mappings from MONGO_COLLECTION_SUFFIX_MAP_TO_CLICKHOUSE (#7964)
  tarpon/src/utils/clickhouse/definition.ts
Labels: backend

Slack Web API Bump (#7967)
  package.json
  tarpon/package.json
  tarpon/yarn.lock
  yarn.lock
Labels: backend

FEAT: add intercomm (#7939)
  phytoplankton-console/build/index.js
  phytoplankton-console/config/config.dev-user.json
  phytoplankton-console/config/config.dev.json
  phytoplankton-console/config/config.local.json
  phytoplankton-console/config/config.prod.json
  phytoplankton-console/config/config.sandbox.json
  phytoplankton-console/package.json
  phytoplankton-console/src/@types/globals.d.ts
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/components/AppWrapper/Menu/Help/Intercomm.tsx
  phytoplankton-console/src/components/AppWrapper/Menu/Help/index.tsx
  phytoplankton-console/src/components/AppWrapper/Menu/index.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/index.tsx
  phytoplankton-console/yarn.lock
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Labels: backend, frontend

Fix select regression (#7957)
  phytoplankton-console/cypress/e2e/risk-factors/create-and-delete-risk-factor.cy.ts
  phytoplankton-console/cypress/e2e/rules/create-scenario.cy.ts
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/styles.module.less
  phytoplankton-console/src/pages/risk-levels/risk-factors/RiskFactorConfiguration/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/NestedSelects/index.tsx
Labels: frontend

Add user type filter to manual search (#7945)
  phytoplankton-console/src/components/ScreeningHitTable/index.tsx
  phytoplankton-console/src/pages/sanctions/search/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Labels: backend, frontend

Reduce Memories for More Lambdas (#7969)
  lib/config/config-dev.ts
  lib/config/config-sandbox-eu-1.ts
Labels: none

Fix: Renamed AIF button and moved to far right inside dropDown (#7970)
  phytoplankton-console/src/pages/alert-item/components/Header/AiForensicsPdfDownloadButton/index.tsx
  phytoplankton-console/src/pages/alert-item/components/Header/index.module.less
  phytoplankton-console/src/pages/alert-item/components/Header/index.tsx
Labels: frontend

Fix: local openapi invalid temp-merged-spec directory (#7972)
  tarpon/scripts/openapi/openapi_prepare.ts
Labels: backend

Added whitelist examples in demo data (#7927)
  tarpon/src/core/seed/data/lists.ts
Labels: backend

Fix: Don't Display null id in demo data (#7958)
  tarpon/src/services/copilot/questions/definitions/transactions.ts
Labels: backend

Sentry error skip (#7978)
  tarpon/src/core/logger/index.ts
Labels: backend

Revert "Update: Adjust layout of Transaction Insights bar chart" (#7979)
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/index.tsx
Labels: frontend

Fix username search (#7974)
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend
