Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, raptor

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - infra/**

frontend:
  - phytoplankton-console/**

raptor:
  - raptor/**

Accounts Query Result Fix (#2358)
  phytoplankton-console/src/pages/accounts/Team/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  phytoplankton-console/src/utils/user-utils.tsx
Labels: frontend

Fix barchart question (#2360)
  tarpon/src/services/copilot/questions/question-service.ts
Labels: backend

Fix Merhcant Monitoring (#2359)
  tarpon/src/services/merchant-monitoring/merchant-monitoring-scrape.ts
Labels: backend

Change date string
  tarpon/src/services/copilot/copilot-service.ts
Labels: backend

Last minute fix for demo
  tarpon/src/services/copilot/copilot-service.ts
Labels: backend

Added Priority Fix (#2363)
  phytoplankton-console/src/pages/users-item/ManualCaseCreationModal/index.tsx
Labels: frontend

Fix QA kinesis consumer setup (#2364)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/src/services/tenants/index.ts
Labels: backend

Fix case details page crashing if risk score is empty (#2365)
  phytoplankton-console/src/components/ui/ActionRiskDisplay/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/DynamicRiskDisplay.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/KycRiskDisplay/index.tsx
Labels: frontend

migrating tabs to new internal tabs (#2329)
  phytoplankton-console/src/components/library/Tabs/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/SimulateRiskClassification/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/RuleParametersStep/index.tsx
Labels: frontend

Seed consumer user again (#2367)
  tarpon/src/core/seed/data/users.ts
Labels: backend

Removed Device Data Field (#2333)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/scripts/migrations/post-deployment/2023.08.29T12.24.14.migrate-ip-to-origin-ip-address.ts
  tarpon/scripts/migrations/post-deployment/2023.08.29T12.58.27.migrate-device-data-in-tranactions-event.ts
  tarpon/src/core/seed/samplers/transaction.ts
  tarpon/src/lambdas/console-api-transaction/app.ts
  tarpon/src/services/copilot/attributes/transactions-attribute-builder.ts
  tarpon/src/services/device-data/index.ts
  tarpon/src/services/rules-engine/repositories/dynamodb-transaction-repository.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/rules-engine/repositories/transaction-event-repository.ts
  tarpon/src/services/rules-engine/transaction-rules/rule.ts
Labels: backend

Avoid missing arsScore for internal transaction (#2361)
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/users/utils/user-utils.ts
Labels: backend

User Activity log refactoring (#2318)
  phytoplankton-console/src/components/ActivityCard/helpers.tsx
  phytoplankton-console/src/components/ActivityCard/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserEvents.tsx
  phytoplankton-console/src/pages/users-item/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-user/services/user-audit-log-service.ts
Labels: backend, frontend

Update Regtank production console URL (#2357)
  phytoplankton-console/src/utils/branding.ts
  tarpon/lib/configs/auth0/tenant-config-prod-regtank.ts
  tarpon/lib/openapi/openapi-internal-constants.ts
Labels: backend, frontend

Throw BadRequest if inviting an existing user (#2366)
  tarpon/src/services/accounts/index.ts
Labels: backend

Set GitHub Action timeout to 30 minutes (#2371)
  .github/workflows/deploy_qa.yml
  .github/workflows/destroy_phyto_qa.yml
  .github/workflows/destroy_tarpon_qa.yml
  .github/workflows/no_test_infra.yml
  .github/workflows/no_test_phyto.yml
  .github/workflows/no_test_tarpon.yml
  .github/workflows/test_infra.yml
  .github/workflows/test_phyto.yml
  .github/workflows/test_tarpon.yml
Labels: none

Fr 3275 e2e tests for copilot (#2312)
  phytoplankton-console/.eslintrc.js
  phytoplankton-console/cypress/e2e/cases/cases-close-test.cy.ts
  phytoplankton-console/cypress/e2e/cases/cases-escalate-test.cy.ts
  phytoplankton-console/cypress/e2e/cases/copilot-test.cy.ts
  phytoplankton-console/package.json
  phytoplankton-console/src/pages/case-management/components/Copilot/CopilotButtonContent.tsx
  phytoplankton-console/yarn.lock
Labels: frontend

Upgrade actions/checkout to v4
  .github/workflows/deploy_qa.yml
  .github/workflows/destroy_phyto_qa.yml
  .github/workflows/destroy_tarpon_qa.yml
  .github/workflows/publish_schema.yml
  .github/workflows/semgrep.yml
  .github/workflows/test_infra.yml
  .github/workflows/test_phyto.yml
  .github/workflows/test_tarpon.yml
Labels: none

Don't do `cdktf deploy` in `au-1` (#2373)
  tarpon/package.json
Labels: backend

Rule instance is not being downloaded for ‘My rules’ (#2328)
  phytoplankton-console/src/components/library/Table/Header/Tools/DownloadButton/index.tsx
  phytoplankton-console/src/components/library/Table/Header/Tools/index.tsx
  phytoplankton-console/src/pages/rules/my-rules/index.tsx
Labels: frontend

Fix QA conditional tarpon deployment
  .github/workflows/deploy_qa.yml
Labels: none

Webhook deliverer lambda updates (#2356)
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-alarms-stack.ts
  tarpon/src/lambdas/webhook-deliverer/__tests__/webhook-delivery-handler.test.ts
  tarpon/src/lambdas/webhook-deliverer/app.ts
Labels: backend

Rules Advanced Options (#2183)
  phytoplankton-console/src/components/Narrative/index.tsx
  phytoplankton-console/src/components/UserStatusTriggersAdvancedOptionsForm/index.tsx
  phytoplankton-console/src/components/UserStatusTriggersAdvancedOptionsForm/style.module.less
  phytoplankton-console/src/components/library/ExpandContentButton/index.tsx
  phytoplankton-console/src/components/library/ExpandContentButton/styles.module.less
  phytoplankton-console/src/pages/case-management/components/CasesStatusChangeButton/CasesStatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/RuleParametersStep/AdvancedOptions/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/RuleParametersStep/index.tsx
  phytoplankton-console/src/pages/rules/utils.ts
  phytoplankton-console/src/pages/users-item/UserDetails/KYCStatusEditor/KYCChangeModal/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserStateEditor/UserChangeModal/index.tsx
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/public/docs/webhooks-events.md
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/core/seed/dynamodb.ts
  tarpon/src/lambdas/console-api-case/services/__tests__/case-creation-service.test.ts
  tarpon/src/lambdas/console-api-case/services/case-creation-service.ts
  tarpon/src/lambdas/console-api-case/services/case-service.ts
  tarpon/src/lambdas/console-api-user/app.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/lambdas/tarpon-change-webhook-consumer/app.ts
  tarpon/src/services/audit-log/index.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
  tarpon/src/services/rules-engine/rule-service.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/users/__tests__/advanced-rule-options.test.ts
  tarpon/src/services/users/index.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/services/users/utils/user-utils.ts
Labels: backend, frontend

Trigger Batch Jobs from Superadmin Panel (#2369)
  phytoplankton-console/src/components/SuperAdminPanel/index.tsx
  phytoplankton-console/src/utils/humanize.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
Labels: backend, frontend

implemented expand alert on pressing link (#2309)
  phytoplankton-console/src/components/common/QueryResultsTable.tsx
  phytoplankton-console/src/components/library/Table/index.tsx
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/AlertsCard/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/pages/case-management-item/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
Labels: frontend

Fix cases and Alerts table bug (#2375)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeButton.tsx
  phytoplankton-console/src/utils/case-utils.ts
Labels: frontend

QA updates (#2245)
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/AlertExpanded/Checklist/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/AlertExpanded/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTableWrapper.tsx
  phytoplankton-console/src/pages/case-management/QaTable/index.tsx
  phytoplankton-console/src/pages/case-management/common.ts
  phytoplankton-console/src/pages/case-management/helpers.tsx
  phytoplankton-console/src/pages/case-management/index.tsx
  phytoplankton-console/src/pages/case-management/types.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/AlertsCard/index.tsx
  phytoplankton-console/src/utils/checklist-templates.ts
  phytoplankton-console/src/utils/qa-mode.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/seed/samplers/cases.ts
  tarpon/src/services/rules-engine/repositories/alerts-repository.ts
  tarpon/src/services/rules-engine/repositories/case-repository.ts
Labels: backend, frontend

showing genrate report only when transaction is selected (#2321)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
Labels: frontend

Seeder derterministic (#2362)
  tarpon/src/core/seed/data/address.ts
  tarpon/src/core/seed/data/auditlogs.ts
  tarpon/src/core/seed/data/crm.ts
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/core/seed/data/transaction_events.ts
  tarpon/src/core/seed/data/transactions.ts
  tarpon/src/core/seed/data/users.ts
  tarpon/src/core/seed/samplers/address.ts
  tarpon/src/core/seed/samplers/cases.ts
  tarpon/src/core/seed/samplers/countries.ts
  tarpon/src/core/seed/samplers/currencies.ts
  tarpon/src/core/seed/samplers/dictionary.ts
  tarpon/src/core/seed/samplers/id.ts
  tarpon/src/core/seed/samplers/prng.ts
  tarpon/src/core/seed/samplers/risk_score_components.ts
  tarpon/src/core/seed/samplers/rule_result.ts
  tarpon/src/core/seed/samplers/strings.ts
  tarpon/src/core/seed/samplers/tag.ts
  tarpon/src/core/seed/samplers/transaction.ts
  tarpon/src/core/seed/samplers/users.ts
Labels: backend

Increase copilot lambda timeout (#2381)
  tarpon/lib/lambdas.ts
Labels: backend

Non urgent demo data fixes (#2355)
  tarpon/src/core/seed/samplers/users.ts
Labels: backend

#FR-3074: Dashboard: Implement transactions by transaction type chart according to new design (#2372)
  phytoplankton-console/.stylelintrc.js
  phytoplankton-console/src/components/AppWrapper/Providers/SettingsProvider.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseManagement/DistributionByAlertPriority/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/OverviewCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RuleActionSplitCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RulePrioritySplitCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Transactions/DistributionByTransactionTypeWidget/index.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/Transactions/DistributionByTransactionTypeWidget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Transactions/TransactionTypeDistribution/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/charts/Donut/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/index.tsx
Labels: frontend

added pepStatus on consumer user detail page (#2330)
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/UserDetails/UsersInfoCard/index.tsx
Labels: frontend

AI source obfuscation with GPT (#2249)
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/core/seed/dynamodb.ts
  tarpon/src/services/copilot/attributes/__tests__/builder.test.ts
  tarpon/src/services/copilot/attributes/builder.ts
  tarpon/src/services/copilot/attributes/transactions-attribute-builder.ts
  tarpon/src/services/copilot/attributes/user-attribute-builder.ts
  tarpon/src/services/copilot/copilot-service.ts
  tarpon/src/services/copilot/questions/definitions/transaction-summary.ts
  tarpon/src/utils/openapi.ts
Labels: backend

Validate Lithuania XML File locally (#2382)
  tarpon/package-lock.json
  tarpon/package.json
  tarpon/src/services/sar/generators/LT/scripts/validate.ts
Labels: backend

E2E for ICP (#2384)
  phytoplankton-console/cypress/e2e/copilot/copilot-test.cy.ts
  phytoplankton-console/src/components/library/TextInput/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/RequestForm/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
Labels: frontend

Remove sandbox case assignments if account not found (#2385)
  tarpon/scripts/migrations/post-deployment/2023.10.02T13.18.31.remove-unknown-assignees.ts
Labels: backend

Fix transactions 1ms before not visible to the current transaction (#2379)
  tarpon/src/services/rules-engine/repositories/dynamodb-transaction-repository.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-velocity.test.ts
Labels: backend

added additional fields to user schema (#2332)
  phytoplankton-console/src/components/ui/RiskScoreDisplay/DetailsModal/helpers.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/consts.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/types.ts
  phytoplankton-console/src/pages/users-item/UserDetails/BusinessUserDetails/UserDetails/UsersInfoCard/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/UserDetails/UsersInfoCard/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/core/seed/samplers/users.ts
Labels: backend, frontend

Fix dashboard crash if no data (#2388)
  phytoplankton-console/src/components/library/WidgetGrid/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/charts/Donut/index.tsx
Labels: frontend
