Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, raptor, pipeline

Tarpon change capture kinesis function memory increase (#4958)
  lib/config/config-dev.ts
Labels: none

Hack copilot because the markdown editor cant seem to format newlines properly (#4947)
  phytoplankton-console/src/components/Narrative/index.tsx
  tarpon/src/services/copilot/auto-narrative-service.ts
Labels: backend, frontend

Fix column width in Lists (#4970)
  phytoplankton-console/src/pages/lists-item/ItemsTable/index.tsx
Labels: frontend

AI Forencics fixes (#4971)
  phytoplankton-console/src/components/AiForensics/SearchBar/index.tsx
  tarpon/src/services/copilot/questions/definitions/crm-insights.ts
Labels: backend, frontend

Deploy Clickhouse in EU-1 (#4974)
  lib/config/config-sandbox-eu-1.ts
  tarpon/lib/configs/clickhouse/tenant-config.ts
  tarpon/scripts/migrations/post-deployment/2024.09.16T19.00.05.add-clickhouse-data-eu-1.ts
Labels: backend

Alert search on case management appears on first page (#4948)
  tarpon/src/services/alerts/repository.ts
Labels: backend

Force Reset Account Password from Console (#4949)
  phytoplankton-console/src/pages/accounts/components/AccountForm.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/console-api-account/app.ts
  tarpon/src/services/accounts/index.ts
Labels: backend, frontend

Attempt: Fix flacky sanctions-repository test (#4975)
  tarpon/src/services/sanctions/__tests__/sanctions-repository.test.ts
  tarpon/src/services/sanctions/providers/__tests__/sanctions-data-fetcher.test.ts
Labels: backend

Update Clickhouse CDKTF (#4979)
  tarpon/infra/cdktf-tarpon-stack.ts
  tarpon/src/utils/clickhouse/utils.ts
Labels: backend, infra

Fix VPCE id (#4980)
  tarpon/lib/configs/clickhouse/tenant-config.ts
Labels: backend

Fix PNB_BACKFILL_ENTITIES job (#4983)
  lib/package.json
  lib/yarn.lock
  package.json
  phytoplankton-console/package.json
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.module.less
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/yarn.lock
  tarpon/package.json
  tarpon/src/services/batch-jobs/pnb-backfill-entities-fargate-batch-job.ts
  tarpon/yarn.lock
  yarn.lock
Labels: backend, frontend

Don't log error when failing to persist aggregation data (#4973)
  tarpon/src/utils/dynamodb.ts
Labels: backend

Add missing indexes for users collection (#4984)
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend

feat: [FR-5724] Duplicate the role (#4938)
  phytoplankton-console/src/pages/accounts/Roles/RoleForm.tsx
Labels: frontend

Store provider in the search repositories (#4937)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/pre-deployment/2024.10.10T12.29.11.add-provider-name-to-sanctions.ts
  tarpon/src/core/seed/raw-data/sanctions-search.ts
  tarpon/src/lambdas/console-api-sanctions/app.ts
  tarpon/src/lambdas/incoming-webhooks/app.ts
  tarpon/src/services/cases/case-creation-service.ts
  tarpon/src/services/sanctions/__tests__/index.test.ts
  tarpon/src/services/sanctions/__tests__/sanctions-whitelist-entity-repository.test.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/providers/comply-advantage-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/providers/types.ts
  tarpon/src/services/sanctions/repositories/sanctions-hits-repository.ts
  tarpon/src/services/sanctions/repositories/sanctions-repository.ts
  tarpon/src/services/sanctions/repositories/sanctions-search-repository.ts
  tarpon/src/services/sanctions/repositories/sanctions-whitelist-entity-repository.ts
  tarpon/src/services/sanctions/utils.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend

Do not make walletType mandatory (#4990)
  tarpon/lib/openapi/public/openapi-public-original.yaml
Labels: backend

Migrate Sanctions Screening Details Data to Clickhouse (#4991)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/scripts/migrations/post-deployment/2024.10.17T05.37.43.sanctions-screening-details-to-clickhouse.ts
  tarpon/src/core/seed/raw-data/sanctions-search.ts
  tarpon/src/services/sanctions/__tests__/index.test.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/repositories/sanctions-screening-details-repository.ts
  tarpon/src/utils/clickhouse/definition.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend

Fix Frontend Pipeline because of Sanctions (#4992)
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/SanctionsComparison/__tests__/helpers.test.ts
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemBase/exportUtil.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemScreeningComparison/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/story.tsx
Labels: frontend

Update AND conditions to OR (#4967)
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/index.tsx
  phytoplankton-console/src/components/SanctionsHitsTable/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/story.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/rules-engine/user-rules/dowjones-consumer-user.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
Labels: backend, frontend

Scroll behaviour is wrong for rules (#4972)
  phytoplankton-console/src/components/PageWrapper/styles.module.less
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/style.module.less
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/style.module.less
Labels: frontend

Demo Data fixes - Rule analytics (#4981)
  tarpon/src/core/seed/account-setup.ts
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/core/seed/index.ts
  tarpon/src/core/seed/mongo.ts
  tarpon/src/core/seed/samplers/users.ts
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend

Fix failing to insert users to clickhouse if drsScore is empty (#4996)
  tarpon/scripts/migrations/utils/clickhouse.ts
  tarpon/src/utils/clickhouse/definition.ts
  tarpon/src/utils/clickhouse/utils.ts
Labels: backend

Run asia-1 daily cron job after dow jones is updated (#4985)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/src/lambdas/cron-job-daily/app.ts
  tarpon/src/services/batch-jobs/sanctions-data-fetch-job-runner.ts
Labels: backend, infra

Demo mode fix in Forencics (#4999)
  phytoplankton-console/src/components/AiForensics/SearchBar/index.tsx
Labels: frontend

Migrate Sanctions Queries to Clickhouse (#4994)
  tarpon/src/services/sanctions/repositories/sanctions-screening-details-repository.ts
  tarpon/src/utils/clickhouse/definition.ts
Labels: backend

Convert fuzziness before passing to comply advantage (#5000)
  tarpon/src/services/rules-engine/user-rules/sanctions-consumer-user.ts
Labels: backend

Single Mongo Stream for Tarpon and Hammerhead (#4978)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/src/lambdas/hammerhead-change-mongodb-consumer/app.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/utils/local-dynamodb-change-handler.ts
Labels: backend, infra

Update schema name in R-16 (#5001)
  tarpon/src/services/rules-engine/user-rules/sanctions-consumer-user.ts
Labels: backend

Show PEP rank on the User’s profile (#4977)
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/GeneralDetails/PepStatus/index.tsx
Labels: frontend

Format Ks in comma (#4993)
  phytoplankton-console/src/pages/risk-levels/configure/RiskClassificationSimulationResults/index.tsx
Labels: frontend

Overlapping tags in Case Management/Rules fixed (#4919)
  phytoplankton-console/src/pages/case-management/AlertTable/index.module.less
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/rules/my-rules/index.tsx
  phytoplankton-console/src/pages/rules/my-rules/style.module.less
Labels: frontend

#FR-5371: Create custom list option (#4989)
  phytoplankton-console/src/pages/lists-item/ItemsTable/index.tsx
  phytoplankton-console/src/pages/lists/NewListDrawer/NewValueInput/index.tsx
  phytoplankton-console/src/pages/lists/helpers.ts
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/rules-engine/transaction-rules/__tests__/blacklist-transaction-related-value.test.ts
  tarpon/src/services/rules-engine/transaction-rules/blacklist-transaction-related-value.ts
Labels: backend, frontend

Fix Duplicate Role (#5003)
  phytoplankton-console/src/pages/accounts/Roles/RoleForm.tsx
Labels: frontend

Fix Users Risk Score Backfill Job (#5005)
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/batch-jobs/pulse-data-load-job-runner.ts
  tarpon/src/services/risk-scoring/risk-scoring-service.ts
  tarpon/src/services/tenants/index.ts
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend

Add Final in Sanctions Count Query (#5006)
  tarpon/src/services/sanctions/repositories/sanctions-screening-details-repository.ts
Labels: backend

Delete false searches for PNB_UAT (#5009)
  tarpon/scripts/migrations/post-deployment/2024.10.17T18.11.44.delete-collection-docs.ts
Labels: backend

Fix spacing for transaction tags (#4911)
  phytoplankton-console/src/components/ui/EntityPropertiesCard/index.module.less
  phytoplankton-console/src/components/ui/EntityPropertiesCard/index.tsx
  phytoplankton-console/src/pages/transactions-item/TransactionTags/index.tsx
Labels: frontend

V8 risk scoring minor fix (#5002)
  tarpon/src/services/rules-engine/__tests__/user-rules-engine-service.test.ts
  tarpon/src/services/rules-engine/user-rules-engine-service.ts
Labels: backend

Rules not able to save after editing advance options (#4982)
  phytoplankton-console/src/components/UserStatusTriggersAdvancedOptionsForm/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/steps/RuleParametersStep/AdvancedOptions/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/steps/RuleParametersStep/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/DefineLogicCard/RuleActionsCard/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/DefineLogicCard/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/public-management/openapi-public-management-original.yaml
  tarpon/src/services/users/index.ts
Labels: backend, frontend

Add DAY option to ongoing user rule schedule (#5011)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Labels: backend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

raptor:
  - raptor/**

pipeline:
  - bin/**
