Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, raptor, pipeline

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

raptor:
  - raptor/**

pipeline:
  - bin/**

FIX: fixed e2e for case comment (#6463)
  phytoplankton-console/cypress/e2e/cases/cases-comment-test.cy.ts
  phytoplankton-console/cypress/support/commands.ts
Labels: frontend

FIX: e2e test for cases-filter-test (#6465)
  phytoplankton-console/cypress/e2e/cases/cases-filter-test.cy.ts
Labels: frontend

FEAT: UI for US CTR report (#6449)
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/index.tsx
  phytoplankton-console/src/components/Sar/SarReportDrawer/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/package.json
  tarpon/src/services/sar/generators/US/CTR/index.ts
  tarpon/src/services/sar/generators/US/CTR/resources/EFL_CTRXBatchSchema.ts
  tarpon/src/services/sar/generators/US/CTR/resources/EFL_CTRXBatchSchema.type.ts
  tarpon/src/services/sar/generators/US/CTR/resources/EFL_CTRXBatchSchema.xsd
  tarpon/src/services/sar/generators/US/CTR/resources/EFL_CTRXBatchSchema_Resolved.ts
  tarpon/src/services/sar/generators/US/CTR/schema.ts
  tarpon/src/services/sar/generators/US/CTR/scripts/remove-redefine-block.ts
  tarpon/src/services/sar/generators/US/CTR/scripts/xml-to-json.ts
  tarpon/src/services/sar/generators/index.ts
  tarpon/src/services/sar/utils/augmentations/manualSchemaManipulation.ts
  tarpon/yarn.lock
Labels: backend, frontend

Redirect users to the risk factor page after creation or editing (#6411)
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskItem/index.tsx
Labels: frontend

FEAT: Added functionality to submit CTR report from frontend and running a validtion on them. (#6467)
  tarpon/src/services/sar/generators/US/CTR/index.ts
  tarpon/src/services/sar/generators/US/CTR/resources/EFL_CTRXBatchSchema.ts
  tarpon/src/services/sar/generators/US/CTR/resources/EFL_CTRXBatchSchema.type.ts
  tarpon/src/services/sar/generators/US/CTR/resources/EFL_CTRXBatchSchema_Resolved.ts
  tarpon/src/services/sar/generators/US/CTR/schema.ts
  tarpon/src/services/sar/generators/US/CTR/scripts/xml-to-json.ts
  tarpon/src/services/sar/generators/US/SAR/helpers/constants.ts
  tarpon/src/services/sar/utils/augmentations/manualSchemaManipulation.ts
Labels: backend

Handle Extends in Parsing (#6453)
  tarpon/scripts/sync-nango-models.ts
Labels: backend

FEAT: CRM data tab renamed based on crm integration choosen (#6356)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/components/AppWrapper/Providers/SettingsProvider.tsx
  phytoplankton-console/src/components/library/Tabs/index.tsx
  phytoplankton-console/src/components/ui/PageTabs/index.module.less
  phytoplankton-console/src/components/ui/PageTabs/index.tsx
  phytoplankton-console/src/components/ui/colors.less
  phytoplankton-console/src/components/ui/icons/Remix/logos/salesforce.react.svg
  phytoplankton-console/src/components/ui/icons/freshdesk.react.svg
  phytoplankton-console/src/components/ui/icons/salesforce.react.svg
  phytoplankton-console/src/components/ui/icons/zendesk.react.svg
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.module.less
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/pages/settings/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/CRMResponse/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/CompanyHeader.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/FreshDeskResponse/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/ScopeSelector/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/utils/index.ts
  phytoplankton-console/src/pages/users-item/index.module.less
  phytoplankton-console/src/pages/users-item/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2025.03.18T07.00.05.remove-crm-freshdesk-feature-flag.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
Labels: backend, frontend

Narrative copilot clickable on AIF widgets (#6443)
  phytoplankton-console/src/components/ui/Popover/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/AiAlertSummary/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemBase/CommentPopover/index.tsx
Labels: frontend

Backfill cases for some tenants (#6446)
  tarpon/scripts/migrations/post-deployment/2025.03.20T08.59.41.backfill-missing-cases.ts
Labels: backend

Fix replay webhooks not sending the whole payload (#6438)
  tarpon/src/lambdas/console-api-webhook/app.ts
  tarpon/src/lambdas/webhook-deliverer/app.ts
Labels: backend

:zap: Add memory usage traces to XRAY (#6472)
  tarpon/src/core/xray/index.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
Labels: backend

Fixed migration for deleting crm feature flag (#6471)
  tarpon/scripts/migrations/post-deployment/2025.03.18T07.00.05.remove-crm-freshdesk-feature-flag.ts
Labels: backend

Temporary Stop Optimizing (#6474)
  tarpon/src/services/batch-jobs/optimize-clickhouse-batch-job-runner.ts
Labels: backend

FIX: Extend duplicate risk factor for v2v8 (Default risk factors) (#6407)
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskItem/index.tsx
Labels: frontend

reduce retry time for locks (#6480)
  tarpon/src/core/dynamodb/dynamodb-stream-consumer-builder.ts
Labels: backend

Added More XRay (#6478)
  tarpon/src/core/dynamodb/dynamodb-stream-consumer-builder.ts
  tarpon/src/lambdas/hammerhead-change-mongodb-consumer/app.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
Labels: backend

standardise locks retry (#6481)
  tarpon/src/core/dynamodb/dynamodb-stream-consumer-builder.ts
  tarpon/src/services/cases/case-creation-service.ts
  tarpon/src/services/logic-evaluator/engine/index.ts
Labels: backend

[Bugfix] - Status changed by column not visible when 'In review' filter is selected in alerts table (#6418)
  phytoplankton-console/src/pages/case-management/AlertTable/__tests__/alert-table.dom.test.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
Labels: frontend

:zap: Call entity-linking api when ontology is enabled (#6483)
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/UserGraph/index.tsx
Labels: frontend

Add warning screening type for capimoney (#6469)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2025.03.24T05.32.52.update-tenant-settings.ts
  tarpon/src/services/sanctions/providers/comply-advantage-provider.ts
  tarpon/src/services/sanctions/repositories/sanctions-search-repository.ts
Labels: backend

TypeError: Cannot read properties of undefined (reading 'get') (#6473)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/RuleLogicBuilder/index.tsx
Labels: frontend

Add Date to timestamp function (#6420)
  tarpon/src/services/logic-evaluator/functions/__tests__/date-to-timestamp.test.ts
  tarpon/src/services/logic-evaluator/functions/__tests__/resources/functions.json
  tarpon/src/services/logic-evaluator/functions/date-to-timestamp.ts
  tarpon/src/services/logic-evaluator/functions/index.ts
  tarpon/src/services/logic-evaluator/functions/types.ts
  tarpon/src/services/logic-evaluator/logic-to-text/index.ts
Labels: backend

Removed OPTIMIZE_CLICKHOUSE batch job (#6485)
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/lambdas/cron-job-hourly/app.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
Labels: backend

FEAT: added alarms to trigger when connection fails to establish with fincen sftp servers. (#6470)
  lib/config/config-prod-us-1.ts
  lib/config/config-sandbox-eu-1.ts
  lib/config/config.ts
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-console-api-stack.ts
  tarpon/infra/cdk-utils/cdk-cw-alarms-utils.ts
  tarpon/lib/constants.ts
  tarpon/src/services/sar/generators/US/SAR/index.ts
  tarpon/src/utils/sar.ts
Labels: backend, infra

Update prefix, remove invalid character : (#6487)
  tarpon/lib/constants.ts
Labels: backend

Create custom lists (Indiviual and business) for 314a (#6486)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/pages/lists/NewListDrawer/NewValueInput/index.tsx
  phytoplankton-console/src/pages/lists/NewListDrawer/index.tsx
  phytoplankton-console/src/pages/lists/helpers.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
Labels: backend, frontend

Save all sources based on datasets regardless of evidence id not present (#6458)
  tarpon/scripts/migrations/post-deployment/2025.03.21T07.50.17.trigger-sanctions-data-load-for-acuris.ts
  tarpon/src/services/sanctions/providers/acuris-provider.ts
Labels: backend

Add warnings sources (#6490)
  tarpon/src/services/sanctions/providers/__tests__/comply-advantage-provider.test.ts
  tarpon/src/services/sanctions/providers/comply-advantage-provider.ts
Labels: backend

add sources for warnning (#6491)
  tarpon/src/services/sanctions/providers/comply-advantage-provider.ts
Labels: backend

Create rules R-42, R-43 for 314a (#6492)
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/user-rules/index.ts
  tarpon/src/services/rules-engine/user-rules/subject-identification-business.ts
  tarpon/src/services/rules-engine/user-rules/subject-identification-consumer.ts
Labels: backend

Increase the scroll bar height and width when hovering over (#6410)
  phytoplankton-console/src/components/library/Table/Header/Filters/index.module.less
  phytoplankton-console/src/global.less
Labels: frontend

Transaction Stats Queries to Clickhouse and Added a timestamp filter (#6494)
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TransactionsSelector/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-transaction/services/transaction-service.ts
  tarpon/src/services/rules-engine/repositories/clickhouse-repository.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/utils/clickhouse/utils.ts
Labels: backend, frontend

Update Nango Integrations in Readme (#6496)
  README.md
Labels: none

FEAT:(Schema) generated de-referenced schema for Canada STR (#6479)
  tarpon/src/services/sar/generators/CA/STR/resources/STRBatchSchema.ts
  tarpon/src/services/sar/generators/CA/STR/resources/STRBatchSchema.type.ts
  tarpon/src/services/sar/generators/CA/STR/resources/STRBatchSchema_Resolved.ts
  tarpon/src/services/sar/generators/CA/STR/scripts/resolve-json.ts
  tarpon/src/services/sar/generators/US/CTR/scripts/xml-to-json.ts
  tarpon/src/services/sar/utils/augmentations/manualSchemaManipulation.ts
Labels: backend

Update v8 risk factor handler to handle v2 and v8, update ids for v2 risk factors (#6455)
  tarpon/scripts/cross-tenant-query.ts
  tarpon/scripts/migrations/pre-deployment/2025.01.19T13.46.29.intialise-risk-factor-in-dynamo.ts
  tarpon/scripts/migrations/pre-deployment/2025.02.20T07.36.20.migrate-fields-and-ids-for-v2v8-risk-factors.ts
  tarpon/scripts/migrations/pre-deployment/2025.03.21T00.01.27.update-default-risk-factors-to-RF.ts
  tarpon/src/core/seed/dynamodb.ts
  tarpon/src/core/seed/mongo.ts
  tarpon/src/services/risk-scoring/risk-factors/index.ts
  tarpon/src/services/risk-scoring/risk-scoring-v8-service.ts
  tarpon/src/services/risk-scoring/utils.ts
  tarpon/src/services/risk/index.ts
  tarpon/src/services/tenants/index.ts
Labels: backend

Init End to End Integration for Freshdesk (#6440)
  phytoplankton-console/src/components/library/Select/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/CRMCommunicationCard/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/CRMRecords/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/CRMRecords/styles.module.less
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/CRMResponse/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/CompanyHeader.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/FreshDeskResponse/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/ScopeSelector/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/TicketConversationCard/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/Tickets/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/crm-ticket-util.ts
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/index.tsx
  phytoplankton-console/src/pages/users-item/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  phytoplankton-console/src/utils/user-utils.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/lib/openapi/openapi-public-management-augmentor.ts
  tarpon/lib/openapi/public-management/openapi-public-management-original.yaml
  tarpon/scripts/migrations/post-deployment/2025.03.12T07.32.23.migrate-to-clickhouse.ts
  tarpon/src/@types/nango/index.d.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/core/dynamodb/dynamodb-stream-consumer-builder.ts
  tarpon/src/core/dynamodb/dynamodb-stream-utils.ts
  tarpon/src/core/seed/clickhouse.ts
  tarpon/src/core/seed/data/crm-records.ts
  tarpon/src/core/seed/data/seeds.ts
  tarpon/src/core/seed/dynamodb.ts
  tarpon/src/core/seed/samplers/crm-record.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/lambdas/incoming-webhooks/app.ts
  tarpon/src/lambdas/mongo-db-trigger-consumer/index.ts
  tarpon/src/lambdas/public-management-api-users/app.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/batch-jobs/nango-data-fetch.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/services/nango/index.ts
  tarpon/src/services/nango/repository.ts
  tarpon/src/utils/clickhouse/definition.ts
Labels: backend, frontend

[Bugfix] - User alias entity variable form fix (#6500)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/EntityVariableForm.tsx
Labels: frontend

Fix include v2 parameter (#6503)
  tarpon/src/services/risk/index.ts
Labels: backend

Add migration to fix existing reasonForAccountOpening risk factor. (#6505)
  tarpon/scripts/migrations/pre-deployment/2025.03.26T14.27.15.fix-reason-for-account-opening-factor.ts
Labels: backend

UnhandledRejection: Non-Error promise rejection captured with value: Object Not Found Matching Id:8, MethodName:updat... (#6504)
  phytoplankton-console/src/app.tsx
Labels: frontend
