Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, raptor, pipeline

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

raptor:
  - raptor/**

pipeline:
  - bin/**

Reduce falsePositivesReduced percentage to a normal value (#6406)
  tarpon/src/services/rule-threshold/demo-threshold-recommendation.ts
Labels: backend

Add checklists and Sla policies to new demo data rules (#6398)
  tarpon/src/core/seed/data/rules.ts
Labels: backend

Fix Rules Recommendations (#6405)
  phytoplankton-console/src/components/OverviewToolTip/index.module.less
  phytoplankton-console/src/pages/rules/RulesTable/index.tsx
Labels: frontend

Enhance LogicBuilder styles for DATETIME and TIME widgets (#6408)
  phytoplankton-console/src/components/ui/LogicBuilder/index.module.less
Labels: frontend

Take Actual Users Hit count for a Rule Instance (#6397)
  tarpon/src/services/batch-jobs/simulation-beacon-batch-job-runner.ts
  tarpon/src/services/cases/repository.ts
Labels: backend

Dont show v2 risk factors with v8 when feature flag is not enabled (#6396)
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/index.tsx
Labels: frontend

:sparkles: Add memory profiling middleware (#6409)
  tarpon/package.json
  tarpon/scripts/esbuild.js
  tarpon/src/core/middlewares/api-memwatch-middleware.ts
  tarpon/src/core/middlewares/compose.ts
  tarpon/src/core/middlewares/consumer-memwatch-middleware.ts
  tarpon/src/core/middlewares/lambda-api-middlewares.ts
  tarpon/src/core/middlewares/lambda-consumer-middlewares.ts
  tarpon/src/core/middlewares/memwatch-middleware.ts
  tarpon/src/core/xray/index.ts
  tarpon/yarn.lock
Labels: backend

Scale up Prod Eu-2 for B4B Payments (#6414)
  lib/config/config-prod-eu-2.ts
  lib/config/config.ts
  tarpon/infra/cdktf-tarpon-stack.ts
Labels: backend, infra

Remove unused dependencies (#6413)
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend

Updates in SAR More (#6415)
  tarpon/src/services/sar/generators/MY/STR/schema.ts
Labels: backend

:zap: check "Whitelist selected hit" upon selecting FALSE_POSITIVE (#6388)
  phytoplankton-console/src/pages/case-management/AlertTable/SanctionsHitStatusChangeModal/index.tsx
Labels: frontend

Fix ConcurrentBy to process transactions and users sequentially in tarpon kinesis consumer (#6421)
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
Labels: backend

Allow load default of Corruption index in addition to FATF list (#6417)
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/RiskFactorConfigurationStep/ParametersTable/ValuesTable/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/RiskFactorConfigurationStep/ParametersTable/ValuesTable/style.module.less
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/ValuesTable/index.tsx
  phytoplankton-console/src/utils/defaultCountriesRiskLevel.ts
Labels: frontend

Fix Simulation Risk Factors Job for Demo Mode V2 (#6423)
  tarpon/src/services/simulation/repositories/simulation-task-repository.ts
Labels: backend

:bug: Fix @airbnb/node-memwatch dependency in fargate (#6424)
  tarpon/scripts/esbuild.js
Labels: backend

:zap: Convert TARPON_QUEUE_CONSUMER to a class implementation (#6422)
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
Labels: backend

Enable traces for tarponTarponQueueConsumer Function (#6427)
  tarpon/src/core/xray/index.ts
Labels: backend

Auto Generate Nango Models in Tarpon Also (#6429)
  .github/workflows/test_phyto.yml
  .github/workflows/test_tarpon.yml
  nango-integrations/freshdesk/syncs/freshdesk_tickets.ts
  nango-integrations/nango.yaml
  nango-integrations/package.json
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/TicketConversationCard/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/Tickets/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/crm-ticket-util.ts
  tarpon/.gitignore
  tarpon/.prettierignore
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/package.json
  tarpon/scripts/openapi/openapi_generate_sdk.ts
  tarpon/scripts/openapi/openapi_prepare.ts
  tarpon/scripts/sync-nango-models.ts
  tarpon/src/core/seed/data/crm-records.ts
  tarpon/src/core/seed/samplers/crm-record.ts
Labels: backend, frontend

Deploy Nango in Other regions (#6428)
  bin/utils/tarpon-deploy-stage.ts
Labels: pipeline

Fix Nango Build (#6430)
  bin/utils/tarpon-build-stage.ts
Labels: pipeline

Fix Deploy Stage in Pipeline (#6432)
  bin/utils/phytoplankton-console-deploy.ts
  bin/utils/tarpon-deploy-stage.ts
Labels: pipeline

Use Nango Connect UI for Managing Connections (#6426)
  package.json
  phytoplankton-console/build/index.js
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/locales/en-US/menu.ts
  phytoplankton-console/src/pages/settings/components/CRMSettings/freshdesk_logo.png
  phytoplankton-console/src/pages/settings/components/CRMSettings/index.tsx
  phytoplankton-console/src/pages/settings/components/CRMSettings/styles.module.less
  phytoplankton-console/src/pages/settings/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/services/crm/index.ts
  tarpon/src/services/crm/repository.ts
  tarpon/src/services/nango/index.ts
  yarn.lock
Labels: backend, frontend

Cleanup Public management API to use Handlers (#6433)
  tarpon/lib/openapi/public-management/openapi-public-management-original.yaml
  tarpon/src/lambdas/public-management-api-alert/__tests__/app.test.ts
  tarpon/src/lambdas/public-management-api-alert/app.ts
  tarpon/src/lambdas/public-management-api-case/__tests__/app.test.ts
  tarpon/src/lambdas/public-management-api-case/app.ts
  tarpon/src/lambdas/public-management-api-file-upload/app.ts
  tarpon/src/lambdas/public-management-api-rule/__tests__/app.test.ts
  tarpon/src/lambdas/public-management-api-rule/app.ts
  tarpon/src/lambdas/public-management-api-users/app.ts
  tarpon/src/services/alerts/external-alerts-management-service.ts
  tarpon/src/services/cases/external-case-management-service.ts
Labels: backend

FIX: added checks to run corn job for sar report in specified environments (#6389)
  tarpon/src/lambdas/cron-job-ten-minute/app.ts
  tarpon/src/services/sar/generators/US/SAR/index.ts
  tarpon/src/utils/helpers.ts
Labels: backend

fix deploy qa pipeline due to nango integrations (#6435)
  .github/workflows/deploy_qa.yml
  nango-integrations/package.json
  nango-integrations/yarn.lock
Labels: none

Phytoplankot deploy fix (#6437)
  package.json
  phytoplankton-console/package.json
  phytoplankton-console/yarn.lock
  yarn.lock
Labels: frontend

[Bugfix] - Update min-width for DATETIME and TIME widget styles in LogicBuilder … (#6439)
  phytoplankton-console/src/components/ui/LogicBuilder/index.module.less
Labels: frontend

Extend reverse ongoing screneing logic and fix issue (#6419)
  tarpon/src/services/batch-jobs/ongoing-screening-user-rule-batch-job-runner.ts
  tarpon/src/services/sanctions/index.ts
  tarpon/src/services/sanctions/utils.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend

Reduce batch size and limit concurrency (#6445)
  lib/config/config-prod-asia-1.ts
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/src/lambdas/mongo-db-trigger-consumer/index.ts
Labels: backend, infra

:zap: Add Entity Id field to Human Review for DJ (#6444)
  phytoplankton-console/src/components/SanctionsHitsTable/index.tsx
Labels: frontend

Turn EXEC to Command (#6441)
  tarpon/src/services/batch-jobs/optimize-clickhouse-batch-job-runner.ts
Labels: backend

Updates in Mongo Consumer (#6447)
  lib/config/config-prod-asia-1.ts
  tarpon/src/lambdas/mongo-db-trigger-consumer/index.ts
  tarpon/src/services/sanctions/repositories/sanctions-screening-details-repository.ts
Labels: backend

Move delete button to last (#6442)
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/index.tsx
Labels: frontend

FEAT(SCHEMA): Generated schema and type for CTR (#6431)
  tarpon/package.json
  tarpon/src/services/sar/generators/US/CTR/resources/EFL_CTRXBatchSchema.ts
  tarpon/src/services/sar/generators/US/CTR/resources/EFL_CTRXBatchSchema.type.ts
  tarpon/src/services/sar/generators/US/CTR/resources/EFL_CTRXBatchSchema.xsd
  tarpon/src/services/sar/generators/US/CTR/scripts/attribute-infos.ts
  tarpon/src/services/sar/generators/US/CTR/scripts/remove-redefine-block.ts
  tarpon/src/services/sar/generators/US/CTR/scripts/xml-to-json.ts
  tarpon/src/services/sar/utils/augmentations/manualSchemaManipulation.ts
  tarpon/src/utils/api-fetch.ts
  tarpon/yarn.lock
Labels: backend

Fix Nango Deployment (#6450)
  nango-integrations/freshdesk/syncs/freshdesk_tickets.ts
  nango-integrations/nango.yaml
  nango-integrations/scripts/deploy.ts
Labels: none

Fix Nango Deployment (#6451)
  nango-integrations/nango.yaml
Labels: none

Updates in Nango CLI Deployment (#6452)
  nango-integrations/freshdesk/syncs/freshdesk_tickets.ts
  nango-integrations/scripts/deploy.ts
Labels: none

Create PDF report downloads for simulation results (#6339)
  phytoplankton-console/src/components/DownloadAsPdf/DownloadAsPDF.tsx
  phytoplankton-console/src/components/charts/shared/SeriesTooltip/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/SimulationStatistics/DeltaChart/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/SimulationStatistics/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/style.module.less
  phytoplankton-console/src/pages/transactions-item/index.tsx
  phytoplankton-console/src/pages/users-item/Header/HeaderMenu.tsx
Labels: frontend

[Bugfix] - Pagination fix for sanction search (#6416)
  phytoplankton-console/src/components/ComplyAdvantageHitTable/index.tsx
  phytoplankton-console/src/pages/sanctions/search/index.tsx
  phytoplankton-console/src/utils/queries/hooks.ts
Labels: frontend

memwatch revert (#6461)
  tarpon/package.json
  tarpon/scripts/esbuild.js
  tarpon/src/core/middlewares/api-memwatch-middleware.ts
  tarpon/src/core/middlewares/compose.ts
  tarpon/src/core/middlewares/consumer-memwatch-middleware.ts
  tarpon/src/core/middlewares/lambda-api-middlewares.ts
  tarpon/src/core/middlewares/lambda-consumer-middlewares.ts
  tarpon/src/core/middlewares/memwatch-middleware.ts
  tarpon/src/core/xray/index.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/yarn.lock
Labels: backend
