Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, databricks, raptor, pipeline

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

databricks:
  - databricks/**

raptor:
  - raptor/**

pipeline:
  - bin/**

Add card present parameter in schema (#4055)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/rules-engine/v8-variables/__tests__/resources/entity-variables.json
Labels: backend

Fix Cypress tests (#4071)
  phytoplankton-console/cypress/e2e/risk-factors/create-and-delete-risk-factor.cy.ts
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/ValuesTable/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/ValuesTable/style.module.less
Labels: frontend

Dont use VPC on dev
  databricks/infra/main.ts
Labels: databricks

Fix 'sandbox is ready for testing' message (#4076)
  scripts/uat-ready.ts
Labels: none

Replace '-' with '_' in athena database names (#4067)
  databricks/Makefile
  databricks/src/athena/schema.py
  databricks/src/jobs/jobs.py
  databricks/src/tables/entity_tables.py
  databricks/src/tables/table_service.py
Labels: databricks

Add mongodb index 'alertIds' for transaction collection (#4080)
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend

Optimize migration (#4082)
  tarpon/scripts/migrations/post-deployment/2024.06.05T08.45.43.update-transaction-with-alertIds.ts
  tarpon/scripts/migrations/pre-deployment/2024.06.05T08.45.24.update-transaction-with-alertIds.ts
  tarpon/src/utils/mongodb-utils.ts
Labels: backend

V8 user rule (with optional schedule) (#4072)
  phytoplankton-console/src/components/library/SelectionGroup/index.tsx
  phytoplankton-console/src/components/library/SelectionGroup/style.module.less
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/AlertCreationDetailsStep/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/BasicDetailsStep/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/BasicDetailsStep/style.module.less
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/EntityVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/index.tsx
  phytoplankton-console/src/pages/rules/RulesTable/index.tsx
  phytoplankton-console/src/pages/rules/my-rules/index.tsx
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/index.tsx
  phytoplankton-console/src/pages/rules/utils.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/transaction-aggregation/app.ts
  tarpon/src/services/batch-jobs/__tests__/ongoing-screening-user-rule-batch-job-runner.test.ts
  tarpon/src/services/batch-jobs/ongoing-screening-user-rule-batch-job-runner.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
  tarpon/src/services/rules-engine/rule-instance-service.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/transaction-filters/filter.ts
  tarpon/src/services/rules-engine/user-filters/filter.ts
  tarpon/src/services/rules-engine/utils/__tests__/format-description.test.ts
  tarpon/src/services/rules-engine/utils/__tests__/time-utils.test.ts
  tarpon/src/services/rules-engine/utils/time-utils.ts
  tarpon/src/services/rules-engine/v8-engine/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-engine/index.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-variables/index.ts
Labels: backend, frontend

Allow to Update Features, Limits and Suspension when Production access is Disabled (#4042)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/pages/settings/components/KYCUserStatusSettings/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/templates/api/api.mustache
  tarpon/src/@types/jwt/index.ts
  tarpon/src/core/middlewares/rbac.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/services/accounts/index.ts
Labels: backend, frontend

t.match is not a function (#4081)
  phytoplankton-console/src/pages/dashboard/analysis/components/widgets/DistributionChartWidget/index.tsx
Labels: frontend

Capitalized roles for display (#4075)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/AlertCreationDetailsStep/AlertAssignedToInput/input.tsx
Labels: frontend

Add message to remind developers to disable demo mode (#4066)
  phytoplankton-console/src/pages/settings/index.tsx
Labels: frontend

Try Fixing Timeout Error in Jest (#4084)
  tarpon/src/services/users/__tests__/advanced-rule-options.test.ts
  tarpon/src/services/users/index.ts
  tarpon/src/utils/dynamodb.ts
Labels: backend

Fix Simulation Transactions and Users Extrapolation and Users Hit (#4018)
  tarpon/src/services/batch-jobs/simulation-beacon-batch-job-runner.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
Labels: backend

Rule instance minor fix/improvement (#4092)
  phytoplankton-console/src/pages/rules/my-rules/index.tsx
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/index.tsx
Labels: frontend

Update DynamoDB alarm for Dev (#4091)
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-alarms-stack.ts
Labels: backend, infra

Fix Public Management API commentId issue (#4079)
  tarpon/lib/openapi/public-management/openapi-public-management-original.yaml
  tarpon/src/lambdas/public-management-api-users/__tests__/app.test.ts
  tarpon/src/lambdas/public-management-api-users/app.ts
  tarpon/src/services/users/index.ts
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend

Update tarpon-change-mongodb-consumer (#3847)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/dynamodb/dynamodb-stream-consumer-builder.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/lambdas/transaction-events-consumer/app.ts
Labels: backend, infra, frontend

Make user/KYC update status reason mandatory (#4069)
  phytoplankton-console/src/components/Narrative/index.tsx
  phytoplankton-console/src/components/UserStatusTriggersAdvancedOptionsForm/index.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
Labels: frontend

Try upgrading package for Cannot read properties of undefined (reading '0') (#4088)
  phytoplankton-console/package.json
  phytoplankton-console/src/pages/dashboard/analysis/components/charts/Donut/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/charts/Treemap/index.tsx
  phytoplankton-console/yarn.lock
Labels: frontend

Transaction list not visible for external alerts (#4078)
  tarpon/src/services/alerts/__tests__/external-alerts-management-service.test.ts
  tarpon/src/services/alerts/external-alerts-management-service.ts
  tarpon/src/services/cases/__tests__/case-creation-service.test.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
Labels: backend

Fix lint
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
Labels: backend

Sanitise Array< .. > Types in Auto Variable Genration (#4056)
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/resources/entity-variables.json
  tarpon/src/services/rules-engine/v8-variables/utils.ts
Labels: backend

Bump react version from 18.0.0 to 18.3.1 (#4096)
  phytoplankton-console/package.json
  phytoplankton-console/yarn.lock
Labels: frontend

Fix risk levels UI (#4106)
  phytoplankton-console/src/components/library/Slider/index.tsx
  phytoplankton-console/src/pages/risk-levels/configure/RiskClassificationTable/consts.tsx
Labels: frontend

Improve Error Logging in Fargate (#4105)
  tarpon/src/core/logger/index.ts
  tarpon/src/fargate/index.ts
  tarpon/src/services/batch-jobs/simulation-risk-scoring-batch-job-runner.ts
Labels: backend

Fix user entity variable missing direction label for transaction rule (#4101)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/DefineLogicCard/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/RuleLogicBuilder/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/EntityVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/helpers.ts
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/index.tsx
  phytoplankton-console/src/pages/rules/index.tsx
Labels: frontend

Don't fallback to use payment ID if user ID is missing (#3886)
  tarpon/src/services/rules-engine/transaction-rules/__tests__/multiple-user-senders-within-time-period.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-velocity.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-volume.test.ts
  tarpon/src/services/rules-engine/v8-engine/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-engine/index.ts
Labels: backend

Add ACL for datalake bucket
  databricks/infra/main.ts
Labels: databricks

#FR-3512: Implement table scroll bar updates. (#3872)
  phytoplankton-console/src/components/library/Table/Header/Filters/index.module.less
  phytoplankton-console/src/components/library/Table/internal/helpers.tsx
  phytoplankton-console/src/global.less
Labels: frontend

[Snyk] Upgrade react-email from 2.1.2 to 2.1.3 (#4103)
  email-templates/package-lock.json
  email-templates/package.json
Labels: none

Upgrade aws-cdk-lib from 2.140.0 to 2.142.1
  package.json
  yarn.lock
Labels: none

[Snyk] Upgrade aws-cdk-lib from 2.141.0 to 2.142.1 (#4090)
  databricks/infra/package-lock.json
  databricks/infra/package.json
Labels: databricks

Upgrade aws-cdk-lib from 2.140.0 to 2.142.1
  lib/package.json
  lib/yarn.lock
Labels: none

Make Public APIs for Alert and Case status change (#4011)
  databricks/infra/main.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-public-management-augmentor.ts
  tarpon/lib/openapi/public-management/openapi-public-management-original.yaml
  tarpon/src/lambdas/public-management-api-alert/__tests__/app.test.ts
  tarpon/src/lambdas/public-management-api-alert/app.ts
  tarpon/src/lambdas/public-management-api-case/__tests__/app.test.ts
  tarpon/src/lambdas/public-management-api-case/app.ts
  tarpon/src/services/alerts/__tests__/external-alerts-management-service.test.ts
  tarpon/src/services/alerts/external-alerts-management-service.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/cases/__tests__/case-management-service.test.ts
  tarpon/src/services/cases/cases-alerts-transformer.ts
  tarpon/src/services/cases/external-case-management-service.ts
  tarpon/src/services/cases/index.ts
Labels: backend, databricks

Validate openapi schemas and change _3dsDone to 3dsDone (#4114)
  phytoplankton-console/src/pages/risk-levels/risk-factors/ParametersTable/consts.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/package.json
  tarpon/scripts/migrations/post-deployment/2024.06.05T08.45.43.update-transaction-with-alertIds.ts
  tarpon/scripts/migrations/post-deployment/2024.06.11T16.17.50.fix-3dsDone.ts
  tarpon/scripts/migrations/pre-deployment/2024.06.11T16.15.21.fix-3dsDone.ts
  tarpon/scripts/openapi/openapi_prepare.ts
  tarpon/src/services/risk-scoring/__tests__/3ds-done-risk-factor.test.ts
  tarpon/src/services/risk-scoring/derived-risk-factors/3dsDone.ts
  tarpon/src/test-utils/pulse-test-utils.ts
  tarpon/yarn.lock
Labels: backend, frontend

Handle rule analytics empty status (#4108)
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/RuleInstanceAnalytics.tsx
  tarpon/src/services/rules-engine/rule-instance-service.ts
Labels: backend, frontend

[Snyk] Upgrade @react-email/components from 0.0.17 to 0.0.18 (#4113)
  email-templates/package-lock.json
  email-templates/package.json
Labels: none

Fix english on shadow rules model (#4111)
  phytoplankton-console/src/pages/rules/RuleConfiguration/components/RuleModeModal/index.tsx
Labels: frontend

Handle access denied error (#4123)
  tarpon/src/services/case-alerts-common/index.ts
Labels: backend
