Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, raptor

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - infra/**

frontend:
  - phytoplankton-console/**

raptor:
  - raptor/**

changing values while scrolling in "Expected Transactions Limit" fixed (#2015)
  phytoplankton-console/src/pages/users-item/UserDetails/BusinessUserDetails/TransactionLimits/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/BusinessUserDetails/TransactionLimits/styles.module.less
Labels: frontend

R-14 Added High Risk Countries Rules (#2020)
  tarpon/src/services/rules-engine/transaction-rules/__tests__/high-risk-countires.test.ts
  tarpon/src/services/rules-engine/transaction-rules/high-risk-countries.ts
  tarpon/src/services/rules-engine/transaction-rules/index.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
Labels: backend

Display Flagright (or branding) logo for display picture of flagright system (#2018)
  phytoplankton-console/src/branding/flagright-no-text.svg
  phytoplankton-console/src/components/Avatar/index.module.less
  phytoplankton-console/src/components/Avatar/index.tsx
  phytoplankton-console/src/components/CommentsCard/Comment/index.tsx
Labels: frontend

Fixed hardcoded company logo (#2021)
  phytoplankton-console/src/components/Avatar/index.tsx
Labels: frontend

Public API: Make postcode optional in Address (#2022)
  tarpon/lib/openapi/public/openapi-public-original.yaml
Labels: backend

Console API: checklist template CRUD (#2008)
  tarpon/lib/constants.ts
  tarpon/lib/lambdas.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/core/seed/data/auditlogs.ts
  tarpon/src/core/seed/data/users.ts
  tarpon/src/core/seed/samplers/users.ts
  tarpon/src/lambdas/console-api-checklist-template/app.ts
  tarpon/src/services/checklist-templates/index.ts
  tarpon/src/services/checklist-templates/repositories/checklist-templates-repository.ts
  tarpon/src/utils/mongoDBUtils.ts
Labels: backend

R 27 Transactions Volume in two periods (#1993)
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/story.tsx
  tarpon/scripts/migrations/post-deployment/2023.08.14T10.33.37.remove-average-threshold.ts
  tarpon/scripts/migrations/pre-deployment/2023.08.14T10.28.18.migrate-average-threshold-to-initial-threshold.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/total-transactions-volume-exceeds.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-average-amount-exceeded.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-average-daily-amount-exceeded.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-average-number-exceeded.test.ts
  tarpon/src/services/rules-engine/transaction-rules/index.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/transaction-rules/total-transactions-volume-exceeds.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-average-daily-amount-exceeded.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-average-number-exceeded.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-exceeded-base.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
Labels: backend, frontend

Fix console crash in QA env (#2025)
  phytoplankton-console/src/@types/globals.d.ts
  phytoplankton-console/src/components/AppWrapper/Providers/FlagrightUserProvider.tsx
  phytoplankton-console/src/index.html
Labels: frontend

#FR-2804: Handle Partials Alerts and Cases Escalation for review flow (#1979)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/components/AlertsStatusChangeButton/AlertsStatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/AlertsStatusChangeButton/index.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/ExpandedRowRenderer/RuleAndCaseDetails/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/alerts/index.ts
Labels: backend, frontend

Fix the false positive alerts (#2013)
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/core/seed/data/transactions.ts
Labels: backend

FinCEN: Remove hardcoded demo data (#2017)
  tarpon/src/services/sar/generators/US/SAR/__tests__/expected-test-output.xml
  tarpon/src/services/sar/generators/US/SAR/__tests__/index.test.ts
  tarpon/src/services/sar/generators/US/SAR/index.ts
Labels: backend

Fr 2627 activity log on case and user details (#1989)
  phytoplankton-console/src/components/ActivityCard/Filters/ActivityByFilterButton/index.tsx
  phytoplankton-console/src/components/ActivityCard/Filters/AlertIdSearchFIlter/index.tsx
  phytoplankton-console/src/components/ActivityCard/Filters/StatusFilterButton/index.tsx
  phytoplankton-console/src/components/ActivityCard/LogCard/index.module.less
  phytoplankton-console/src/components/ActivityCard/LogCard/index.tsx
  phytoplankton-console/src/components/ActivityCard/LogContainer/index.module.less
  phytoplankton-console/src/components/ActivityCard/LogContainer/index.tsx
  phytoplankton-console/src/components/ActivityCard/LogItem/index.module.less
  phytoplankton-console/src/components/ActivityCard/LogItem/index.tsx
  phytoplankton-console/src/components/ActivityCard/ScopeSelector/index.tsx
  phytoplankton-console/src/components/ActivityCard/helpers.tsx
  phytoplankton-console/src/components/ActivityCard/index.module.less
  phytoplankton-console/src/components/ActivityCard/index.tsx
  phytoplankton-console/src/pages/auditlog/components/AuditLog/AuditLog.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/CommentsCard/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/pages/users-item/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-audit-log/app.ts
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/console-api-case/services/case-alerts-audit-log-service.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/audit-log/repositories/auditlog-repository.ts
Labels: backend, frontend

cypress tests fix for user comments after change of Activity log (#2026)
  phytoplankton-console/cypress/e2e/users/users-comment.cy.ts
Labels: frontend

Audit log log update (#2028)
  tarpon/src/services/audit-log/index.ts
Labels: backend

Revert "Fr 2627 activity log on case and user details" (#2029)
  phytoplankton-console/src/components/ActivityCard/Filters/ActivityByFilterButton/index.tsx
  phytoplankton-console/src/components/ActivityCard/Filters/AlertIdSearchFIlter/index.tsx
  phytoplankton-console/src/components/ActivityCard/Filters/StatusFilterButton/index.tsx
  phytoplankton-console/src/components/ActivityCard/LogCard/index.module.less
  phytoplankton-console/src/components/ActivityCard/LogCard/index.tsx
  phytoplankton-console/src/components/ActivityCard/LogContainer/index.module.less
  phytoplankton-console/src/components/ActivityCard/LogContainer/index.tsx
  phytoplankton-console/src/components/ActivityCard/LogItem/index.module.less
  phytoplankton-console/src/components/ActivityCard/LogItem/index.tsx
  phytoplankton-console/src/components/ActivityCard/ScopeSelector/index.tsx
  phytoplankton-console/src/components/ActivityCard/helpers.tsx
  phytoplankton-console/src/components/ActivityCard/index.module.less
  phytoplankton-console/src/components/ActivityCard/index.tsx
  phytoplankton-console/src/pages/auditlog/components/AuditLog/AuditLog.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/CommentsCard/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/pages/users-item/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-audit-log/app.ts
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/console-api-case/services/case-alerts-audit-log-service.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/audit-log/repositories/auditlog-repository.ts
Labels: backend, frontend

Revert "cypress tests fix for user comments after change of Activity log" (#2030)
  phytoplankton-console/cypress/e2e/users/users-comment.cy.ts
Labels: frontend

Increase cron job lambda memory to 1G to all envs (#2036)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/configs/config-dev.ts
  tarpon/lib/configs/config-prod-asia-1.ts
  tarpon/lib/configs/config-prod-asia-2.ts
  tarpon/lib/configs/config-prod-au-1.ts
  tarpon/lib/configs/config-prod-eu-1.ts
  tarpon/lib/configs/config-prod-eu-2.ts
  tarpon/lib/configs/config-prod-us-1.ts
  tarpon/lib/configs/config-sandbox.ts
  tarpon/lib/configs/config.ts
Labels: backend

Transaction Aggregation Handler: Update rule aggregation of a user (Pilot) (#1968)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/constants.ts
  tarpon/lib/lambdas.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/transaction-aggregation/app.ts
  tarpon/src/services/rules-engine/repositories/aggregation-repository.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-velocity.test.ts
  tarpon/src/services/rules-engine/transaction-rules/aggregation-rule.ts
  tarpon/src/services/rules-engine/transaction-rules/high-traffic-between-same-parties.ts
  tarpon/src/services/rules-engine/transaction-rules/high-traffic-volume-between-same-users.ts
  tarpon/src/services/rules-engine/transaction-rules/high-unsuccessfull-state-rate.ts
  tarpon/src/services/rules-engine/transaction-rules/multiple-senders-within-time-period-base.ts
  tarpon/src/services/rules-engine/transaction-rules/same-payment-details.ts
  tarpon/src/services/rules-engine/transaction-rules/same-user-using-too-many-cards.ts
  tarpon/src/services/rules-engine/transaction-rules/sender-location-changes-frequency.ts
  tarpon/src/services/rules-engine/transaction-rules/too-many-users-for-same-card.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-exceed-past-period.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-exceeded-base.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-outflow-inflow-volume.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-pattern-percentage-base.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-pattern-velocity-base.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-velocity.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-volume.ts
Labels: backend

Fix Rules V2 Engine SQS Queue (#2038)
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend

Business users should also have consumer segment filter (#2031)
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/StandardFiltersStep/index.tsx
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/rules-engine/filters.ts
  tarpon/src/services/rules-engine/user-filters/__tests__/user-business-consumer-segment.test.ts
  tarpon/src/services/rules-engine/user-filters/user-business-consumer-segment.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
Labels: backend, frontend

Revert "Revert "Fr 2627 activity log on case and user details"" (#2034)
  phytoplankton-console/cypress/e2e/users/users-comment.cy.ts
  phytoplankton-console/src/components/ActivityCard/Filters/ActivityByFilterButton/index.tsx
  phytoplankton-console/src/components/ActivityCard/Filters/AlertIdSearchFIlter/index.tsx
  phytoplankton-console/src/components/ActivityCard/Filters/StatusFilterButton/index.tsx
  phytoplankton-console/src/components/ActivityCard/LogCard/index.module.less
  phytoplankton-console/src/components/ActivityCard/LogCard/index.tsx
  phytoplankton-console/src/components/ActivityCard/LogContainer/index.module.less
  phytoplankton-console/src/components/ActivityCard/LogContainer/index.tsx
  phytoplankton-console/src/components/ActivityCard/LogItem/index.module.less
  phytoplankton-console/src/components/ActivityCard/LogItem/index.tsx
  phytoplankton-console/src/components/ActivityCard/ScopeSelector/index.tsx
  phytoplankton-console/src/components/ActivityCard/helpers.tsx
  phytoplankton-console/src/components/ActivityCard/index.module.less
  phytoplankton-console/src/components/ActivityCard/index.tsx
  phytoplankton-console/src/pages/auditlog/components/AuditLog/AuditLog.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/CommentsCard/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/pages/users-item/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2023.08.21T11.03.57.remove-duplicate-activity-log.ts
  tarpon/src/lambdas/console-api-audit-log/app.ts
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/console-api-case/services/case-alerts-audit-log-service.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/audit-log/repositories/auditlog-repository.ts
Labels: backend, frontend

Optimise bulk updating alert status (#2039)
  tarpon/src/services/alerts/index.ts
Labels: backend

remove redundant code blocks which produces duplicate logs (#2042)
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
Labels: backend

Fix: Time-out in entity-linking lambda (#2043)
  tarpon/src/services/linker/index.ts
Labels: backend

Public API SDK docs (#2044)
  tarpon/lib/openapi/public/docs/api-reference.md
  tarpon/lib/openapi/public/docs/beacon-transaction-monitoring.md
  tarpon/lib/openapi/public/docs/flagright-overview.md
  tarpon/lib/openapi/public/docs/pulse-risk-profiling.md
  tarpon/lib/openapi/public/docs/sdk.md
  tarpon/lib/openapi/public/docs/sonar-faq.md
  tarpon/lib/openapi/public/docs/sonar.md
  tarpon/lib/openapi/public/docs/using-modules-independently.md
  tarpon/lib/openapi/public/docs/why-risk-based-transaction-monitoring.md
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/lib/openapi/public/toc.json
Labels: backend

Increase kinesis lambda iterator age alarm threshold to 30min for Dev env (#2046)
  tarpon/infra/cdk-utils/cdk-cw-alarms-utils.ts
Labels: backend

Remove redundant 'with' (#2047)
  tarpon/lib/openapi/public/docs/sdk.md
Labels: backend

Add Transactions in a Manual Case (#2019)
  phytoplankton-console/package.json
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.module.less
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTableWrapper.tsx
  phytoplankton-console/src/pages/case-management/helpers.tsx
  phytoplankton-console/src/pages/case-management/types.tsx
  phytoplankton-console/src/pages/users-item/Header/index.tsx
  phytoplankton-console/src/pages/users-item/ManualCaseCreationButton/index.tsx
  phytoplankton-console/src/pages/users-item/ManualCaseCreationModal/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/helpers.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/package-lock.json
  tarpon/package.json
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/console-api-case/services/case-service.ts
  tarpon/src/services/rules-engine/repositories/case-repository.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
Labels: backend, frontend

Update KRS DRS on user attribute change (#1984)
  tarpon/src/services/risk-scoring/risk-scoring-service.ts
  tarpon/src/services/users/index.ts
Labels: backend

Use a hard-coded list of tenants when running migrations locally (#2049)
  tarpon/lib/configs/config-local.ts
  tarpon/scripts/migrations/migrator.ts
  tarpon/scripts/migrations/utils/tenant.ts
Labels: backend

Create/Update/Delete investigation checklist templates (#2024)
  phytoplankton-console/package.json
  phytoplankton-console/src/components/Authorized/index.tsx
  phytoplankton-console/src/components/library/Button/index.tsx
  phytoplankton-console/src/components/library/CrudEntitiesTable/index.tsx
  phytoplankton-console/src/components/library/CrudEntitiesTable/story.tsx
  phytoplankton-console/src/components/library/Drawer/index.tsx
  phytoplankton-console/src/components/library/DrawerStepperJsonSchemaForm/index.tsx
  phytoplankton-console/src/components/library/DrawerStepperJsonSchemaForm/story.tsx
  phytoplankton-console/src/components/library/EmptyDataInfo/index.tsx
  phytoplankton-console/src/components/library/EmptyDataInfo/story.tsx
  phytoplankton-console/src/components/library/Modal/index.tsx
  phytoplankton-console/src/components/library/StepButtons/index.tsx
  phytoplankton-console/src/components/library/StepButtons/story.tsx
  phytoplankton-console/src/components/library/Stepper/index.tsx
  phytoplankton-console/src/components/ui/Card/LoadingCard.tsx
  phytoplankton-console/src/components/ui/Card/index.tsx
  phytoplankton-console/src/components/ui/SidebarPanel/index.tsx
  phytoplankton-console/src/components/ui/Typography/index.module.less
  phytoplankton-console/src/components/ui/colors.ts
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/ArrayPropertyInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/ObjectPropertyInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/SimplePropertyInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/index.tsx
  phytoplankton-console/src/pages/settings/components/ChecklistTemplatesSettings.tsx
  phytoplankton-console/src/pages/settings/components/SettingsContainer.tsx
  phytoplankton-console/src/pages/settings/index.tsx
  phytoplankton-console/src/pages/storybook/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/index.tsx
  phytoplankton-console/yarn.lock
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-console-api-stack.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-checklist-template/app.ts
  tarpon/src/services/checklist-templates/index.ts
  tarpon/src/services/checklist-templates/repositories/checklist-templates-repository.ts
Labels: backend, frontend

Fix regression of 0252c64 (#2050)
  tarpon/src/services/risk-scoring/risk-scoring-service.ts
  tarpon/src/services/users/index.ts
Labels: backend

Enable setting checklist template for a rule instance (#2035)
  phytoplankton-console/src/components/library/Form/types.ts
  phytoplankton-console/src/components/library/Select/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/RuleConfigurationForm/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/BasicDetailsStep/index.tsx
  phytoplankton-console/src/pages/rules/utils.ts
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/checklist-templates/repositories/checklist-templates-repository.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
Labels: backend, frontend

#FR-2962: New dashboard widget component (#2033)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/DemoModeSwitch/index.tsx
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/UserPanel/index.tsx
  phytoplankton-console/src/components/AppWrapper/Menu/Header/index.tsx
  phytoplankton-console/src/components/AppWrapper/Menu/index.tsx
  phytoplankton-console/src/components/library/Widget/index.module.less
  phytoplankton-console/src/components/library/Widget/index.tsx
  phytoplankton-console/src/components/library/Widget/story.tsx
  phytoplankton-console/src/components/library/WidgetGrid/index.module.less
  phytoplankton-console/src/components/library/WidgetGrid/index.tsx
  phytoplankton-console/src/components/library/WidgetGrid/story.tsx
  phytoplankton-console/src/pages/dashboard/analysis/index.tsx
  phytoplankton-console/src/pages/storybook/index.tsx
  phytoplankton-console/src/utils/lang.ts
Labels: frontend

Get api key on console (#2051)
  phytoplankton-console/src/components/SuperAdminPanel/index.tsx
  phytoplankton-console/src/pages/settings/components/ApiKeysSettings/index.module.less
  phytoplankton-console/src/pages/settings/components/ApiKeysSettings/index.tsx
  phytoplankton-console/src/pages/settings/index.tsx
  tarpon/.gitignore
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-console-api-stack.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/package.json
  tarpon/scripts/migrations/post-deployment/2023.08.21T22.09.56.api-key-view-count.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/services/tenants/index.ts
  tarpon/src/utils/secrets-manager.ts
Labels: backend, frontend

Fix description in Tenant creation
  phytoplankton-console/src/components/SuperAdminPanel/CreateTenantModal/index.tsx
Labels: frontend

Risk score info is showing TRS by default fix (#2007)
  phytoplankton-console/src/components/ui/AIRiskDisplay/index.tsx
  phytoplankton-console/src/components/ui/ActionRiskDisplay/index.tsx
  phytoplankton-console/src/components/ui/RiskScoreDisplay/DetailsModal/index.module.less
  phytoplankton-console/src/components/ui/RiskScoreDisplay/DetailsModal/index.tsx
  phytoplankton-console/src/components/ui/RiskScoreDisplay/index.tsx
  phytoplankton-console/src/components/ui/RiskScoreDisplay/story.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/DynamicRiskDisplay.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/KycRiskDisplay/index.tsx
Labels: frontend

Remove api key id
  phytoplankton-console/src/pages/settings/components/ApiKeysSettings/index.tsx
Labels: frontend

QA cases view (#2023)
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/TransactionsAndComments/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/QaTable/index.tsx
  phytoplankton-console/src/pages/case-management/common.ts
  phytoplankton-console/src/pages/case-management/components/ScopeSelector/index.tsx
  phytoplankton-console/src/pages/case-management/components/StatusButtons/index.tsx
  phytoplankton-console/src/pages/case-management/index.module.less
  phytoplankton-console/src/pages/case-management/index.tsx
  phytoplankton-console/src/utils/rules.ts
  tarpon/init_local_db/data/samplers/cases.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/seed/mongo.ts
  tarpon/src/core/seed/samplers/accounts.ts
  tarpon/src/core/seed/samplers/cases.ts
  tarpon/src/services/rules-engine/repositories/alerts-repository.ts
Labels: backend, frontend

Update API view messaging
  phytoplankton-console/src/pages/settings/components/ApiKeysSettings/index.tsx
Labels: frontend
