Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, raptor, pipeline

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

raptor:
  - raptor/**

pipeline:
  - bin/**

FEATURE: added functionality to toggle brute force account blocking from tenant settings, added migration for pnb to default it to true (#5782)
  phytoplankton-console/src/pages/settings/components/SecuritySettings.tsx
  tarpon/infra/auth0/cdktf-auth0-resources.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2025.01.12T09.06.18.pnb-brute-force-blocking.ts
  tarpon/src/lambdas/incoming-webhooks/app.ts
Labels: backend, infra, frontend

FIX: formated large number with comma on analytic page (#5823)
  phytoplankton-console/src/pages/dashboard/analysis/components/widgets/OverviewCard/OverviewCardSection/index.tsx
  phytoplankton-console/src/utils/number.ts
Labels: frontend

fix yarn tsc for security settings (#5853)
  phytoplankton-console/src/pages/settings/components/SecuritySettings.tsx
Labels: frontend

OPTIMIZATION: Sla batch job optimation, to run during non working hours (#5662)
  tarpon/src/lambdas/cron-job-ten-minute/app.ts
  tarpon/src/utils/__tests__/slaScheduler.test.ts
  tarpon/src/utils/sla-scheduler.ts
Labels: backend

UI-FEATURE: Collapesed tenant deletion info by default (#5801)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/components/library/ExpandIcon/index.tsx
  phytoplankton-console/src/components/library/Label/index.tsx
  phytoplankton-console/src/components/library/Label/style.module.less
  tarpon/src/services/tenants/index.ts
Labels: backend, frontend

Migrate the existing risk factors dynamodb records to the new partition key (#5849)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/services/routing/index.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/cross-tenant-query.ts
  tarpon/scripts/migrations/pre-deployment/2025.01.19T13.46.29.intialise-risk-factor-in-dynamo.ts
  tarpon/scripts/migrations/pre-deployment/2025.01.19T22.44.08.rename-sales-risk-scoring.ts
  tarpon/src/core/seed/mongo.ts
  tarpon/src/lambdas/transaction-aggregation/app.ts
  tarpon/src/services/batch-jobs/rule-pre-aggregation-batch-job-runner.ts
  tarpon/src/services/risk-scoring/risk-factors/index.ts
  tarpon/src/services/risk-scoring/risk-factors/types.ts
  tarpon/src/services/risk-scoring/risk-factors/user/customer-type.ts
  tarpon/src/services/risk-scoring/risk-factors/user/directors-country-of-nationality.ts
  tarpon/src/services/risk-scoring/risk-factors/user/shareholders-country-of-nationality.ts
  tarpon/src/services/risk/index.ts
  tarpon/src/services/tenants/index.ts
Labels: backend, frontend

Rename checklist details (#5847)
  phytoplankton-console/cypress/e2e/rules/checklist-crud.cy.ts
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/RuleConfigurationForm/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/steps/BasicDetailsStep/index.tsx
Labels: frontend

Remove axios dependency (#5858)
  phytoplankton-console/package.json
  phytoplankton-console/src/utils/file-uploader.tsx
  phytoplankton-console/yarn.lock
Labels: frontend

Fix: Screening hit data comparison view missing user details (#5825)
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/SanctionsComparison/__tests__/helpers.test.ts
  phytoplankton-console/src/components/SanctionsHitsTable/SearchResultDetailsDrawer/SanctionsComparison/helpers.tsx
Labels: frontend

FIX: SLA policy is missing Flagright logo (#5860)
  phytoplankton-console/src/pages/case-management/components/ConsoleUserAvatar/index.tsx
Labels: frontend

Api and schema created for freshdesk crm ticket (#5764)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/services/crm/index.ts
  tarpon/src/services/nango/index.ts
  tarpon/src/services/nango/repository.ts
  tarpon/src/utils/clickhouse/definition.ts
Labels: backend

Add extra input to E2E stage (#5857)
  bin/cdk-orca-pipeline-stack.ts
Labels: pipeline

Improve error messaging on console (#5855)
  phytoplankton-console/build/openapi_generate_templates/overrides/api/exception.mustache
  phytoplankton-console/src/utils/lang.ts
Labels: frontend

FIX: update aws region time zone mappings. (#5859)
  tarpon/src/utils/__tests__/slaScheduler.test.ts
  tarpon/src/utils/sla-scheduler.ts
Labels: backend

Fix: correct tenant id used (#5861)
  tarpon/src/lambdas/incoming-webhooks/app.ts
Labels: backend

Scalable approach for SLA status refresh (#5592)
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/lambdas/mongo-update-consumer/app.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/alerts/repository.ts
  tarpon/src/services/batch-jobs/sla-status-refresh-batch-job-runner.ts
  tarpon/src/services/cases/__tests__/case-service.test.ts
  tarpon/src/services/cases/case-creation-service.ts
  tarpon/src/services/cases/index.ts
  tarpon/src/services/sla/sla-service.ts
  tarpon/src/utils/mongodb-utils.ts
Labels: backend

Revert E2E pipeline changes (#5869)
  bin/cdk-orca-pipeline-stack.ts
  phytoplankton-console/cypress-run.js
  tarpon/scripts/migrations/migrator.ts
  tarpon/src/core/seed/index.ts
Labels: backend, frontend, pipeline

Fix array filter (#5874)
  tarpon/src/services/alerts/index.ts
Labels: backend

Fix - Demo data seed for CRM summary and removed number of simulations left (#5866)
  phytoplankton-console/src/components/SimulationPageWrapper/index.tsx
  tarpon/src/core/seed/data/crm.ts
Labels: backend, frontend

Fix Clickhouse query for User search in Cases (#5870)
  tarpon/src/services/users/index.ts
Labels: backend

Ongoing Screening Batch Job User Rule Save Executed and Hit Rules (#5872)
  tarpon/src/services/batch-jobs/ongoing-screening-user-rule-batch-job-runner.ts
Labels: backend

Don't Update _id in Mongo Updates (#5875)
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend

_id was not find when there was no actual update (#5878)
  tarpon/src/utils/mongodb-utils.ts
Labels: backend

Add null check while calulating jobs (#5879)
  tarpon/src/services/sla/sla-service.ts
Labels: backend

Setup Internal Proxy for Webhooks (#5871)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/lambdas/incoming-webhooks/app.ts
Labels: backend

Fix Brute Force Account Blocking (#5882)
  tarpon/src/lambdas/incoming-webhooks/app.ts
  tarpon/src/services/accounts/index.ts
Labels: backend

Update Case View Audit Log to not fetch cases twice (#5880)
  tarpon/src/services/cases/case-alerts-report-audit-log-service.ts
  tarpon/src/services/cases/index.ts
Labels: backend

Update Prod Asia - 3 Better uptime URL (#5883)
  lib/config/config-prod-asia-3.ts
Labels: none

Short circuit mongo update consumer locally (#5888)
  tarpon/src/lambdas/mongo-update-consumer/app.ts
  tarpon/src/utils/mongodb-utils.ts
Labels: backend

UI: showed count of login attemps before account blocking (#5887)
  phytoplankton-console/src/pages/settings/components/SecuritySettings.tsx
  phytoplankton-console/src/utils/user-utils.tsx
Labels: frontend

Fix order of feature flags in super admin drop down menu (#5804)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
Labels: frontend

Use <TimestampDisplay> component in Team table (#5865)
  phytoplankton-console/src/pages/accounts/Team/index.tsx
  tarpon/src/lambdas/console-api-user/app.ts
Labels: backend, frontend

FEATURE: narrowed down report status based on jurisdiction (#5818)
  phytoplankton-console/src/pages/reports/components/ReportsTable/ReportStatusChangeModal.tsx
  phytoplankton-console/src/pages/reports/components/ReportsTable/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/seed/data/reports.ts
  tarpon/src/core/seed/samplers/report.ts
  tarpon/src/lambdas/console-api-sar/app.ts
  tarpon/src/services/sar/service.ts
Labels: backend, frontend

REFACTOR: renamed button label to 'Add alternate name' in SAR submission form (#5850)
  tarpon/src/core/seed/raw-data/report.ts
  tarpon/src/core/seed/samplers/report.ts
  tarpon/src/services/sar/generators/US/SAR/index.ts
  tarpon/src/services/sar/generators/US/SAR/schema.ts
Labels: backend

Menu button should be the same height as other buttons (#5862)
  phytoplankton-console/src/components/library/Button/index.module.less
  phytoplankton-console/src/pages/case-management-item/components/Header/StatusChangeMenu/index.tsx
  phytoplankton-console/src/pages/case-management-item/components/Header/StatusChangeMenu/style.module.less
  phytoplankton-console/src/pages/users-item/Header/HeaderMenu.tsx
  phytoplankton-console/src/pages/users-item/Header/index.module.less
Labels: frontend

Fix example from Flagright API (#5894)
  tarpon/lib/openapi/public/openapi-public-original.yaml
Labels: backend

Update transaction event and user event (#5892)
  phytoplankton-console/src/pages/auditlog/components/AuditLogModal/index.tsx
  phytoplankton-console/src/pages/auditlog/components/TableTemplate/index.tsx
  phytoplankton-console/src/pages/transactions-item/TransactionEventsTable/index.tsx
  tarpon/src/services/users/index.ts
Labels: backend, frontend

Added duplicate mode for custom risk factors (#5692)
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/BasicDetailsStep/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskFactorConfiguration/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskItem/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/components/ActionMenu/index.tsx
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/components/ActionMenu/style.module.less
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/src/core/seed/data/counter.ts
  tarpon/src/lambdas/console-api-pulse/app.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
  tarpon/src/services/risk/index.ts
Labels: backend, frontend

DEMO-DATA: fix for ontology, unique address, contact number and emails (#5881)
  tarpon/src/core/seed/data/users.ts
  tarpon/src/core/seed/samplers/address.ts
  tarpon/src/core/seed/samplers/users.ts
Labels: backend

Get rid of GOOGLE_SSO stale feature flag (#5897)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Labels: backend, frontend
