Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, raptor

changed the reports label to SAR (#1834)
  phytoplankton-console/src/locales/en-US/menu.ts
  phytoplankton-console/src/pages/reports/components/ReportsTable/index.tsx
Labels: frontend

#FR-2646: Add attachments step to SAR (#1796)
  phytoplankton-console/build/index.js
  phytoplankton-console/src/components/CommentEditor/index.tsx
  phytoplankton-console/src/components/CommentsCard/Comment/index.tsx
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/AttachmentsStep/index.tsx
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/IndicatorsStep/index.tsx
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/TransactionStep/index.tsx
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/VersionHistory/index.tsx
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/index.tsx
  phytoplankton-console/src/components/Sar/SarReportDrawer/index.tsx
  phytoplankton-console/src/components/files/FilesList.tsx
  phytoplankton-console/src/components/files/FilesList/delete-icon.react.svg
  phytoplankton-console/src/components/files/FilesList/index.tsx
  phytoplankton-console/src/components/files/FilesList/story.tsx
  phytoplankton-console/src/components/files/FilesList/styles.module.less
  phytoplankton-console/src/components/ui/FilesDraggerInput/icon.react.svg
  phytoplankton-console/src/components/ui/FilesDraggerInput/index.module.less
  phytoplankton-console/src/components/ui/FilesDraggerInput/index.tsx
  phytoplankton-console/src/components/ui/FilesDraggerInput/story.tsx
  phytoplankton-console/src/components/ui/FilesInput/index.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
  phytoplankton-console/src/pages/reports/components/ReportsTable/index.module.less
  phytoplankton-console/src/pages/reports/components/ReportsTable/index.tsx
  phytoplankton-console/src/pages/reports/index.tsx
  phytoplankton-console/src/pages/storybook/index.tsx
  phytoplankton-console/src/services/routing/index.ts
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/sar/repositories/report-repository.ts
Labels: backend, frontend

Fix Status Modal Cypress (#1839)
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
Labels: frontend

Fix cases-escalate-test.cy.ts sometimes fail (#1844)
  phytoplankton-console/src/pages/case-management/components/AlertsStatusChangeButton/AlertsStatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/CasesStatusChangeButton/CasesStatusChangeModal.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
Labels: frontend

FinCEN: Add enum descriptions (#1845)
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/schema-utils.ts
  tarpon/src/services/sar/generators/US/SAR/resources/EFL_SARXBatchSchema.ts
  tarpon/src/services/sar/generators/US/SAR/resources/EFL_SARXBatchSchema.type.ts
  tarpon/src/services/sar/generators/US/SAR/scripts/attribute-infos.ts
  tarpon/src/services/sar/generators/US/SAR/scripts/xml-to-json.ts
Labels: backend, frontend

Fix reason modal not showing when sending back to REOPENED status (#1847)
  phytoplankton-console/src/pages/case-management/components/AlertsStatusChangeButton/index.tsx
  phytoplankton-console/src/pages/case-management/components/CasesStatusChangeButton/index.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
Labels: frontend

Fix Some edge Cases in review Flow Error Occurence (#1843)
  tarpon/src/lambdas/console-api-case/services/case-service.ts
  tarpon/src/services/alerts/index.ts
Labels: backend

Heap - App id set according to environment (#1846)
  phytoplankton-console/build/index.js
  phytoplankton-console/config/config.dev-user.json
  phytoplankton-console/config/config.dev.json
  phytoplankton-console/config/config.local.json
  phytoplankton-console/config/config.prod.json
  phytoplankton-console/config/config.sandbox.json
  phytoplankton-console/src/@types/globals.d.ts
  phytoplankton-console/src/index.html
Labels: frontend

Fix startingDelay (#1849)
  tarpon/src/services/metrics/sheets-api-usage-metrics-service.ts
Labels: backend

Fix Flagright System User Bug (#1850)
  tarpon/scripts/migrations/post-deployment/2023.07.27T20.25.50.fix-issue-in-alerts-closed.ts
  tarpon/src/lambdas/console-api-case/services/__tests__/case-service.test.ts
  tarpon/src/services/alerts/index.ts
Labels: backend

Save ‘reason' to transaction event (#1819)
  tarpon/src/services/rules-engine/rules-engine-service.ts
Labels: backend

Heap env id corrected for prod (#1854)
  phytoplankton-console/config/config.prod.json
Labels: frontend

Fix SAR report table pagination (#1838)
  phytoplankton-console/src/pages/reports/components/ReportsTable/index.tsx
  phytoplankton-console/src/pages/reports/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/src/services/sar/repositories/report-repository.ts
Labels: backend, frontend

Reimplement CRM Integrations (#1853)
  phytoplankton-console/src/components/SuperAdminPanel/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/ui-settings.ts
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/CRMCommunicationCard/GetFormatedDate.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/CRMCommunicationCard/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/Comments/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/Emails/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/Notes/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/ScopeSelector/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/Summary/Highlights/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/Summary/Overview/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/Summary/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/Tasks/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/index.tsx
  phytoplankton-console/src/pages/users-item/index.tsx
  phytoplankton-console/src/pages/users-item/ui-settings.ts
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/package-lock.json
  tarpon/package.json
  tarpon/src/core/seed/data/crm.ts
  tarpon/src/core/seed/mongo.ts
  tarpon/src/core/seed/samplers/users.ts
  tarpon/src/lambdas/console-api-user/__tests__/app.test.ts
  tarpon/src/lambdas/console-api-user/app.ts
  tarpon/src/services/crm/index.ts
  tarpon/src/services/salesforce/index.ts
  tarpon/src/utils/mongoDBUtils.ts
Labels: backend, frontend

Fix display checked transactions (#1858)
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/DisplayCheckedTransactions/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
Labels: backend, frontend

Improve JSON-schema generation: remove needless oneOf wrappers (#1851)
  tarpon/src/services/sar/generators/US/SAR/resources/EFL_SARXBatchSchema.ts
  tarpon/src/services/sar/generators/US/SAR/resources/EFL_SARXBatchSchema.type.ts
  tarpon/src/services/sar/generators/US/SAR/scripts/augmentations/removeUnnecessaryOneOf.ts
  tarpon/src/services/sar/generators/US/SAR/scripts/xml-to-json.ts
Labels: backend

Demo mode fixes (#1861)
  tarpon/infra/cdk-utils/cdk-lambda-utils.ts
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/core/seed/data/transactions.ts
  tarpon/src/lambdas/batch-job/demo-mode-data-load-job-runner.ts
Labels: backend, infra

#FR-2764: Implement status filter for payment approval (#1830)
  phytoplankton-console/src/components/library/Table/index.tsx
  phytoplankton-console/src/components/library/Table/internal/helpers.tsx
  phytoplankton-console/src/pages/case-management/PaymentApprovalTable/index.tsx
  phytoplankton-console/src/pages/case-management/components/PaymentApprovalButton/PaymentApprovalModal.tsx
  phytoplankton-console/src/pages/case-management/components/PaymentApprovalButton/index.tsx
  phytoplankton-console/src/pages/case-management/components/StatusButtons/index.tsx
  phytoplankton-console/src/pages/case-management/components/StatusButtons/style.module.less
  phytoplankton-console/src/pages/case-management/components/StatusChangeButton.tsx
  phytoplankton-console/src/pages/case-management/index.tsx
  phytoplankton-console/src/pages/lists/NewListDrawer/NewValueInput/index.tsx
  phytoplankton-console/src/pages/lists/helpers.ts
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/BasicDetailsStep/CreationIntervalInput/index.tsx
  phytoplankton-console/src/pages/transactions/components/StatusButtons/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  phytoplankton-console/src/utils/case-utils.ts
  phytoplankton-console/src/utils/lang.ts
Labels: frontend

Improve array input (#1865)
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/ArrayPropertyInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/index.tsx
  phytoplankton-console/src/utils/__tests__/humanize.test.ts
  phytoplankton-console/src/utils/humanize.ts
Labels: frontend

Handle empty CRM data (#1867)
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/index.tsx
Labels: frontend

Checked txn query index (#1868)
  tarpon/src/utils/mongoDBUtils.ts
Labels: backend

#FR-2767: FinCEN: Auto-fill ‘Transaction Details’ (part 1) (#1863)
  tarpon/src/services/sar/generators/KE/SAR/index.ts
  tarpon/src/services/sar/generators/US/SAR/helpers/prepopulating.ts
  tarpon/src/services/sar/generators/US/SAR/index.ts
  tarpon/src/services/sar/generators/index.ts
  tarpon/src/services/sar/service.ts
  tarpon/src/utils/currency-utils.ts
Labels: backend

Added New Dashboard Insights (#1864)
  phytoplankton-console/src/pages/dashboard/analysis/components/TeamPerformanceCard/AccountsStatisticsTable/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TeamPerformanceCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2023.07.30T16.30.32.refresh-team-stats.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/__tests__/dashboard-stats-repository.team.test.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-stats-repository.ts
Labels: backend, frontend

Cleanup QA stacks (#1859)
  .github/workflows/test_tarpon.yml
  tarpon/package-lock.json
  tarpon/package.json
  tarpon/scripts/qa-stack-cleanup.ts
Labels: backend

Fix transaction user filters (#1871)
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
Labels: backend

Fix incorrect log metadata for rule errors (#1866)
  tarpon/src/core/utils/context.ts
Labels: backend

In Progress and On Hold Status Changes (#1842)
  phytoplankton-console/package.json
  phytoplankton-console/src/components/library/CaseStatusTag/index.module.less
  phytoplankton-console/src/components/library/CaseStatusTag/index.tsx
  phytoplankton-console/src/components/library/Dropdown/index.module.less
  phytoplankton-console/src/components/library/Dropdown/index.tsx
  phytoplankton-console/src/components/library/Dropdown/story.tsx
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/components/ui/CaseStatusTag/index.module.less
  phytoplankton-console/src/components/ui/CaseStatusTag/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseStatusWithDropDown/index.tsx
  phytoplankton-console/src/pages/case-management-item/components/Header/SubHeader/index.tsx
  phytoplankton-console/src/pages/case-management-item/components/Header/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTableWrapper.tsx
  phytoplankton-console/src/pages/case-management/components/AlertsStatusChangeButton/index.tsx
  phytoplankton-console/src/pages/case-management/components/CasesStatusChangeButton/index.tsx
  phytoplankton-console/src/pages/case-management/components/StatusButtons/index.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeButton.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
  phytoplankton-console/src/utils/case-utils.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-case/services/case-service.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/utils/helpers.ts
Labels: backend, frontend

Change Insights to Merchant monitoring (#1872)
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/pages/users-item/index.tsx
Labels: frontend

FinCEN: Curate element title and description (#1831)
  tarpon/src/services/sar/generators/US/SAR/resources/EFL_SARXBatchSchema.ts
  tarpon/src/services/sar/generators/US/SAR/resources/EFL_SARXBatchSchema.type.ts
  tarpon/src/services/sar/generators/US/SAR/scripts/attribute-infos.ts
Labels: backend

Revert "FinCEN: Curate element title and description" (#1873)
  tarpon/src/services/sar/generators/US/SAR/resources/EFL_SARXBatchSchema.ts
  tarpon/src/services/sar/generators/US/SAR/resources/EFL_SARXBatchSchema.type.ts
  tarpon/src/services/sar/generators/US/SAR/scripts/attribute-infos.ts
Labels: backend

Calculate investigation time (#1862)
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/components/ui/DurationDisplay/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TeamPerformanceCard/AccountsStatisticsTable/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TeamPerformanceCard/index.tsx
  phytoplankton-console/src/utils/time-utils.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-dashboard/repositories/__tests__/dashboard-stats-repository.team.test.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-stats-repository.ts
Labels: backend, frontend

Implement automatic field name humanization (#1874)
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/settings.tsx
Labels: frontend

Add 'Matched type' search filter to sanctions search page (#1857)
  phytoplankton-console/src/components/SanctionsTable/index.tsx
  phytoplankton-console/src/pages/sanctions/search/index.tsx
Labels: frontend

Review Flow for Non Root Users (#1877)
  phytoplankton-console/src/pages/accounts/components/AccountForm.tsx
Labels: frontend

Lithuania SAR schema (#1869)
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/index.tsx
  phytoplankton-console/src/components/Sar/SarReportDrawer/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/settings.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/seed/data/transactions.ts
  tarpon/src/services/sar/generators/LT/CTR/index.ts
  tarpon/src/services/sar/generators/LT/CTR/schema.ts
  tarpon/src/services/sar/generators/LT/STR/index.ts
  tarpon/src/services/sar/generators/LT/STR/schema.ts
  tarpon/src/services/sar/generators/LT/common.ts
  tarpon/src/services/sar/generators/index.ts
  tarpon/src/services/sar/service.ts
Labels: backend, frontend

Use empty icon instead of throwing an error if type is unknown (#1879)
  phytoplankton-console/src/components/library/TransactionTypeTag/index.tsx
Labels: frontend

sorted the assignees list for the 'Assign To' dropdown (#1848)
  phytoplankton-console/src/pages/case-management/components/AssignToButton/index.tsx
  phytoplankton-console/src/pages/case-management/components/AssigneesDropdown/index.tsx
  phytoplankton-console/src/utils/user-utils.tsx
Labels: frontend

Rename `${tenant.id}-narratives` collection to `${tenant.id}-narrative-templates` (#1882)
  tarpon/scripts/migrations/post-deployment/2023.08.01T13.53.32.rename-narratives-collection.ts
  tarpon/src/utils/mongoDBUtils.ts
Labels: backend

New array input layout (#1870)
  phytoplankton-console/src/components/library/Button/index.module.less
  phytoplankton-console/src/components/library/Button/index.tsx
  phytoplankton-console/src/components/library/Button/story.tsx
  phytoplankton-console/src/components/library/ExpandIcon/style.module.less
  phytoplankton-console/src/components/ui/Card/Header.tsx
  phytoplankton-console/src/components/ui/Card/Root.tsx
  phytoplankton-console/src/components/ui/Card/index.module.less
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/ArrayPropertyInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/ArrayPropertyInput/style.module.less
  phytoplankton-console/src/utils/humanize.ts
Labels: frontend

handled changes in Types after adding title and descriptions to the attributes (#1875)
  tarpon/src/services/sar/generators/US/SAR/helpers/prepopulating.ts
  tarpon/src/services/sar/generators/US/SAR/index.ts
  tarpon/src/services/sar/generators/US/SAR/resources/EFL_SARXBatchSchema.ts
  tarpon/src/services/sar/generators/US/SAR/resources/EFL_SARXBatchSchema.type.ts
  tarpon/src/services/sar/generators/US/SAR/scripts/attribute-infos.ts
Labels: backend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

raptor:
  - raptor/**
