Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, raptor, pipeline

Error on messages that are too large
  tarpon/src/utils/sns-sqs-client.ts
Labels: backend

Send rule aggregation SQS messages in bulk (#4502)
  tarpon/src/core/dynamodb/dynamodb-stream-consumer-builder.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/lambdas/transaction-aggregation/app.ts
  tarpon/src/services/batch-jobs/__tests__/rule-pre-aggregation-batch-job-runner.test.ts
  tarpon/src/services/batch-jobs/rule-pre-aggregation-batch-job-runner.ts
  tarpon/src/services/risk-scoring/__tests__/risk-scoring-service.test.ts
  tarpon/src/services/risk-scoring/risk-scoring-service.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/utils.ts
  tarpon/src/services/rules-engine/v8-engine/index.ts
  tarpon/src/utils/__tests__/sns-sqs-client.test.ts
  tarpon/src/utils/sns-sqs-client.ts
Labels: backend

Rule analytics bugs (#4474)
  phytoplankton-console/src/pages/dashboard/analysis/components/RulesHitCard/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-dashboard/app.ts
  tarpon/src/services/analytics/dashboard-metrics/__tests__/dashboard-stats-repository.rules-hit.test.ts
  tarpon/src/services/analytics/dashboard-metrics/rule-stats.ts
  tarpon/src/services/dashboard/repositories/dashboard-stats-repository.ts
Labels: backend, frontend

Implement SLAs for alert (Frontend) (#4440)
  phytoplankton-console/src/components/ui/colors.less
  phytoplankton-console/src/pages/case-management/AlertTable/SlaStatus/SlaPolicyDetails/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/SlaStatus/SlaPolicyDetails/styles.module.less
  phytoplankton-console/src/pages/case-management/AlertTable/SlaStatus/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/SlaStatus/styles.module.less
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/steps/BasicDetailsStep/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/AlertCreationDetailsStep/SlaPolicyInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/AlertCreationDetailsStep/index.tsx
  phytoplankton-console/src/pages/rules/utils.ts
  phytoplankton-console/src/pages/settings/components/SlaPolicySettings/PolicyForm/components/OperatorSelect.tsx
  phytoplankton-console/src/pages/settings/components/SlaPolicySettings/PolicyForm/components/PolicyConfigurationTable.tsx
  phytoplankton-console/src/pages/settings/components/SlaPolicySettings/PolicyForm/components/StatusesCountInput/index.tsx
  phytoplankton-console/src/pages/settings/components/SlaPolicySettings/PolicyForm/components/StatusesCountInput/styles.module.less
  phytoplankton-console/src/pages/settings/components/SlaPolicySettings/PolicyForm/components/TimeInput/index.tsx
  phytoplankton-console/src/pages/settings/components/SlaPolicySettings/PolicyForm/components/TimeInput/styles.module.less
  phytoplankton-console/src/pages/settings/components/SlaPolicySettings/PolicyForm/components/styles.module.less
  phytoplankton-console/src/pages/settings/components/SlaPolicySettings/PolicyForm/index.tsx
  phytoplankton-console/src/pages/settings/components/SlaPolicySettings/PolicyForm/styles.module.less
  phytoplankton-console/src/pages/settings/components/SlaPolicySettings/index.tsx
  phytoplankton-console/src/pages/settings/components/SlaPolicySettings/styles.module.less
  phytoplankton-console/src/pages/settings/components/SlaPolicySettings/utils/utils.ts
  phytoplankton-console/src/pages/settings/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
Labels: frontend

Remove 'Website' from autopilot (#4506)
  phytoplankton-console/src/components/AiForensics/SearchBar/index.tsx
Labels: frontend

Bring eu-2 transactions resources in-line with eu-1 (#4508)
  lib/config/config-prod-eu-2.ts
Labels: none

Add query to log metadata for athena (#4509)
  tarpon/src/utils/viper.ts
Labels: backend

Increase public api user lambda memory from 512m to 1g in Prod (#4515)
  lib/config/config-prod-asia-1.ts
  lib/config/config-prod-asia-2.ts
  lib/config/config-prod-au-1.ts
  lib/config/config-prod-eu-1.ts
  lib/config/config-prod-eu-2.ts
  lib/config/config-prod-me-1.ts
  lib/config/config-prod-us-1.ts
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/src/utils/sns-sqs-client.ts
Labels: backend, infra

Show savedPaymentDetails for Consumer Users (#4504)
  phytoplankton-console/src/pages/users-item/UserDetails/BusinessUserDetails/UserDetails/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/UserDetails/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/SavedPaymentDetails/PaymentDetailsCard/index.module.less
  phytoplankton-console/src/pages/users-item/UserDetails/SavedPaymentDetails/PaymentDetailsCard/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/SavedPaymentDetails/index.module.less
  phytoplankton-console/src/pages/users-item/UserDetails/SavedPaymentDetails/index.tsx
Labels: frontend

Sanctions clearing comment greyed out (#4464)
  phytoplankton-console/src/components/Narrative/index.tsx
  phytoplankton-console/src/components/Narrative/story.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/QaStatusChangeModal/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/SanctionsHitStatusChangeModal/index.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
Labels: frontend

Shows transaction tags (#4514)
  phytoplankton-console/src/pages/transactions-item/SubHeader/index.module.less
  phytoplankton-console/src/pages/transactions-item/SubHeader/index.tsx
Labels: frontend

Allow endpoint creation ability to Developer role (#4513)
  phytoplankton-console/src/pages/settings/components/WebhookSettings.tsx
Labels: frontend

Upgrade @aws-sdk/client-api-gateway from 3.616.0 to 3.620.0
  lib/package.json
  lib/yarn.lock
Labels: none

Upgrade aws-sdk from 2.1652.0 to 2.1664.0
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend

[Snyk] Upgrade @react-email/components from 0.0.21 to 0.0.22 (#4505)
  email-templates/package-lock.json
  email-templates/package.json
Labels: none

Patch aws-cdk-lib from 2.149.0 to 2.150.0
  lib/package.json
  lib/yarn.lock
Labels: none

Rules not visible for analyst role (#4499)
  phytoplankton-console/src/pages/rules/components/RuleActionsMenu/index.tsx
  phytoplankton-console/src/pages/rules/my-rules/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Labels: backend, frontend

Add origin and destination country filter to transactions filters (#4516)
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/CaseTransactionsCard/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/AlertExpanded/TransactionsTab/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/helpers/queryAdapter.ts
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/alerts/repository.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
Labels: backend, frontend

Create lookupIpLocation as service (#4427)
  lib/secrets/secrets.ts
  tarpon/src/lambdas/transaction-aggregation/app.ts
  tarpon/src/services/geo-ip/index.ts
  tarpon/src/services/geo-ip/providers/geoIp.ts
  tarpon/src/services/geo-ip/providers/index.ts
  tarpon/src/services/geo-ip/providers/ipGeolocation.ts
  tarpon/src/services/geo-ip/types.ts
  tarpon/src/services/risk-scoring/__tests__/ipAddressCountry.test.ts
  tarpon/src/services/risk-scoring/derived-risk-factors/ipAddressCountry.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/high-risk-ip-address-countries.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/ip-address-unexpected-location.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/sender-location-changes-frequency.test.ts
  tarpon/src/services/rules-engine/transaction-rules/high-risk-ip-address-countries.ts
  tarpon/src/services/rules-engine/transaction-rules/high-traffic-volume-between-same-users.ts
  tarpon/src/services/rules-engine/transaction-rules/ip-address-unexpected-location.ts
  tarpon/src/services/rules-engine/transaction-rules/rule.ts
  tarpon/src/services/rules-engine/transaction-rules/sender-location-changes-frequency.ts
  tarpon/src/services/rules-engine/utils/geoip.ts
  tarpon/src/services/rules-engine/v8-variables/__tests__/transaction-ip-info.test.ts
  tarpon/src/services/rules-engine/v8-variables/transaction-ip-info.ts
  tarpon/src/test-utils/rule-test-utils.ts
Labels: backend

Added Strict Dynamic and Nonce (#4531)
  phytoplankton-console/build/index.js
Labels: frontend

Optimized and Added Suspected Missing Trace (#4527)
  tarpon/src/core/utils/context.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
Labels: backend

Sanctions clearing comment greyed out(redo) (#4529)
  phytoplankton-console/src/pages/case-management/AlertTable/SanctionsHitStatusChangeModal/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
Labels: frontend

V8: Aggregate based on last x transaction(s) (#4501)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/style.module.less
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/v8-engine/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-engine/aggregation-repository.ts
  tarpon/src/services/rules-engine/v8-engine/index.ts
  tarpon/src/services/rules-engine/v8-variable-aggregators/index.ts
Labels: backend, infra, frontend

Avoid RequestThrottled SQS error (#4535)
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/utils/sns-sqs-client.ts
Labels: backend

removed nonce from style-src in csp (#4537)
  phytoplankton-console/build/index.js
Labels: frontend

Implement SLA Case management Filter (#4525)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/common.ts
  phytoplankton-console/src/pages/case-management/components/SlaFilter/PopupContent/index.tsx
  phytoplankton-console/src/pages/case-management/components/SlaFilter/PopupContent/styles.module.less
  phytoplankton-console/src/pages/case-management/components/SlaFilter/index.tsx
  phytoplankton-console/src/pages/case-management/helpers.tsx
  phytoplankton-console/src/pages/case-management/types.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/AlertCreationDetailsStep/SlaPolicyInput/index.tsx
  phytoplankton-console/src/pages/settings/components/SlaPolicySettings/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  phytoplankton-console/src/utils/sla.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/alerts/repository.ts
Labels: backend, frontend

Add min/max transaction amount function (#4530)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/steps/RuleParametersStep/utils.ts
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/v8-variable-aggregators/__tests__/max.test.ts
  tarpon/src/services/rules-engine/v8-variable-aggregators/__tests__/min.test.ts
  tarpon/src/services/rules-engine/v8-variable-aggregators/index.ts
  tarpon/src/services/rules-engine/v8-variable-aggregators/max.ts
  tarpon/src/services/rules-engine/v8-variable-aggregators/min.ts
Labels: backend, frontend

https://docs.flagright.com/guides/webhooks/signatures
  package.json
  yarn.lock
Labels: none

Fix flaky cases/copilot-test.cy.ts test (#4528)
  phytoplankton-console/cypress/support/utils.ts
Labels: frontend

fixed typo in KYC risk score formula description (#4543)
  phytoplankton-console/src/pages/risk-levels/risk-algorithms/RiskAlgorithm/index.tsx
Labels: frontend

Improve E2E tests (#4541)
  phytoplankton-console/cypress/e2e/team-management/accounts-crud-test.cy.ts
  phytoplankton-console/cypress/e2e/team-management/custom-role-crud-test.cy.ts
  phytoplankton-console/cypress/support/commands.ts
  phytoplankton-console/cypress/support/index.ts
Labels: frontend

Dont call api on private IPs (#4544)
  tarpon/src/services/geo-ip/index.ts
Labels: backend

Upgrade @aws-sdk/lib-dynamodb from 3.606.0 to 3.621.0
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend

Upgrade aws-cdk-lib from 2.149.0 to 2.150.0
  package.json
  yarn.lock
Labels: none

Upgrade dayjs from 1.11.11 to 1.11.12
  lib/package.json
  lib/yarn.lock
Labels: none

[Snyk] Upgrade react-email from 2.1.5 to 2.1.6 (#4524)
  email-templates/package-lock.json
  email-templates/package.json
Labels: none

Implement DowJonesDataFetcher (#4494)
  lib/secrets/secrets.ts
  tarpon/package.json
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/lambdas/cron-job-daily/app.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/sanctions-data-fetch-job-runner.ts
  tarpon/src/services/sanctions/__tests__/dow-jones.test.ts
  tarpon/src/services/sanctions/data-fetchers.ts
  tarpon/src/services/sanctions/providers/dow-jones.ts
  tarpon/src/services/sanctions/providers/types.ts
  tarpon/src/services/sanctions/repositories/sanctions-repository.ts
  tarpon/src/utils/mongodb-definitions.ts
  tarpon/yarn.lock
Labels: backend

[InfoSec] [Snyk] Patch ajv from 8.11.0 to 8.17.1
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend

Revert ajv patch
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend

Fix athena query function (#4507)
  tarpon/package.json
  tarpon/src/utils/athena.ts
  tarpon/src/utils/viper.ts
  tarpon/yarn.lock
Labels: backend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

raptor:
  - raptor/**

pipeline:
  - bin/**
