Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, raptor

Remove Import feature in Console (#2565)
  phytoplankton-console/src/pages/accounts/Roles/ExtendedRowRenderer/index.tsx
  phytoplankton-console/src/services/routing/index.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/seed/dynamodb.ts
Labels: backend, frontend

Add the FlagrightAI icon to Investigate button (#2568)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
Labels: frontend

Revert "Fr 3093 new filter under transaction details (#2101)" (#2569)
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/TimeRangeInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/types.ts
  tarpon/src/services/rules-engine/filters.ts
  tarpon/src/services/rules-engine/repositories/dynamodb-transaction-repository.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/rules-engine/repositories/transaction-repository-interface.ts
  tarpon/src/services/rules-engine/transaction-filters/__tests__/transaction-time-range.test.ts
  tarpon/src/services/rules-engine/transaction-filters/transaction-time-range-historical.ts
  tarpon/src/services/rules-engine/transaction-filters/transaction-time-range.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-volume.test.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
  tarpon/src/services/rules-engine/utils/transaction-rule-utils.ts
Labels: backend, frontend

Fr 3538 demo data improvements (#2549)
  tarpon/src/core/seed/samplers/users.ts
Labels: backend

fix-in-review-undefined-name (#2574)
  phytoplankton-console/src/utils/account.ts
Labels: frontend

Fix and re implement distribution by kyc status (#2534)
  phytoplankton-console/src/pages/dashboard/analysis/components/KYCStatusDistributionCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/scripts/migrations/post-deployment/2023.10.10T06.56.30.calculateKYCStatusDistribution.ts
  tarpon/src/lambdas/console-api-dashboard/app.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/kyc-status-distribution-stats.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-stats-repository.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/types.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend, frontend

e2e test for caseid filter in case management table (#2547)
  phytoplankton-console/cypress/e2e/cases/caseid-filter-test.cy.ts
  phytoplankton-console/src/components/library/QuickFilter/QuickFilterButton/index.tsx
  phytoplankton-console/src/components/library/Table/index.tsx
Labels: frontend

Update rule description for R-7 and R-8 (#2578)
  tarpon/src/services/rules-engine/transaction-rules/library.ts
Labels: backend

Add E2E tests as part of tarpon pipeline (#2566)
  tarpon/infra/cdk-tarpon-pipeline-stack.ts
Labels: backend, infra

Updated Webhooks by adding triggered by (#2552)
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-alarms-stack.ts
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/constants.ts
  tarpon/lib/lambdas.ts
  tarpon/lib/openapi/public/docs/webhooks-events.md
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/@types/webhook/index.ts
  tarpon/src/lambdas/console-api-case/services/case-service.ts
  tarpon/src/lambdas/tarpon-change-webhook-consumer/__tests__/tarpon-change-webhook-handler.test.ts
  tarpon/src/lambdas/tarpon-change-webhook-consumer/app.ts
  tarpon/src/lambdas/webhook-deliverer/__tests__/webhook-delivery-handler.test.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/users/__tests__/user-repository.test.ts
  tarpon/src/services/users/index.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/services/webhook/utils.ts
Labels: backend, infra

Implement download all attachments function from a case or user (#2528)
  phytoplankton-console/package.json
  phytoplankton-console/src/components/ActivityCard/index.tsx
  phytoplankton-console/src/components/library/DownloadFilesButton/index.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/index.tsx
  phytoplankton-console/src/utils/download-link.ts
  phytoplankton-console/yarn.lock
Labels: frontend

Payment method name change rule (#2558)
  tarpon/src/services/rules-engine/transaction-rules/__tests__/card-holder-name-levensthein-distance.test.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/payment-method-name-levensthein-distance.test.ts
  tarpon/src/services/rules-engine/transaction-rules/card-holder-name-levensthein-distance.ts
  tarpon/src/services/rules-engine/transaction-rules/index.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/transaction-rules/payment-method-name-levensthein-distance.ts
Labels: backend

Comments in download table at cases and alerts (#2559)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/helpers.ts
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/types.ts
  phytoplankton-console/src/utils/__tests__/commentsFormatting.test.ts
  phytoplankton-console/src/utils/account.ts
  phytoplankton-console/src/utils/case-utils.ts
  tarpon/src/services/rules-engine/repositories/case-repository.ts
Labels: backend, frontend

made the top users hit card height fixed (#2577)
  phytoplankton-console/src/components/library/Widget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseManagement/CaseClosingReasonCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseManagement/DistributionByAlertPriority/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RuleActionSplitCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RulePrioritySplitCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TopUsersHitCard.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Transactions/DistributionByTransactionTypeWidget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Transactions/PaymentMethodDistributionWidget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TransactionsChartWidget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/UserStatusDistributionCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/index.tsx
Labels: frontend

name updated (#2580)
  phytoplankton-console/cypress/e2e/cases/caseid-filter-test.cy.ts
Labels: frontend

updated the visiting url in test (#2581)
  phytoplankton-console/cypress/e2e/alerts/alerts-close-test.cy.ts
Labels: frontend

Decrease the threshold of disabling rule aggregation from 24hr to 12hr (#2582)
  tarpon/src/services/rules-engine/transaction-rules/aggregation-rule.ts
Labels: backend

Revert "Revert "Fr 3093 new filter under transaction details (#2101)" (#2569)" (#2583)
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/TimeRangeInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/types.ts
  tarpon/src/services/rules-engine/filters.ts
  tarpon/src/services/rules-engine/repositories/dynamodb-transaction-repository.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/rules-engine/repositories/transaction-repository-interface.ts
  tarpon/src/services/rules-engine/transaction-filters/__tests__/transaction-time-range.test.ts
  tarpon/src/services/rules-engine/transaction-filters/transaction-time-range-historical.ts
  tarpon/src/services/rules-engine/transaction-filters/transaction-time-range.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-volume.test.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
  tarpon/src/services/rules-engine/utils/transaction-rule-utils.ts
Labels: backend, frontend

Bank name change rule (#2545)
  tarpon/src/core/dynamodb/dynamodb-keys.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/bank-name-change.test.ts
  tarpon/src/services/rules-engine/transaction-rules/bank-name-change.ts
  tarpon/src/services/rules-engine/transaction-rules/index.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
Labels: backend

#FR-3571: Refactor payment details displaying (#2544)
  phytoplankton-console/src/components/ui/Money/index.tsx
  phytoplankton-console/src/components/ui/PaymentDetailsCard/components/PaymentProperty.tsx
  phytoplankton-console/src/components/ui/PaymentDetailsCard/index.module.less
  phytoplankton-console/src/components/ui/PaymentDetailsCard/index.tsx
  phytoplankton-console/src/components/ui/PaymentDetailsProps/index.module.less
  phytoplankton-console/src/components/ui/PaymentDetailsProps/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/PaymentIdentifierDetailsCard/index.tsx
  phytoplankton-console/src/pages/transactions-item/UserDetails/PaymentDetails/index.module.less
  phytoplankton-console/src/pages/transactions-item/UserDetails/PaymentDetails/index.tsx
  phytoplankton-console/src/pages/transactions-item/UserDetails/index.module.less
  phytoplankton-console/src/pages/transactions-item/UserDetails/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  phytoplankton-console/src/utils/api/payment-details.ts
Labels: frontend

Investigate -> Forensics
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
Labels: frontend

added investigation time in activity log (#2473)
  phytoplankton-console/src/components/ActivityCard/helpers.tsx
  tarpon/src/lambdas/console-api-case/services/case-alerts-audit-log-service.ts
  tarpon/src/lambdas/console-api-case/services/utils.ts
Labels: backend, frontend

Update Forensics Auto-pilot demo (#2586)
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/RequestForm/index.tsx
Labels: frontend

Fixed the overlapping of copy icon (#2548)
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/ArrayPropertyInput/index.tsx
  phytoplankton-console/src/components/library/Select/index.tsx
  phytoplankton-console/src/components/library/Select/style.module.less
Labels: frontend

clicking last button to avoid multiple button case (#2597)
  phytoplankton-console/cypress/e2e/basic/superadmin-switch-tenant.cy.ts
Labels: frontend

Migration to delete Rules (#2596)
  tarpon/scripts/migrations/post-deployment/2023.10.30T09.57.19.remove-machine-learning-rules.ts
Labels: backend

#FR-3072: Dashboard: Create User Breakdown by KRS Chart for consumer and Business (#2564)
  phytoplankton-console/src/components/library/Widget/index.tsx
  phytoplankton-console/src/components/utils/ContainerRectMeasure.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RiskLevelBreakdownWidget/RiskTypeSelector.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RiskLevelBreakdownWidget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RiskLevelBreakdownWidget/styles.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/dashboardutils.tsx
  phytoplankton-console/src/pages/dashboard/analysis/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/scripts/migrations/post-deployment/2023.10.25T20.41.06.update_user_stats.ts
  tarpon/src/lambdas/batch-job/__tests__/dashboard-refresh-batch-job-runner.test.ts
  tarpon/src/lambdas/console-api-dashboard/app.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/risk-level-distribution-stats.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/user-stats.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-stats-repository.ts
  tarpon/src/test-utils/tenant-test-utils.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend, frontend

Load Initial Data on Function Call only (#2521)
  tarpon/scripts/init-local-db.ts
  tarpon/src/core/seed/data/address.ts
  tarpon/src/core/seed/data/ars_scores.ts
  tarpon/src/core/seed/data/auditlogs.ts
  tarpon/src/core/seed/data/cases.ts
  tarpon/src/core/seed/data/checklists.ts
  tarpon/src/core/seed/data/crm.ts
  tarpon/src/core/seed/data/lists.ts
  tarpon/src/core/seed/data/reports.ts
  tarpon/src/core/seed/data/risk-scores.ts
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/core/seed/data/sanctions.ts
  tarpon/src/core/seed/data/simulation.ts
  tarpon/src/core/seed/data/transaction_events.ts
  tarpon/src/core/seed/data/transactions.ts
  tarpon/src/core/seed/data/users.ts
  tarpon/src/core/seed/dynamodb.ts
  tarpon/src/core/seed/mongo.ts
  tarpon/src/core/seed/raw-data/report.ts
  tarpon/src/core/seed/raw-data/sanctions-search.ts
  tarpon/src/core/seed/raw-data/simulation-rules.ts
  tarpon/src/core/seed/samplers/address.ts
  tarpon/src/core/seed/samplers/cases.ts
  tarpon/src/core/seed/samplers/risk_score_components.ts
  tarpon/src/core/seed/samplers/transaction.ts
  tarpon/src/core/seed/samplers/users.ts
  tarpon/src/lambdas/batch-job/demo-mode-data-load-job-runner.ts
  tarpon/src/services/linker/index.ts
Labels: backend

Init Public API Integration tests to jest (#2585)
  .github/workflows/deploy_qa.yml
  tarpon/infra/cdk-tarpon-pipeline-stack.ts
  tarpon/integration-jest.config.ts
  tarpon/jest.config.ts
  tarpon/package-lock.json
  tarpon/package.json
  tarpon/src/@types/http/index.d.ts
  tarpon/src/core/middlewares/http-error-handler.ts
  tarpon/test-resources/integration-tests/__tests__/transaction-post.test.ts
  tarpon/test-resources/integration-tests/test-utils/apiBasePath.ts
  tarpon/test-resources/integration-tests/test-utils/apiKey.ts
  tarpon/test-resources/integration-tests/test-utils/request.ts
Labels: backend, infra

Add AI Forensics Recommendations (#2590)
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemEmbedded/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/RequestForm/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/index.tsx
  tarpon/src/services/copilot/questions/definitions.ts
  tarpon/src/services/copilot/questions/definitions/recommendation.ts
  tarpon/src/services/copilot/questions/question-service.ts
Labels: backend, frontend

changed and added descriptions to rule threshold params (#2589)
  tarpon/src/services/rules-engine/transaction-rules/bank-name-change.ts
  tarpon/src/services/rules-engine/transaction-rules/high-unsuccessfull-state-rate.ts
  tarpon/src/services/rules-engine/transaction-rules/ip-address-multiple-users.ts
  tarpon/src/services/rules-engine/transaction-rules/low-value-transactions-base.ts
  tarpon/src/services/rules-engine/transaction-rules/same-payment-details.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
Labels: backend

Files for alerts specific comments were not included while bulk download (#2594)
  phytoplankton-console/src/components/ActivityCard/index.tsx
Labels: frontend

Superadmin root app metadata gets overwritten (#2592)
  tarpon/infra/auth0/actions/post-login.js
Labels: backend, infra

Add CRM compose button (#2598)
  phytoplankton-console/src/pages/users-item/UserDetails/CRMMonitoring/Emails/index.tsx
Labels: frontend

Fix failed migration (#2599)
  tarpon/scripts/migrations/post-deployment/2023.10.25T20.41.06.update_user_stats.ts
  tarpon/src/utils/mongodb-utils.ts
Labels: backend

Download button downloads a json object (#2584)
  phytoplankton-console/package.json
  phytoplankton-console/src/components/SanctionsTable/SearchResultDetailsModal/DownloadAsPDF.ts
  phytoplankton-console/src/components/SanctionsTable/SearchResultDetailsModal/index.tsx
  phytoplankton-console/src/components/library/Widget/index.tsx
  phytoplankton-console/src/components/library/Widget/types.ts
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseManagement/CaseClosingReasonCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseManagement/DistributionByAlertPriority/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/KYCStatusDistributionCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RuleActionSplitCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RulePrioritySplitCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Transactions/DistributionByTransactionTypeWidget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Transactions/PaymentMethodDistributionWidget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/UserStatusDistributionCard/index.tsx
  phytoplankton-console/yarn.lock
Labels: frontend

Side Navigation Collapsed UI update (#2535)
  phytoplankton-console/src/components/AppWrapper/Menu/Header/index.module.less
Labels: frontend

Fix Edit Account (#2601)
  phytoplankton-console/src/pages/accounts/components/AccountForm.tsx
Labels: frontend

Add Manual Approve stage in pipeline before sandbox deployment (#2600)
  phytoplankton-console/lib/cdk-phytoplankton-pipeline-stack.ts
  tarpon/infra/cdk-tarpon-pipeline-stack.ts
Labels: backend, infra, frontend

Fix migration (#2602)
  tarpon/scripts/migrations/post-deployment/2023.10.25T20.41.06.update_user_stats.ts
  tarpon/src/lambdas/console-api-dashboard/repositories/dashboard-metrics/user-stats.ts
Labels: backend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

raptor:
  - raptor/**
