Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, raptor, pipeline

Add Open API Argument (#5753)
  tarpon/scripts/deploy-ci.ts
Labels: backend

[UI Fix]: Rule config components were misaligned , and now fixed (#5722)
  phytoplankton-console/src/components/ui/LogicBuilder/index.module.less
Labels: frontend

[Fix]: Misaligned column in team management table, fixed (#5723)
  phytoplankton-console/src/pages/accounts/Team/index.module.less
Labels: frontend

Sync OpenAPI spec file (#5756)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/list/index.ts
Labels: backend

Updates in pipeline and Deployment (#5757)
  .github/workflows/deploy_orca.yaml
  .github/workflows/pr_wizard.yml
  bin/utils/integrations-update.ts
  bin/utils/tarpon-deploy-stage.ts
Labels: pipeline

#FR-6064: Alert details page: support commenting on the alert level (#5719)
  phytoplankton-console/src/components/ActivityCard/LogCard/index.tsx
  phytoplankton-console/src/components/ActivityCard/helpers.tsx
  phytoplankton-console/src/components/ActivityCard/index.tsx
  phytoplankton-console/src/components/CommentsCard/index.tsx
  phytoplankton-console/src/components/SanctionsHitsTable/index.tsx
  phytoplankton-console/src/components/ScreeningMatchList/helpers.ts
  phytoplankton-console/src/components/ScreeningMatchList/index.module.less
  phytoplankton-console/src/components/ScreeningMatchList/index.tsx
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/ActivityTab/index.module.less
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/ActivityTab/index.tsx
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/ChecklistTab/index.tsx
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/CommentsTab/index.module.less
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/CommentsTab/index.tsx
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/DefaultAlertTabs/index.tsx
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/HitsTab/index.tsx
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/TransactionsTab/index.tsx
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/helpers.tsx
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/index.tsx
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/index.tsx
  phytoplankton-console/src/pages/alert-item/components/Header/index.tsx
  phytoplankton-console/src/pages/alert-item/index.tsx
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemEmbedded/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserActivityCard/index.tsx
  phytoplankton-console/src/services/routing/index.ts
  tarpon/docker-compose.yaml
Labels: backend, frontend

Implement closure reasons under settings at CM (#5718)
  phytoplankton-console/src/pages/case-management/AlertTable/QaStatusChangeModal/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/types.ts
  phytoplankton-console/src/pages/case-management/CaseTable/types.ts
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
  phytoplankton-console/src/pages/settings/components/ReasonsSettings/ActionReasonModal/index.tsx
  phytoplankton-console/src/pages/settings/components/ReasonsSettings/ActionReasonModal/styles.module.less
  phytoplankton-console/src/pages/settings/components/ReasonsSettings/index.tsx
  phytoplankton-console/src/pages/settings/components/ReasonsSettings/styles.module.less
  phytoplankton-console/src/pages/settings/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  phytoplankton-console/src/utils/reasons.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/scripts/migrations/post-deployment/2025.01.02T10.34.29.add-default-reasons-to-mongo.ts
  tarpon/src/core/seed/mongo.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/services/copilot/attributes/builder.ts
  tarpon/src/services/copilot/retrieval-service.ts
  tarpon/src/services/tenants/index.ts
  tarpon/src/services/tenants/reasons-service.ts
  tarpon/src/services/tenants/repositories/reasons-repository.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend, frontend

Remove null fields when creating hash (#5761)
  tarpon/src/utils/object.ts
Labels: backend

Minor cleanups (#5743)
  .github/CODEOWNERS
  README.md
  bin/constants/stack-constants.ts
  bin/utils/integrations-update.ts
  phytoplankton-console/README.md
  tarpon/README.md
Labels: backend, frontend, pipeline

FIX: stored krs components in dynamo (#5747)
  tarpon/src/core/seed/dynamodb.ts
Labels: backend

Fix cases escalation bug (#5766)
  tarpon/src/services/cases/index.ts
Labels: backend

Separate rule batch/non-batch tasks into two queues (#5704)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/constants.ts
  tarpon/src/lambdas/async-rule/app.ts
  tarpon/src/services/rules-engine/utils.ts
Labels: backend, infra

Rithvikdave/fdt 5316 handel risk factor with same parameter for v2 to v8 (#5763)
  tarpon/src/services/risk-scoring/risk-factors/__tests__/account-opening.test.ts
  tarpon/src/services/risk-scoring/risk-factors/__tests__/business-industry.test.ts
  tarpon/src/services/risk-scoring/risk-factors/__tests__/business-registration-country.test.ts
  tarpon/src/services/risk-scoring/risk-factors/__tests__/company-age.test.ts
  tarpon/src/services/risk-scoring/risk-factors/__tests__/country-of-nationality.test.ts
  tarpon/src/services/risk-scoring/risk-factors/__tests__/country-of-residence.test.ts
  tarpon/src/services/risk-scoring/risk-factors/__tests__/customer-age.test.ts
  tarpon/src/services/risk-scoring/risk-factors/__tests__/customer-type.test.ts
  tarpon/src/services/risk-scoring/risk-factors/__tests__/directors-country-of-nationality.test.ts
  tarpon/src/services/risk-scoring/risk-factors/__tests__/shareholders-country-of-nationality.test.ts
  tarpon/src/services/risk-scoring/risk-factors/__tests__/source-of-funds.test.ts
  tarpon/src/services/risk-scoring/risk-factors/__tests__/user-employment-status.test.ts
  tarpon/src/services/risk-scoring/risk-factors/__tests__/user-occupation.test.ts
  tarpon/src/services/risk-scoring/risk-factors/__tests__/user-registration-status.test.ts
  tarpon/src/services/risk-scoring/risk-factors/__tests__/user-segment.test.ts
  tarpon/src/services/risk-scoring/risk-factors/index.ts
  tarpon/src/services/risk-scoring/risk-factors/types.ts
Labels: backend

PR Wizard: Auto assign (#5769)
  .github/workflows/pr_wizard.yml
Labels: none

Arun/fdt 5319 typeerror cannot read properties of undefined reading (#5767)
  tarpon/src/services/batch-jobs/fincen-report-status-fetch.ts
  tarpon/src/services/sar/generators/US/SAR/index.ts
Labels: backend

Updated Release Workflow to Linear (#5770)
  package.json
  scripts/create-release.ts
  scripts/uat-ready.ts
  scripts/utils/linear.ts
Labels: none

Fix: Memory usage in dashboard stats for user hits (#5765)
  phytoplankton-console/src/components/UserLink/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/HitsPerUserCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TopUsersHitCard.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/analytics/dashboard-metrics/hits-by-user-stats.ts
  tarpon/src/utils/clickhouse/definition.ts
  tarpon/src/utils/clickhouse/utils.ts
Labels: backend, frontend

Update CDK Version and Remove Notion Client SDK (#5771)
  package.json
  phytoplankton-console/package.json
  phytoplankton-console/yarn.lock
  tarpon/package.json
  tarpon/yarn.lock
  yarn.lock
Labels: backend, frontend

Fix permission for getting closure reasons (#5776)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Labels: backend

Add Alert Ids to Transactions Table Exporting Only (#5777)
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-transaction/services/transaction-service.ts
  tarpon/src/services/rules-engine/repositories/clickhouse-repository.ts
Labels: backend, frontend

Display rule logic and variables separately (#5671)
  phytoplankton-console/src/pages/auditlog/components/AuditLog/AuditLog.tsx
  phytoplankton-console/src/pages/auditlog/components/AuditLogModal/index.tsx
  phytoplankton-console/src/pages/auditlog/components/RuleAuditLogModal/index.tsx
  phytoplankton-console/src/pages/auditlog/components/TableTemplate/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/steps/RuleParametersStep/RuleActionSelector/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/index.tsx
Labels: frontend

[Security] Upgrade @aws-sdk/client-api-gateway from 3.699.0 to 3.712.0 (#5775)
  lib/package.json
  lib/yarn.lock
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend

[Security] Upgrade @aws-sdk/lib-storage from 3.687.0 to 3.716.0
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend

Fix alert commenting from case table (#5778)
  phytoplankton-console/cypress/e2e/alerts/alert-comment-from-table.cy.ts
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/index.tsx
  tarpon/src/services/alerts/repository.ts
Labels: backend, frontend

V2-to-V8 migration testing util (#5726)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/cross-tenant-query.ts
  tarpon/scripts/debug-rule/verify-remote-entities.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
  tarpon/src/services/rules-engine/rule-instance-service.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
  tarpon/src/services/rules-engine/utils.ts
  tarpon/src/services/rules-engine/v8-migrations/index.ts
  tarpon/src/services/rules-engine/v8-migrations/utils.ts
  tarpon/src/utils/dynamodb.ts
Labels: backend

FIX: added only those tenant to batch runner who have valid us jurdiction reports (#5755)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/cron-job-ten-minute/app.ts
  tarpon/src/services/batch-jobs/fincen-report-status-fetch.ts
  tarpon/src/services/sar/repositories/report-repository.ts
Labels: backend

Handle Local Nango Records (#5788)
  tarpon/src/services/nango/repository.ts
Labels: backend

FEATURE: added 'created at' and 'rule nature' filters in alert table (qa mode) (#5759)
  phytoplankton-console/src/components/library/Table/standardDataTypes/index.tsx
  phytoplankton-console/src/pages/case-management/QA/Table/index.tsx
Labels: frontend

Increased Memory of Asia 1 Transactions Lambda (#5785)
  lib/config/config-prod-asia-1.ts
Labels: none

Error: An HTTP protocol error occurred: statusCode = 404 (#5784)
  tarpon/src/lambdas/slack-app/app.ts
Labels: backend

Fix escalation bug after manual assignment cases/alerts (#5790)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
  phytoplankton-console/src/pages/case-management/components/AssignToButton/index.tsx
  phytoplankton-console/src/utils/case-utils.ts
Labels: frontend

Mark PEP inactive after 7 yrs of inactivity (#5792)
  tarpon/src/services/sanctions/__tests__/dow-jones.test.ts
  tarpon/src/services/sanctions/providers/dow-jones-provider.ts
Labels: backend

Update sentry cli (#5793)
  phytoplankton-console/package.json
  phytoplankton-console/yarn.lock
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend, frontend

[Bug Fixed]: The dropdown in custom logic definition made visibe (#5717)
  phytoplankton-console/src/components/ui/LogicBuilder/index.module.less
Labels: frontend

Close alerts created before 29 Dec for PNB (#5779)
  tarpon/scripts/migrations/post-deployment/2025.01.10T14.32.04.close-alerts-for-pnb.ts
Labels: backend

Fix alert closing migration for PNB (#5794)
  tarpon/scripts/migrations/post-deployment/2025.01.10T14.32.04.close-alerts-for-pnb.ts
Labels: backend

[Security] [Snyk] Upgrade aws-cdk-lib from 2.171.1 to 2.174.1 (#5795)
  lib/package.json
  lib/yarn.lock
Labels: none

Dont round fuzziness while matching with non-comply provider (#5796)
  tarpon/src/services/sanctions/index.ts
Labels: backend

Fix tests for case when there are no comments yet (#5797)
  phytoplankton-console/cypress/e2e/alerts/alert-comment-from-table.cy.ts
  phytoplankton-console/src/components/ui/Card/Section.tsx
  phytoplankton-console/src/pages/alert-item/components/AlertDetails/AlertDetailsTabs/CommentsTab/index.tsx
Labels: frontend

Sanitise nin, handle arrays and getting field for conversion to aggegate query (#5772)
  tarpon/src/utils/mongodb-utils.ts
Labels: backend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

raptor:
  - raptor/**

pipeline:
  - bin/**
