Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, raptor, pipeline

Destroy Hammerhead Streams Infra (#5040)
  lib/config/config-prod-asia-1.ts
  lib/config/config-prod-asia-2.ts
  lib/config/config-prod-au-1.ts
  lib/config/config-prod-eu-1.ts
  lib/config/config-prod-eu-2.ts
  lib/config/config-prod-me-1.ts
  lib/config/config-prod-us-1.ts
  lib/config/config.ts
  tarpon/infra/cdk-tarpon-nested-stacks/cdk-tarpon-alarms-stack.ts
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/constants.ts
  tarpon/lib/lambdas.ts
  tarpon/src/lambdas/hammerhead-change-mongodb-consumer/app.ts
Labels: backend, infra

Only deploy search index in asia (#5068)
  lib/config/config-dev.ts
  lib/config/config-prod-asia-1.ts
  lib/config/config-sandbox-eu-1.ts
  lib/config/config.ts
  tarpon/infra/cdktf-tarpon-stack.ts
Labels: backend, infra

Remove $min/$max operators (#5048)
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/sanctions/repositories/sanctions-screening-details-repository.ts
Labels: backend

Process kinesis events concurrently (#5065)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/dynamodb/dynamodb-stream-consumer-builder.ts
  tarpon/src/core/dynamodb/dynamodb-stream-utils.ts
  tarpon/src/services/cases/case-creation-service.ts
  tarpon/src/utils/__tests__/lock.test.ts
  tarpon/src/utils/lock.ts
Labels: backend, frontend

Allow rebuilding aggregation synchronously when running rules (#5069)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/logic-evaluator/engine/aggregation-repository.ts
  tarpon/src/services/logic-evaluator/engine/index.ts
Labels: backend, frontend

Debugging for screening and increase concurrency (#5070)
  lib/config/config-sandbox-asia-1.ts
  tarpon/src/services/batch-jobs/ongoing-screening-user-rule-batch-job-runner.ts
  tarpon/src/utils/mongodb-utils.ts
Labels: backend

Fix batch counter
  tarpon/src/utils/mongodb-utils.ts
Labels: backend

Fix batch logging
  tarpon/src/utils/mongodb-utils.ts
Labels: backend

PNB - backfill KRS and ARS (#5071)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/pnb-backfill-ars-fargate-batch-job.ts
  tarpon/src/services/batch-jobs/pnb-backfill-krs-fargate-batch-job.ts
  tarpon/src/services/batch-jobs/pnb-backfill-transactions-fargate-batch-job.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
  tarpon/src/services/risk/index.ts
  tarpon/src/utils/lock.ts
Labels: backend, infra

Fix getAllTenantIds
  tarpon/src/services/batch-jobs/pnb-backfill-ars-fargate-batch-job.ts
  tarpon/src/services/batch-jobs/pnb-backfill-krs-fargate-batch-job.ts
  tarpon/src/services/tenants/index.ts
Labels: backend

Update PNB_BACKFILL_TRANSACTIONS
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/services/batch-jobs/pnb-backfill-transactions-fargate-batch-job.ts
Labels: backend

Apply b4b workaround to pnb as well (#5076)
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
Labels: backend

Update Narrative Comment box size (#5041)
  phytoplankton-console/src/components/Narrative/index.tsx
  phytoplankton-console/src/pages/case-management/components/StatusChangeModal.tsx
Labels: frontend

Updated heading for investigation time card, added a tooltip at top right corner. (#5063)
  phytoplankton-console/src/pages/dashboard/analysis/components/widgets/OverviewCard/OverviewCardSection/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/widgets/OverviewCard/OverviewCardSection/styles.module.less
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/RuleInstanceAnalytics.tsx
Labels: frontend

Added Migration for Fixing Transactions and Users and Added an Unique Index (#5020)
  tarpon/scripts/migrations/migrator.ts
  tarpon/scripts/migrations/pre-deployment/2024.10.18T14.41.02.fix-duplicate-transactions-and-users.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
  tarpon/src/services/users/repositories/user-repository.ts
  tarpon/src/utils/mongodb-definitions.ts
  tarpon/src/utils/mongodb-utils.ts
Labels: backend

Avoid running syncClickhouseTables when creating a new migration
  tarpon/scripts/migrations/migrator.ts
Labels: backend

Fix duplicate hits in alerts (#5066)
  phytoplankton-console/src/components/ScreeningMatchList/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/sanctions/index.ts
Labels: backend, frontend

Add sampling for V8 risk factor simulation (#5074)
  tarpon/src/services/batch-jobs/simulation-v8-risk-scoring-batch-job-runner.ts
Labels: backend

Increase possible SLAs to 5 (#5032)
  lib/constants/index.ts
  lib/constants/sla.ts
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/AlertCreationDetailsStep/SlaPolicyInput/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
Labels: backend, frontend

Split sanctions jobs into separate tasks (#5075)
  lib/config/config-sandbox-asia-1.ts
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/multi-job-ongoing-screening-runner.ts
  tarpon/src/services/batch-jobs/ongoing-screening-user-rule-batch-job-runner.ts
  tarpon/src/services/batch-jobs/sanctions-data-fetch-job-runner.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/user-rules/rule.ts
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend

Hack so that multi job is run for PNB
  tarpon/src/lambdas/console-api-tenant/app.ts
Labels: backend

Fix fetching of cursors
  tarpon/src/services/batch-jobs/multi-job-ongoing-screening-runner.ts
Labels: backend

Sort collections before applying cursors
  tarpon/src/services/batch-jobs/multi-job-ongoing-screening-runner.ts
  tarpon/src/services/batch-jobs/ongoing-screening-user-rule-batch-job-runner.ts
  tarpon/src/services/rules-engine/user-rules/rule.ts
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend

Fix cursor passing
  tarpon/src/services/batch-jobs/multi-job-ongoing-screening-runner.ts
Labels: backend

Create triggers for risk scoring re-run (#4855)
  phytoplankton-console/src/pages/settings/components/CraToggleSettings.tsx
  phytoplankton-console/src/pages/settings/components/ReRunTriggerSettings/index.tsx
  phytoplankton-console/src/pages/settings/components/ReRunTriggerSettings/styles.module.less
  phytoplankton-console/src/pages/settings/components/RiskAlgorithmsCra/index.tsx
  phytoplankton-console/src/pages/settings/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/lambdas/cron-job-ten-minute/app.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/batch-job.ts
  tarpon/src/services/batch-jobs/repositories/batch-job-repository.ts
  tarpon/src/services/batch-jobs/risk-scoring-recalculation-batch-job-runner.ts
  tarpon/src/services/list/index.ts
  tarpon/src/services/list/repositories/list-repository.ts
  tarpon/src/services/risk-scoring/risk-scoring-v8-service.ts
  tarpon/src/services/sar/service.ts
Labels: backend, frontend

Scalability improvements for PNB backfill (#5085)
  tarpon/infra/cdk-utils/cdk-fargate-utils.ts
  tarpon/src/services/batch-jobs/batch-job-runner-base.ts
  tarpon/src/services/batch-jobs/pnb-backfill-ars-fargate-batch-job.ts
  tarpon/src/services/batch-jobs/pnb-backfill-krs-fargate-batch-job.ts
  tarpon/src/services/batch-jobs/pnb-backfill-transactions-fargate-batch-job.ts
  tarpon/src/utils/dynamodb.ts
  tarpon/src/utils/secrets-manager.ts
Labels: backend, infra

Escalation notification incorrect (#5078)
  tarpon/src/services/cases/index.ts
Labels: backend

Add match criteria for document id (#5084)
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
Labels: backend

Fix escalations L2 of alerts (#5077)
  phytoplankton-console/src/pages/case-management/components/AlertsStatusChangeButton/AlertsStatusChangeModal.tsx
Labels: frontend

Migrate to clickhouse with sanctions (#5083)
  tarpon/scripts/migrations/post-deployment/2024.09.27T11.38.43.recreate-dow-jones-dataset.ts
  tarpon/scripts/migrations/post-deployment/2024.10.11T05.37.10.fix-dow-jones-name.ts
  tarpon/scripts/migrations/post-deployment/2024.10.18T09.07.38.fix-dow-jones-idValue.ts
  tarpon/scripts/migrations/pre-deployment/2024.10.25T13.24.02.fetch-sanctions-data.ts
  tarpon/src/services/batch-jobs/multi-job-ongoing-screening-runner.ts
  tarpon/src/services/batch-jobs/ongoing-screening-user-rule-batch-job-runner.ts
  tarpon/src/services/batch-jobs/sanctions-data-fetch-job-runner.ts
  tarpon/src/services/sanctions/__tests__/sanctions-repository.test.ts
  tarpon/src/services/sanctions/__tests__/sanctions-screening-details-repository.test.ts
  tarpon/src/services/sanctions/providers/__tests__/sanctions-data-fetcher.test.ts
  tarpon/src/services/sanctions/providers/dow-jones-provider.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/services/sanctions/repositories/sanctions-repository.ts
  tarpon/src/services/sanctions/repositories/sanctions-screening-details-repository.ts
  tarpon/src/utils/clickhouse/definition.ts
  tarpon/src/utils/clickhouse/utils.ts
Labels: backend

Fix demo data load issue (#5088)
  tarpon/scripts/migrations/pre-deployment/2024.10.25T13.24.02.fetch-sanctions-data.ts
  tarpon/src/core/dynamodb/dynamodb-stream-consumer-builder.ts
  tarpon/src/core/seed/mongo.ts
Labels: backend

Use API for PNB_BACKFILL_TRANSACTIONS and PNB_BACKFILL_ARS jobs (#5091)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/public-api-rules-engine/app.ts
  tarpon/src/services/batch-jobs/batch-job-runner-base.ts
  tarpon/src/services/batch-jobs/pnb-backfill-ars-fargate-batch-job.ts
  tarpon/src/services/batch-jobs/pnb-backfill-transactions-fargate-batch-job.ts
  tarpon/src/services/logic-evaluator/engine/aggregation-repository.ts
  tarpon/src/services/logic-evaluator/engine/index.ts
  tarpon/src/utils/__tests__/lock.test.ts
  tarpon/src/utils/dynamodb.ts
Labels: backend

Temporarily increase clickhouse resources (#5092)
  tarpon/lib/configs/clickhouse/tenant-config.ts
  tarpon/lib/configs/clickhouse/test
Labels: backend

Remove fetch sanctions data migration
  tarpon/scripts/migrations/pre-deployment/2024.10.25T13.24.02.fetch-sanctions-data.ts
Labels: backend

Revert clickhouse memory chage
  tarpon/lib/configs/clickhouse/tenant-config.ts
Labels: backend

Fix async rule tasks incorrectly sent (#5094)
  tarpon/src/services/rules-engine/rules-engine-service.ts
Labels: backend

Fix: Failed to execute 'removeChild' on 'Node’ (Transactions List) (#5087)
  phytoplankton-console/src/components/library/Drawer/index.module.less
  phytoplankton-console/src/components/library/Drawer/index.tsx
Labels: frontend

Check users against subset before executing screening (#5095)
  tarpon/src/services/rules-engine/user-rules/dowjones-consumer-user.ts
Labels: backend

Revert read from clickhouse
  tarpon/src/services/sanctions/repositories/sanctions-screening-details-repository.ts
Labels: backend

Revert read from clickhouse
  tarpon/src/services/sanctions/repositories/sanctions-screening-details-repository.ts
Labels: backend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

raptor:
  - raptor/**

pipeline:
  - bin/**
