Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, raptor, pipeline

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

raptor:
  - raptor/**

pipeline:
  - bin/**

Revert "Limit the actions for escalated alerts/cases" (#5228)
  phytoplankton-console/src/pages/case-management-item/components/Header/StatusChangeMenu/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
  phytoplankton-console/src/utils/case-utils.ts
Labels: frontend

Incorrect assignee shown when cases sent back (#5227)
  phytoplankton-console/src/pages/case-management/components/CasesStatusChangeButton/CasesStatusChangeModal.tsx
Labels: frontend

Case management SLAs for manual cases (#5229)
  phytoplankton-console/src/pages/case-management/AlertTable/helpers.ts
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTableWrapper.tsx
  phytoplankton-console/src/pages/case-management/components/SlaStatus/SlaPolicyDetails/index.tsx
  phytoplankton-console/src/pages/case-management/components/SlaStatus/SlaPolicyDetails/styles.module.less
  phytoplankton-console/src/pages/case-management/components/SlaStatus/SlaPopover/index.tsx
  phytoplankton-console/src/pages/case-management/components/SlaStatus/SlaPopover/styles.module.less
  phytoplankton-console/src/pages/case-management/components/SlaStatus/index.tsx
  phytoplankton-console/src/pages/case-management/components/SlaStatus/styles.module.less
  phytoplankton-console/src/pages/case-management/helpers.tsx
  phytoplankton-console/src/pages/settings/components/SlaPolicySettings/PolicyForm/components/PolicyConfigurationTable.tsx
  phytoplankton-console/src/pages/settings/components/SlaPolicySettings/PolicyForm/components/StatusesCountInput/index.tsx
  phytoplankton-console/src/pages/settings/components/SlaPolicySettings/PolicyForm/index.tsx
  phytoplankton-console/src/pages/settings/components/SlaPolicySettings/index.tsx
  phytoplankton-console/src/pages/settings/components/SlaPolicySettings/utils/utils.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2024.11.06T14.42.45.make-sla-policies-generic.ts
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/core/seed/data/sla.ts
  tarpon/src/core/seed/mongo.ts
  tarpon/src/core/seed/samplers/cases.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/lambdas/cron-job-ten-minute/app.ts
  tarpon/src/services/alerts/repository.ts
  tarpon/src/services/batch-jobs/alert-sla-status-refresh-batch-job-runner.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/sla-status-refresh-batch-job-runner.ts
  tarpon/src/services/cases/case-creation-service.ts
  tarpon/src/services/cases/repository.ts
  tarpon/src/services/sla/__tests__/sla-service.test.ts
  tarpon/src/services/sla/__tests__/sla-utils.test.ts
  tarpon/src/services/sla/sla-service.ts
  tarpon/src/services/sla/sla-test-utils.ts
  tarpon/src/services/sla/sla-utils.ts
  tarpon/src/services/tenants/repositories/sla-policy-repository.ts
Labels: backend, frontend

handle undefined properties in SLA policy for migration (#5231)
  tarpon/scripts/migrations/post-deployment/2024.11.06T14.42.45.make-sla-policies-generic.ts
Labels: backend

Limit the actions for Escalated cases/alerts (#5230)
  phytoplankton-console/cypress/e2e/cases/case-details-escalate.cy.ts
  phytoplankton-console/src/pages/case-management-item/components/Header/StatusChangeMenu/index.tsx
  phytoplankton-console/src/pages/case-management-item/components/Header/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
  phytoplankton-console/src/pages/case-management/components/CasesStatusChangeButton/index.tsx
  phytoplankton-console/src/utils/case-utils.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
Labels: backend, frontend

Fix returning risk level for destination user (#5232)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/rules-engine/pnb-custom-logic.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
Labels: backend, infra

Create “Any in (Lists)” for country values (#5079)
  phytoplankton-console/src/components/ui/LogicBuilder/helpers.tsx
  tarpon/src/services/logic-evaluator/variables/__tests__/index.test.ts
  tarpon/src/services/logic-evaluator/variables/index.ts
  tarpon/src/services/logic-evaluator/variables/transaction-ip-info.ts
  tarpon/src/services/logic-evaluator/variables/user-cra-level.ts
  tarpon/src/services/logic-evaluator/variables/user-krs-level.ts
  tarpon/src/services/logic-evaluator/variables/user-type.ts
Labels: backend, frontend

Optimise average TRS backfill (#5177)
  tarpon/src/services/risk-scoring/risk-scoring-v8-service.ts
Labels: backend

#FR-5950: Remove origin / destination radio button in case management UserID/Name (#5224)
  phytoplankton-console/src/components/SanctionsWhitelistTable/helpers.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/ExpandedRowRenderer/AlertExpanded/TransactionsTab/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTableWrapper.tsx
  phytoplankton-console/src/pages/case-management/helpers.tsx
  phytoplankton-console/src/pages/case-management/types.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/DisplayCheckedTransactions/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/helpers/queryAdapter.ts
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  phytoplankton-console/src/pages/transactions/components/UserSearchButton/index.tsx
  phytoplankton-console/src/pages/transactions/components/UserSearchPopup/PopupContent/index.tsx
  phytoplankton-console/src/pages/transactions/components/UserSearchPopup/index.tsx
  phytoplankton-console/src/pages/transactions/components/UserSearchPopup/types.ts
  phytoplankton-console/src/pages/transactions/index.tsx
  phytoplankton-console/src/pages/users/users-list/users-table.tsx
Labels: frontend

#FR-5861: Design system: improve Figma plugin (#5187)
  flagright-figma-vars-plugin/.gitignore
  flagright-figma-vars-plugin/.husky/pre-commit
  flagright-figma-vars-plugin/.prettierignore
  flagright-figma-vars-plugin/.prettierrc.json
  flagright-figma-vars-plugin/README.md
  flagright-figma-vars-plugin/icon.png
  flagright-figma-vars-plugin/package-lock.json
  flagright-figma-vars-plugin/package.json
  flagright-figma-vars-plugin/settings.default.json
  flagright-figma-vars-plugin/src/api.ts
  flagright-figma-vars-plugin/src/entry-main.ts
  flagright-figma-vars-plugin/src/entry-ui.tsx
  flagright-figma-vars-plugin/src/global.css
  flagright-figma-vars-plugin/src/main.ts
  flagright-figma-vars-plugin/src/request.ts
  flagright-figma-vars-plugin/src/styles.css
  flagright-figma-vars-plugin/src/types.ts
  flagright-figma-vars-plugin/src/ui.tsx
  flagright-figma-vars-plugin/src/ui/ExportTab/index.module.css
  flagright-figma-vars-plugin/src/ui/ExportTab/index.tsx
  flagright-figma-vars-plugin/src/ui/SettingsTab/index.module.css
  flagright-figma-vars-plugin/src/ui/SettingsTab/index.tsx
  flagright-figma-vars-plugin/src/ui/SyncTab/index.tsx
  flagright-figma-vars-plugin/src/ui/components/Log/index.module.css
  flagright-figma-vars-plugin/src/ui/components/Log/index.tsx
  flagright-figma-vars-plugin/src/ui/const.ts
  flagright-figma-vars-plugin/src/ui/index.module.css
  flagright-figma-vars-plugin/src/ui/index.tsx
  flagright-figma-vars-plugin/src/utils.ts
  flagright-figma-vars-plugin/src/variables.ts
  flagright-figma-vars-plugin/yarn.lock
  lib/constants/acronyms.ts
Labels: none

[Security] Upgrade @aws-sdk/client-api-gateway from 3.651.1 to 3.670.0 (#5236)
  lib/package.json
  lib/yarn.lock
Labels: none

[Security] Patch Fast xml parser (#5237)
  tarpon/package.json
  tarpon/yarn.lock
Labels: backend

#FR-5954: Manual cases missing some fields (#5223)
  tarpon/scripts/migrations/post-deployment/2024.11.06T13.24.38.fullfil-manual-cases.ts
  tarpon/src/services/cases/case-creation-service.ts
Labels: backend

Show monthlyIncome for PNB (#5241)
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/shared/ExpectedIncome/index.module.less
  phytoplankton-console/src/pages/users-item/UserDetails/shared/ExpectedIncome/index.tsx
Labels: frontend

display sla details when getting cases list (#5244)
  tarpon/src/lambdas/cron-job-ten-minute/app.ts
  tarpon/src/services/cases/repository.ts
Labels: backend

Fix actions on escalated l2 cases and actions on alerts (#5245)
  phytoplankton-console/src/pages/case-management-item/components/Header/StatusChangeMenu/index.tsx
  phytoplankton-console/src/pages/case-management-item/components/Header/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/utils/case-utils.ts
Labels: frontend

Payment approval does not refresh after approval/reject (#5050)
  phytoplankton-console/src/pages/case-management/PaymentApprovalTable/index.tsx
Labels: frontend

FEATURE: added a column to show esclated reason in alert table (#5175)
  phytoplankton-console/src/pages/case-management/AlertTable/index.module.less
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
Labels: frontend

Remove CSP from cloudfront (#5238)
  phytoplankton-console/lib/cdk-phytoplankton-stack.ts
Labels: frontend

Splitted Lists Permissions (#5234)
  phytoplankton-console/src/components/ui/LogicBuilder/ListSelect/index.tsx
  phytoplankton-console/src/pages/accounts/Team/index.tsx
  phytoplankton-console/src/pages/lists-item/ImportCsvModal/index.tsx
  phytoplankton-console/src/pages/lists-item/ItemsTable/index.tsx
  phytoplankton-console/src/pages/lists-item/index.tsx
  phytoplankton-console/src/pages/lists/ListTable/DeleteListModal/index.tsx
  phytoplankton-console/src/pages/lists/ListTable/index.tsx
  phytoplankton-console/src/pages/lists/NewListDrawer/index.tsx
  phytoplankton-console/src/pages/lists/index.tsx
  phytoplankton-console/src/services/routing/index.ts
  phytoplankton-console/src/utils/queries/keys.ts
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/lib/openapi/openapi-internal-augmentor.ts
  tarpon/scripts/migrations/post-deployment/2024.11.07T12.53.31.split-lists-permission.ts
  tarpon/src/core/default-roles.ts
  tarpon/src/lambdas/console-api-account/app.ts
  tarpon/src/lambdas/console-api-list-importer/app.ts
Labels: backend, frontend

Fix route permission checking, fix tabs switching (#5249)
  phytoplankton-console/src/pages/lists-item/index.tsx
  phytoplankton-console/src/pages/lists/helpers.ts
  phytoplankton-console/src/pages/lists/index.tsx
  phytoplankton-console/src/services/routing/index.ts
Labels: frontend

limit l1 assignee to close l2 cases from table (#5246)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
Labels: frontend

Query correct field for associates sanctions search type (#5252)
  tarpon/infra/cdktf-tarpon-stack.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
Labels: backend, infra

Use optional chaining when checking for escalation level (#5253)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
  phytoplankton-console/src/utils/case-utils.ts
Labels: frontend

Fix Lists APIs (#5258)
  phytoplankton-console/src/pages/lists-item/ItemsTable/index.tsx
  phytoplankton-console/src/pages/lists-item/index.tsx
  phytoplankton-console/src/pages/lists/ListTable/DeleteListModal/index.tsx
  phytoplankton-console/src/pages/lists/NewListDrawer/index.tsx
Labels: frontend

Fix kinesis ad hoc risk score migration process (#5255)
  tarpon/src/services/risk-scoring/risk-scoring-service.ts
Labels: backend

Create new field for account balance (#5251)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/logic-evaluator/variables/__tests__/resources/entity-variables.json
Labels: backend

Show alias and taxResidenceCountry on the Console for consumers (#5243)
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/GeneralDetails/index.tsx
Labels: frontend

Fix: Cannot read properties of undefined (reading 'find') (#5265)
  phytoplankton-console/src/pages/risk-levels/custom-risk-factors/RiskItem/index.tsx
Labels: frontend

Clean Up Empty Users and Transactions (#5267)
  tarpon/scripts/migrations/pre-deployment/2024.11.11T08.13.44.fix-incorrect-data-users-and-transactions.ts
Labels: backend

Fix Checklist Fails on Sandbox (#5268)
  phytoplankton-console/src/pages/settings/components/ChecklistTemplatesSettings.tsx
  phytoplankton-console/src/utils/checklist-templates.ts
  tarpon/src/core/seed/samplers/cases.ts
Labels: backend, frontend

Don't create dashboard refresh job if MANUAL_DASHBOARD_REFRESH enabled (#5269)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/lambdas/cron-job-ten-minute/app.ts
Labels: backend, frontend

Handle User Status Update Trigger in Ongoing Screening Rules (#5210)
  tarpon/src/services/batch-jobs/ongoing-screening-user-rule-batch-job-runner.ts
Labels: backend

Fix SLA filter inaccurate (#5264)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTableWrapper.tsx
  phytoplankton-console/src/pages/case-management/common.ts
  phytoplankton-console/src/pages/case-management/helpers.tsx
  phytoplankton-console/src/pages/case-management/types.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/alerts/repository.ts
  tarpon/src/services/cases/repository.ts
Labels: backend, frontend

Prevent Double Escalations (#5273)
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/cases/__tests__/case-service.test.ts
Labels: backend

Shadow rule estimated alerts not shown (#5208)
  tarpon/src/services/rules-engine/rule-instance-service.ts
Labels: backend

Implement versioning differently for dow jones (#5162)
  tarpon/src/services/batch-jobs/sanctions-data-fetch-job-runner.ts
  tarpon/src/services/sanctions/__tests__/sanctions-repository.test.ts
  tarpon/src/services/sanctions/repositories/sanctions-repository.ts
  tarpon/src/utils/mongodb-definitions.ts
Labels: backend

Replace risk level with alias in user log (#5225)
  phytoplankton-console/src/components/ActivityCard/helpers.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserActivityCard/index.tsx
Labels: frontend

Validation fix for v2_v8 rules (#5117)
  tarpon/src/services/rules-engine/rule-instance-service.ts
Labels: backend

Fix user distribution by user status widget (#5235)
  phytoplankton-console/src/pages/dashboard/analysis/components/UserStatusDistributionCard/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/post-deployment/2024.11.07T11.56.40.update-user-stats.ts
  tarpon/src/services/analytics/dashboard-metrics/user-stats.ts
Labels: backend, frontend
