Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, databricks, raptor, pipeline

Dont pay attention to ordering when checking schemas
  databricks/src/tables/table_service.py
Labels: databricks

Fix foreachbatch
  databricks/src/tables/entity_tables.py
Labels: databricks

Fix scope for foreachBatch
  databricks/src/tables/entity_tables.py
Labels: databricks

Backfill Shadow Rule Stats (#3876)
  tarpon/scripts/migrations/post-deployment/2024.05.11T10.56.21.shadow-rules-backfill.ts
Labels: backend

[Snyk] Upgrade @slack/web-api from 7.0.3 to 7.0.4 (#3874)
  package.json
  yarn.lock
Labels: none

Revert "[Snyk] Upgrade @slack/web-api from 7.0.3 to 7.0.4" (#3877)
  package.json
  yarn.lock
Labels: none

Upgrade aws-cdk from 2.137.0 to 2.138.0
  databricks/infra/package-lock.json
  databricks/infra/package.json
  lib/package.json
  lib/yarn.lock
  package.json
  phytoplankton-console/package.json
  phytoplankton-console/yarn.lock
  raptor/infra/package-lock.json
  raptor/infra/package.json
  tarpon/package.json
  tarpon/yarn.lock
  yarn.lock
Labels: backend, frontend, databricks, raptor

Updates in Demo Data for Shadow Rules (#3881)
  tarpon/src/core/seed/mongo.ts
Labels: backend

Fix failing e2e tests (#3882)
  phytoplankton-console/cypress/e2e/cases/cases-filter-test.cy.ts
  phytoplankton-console/cypress/e2e/cases/copilot-test.cy.ts
  phytoplankton-console/cypress/support/commands.ts
  phytoplankton-console/cypress/support/index.ts
  phytoplankton-console/src/components/library/Skeleton/index.tsx
Labels: frontend

Fix aggregation variable not loaded (#3859)
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/v8-engine/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-engine/index.ts
Labels: backend

Fix user age filter in rule configuration (#3884)
  phytoplankton-console/src/components/library/AgeRangeInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/RuleConfigurationForm/index.tsx
Labels: frontend

Fix failing to update 'AI Sources' (#3888)
  phytoplankton-console/src/pages/settings/components/AISources/index.tsx
  tarpon/src/lambdas/console-api-tenant/app.ts
Labels: backend, frontend

AI Forensics narrative button gets hidden (#3890)
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemLayout/CommentPopover/index.tsx
Labels: frontend

Upgrade @slack/web-api from 7.0.3 to 7.0.4
  package.json
  yarn.lock
Labels: none

Upgrade @cdktf/provider-aws from 19.14.0 to 19.15.0
  databricks/infra/package-lock.json
  databricks/infra/package.json
Labels: databricks

Default column size on team management (#3892)
  phytoplankton-console/src/pages/accounts/Team/index.tsx
Labels: frontend

V8 fixes (#3887)
  tarpon/scripts/debug-rule/verify-remote-transactions.ts
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/transaction-rules/aggregation-rule.ts
  tarpon/src/services/rules-engine/v8-engine/index.ts
Labels: backend

Fix Empty State in Tenant Settings: (#3895)
  tarpon/src/lambdas/console-api-tenant/app.ts
Labels: backend

#FR-4653: AI Forensics: zoom entity linking only when ctrl/shift/alt button is pressed (#3866)
  phytoplankton-console/src/components/library/Alert/index.module.less
  phytoplankton-console/src/components/library/Alert/index.tsx
  phytoplankton-console/src/components/library/Alert/story.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/EntityLinkingGraph/command-key-icon.react.svg
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/EntityLinkingGraph/index.module.less
  phytoplankton-console/src/pages/users-item/UserDetails/Linking/EntityLinkingGraph/index.tsx
Labels: frontend

Nuke AI Risk score and delete feature flag (#3893)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/components/ui/AIRiskDisplay/ai-logo.react.svg
  phytoplankton-console/src/components/ui/AIRiskDisplay/index.tsx
  phytoplankton-console/src/components/ui/AIRiskDisplay/utils.ts
  phytoplankton-console/src/pages/case-management-item/components/Header/SubHeader/index.tsx
  phytoplankton-console/src/pages/settings/components/RiskAlgorithmsSettings.tsx
  phytoplankton-console/src/pages/transactions-item/SubHeader/index.tsx
  phytoplankton-console/src/pages/users-item/Header/SubHeader/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/rules-engine/user-rules/__tests__/merchant-monitoring-industry.test.ts
Labels: backend, frontend

Fix transactions filtering issue (#3897)
  tarpon/src/services/rules-engine/repositories/mongodb-transaction-repository.ts
Labels: backend

Enable saving/closing a rule configuration at any step (#3885)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/index.tsx
  phytoplankton-console/src/pages/rules/rules-item/index.tsx
Labels: frontend

Limit TRS to two decimal places (#3901)
  phytoplankton-console/src/pages/transactions-item/TransactionReport/index.tsx
Labels: frontend

Only call accounts API once (#3840)
  phytoplankton-console/src/pages/accounts/Team/index.tsx
  phytoplankton-console/src/utils/queries/keys.ts
  phytoplankton-console/src/utils/user-utils.tsx
Labels: frontend

Allow POST to temp bucket from all origins (#3891)
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

Add left padding to address field (#3898)
  phytoplankton-console/src/components/ui/Address/index.module.less
  phytoplankton-console/src/components/ui/Address/index.tsx
Labels: frontend

Fix cases filter E2E (#3905)
  phytoplankton-console/cypress/e2e/cases/cases-filter-test.cy.ts
Labels: frontend

Remove score column from sanction table (#3899)
  phytoplankton-console/src/components/SanctionsTable/index.tsx
Labels: frontend

Upgrade databricks runtime
  databricks/infra/main.ts
Labels: databricks

Fix dashboard-hits-by-user-stats-hourly collection missing data (#3904)
  tarpon/scripts/migrations/post-deployment/2024.05.15T08.34.31.update-hits-per-user-for-rule-hit-count.ts
  tarpon/src/services/analytics/dashboard-metrics/hits-by-user-stats.ts
Labels: backend

Demo data for Shadow Rules (#3902)
  tarpon/src/core/seed/data/rules.ts
Labels: backend

Handle table not existing
  databricks/src/tables/table_service.py
Labels: databricks

Fix lint issues for databricks
  databricks/src/tables/table_service.py
Labels: databricks

V8: fix 'Missing base currency' (#3910)
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transaction-amount-pattern.test.ts
  tarpon/src/services/rules-engine/v8-engine/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-engine/index.ts
  tarpon/src/services/rules-engine/v8-migrations/index.ts
  tarpon/src/services/rules-engine/v8-variables/index.ts
  tarpon/src/test-utils/rule-test-utils.ts
Labels: backend

Handle undefined transaction amounts (#3903)
  tarpon/src/services/rules-engine/v8-engine/index.ts
Labels: backend

Fix QA clean up (#3911)
  tarpon/lib/qa-cleanup.ts
Labels: backend

Partition by date when preparing tables
  databricks/src/tables/table_service.py
Labels: databricks

Shadow Rule Analytics only when Shadow Rule (#3913)
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/index.tsx
Labels: frontend

Updated Log Meta data for Tenant Market Type is not set (#3917)
  tarpon/src/lambdas/incoming-webhooks/app.ts
Labels: backend

[Snyk] Upgrade aws-cdk-lib from 2.138.0 to 2.139.0 (#3912)
  databricks/infra/package-lock.json
  databricks/infra/package.json
Labels: databricks

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

databricks:
  - databricks/**

raptor:
  - raptor/**

pipeline:
  - bin/**
