Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, viper, pipeline

Fix: Transaction filters defaulting incorrectly (#7776)
  phytoplankton-console/src/utils/routing.tsx
Labels: frontend

Hide EDD (#7817)
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
Labels: frontend

Update system messages for performance limit info (#7815)
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
Labels: frontend

Refactor: Remove mongoIdColumn from ClickHouse table definitions (#7811)
  tarpon/src/utils/clickhouse/definition.ts
  tarpon/src/utils/clickhouse/utils.ts
Labels: backend

Fix ClickHouse pre migration (#7822)
  tarpon/src/utils/clickhouse/utils.ts
Labels: backend

:zap: Add derived variables to v8 rules (#7802)
  tarpon/src/services/alerts/clickhouse-repository.ts
  tarpon/src/services/alerts/repository.ts
  tarpon/src/services/logic-evaluator/variables/__tests__/alert-timestamp.test.ts
  tarpon/src/services/logic-evaluator/variables/__tests__/resources/entity-variables.json
  tarpon/src/services/logic-evaluator/variables/__tests__/user-event-timestamp.test.ts
  tarpon/src/services/logic-evaluator/variables/alert-timestamp.ts
  tarpon/src/services/logic-evaluator/variables/index.ts
  tarpon/src/services/logic-evaluator/variables/user-event-timestamp.ts
  tarpon/src/services/rules-engine/repositories/user-event-repository.ts
Labels: backend

Changed Descriptions for AI Features and Flagright AI detections. (#7821)
  phytoplankton-console/src/pages/settings/components/FlagrightAISettings.tsx
  phytoplankton-console/src/pages/settings/components/FlagtightMLSettings.tsx
Labels: frontend

Revert "fix: mask Dow Jones password field to prevent credential exposure" (#7829)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  tarpon/src/core/utils/context.ts
  tarpon/src/services/tenants/index.ts
Labels: backend, frontend

Update Closure Reasons (#7807)
  phytoplankton-console/src/pages/case-management/components/PaymentApprovalButton/PaymentApprovalModal.tsx
  phytoplankton-console/src/pages/settings/components/ReasonsSettings/index.tsx
Labels: frontend

Fix AIF search issue on Alert Details page after Autopilot (#7808)
  phytoplankton-console/src/components/AiForensics/SearchBar/index.tsx
Labels: frontend

[FIX]: Add hit rate to rule analytics (#7092)
  phytoplankton-console/src/pages/dashboard/analysis/components/HitsPerUserCard/utils.ts
  phytoplankton-console/src/pages/dashboard/analysis/components/RulesHitCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RulesHitCard/style.module.less
  tarpon/src/services/analytics/dashboard-metrics/__tests__/dashboard-stats-repository.rules-hit.test.ts
  tarpon/src/services/analytics/dashboard-metrics/__tests__/helpers.ts
  tarpon/src/services/analytics/dashboard-metrics/rule-stats.ts
  tarpon/src/services/dashboard/repositories/dashboard-stats-repository.ts
  tarpon/src/utils/clickhouse/definition.ts
Labels: backend, frontend

FIX: saved user on invite to auth0 (#7824)
  tarpon/src/services/accounts/index.ts
Labels: backend

Enhance public API transaction function dashboard with tenant ID filter (#7812)
  tarpon/infra/dashboards/public-api-transaction-function.ts
Labels: backend, infra

Show ISO for country values V8 (#7831)
  phytoplankton-console/src/components/AppWrapper/Providers/SettingsProvider.tsx
Labels: frontend

Fix crud entities table view (#7833)
  phytoplankton-console/src/components/library/CrudEntitiesTable/index.tsx
Labels: frontend

Remove execRules and hitRules from txnevents for demo data (#7806)
  tarpon/src/core/seed/data/transaction_events.ts
  tarpon/src/core/seed/data/transactions.ts
  tarpon/src/core/seed/dynamodb.ts
  tarpon/src/core/seed/mongo.ts
Labels: backend

FEAT: Conditionally run GH test for certain file changes (#7825)
  .github/workflows/test_phyto.yml
  .github/workflows/test_tarpon.yml
Labels: none

Remove IBAN resolution text
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/story.tsx
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/services/rules-engine/transaction-rules/library.ts
Labels: backend, frontend

Added Currencies for the ones with no exchange rates (#7838)
  lib/constants/currencies.ts
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/currency/index.ts
  tarpon/test-resources/mocked-currency-exchange-rates.ts
Labels: backend

✨ Enhance fuzziness settings by adding Soundex algorithm (#7763)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/rules-engine/transaction-rules/payment-details-screening-base.ts
  tarpon/src/services/rules-engine/user-rules/generic-sanctions-consumer-user.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-bank-name.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-business-user.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
  tarpon/src/services/rules-engine/utils/rule-utils.ts
  tarpon/src/services/sanctions/providers/sanctions-data-fetcher.ts
  tarpon/src/utils/__tests__/fuzzy.test.ts
  tarpon/src/utils/fuzzy.ts
Labels: backend

Added New Parameters to API Schema (#7837)
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/logic-evaluator/variables/__tests__/resources/entity-variables.json
Labels: backend

Add migration for comply settings removal and disable R-16 (#7845)
  tarpon/scripts/migrations/post-deployment/2025.09.04T12.38.09.remove-comply-advantage-settings.ts
  tarpon/scripts/migrations/post-deployment/2025.09.04T12.54.30.disable-deleted-r-16-rule.ts
Labels: backend

Tag values can't be inputted to filters (#7689)
  .gitignore
  phytoplankton-console/src/components/library/Select/index.tsx
  phytoplankton-console/src/components/ui/TagSearchButton/PopupContent/index.tsx
  phytoplankton-console/src/components/ui/TagSearchButton/PopupContent/style.module.less
  phytoplankton-console/src/components/ui/TagSearchButton/index.tsx
  phytoplankton-console/src/components/ui/TagSearchButton/types.ts
  phytoplankton-console/src/pages/case-management-item/CaseDetails/InsightsCard/TransactionsList/index.tsx
  phytoplankton-console/src/pages/case-management/helpers.tsx
  phytoplankton-console/src/pages/transactions/components/TagSearchButton/PopupContent/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionTagSearchButton/index.tsx
  phytoplankton-console/src/pages/transactions/components/UserTagSearchButton/PopupContent/index.tsx
  phytoplankton-console/src/pages/transactions/components/UserTagSearchButton/PopupContent/style.module.less
  phytoplankton-console/src/pages/transactions/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/UserTransactionHistoryTable/index.tsx
Labels: frontend

Add Screening Alerts Export Batch Job functionality (#7820)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/@types/batch-job/index.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/lambdas/console-api-tenant/app.ts
  tarpon/src/services/batch-jobs/batch-job-runner-factory.ts
  tarpon/src/services/batch-jobs/screening-alerts-export-batch-job-runner.ts
Labels: backend

Remove Stopwords Library (#7840)
  tarpon/package.json
  tarpon/src/services/rules-engine/rule-service.ts
  tarpon/src/utils/stopwords.ts
  tarpon/yarn.lock
Labels: backend

Fix: Added space between label item in Alert display in AIF (#7843)
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemLayout/index.tsx
Labels: frontend

Add R-17 to demo data (#7851)
  tarpon/src/core/seed/data/rules.ts
Labels: backend

Update alias value return (#7853)
  phytoplankton-console/src/components/AppWrapper/Providers/SettingsProvider.tsx
Labels: frontend

OPTIMIZATION: reduce demo data seeding time (#7826)
  tarpon/infra/cdk-utils/cdk-fargate-utils.ts
  tarpon/src/core/seed/clickhouse.ts
  tarpon/src/core/seed/data/counter.ts
  tarpon/src/core/seed/data/transactions.ts
  tarpon/src/core/seed/data/users.ts
  tarpon/src/core/seed/dynamodb.ts
  tarpon/src/core/seed/index.ts
  tarpon/src/core/seed/mongo.ts
  tarpon/src/core/seed/samplers/transaction.ts
  tarpon/src/lambdas/batch-job/app.ts
  tarpon/src/services/alerts/dynamo-repository.ts
  tarpon/src/services/audit-log/repositories/clickhouse-repository.ts
  tarpon/src/services/audit-log/repositories/dynamo-repository.ts
  tarpon/src/services/cases/dynamo-repository.ts
  tarpon/src/services/counter/dynamo-repository.ts
  tarpon/src/services/nango/repository.ts
  tarpon/src/services/notifications/dynamo-repository.ts
  tarpon/src/services/risk-scoring/repositories/risk-repository.ts
  tarpon/src/services/rules-engine/repositories/dynamodb-transaction-repository.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
  tarpon/src/services/tenants/repositories/reasons/dynamo-repository.ts
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend, infra

Use cache while updating case/alert status (#7855)
  tarpon/src/services/alerts/index.ts
Labels: backend

Fix create table for local clickhouse (#7860)
  tarpon/src/utils/clickhouse/utils.ts
Labels: backend

Add maxTotalMemoryGb and numReplicas to Clickhouse configuration (#7861)
  lib/config/config-prod-us-1.ts
Labels: none

[Snyk] Upgrade @react-email/components from 0.4.0 to 0.5.0 (#7863)
  email-templates/package-lock.json
  email-templates/package.json
Labels: none

Fix: AIF PDF shows userAlais instead of {{userAlias}} (#7828)
  phytoplankton-console/src/pages/alert-item/components/Header/AiForensicsPdfDownloadButton/PdfProperties.tsx
  phytoplankton-console/src/pages/alert-item/components/Header/AiForensicsPdfDownloadButton/PdfQuestionResponseItem.tsx
  phytoplankton-console/src/pages/alert-item/components/Header/AiForensicsPdfDownloadButton/PdfTable.tsx
Labels: frontend

Fix: User ID, User name UI changes (#7839)
  phytoplankton-console/src/pages/case-management/helpers.tsx
  phytoplankton-console/src/pages/transactions/components/UserSearchPopup/PopupContent/index.tsx
  phytoplankton-console/src/pages/users/users-list/users-table.tsx
Labels: frontend

Fix regression of comply code removal (#7867)
  tarpon/src/services/sanctions/index.ts
Labels: backend

Enable copy pasting IDs in risk scoring simulation (#7866)
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/SimulationDetailsForm/index.tsx
Labels: frontend

Fix: Hover modal does not persists long after clicking tag (#7835)
  phytoplankton-console/src/components/library/Tooltip/index.tsx
Labels: frontend

Fix dashboard analysis cache by using tenantId from ctx (#7832)
  tarpon/src/lambdas/console-api-dashboard/app.ts
Labels: backend

Fix MULTIPLE mode for select (#7856)
  phytoplankton-console/src/components/AppWrapper/Menu/Footer/SuperAdminPanel/index.tsx
  phytoplankton-console/src/components/Narrative/index.tsx
  phytoplankton-console/src/components/TransactionIdsSelect/index.tsx
  phytoplankton-console/src/components/UserIdsSelect/index.tsx
  phytoplankton-console/src/components/library/Form/InputField/__tests__/input-field.dom.test.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/ArrayPropertyInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/CountriesInput/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/FreeTextEnum/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/GenericSanctionScreeningTypes/index.tsx
  phytoplankton-console/src/components/library/JsonSchemaEditor/Property/PropertyInput/custom/PaymentChannelInput/index.tsx
  phytoplankton-console/src/components/library/QuickFilter/subtypes/SearchQuickFilter/PopupContent/index.tsx
  phytoplankton-console/src/components/library/Select/__tests__/select.dom.test.tsx
  phytoplankton-console/src/components/library/Select/index.tsx
  phytoplankton-console/src/components/library/Select/story.tsx
  phytoplankton-console/src/components/library/Select/style.module.less
  phytoplankton-console/src/components/library/Tag/index.module.less
  phytoplankton-console/src/components/ui/LogicBuilder/ListSelect/index.tsx
  phytoplankton-console/src/components/ui/LogicBuilder/ListSelectDynamic/index.tsx
  phytoplankton-console/src/components/ui/LogicBuilder/widgets.tsx
  phytoplankton-console/src/pages/case-management/components/AssigneesDropdown/index.tsx
  phytoplankton-console/src/pages/case-management/components/SlaFilter/PopupContent/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseManagement/DistributionByStatus/index.tsx
  phytoplankton-console/src/pages/lists/NewListDrawer/NewValueInput/index.tsx
  phytoplankton-console/src/pages/risk-levels/RiskFactorsSimulation/SimulationDetailsForm/index.tsx
  phytoplankton-console/src/pages/risk-levels/risk-factors/RiskFactorConfiguration/RiskFactorConfigurationForm/RiskFactorConfigurationStep/ParametersTable/const.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/steps/BasicDetailsStep/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV2/steps/RuleParametersStep/ApplyRiskLevels/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/AlertCreationDetailsStep/AlertAssignedToInput/input.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/AlertCreationDetailsStep/FrozenStatusInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/AlertCreationDetailsStep/SlaPolicyInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/BasicDetailsStep/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/DefineLogicCard/ApplyRiskLevels/index.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/CreateScreeningProfileModal.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/CreateSearchProfileModal.tsx
  phytoplankton-console/src/pages/settings/components/SanctionsSettings/SanctionProviderSettings.tsx
  phytoplankton-console/src/pages/settings/components/SlaPolicySettings/PolicyForm/components/PolicyConfigurationTable.tsx
  phytoplankton-console/src/pages/settings/components/TagSettings/index.tsx
  phytoplankton-console/src/pages/transactions/components/UniquesSearchButton/PopupContent/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/Attachments/index.tsx
  phytoplankton-console/src/pages/users-item/UserDetails/ConsumerUserDetails/ScreeningDetails/PepStatus/index.tsx
Labels: frontend

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

viper:
  - viper/**

pipeline:
  - bin/**
