Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, raptor

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

raptor:
  - raptor/**

Improve cypress npm scripts for local dev (#1784)
  phytoplankton-console/README.md
  phytoplankton-console/config/config.local.json
  phytoplankton-console/cypress-run.js
  phytoplankton-console/cypress.config.ts
  phytoplankton-console/cypress/e2e/alerts/alert-comment-from-table.cy.js
  phytoplankton-console/cypress/e2e/alerts/alerts-close-test.cy.js
  phytoplankton-console/cypress/e2e/basic/load-main-pages.cy.js
  phytoplankton-console/cypress/e2e/basic/login.cy.js
  phytoplankton-console/cypress/e2e/cases/cases-assigning-test.cy.js
  phytoplankton-console/cypress/e2e/cases/cases-close-test.cy.js
  phytoplankton-console/cypress/e2e/cases/cases-escalate-test.cy.js
  phytoplankton-console/cypress/e2e/sar/sar-generate.cy.ts
  phytoplankton-console/cypress/e2e/users/users-comment.cy.js
  phytoplankton-console/cypress/support/commands.ts
  phytoplankton-console/cypress/support/index.ts
  phytoplankton-console/lib/cdk-phytoplankton-pipeline-stack.ts
  phytoplankton-console/package.json
  phytoplankton-console/src/components/SuperAdminPanel/index.tsx
  phytoplankton-console/src/components/library/Modal/index.tsx
  phytoplankton-console/tests/PuppeteerEnvironment.js
  phytoplankton-console/tests/beforeTest.js
  phytoplankton-console/tests/getBrowser.js
  phytoplankton-console/tests/run-tests.js
  phytoplankton-console/tests/setupTests.js
  phytoplankton-console/yarn.lock
  tarpon/package.json
Labels: backend, frontend

Transactions Volume Upper Bound Threshold (#1798)
  tarpon/src/services/rules-engine/transaction-rules/__tests__/transactions-volume.test.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-volume.ts
Labels: backend

Local env for dev init (#1800)
  tarpon/src/core/xray/index.ts
Labels: backend

Fix regressions (#1801)
  phytoplankton-console/config/config.local.json
  phytoplankton-console/src/@types/globals.d.ts
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/DisplayCheckedTransactions/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
  tarpon/init_local_db/all.ts
  tarpon/src/core/seed/data/transactions.ts
  tarpon/src/core/seed/dynamodb.ts
  tarpon/src/lambdas/batch-job/__tests__/simulation-beacon-batch-job-runner.test.ts
  tarpon/src/lambdas/batch-job/demo-mode-data-load-job-runner.ts
  tarpon/src/services/rules-engine/aggregator/__tests__/user-transaction-stats-by-time.test.ts
  tarpon/src/utils/local-dynamodb-change-handler.ts
Labels: backend, frontend

Removed Pop Confirm (#1803)
  phytoplankton-console/src/pages/accounts/Team/index.tsx
Labels: frontend

#FR-2763: Implement expanded transaction view for payment approvals (PART 1) (#1802)
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/rules/my-rules/index.tsx
  phytoplankton-console/src/pages/rules/utils.ts
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/ExpandedRowRenderer/RuleAndCaseDetails/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/ExpandedRowRenderer/RuleAndCaseDetails/styles.module.less
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/ExpandedRowRenderer/helpers.ts
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/ExpandedRowRenderer/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/index.tsx
Labels: frontend

Follow up webhook (#1804)
  tarpon/lib/openapi/public/docs/webhooks-events.md
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/src/services/rules-engine/rules-engine-service.ts
Labels: backend

Implement proper danger state for buttons (#1775)
  phytoplankton-console/src/components/SuperAdminPanel/CreateTenantModal/index.tsx
  phytoplankton-console/src/components/library/Button/index.module.less
  phytoplankton-console/src/components/library/Button/index.tsx
  phytoplankton-console/src/components/library/Button/story.tsx
  phytoplankton-console/src/components/ui/colors.less
  phytoplankton-console/src/components/utils/Confirm/index.tsx
  phytoplankton-console/src/pages/lists/ListTable/DeleteListModal/index.tsx
Labels: frontend

Case status component is shrunk (#1760)
  phytoplankton-console/src/components/ui/Form/Layout/Label/index.tsx
  phytoplankton-console/src/pages/case-management-item/components/Header/index.module.less
  phytoplankton-console/src/pages/case-management-item/components/Header/index.tsx
Labels: frontend

Fix Link Webhook (#1806)
  tarpon/lib/openapi/public/docs/webhooks-events.md
Labels: backend

#FR-2763: Implement expanded transaction view for payment approvals (part 2) (#1807)
  phytoplankton-console/src/pages/case-management-item/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/ExpandedRowRenderer/RuleAndCaseDetails/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/ExpandedRowRenderer/RuleAndCaseDetails/styles.module.less
Labels: frontend

Branding Fixes (#1811)
  phytoplankton-console/src/components/SimulationPageWrapper/index.tsx
  phytoplankton-console/src/pages/settings/components/RiskAlgorithmsSettings.tsx
Labels: frontend

Fix tenant creation (#1809)
  tarpon/src/lambdas/console-api-tenant/app.ts
Labels: backend

Added Updated At Logic (#1810)
  phytoplankton-console/cypress/e2e/cases/cases-close-test.cy.js
  phytoplankton-console/cypress/e2e/cases/cases-escalate-test.cy.js
  phytoplankton-console/cypress/e2e/sar/sar-generate.cy.ts
  phytoplankton-console/src/pages/case-management/AlertTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
  phytoplankton-console/src/pages/case-management/CaseTableWrapper.tsx
  phytoplankton-console/src/pages/case-management/helpers.tsx
  phytoplankton-console/src/pages/case-management/types.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/scripts/migrations/pre-deployment/2023.07.24T10.08.14.add-updated-at.ts
  tarpon/src/lambdas/console-api-case/services/case-creation-service.ts
  tarpon/src/services/rules-engine/repositories/alerts-repository.ts
  tarpon/src/services/rules-engine/repositories/case-repository.ts
  tarpon/src/utils/mongoDBUtils.ts
Labels: backend, frontend

Fr 2607 fix transaction count on pagination (#1739)
  phytoplankton-console/src/components/library/CursorPagination/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/DisplayCheckedTransactions/index.tsx
Labels: frontend

Add new rule filters under user details (#1782)
  tarpon/src/services/rules-engine/filters.ts
  tarpon/src/services/rules-engine/user-filters/__tests__/user-kyc-status.test.ts
  tarpon/src/services/rules-engine/user-filters/__tests__/user-status.test.ts
  tarpon/src/services/rules-engine/user-filters/user-kyc-status.ts
  tarpon/src/services/rules-engine/user-filters/user-status.ts
  tarpon/src/services/rules-engine/utils/rule-parameter-schemas.ts
Labels: backend

Block public access to s3 (#1799)
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

Fix Branding replace `'s` to '' (#1812)
  phytoplankton-console/src/pages/settings/components/RiskAlgorithmsSettings.tsx
Labels: frontend

Data not loading for Kevin for Comgate rule (#1808)
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/DisplayCheckedTransactions/index.tsx
  tarpon/scripts/migrations/post-deployment/2023.07.24T09.48.34.add-rule-hit-meta.ts
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/core/seed/samplers/cases.ts
Labels: backend, frontend

Migrate the remaining modals according to the design (#1763)
  phytoplankton-console/src/components/SanctionsTable/SearchResultDetailsModal/SearchResultDetailsModalFooter/index.tsx
  phytoplankton-console/src/components/SanctionsTable/SearchResultDetailsModal/SearchResultDetailsModalFooter/style.module.less
  phytoplankton-console/src/components/SanctionsTable/SearchResultDetailsModal/index.module.less
  phytoplankton-console/src/components/SanctionsTable/SearchResultDetailsModal/index.tsx
  phytoplankton-console/src/components/library/Modal/index.tsx
  phytoplankton-console/src/components/library/Modal/style.module.less
  phytoplankton-console/src/pages/auditlog/components/AuditLogModal/index.tsx
  phytoplankton-console/src/pages/auditlog/components/AuditLogModal/style.module.less
  phytoplankton-console/src/pages/case-management/components/Copilot/CopilotButtonContent.tsx
  phytoplankton-console/src/pages/case-management/components/Copilot/index.module.less
  phytoplankton-console/src/pages/settings/components/WebhookDeliveryAttemptsTable.module.less
  phytoplankton-console/src/pages/settings/components/WebhookDeliveryAttemptsTable.tsx
Labels: frontend

Set max height and scrolling to the "Assign to" Dropdown (#1780)
  phytoplankton-console/src/pages/case-management/components/AssignToButton/index.module.less
  phytoplankton-console/src/pages/case-management/components/AssignToButton/index.tsx
Labels: frontend

No N+1 queries for IBAN resolution (#1788)
  tarpon/src/services/iban.com/__tests__/index.test.ts
  tarpon/src/services/iban.com/index.ts
  tarpon/src/services/iban.com/repositories/iban-api-repository.ts
  tarpon/src/services/rules-engine/transaction-rules/__tests__/sanctions-counterparty.test.ts
  tarpon/src/services/rules-engine/transaction-rules/sanctions-counterparty.ts
  tarpon/src/services/rules-engine/user-rules/__tests__/sanctions-bank-name.test.ts
  tarpon/src/services/rules-engine/user-rules/sanctions-bank-name.ts
Labels: backend

Payment approvals fixes (#1815)
  phytoplankton-console/src/pages/case-management/components/PaymentApprovalButton/PaymentApprovalModal.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/ExpandedRowRenderer/RuleAndCaseDetails/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/ExpandedRowRenderer/index.tsx
  tarpon/src/lambdas/console-api-transaction/app.ts
Labels: backend, frontend

Fix simulation extrapolation for users/cases (#1786)
  tarpon/src/lambdas/batch-job/__tests__/simulation-beacon-batch-job-runner.test.ts
  tarpon/src/lambdas/batch-job/simulation-beacon-batch-job-runner.ts
  tarpon/src/services/users/repositories/user-repository.ts
Labels: backend

Reduce Google Sheet API read requests (#1814)
  tarpon/src/services/metrics/sheets-api-usage-metrics-service.ts
Labels: backend

Add format:check to phytoplankton (#1813)
  .github/workflows/test_phyto.yml
  phytoplankton-console/.prettierignore
  phytoplankton-console/package.json
  phytoplankton-console/src/pages/case-management/components/AssignToButton/index.module.less
Labels: frontend

Fix google sheet cache (#1818)
  tarpon/src/services/metrics/sheets-api-usage-metrics-service.ts
Labels: backend

remove unused console files (#1817)
  phytoplankton-console/src/components/HeaderSearch/index.module.less
  phytoplankton-console/src/components/HeaderSearch/index.tsx
  phytoplankton-console/src/components/SalesforceCard/CommunicationCard/index.module.less
  phytoplankton-console/src/components/SalesforceCard/CommunicationCard/index.tsx
  phytoplankton-console/src/components/SalesforceCard/OpenNewTab.react.svg
  phytoplankton-console/src/components/SalesforceCard/index.module.less
  phytoplankton-console/src/components/SalesforceCard/index.tsx
  phytoplankton-console/src/components/rules/RuleFiltersEditor.tsx
  phytoplankton-console/src/components/rules/RuleParametersEditor.module.less
  phytoplankton-console/src/components/rules/RuleParametersEditor.tsx
  phytoplankton-console/src/components/ui/PrintButton/index.tsx
  phytoplankton-console/src/components/ui/UserCountryDisplay/index.tsx
  phytoplankton-console/src/pages/Admin.tsx
  phytoplankton-console/src/pages/auditlog/components/ActionTakeByFilterButton/types.ts
  phytoplankton-console/src/pages/auditlog/components/EntityFilterButton/types.ts
  phytoplankton-console/src/pages/case-management/components/AssignToButton/utils.ts
  phytoplankton-console/src/pages/dashboard/analysis/components/Map/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/NumberInfo/index.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/NumberInfo/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/PageLoading/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Trend/index.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/Trend/index.tsx
  phytoplankton-console/src/pages/import/import-transactions/_mock.ts
  phytoplankton-console/src/pages/import/import-users/_mock.ts
  phytoplankton-console/src/pages/lists-item/helpers.ts
  phytoplankton-console/src/pages/rules/consts.ts
  phytoplankton-console/src/pages/transactions/components/UserTagSearchButton/types.ts
  phytoplankton-console/src/utils/positions.ts
  phytoplankton-console/src/utils/transactionState.ts
Labels: frontend

Implement sanctions lists display on Console (#1783)
  phytoplankton-console/src/branding/Comply-Advantage-logo.svg
  phytoplankton-console/src/pages/settings/index.tsx
  phytoplankton-console/src/pages/settings/styles.module.less
Labels: frontend

Fix new region deployment failure due to rate limit (#1822)
  tarpon/infra/cdk-utils/cdk-lambda-utils.ts
Labels: backend, infra

Remove foreign currency field (#1821)
  tarpon/src/services/sar/generators/KE/SAR/index.ts
Labels: backend

Only show suspended alerts (#1823)
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/ExpandedRowRenderer/RuleAndCaseDetails/index.tsx
  phytoplankton-console/src/pages/transactions/components/TransactionsTable/ExpandedRowRenderer/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/lambdas/console-api-transaction/app.ts
  tarpon/src/services/rules-engine/repositories/alerts-repository.ts
Labels: backend, frontend

FinCEN form (initial version) (#1764)
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/ReportStep/index.tsx
  phytoplankton-console/src/components/Sar/SarReportDrawer/SarReportDrawerForm/index.tsx
  phytoplankton-console/src/components/Sar/SarReportDrawer/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/ObjectPropertyInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/custom/DayWindowInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/custom/PaymentFiltersInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/custom/TimeWindowInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/Property/PropertyInput/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/schema-utils.ts
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/JsonSchemaEditor/utils.ts
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/RuleConfigurationForm/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfigurationDrawer/steps/StandardFiltersStep/index.tsx
  tarpon/.prettierignore
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/package-lock.json
  tarpon/package.json
  tarpon/scripts/esbuild.js
  tarpon/src/services/sar/generators/KE/SAR/index.ts
  tarpon/src/services/sar/generators/US/SAR/index.ts
  tarpon/src/services/sar/generators/US/SAR/resources/EFL_SARXBatchSchema.ts
  tarpon/src/services/sar/generators/US/SAR/resources/EFL_SARXBatchSchema.type.ts
  tarpon/src/services/sar/generators/US/SAR/schema.ts
  tarpon/src/services/sar/generators/US/SAR/scripts/attribute-infos.ts
  tarpon/src/services/sar/generators/US/SAR/scripts/build-fincen.ts
  tarpon/src/services/sar/generators/US/SAR/scripts/xml-to-json.ts
  tarpon/src/services/sar/generators/index.ts
Labels: backend, frontend

Lock dependencies (#1829)
  tarpon/infra/cdk-tarpon-pipeline-stack.ts
Labels: backend, infra

Fix Merchant Monitoring Missing Refresh (#1827)
  tarpon/src/lambdas/console-api-merchant/app.ts
Labels: backend

change the AI insights to brain icon insights in case management (#1828)
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.module.less
  phytoplankton-console/src/pages/case-management-item/CaseDetails/index.tsx
Labels: frontend

Avoid rebuilding rule aggregation unnecessarily (#1820)
  tarpon/src/services/rules-engine/repositories/aggregation-repository.ts
  tarpon/src/services/rules-engine/transaction-rules/aggregation-rule.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-exceed-past-period.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-outflow-inflow-volume.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-pattern-percentage-base.ts
  tarpon/src/services/rules-engine/transaction-rules/transactions-pattern-velocity-base.ts
Labels: backend

changed the cypress tests from JS to TS (#1805)
  phytoplankton-console/cypress/e2e/alerts/alert-comment-from-table.cy.ts
  phytoplankton-console/cypress/e2e/alerts/alerts-close-test.cy.ts
  phytoplankton-console/cypress/e2e/basic/load-main-pages.cy.ts
  phytoplankton-console/cypress/e2e/basic/login.cy.ts
  phytoplankton-console/cypress/e2e/cases/cases-assigning-test.cy.ts
  phytoplankton-console/cypress/e2e/cases/cases-close-test.cy.ts
  phytoplankton-console/cypress/e2e/cases/cases-escalate-test.cy.ts
  phytoplankton-console/cypress/e2e/users/users-comment.cy.ts
  phytoplankton-console/cypress/tsconfig.json
Labels: frontend

Demo mode seed data improvements pt1 (#1836)
  tarpon/src/core/seed/data/rules.ts
  tarpon/src/core/seed/data/sanctions.ts
  tarpon/src/core/seed/dynamodb.ts
  tarpon/src/core/seed/mongo.ts
Labels: backend

Limit the sample currencies to only 3 to reduce currency conversion cache miss (#1840)
  tarpon/src/core/seed/samplers/currencies.ts
Labels: backend
