Repository ArjitJindal/temp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, infra, frontend, databricks, raptor, pipeline

.github/labeler.yml:

backend:
  - tarpon/**

infra:
  - tarpon/infra/**

frontend:
  - phytoplankton-console/**

databricks:
  - databricks/**

raptor:
  - raptor/**

pipeline:
  - bin/**

Add pack_models.sh
  raptor/infra/config.json
Labels: raptor

Update model dir structu
  raptor/pack_models.sh
  raptor/src/models/packed-models/model.tar.gz
Labels: raptor

Move to serverless inference
  raptor/infra/config.json
  raptor/infra/stacks/model-serving-stack.ts
Labels: raptor

Remove datalogging to enable serverless
  raptor/infra/config.json
  raptor/infra/stacks/model-serving-stack.ts
Labels: raptor

Fix Update Count in Sampling Status (#3823)
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/rules-engine/repositories/alerts-repository.ts
Labels: backend

Fix txn aggregation questions
  tarpon/src/services/copilot/questions/definitions/transaction-aggregations.ts
Labels: backend

Don’t show simulator toggle within rule and risk configuration flow (#3801)
  phytoplankton-console/src/components/BreadcrumbsSimulationPageWrapper/index.tsx
  phytoplankton-console/src/components/PageWrapper/index.tsx
  phytoplankton-console/src/components/PageWrapper/styles.module.less
  phytoplankton-console/src/pages/case-management-item/index.tsx
  phytoplankton-console/src/pages/qa-sample-item/index.module.less
  phytoplankton-console/src/pages/qa-samples/index.tsx
  phytoplankton-console/src/pages/rules/rule-instance-page/index.tsx
  phytoplankton-console/src/pages/rules/rule-instance-page/styles.module.less
  phytoplankton-console/src/pages/rules/rules-item/index.tsx
  phytoplankton-console/src/pages/rules/rules-library-item/index.tsx
  phytoplankton-console/src/pages/transactions-item/index.tsx
  phytoplankton-console/src/pages/users-item/index.tsx
Labels: frontend

Update ECS perm to include PATCH (#3835)
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

V8 operator - fix “Any in” (#3824)
  phytoplankton-console/src/components/ui/LogicBuilder/helpers.tsx
  phytoplankton-console/src/components/ui/LogicBuilder/widget-utils.ts
  phytoplankton-console/src/components/ui/LogicBuilder/widgets.tsx
Labels: frontend

Remove DefaultRiskLevel and Risk Level from Risk Parameters (#3819)
  tarpon/scripts/migrations/post-deployment/2024.05.01T12.52.02.remove-default-risk-level-and-risk-level-from-parameters.ts
Labels: backend

Support simulating a V8 rule (#3826)
  phytoplankton-console/src/components/library/RiskLevelSwitch/styles.module.less
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/SimulationStatistics/DeltaCard/index.module.less
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/SimulationStatistics/DeltaCard/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/SimulationStatistics/DeltaChart/index.module.less
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/SimulationStatistics/DeltaChart/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/SimulationStatistics/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationSimulation/style.module.less
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/BasicDetailsStep/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/BasicDetailsStep/style.module.less
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/AggregationVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/EntityVariableForm.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/VariableDefinitionCard/style.module.less
  phytoplankton-console/src/pages/rules/RuleConfiguration/RuleConfigurationV8/RuleConfigurationFormV8/steps/RuleIsHitWhenStep/index.tsx
  phytoplankton-console/src/pages/rules/RuleConfiguration/index.tsx
  phytoplankton-console/src/pages/rules/RulesTable/index.tsx
  phytoplankton-console/src/pages/rules/my-rules/index.tsx
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/index.tsx
  phytoplankton-console/src/pages/rules/simulation-history-item/index.tsx
  phytoplankton-console/src/pages/rules/simulation-history/SimulationHistoryTable/index.tsx
  phytoplankton-console/src/pages/rules/utils.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/v8-engine/index.ts
  tarpon/src/test-utils/rule-test-utils.ts
Labels: backend, frontend

Add XK country enum (#3837)
  tarpon/lib/openapi/public/openapi-public-original.yaml
Labels: backend

Fix e2e test (#3838)
  phytoplankton-console/cypress/e2e/rules/create-scenario.cy.ts
Labels: frontend

Fix canary tests (#3839)
  tarpon/src/canaries/public-api-canary-tests/index.ts
Labels: backend

Fix canary test
  tarpon/src/canaries/public-api-canary-tests/index.ts
Labels: backend

Fix forensics when there’s no user (#3777)
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/index.tsx
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/services/cases/index.ts
  tarpon/src/services/copilot/questions/autocompletion-service.ts
  tarpon/src/services/copilot/questions/definitions/__tests__/util.ts
  tarpon/src/services/copilot/questions/definitions/alert-history.ts
  tarpon/src/services/copilot/questions/definitions/alerts-related-to-transaction.ts
  tarpon/src/services/copilot/questions/definitions/case-history.ts
  tarpon/src/services/copilot/questions/definitions/crm-insights.ts
  tarpon/src/services/copilot/questions/definitions/entity-linking.ts
  tarpon/src/services/copilot/questions/definitions/linked-users.ts
  tarpon/src/services/copilot/questions/definitions/transaction-aggregations.ts
  tarpon/src/services/copilot/questions/definitions/transaction-by-rules-action.ts
  tarpon/src/services/copilot/questions/definitions/transaction-summary.ts
  tarpon/src/services/copilot/questions/definitions/transaction-type.ts
  tarpon/src/services/copilot/questions/definitions/transactions.ts
  tarpon/src/services/copilot/questions/definitions/user-details.ts
  tarpon/src/services/copilot/questions/definitions/util.ts
  tarpon/src/services/copilot/questions/definitions/website.ts
  tarpon/src/services/copilot/questions/question-service.ts
  tarpon/src/services/copilot/questions/types.ts
Labels: backend, frontend

Set up FIFO Queue and consumer lambda (#3791)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/constants.ts
  tarpon/lib/lambdas.ts
  tarpon/src/core/dynamodb/dynamodb-stream-consumer-builder.ts
  tarpon/src/core/dynamodb/dynamodb-stream-utils.ts
  tarpon/src/lambdas/tarpon-change-mongodb-consumer/app.ts
  tarpon/src/lambdas/transaction-events-consumer/app.ts
Labels: backend, infra

Fix deploy tarpon in pipeline (#3846)
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

Migrate from fast-geoip to geoip-lite (#3850)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/constants.ts
  tarpon/package.json
  tarpon/scripts/esbuild.js
  tarpon/src/services/risk-scoring/derived-risk-factors/ipAddressCountry.ts
  tarpon/src/services/rules-engine/transaction-rules/high-risk-ip-address-countries.ts
  tarpon/src/services/rules-engine/transaction-rules/ip-address-unexpected-location.ts
  tarpon/src/services/rules-engine/transaction-rules/sender-location-changes-frequency.ts
  tarpon/yarn.lock
Labels: backend, infra

[Snyk] Upgrade cdktf from 0.20.6 to 0.20.7 (#3844)
  databricks/infra/package-lock.json
  databricks/infra/package.json
Labels: databricks

Risk Value Corrected on Transaction Report (#3848)
  phytoplankton-console/src/pages/transactions-item/TransactionReport/index.tsx
  phytoplankton-console/src/pages/transactions-item/index.tsx
Labels: frontend

Add lable for Kosovo (#3851)
  lib/constants/countries.ts
Labels: none

Machine Learning: Setup Data Ingestion spec (#3852)
  raptor/.gitignore
  raptor/Makefile
  raptor/poetry.lock
  raptor/pyproject.toml
  raptor/src/components/data_ingestion.py
Labels: raptor

Clean up mongodb collections (#3853)
  tarpon/scripts/migrations/pre-deployment/2024.05.07T13.10.51.clean-up-collections.ts
Labels: backend

Refractor Auth0 Domain in Accounts and Roles Service (#3845)
  tarpon/src/core/utils/context.ts
  tarpon/src/lambdas/console-api-case/app.ts
  tarpon/src/lambdas/jwt-authorizer/app.ts
  tarpon/src/services/accounts/index.ts
  tarpon/src/services/alerts/index.ts
  tarpon/src/services/batch-jobs/tenant-deletion-batch-job-runner.ts
  tarpon/src/services/cases/__tests__/case-service.test.ts
  tarpon/src/services/cases/case-creation-service.ts
  tarpon/src/services/cases/cases-alerts-transformer.ts
  tarpon/src/services/cases/index.ts
  tarpon/src/services/copilot/questions/question-service.ts
  tarpon/src/services/notifications/index.ts
  tarpon/src/services/roles/index.ts
  tarpon/src/services/tenants/index.ts
Labels: backend

Fix migration not being applied (#3855)
  tarpon/scripts/migrations/pre-deployment/2024.05.07T05.46.43.add-auth-0-domains-to-tenant.ts
  tarpon/src/services/tenants/index.ts
Labels: backend

Fix CronJobDaily lambda in Dev (#3856)
  tarpon/infra/cdk-tarpon-stack.ts
  tarpon/lib/qa-cleanup.ts
Labels: backend, infra

Fix geoip.lookup is not a function (#3860)
  tarpon/src/core/logger/index.ts
  tarpon/src/services/risk-scoring/derived-risk-factors/ipAddressCountry.ts
  tarpon/src/services/rules-engine/transaction-rules/high-risk-ip-address-countries.ts
  tarpon/src/services/rules-engine/transaction-rules/ip-address-unexpected-location.ts
  tarpon/src/services/rules-engine/transaction-rules/sender-location-changes-frequency.ts
  tarpon/src/services/rules-engine/utils/geoip.ts
Labels: backend

Persist V8 rule variables after running a rule (#3849)
  phytoplankton-console/src/components/AppWrapper/Menu/index.tsx
  tarpon/lib/openapi/public/openapi-public-original.yaml
  tarpon/package.json
  tarpon/src/services/rules-engine/__tests__/rules-engine-service.test.ts
  tarpon/src/services/rules-engine/rule.ts
  tarpon/src/services/rules-engine/rules-engine-service.ts
  tarpon/src/services/rules-engine/v8-engine/__tests__/index.test.ts
  tarpon/src/services/rules-engine/v8-engine/__tests__/utils.test.ts
  tarpon/src/services/rules-engine/v8-engine/index.ts
  tarpon/src/services/rules-engine/v8-engine/utils.ts
  tarpon/yarn.lock
Labels: backend, frontend

Prevent multiple cases from having the same case ID (#3861)
  tarpon/lib/openapi/internal/openapi-internal-original.yaml
  tarpon/src/core/seed/mongo.ts
  tarpon/src/services/cases/case-creation-service.ts
  tarpon/src/services/counter/repository.ts
  tarpon/src/services/rules-engine/repositories/rule-instance-repository.ts
  tarpon/src/utils/mongodb-utils.ts
Labels: backend

[Snyk] Upgrade cdktf-cli from 0.20.6 to 0.20.7 (#3858)
  databricks/infra/package-lock.json
  databricks/infra/package.json
Labels: databricks

Apply geoip lambda layer to other lambdas (#3863)
  tarpon/infra/cdk-tarpon-stack.ts
Labels: backend, infra

Fix counter collection initialization (#3864)
  tarpon/src/services/counter/repository.ts
Labels: backend

#FR-4718: Implement skeleton loader component and implement in dashboard (#3842)
  phytoplankton-console/src/components/library/Skeleton/index.module.less
  phytoplankton-console/src/components/library/Skeleton/index.tsx
  phytoplankton-console/src/components/library/Skeleton/story.tsx
  phytoplankton-console/src/components/library/Table/index.module.less
  phytoplankton-console/src/components/library/Table/index.tsx
  phytoplankton-console/src/components/library/Table/internal/helpers.tsx
  phytoplankton-console/src/components/library/Table/story.tsx
  phytoplankton-console/src/components/ui/colors.less
  phytoplankton-console/src/components/ui/colors.ts
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemBarchart/index.tsx
  phytoplankton-console/src/pages/case-management/AlertTable/InvestigativeCoPilotModal/InvestigativeCoPilot/History/HistoryItem/HistoryItemStackedBarchart/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseManagement/CaseClosingReasonCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseManagement/DistributionByAlertPriority/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/CaseManagement/DistributionByStatus/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Overview/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Qa/QaAlertStatsByChecklistReason/ChecklistChart/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Qa/QaAlertStatsByChecklistReason/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Qa/QaAlertsByAssignee/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Qa/QaOverview/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RuleActionSplitCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/RulePrioritySplitCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TransactionTRSChartCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Transactions/DistributionByTransactionTypeWidget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/Transactions/PaymentMethodDistributionWidget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/TransactionsChartWidget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/UserStatusDistributionCard/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/charts/BarChart/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/charts/BarChart/styles.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/charts/Column/index.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/charts/Column/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/charts/Donut/index.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/charts/Donut/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/charts/Treemap/index.module.less
  phytoplankton-console/src/pages/dashboard/analysis/components/charts/Treemap/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/widgets/DistributionChartWidget/index.tsx
  phytoplankton-console/src/pages/dashboard/analysis/components/widgets/OverviewCard/OverviewCardSection/index.tsx
  phytoplankton-console/src/pages/rules/rule-instance-page/RuleInstanceInfo/index.tsx
  phytoplankton-console/src/pages/storybook/storybook.tsx
  phytoplankton-console/src/utils/asyncResource.ts
  phytoplankton-console/src/utils/prng.ts
Labels: frontend

#FR-4587: The column sorting gets reset to default on tables (#3862)
  phytoplankton-console/src/components/library/Table/index.tsx
  phytoplankton-console/src/components/library/Table/internal/helpers.tsx
  phytoplankton-console/src/components/library/Table/internal/settings.tsx
  phytoplankton-console/src/pages/case-management/CaseTable/index.tsx
Labels: frontend

Migrate delta table schemas before writing (#3871)
  databricks/src/tables/entity_tables.py
Labels: databricks

Only migrate if necessary
  databricks/src/tables/entity_tables.py
Labels: databricks

Only migrate if necessary
  databricks/src/tables/entity_tables.py
  databricks/src/tables/table_service.py
Labels: databricks

Better logging for table migration
  databricks/src/jobs/jobs.py
  databricks/src/tables/entity_tables.py
  databricks/src/tables/table_service.py
Labels: databricks

Fix table prepation script
  databricks/src/tables/table_service.py
Labels: databricks
